[2015-01-21 21:45] OpenMatt commented on #225
@secretrobotron Here's what I'd propose for next steps on this.

1) Ship the documentation on "How we do Heartbeats" to build.wmkr. As our first test-case for how we want the process / updated IA etc. to work.
2) To that end, here's cleaned up copy & HTML for that doc: http://openmatt.org/heartbeats/
3) Can we ship this to "build.webmaker.org/how/heartbeats"?
4) With a clear link / instructions on

[2015-01-21 22:08] HPaulJohnson commented on #242
@ScottDowne and I met this afternoon. Next steps:

- Scott to investigate apostle option, talk to internal stakeholders about Sawmill capabilities and come back with recommendation for tomorrow's standup.
- Timeline for remainder of sprint to be detailed after tomorrow's sprint.
- I will talk to @simonwex about legal/approval process for agreements with 3rd party software providers like Apostle
-

[2015-01-21 22:34] cassiemc opened #255 "Update MozillaFoundation org description"
The MozillaFoundation organization description is currently blank, but we could craft a couple sentences to help direct people more smoothly into the desire process. I think we can use it to help solve the "Where do I file this?" question, for people who want more direct access than the intake form.

* easy navigation between MozillaFoundation and Mozilla team pages
* descriptions of when issues s

[2015-01-21 22:56] cassiemc commented on #194
@OpenMatt assigning this to you as I think it'll be covered in your blog posts and documentation. We may want to move this out of the milestone and treat it as a more granular bug?

Here's a start:

### Webmaker process and planning labels
* `p1`: Initiatives that top priority during their associated milestone. They are expected to be completed within the heartbeat.
* `p2`: Initiatives during a mi

[2015-01-21 23:02] cassiemc commented on #187
Related: https://github.com/MozillaFoundation/plan/issues/194

[2015-01-21 23:10] cassiemc opened #256 "Recreate "labels" from Bugzilla in Github"
Thinking specifically of:
* resolved: won't-fix
* resolved: duplicate
* needinfo (could change assignee to the person it's requested of)
* R? (so status of waiting for a review is clear, could also change assignee here).

These were historical-type labels that were interesting when you were trying to get caught up on an issue you hadn't been involved in from the beginning.

And it coule make the t

[2015-01-21 23:12] cassiemc commented on #208
@OpenMatt This might be helpful for you: http://www.ianbicking.org/blog/2014/03/use-github-issues-to-organize-a-project.html It is not the same process or conventions, but may cover some questions we haven't yet discovered.

[2015-01-21 23:27] simonwex commented on #240
@thisandagain, @cadecairos this sounds great. I would love to see a stream interface where we could hook the firehose up to IRC _if it's not significant effort_.

[2015-01-21 23:39] thisandagain commented on #240
:+1:

[2015-01-21 23:45] simonwex commented on #242
@adamlofting do you know how many emails we send per month?

@jbuck do you have an overview diagram including sawmill, webmaker-mailroom & the templates?

[2015-01-21 23:45] simonwex commented on #242
@ScottDowne feel free to book time with me if you want to brainstorm.

[2015-01-22 01:14] keyboardkat commented on #240
plus one @thisandagain - love it. thanks again for doing this, guys!

[2015-01-22 03:25] ldecoursy commented on #228
Thanks @OpenMatt! I updated this page last week https://wiki.mozilla.org/Webmaker/2015/Mentors and think we can pull some narrative from there if you think it's useful. Tomorrow I can help sync language re: people/cities as measures of success but also don't want to leave out that growth/goals are tied to providing value and empowering the community (that part seems missing from current draft).

[2015-01-22 03:44] thisandagain commented on #240
Alright ... here is a quick design for the GUI. As @cadecairos and I talked about today, if we can only pull off one view this sprint, I recommend the single (1-up) view as it eliminates the dependency on https://github.com/MozillaFoundation/plan/issues/76

#### Redpen
https://redpen.io/p/xf764a3b2d9b1b5b8a

#### Screenlapse
https://www.dropbox.com/s/awg4lxad9d9t3hg/screen_firehose_000.mp4?dl=0

D

[2015-01-22 04:56] LauraReynal opened #257 "India Field Report"
Create and Distribute  report from India research trip. :earth_asia:

Phase: Research / Build / Ship
Owner: @laurareynal
Decision: @davidascher
Lead design: @thisandagain
Lead dev: n/a
Quality: @cassiemc
Quality 2 : @edrushka @HPaulJohnson

[2015-01-22 04:58] LauraReynal opened #258 "Rio Field Report"
Create and distribute field report from Brazil research trip. :earth_americas:

#### Milestone
https://github.com/MozillaFoundation/research/milestones/Brazil%20Report

#### RACI
Phase: Research / Build / Ship
Owner: @laurareynal, @secretrobotron
Decision: @davidascher
Lead design: n/a
Lead dev: n/a
Quality: @benrito
With: @benrito @edrushka @HPaulJohnson

[2015-01-22 09:26] adamlofting commented on #242
As far as I know our current transactional emails don't produce any data (or if they do, I just haven't seen it). If there is any data, I'd love to look at it.

I've used Mandrill in the past and the analytics was good, but I had to build a custom editor for the content. It looks like Apostle saves us from doing that, and having A/B testing built in is excellent :metal:.

I'd like to add a require

[2015-01-22 11:00] dajbelshaw commented on #254
OK, well... paging @cassiemc

Suggest we might want to explore a solution where we use https://badges.webmaker.org to foreground our [current badges](http://blog.webmaker.org/badges). We could then a little 'archive' section at the bottom of the page for those we don't currently issue (i.e. those that are listed there now!)

[2015-01-22 14:05] OpenMatt commented on #228
Thanks Lainie. So the main things we need to ensure are well represented are:
1) providing value
2) empowering the community

[2015-01-22 14:26] hannahkane commented on #254
Wondering if we can consider this part of the project that's being scoped in #215 ? I'm expecting that that project will include re-imagining the way badge offerings are presented.

[2015-01-22 14:49] dajbelshaw commented on #254
Yeah, good idea @hannahkane - the legacy pages are confusing people!

[2015-01-22 14:51] cadecairos commented on #240
I'm not sure what that was, but I liked it.

[2015-01-22 15:30] OpenMatt commented on #245
### Blog post schedule
Here's a draft blog post schedule: (Please edit / add to this list!)
### Jan 22 / 23
- [ ]  *Mozilla Learning in 2015*. (Mark or Matt) Publish the Mozilla Learning 2015 Plan in prettier HTML version. Tie back to Surman's earlier posts. https://blog.webmaker.org/2015_plan
- [ ] *Working open in 2015* -- (Matt) -- invite staff and community to write and reflect on the overall

[2015-01-22 15:37] jbuck commented on #242
@simonwex Nope, no diagrams. But conceptually it'll be really easy to use apostle.io in place of webmaker-mailroom

[2015-01-22 15:50] OpenMatt commented on #245
### Feb 2 - Feb 6
- [ ] **How we'll measure success in 2015** -- (Adam?) -- Metrics. Stress two key KPIs for Mozilla Learning: relationships and reach. + early thinking from Adam on creating the 2015 equivalent of our "10K" dashboard.
- [ ] **Leadership Development** -- (Mark?) -- flesh out the overall vision and Q1 milestones for the Leadership Development piece of the Mozilla Learning plan.
- [

[2015-01-22 16:35] thornet commented on #245
I can do one on clubs for next week.

[2015-01-22 16:59] hannahkane commented on #245
I can start the teach.wm.org post, and get input from @ldecoursy @thornet and @xmatthewx. Unless @ldecoursy or @thornet would prefer to do it?

[2015-01-22 17:02] OpenMatt commented on #245
@davidascher said he could take the "What we're doing in mobile" one or "User on-boarding"

[2015-01-22 17:03] OpenMatt commented on #245
emailed @humphd about his potential piece

[2015-01-22 17:05] OpenMatt commented on #245
@hannahkane: should we move the badges and credentialing one? when do you think that doc will be finalized?

[2015-01-22 17:20] adamlofting commented on #245
This looks great. Thanks for wrangling this all @OpenMatt and I'm happy to pick up the post with my name against it. :chart_with_upwards_trend:

[2015-01-22 17:43] HPaulJohnson commented on #245
I'm in - I'll do the marketing plan post next week.

[2015-01-22 17:55] thisandagain commented on #240
@cadecairos LOL ... I have a habit of documenting a little bit of my process by making timelapse videos while I'm working. For some unknown reason that one seems to have stopped about 1/2 way through. :disappointed: Added a little more detail on spec in the redpen for you.

Assets are available here (SVGs and PNGs available in the `export` folder):
https://drive.google.com/folderview?id=0B-1AZgKn5

[2015-01-22 18:00] LauraReynal commented on #245
@OpenMatt I'll do the one on research !

[2015-01-22 18:10] thisandagain commented on #242
@adamlofting @simonwex Amazon SES kicks out some basic metrics via CloudWatch. We might be able to get a sense for monthly volume from that.

[2015-01-22 18:57] cadecairos commented on #240
Alright, I've got enough set up to start building the React app: https://github.com/cadecairos/webmaker-firehose

[2015-01-22 19:41] ldecoursy commented on #245
I can work with Simona on one for Hive for week of Feb. 2- I think we might want to push training back until after a mini-sprint we're having the week of Feb. 9, possibly Maker Party too.

[2015-01-22 19:44] hannahkane commented on #245
@OpenMatt  - I should be able to do both the badges and the teach.wm.org posts next week.

[2015-01-22 19:53] xmatthewx commented on #214
@hannahkane - I did a first pass on IA. Some questions and more whittling required. If you do your own independently, we can compare and contrast. https://mw.etherpad.mozilla.org/teachdot

[2015-01-22 20:00] cassiemc commented on #243
Hey @edrushka, I see some milestones related to this exercise in this etherpad: https://studiomofo.etherpad.mozilla.org/MOI-splashpage-kickoff (Line 137)

    Deadline Feb 23
    QA Feb 16
    Launch Feb 12
    Code Review Feb 5
    Build Done Feb 4
    Build Start Jan 28 **<-- concerned about this one**
    Design Finish Jan 27 **<-- this seems like it should technically be the end of this heartb

[2015-01-22 20:19] OpenMatt commented on #206
updated the RACI above -- please edit if wrong.

[2015-01-22 21:21] edrushka commented on #243
@cassiemc  Agree this is tight and that finalizing design in sync with this heartbeat would be ideal. By pushing everything 3 days, the milestones become:
Milestones (revised Jan 22)

    Deadline Feb 25
    QA Feb 23
    Launch Feb 17
    Code Review Feb 10
    Build Done Feb 9
    Build Start Feb 2
    Design Finish Jan 30

That still gives @mmmavis  the same amount of days for the build. Work f

[2015-01-22 21:27] hannahkane commented on #206
Meeting scheduled for 1/27 (late in the heartbeat, since this is a p2)

[2015-01-22 22:39] hannahkane commented on #216
started to sketch a roadmap here: http://mzl.la/1CVHZVt

(don't worry, I triple checked to make sure it's not a link to @dajbelshaw's playlist)

Framed it as a roadmap for teach.wm.org, which is likely going to be the hub for all the Learning Networks products.

Feedback welcomed and appreciated.
/cc @thisandagain @thornet @ldecoursy @OpenMatt @xmatthewx as well as any others

[2015-01-22 22:56] edrushka commented on #243
Oh jeez - I'm making a mess of Github!

@thisandagain HAAAALP! ;) I want all this information to go in this ticket on mozilla/webmaker.org like you showed me https://github.com/mozilla/webmaker.org/issues/1167

[2015-01-23 00:11] iamjessklein commented on #206
wondering if these badges should match the webmaker badges/ the hive badges branding ... or be something totally different.

cc @cassiemc

[2015-01-23 00:14] ScottDowne commented on #242
Apostle demo: https://github.com/mozilla/sawmill/pull/35/files

To test I have been doing this:

Create a file called test.js

Content of file are:
[code]

Then run `node test.js`

[2015-01-23 00:20] simonwex commented on #242
We don't have any SES stats in CloudWatch.

@jdotpz doable to figure out how many emails we send a month on average?

[2015-01-23 00:22] jdotpz commented on #242
Sure, I'm betting our billing info will have it.  I'll look it up tonight or in the am and shoot it over.

[2015-01-23 14:51] jdotpz commented on #242
TLDR: For the last 3 months of 2014, we averaged 1029 emails per day, or 31584 emails per month.
That said, we're already way over that in Jan, where we are averaging 1770 emails per day, or 54889 emails per month.

The data:
Date                          # sent
2014/01/31 23:59:59 10277
2014/02/28 23:59:59 7045
2014/03/31 23:59:59 11969
2014/04/30 23:59:59 9340
2014/05/31 23:59:59 8656
2014/06/30

[2015-01-23 15:43] cassiemc commented on #243
@edrushka sounds good to me! I'm not sure exactly what you're trying to do here but ping me when you wake up if @thisandagain is busy.

[2015-01-23 15:54] cassiemc commented on #206
@iamjessklein I'm sure a conversation would help but on first blush the title of the ticket – "Hive Toronto badges" – makes me think let's not introduce any new styles. Sorry if I'm missing some nuance here?

[2015-01-23 15:59] OpenMatt commented on #206
+1 let's use existing styles / templates

[2015-01-23 16:38] jbuck commented on #242
I suspect a large part of that is that login3 is much less friction to sign
in.

On Fri, Jan 23, 2015 at 9:51 AM, JP Schneider <notifications@github.com>
wrote:

[2015-01-23 16:41] ldecoursy commented on #212
Call set up for Tuesday 1/27

- [x] Identify core decisions/key questions regarding what we need
- [x] Begin aligning current training/PD offerings we already have
- [x] Scope what we need to build

Part of this can be prep for our NYC sprint in early Feb.

[2015-01-23 16:51] thisandagain commented on #242
Yeah... new account sign-ups are way up post splash / login changes: https://mozillafoundation.geckoboard.com/dashboards/F62088172D822E2A

[2015-01-23 16:58] iamjessklein commented on #206
Yes, well if you recall we have two templates - the Hive one and the Webmaker one. I assume we should match these badges to the Hive ones.

[2015-01-23 17:13] benrito commented on #59
Suggestions:

In inner intro, replace "aims to" with "highlights"

remove " project in Kenya is the progression of our
study in Bangladesh in October 2014. It is part of the Mobile Opportunity Initiative" and go straight to "This research is part of a 6 month..." (would recommend making these changes for Bangladesh one too, if we have time—trying to minimize public branding of this as an initiativ

[2015-01-23 17:14] thisandagain commented on #76
@simonwex @toolness any progress to report?

[2015-01-23 17:29] thisandagain commented on #59
Awesome. Thanks Ben. :+1: on these changes. I'll get these into an updated draft ASAP.

[2015-01-23 18:30] LauraReynal commented on #59
Thanks @benrito for the feedback !

[2015-01-23 19:04] xmatthewx commented on #241
@edrushka - It would be great to have your keen eye on the copy in the [mockups on redpen](https://redpen.io/rw825a9bece366d9ed).

[2015-01-23 19:42] cadecairos commented on #240
filed mozilla/webmaker.org#1177 to update /explore

[2015-01-23 19:49] simonwex commented on #242
### Notes from Friday Jan 23

*Action Items:*
 * [ ] Scott to verify that we, in fact currently don't send localized emails
 * [ ] Simon to contact Apostle re: localizing functionality in email
 * [ ] Paul file bug related to localizing emails in the future
 * [ ] Simon to kick off legal review process of Apostle

[2015-01-23 19:49] HPaulJohnson opened #259 "Localize Welcome/Transactional Emails"
Initiate a process to update welcome emails for non en-US and identify how to implement in Apostle post completion of issue#242.

    Phase: Write / Build / Deploy
    Owner: @HPaulJohnson
    Decision Maker: @HPaulJohnson
    Design Lead:
    Development Lead:
    Quality Verifier:

[2015-01-23 20:37] edrushka commented on #241
Made some copy notes on redpen

[2015-01-23 21:28] simonwex commented on #76
@thisandagain, @toolness is on PTO today but we were green yesterday. @toolness is making progress here: https://github.com/toolness/webmaker-screenshot

@toolness, could you update the README for API changes so we can review?

[2015-01-23 21:28] cassiemc commented on #241
@xmatthewx and I just hacked together on some UI tweaks, he'll post it here soon if you want to look again then, @edrushka

[2015-01-23 21:45] HPaulJohnson commented on #242
@thisandagain, question about content of an updated email:

In the new version of the email where should we point people in our CTA? A specific x-ray goggles activity is my preference but we can test to optimize engagement/retention. Other options - given current site functionality - would be tools, explore or profile.

I'll work around this for now as I update copy but resolution would be good ea

[2015-01-23 21:57] cassiemc opened #260 "Allow for Heartbeat planning (and bug triage) across repos"
This might be impossible, but it would be awesome to solve the problem of:

"I filed this issue in one repo, but now I want it to appear in the Plan. Do I have to refile it?"

A good example of this is a bug like 'Build Call Congress tool': https://github.com/MozillaFoundation/movement-building/issues/4

Could we use a label, or some other marker, to pull bugs with certain tags from across repos i

[2015-01-23 21:58] xmatthewx commented on #241
I've posted [revised page UI](https://redpen.io/rw825a9bece366d9ed). Nearly there.

TBD:
 - on mobile, do we [separate the instruction block](https://redpen.io/xm0da921f7ffec7e62) so people can access background?
 - link to setup Goggles should probably lead to a video instead of text.

![goggles_landing](https://cloud.githubusercontent.com/assets/53411/5883488/d8b289b4-a320-11e4-8a06-7defc4d9d80d

[2015-01-23 21:59] cassiemc opened #261 "Ship slide presentation on Gates grant work"
Concept work and framework is done. Next: ship it as a presentation.

### RACI

* Phase: Design only
* Driver: @chrislarry33
* Decision Maker: An-Me
* Consulted: Mark Lesser and Meredith Summs
* Design Lead: @adiladiladil
* Development Lead: n/a
* Quality Verifier: @iamjessklein

@iamjessklein and Adil have been involved with a Curriculum deliverable for Gates Foundation. We need a plan for wrappi

[2015-01-23 22:04] cassiemc opened #262 "Hive directory theme design"
Complete the last bits of remaining design work.

### RACI

* Phase: Design
* Owner: @ldecoursy
* Decision Maker: @leahatplay
* Design Lead: @adiladiladil
* Development Lead: n/a
* Quality Verifier: @iamjessklein

### Audience
Hives.

### Success
Implement new design for https://directory.hivelearningnetworks.org/
Coded then linked from hivelearningnetworks.org as well as individual city sites

Fi

[2015-01-23 22:05] xmatthewx commented on #241
TBD -- After a user makes a change, we need a success message and prompt for them to publish. Do we reduce the magic by changing content in the instruction box?

[2015-01-23 22:06] simonwex commented on #194
Minor edit above: Developers can ~~assign themselves~~ comment if they have interest in working on specific effort

[2015-01-23 22:10] cassiemc commented on #194
Oh, good point @simonwex I don't even know where that came from. Same for designers! I'll edit the comment.

[2015-01-23 22:13] simonwex commented on #260
I think we should create the issue in the plan tool and link to the existing issue in the solution section.

[2015-01-23 22:13] HPaulJohnson commented on #226
Update on (2): Mary Ellen will be sending a campaign overview to all Mozilla soon and I will piggyback on that with a separate note to MoFo with more specifics about our piece of the plan. Should be later today or Monday.

[2015-01-23 22:28] simonwex opened #263 "Build Call Congress Tool"
We want to connect Americans with their government representatives in order to win on net neutrality.

### RACI
* Phase: Dev / QA / Ship
* Driver: @simonwex *honk* *honk*
* Decision Maker: @valianttry
* Design Lead: @cassiemc
* Development Lead: @alicoding
* Dev: @jdotpz
* Quality Verifier: @simonwex

### Audience
American activists
### Success
1000 successful callers to congress before **February

[2015-01-23 22:42] ldecoursy commented on #262
@leahatplay @jvallera

I'm happy to be owner, but know you two have been working more closely on this. Think we're close to wrapping it (before Jan 30?) or we can add to next heartbeat.

[2015-01-23 22:45] hannahkane commented on #214
@xmatthewx - love this! Just sent a calendar invite to you and @ldecoursy for Monday to discuss next steps.

[2015-01-23 22:49] valianttry commented on #263
Timeline:
* Campaign ends on Feb 26th (U.S. Federal Comms Commission votes on net neutrality that day)
* Mozilla campaign launches February 5th (part of large NGO coalition campaign)
* Calls would ideally be operational from our tool on Feb 5, but as long as it's working no later than Feb 15th that gives us time to push calls before the vote.

[2015-01-23 22:52] cassiemc opened #264 "Create resources for quicker design implementation"
We have a need to ship design more quickly, in particular to ship design and dev within a single heartbeat.

Other than ensuring heartbeats are scoped appropriately, what are some other tools or methods that would make design move faster without compromising quality or burning out the team?

Some ideas:
* update to Makerstrap
* standardized PSDs or whatever a sketch file is, with grid, type elemen

[2015-01-23 23:29] simonwex commented on #263
Assigning @ScottDowne as lead dev here.

[2015-01-23 23:31] simonwex commented on #263
@cassiemc, @edrushka this is a last-minute request, we're trying to shove this in this :heartbeat: as timing is critical. It'd be great to have someone who can do a flyby to help @ScottDowne with design feedback.

[2015-01-23 23:32] simonwex commented on #242
I'm moving this to P2, @ScottDowne is going to be focusing on #263 (timing-critical) next week and getting the planning work done for this as his time permits.

[2015-01-23 23:37] edrushka commented on #243
Guys, I'm going to paste this thread into the correct repo: https://github.com/mozilla/webmaker.org/issues/1167 and close this bug as the /plan is not where this work should take place. Sorry for the confusion!

[2015-01-24 00:32] toolness commented on #76
Hey, so I couldn't sleep well last night because I kept thinking about finishing this thing, so instead of PTO today I just hacked on it... Still need to update the README though.

You can see an example of it in action at [webmaker-screenshot.herokuapp.com](https://webmaker-screenshot.herokuapp.com/#https%3A%2F%2Fpriyanka.makes.org%2Fthimble%2FMTk3MTU4NTI4MA%3D%3D%2Fmaker-party-event-reporter).

[2015-01-24 00:52] simonwex commented on #76
Great progress, @toolness! I think this all in the right direction, especially if we treat Blitline as replaceable if any of these issues do become blockers. Enjoy the weekend!

[2015-01-24 01:00] thisandagain commented on #76
Amazing! Thanks @toolness. :smile:

/cc @k88hudson @gvn

[2015-01-24 01:04] thisandagain commented on #260
:+1: on @simonwex 's suggestion above

[2015-01-24 04:15] davidascher commented on #263
I wasn't in the scoping conversation, but I'll add that while 1000 callers may be all we need to call it a win, a) I'm hoping for more (knowing nothing about these things), but b) even if we just hit 1000, having the infrastructure in place to do dial-a-congressman will pay dividends in other campaign.  It's a bit of a foundational piece for our increased impact in advocacy.

[2015-01-24 21:07] davidascher commented on #264
Good ticket, thanks.  I'll let y'all figure out the specifics of how to get to quick-time-to-ship on simple pages.   A few words about the motivation from my POV:

My thought here is that there are a set of static pages for which the design goals are likely constant, even if the specific message varies.  Ideally, we would like from a mission & product evolution point of view to make _a lot_ of the

[2015-01-24 23:44] simonwex commented on #260
https://github.com/MozillaFoundation/plan/issues/263

[2015-01-25 23:20] iamjessklein commented on #262
I updated the RACI to reflect changes.
@adiladiladil will be demo-ing where he is with all of the work on Monday.
He has started posting his work on [redpen](https://redpen.io/p/nc006adb3a6d09c802) that could use some feedback.

[2015-01-26 15:22] LauraReynal commented on #88
The GSMA pad: https://foundation.etherpad.mozilla.org/gsma-weekly
The BIG Report Outline: https://docs.google.com/document/d/1lWx7gtra8GugZEiJgs1670XgxVG4Op6YTypH_yuSC6k/edit?usp=sharing

[2015-01-26 15:30] dajbelshaw opened #265 "Decide whether to allow issues on webmakerprototypes.org repo"
Per email conversation to all@, should we direct issues on the [webmakerprototypes repo](https://github.com/mozilla/webmakerprototypes.org), or should we point them here?

[2015-01-26 15:45] iamjessklein commented on #262
Based on our check-in, here is what we are committed to shipping by Friday, January 30th:

- [ ] on landing page: decrease the size of the "node" field
- [ ] insert orange navigation on every page of the site
- [ ] make styling consistent
- [ ] clean up the expertise exchange page : create more of a stylized list/directory rather than image/icon driven - add expertise tags to individual profile pa

[2015-01-26 15:53] adamlofting commented on #231
@OpenMatt could you set me up an account on the webmaker blog please? :bowtie:

I've written this up here ready to move across into Wordpress: https://docs.google.com/a/mozillafoundation.org/document/d/11poVf7GeFtWB-08CsZyq3Gw5fgUHbqq-L-zVcy8gi8U/edit#

[2015-01-26 15:55] davidascher commented on #265
Plan issues are one per initiative broken down in a heartbeat effort chunk.
Detailed issues and bugs still belong in issues nearer the code. Hope this
makes sense.
On Jan 26, 2015 7:30 AM, "Doug Belshaw" <notifications@github.com> wrote:

[2015-01-26 16:00] dajbelshaw commented on #265
Thanks @davidascher! So if I understand you correctly:

* technical/procedural stuff should go on the webmakerprototypes repo
* strategic stuff that is broken down into hearbeats belongs here on /plan

:)

[2015-01-26 16:06] cassiemc commented on #243
@edrushka I think we want to keep this issue open so it appears here: https://build.webmaker.org/now Think of it as the Meta bug.

We can continue to track the details of the work though in https://github.com/mozilla/webmaker.org/issues/1167

[2015-01-26 16:12] thisandagain commented on #59
Alright! Latest edits available here:
http://mzl.la/kenya

[2015-01-26 16:39] cassiemc commented on #263
I'm happy to be available for @ScottDowne's design feedback. @flukeout and @vazquez if I can't be reached for some reason.

[2015-01-26 16:42] ScottDowne commented on #242
@HPaulJohnson @thisandagain @simonwex I heard back from Apostle.io about privacy. There is currently no way to use the email authoring UI or AB testing without sending the user emails to a third party.

What does this mean for us?

[2015-01-26 16:45] davidascher commented on #242
We either need to do a legal vendor review of apostle.io or write something
similar ourselves, methinks.

[2015-01-26 16:58] ScottDowne commented on #263
@valianttry @simonwex So question.

This might just be me being not very political, but I'm not really sure what a call congress tool is supposed to do.

I see a enter phone number input, and a "get script and call" button.

What should I expect to happen once I enter my phone number and click that button?

Based on that button, I get a script and I call someone? That's confusing to me.

[2015-01-26 17:10] cassiemc commented on #263
I think this needs a kickoff to talk through the scope and UX if that isn't already planned @simonwex @valianttry. I'd love to attend.

[2015-01-26 17:17] ScottDowne commented on #263
@cassiemc That would be helpful, most helpful if it can happen today :)

[2015-01-26 17:21] edrushka commented on #264
Nice ticket, @cassiemc. I second all your suggestions above for tweaks and additions that will help the design process move faster without compromising quality or burning out the team.

@davidascher Not only do I agree that this is a worthy goal, @HPaulJohnson and I have already mapped this templating work into the 2015 Engagement Calendar under the general title of "creating a ready-to-use respon

[2015-01-26 17:36] simonwex commented on #242
@thisandagain introduced us to Mal, the founder. I'll email him and see if they could prioritize a UUID-based call, in conjunction we should kick-off a review. @ScottDowne let's do that "paperwork" together today.

[2015-01-26 17:39] davidascher commented on #265
Maybe, I'm not sure what you mean by the latter.  In general, the `plan/issues` list is how we coordinate across activities in a given heartbeat.  It's 99% about resource prioritization and scheduling.  The actual meaty discussion happens in other repos.  That can very much include strategic discussions around purpose, benefit, etc.  And when it's ready to be scheduled by the production process, t

[2015-01-26 17:40] davidascher commented on #265
Anyway -- in general, my stance is that any repo associated w/ code which a) is not dead to the world, and b) isn't tracked in another bug tracker should have issues enabled, and there should be someone who monitors those.

[2015-01-26 17:43] simonwex commented on #263
Kickoff scheduled for 13:00 PDT, 16:00 EDT. @ScottDowne we can jam on a couple of the tech bits in the meantime if you've got time.

[2015-01-26 17:45] thisandagain commented on #59
Few additional notes from Alex (GSMA):

[code]

Lastly, he requested that we remove the "Partner" page (5) from the report as to avoid GSMA review and because the report is focused on Webmaker.

[2015-01-26 17:52] hannahkane commented on #214
Update:

@xmatthewx will build a wireframe based on https://mw.etherpad.mozilla.org/teachdot ( @thornet - any comments before he starts?)

@ldecoursy and I will work on scheduling some live (via Skype) user tests to run during the next heartbeat. The beginning of the test plan is sketched out at the bottom of https://mw.etherpad.mozilla.org/teachdot

/cc @cassiemc and @iamjessklein for any feedbac

[2015-01-26 17:53] thisandagain commented on #59
Hmm... looks like these notes are from v1 of the report.

[2015-01-26 17:55] dajbelshaw commented on #265
Alright, I think we're in alignment here so will close this and encourage others (including @iamjessklein) to post issues to the [webmakerprototypes.org repo](https://github.com/mozilla/webmakerprototypes.org)

[2015-01-26 17:55] #265 closed

[2015-01-26 17:55] LauraReynal commented on #59
@thisandagain I took care of his note on the personas.
Do we want to add pages to the TOC? it might look crowded.

[2015-01-26 17:56] xmatthewx commented on #264
This all makes me very happy.

I've added a Webmaker starter file to the Template folder in our [shared assets](https://drive.google.com/folderview?id=0B_rbDAen9prkS0N4MXRqaGo4bEE&usp=sharing).

Draft includes: colors, buttons, fonts, form, and header on 2 common screen sizes. Uploaded as Sketch. Illustrator will follow soon.

I think it still needs:
 - 2-3 common layouts that articulate our grid

[2015-01-26 17:59] Saallen opened #266 "Teach the Web talk - 4th installment February"
Starting new issue around the next TTW Talk in February- with @LucyeoH

- [ ] review Januarys call and feedback from community
- [ ] analyse all comms channels, discourse, twitter, wiki and hangout
- [ ] Speaker shortlist required
- [ ] Date for Feb talk confirmed

[2015-01-26 18:02] iamjessklein commented on #265
:+1:

[2015-01-26 18:15] secretrobotron commented on #266
@LucyeoH !!

[2015-01-26 18:25] Saallen commented on #266
These guyse?- http://100cameras.org/

[2015-01-26 18:27] LucyeoH commented on #266
Yup! Amira put us in touch with them. Original plan was to talk to them about telling stories of your event through photography.

[2015-01-26 18:28] thisandagain commented on #59
@LauraReynal Page numbers added to the Table of Contents. Latest updates published at:
http://mzl.la/kenya

Unless we have any objections I propose that this is ready for release. :+1:
/cc @davidascher @benrito @HPaulJohnson @edrushka

[2015-01-26 18:35] benrito commented on #59
+1

[2015-01-26 18:43] edrushka commented on #59
Can you fix the inconsistencies in Web/web (should be lower-case unless referring to Webmaker) Internet/internet (should be upper-case)? Also, web page is two words, no hyphen. https://www.mozilla.org/en-US/styleguide/communications/copy-rules/

P. 37 "They give farming technics..." Do you mean "techniques"?

Also: why is this dated November 2014 when we're releasing now? Intentional?

[2015-01-26 18:51] simonwex commented on #242
Emailed Mal and CC'd scott.

[2015-01-26 18:53] thisandagain commented on #245
@OpenMatt I can take the "Reaching Learners" post. I recommend @k88hudson or @vazquez for mobile product and @secretrobotron for on-boarding if they are up for it.

[2015-01-26 18:56] vazquez commented on #245
Hey @k88hudson, let's write the blog post together :)

[2015-01-26 19:15] cassiemc commented on #264
@xmatthewx fantastic, love that there's already progress here, and your detailed additions. Can you create a flat of that file so I can design review it please? I'm also working on #238, which needs to align with all this.

@edrushka The advocacy site uses wordpress, right? On webmaker.org, we have no such CMS. If we had pre-designed templates that had already been through design review, I'd feel

[2015-01-26 19:29] davidascher commented on #59
I see a weird artifact on page 5:

![screenshot 2015-01-26 11 29 15](https://cloud.githubusercontent.com/assets/51278/5906713/a19c8030-a54e-11e4-8bd9-cdb9ca4ac6ef.png)

[2015-01-26 19:42] davidascher commented on #59
"“I use to just take money
from my business
whenever I needed. Now
I take a salary every two
weeks instead.”

That should read "I used to …"

[2015-01-26 19:55] davidascher commented on #59
Orphan on p. 73: "secondary education"
same on p. 77: "him find different work opportunities"
p. 82: "receipes" -> "recipes"
butchery -> butcher, except if that's actually what she said and maybe a local dialectical variation.

Other than that, really nice report.  Want to see it printed out and glossy!

[2015-01-26 20:41] secretrobotron commented on #245
Happy to draft something.
- Any kind of outline or points we want to drive home?
- Length?
- webmaker blog?
- Just using this ticket to coordinate?

[2015-01-26 21:32] secretrobotron opened #267 "Finalize first MakerFox prototype and present 4 additional concepts"
To meet our goal of presenting 5 prototypes by the end of Q1, we are going to continue to refine the first prototype that @xmatthewx and @toolness have built as well as begin exploring options for 4 additional concepts.

### Roles
Phase: Research
Driver: @secretrobotron
Decision-maker: @davidascher
Lead design: @xmatthewx
Lead dev: @toolness
Quality: @thisandagain

### Deliverables
- [ ] Finalize

[2015-01-26 21:47] secretrobotron commented on #267
Helpful framing from a meeting with @davidascher: https://etherpad.mozilla.org/coolstuff

[2015-01-26 21:51] secretrobotron commented on #183
##### Header
Mozilla is proud to partner with many organizations to promote openness, innovation & opportunity on the web. These include....

##### List of partners
Canadian Internet Registration Authority http://www.cira.ca/
The Ford Foundation http://www.fordfoundation.org/
Google https://www.google.com/intl/en/about/
GSMA http://www.gsma.com/
The Helmsley Charitable Trust http://helmsleytrust.o

[2015-01-26 22:19] secretrobotron commented on #246
Zero bugs left:
* https://github.com/mozilla/webmaker.org/milestones/Privacy%20Day

Pages are up on staging:
* https://webmaker.mofostaging.net/en-US/home-3
* https://webmaker.mofostaging.net/en-US/home-6

[2015-01-26 22:20] secretrobotron commented on #246
@HPaulJohnson @cassiemc wanna take a final look to see if anything can be fixed before tomorrow EOD?

[2015-01-26 23:25] iamjessklein commented on #264
This makes me giddy with excitement! :yellow_heart:

I added [bootstrap design file templates](https://drive.google.com/open?id=0ByGu6IwBft5mNHFHVWNGSmNoNkU&authuser=1) to Drive. It would be great if the grids aligned with this.  I kind of remember @vazquez discussing working on the grids.

In the meantime I'll document the QA work process.

[2015-01-26 23:34] edrushka commented on #264
@cassiemc yes, the advocacy site uses wordpress. A further complicating factor is that it's hosted by Mozilla, which means more time is needed for privacy/security and code reviews. I would love to discuss the pros and cons of for moving future advocacy campaigns to webmaker.org

[2015-01-26 23:37] HPaulJohnson commented on #59
Looks awesome, sorry to be a bit late in the review process. Minor edits noted below. When it's final, final we should put together a blog post for blog.mozilla.org/m4d.

- pg. 5: "expectency" should be "expectancy"

- pg. 10: this questions reads a little awkward to me: "Does Webmaker provide the web with
a competitive advantage? How?" Makes it sound like is in competition with some other alterna

[2015-01-26 23:46] gesa commented on #246
@secretrobotron I think you misspelled “Zaroo Boogs” 😉

[2015-01-26 23:54] secretrobotron commented on #246
@gesa good catch. thank you

[2015-01-27 00:00] HPaulJohnson commented on #246
Everything looks good to me. Thx.

[2015-01-27 00:12] secretrobotron commented on #241
Bugs to chew on:
* Goggles: https://github.com/mozilla/goggles.webmaker.org/milestones/Webmaker%20On-boarding
* Webmaker: https://github.com/mozilla/webmaker.org/milestones/On-boarding%20Experience%20v2

[2015-01-27 00:38] thisandagain commented on #59
Great finds @edrushka @davidascher and @HPaulJohnson. Thank you.

@edrushka Made "web" lowercase everywhere except for "The Web Journey", "Webmaker", and headlines. Date (November) used to denote when the research was conducted vs. the release of the report.

@HPaulJohnson Any ideas to replace "hustler" in the micro-business section? I agree that it is a little awkward but I liked how it conveyed

[2015-01-27 00:46] HPaulJohnson commented on #59
Alternatives to "hustler" - "all micro-business owners are.. "industrious" or "enterprising" or "assiduous"

[2015-01-27 00:52] thisandagain commented on #59
@HPaulJohnson Ok... updated (still in the quote).

R? @davidascher @cassiemc

[2015-01-27 01:14] davidascher commented on #59
Personally I miss the implications of hustler which I think are spot-on
("debrouillard" in French), so would argue for "go-getter" or "keen
entrepreneurs" or other, but wha'ever.

r+

[2015-01-27 01:18] thisandagain commented on #231
Nicely done @adamlofting . :smile:

[2015-01-27 01:44] davidascher commented on #256
My hope is that something like plzkthx can deal with needinfo + review
flows, if & when we integrate it in build.w.o. Labels don't work for this
because they have to be tied to an individual.

Resolved won't fix I don't think is particularly useful -- we can just
close a ticket with a comment as to why it's being closed.

Saying "duplicate of #123" and closing the bug is how duplicates are
usually

[2015-01-27 01:57] LauraReynal commented on #59
@thisandagain @HPaulJohnson Could  we keep Hustler please ?
None of the alternative express what I saw and wanted to express.

[2015-01-27 02:07] HPaulJohnson commented on #59
Ok by me to leave "hustler" in the report if everyone feels strongly it's the right word.

[2015-01-27 03:05] cassiemc commented on #246
A couple things but no deal breakers.
![privateeye](https://cloud.githubusercontent.com/assets/1186326/5912762/c3b8d0b2-a5a6-11e4-95fe-c5b427581f47.png)
* the corners on the hex don't quite line up, and the edges still look a bit jagged (i'm looking in ff 36 mac). I didn't take a screenshot before but it does seem better than the last time I looked.
* I think the animation would look better if it

[2015-01-27 05:25] gesa commented on #246
Hopefully this looks a little better on FF. I'm gonna ruminate on the eyelid thing. Idk if I'll get anywhere with that, but it'll be on my mind.
![gukev](https://cloud.githubusercontent.com/assets/782056/5913720/98e405ae-a59d-11e4-8f2c-55df8f2e9e11.png)

[2015-01-27 05:25] gesa commented on #246
Okay. Ruminated. Played around. How does this look? http://snaps.akibraun.com/blinking-eye.mov

[2015-01-27 09:20] adamlofting commented on #231
@thisandagain, yes, good point. I'll add that in too.

[2015-01-27 14:10] cassiemc commented on #246
@gesa :revolving_hearts: :boom: :heart_eyes: Looks awesome, you rock.

[2015-01-27 14:35] vazquez commented on #183
Are the logos available? Vector preferred

[2015-01-27 14:53] iamjessklein commented on #246
Nice @gesa - solid. :facepunch:

[2015-01-27 15:06] OpenMatt commented on #245
@secretrobotron: it's totally up to you. I was thinking the main point of the on-boarding piece is just to summarize: a) the goal of that work. why does it matter to users? b) what we already did, c) the early results of that (esp.: data) and d) what we think we're going to do next.
* you can just post to your personal blog. And we can cross-post to the webmaker blog when it's done.
* whatever len

[2015-01-27 15:06] OpenMatt commented on #245
* there's no "deadline* per se -- we're just trying to make this week and next a period of open reflecting and writing.

[2015-01-27 15:10] OpenMatt commented on #245
Here's a draft outline I put together for Surman to frame some of the overall work:
http://workopen.org/Q1_blogging

He'll probably publish today / tmrw

[2015-01-27 15:28] dajbelshaw opened #268 "Implement timezone.io for MoFo"
I came across [timezone.io](http://timezone.io/) via this week's Remotive newsletter. They use it at Buffer to help with timezone awareness.

The code is [on GitHub](https://github.com/djfarrelly/timezone).

Would be awesome to have just to quickly grok who's where and when. Not sure what happens when people are travelling, but it's a start. :)

[2015-01-27 15:30] k88hudson commented on #245
@vazquez sure, sounds good.

[2015-01-27 15:34] secretrobotron commented on #225
@iamjessklein on design review: http://jessicaklein.blogspot.com/2015/01/quality-assurance-reviews-for-design_27.html

[2015-01-27 15:43] iamjessklein commented on #264
I wrote [this blogpost on the QA process.](http://jessicaklein.blogspot.com/2015/01/quality-assurance-reviews-for-design_27.html) After talking with @secretrobotron - next step would be to turn it into a chapter for the design handbook.

[2015-01-27 15:44] secretrobotron commented on #264
+1. Pull it into the process handbook too (in the future :) ).

[2015-01-27 16:24] adamlofting commented on #237
@cadecairos thanks! :hatched_chick:
I've filed a separate issue for tracking the review: https://github.com/mozilla/webmaker-metrics/issues/6

[2015-01-27 16:28] adamlofting commented on #249
Hey @jdotpz - does this feel like something we can get done in this heartbeat? (i.e by Friday)

[2015-01-27 16:41] adamlofting opened #269 "Bring 'Views' data from Google Analytics into the Product"
At various points on webmaker.org, and for admin tools we are building it would be useful to have a measure of the `consumption` popularity of any given make.

* Show a user how many times their make was viewed.
* Show an administrator the most viewed makes (even if they haven't received likes and shares)
* Help a user search for content using popularity as a sort mechanism.
* Teach web literacy s

[2015-01-27 18:38] secretrobotron commented on #183
@vazquez I'll collect them. Likely to have few vectors though.

[2015-01-27 18:43] davidascher commented on #269
+1  This is what motivates at least some of our users, it's important to
share that back w/ them.

Q as to whether GA is the only way we can do that, or whether there are
alternative methods (and pros/cons).

[2015-01-27 19:40] thisandagain commented on #269
Thanks for filing @adamlofting
Prompted from original discussion here: https://github.com/mozilla/webmaker.org/issues/1098

[2015-01-27 19:52] secretrobotron commented on #246
@gesa will push to prod in 2 hours. :deciduous_tree:

[2015-01-27 20:28] smithisgeneric commented on #206
A contract team members has submitted these badge visual ideas

![webmaker-training-badges-coach](https://cloud.githubusercontent.com/assets/6931814/5926452/1d332cc2-a639-11e4-8e10-b8ac728ebd80.png)
![webmaker-training-badges-datatrail](https://cloud.githubusercontent.com/assets/6931814/5926451/1d3188fe-a639-11e4-8628-ebc83a32d475.png)
![webmaker-training-badges-iptracer](https://cloud.githubuserc

[2015-01-27 21:29] secretrobotron commented on #53
Found a few bugs in different places recently. Starting to compile a list here.

#### UI
* Style isolation woes: https://github.com/mozilla/webmaker-login-ux/issues/162
* Locale woes: https://github.com/mozilla/webmaker-login-ux/issues/161

#### Server
* Not working on staging sometimes: https://github.com/mozilla/login.webmaker.org/issues/314
* Probably related back-end woes: https://github.com/m

[2015-01-27 22:28] hannahkane commented on #245
I posted the teach.wm.org to my blog (http://hannahgrams.com/2015/01/27/a-new-online-home-for-those-who-teachtheweb/). @OpenMatt - do you want me to cross-post on the Webmaker blog? If so, when would be good?

[2015-01-27 22:54] gesa commented on #246
![](http://snaps.akibraun.com/ralph.gif)

[2015-01-27 23:03] hannahkane commented on #214
Started sketching out a testing script here: https://etherpad.mozilla.org/teachdotusertest

@xmatthewx and @ldecoursy — can you please take a look?

[2015-01-27 23:15] hannahkane commented on #206
@smithisgeneric, @iamjessklein, and I met today to discuss next steps which are:
 * Ashley will iterate on the badge designs, making use of the design standards established with the Hive badges, and making the icons Font Awesome-like. @iamjessklein and @cassiemc will provide feedback on and approve the final design.
 * We'll likely make use of the existing UX for applying for and issuing badges, a

[2015-01-27 23:20] davidascher commented on #206
Found this which could be handy:

https://docs.google.com/spreadsheet/ccc?key=0AnUOR-0CBMsTdE1hWnJnYXlNdnktVUlhWWdjVzFVR0E&usp=gmail#gid=0

[2015-01-27 23:21] davidascher commented on #206
Also see:
http://emilygoligoski.com/2014/05/07/introducing-mozilla-visual-templates-for-badge-issuers/

[2015-01-28 00:31] hannahkane commented on #245
@OpenMatt — I don't think the badges post will be ready to go this week. Too many outstanding questions. Moving that to next week.

[2015-01-28 00:52] iamjessklein commented on #246
It has landed!!!

![giphy](https://cloud.githubusercontent.com/assets/535012/5930475/0c1f8ed8-a65e-11e4-8ae2-5cad0dc05c12.gif)

[2015-01-28 00:52] #246 closed

[2015-01-28 00:53] gesa commented on #246
I wish I could “favorite” a github comment.

[2015-01-28 04:23] #257 closed

[2015-01-28 09:56] adamlofting commented on #269
@davidascher I'm sure there are lots of ways we could do this. Though if we roll our own, we can also make use of the historic data in GA.

[2015-01-28 10:15] thornet commented on #65
This evolved into the Teach the Web talks and shipped on Dec. 14 and Jan. 28. http://discourse.webmaker.org/category/meet/community-calls

[2015-01-28 10:15] #65 closed

[2015-01-28 10:19] thornet commented on #205
Completed on Jan 23. http://mozilla.github.io/webmaker-curriculum/WebLiteracyBasics-I/

[2015-01-28 10:19] #205 closed

[2015-01-28 11:30] adamlofting commented on #231
I've added the impact against prior splash to this post now.

It's ready to publish once I get access :lock_with_ink_pen:

[2015-01-28 14:27] ldecoursy commented on #212
@amirad @thornet and @KathrynMeisner met for initial discussion on 1/27. Next step is for @amirad to put together a proposal for how we can best integrate training around clubs, TTW Talks and email outreach. Then meeting for workweek Feb. 9 to make key decisions and identify what's still needed to build.

[2015-01-28 14:50] jdotpz commented on #249
It's potentially possible, but not that super likely.  I've got a few other fish I'm frying for this heart beat which are falling a bit behind.

[2015-01-28 15:08] adamlofting commented on #231
@OpenMatt thanks for setting up access (that email ended up in spam and I just found it now). I can't login currently but I'll follow up with you off-ticket.

[2015-01-28 15:19] adamlofting commented on #249
Cool, I'll flag this on the planning ticket to manage expectations.

[2015-01-28 15:26] adamlofting commented on #237
I'm just flagging that we probably won't ship this in the target :heartbeat:

@jdotpz will need a bit more time for setting up the hosting, and is juggling a few other tasks at the same time.

[2015-01-28 17:57] davidascher commented on #255
We should justify the org's need for existing.  There were two IMO:

 * to make it a place where people can learn about github etc. in a
friendly space w/o feeling like the world is watching
 * to create a place where we can create private repos that are only
visible to mofos.

[2015-01-28 19:05] OpenMatt opened #270 "Document how MoFo does program reviews"
Document our Program Review plan, template and calendar

### RACI
* Owner: Matt
* Decision-maker: Angela
* Consulted / Informed: Ops, TPS, and New Communities leads
(once we are further along with a draft plan and calendar)

* **Context:** As part of standard Mozilla policy and process going forward, we'll need to do program reviews across MoFo on a regular basis going forward.
* This ticket will

[2015-01-28 19:07] OpenMatt commented on #270
##Roles##
* Responsible: Matt
* Accountable: Angela
* Consulted: Ops
* Informed: TPS (once we are further along with a draft plan and calendar)

[2015-01-28 19:12] OpenMatt commented on #270
### Design questions
1. cadence
2. template / format
3. owner. (who is primarily responsible for leading the program review? VP? program manager)
4. audience (who attends)
5. scope. (what are we doing program reviews on?)
6. channels. (e.g., how we show up in Mozilla all hands call. Mozilla Learning? Webmaker? etc.)

[2015-01-28 19:15] secretrobotron opened #271 "Prepare Canadian Webmaker app product demo"
@msurman and @humphd  will be at an event on February 17th during which Webmaker app will be demo'd on FFOS and Android phones.

### RACI
Driver: @secretrobotron
Decision: @davidascher
Dev: n/a
Design: n/a
Consulted: @thisandagain, @k88hudson
Quality: @humphd

- [x] Acquire 3 FFOS phones (1 per human + backup)
- [x] Acquire 3 Android phones (1 per human + backup)
- [x] Install Webmaker on each of

[2015-01-28 19:16] secretrobotron commented on #271
Depends on #72, #78, and #235.

[2015-01-28 19:23] secretrobotron opened #272 "Create MWC product demo script for Webmaker app"
### RACI
Phase: Design / Build / Ship
Owner: @thisandagain
Decision: @davidascher
Quality: @cassiemc

Produce demo script for Canadian audience. Can be a beta for the MWC script (#235), and involve many of the same ideas.

blocks #271

[2015-01-28 19:34] thisandagain commented on #237
Bummer. /cc @simonwex

[2015-01-28 19:53] OpenMatt opened #273 "Do de-brief / retrospective on log-in"
Talk about results and key learning.
(RACI and details to come)

[2015-01-28 19:54] OpenMatt opened #274 "Do de-brief / retrospective on Privacy Page"
Summarize results and key learnings
(RACI to come)

[2015-01-28 20:00] #274 closed

[2015-01-28 20:01] OpenMatt commented on #273
(actually -- realizing we don't need a ticket for this. closing.)

[2015-01-28 20:01] #273 closed

[2015-01-28 21:37] ldecoursy commented on #262
@iamjessklein @adiladiladil All comments are in RedPen. Do you want me to also add here?

[2015-01-28 23:07] smithisgeneric commented on #206
Ashley needs the EPS file for the Hive badge, consistent with https://webmaker.org/en-US/badges/hive-community-member cc: @iamjessklein @hannahkane @cassiemc

[2015-01-28 23:46] xmatthewx commented on #214
[IA Mockups on Redpen](https://redpen.io/p/tcd5fbcae44ba63df9). There's a lot of info to wrangle, so this will likely need some iteration.

High level feedback on how the parts are organized and labeled will be the most useful thing at this stage. Smaller details will shift based on those decision.

[2015-01-29 01:09] simonwex commented on #237
@jdotpz any idea how much effort this is?

[2015-01-29 13:38] adamlofting commented on #231
Shipped: https://blog.webmaker.org/ab-testing-new-designs-for-the-webmaker-org-homepage
:dizzy: :boom: :thumbsup: :boom: :dizzy:

[2015-01-29 13:38] #231 closed

[2015-01-29 13:59] dajbelshaw opened #275 "Design Web Literacy Map v1.5"
*Adding this manually as https://build.webmaker.org/intake seems to be down right now?*

The Web Literacy Map v1.5 update (#184) is an iteration on the current version (1.1). Per last week's community call we'll be retaining the competency grid view, but also experimenting with other ways of representing the skills under the competencies.

Exhibit A: @LauraHilliger's [Web Literacy Learning pathway

[2015-01-29 15:19] dajbelshaw commented on #198
Pinging @iamjessklein as a heads-up for potential design input on this whitepaper (esp. sections 3, 4, and 5!)

http://goo.gl/yB5FFB

[2015-01-29 16:25] OpenMatt commented on #263
* I'm updating the RACI above.
* Andrea should not be both the owner / project manager AND decider for this work. She's the decider. We need a project manager to  co-ordinate the final technical pieces.
* Let's make this a priority to assign in Monday TPS meeting.
* In the mean time, @davidascher and I will PM.

[2015-01-29 16:32] OpenMatt commented on #263
* Sub-tasks for this work are here: https://github.com/MozillaFoundation/movement-building/issues

[2015-01-29 16:39] OpenMatt commented on #263
* Critical path / schedule being documented here: https://github.com/MozillaFoundation/movement-building/issues/8

[2015-01-29 16:53] xmatthewx commented on #214
Curious how we want to mark this as a subdomain of Webmaker. Feedback and other ideas would be helpful.

![subdomain](https://cloud.githubusercontent.com/assets/53411/5961854/6b0946aa-a7ad-11e4-9bb1-821ead3f3d19.png)

cc @HPaulJohnson

[2015-01-29 18:04] jdotpz commented on #249
I've subbed the request to add metrics to our SSL san.

[2015-01-29 18:06] jdotpz commented on #237
Yes.  We need to setup a new puppet server, new jenkins server, a new controller server (for running of cron jobs), a new autoscaling group for Adam's kit.  This is a few days of effort, not two days.

[2015-01-29 18:07] jdotpz commented on #237
I'd also point out that right now, we are not functionally limited by where this is hosted.  We don't want to run this way forever of course.

[2015-01-29 18:20] Melechuga opened #276 "discourse.org website for Advocacy"
Hi,

The Advocacy team would like to set up our own Discourse instance, much like the discourse.webmaker.org, but with the possible URL of discourse.mozilla-advocacy.org. Is this feasible, and if so what would the timeframe be? Where would it be hosted? Are there any other blockers I should be considering?

Thank you.

### Audience
The soon-to-come advocacy community, Open Web Fellows, civil socie

[2015-01-29 18:35] jdotpz commented on #249
We can ghetto this if we really need it fast, even though I'm not a big fan of that route.
What that would look like:
1) The "app" would be on a standalone server, with no puppetization or automation or jenkins.  An update would require ssh'ing in, git pulling, npm installing, updating cron, etc.
2) I add an IP on the existing controller on moforegular so I can talk to the db on this side.

@simon

[2015-01-29 20:47] flukeout commented on #75
Here's an update to the prototype...
http://flukeout.com/examples/desk7/

We just have a few issues to iron out before usertesting.com
* [] Bug where text changes don't stick after transitioning away from a tile and back.
* [] Border radius rule doesn't display correct value after adding Image element

Redpen for feedback with screens - https://redpen.io/p/bsd2783d7cb838a620

@secretrobotron What

[2015-01-29 20:49] secretrobotron commented on #75
@flukeout QuickTime player works fine. Just doesn't record sound from on-screen (which isn't a problem for you, I think).

[2015-01-29 20:49] flukeout commented on #75
@secretrobotron I'm not deaf.

[2015-01-29 20:51] secretrobotron commented on #75
:whale: :whale2:

[2015-01-29 21:05] alicoding opened #277 "Webmaker Events is not fully localized and not testable by translators"
We want to allow translators to test their translations on the staging server and make sure that their translations are accurate and make sense when looking at them live. It is similar to what we offer on webmaker.mofostaging.net

### Audience
Translators on Transifex and our contributors from L10N in general

### Success
It will help translators see the translation live on the page and know what

[2015-01-29 21:09] alicoding opened #278 "Mozilla Appmaker is not fully localized and not testable by translators"
We want to allow translators to test their translations on the staging server and make sure that their translations are accurate and make sense when looking at them live. It is similar to what we offer on webmaker.mofostaging.net

### Audience
Translators on Transifex and our contributors from L10N in general

### Success
It will help translators see the translation live on the page and know what

[2015-01-29 21:53] thisandagain commented on #235
First draft / outline available here:
https://drive.google.com/open?id=16fOMRKqvbDl_UknsdN8EFTX9iB18iWd8FpaTFvfqjqg&authuser=0

Couple ideas (via @davidascher ):
- Have users come in via an SMS & the Remix flow instead of the "Templates" view as per the outline
- Add some attention to the "data" components as they are quite unique to our offering
- Ask users to SMS themselves the app that they hav

[2015-01-29 21:53] #235 closed

[2015-01-29 22:16] thisandagain commented on #75
@secretrobotron For future reference: https://rogueamoeba.com/freebies/soundflower/

[2015-01-29 22:21] thisandagain commented on #275
The link moved: https://build.webmaker.org/add

[2015-01-29 22:44] secretrobotron commented on #75
@thisandagain yeah, I did try a bunch to use it, but my results were always mixed. I'd love to see your setup if you have more success than me.

[2015-01-30 03:21] LauraReynal commented on #59
Hey Guys ! @HPaulJohnson @thisandagain

What is the status/next steps of this?
I have strated to share the report to interested people, and I wanted to share it more massively, with Equity, Mozilla Kenya and all-mofo, and other partners/people who are asking for it.

Do we need a blog post on m4d for this ?
@HPaulJohnson do you want me to write it ?

Thanks :smile:

[2015-01-30 03:25] HPaulJohnson commented on #59
Let's blog about it! If you want to do that go for it. I'm happy to give it a quick copy review before you publish.

[2015-01-30 06:56] valianttry commented on #264
+1  This will make life easier for many, many folks.

[2015-01-30 09:24] dajbelshaw commented on #275
Cool. Could we get a 301 redirect for stuff like this @thisandagain? :)

On a related note, the URLs for the Web Literacy Map resources section changed this week (added a /literacy/ in the middle). This breaks a lot of links that exist in teaching kits and elsewhere on the web. Would be great if we could:

* Add redirects / update .htaccess rules when this happens
* Give those affected a heads-up

[2015-01-30 13:29] OpenMatt commented on #225
* We can link from build.webmaker.org to this: http://book.webmaker.org/
* Emphasis on:  http://book.webmaker.org/heartbeat_faq.html
* Repo:  https://github.com/MozillaFoundation/book.webmaker.org/issues

[2015-01-30 13:36] adamlofting opened #279 "Testing this out"
A

### Audience
B

### Success
C

### Vision
D

### Measurement
E

### RACI

* Phase:
* Owner:
* Decision Maker:
* Design Lead:
* Development Lead:
* Quality Verifier:

[2015-01-30 13:37] adamlofting commented on #279
Ignore this. Just testing local version of build.w.o

[2015-01-30 13:37] #279 closed

[2015-01-30 13:53] xmatthewx commented on #214
I posted two clickable versions. Identical beyond the nav and logo treatment.
 - http://marvl.in/b0ah39
 - http://marvl.in/11ji896

Ping me with any problems that will interfere with IA testing.

[2015-01-30 16:36] davidascher commented on #275
The changed link on build doesn't seem like a big deal (the audience is
tiny) but we can add a route. The link change on the weblitmap worries me
more from a process POV.

Agree we should fix it. Can you please file a new issue under webmaker.org
in github?

[2015-01-30 16:45] LucyeoH opened #280 "Design features to enable mentors to organize groups"
School groups that use Thimble to teach HTML set up generic Webmaker accounts in case students can't/won't set up their own accounts. These accounts become littered with with <a href="https://mozillafoundation.github.io/plan/images/alot.png">a lot</a> of cruft that other users of the account shouldn't have to sift through, nor should have write/delete access to.

## Audience:

School group leaders

[2015-01-30 16:47] ldecoursy opened #281 "Test & ship Webmaker Clubs curriculum"
Test module 1 and ship module 2

### RACI

* Phase: testing
* Owner: @ldecoursy
* Decision Maker: @thornet
* Design Lead: not needed
* Development Lead: not needed
* Quality Verifier: @hannahkane

* Curriculum work being tracked at https://github.com/mozilla/webmaker-curriculum/issues
* Testing module 1 will be completed by Feb 10
* Shipping module 2 by Feb. 10
* No design or dev required

[2015-01-30 16:51] ldecoursy opened #282 "Write design brief for HiveLearningNetworks.org web site improvements"
### RACI
* Phase: requirements gathering
* Owner: @ldecoursy
* Decision Maker: ???
* Design Lead: not needed this Heartbeat (@cassiemc if you need a pair of eyes)
* Development Lead: not needed this Heartbeat.
* Quality Verifier: @hannahkane

**GOAL:** document strategy, goal and requirements for incremental, "version 2.0"  HiveLearningNetworks.org web site improvements. Focus is on adding **dynam

[2015-01-30 16:52] davidascher commented on #280
Interesting scenario.

My guess is tags and tag-based searches could work as well? They're way
easier to manage on the design and dev side IMO.

[2015-01-30 17:00] dajbelshaw opened #283 "Add 301 redirect to Web Literacy Map resources section after URL changes"
*Filing per @davidascher's [suggestion](https://github.com/MozillaFoundation/plan/issues/275#issuecomment-72229097) in #275*

This week, URLs for the [Web Literacy Map resources section](https://webmaker.org/resources) started including an extra /literacy/ component. Clicking on an existing link without this dumps you back at the webmaker.org homepage.

This is probably an improvement in terms of

[2015-01-30 17:06] davidascher commented on #283
And when it comes to the future, see
https://github.com/mozilla/webmaker.org/issues/1207

[2015-01-30 17:55] davidascher commented on #267
5 prototypes is a Q1 goal.  We should break it down into a 2 week sub-task IMO.

[2015-01-30 17:55] davidascher commented on #79
Can you clarify what is meant by "unified"?  Is it unified across mobile + desktop?

[2015-01-30 17:56] davidascher commented on #77
Is there a label/milestone to assess that workload yet?

[2015-01-30 17:57] davidascher commented on #2
I have no idea why I created this issue, it was likely just to test out the plan repo.  Should we close it?  @thisandagain ?

[2015-01-30 17:59] davidascher commented on #261
I believe AnMe is decision maker, and someone else likely should be owner.

[2015-01-30 18:06] hannahkane commented on #206
@iamjessklein @cassiemc  - can either of you provide the eps file? I don't have access to it.

[2015-01-30 18:43] OpenMatt commented on #261
* Updated the RACI
* @cassiemc : is the goal to ship and wrap this up this Heartbeat? If so, can we update the ticket title to add a verb and be more specific?

[2015-01-30 18:44] OpenMatt commented on #261
* @cassiemc : is this a proposed P1 or P2?

[2015-01-30 18:48] OpenMatt commented on #212
@ldecoursy so will this plan be written / done by end of this Heartbeat (Feb 13?)

[2015-01-30 18:59] ldecoursy commented on #212
@OpenMatt That is the goal! Per above comment, should be answering some key q's around this during our workweek.

[2015-01-30 19:13] LucyeoH commented on #280
That's actually what I recommended and is how Ladies Learning Code manages their generic account, though I've also seen them have some trouble with it (it can be hard to get a room full of kids to all add the same tag). I wonder if there's a way we could incorporate a "teacher account" into the new tool? Just a thought!

[2015-01-30 19:19] thisandagain commented on #2
Yup!

[2015-01-30 19:19] #2 closed

[2015-01-30 19:33] hannahkane commented on #214
@xmatthewx - these are perfect. I'll send you invites for the user tests in case you want to join in.

[2015-01-30 21:11] k88hudson commented on #271
Note that the specs for devices should be as follows (this is what we'll have for MWC):

[code]

[2015-01-30 21:29] hannahkane commented on #280
Just a note that this is very much in line with what we're envisioning for Clubs on the site—basically, the idea of connecting individuals and their projects to a "Club" asset. See v1.2 and v1.4 on the Learning Networks product roadmap: https://wiki.mozilla.org/Learning/Networks/Product-Roadmap

[2015-01-30 21:54] secretrobotron commented on #2
:white_circle: :whale: :money_with_wings: :astonished:

[2015-01-30 21:56] secretrobotron commented on #79
Yeah, `Unified = Mobile + Desktop`. They've had little to do with each other hitherto in @flukeout's designs. But, the goal is to bring them together

[2015-01-30 21:58] davidascher commented on #79
Cool.  I'd say then that we should probably do some more design on that
unification before we build too much...

[2015-01-30 22:04] davidascher commented on #283
moved over to where the right people need to look at it.  https://github.com/mozilla/webmaker.org/issues/1208

[2015-01-30 22:04] #283 closed

[2015-01-30 22:25] hannahkane commented on #214
Closing this. The design is done for now. Testing will happen next heartbeat.

[2015-01-30 22:25] #214 closed

[2015-01-30 22:27] hannahkane commented on #216
Moved to wiki, to signal that this is canonical, though it will, of course, change over time: https://wiki.mozilla.org/Learning/Networks/Product-Roadmap#Proposed_Roadmap

Closing this ticket.

[2015-01-30 22:27] #216 closed

[2015-01-30 22:29] hannahkane commented on #11
Killing this, since I now realize parent tickets aren't necessary in this repo.

[2015-01-30 22:29] #11 closed

[2015-01-30 22:35] simonwex commented on #280
I think a tag approach also makes sense for the underlying architecture. It makes discovery surface in a predictable way and lets us build many user-facing features without significant underlying changes. This doesn't cover the user story for an easy way to add those tags, though.

I think the deliverable for this planning ticket is to do some design and user testing around group and bulk tagging.

[2015-01-30 22:35] hannahkane opened #284 "Test teach.webmaker.org wireframes"
Schedule ~6 user tests and report back on results and present in demo.

### RACI
* Phase: requirements gathering
* Owner: @hannahkane
* Decision Maker: @hannahkane
* Design Lead: not needed
* Development Lead: not needed
* Quality Verifier: @ldecoursy

Note: didn't get done in last heartbeat, so I'm P1'ing it this time.

Draft test plan: https://etherpad.mozilla.org/teachdotusertest

[2015-01-30 22:37] hannahkane opened #285 "Design teach.wm.org"
This is a parent ticket for all of the design work for the teach site. Child tickets are located in the Mozilla-Learning repo.

### RACI
* Phase: Design
* Owner: @hannahkane
* Decision Maker: @hannahkane
* UI Design: @vazquez
* UX Design: @iamjessklein
* Dev Lead: NA. See related dev ticket.
* Quality: @davidascher
* Metrics: NA. See related dev ticket.

### Deliverables

February 13 heartbeat
 -

[2015-01-30 22:40] hannahkane opened #286 "Conduct engineering assessment of badges platform"
Ensure we have a plan of attack on how to evolve our badges platform for the purposes of the Learning Networks goals.

### RACI

* Owner: @simonwex
* Decider: @hannahkane
* Lead dev:
* Lead design: not needed (another issue explores UX I expect)
* Quality: @davidascher

Step 1: Meet with Hannah to discuss the requirements for the next iterations on the badging platform.
Step 2: Dig into the code t

[2015-01-30 23:14] davidascher commented on #286
Made a couple of edits to the description.

[2015-01-30 23:19] davidascher commented on #276
Thank you for filing out the form, much appreciated!

Resourcing note: this is mostly in @jdotpz's domain, modulo some branding work which would likely need a little bit of design work.

I don't know who currently administers the discourse.webmaker site (or even what administration it requires).  Maybe @thornet knows.

[2015-01-30 23:21] davidascher commented on #269
I suspect the dependency on the MakeAPI isn't actually a hard one.  We want to answer the use cases described in the initial comment, but the MakeAPI need not be involved.

[2015-01-30 23:27] davidascher commented on #268
Neat!  Agree that making timezone awareness more ambient would be lovely. I may play around with a tweak to that approach that uses github teams to figure out who to display, and some easier way of updating timezones.

@dajbelshaw: apart from the fairly amorphous "awareness," are there specific scenarios where you feel it'd be most useful? scheduling meetings, … ?

[2015-01-30 23:27] hannahkane commented on #206
Moving this to Feb 13 milestone, since it didn't get completed.

[2015-01-31 00:00] HPaulJohnson commented on #179
Inspired by @davidascher email today, realized I'm long over due for an update on this one. Also adjusting to fit work of this nature into the sprint format.

Main update is that I had a long chat with Mary Ellen this week about overall brand architecture and in particular reconciling branding our Learning Network program(s). She is going to help co-lead a process to sort this out with me.

We are

[2015-01-31 00:01] jdotpz commented on #276
We can get this moving very quickly, and have it for you Monday.  I've been working with my community team, who has done a great job of documenting how we use Discourse, and I'll be bringing yalam96( @flamingspaz) in to help with this!

[2015-01-31 00:04] davidascher commented on #276
Excellent!  @jdotpz, a followup question: are we monitoring discourse for
security releases for example?  Also flagging @adamlofting as I suspect it
should affect his data inventory.

Also, @jdotpz: from a prioritization point of view, based on what I know so
far, this is lower priority compared to the call congress stuff.

There's a conversation worth having at some point about domain names for
s

[2015-01-31 00:09] jdotpz commented on #276
Thanks @davidascher , though I've got a bit of tuning yet to do on the puppetization of callcongress this weekend, since I have a bit of communityIT backing on it, we shouldn't have a bottleneck on me for this particular item!  Also, we've got some good documentation we've worked on to get these requests to a 'commodity' level. https://wiki.mozilla.org/IT/Community/WG/Discourse/Setup
https://githu

[2015-01-31 00:10] HPaulJohnson opened #287 "Learner-focused messaging test for Webmaker product using Google Adwords"
The splash page project provided some early insights into topline messaging and value proposition statements for the new Webmaker product. While those insights proved useful as we prepare a go-to-market strategy for a new mass-market, we'd like to run further messaging test on fresh/new users by running an Adword campaign to drive traffic that is less aware of Webmaker's offering.

### Audience
Ma

[2015-01-31 00:21] flamingspaz commented on #276
Myself and the Community IT Team follow Discourse pretty closely since we host other instances for the community, so we should know about important security updates in a reasonable timeframe. Other than that we try to update once a month (since updates require downtime) so we have the latest and greatest. Happy to work with people to refine the process though!

[2015-01-31 00:31] davidascher commented on #276
sounds good enough, thanks.

[2015-01-31 00:33] thisandagain commented on #77
Not yet. Waiting on draft report from @LauraReynal. Those findings will be merged with:
https://github.com/mozilla/webmaker-app/milestones/UI%20Improvements

[2015-01-31 00:38] LauraReynal commented on #77
Will send UX feedback this weekend or early next week.

[2015-01-31 01:27] edrushka opened #288 "Build MOI splash page for MWC"
Design is almost done. Mavis will build it this heartbeat.
Design issue: https://github.com/mozilla/webmaker.org/issues/1167
Build issue: https://github.com/mozilla/webmaker.org/issues/1168
All MOI splash page issues: https://github.com/mozilla/webmaker.org/milestones/Create%20MOI%20splash%20page%20for%20MWC

[2015-01-31 01:29] edrushka commented on #243
This work is almost done. Awaiting decision on video which will be made Tuesday Feb 3. Design will be locked EOY Wed Feb 4.

[2015-01-31 01:30] edrushka commented on #234
Design is almost done. Mavis will build it this heartbeat.
Design issue: mozilla/webmaker.org#1167
Build issue: mozilla/webmaker.org#1168
All MOI splash page issues: https://github.com/mozilla/webmaker.org/milestones/Create%20MOI%20splash%20page%20for%20MWC

[2015-01-31 01:31] #288 closed

[2015-01-31 01:38] k88hudson commented on #49
We managed to ship an s3 uploader + some basic, first-pass UI + device integration. The upload service is shipped but right now the images are written as base64-encoded data to firebase directly.

We still need to:
* adding s3 upload hook on publish
* adding compression to FFOS
* some ops follow-up for IRC bot

Will follow up on these myself with @jbuck's help early Monday morning

[2015-01-31 17:05] Melechuga commented on #276
Thanks @davidascher , @jdotpz + @flamingspaz for being on top of this! We can talk logo/designs/layout next week if that's convenient for you.

Yes, this is a lower priority than the Call Congress initiative.

Thank you!

[2015-01-31 21:39] flamingspaz commented on #276
Seems like someone requested https://discourse.mozilla-community.org/c/advocacy a couple of months back, but there's no activity. Would that be a better fit for your needs? That way you wouldn't need to administrate anything since we handle it all.

[2015-02-02 09:28] adamlofting commented on #287
Thanks for filing Paul. This comment is mostly to CC myself :smile:

[2015-02-02 13:34] jdotpz commented on #249
I've been working on this over the weekend when I had internet, and it seems it is going to be more work to try to point to our existing puppet infra using cross-account IAM roles for S3 mofo-techops/creds/* and the like than to just setup legit infra.

I'm working on getting a puppet server going now.

[2015-02-02 13:36] jdotpz commented on #249
OK, puppet server is up at securegeppetto.mofoprod.net.  I'm going to create a freshly baked repo for puppet, especially for mofosecure apps.

I created the build scripts and cleverly named them csolnew because nobody in their right mind would click on that these days.  https://jenkins.mofoprod.net/job/csolnew/3/console
The initial tag v0.0.01 is pushed up and built, currently residing in our mofo

[2015-02-02 13:48] jdotpz commented on #249
https://github.com/mozilla/mofos_system_configurations and https://github.com/mozilla/mofos_systems_scripts are started, working on cleanup next.

[2015-02-02 14:08] OpenMatt opened #289 "Update webmaker.org get involved page"
GOAL: make sure the main on-ramp for contributors is up to date.
https://webmaker.org/en-US/getinvolved
* ensure it doesn't suffer from information density / decision density
* audit the main pathways / flow to ensure they make sense and feel good for contributors
* make sure we're using metrics properly. data to guide our decisions.

[2015-02-02 14:09] jdotpz commented on #249
This is the install I used for geppetto secure.

http://pastebin.mozilla.org/8500323

[2015-02-02 14:11] OpenMatt commented on #289
* We also need to think about linkage / flow between this page and build.webmaker.org
* High level:
1) get involved page: high-level. the *main* on ramp for contributors. with calls to action that are simple and well-packaged.
2) build.wmkr.org: lower-level. More detail. Focused on our yearly, quarterly, and heartbeat plans and scopes.

* curious potential contributors shouldn't necessarily have t

[2015-02-02 14:12] OpenMatt commented on #289
cc @davidascher @thisandagain @cassiemc

[2015-02-02 14:25] OpenMatt opened #290 "Optimize how Webmaker and teach.moz.org show up on mozilla.org/contribute"
https://www.mozilla.org/en-US/contribute/

@adamlofting would be good to know how it's performing, and metrics-based recommendations for improvements.

[2015-02-02 14:30] OpenMatt commented on #194
@simonwex @cassiemc @davidascher Question: are we using "help-wanted" as a way to flag bugs that are good first bugs for potential contributors?

[2015-02-02 15:17] jdotpz commented on #249
https://securejenkins.mofoprod.net/ is up serving from the new geppetto/jenkins combo box.  Only https will work for now.  I'll be adding jobs once I get repos cleaned up.

[2015-02-02 15:39] OpenMatt commented on #263
Updating to Feb13 milestone as this work is ongoing

[2015-02-02 15:41] OpenMatt commented on #247
@simonwex : status?
* (as a general rule, we should aim to update these planning tickets much more frequently.)

[2015-02-02 15:43] OpenMatt commented on #243
* moved to Feb13, since work is not complete
* added RACI to the top for easier finding
* @edrushka is that RACI up to date / correct for this Heartbeat?

[2015-02-02 15:44] toolness commented on #76
Woot! I guess this is basically done? I added more tests and stuff by EOD Friday, as well as loggins integration and healthcheck endpoints so @jdotpz is happy :smile:

I guess the only thing left to do is actually move the repository under the mozilla organization. Oh, and actually deploy it on production infrastructure.

[2015-02-02 15:44] OpenMatt commented on #241
@secretrobotron : status?

[2015-02-02 15:44] OpenMatt commented on #240
@simonwex status? [[flagged!]](http://plzkthx.herokuapp.com)

[2015-02-02 15:44] OpenMatt commented on #237
@adamlofting status? please move to Feb13 train if this work is ongoing.

[2015-02-02 15:45] OpenMatt commented on #236
@thisandagain status? [[flagged!]](http://plzkthx.herokuapp.com)

[2015-02-02 15:45] OpenMatt commented on #228
still working on this -- but doesn't need to be in Heartbeat process, as work is just on me to complete at this point.

[2015-02-02 15:46] OpenMatt commented on #226
@HPaulJohnson can we close this? if so please do

[2015-02-02 15:46] OpenMatt commented on #215
@hannahkane : status?
(+ please update these plan tickets more frequently)

[2015-02-02 15:46] OpenMatt commented on #204
@thisandagain status?

[2015-02-02 15:47] OpenMatt commented on #191
@edrushka : do we still need this ticket? Or can we close, given the more specific work is happening elsewhere?

[2015-02-02 15:48] OpenMatt commented on #76
@simonwex status? [[flagged!]](http://plzkthx.herokuapp.com)

[2015-02-02 15:48] OpenMatt commented on #75
@secretrobotron status?

[2015-02-02 15:48] OpenMatt commented on #72
@thisandagain status?

[2015-02-02 15:49] OpenMatt commented on #49
* sounds like this work is ongoing, so updating to Feb13 milestone. please correct if that's wrong.

[2015-02-02 15:49] OpenMatt commented on #263
* Priority: we need a clear PM / owner for this going forward.

[2015-02-02 15:50] hannahkane commented on #215
This is not done. One group conversation happened, but not all stakeholders were able to attend, so we weren't able to make final decisions.

Plan is to publish a blog entry this week with the latest thinking and allow for a round of feedback. This is likely an ongoing, evolving project—not necessarily something that can be completed inside of a heartbeat.

[2015-02-02 15:54] jdotpz commented on #247
@OpenMatt Please see https://github.com/MozillaFoundation/2015-fundraising/issues/2 for the update.  This is in our private repo, and discussions about status of this project are not to be public.  Thanks!

[2015-02-02 15:55] ldecoursy opened #291 "Implement Hive Directory theme"
## RACI
* Phase: Development
* Owner: @ldecoursy
* Dev Lead: ???
* Quality Verifier: @chrislarry33
* Consulted: @iamjessklein @leahatplay @adiladiladil @hannahkane

## Audience
Existing and emerging Hives

## Success
Implement new user-friendly design to https://directory.hivelearningnetworks.org/, prototype created by @toolness

## Vision
New Hive Directory linked from https://hivelearningnetwork

[2015-02-02 15:58] HPaulJohnson commented on #226
This can be closed. Github newbie question - how do I close a ticket if I'm not the owner?

[2015-02-02 15:58] OpenMatt commented on #242
* @HPaulJohnson : status update?

[2015-02-02 15:59] OpenMatt commented on #238
@HPaulJohnson : what's the deliverable or work that needs to be done on this this Heartbeat?
* and: is the RACI up to date? blanks we can fill in?

[2015-02-02 16:00] OpenMatt commented on #209
@HPaulJohnson status?

[2015-02-02 16:01] OpenMatt commented on #187
* Updated the RACI on this to make me the owner and @davidascher the decision maker.
* we'll use the new Webmaker GitBook David made to do this
* Comment here if that seems wrong.

[2015-02-02 16:02] OpenMatt commented on #183
@secretrobotron are we planning to ship this this Heartbeat?

[2015-02-02 16:03] secretrobotron commented on #241
@OpenMatt design & build went pretty slowly last heartbeat. Will use this one to wrap up build, finish QA, and ship.

[2015-02-02 16:03] OpenMatt commented on #165
* question: do we still think this is a good thing to prioritize this Heartbeat? (given MWC work etc.)
* If so, need to fill in the RACI

[2015-02-02 16:03] secretrobotron commented on #187
:+1: love it. Excited to use a gitbook here.

[2015-02-02 16:04] OpenMatt commented on #124
@secretrobotron status?

[2015-02-02 16:04] OpenMatt commented on #74
@secretrobotron: still prioritizing this? Seems like the kind of thing we could easily punt if needed.

[2015-02-02 16:05] OpenMatt commented on #59
@LauraReynal sounds like next step is with you to write that post? You good to go?

[2015-02-02 16:05] secretrobotron commented on #183
@OpenMatt yes, I'm hoping to do just that. Need to scrape together logos from web sources, since we don't have a comprehensive supply.

[2015-02-02 16:07] secretrobotron commented on #124
My bad. We can close this. New ticket to reflect new scope: #267.

[2015-02-02 16:07] #124 closed

[2015-02-02 16:07] HPaulJohnson commented on #242
This was bumped to next heartbeat as devs were re-assigned to Net Neutrality call tool project. On today's TPS call we can decide if that's far enough along to restart work.

[2015-02-02 16:09] secretrobotron commented on #74
@OpenMatt needs to get done ASAP. Assets and design are in my hands. Just need to make it HTML and put it online.

[2015-02-02 16:10] OpenMatt commented on #286
Key decision for today is: should we start this work now, or punt to next Heartbeat, based on other engineering team priorities / MWC prep etc.

[2015-02-02 16:11] adamlofting commented on #237
@OpenMatt yes, this is ongoing. But I don't have `train moving` power in this repo.

Could you update the Milestone for me please (or my permissions, if that's better).

[2015-02-02 16:11] OpenMatt commented on #285
@hannahkane all "Plan" tickets need a RACI. Please fill in what you can above. Will work to finalize the rest in Heartbeat planning meeting etc.

[2015-02-02 16:11] thisandagain commented on #236
Editor revisions implemented, but not quite up to spec (see: https://github.com/mozilla/webmaker-app/milestones/UX%20Improvements%20(Phase%20II) ) moving remaining items to next heartbeat SOW.

[2015-02-02 16:11] #236 closed

[2015-02-02 16:12] OpenMatt commented on #284
@hannahkane please update RACI

[2015-02-02 16:13] thisandagain commented on #204
Great progress by @alicoding . Still wrapping up localization for Swahili and Bangla (Bangladesh – India is complete) but that is happening async to the UI work for this next sprint. :smile: :+1:

[2015-02-02 16:13] #204 closed

[2015-02-02 16:14] OpenMatt commented on #282
@cassiemc heads up that this is in motion. no design work needed this Heartbeat, but could be good to have a designer involved in the requirements gathering. or: to use a design brief template you already have / prefer.

[2015-02-02 16:20] OpenMatt commented on #263
@cassiemc flagging as needs-design -- not sure if design work is complete or ongoing. please update as needed.

[2015-02-02 16:21] cassiemc commented on #263
If we want to do Phase 2 w/ the 'report back' feature, yes, needs-design still.

[2015-02-02 16:21] edrushka commented on #243
Yes, looks good.

[2015-02-02 16:22] OpenMatt commented on #261
@cassiemc try to update prior to Heartbeat meeting

[2015-02-02 16:24] jdotpz commented on #76
Great @toolness I'll get that build out on my list!

[2015-02-02 16:25] cassiemc commented on #261
My involvement here is only to get this off @iamjessklein's plate asap. Jess, can you update us on where this work is?

[2015-02-02 16:26] OpenMatt commented on #234
Added @cassiemc as quality verifier -- please update or assign someone else if that's wrong

[2015-02-02 16:28] OpenMatt commented on #225
this is a duplicate of
https://github.com/MozillaFoundation/plan/issues/225

so closing

[2015-02-02 16:28] #225 closed

[2015-02-02 16:30] thisandagain commented on #53
@jbuck @simonwex @cadecairos Feel free to add notes here, my list above is by no means exhaustive.

[2015-02-02 16:31] thisandagain commented on #53
@adamlofting See last item (instrumentation) above.

[2015-02-02 16:33] OpenMatt commented on #206
@hannahkane : do we need a dev this Heartbeat?
* can you also update https://wiki.mozilla.org/Webmaker/Badges with the relevant links David and others mention above, if useful?
* It already includes links like these, which should be helpful:
** Mozilla-wide badge style guide https://wiki.mozilla.org/File:Mozilla_Badges_project.pdf
** Web Literacy badge designs https://wiki.mozilla.org/Webmaker/Bad

[2015-02-02 16:34] HPaulJohnson commented on #209
Left an update on Friday in the master ticket, #179

[2015-02-02 16:36] edrushka commented on #191
I don't see another meta ticket for the NN campaign in /plan so I think we should leave this open. Work is happening here:
Petition (currently in QA): https://bugzilla.mozilla.org/show_bug.cgi?id=1125438
Call Congress tool (currently in design phase): https://github.com/MozillaFoundation/movement-building/issues/10
Updating website (MVP is done, nice-to-haves are next): https://bugzilla.mozilla.or

[2015-02-02 16:36] iamjessklein commented on #261
The concept work has been completed [here](https://redpen.io/p/jbb5a2d65bef590573)
The [slide deck framework](https://docs.google.com/presentation/d/1RzJXMGPyujSclMSmQGyf-e1RKdGZbLAH-UE0TfiwYKI/edit?usp=sharing)has been constructed by Mouse
By the end of this heartbeat @adiladiladil should deliver a completed slide presentation.

I should be QA

[2015-02-02 16:37] HPaulJohnson commented on #238
See update in #179. TL;DR for this ticket is that I met with Mary Ellen last week to scope out next steps. She is gone this week but we agreed @cassiemc and I can move forward with syncing up on the design-specific aspects of Mozilla/Webmaker branding (look and feel, etc.). I will set up a meeting with @mart3ll this week for the three of us to discuss this week.

[2015-02-02 16:37] thisandagain commented on #267
Edited title and description to have clear SOW for this sprint.

[2015-02-02 16:39] OpenMatt commented on #206
* I deleted some cross-talk comments above to clean up this ticket
* @hannahkane : did we decided on a visual template to follow?

[2015-02-02 16:42] OpenMatt commented on #291
needs a quality verifier. not sure who.

[2015-02-02 16:43] adamlofting commented on #237
Thanks @cadecairos :smile:

[2015-02-02 16:44] cadecairos commented on #237
:+1:

[2015-02-02 16:44] cassiemc commented on #261
Great, thanks @iamjessklein!

[2015-02-02 16:45] cassiemc commented on #206
@hannahkane I don't have the Hive badge templates. @iamjessklein if you have them, can you post the link here and add them to our Design Resources folder on Drive? thanks!

[2015-02-02 16:47] hannahkane commented on #206
I believe we decided on using the Hive Community Member badge as a template.

Updated the Badges page on the wiki.

Will add "needs-dev" to this ticket.

[2015-02-02 16:48] OpenMatt commented on #160
@thisandagain still want to tackle this Heartbeat? or push back?

[2015-02-02 16:52] thisandagain commented on #73
Closing as per discussions w/ @gvn @k88hudson and @simonwex

[2015-02-02 16:52] #73 closed

[2015-02-02 16:56] thisandagain commented on #160
Pushing back as to keep focus on MWC.

[2015-02-02 16:58] cadecairos commented on #240
Webmaker-Firehose needs code review, and deployment to staging, prod.

Before that can happen, MakeAPI and Webmaker.org patches will need to land and get shipped. ( mozilla/makeapi#234 and mozilla/webmaker.org#1177

[2015-02-02 16:59] cassiemc commented on #285
This sounds a little broad, @hannahkane can you help clarify what is being designed here? Do you mean just the homepage?

[2015-02-02 17:00] cassiemc commented on #282
I think this is actually @thisandagain and Product team territory, but happy to lend my eye on any briefs if we need design feedback.

[2015-02-02 17:01] thisandagain commented on #49
Cleaned up the scope a bit to cover the last few UX gaps. @k88hudson can you review and update the milestone / tickets?

[2015-02-02 17:01] OpenMatt commented on #206
@cassiemc please add any relevant design drive links for badges here: https://wiki.mozilla.org/Webmaker/Badges

[2015-02-02 17:02] hannahkane commented on #285
I meant the full v1 of the site. Will need help right-sizing for a single heartbeat.

[2015-02-02 17:02] OpenMatt commented on #160
coolio. mile-stoning Mar 13 so we don't forget.

[2015-02-02 17:02] ldecoursy commented on #282
@cassiemc Previously we'd been working with Studio MoFo and @sabrinang to think through where new content would live on the site.

[2015-02-02 17:04] cassiemc commented on #206
@iamjessklein ^^

[2015-02-02 17:07] cassiemc commented on #80
@thisandagain can you link to the prior design sprint here? What design activities are needed for this?

[2015-02-02 17:33] flukeout commented on #75
Here's a report from the first round of testing:
https://docs.google.com/document/d/1X1DdCedqWdXtdBlw3HJf0ioypQQ-Nv4_gurmztTtEx4/edit

Just adding a little summary now, but it's mostly all there.

[2015-02-02 17:36] OpenMatt opened #292 "Prototype a better etherpad for MoFos"
Add support for images, formatting and more.

### RACI

* Phase: Prototyping
* Owner: @openmatt
* Decision Maker: @openmatt
* Design Lead: not needed
* Development Lead: @jdotpz
* Quality Verifier: @davidascher

* Issues: https://github.com/MozillaFoundation/mofo-lightsaber/issues
MoFos use etherpads every day. Let's try to give them a better one. With support for things like images, formatting, b

[2015-02-02 17:39] secretrobotron commented on #75
Thanks @flukeout !

[2015-02-02 17:39] OpenMatt commented on #292
* This work is now mostly complete for phase 1. @jdotpz is testing and cleaning up a bit
* This is very P2 -- no time sensitivity.
* goal for this heartbeat: ship a prototype MoFos can beging playing with. Gather input on what people want (if anything) for future improvements.

[2015-02-02 17:39] simonwex commented on #247
This ticket will be closed today after the last legal bug is filled out.

[2015-02-02 17:40] OpenMatt commented on #292
Individual issues tracked here: https://github.com/MozillaFoundation/mofo-lightsaber/issues

[2015-02-02 17:40] #76 closed

[2015-02-02 17:43] OpenMatt opened #293 "Ongoing updates on Mozfest progress"
Revised ticket to be an ongoing place to update Mozfest's progress.

Document the broad strokes of strategy. Draft key strategy questions we need to ask.

## RACI
* Phase: Planning and consultation
* Owner: @thornet
* Decision-Maker: @msurman
* Consulted: MozFest Team

Start working on them asynchronously where possible. To maximize use of New York work week time with Mark Surman Feb 9 - 11.

[2015-02-02 17:44] simonwex commented on #267
When adding devs to the RACI, please leave the needs-dev flag so I can work it into my matrix.

cc @thisandagain, @secretrobotron

[2015-02-02 17:44] davidascher commented on #262
@iamjessklein any update on how much was done by Jan 30 as you mention in a comment above?  Any of those checkboxes tickable?

[2015-02-02 17:46] OpenMatt commented on #293
MozFest 2015

    Deliverable: draft strategy and planning questions we want to answer re: MozFest 2015.

    TASK: Michelle: draft what questions they needed from Mark. Bring to Ops meeting Feb 3.

    TASK: meet face to face. In NY Feb 9 -11 when Mark is there. BUT: let's start now. instead of just waiting til then.

    Key questions: what changes (if any) do want to make to the model. Conceptu

[2015-02-02 17:46] davidascher commented on #291
I predict we'll be in a crunch this heartbeat.  @ldecoursy, any specific deadlines that this work depends on that we should know about?

[2015-02-02 17:48] cassiemc commented on #179
I'm updating the milestone for this so we can discuss in today's TPS.

[2015-02-02 17:48] OpenMatt commented on #293
@thornet : trying to push this out of email and skype chats into the open for easier high-level tracking.
next step here is, I believe, for you to draft some high-level questions we need to discuss and answer together. then start the ball rolling.
* NOTE: ** they were hoping some of that could be started in time for Feb 3 Ops meeting. Possible? **

[2015-02-02 17:49] cassiemc commented on #179
@HPaulJohnson I'm leaning toward closing this issue and moving forward with #209 and #238

[2015-02-02 17:50] thisandagain commented on #79
Agreed. Updated SOW.

[2015-02-02 17:50] cassiemc commented on #285
@hannahkane Are there finalized wireframes?

[2015-02-02 17:51] secretrobotron opened #294 "Test localization strategy for Webmaker Curriculum"
Test out HTML <-> Transifex localization strategy for Webmaker Curriculum as a potential model for other Teach/Community sites.

#### RACI
* Phase: Deploy
* Owner: @hannahkane
* Decision Maker: @hannahkane
* Design Lead: N/A
* Development Lead: TBD
* Quality Verifier: @thornet

#### Context
Recently, @thornet asked if some community members could easily localize pages in the [Webmaker Curriculum](

[2015-02-02 17:52] secretrobotron commented on #294
Suggesting @alicoding for obvious reasons (esp. since he took the 5 requisite minutes to set up the experiment). Could use another dev to get used to the transifex system though.

[2015-02-02 17:52] cassiemc commented on #282
ok cool thanks for the update @ldecoursy

[2015-02-02 17:52] thisandagain commented on #271
Confirmed on Nexus 5 running Android 4.4 for MWC demo

[2015-02-02 17:55] OpenMatt commented on #241
* ok. moving to Feb13

[2015-02-02 17:56] OpenMatt commented on #240
k. when work is ongoing, please update to next train.

[2015-02-02 17:56] OpenMatt commented on #226
you don't see "close" button at bottom of ticket, next to "comment"?

[2015-02-02 17:56] #226 closed

[2015-02-02 17:57] OpenMatt commented on #215
k. please update to next train when this happens.

[2015-02-02 17:58] OpenMatt commented on #191
Needs RACI

[2015-02-02 17:59] hannahkane commented on #285
No, we're testing wireframes this week.

[2015-02-02 18:00] OpenMatt commented on #191
@edrushka : can you clean up this ticket? As I understand it, this is a meta-ticket gathering three pieces of work:
* petition
* call congress tool
* an updated web site

is that correct?

[2015-02-02 18:00] simonwex commented on #79
Confirmed I can be dev.

[2015-02-02 18:01] ldecoursy commented on #262
@davidascher We have a call at 2:30 today to review and make sure changes have been made.

[2015-02-02 18:01] OpenMatt commented on #75
@secretrobotron are we continuing work on this in this Heartbat?

[2015-02-02 18:01] OpenMatt commented on #74
* ok. moving to Feb 13 as work is ongoing.

[2015-02-02 18:03] thisandagain commented on #80
Clarified!

[2015-02-02 18:03] HPaulJohnson commented on #179
@cassiemc makes sense to me - i'll know where to put updates next time where people are actually looking. as owner, i think you have to close it.

[2015-02-02 18:04] edrushka commented on #191
No, there are many moving pieces to the NN campaign.
I am PM of the petition and the website updates.
I don't know who is PM-ing the call congress tool.
Andrea is "owner" of all three.

[2015-02-02 18:05] thisandagain commented on #272
Can we just track this in #271 ?

[2015-02-02 18:05] #272 closed

[2015-02-02 18:09] secretrobotron commented on #75
Nope! @flukeout did an awesome job. Continuing work in #84.

[2015-02-02 18:09] #75 closed

[2015-02-02 18:11] thisandagain commented on #72
Split into individual tickets:
https://github.com/MozillaFoundation/plan/issues/80
https://github.com/MozillaFoundation/plan/issues/77

[2015-02-02 18:11] #72 closed

[2015-02-02 18:11] flukeout commented on #79
Here is the usertesting report from Round 1
https://docs.google.com/document/d/1X1DdCedqWdXtdBlw3HJf0ioypQQ-Nv4_gurmztTtEx4/edit

[2015-02-02 18:20] secretrobotron commented on #84
Prior work in #79.

[2015-02-02 18:22] Melechuga commented on #276
I saw that, but wasn't sure how that's administered. Also, with the up-coming changes to how the community at large is supported, I wasn't sure if that structure would still be around.

I'm not really sure what being an administrator for our own version would be; can you please explain that a little bit? Would really help in making this decision. Thank you!

[2015-02-02 18:23] flukeout commented on #79
@thisandagain what does ***RACI*** mean up there?

[2015-02-02 18:31] OpenMatt commented on #285
@cassiemc could use an estimate from you on amount of effort required here.

[2015-02-02 18:37] thisandagain commented on #237
Moved to the next heartbeat and added @adamlofting as an admin. :smile:

[2015-02-02 18:38] thisandagain commented on #237
@simonwex given the Call Congress and other activities do you think it is reasonable to get this shipped? If not, I'd rather re-classify this as a P2.

[2015-02-02 18:40] thisandagain commented on #294
@hannahkane did you want this as a P2 for this heartbeat? Feel free to drop if not. :smile: :cat2: :cake:

[2015-02-02 18:41] simonwex commented on #191
Updated RACI with username mentions.

[2015-02-02 18:49] OpenMatt commented on #49
@simonwex says: may be light on dev resources?

[2015-02-02 18:59] cadecairos commented on #53
@thisandagain Can you explain more about this item? The adapters were built with de-duplication in mind.

[2015-02-02 19:16] secretrobotron commented on #187
http://book.webmaker.org/index.html

[2015-02-02 19:24] k88hudson commented on #49
@thisandagain yep on it

[2015-02-02 19:29] benrito commented on #80
Should we start sourcing a FAQ for this?

[2015-02-02 19:30] thisandagain commented on #49
Will review and confirm with @k88hudson today.

[2015-02-02 19:35] thisandagain commented on #80
We'll construct the outline / IA tomorrow during the kickoff. I'll holler if we think a FAQ is needed!

[2015-02-02 19:37] flamingspaz commented on #276
It would be your general moderation needs, creating categories for people to post in, styling the site to your needs and if needed, putting users into groups.

That Discourse instance isn't going anywhere for the foreseeable future, but I'm happy to create a different instance if you prefer that.

[2015-02-02 19:42] thisandagain commented on #80
I'll take this one! :cat2:

[2015-02-02 19:44] thisandagain commented on #53
Ah! Good to know... I think I might not quite understand the architecture as well as I thought. @simonwex  and @jbuck had some thoughts on this as well, but the general idea was to deprecate the `angular` adapter and consolidate to a single execution that could be used across platforms / properties. The thinking behind this was that having two different instances (particularly as that instance is

[2015-02-02 19:44] secretrobotron commented on #272
:+1:

[2015-02-02 19:48] thisandagain commented on #165
Moving to after MWC

[2015-02-02 19:52] cadecairos commented on #53
:+1:

[2015-02-02 19:56] ldecoursy commented on #262
Just had call with @adiladiladil @iamjessklein @leahatplay @jvallera to review latest redpen: https://redpen.io/p/nc006adb3a6d09c802

Here are the final edits to complete the design:

- [ ] Need copy for homepage - will do a separate ticket [to come]
- [ ] Pull footer from hivelearningnetworks.org
- [ ] Remove "Our Tools" from homepage
- [ ] Follow-up from above list - block out expertise tags on

[2015-02-02 20:01] ldecoursy opened #295 "Ship copy for Hive Directory homepage"
Draft copy for Hive Directory landing page - see #262

[2015-02-02 20:04] #295 closed

[2015-02-02 20:08] secretrobotron commented on #241
Needs to remain compatible with https://blog.webmaker.org/hack-the-news.
cc @ldecoursy
Can probably test with clubs on Feb 10.

[2015-02-02 20:11] thisandagain commented on #49
After talking, we are going to include some Login / Sign-up refinement here, but we feel having a 3rd dev would be best. Updated original comment.

/cc @simonwex

[2015-02-02 20:14] hannahkane commented on #294
Does this require a dev or is it something I can learn to do (put content into Transifex)?

[2015-02-02 20:18] secretrobotron commented on #294
@hannahkane probably just a bit of @alicoding's time to review what happens on Transifex after Sayak does some work.

[2015-02-02 20:21] hannahkane commented on #294
OK, well, I'll leave this as a P2, though it might come after some of the other P2s. We need granularity within P2s. :)

[2015-02-02 20:23] alicoding commented on #294
Just to do a quick update here. Right now we have 0% progress on Bengali, but for that `index.html` page that we upload last week now we have 100% for **French** translated. We can do some testing live to see how are things being translate using this `html` format and if it is good to upload other files using the same format here as well.

[2015-02-02 21:01] thisandagain commented on #80
@cassiemc If you have a moment, some additional benchmarks from your POV would be most appreciated!

[2015-02-02 21:03] ldecoursy commented on #241
We'd like to start testing this activity https://blog.webmaker.org/hack-the-news (starting Feb. 10 for two weeks) for the Writing the Web section of Clubs curriculum. We have 10-15 community members–teachers, librarians, etc.– who would be testing the activity with learners, to provide us with feedback on the activities themselves as well as the learning outcomes.

Wondering what the timeline is f

[2015-02-02 21:06] cassiemc commented on #238
Re-assigning for design on this to @vazquez as a P2, but please keep me posted!

[2015-02-02 21:08] cassiemc commented on #80
Assigning @iamjessklein for design :)

[2015-02-02 21:10] ldecoursy commented on #291
@davidascher No specific deadline–I put as P2 to keep the work moving if possible. If we need to move to the following heartbeat that works.

[2015-02-02 21:10] cassiemc commented on #209
I added a RACI to the top, with Jess on this for design eye as needed (it's her p2). @OpenMatt @HPaulJohnson Can you guys flesh that out?

[2015-02-02 21:12] cassiemc commented on #287
Adding @flukeout for design resource here as needed (p2)

[2015-02-02 21:13] cassiemc commented on #285
Assigning myself to design here. The timing works out as I should be finished with Call Congress by the time this kicks off.

[2015-02-02 21:24] secretrobotron commented on #241
Aye aye. Thanks @ldecoursy . We're meeting tomorrow to discuss when the build will be done. I'll let you and @thornet know what you can expect.

[2015-02-02 23:28] thisandagain commented on #79
@flukeout http://lmgtfy.com/?q=raci :wink:

[2015-02-02 23:34] amirad commented on #212
Notes from last meeting in our pad: https://teach.etherpad.mozilla.org/trainingQ1Q2
Will be revisiting and flushing out plan during Brooklyn workweek. I've added it to line 267 in the agenda pad https://teach.etherpad.mozilla.org/brooklyn

[2015-02-03 00:09] simonwex commented on #49
@cadecairos can help out once #240 is shipped. @alicoding will need to take over #263 as ScottDowne is PTO this week.

[2015-02-03 00:14] flukeout commented on #79
Oh we've got a grant from the Royal Australian Chemical Institute Incorporated? Sweet!

[2015-02-03 00:45] Melechuga commented on #276
Ok, thanks. I've consulted with other people on the team, and we've decided we'd like our own, separate instance.

[2015-02-03 03:00] chrislarry33 commented on #261
Thanks Cassie

Chris Lawrence
Mozilla Hive Mentor Network
clawrence@mozillafoundation.org
http://www.clawrence.org
@chrislarry33
SKYPE: chrislarry33
Mobile: 718-757-0843
G+ http://bit.ly/gclaw33 <http://bit.ly/gclaw33>

[2015-02-03 04:10] LauraReynal commented on #59
Hey @HPaulJohnson Here is a draft for copy review, Let me know https://m4d.etherpad.mozilla.org/BangladeshReport

[2015-02-03 04:37] LauraReynal commented on #89
Hello Everyone, the India Field report is ready for its first content and copy review.

Notes:
* This time, we took a different approach to share findings and personas. We decided to structure them along the Web Journey that we started for the Kenya Report. In each step of the journey, there are some findings and some personas. ==> Please let me know what you think.

* To make the reviewing/design

[2015-02-03 09:28] dajbelshaw commented on #198
Created repository for this. Will add milestones, issues etc.

https://github.com/mozilla/learning-pathways-whitepaper

Development will continue in Google Doc, but we'll look to port it to this repo once done (as with the [WebLit whitepaper](http://github.com/mozilla/webmaker-whitepaper))

[2015-02-03 11:42] adamlofting commented on #74
CC'ing myself ad this is useful for another conversation I've been having.

[2015-02-03 11:57] adamlofting commented on #80
Metrics for this will be pretty simple, but let's make sure we're using the webmaker.org GA profile, and including event tracking to capture links out to external URLs or download files.

Once dev starts and there are some files to look at, feel free to loop me in or assign the GA instrumentation part to me.

[2015-02-03 14:35] iamjessklein commented on #198
:+1:  let's set up some time to talk about this when you are at a good place.

[2015-02-03 14:50] cassiemc opened #296 "build.webmaker.org not updating with Feb13 milestone"
I think I'm still seeing the old Jan30 milestones on http://build.webmaker.org/now.

[2015-02-03 14:53] dajbelshaw commented on #198
Thanks @iamjessklein! All of the issues are milestone-enabled so have added one to talk with you towards end of the month: https://github.com/mozilla/learning-pathways-whitepaper/issues/26

[2015-02-03 15:00] dajbelshaw commented on #268
Yep, @davidascher I reckon there's a few occasions it could be useful:

* Scheduling meetings
* Getting a sense of who works together where*
* Showing geographic spread of Mozilla to external world

If we reduced the icon sizes, could include Super Mentors / ReMos too? :)

\* More important than you'd think - explains many things. ;)

[2015-02-03 15:06] dajbelshaw commented on #275
Added a **March 13** milestone to this and pinging @iamjessklein. Let's talk at the end of February about how we should approach this. :)

[2015-02-03 15:09] dajbelshaw opened #297 "Design assets for Learning Pathways whitepaper"
Repo here: https://github.com/mozilla/learning-pathways-whitepaper/issues

Suggesting that @iamjessklein might like to spend a heartbeat thinking through ways we can visualise the different types of learning pathways we discuss in the whitepaper *(forthcoming)*

[2015-02-03 15:13] OpenMatt commented on #270
Will discuss draft proposal with Ops Team today.

[2015-02-03 15:51] thisandagain commented on #80
Kickoff meeting schedule for today. Agenda available here:
https://prod.etherpad.mozilla.org/gh80

[2015-02-03 18:06] iamjessklein commented on #80
Note (to myself): go [here](http://webmaker-mobile-guide.mofodev.net/_docs/get_started/important_links.html) to try downloading

[2015-02-03 18:17] secretrobotron commented on #79
:boom:

[2015-02-03 18:29] thisandagain commented on #296
Tracking here: https://github.com/mozilla/build.webmaker.org/issues/34

[2015-02-03 18:29] #296 closed

[2015-02-03 18:43] k88hudson commented on #77
Good article about high performance animations to use as a starting point: http://www.html5rocks.com/en/tutorials/speed/high-performance-animations/

[2015-02-03 18:59] davidascher opened #298 "a"
b

### Audience
c

### Success
d

### Vision
e

### Measurement
f

### RACI

* Phase:
* Owner:
* Decision Maker:
* Design Lead:
* Development Lead:
* Quality Verifier:

[2015-02-03 18:59] #298 closed

[2015-02-03 19:46] OpenMatt commented on #293
CC @ldecoursy

[2015-02-03 19:49] OpenMatt opened #299 "Document & streamline our sales / partner management process"
Make sure we're clear on how we manage key partner relationships.

Driver: @HPaulJohnson
Decision-maker: Claw
Consulted: Geoff
Informed: ??? (Paul: please add)

DRAFT: https://etherpad.mozilla.org/salesintakeprocess

[2015-02-03 19:52] OpenMatt commented on #299
@HPaulJohnson  says:
* Most of the pieces are there today, with a few gaps that need to be addressed and are mostly in progress.
* These include:
- [ ] consistent entry of all leads into salesforce,
- [ ]  a regular sales check-in to review leads and assign account managers, and
- [ ] development of a packaged offering and intake form.

Leave comments and can organize a follow-up to formalize.

[2015-02-03 19:54] OpenMatt commented on #299
next step:  Paul will set up the weekly sales standup to start going through actual opportunities.
*  We could use first meeting to walk through this process and cement the process by running through some real life examples.

[2015-02-03 20:05] secretrobotron commented on #271
Demo script should have some talking points:
- problem we're addressing (what's going on the mobile world and global markets)
- why mozilla is involved
- why we're building an app
- what you can do with the app
- virality
- tada!
- join us

[2015-02-03 20:16] OpenMatt commented on #262
@cassiemc should we move this to Feb 13 milestone?

[2015-02-03 20:18] OpenMatt commented on #230
* We're basically doing this every 2 weeks. So closing.

[2015-02-03 20:18] #230 closed

[2015-02-03 20:44] HPaulJohnson commented on #59
@LauraReynal, @edrushka  and I both reviewed your post and made some edits. There are also a few questions for you. It's all in the etherpad.

Let us know if you need anything else let us know. Otherwise, feel free to post when you feel like it's ready.

[2015-02-03 21:04] secretrobotron commented on #53
Suggested re-scope for pre-MWC:
- l10n (should be fully translated already; status check!)
- bugs: https://github.com/mozilla/webmaker-login-ux/issues
- analytics (document or improve which events to listen to)

@thisandagain @simonwex considering that we're pulling out auth from webmaker-app for MWC, above list look ok for this sprint?

@jbuck will write up another bug to address post-MWC login p

[2015-02-03 21:38] OpenMatt commented on #270
Updated the draft based on Ops Team feedback today

[2015-02-03 21:53] secretrobotron commented on #79
State of the art:
* http://flukeout.com/examples/desk7/
* http://flukeout.com/examples/animations/

_"Collect your jaw from the floor." -Luke_

[2015-02-03 22:13] OpenMatt commented on #293
Update from Dr. Claw

### Dates
favoring Oct 23 - 25 in Ravensbourne.
alternatives are the weekend before and after.

** Decisions we'll make in NYC next week: **
* **Determine the overall structure of MozFest** (the tracks, the main highlights in the agenda, the duration) to determine how we best service our current needs. For example, we may want to extend the festival by a day to have a bigger

[2015-02-03 22:17] LauraReynal commented on #59
Thanks Paul, I added text where you had listed questions !

Thank you everyone for reviews and help :smile:
 The report is live here. http://blog.mozilla.org/m4d/2015/02/03/webmakers-field-research-report-from-kenya/

[2015-02-03 22:17] #59 closed

[2015-02-03 22:26] ldecoursy commented on #241
PS, Hive Pittsburgh is running some activities with X-Ray Goggles through their Digital Corps program - they just posted this today: http://hivepgh.sproutfund.org/blog/2014/12/15/pittsburgh-project-youth-get-hacking/

[2015-02-03 22:55] simonwex commented on #251
@alicoding, this looks like a better first step, building some sample code with it and pairing it with some of the React/l10n research would be good.

@thisandagain, can we prioritize this for post-MWC?

[2015-02-03 22:56] ldecoursy commented on #282
@cassiemc is there a design brief template or any key details we should make sure to address?

[2015-02-03 23:08] flamingspaz commented on #276
So this is almost ready to roll, we just need to get email up and running. What would you like the email address for Discourse to be? eg. discourse@mozilla-advocacy.org/advocacyforum@mozillafoundation.org/whatever

[2015-02-03 23:15] Melechuga commented on #276
Fantastic! Thank you.
We currently use advocacy@mozilla.com; would it be possible to use discourse-advocacy@mozilla.com? If not, discourse@mozilla-advocacy.org is perfect.

[2015-02-03 23:33] OpenMatt commented on #261
* So the specific deliverable here is: by the end of this Heartbeat, @adiladiladil will deliver a completed slide presentation.
* @chrislarry33: I assume you've communicated that to Adil :)

[2015-02-03 23:50] OpenMatt commented on #285
Assigning @hannahkane as decision-maker here.

[2015-02-04 00:05] hannahkane commented on #285
@cassiemc and I have a kick-off meeting scheduled for Wednesday (tomorrow). Will have some initial user testing results to share at that point.

[2015-02-04 00:36] hannahkane commented on #284
Three tests completed so far. Two more scheduled so far. Will assemble notes shortly.

[2015-02-04 00:37] hannahkane commented on #215
Update: will post blog entry tomorrow + update https://wiki.mozilla.org/Webmaker/Badges

[2015-02-04 00:40] davidascher commented on #194
This would be a great thing to publish in http://book.webmaker.org/github_faq.html.

@cassiemc: I haven't seen us be very disciplined about it.  What I can offer is:
 * if we are more disciplined, it's easy to query those bugs and promote them e.g. in a page off of the 'get involved' link of build.webmaker.org.

[2015-02-04 01:16] cassiemc commented on #194
+1, I like this.

[2015-02-04 01:18] cassiemc commented on #282
@ldecoursy I don't have one onhand but could put something together tomorrow. Wondering if @edrushka already has something though?

[2015-02-04 01:19] cassiemc commented on #285
Pumped :)

[2015-02-04 01:28] edrushka commented on #282
No, we don't have a design brief but here are the questions we walk people through on our intake process. Some of them may be useful. https://docs.google.com/a/mozillafoundation.org/spreadsheet/ccc?key=0AorEOP1A0tc0dHl6YVd6dU5Da0pwVlVCaG5uNWNkaVE&usp=drive_web#gid=2

[2015-02-04 01:50] thisandagain commented on #251
Yup! Sounds great. This has come up a few times in the field too (particularly with the Bangladesh reps).

[2015-02-04 01:54] thisandagain commented on #53
Yup! :+1:

[2015-02-04 02:58] ldecoursy commented on #282
Thanks @edrushka! Simona and I started a draft here in the meantime: https://hive.etherpad.mozilla.org/hlnv2

[2015-02-04 13:35] iamjessklein commented on #261
:+1:  yes @adiladiladil is aware of this and is going to do stands with An Me and Mouse as well.

[2015-02-04 13:37] iamjessklein commented on #198
:+1:

[2015-02-04 14:20] ldecoursy commented on #291
Moved to next heartbeat per notes above and since we're still finishing up design and copy.

[2015-02-04 14:57] OpenMatt commented on #286
@simonwex : what did we decide on this?

[2015-02-04 14:57] OpenMatt commented on #285
@hannahkane are there links to wireframes we can look at? can you add them here?

[2015-02-04 15:01] OpenMatt commented on #285
Wireframes being tested:
http://marvl.in/b0ah39
http://marvl.in/11ji896

[2015-02-04 15:03] OpenMatt commented on #270
* next step: Matt will further update draft. And produce draft template for program reviews and giving feedback in program review.

[2015-02-04 15:28] OpenMatt commented on #245
I've updated the blog post list above -- lots of great stuff already published.
* @davidascher: still able to write something on mobile this Heartbeat?
* @hannahkane : can you publish the badges post (with a link to your document, preferably in HTML form for easier reading) this week?

[2015-02-04 15:32] OpenMatt commented on #234
@edrushka we good on this one?

[2015-02-04 15:34] ldecoursy commented on #245
Will have Hive ready to post this week too...

[2015-02-04 15:36] OpenMatt commented on #209
* Updated the RACI above. I think @HPaulJohnson is both the driver and decision-maker for this one.
* I think Geoff is the quality verifier (Paul: update / edit as you see fit if that's wrong)

[2015-02-04 15:37] OpenMatt commented on #263
@simonwex : are we good to go on this one?

[2015-02-04 15:45] OpenMatt commented on #262
* I tried to clean up and edit this ticket a bit based on @ldecoursy's final to-do list.

[2015-02-04 15:53] ldecoursy commented on #262
@adiladiladil copy is here: https://hive.etherpad.mozilla.org/directorycopy

What do you think of using the Connections, Skills icons from below?  Maybe keep the chat icon currently in the mockup for the Discover section:
![hive-platforms_mockup_03](https://cloud.githubusercontent.com/assets/4885898/6043663/cecae6be-ac5b-11e4-8ce5-adac1d687327.png)

[2015-02-04 16:05] #208 closed

[2015-02-04 16:05] OpenMatt commented on #208
shipped to build.webmaker.org

[2015-02-04 16:08] secretrobotron commented on #183
Logos acquired: https://s3.amazonaws.com/cubbyhole.robothaus.org/partner+logos/index.html

[2015-02-04 16:18] OpenMatt commented on #206
This ticket has grown long and a bit confusing. @hannahkane : some (totally optional) suggestions:
* **Groom / prune / edit this ticket.** Delete or edit old stuff that doesn't need to be here. Make it easier to grok. (imo: Don't be bashful about consolidating / pruning / deleting)
* **Schedule another kick-off meeting.** I know we had one last Heartbeat. But could be useful to synch up again. esp

[2015-02-04 16:26] edrushka commented on #234
@OpenMatt Mavis will start the build when Sabrina locks the design, likely today.  We're on track.

[2015-02-04 17:21] cadecairos commented on #240
I have this running on staging as a heroku app:

https://webmaker-firehose-staging.herokuapp.com/

You'll need an admin staging account to access it.

Keyboard Controls:
* left, right - navigate between makes
* spacebar or 'f' - feature/unfeature the make
* delete or 'd' - delete the make

view the featured makes on https://webmaker.mofostaging.net/explore

[2015-02-04 17:51] simonwex commented on #263
Status update:
 * Secreview is in progress; no issues found yet.
 * Domain `call.mozillafoundation.org` has been selected pending legal approval
 * Front-end code is nearing completion with new design input being incorporated
 * Decision was made to ship tool without attempting to complete P2s.
 * Daily stand-ups are at 10:30 PDT in my vidyo room.

[2015-02-04 17:56] davidascher commented on #263
Any ETA on secreview & soonest-available-ship date?

[2015-02-04 18:08] jdotpz commented on #263
Secreview is in progress; no issues found yet, looking more today.  cc @ygjb
Now that we've gotten a domain name, I've opened https://bugzilla.mozilla.org/show_bug.cgi?id=1129518 for legal on the call.mozillafoundation.org domain name usage.

We can have this on production infrastructure as soon as we get this domain transferred to us (https://bugzilla.mozilla.org/show_bug.cgi?id=1129466), and leg

[2015-02-04 18:16] jdotpz commented on #263
https://bugzilla.mozilla.org/show_bug.cgi?id=1129522 is subbed to get people moving.  We really do need EV on this, which makes it rough that we waited until the day of launch to pick a domain name.  This may hose us for launching today.
I've additionally pinged cturra to help

[2015-02-04 18:51] edrushka commented on #191
Update:
FCC made announcement today.
Petition is live here: https://sendto.mozilla.org/page/s/FCCvote-net-neutrality
Advocacy site has been updated with ^ petition: https://advocacy.mozilla.org/
Call congress tool build is being expedited here: https://github.com/MozillaFoundation/plan/issues/263

[2015-02-04 19:07] secretrobotron commented on #267
### *Update*
* @xmatthewx and @toolness will find some time soon to finish off initial prototypes
* @xmatthewx has had some conversations with colleagues to generate some ideas
  * he has recordings and will compile ideas/conclusions from them
* they are having a well-deserved coffee after a no-doubt delicious lunch

[2015-02-04 21:09] OpenMatt commented on #187
Here's an updated Table of Contents: http://pad.webmaker.org/book

But I'm not sure how to implement it.

[2015-02-04 21:30] OpenMatt commented on #187
Just submitted a change request to update the front page, using prose.io (which was amazing)
@davidascher let me know if I did it right

[2015-02-04 21:36] smithisgeneric commented on #206
Ashley needs the Hive Webmaker badge template EPS and Redpen Access to be able to proceed.  As to not list her personal email in the thread, I've emailed @cassiemc re: RedPen and @iamjessklein re: the EPS.

[2015-02-04 21:53] iamjessklein commented on #206
[Here is the correct EPS file.](https://www.dropbox.com/s/rlzo0s4ywdh31cg/hive-badges.eps?dl=0) I am also going to add to the Google Drive. ﻿﻿

[2015-02-04 22:51] davidascher commented on #263
Update:

 - we'll be launching under call.mozilla.org (got ok from jen bertsch and @ygjb).
 - DNS (https://bugzilla.mozilla.org/show_bug.cgi?id=1129674) and SSL (https://bugzilla.mozilla.org/show_bug.cgi?id=1129672) bugs on file

AFAIK, still some design tweaks & QA to go, but at least the domain question is settled.

[2015-02-04 23:27] cassiemc opened #300 "Put together a design brief template"
Some folks have requested a sample design brief w/ standardized questions. I put something together here: https://docs.google.com/a/mozilla.com/document/d/1E6lhyYjty_eNUo2xVAKcde6h7Di2zI_iShcIcmlz9aw/edit?usp=sharing

Thoughts @iamjessklein @xmatthewx @flukeout @vazquez @sabrinang @davidascher – anything you would take away or add?

[2015-02-04 23:29] cassiemc commented on #282
@ldecoursy @edrushka Both those documents are great already, thanks for sharing. It was helpful in whittling down a few more questions out of my tired brain. No doubt the other designers will have feedback on this (I filed a new issue here: https://github.com/MozillaFoundation/plan/issues/300) but in the meantime feel free to use this to supplement your brief (but certainly don't feel chained by i

[2015-02-04 23:58] hannahkane commented on #275
Happy to have this in the March 13 milestone for now, though when that heartbeat planning meeting comes up, we'll have to look at this in the context of the other work that's in the queue and resources available.

In the meantime, I think we can "groom" this further via the Web Lit Map meetings, so that when it does get loaded into a heartbeat it's clear and scoped.

[2015-02-05 00:04] hannahkane opened #301 "Optimize curriculum for mobile"
The new template doesn't look snazzy on mobile, buttons move around etc. This issue is to make our curriculum repo mobile optimized :)

### RACI
* Phase: gathering requirements
* Owner: @hannahkane
* Decision Maker:
* Design Lead: TBD
* Development Lead: TBD
* Quality Verifier: @cassiemc

[2015-02-05 00:15] OpenMatt commented on #187
That worked. Updating images with sparkleshare is not quite working for me yet.
@davidascher : I get this:
https://dl.dropboxusercontent.com/spa/6c38yp3crbxni5b/f2hhrq6-.png
* I wonder if I don't have the right permissions set for that repo?

[2015-02-05 01:24] hannahkane commented on #285
Moved kick-off meeting to Friday so @davidascher can attend.

User testing results started here, though there's one other to add so far: http://mzl.la/1zhj6UQ

[2015-02-05 01:26] hannahkane commented on #284
Four tests complete. Notes started here: http://mzl.la/1zhj6UQ

[2015-02-05 01:27] hannahkane commented on #245
Badges blog post: http://hannahgrams.com/2015/02/04/building-better-badge-tooling/

[2015-02-05 01:29] hannahkane commented on #215
Wiki is udpated: https://wiki.mozilla.org/Webmaker/Badges

Work is inherently ongoing, but I'm closing this ticket.

[2015-02-05 01:29] #215 closed

[2015-02-05 01:34] cassiemc commented on #275
sounds like a plan. and @dajbelshaw if you want to walk through how the scoping process works i am more than happy to jump on vidyo with you at some point! opaque isn't ideal and you can probably help us make it better :)

[2015-02-05 02:21] jdotpz commented on #263
All infra and certs are ready.  I have tested the cloudfront hosting, and am turning it off until we go live.  Please let me know at least an hour prior to go-live that we'll be wanting to move on this, and I will re-enable the distribution.

Thanks!

[2015-02-05 10:57] dajbelshaw commented on #275
That would actually be awesome, @cassiemc. Will send you and @hannahkane a Vidyo meeting request for next week - let me know if it works for you. :)

[2015-02-05 12:48] iamjessklein commented on #275
:+1:  nice!!!

[2015-02-05 14:35] adamlofting commented on #290
Noted :smile:
I'll investigate who has data for this, and what it looks like.

[2015-02-05 15:23] jdotpz commented on #76
Good day @toolness
Can you please let me know what we should be putting here?'
*export BLITLINE_APPLICATION_ID='your blitline application id' *

[2015-02-05 15:28] thisandagain commented on #89
@secretrobotron could we get an edit pass on the doc from you this week?

[2015-02-05 15:49] cassiemc commented on #275
yes, thanks for setting that up @dajbelshaw, will be there!

[2015-02-05 15:49] davidascher commented on #76
http://www.blitline.com/docs/pricing

JP: do you want me to create an account w/ the CC data or do you want to
manage that?

[2015-02-05 15:59] jdotpz commented on #76
For the staging version and testing, I'll keep it to a free account.  Then we should probably decide which of the two paid options we want, and I'll get the credit card info added.

[2015-02-05 16:46] davidascher commented on #76
We want the cheap one as we don't want imagga.

[2015-02-05 16:52] davidascher commented on #187
@openmatt for TOC look at SUMMARY.md and let me know if that doesn't make
sense.

[2015-02-05 17:12] simonwex commented on #263
@alicoding has made good progress on the front-end. Still outstanding:
* Speech bubble needs either a design asset or some css-trickery for the top triangle
* We need an appropriately-sized twitter logo
* Copy needs updating
* Form validation needs to happen on the phone number, this is possibly the solution: ( https://github.com/mozilla/call-congress-net-neutrality/issues/2 )

[2015-02-05 17:13] jdotpz commented on #76
Staging is up on screenshot.mofostaging.net (DNS will take ~60 seconds)

[2015-02-05 17:39] simonwex commented on #237
@jdotpz could you explain why Adam's code needs to live in mofosecure?

[2015-02-05 17:45] secretrobotron commented on #267
### *Update*
* @xmatthewx needs someone to poke at the current prototype; wants it to become a real add-on
  * test interaction: found content -> making a thing
  * @davidascher to check out http://xmatthewx.github.io/webmaker-addons/ to see if it's on right track
  * http://xmatthewx.github.io/webmaker-addons/reference.html
  * might be worth pulling @flukeout's code in because it's pretty nice (

[2015-02-05 17:50] jdotpz commented on #237
It has access to all of the data, including some PII (email addresses, if they've signed up on specific forms/petitions), and we will likely be bringing payment info (no stripe data) into this integration database that Adam's code talks to.

[2015-02-05 18:01] simonwex commented on #237
We hold email data outside of the mofosecure environment. Can we stand this up on our normal gear and transition in when (and if) we need to handle payment info?

[2015-02-05 18:08] jdotpz commented on #237
That's not much different than the current setup, but sure.

[2015-02-05 18:21] cassiemc commented on #263
Speech bubble corner assets are here if it's not reproducable in css: https://www.dropbox.com/sh/67swkuvwhnjq4sz/AAATo830CWem9tPeIESsvBAga?dl=0
Twitter logo is font awesome: http://fortawesome.github.io/Font-Awesome/icon/twitter/

[2015-02-05 18:25] cassiemc commented on #263
Twilio logo! That I can do. Coming up.

[2015-02-05 18:38] xmatthewx commented on #300
I added some comments and an alternative narrative below. Is this for in-house MoFo projects?

[2015-02-05 18:42] xmatthewx commented on #267
a marketing benchmark worth discussing. watch the video: https://thegrid.io/

[2015-02-05 18:45] jdotpz commented on #263
@adamlofting has opened https://bugzilla.mozilla.org/show_bug.cgi?id=1129929 via https://github.com/MozillaFoundation/movement-building/issues/11#issuecomment-71997508

[2015-02-05 19:49] hannahkane commented on #206
OK, I've cleaned up this ticket, updated the requirements in the description, and moved all documentation (including eps files of badge templates) to https://wiki.mozilla.org/Webmaker/Badges.

Next steps:

- [ ] @smithisgeneric to report on Ashley's progress with the badge design
- [ ] @cassiemc to assign a designer (assuming it will be @iamjessklein, but you know what they say about assuming) and

[2015-02-05 20:45] cassiemc commented on #263
Twillio logo now also here: https://www.dropbox.com/sh/67swkuvwhnjq4sz/AAATo830CWem9tPeIESsvBAga?dl=0 @alicoding @simonwex Was there anything else you needed?

[2015-02-05 21:07] cassiemc commented on #206
Thanks for clarifying the scope of work @hannahkane! Somehow the 'landing page' request escaped me, I thought this was just designing the badges themselves.

So, I can confirm @iamjessklein as designer for the page, and I can be quality for this – perhaps we need the actual badge designs as a subticket, to assign ashley there.

[2015-02-05 21:11] iamjessklein commented on #300
:+1: me too

[2015-02-05 21:21] cassiemc commented on #300
You guys are amazing! Love all the suggestions and the cleaned up narrative mw. Yes it's for internal use. I'd like to make it optional/helpful as opposed to an upfront requirement, though it should be helpful to designers as we enter kickoff meetings. I think I'll clean this up then file to add it to build.webmaker.org, and/or put it in the resources drive.

[2015-02-05 21:26] secretrobotron commented on #79
### *Update*
* @flukeout made some great stuff
  * animations: http://flukeout.com/examples/animations/
  * tiles: http://flukeout.com/examples/desk7/
* combining mobile and desktop is going to be difficult
  * @flukeout to make some wireframes and do a bit of testing wrt screen resolution and tile size

[2015-02-05 22:20] cassiemc commented on #79
omg, I love the templates @flukeout! Super fun and make me want to start making right away. Nice work.

Luke and I 1:1'd today and I wanted to acknowledge that we haven't tackled how the Webmaker App and this New Tool™ coalesce into a unified Webmaker UX. Not saying we need to solve for this now in this heartbeat by any means, but we should keep it in mind before Luke gets lost down the animation-

[2015-02-05 22:28] hannahkane opened #302 "Design three Hive Toronto Privacy badges"
Planning ticket: https://github.com/MozillaFoundation/plan/issues/206

## RACI

* Phase: Design
* Owner: @hannahkane
* Decision Maker: @smithisgeneric
* Design Lead: Ashley (contractor)
* Development Lead: NA
* Quality Verifier: @cassiemc

Deliverables:
- [ ] "Coach" badge
- [ ] "IP Tracer" badge
- [ ] "Data Trail" badge

As per #206, Ashley, a contractor, will design three badges for the Hive Tor

[2015-02-05 22:29] hannahkane commented on #302
Assigning this to @smithisgeneric who is working with Ashley. Feel free to change that if Ashley is working in github.

[2015-02-05 22:31] hannahkane commented on #206
Thanks, @cassiemc . Added #302 to manage the badge design.

[2015-02-05 22:44] simonwex commented on #240
I did a QA pass, the first round of issues filed here:

https://github.com/mozilla/webmaker-firehose/issues?q=is%3Aopen+is%3Aissue+milestone%3A%22February+13%22

[2015-02-05 23:14] simonwex commented on #263
Doing QA, filing boogs here: https://github.com/mozilla/call-congress-net-neutrality/issues/5

[2015-02-05 23:28] simonwex commented on #263
@valianttry since we're not enabling the daily-caller functionality, we need to re-record at least the intro.

The lovely @rubbingalcoholic has offered to re-record the greeting, we need to get him a script. @valianttry can you help write that?

[2015-02-06 00:35] valianttry commented on #263
@rubbingalcoholic you are a man of many talents. I assumed we needed to replace this file:
jan14th_msg_intro.mp3

I didn't hear any others that needed to be updated, but please flag any and I'll write the script asap.

Here's a new script:

"Hi this is Jeff on behalf of Mozilla.
Thanks for making a stand with us to protect net neutrality. Right now every call counts.
Making a call is really easy.

[2015-02-06 00:40] jdotpz commented on #263
* During this call, we will connect you to the offices of your
US Senators and Representative followed by an FCC commissioner in just a second.*

We're actually just calling the FCC this round, afaik.  That's what is in the campaigns.yaml, at least.

Maybe then...
**In just a second, we will connect you to the offices of an FCC commissioner.**

[2015-02-06 00:42] jdotpz commented on #240
From wex: **@jdotpz, where would you like tickets filed for deploying this thing to production?*
https://github.com/MozillaFoundation/mofo-devops por favor!  Thanks!

[2015-02-06 00:50] valianttry commented on #263
@jdotpz the calls should be to Senate, House, and FCC. That's how the battleforthenet version works, and the call scripts all indicate as much in-call.

[2015-02-06 01:06] jdotpz commented on #263
OK, well that is definitely not how it is currently set.

https://github.com/mozilla/call-congress-net-neutrality/blob/master/call-congress.js#L62 is set to use fcc-blanket.

That is this campaign: https://github.com/mozilla/call-congress/blob/master/data/campaigns.yaml#L315
https://github.com/mozilla/call-congress/blob/master/data/campaigns.yaml#L327 can likely be changed to make that happen.

[2015-02-06 01:58] simonwex commented on #263
The current development version can be viewed here: https://mozilla.github.io/call-congress-net-neutrality/

[2015-02-06 03:43] ldecoursy commented on #262
@iamjessklein @adiladiladil I think the latest redpen looked good, so only remaining change is to decide on icons and add in draft copy per above. Should we try to check in quickly on Friday?

[2015-02-06 13:57] iamjessklein commented on #262
@ldecoursy agreed - I would decouple the copy from this ticket so that we can finish the design theme-ing and then handle the copy edits and such on it's own.

[2015-02-06 14:28] secretrobotron commented on #79
Thanks @cassiemc. I'll let @flukeout flesh out an answer, but we spoke a little bit about that topic yesterday. Your Break-it-Apart™ idea is compelling, and it curbs some of my worry about porting that to mobile (although, it would be good to test @flukeout's work on FFOS/Android asap).

At the very least, in this heartbeat, we want to have some framing for how we get this experience onto mobile.

[2015-02-06 15:14] iamjessklein commented on #261
Update:
Slide deck [draft 1](https://www.dropbox.com/s/scptj9ld54pmm65/Gates%20Slide%20Deck.pdf?dl=0)
deck is provided [here](https://etherpad.mozilla.org/gates-slidedeck-feedback)
![screen shot 2015-02-06 at 10 12 16 am](https://cloud.githubusercontent.com/assets/535012/6081590/d52eab1a-ade8-11e4-8020-692093ae306f.png)
![screen shot 2015-02-06 at 10 12 51 am](https://cloud.githubusercontent.com/a

[2015-02-06 15:17] adamlofting commented on #263
We're ready to add GA :chart_with_upwards_trend: code now, and I've written a spec within that ticket: https://github.com/MozillaFoundation/movement-building/issues/11

[2015-02-06 16:26] thisandagain commented on #79
Will follow-up in 1:1s today, but my hope is that this line of discussion is the focus for our work week.

[2015-02-06 16:42] jdotpz commented on #263
@valianttry we need a finalized script pretty quick here, think we can get this to @rubbingalcoholic this morning?  @wex and @valianttry we need a final call and testing on the bit to add Congressional calls to this mix, again it would be good to have that in this morning so we can test the flag that turns this on and address issues that pop up.

[2015-02-06 18:34] jdotpz commented on #263
Sent Jeff this (removed the 'in just a second' bit since we say 'In a moment' at the beginning of that sentence)

*"Hi this is Jeff on behalf of Mozilla.
Thanks for making a stand with us to protect net neutrality. Right now every call counts.
Making a call is really easy. During this call, we will connect you to the offices of your
US Senators and Representative followed by an FCC commissioner in

[2015-02-06 18:45] jdotpz commented on #263
Our functionality was different because we did not have the latest code, thus the disconnect on desired functionality vs reality on our hosted version.

We also need to update which campaign we use.  I'll file that.

[2015-02-06 18:57] secretrobotron commented on #74
I'm going to close this bug now that build.webmaker.org/audience is up. We can refine the design and content in future heartbeats.

[2015-02-06 18:57] #74 closed

[2015-02-06 18:58] secretrobotron commented on #271
Got some phones, and script is underway. Just waiting on @benrito to help craft some talking points.

[2015-02-06 19:01] cassiemc commented on #285
@hannahkane Is there a new information architecture I can see somewhere? Should we be filing individual tickets for this meta bug somewhere else?

[2015-02-06 19:01] secretrobotron commented on #271
jlin made this nice tutorial for flashing the phones: https://gist.github.com/jlin/f60a7a6c0b75c2c9aee9

[2015-02-06 20:36] jdotpz commented on #263
We're currently working to resolve this bug, causing the application to tell the caller there was an error after completing the first call.

http://pastebin.mozilla.org/8586621

[2015-02-06 20:53] OpenMatt commented on #187
@hannahkane @ldecoursy here's how to edit these pages
http://prose.io/#MozillaFoundation/book.webmaker.org

[2015-02-06 20:59] jdotpz commented on #263
Bug resolved, 2nd call feature works beautifully now.

[2015-02-06 21:14] cassiemc opened #303 "Improve demo calls"
People should feel engaged and inspired by seeing each other's work at demos. It should be fun! Let's come up with some ways to make it even more so than it already is.

Basic improvement ideas on the table:
* Time limit for each demo, circa 5min
* Rotate facilitation
* keep longform discussion/ Q&A to other forums to minimize the "lull" in presentations

Some other possibilities:
* Could try diff

[2015-02-06 22:45] cassiemc commented on #285
I filed a bunch of new issues here – https://github.com/MozillaFoundation/hannah-barbera/issues
Maybe we can clarify the scope of this ticket on monday? In the meantime, plenty for me to move on!

[2015-02-07 00:05] hannahkane commented on #284
This round of tests is complete, so I'm going to close this ticket. Results/analysis here: http://mzl.la/1zhj6UQ

[2015-02-07 00:05] #284 closed

[2015-02-07 00:06] hannahkane commented on #294
Hey @alicoding - is there an update on this? I'm not quite sure what's needed to move this along. Please let me know if I can help.

[2015-02-07 00:09] alicoding commented on #294
I think the next step here is for us to take what we have on Transifex and test it on the site to be able to conclude here.

[2015-02-07 00:19] secretrobotron commented on #294
@alicoding how can we do that? Just take the file from transifex (assuming it gives you a new html file?) and just put it in our github repo?

[2015-02-07 00:20] secretrobotron commented on #271
Having a bit of trouble with package-creation for the FFOS version. @k88hudson is looking into it. Should be able to just flash it onto the phone with dev tools if needed.

[2015-02-07 00:21] alicoding commented on #294
Yep there is an option to download the file then just put them in the repo :)

[2015-02-07 00:23] secretrobotron commented on #294
Nice! Let's do that on Monday.

[2015-02-07 18:59] davidascher commented on #303
testing (ignore)

[2015-02-07 19:00] davidascher commented on #303
asd

[2015-02-07 22:39] davidascher opened #304 "a"
b

### Audience
c

### Success
d

### Vision
e

### Measurement
f

### Roles

* Phase:
* Driver:
* Decision Maker:
* Design Lead:
* Development Lead:
* Quality Verifier:

[2015-02-07 22:40] #304 closed

[2015-02-07 22:40] davidascher opened #305 "a"
b

### Audience
c

### Success
d

### Vision
e

### Measurement
f

### Roles

* Phase:
* Driver:
* Decision Maker:
* Design Lead:
* Development Lead:
* Quality Verifier:

[2015-02-07 22:43] #305 closed

[2015-02-07 22:44] davidascher opened #306 "a"
b

### Audience
c

### Success
d

### Vision
e

### Measurement
f

### Roles

* Phase:
* Driver:
* Decision Maker:
* Design Lead:
* Development Lead:
* Quality Verifier:

[2015-02-07 22:45] davidascher opened #307 "asdas"

[2015-02-07 22:46] #307 closed

[2015-02-07 22:46] davidascher opened #308 "asxas"

[2015-02-07 22:48] #308 closed

[2015-02-07 23:13] davidascher opened #309 "a"
b

### Audience
c

### Success
d

### Vision
e

### Measurement
f

### Roles
* Phase:
* Driver:
* Decision Maker: @acabunoc

* Design Lead:
* Development Lead:
* Quality Verifier:

[2015-02-07 23:13] #309 closed

[2015-02-07 23:14] davidascher opened #310 "xasx"

[2015-02-07 23:33] davidascher commented on #310
asdas

[2015-02-07 23:33] #310 closed

[2015-02-07 23:33] #306 closed

[2015-02-07 23:37] davidascher opened #311 "a"
b

### Audience
c

### Success
d

### Vision
e

### Measurement
f

### Roles
* Phase:
* Driver: @davidascher
* Decision Maker: @davidascher

* Design Lead:
* Development Lead:
* Quality Verifier:

[2015-02-07 23:40] davidascher opened #312 "a"
b

### Audience
c

### Success
d

### Vision
e

### Measurement
f

### Roles
* Phase:
* Driver: @davidascher
* Decision Maker: @davidascher

* Design Lead:
* Development Lead:
* Quality Verifier:

[2015-02-07 23:40] davidascher opened #313 "a"
b

### Audience
c

### Success
d

### Vision
e

### Measurement
f

### Roles
* Phase:
* Driver: @davidascher
* Decision Maker: @davidascher

* Design Lead:
* Development Lead:
* Quality Verifier:

[2015-02-07 23:42] #313 closed

[2015-02-07 23:42] davidascher opened #314 "a"
b

### Audience
c

### Success
d

### Vision
e

### Measurement
f

### Roles
* Phase:
* Driver: @davidascher
* Decision Maker: @davidascher
* Design Lead:
* Development Lead:
* Quality Verifier:

[2015-02-07 23:43] davidascher opened #315 "a"
b

### Audience
c

### Success
d

### Vision
e

### Measurement
f

### Roles
 * Phase:
 * Driver: @davidascher
 * Decision Maker: @davidascher
 * Design Lead:
 * Development Lead:
 * Quality Verifier:

[2015-02-07 23:49] davidascher opened #316 "a"
b

### Audience
c

### Success
d

### Vision
e

### Measurement
f

### Roles
 * Phase:
 * Driver: @davidascher
 * Decision Maker: @davidascher
 * Design Lead:
 * Development Lead:
 * Quality Verifier:

[2015-02-07 23:50] #316 closed

[2015-02-07 23:51] davidascher opened #317 "a"
b

### Audience
c

### Success
d

### Vision
e

### Measurement
f

### Roles
 * Phase:
 * Driver: @davidascher
 * Decision Maker: @davidascher
 * Design Lead:
 * Development Lead:
 * Quality Verifier:

[2015-02-07 23:51] #317 closed

[2015-02-07 23:51] davidascher opened #318 "a"
b

### Audience
c

### Success
d

### Vision
e

### Measurement
f

### Roles
 * Phase:
 * Driver: @davidascher
 * Decision Maker: @davidascher
 * Design Lead:
 * Development Lead:
 * Quality Verifier:

[2015-02-07 23:52] davidascher opened #319 "a"
b

### Audience
c

### Success
d

### Vision
e

### Measurement
f

### Roles
 * Phase:
 * Driver: @davidascher
 * Decision Maker: @davidascher
 * Design Lead:
 * Development Lead:
 * Quality Verifier:

[2015-02-07 23:53] davidascher opened #320 "a"
b

### Audience
c

### Success
d

### Vision
e

### Measurement
f

### Roles
 * Phase:
 * Driver: @davidascher
 * Decision Maker: @davidascher
 * Design Lead:
 * Development Lead:
 * Quality Verifier:

[2015-02-07 23:53] davidascher opened #321 "a"
b

### Audience
c

### Success
d

### Vision
e

### Measurement
f

### Roles
 * Phase:
 * Driver: @davidascher
 * Decision Maker: @davidascher
 * Design Lead:
 * Development Lead:
 * Quality Verifier:

[2015-02-07 23:54] davidascher opened #322 "a"
b

### Audience
c

### Success
d

### Vision
e

### Measurement
f

### Roles
 * Phase:
 * Driver: @davidascher
 * Decision Maker: @davidascher
 * Design Lead:
 * Development Lead:
 * Quality Verifier:

[2015-02-07 23:54] davidascher opened #323 "a"
b

### Audience
c

### Success
d

### Vision
e

### Measurement
f

### Roles
 * Phase:
 * Driver: @davidascher
 * Decision Maker: @davidascher
 * Design Lead:
 * Development Lead:
 * Quality Verifier:

[2015-02-07 23:55] davidascher opened #324 "a"
b

### Audience
c

### Success
d

### Vision
e

### Measurement
f

### Roles
 * Phase:
 * Driver: @davidascher
 * Decision Maker: @davidascher
 * Design Lead:
 * Development Lead:
 * Quality Verifier:

[2015-02-07 23:55] davidascher opened #325 "a"
b

### Audience
c

### Success
d

### Vision
e

### Measurement
f

### Roles
 * Phase:
 * Driver: @davidascher
 * Decision Maker: @davidascher
 * Design Lead:
 * Development Lead:
 * Quality Verifier:

[2015-02-07 23:56] davidascher opened #326 "a"
b

### Audience
c

### Success
d

### Vision
e

### Measurement
f

### Roles
 * Phase:
 * Driver: @davidascher
 * Decision Maker: @davidascher
 * Design Lead:
 * Development Lead:
 * Quality Verifier:

[2015-02-07 23:57] davidascher opened #327 "a"
b

### Audience
c

### Success
d

### Vision
e

### Measurement
f

### Roles
 * Phase:
 * Driver: @davidascher
 * Decision Maker: @davidascher
 * Design Lead:
 * Development Lead:
 * Quality Verifier:

[2015-02-07 23:57] davidascher opened #328 "a"
b

### Audience
c

### Success
d

### Vision
e

### Measurement
f

### Roles
 * Phase:
 * Driver: @davidascher
 * Decision Maker: @davidascher
 * Design Lead:
 * Development Lead:
 * Quality Verifier:

[2015-02-07 23:57] #328 closed

[2015-02-07 23:58] #311 closed

[2015-02-07 23:58] #312 closed

[2015-02-07 23:58] #314 closed

[2015-02-07 23:58] #315 closed

[2015-02-07 23:58] #318 closed

[2015-02-07 23:58] #319 closed

[2015-02-07 23:58] #320 closed

[2015-02-07 23:58] #321 closed

[2015-02-07 23:58] #322 closed

[2015-02-07 23:58] #323 closed

[2015-02-07 23:58] #324 closed

[2015-02-07 23:58] #325 closed

[2015-02-07 23:58] #326 closed

[2015-02-07 23:58] #327 closed

[2015-02-07 23:58] davidascher opened #329 "a"
b

### Audience
c

### Success
d

### Vision
e

### Measurement
f

### Roles
 * Phase:
 * Driver: @davidascher
 * Decision Maker: @davidascher
 * Design Lead:
 * Development Lead:
 * Quality Verifier:

[2015-02-07 23:59] davidascher opened #330 "a"
b

### Audience
c

### Success
d

### Vision
e

### Measurement
f

### Roles
 * Phase:
 * Driver: @davidascher
 * Decision Maker: someone
 * Design Lead:
 * Development Lead:
 * Quality Verifier:

[2015-02-08 00:00] davidascher commented on #330
force update.

[2015-02-08 00:00] #330 closed

[2015-02-08 00:01] #329 closed

[2015-02-08 02:39] davidascher opened #331 "a"
b

### Audience
c

### Success
d

### Vision
e

### Measurement
f

### Roles
 * Phase:
 * Driver: @davidascher
 * Decision Maker: @davidascher
 * Design Lead:
 * Development Lead:
 * Quality Verifier:

[2015-02-08 02:39] #331 closed

[2015-02-08 02:57] davidascher opened #332 "aasdasd"
cc

### Audience
ddd

### Success
f

### Vision
easd

### Measurement
asd

### Roles
 * Phase:
 * Driver: @davidascher
 * Decision Maker: @davidascher
 * Design Lead:
 * Development Lead:
 * Quality Verifier:

[2015-02-08 02:57] #332 closed

[2015-02-09 11:26] dajbelshaw opened #333 "Update Makerstrap for Web Literacy Map v1.5"
Makerstrap (https://mozilla.github.io/makerstrap/demo/#/) currently allocates colours to competencies from the Web Literacy Map v1.1. These competencies are changing slightly with Web Literacy Map v1.5, so Makerstrap will need to be updated (see http://literaci.es/redefining-weblitmap-skills)

### Audience
Everyone using Makerstrap.

### Success
Makerstrap reflects the latest version of the Web Li

[2015-02-09 14:14] smithisgeneric commented on #206
I made a v1 page of copy that could be the landing page for the badges https://docs.google.com/document/d/1bPJl4ch63JOQwmq2K3CjUdjkfzo3ajZKbzIYNqEdFsI/edit?usp=sharing (based on a previous example I found).  I can't find a good example of a "claims" page to write up copy.

I think we need a dev assigned here as part of the process so that the functionality of the pages can be determined along with

[2015-02-09 16:07] xmatthewx opened #334 "Redpen :("
Given our struggles with Redpen, the design team decided to try InVision for the next heartbeat. While Redpen has worked well to encourage feedback from a wide range of staff, it obviously falls short in other ways.

I'd like to send a note to the makers of Redpen with suggestions. Please add your thoughts below.

@cassiemc @vazquez @iamjessklein @flukeout @thisandagain @sabrinang

[2015-02-09 16:07] xmatthewx commented on #334
Redpen feedback
 - reduce lag and jitters
 - view all comments at once
 - set status on a project to disable comments
 - clear unread comments
 - view versions without leaving the tab

[2015-02-09 16:10] cassiemc commented on #334
* archiving
* built-in status indicators to manage feedback (same as 'set status to disable comments' i guess)

[2015-02-09 16:16] hannahkane commented on #206
+1 to needing a dev. @simonwex, can you please assign someone to this ticket?

Changed this to a p1 to reflect the external deadline.

[2015-02-09 16:16] hannahkane commented on #302
Hey, @smithisgeneric, can you update this ticket? Has Ashley had a chance to make progress on this?

[2015-02-09 16:42] smithisgeneric commented on #302
A revised Coach badge (whistle icon) is expected today and the IP Address Tracer (magnifying glass with numbers and possibly a new alternative) tomorrow.  The redpen comments were positive for the data trail timeline (dotted path icon).  For the team's awareness Ashley is working part-time hours on this only and is generally occupied 9-5 EST.

[2015-02-09 16:53] vazquez commented on #334
- Limited ability to organize designs effectively
- Showing how hover and click states look and feel

[2015-02-09 17:15] jgmac1106 commented on #267
This was feedback I think on the earlier ticket about the image editing prototype wire frame. I really like it.

Late on the feedback but just wanted to add in my two cents:

- My primary way for doing quick image edits is either Skitch (though I use it less now that it kruffs up my Evernote)
- Snag-It for Chrome (both the extension and app)

These are more for quick tutorials. Snag-It for Chrome

[2015-02-09 17:20] iamjessklein commented on #80
I am building off [this wireframe](https://redpen.io/mcb6c3cdc3d50d6950) and will provide updates on the mockups. The basic flow that I am proposing is CTA > Design > Build > Share

[2015-02-09 17:24] iamjessklein commented on #334
* Create folders within projects
* versioning
* Better ability to order images

[2015-02-09 17:40] thisandagain commented on #334
- Fix performance issues (seems to be related to notifications)
- Fix layout issues (particularly when navigating directly to a design)
- Click to clear all notifications
- Ability to disable comments
- Ability to archive a design / project

[2015-02-09 17:41] secretrobotron opened #335 "Refine MakerFox prototypes"
Continuing work from #267 to create 5 sketches/prototypes. Should have 5 crisp ideas/documents/prototypes.

The primary deliverable is assets for a presentation Monday, Feb 23rd that will serve to inspire those in the MoCo Steering committee meeting.

#### Deliverables

* [x] Prototype developed in #267 made into a video/animation to be included in presentation on Monday MoCo Steering meeting
* [x

[2015-02-09 17:41] secretrobotron commented on #267
Filed follow-up in #335.

[2015-02-09 18:15] davidascher commented on #334
* better URLs
* more informative emails.

[2015-02-09 18:16] davidascher commented on #334
* better mobile view

[2015-02-09 18:16] k88hudson commented on #334
+1 to performance issues/layout issues

[2015-02-09 19:45] jdotpz commented on #237
Infrastructure is all setup.

[2015-02-09 22:25] simonwex commented on #206
@hannahkane could you schedule a kickoff for this for tomorrow? @ScottDowne is going to help out.

[2015-02-09 22:39] xmatthewx commented on #334
Ok. Feedback shared. We can try InVision next week and discuss in Toronto.

[2015-02-09 22:39] #334 closed

[2015-02-09 22:41] ldecoursy commented on #282
@cassiemc thanks for the additional questions/framing doc. Here's the updated version of the design brief: https://hive.etherpad.mozilla.org/hlnv2

[2015-02-10 00:38] Melechuga commented on #276
Hi @flamingspaz - Just wondering how this is going, and when we can start pointing people at it. Thanks.

[2015-02-10 15:10] iamjessklein commented on #206
If this is shifting to a P1 and is being delivered on February 13 (in 3 days...) I am not confident that I can deliver on it as I am working on another P1 in this heartbeat.

[2015-02-10 15:38] OpenMatt commented on #302
@smithisgeneric: is this accurate?

1) "Coach" badge -- updated design expected Feb 10
2) "IP Tracer" badge -- updated design expected Feb 11
3) "Data Trail" badge -- design complete

[2015-02-10 15:39] OpenMatt commented on #206
@iamjessklein I can help out as interim driver while @hannahkane is at NY work week. Working on getting up to speed now.

[2015-02-10 16:03] iamjessklein commented on #80
Here are three options for the primary cta panel - please drop feedback [here](https://redpen.io/coa402c9d9d63f3489)

![topscreenoptions](https://cloud.githubusercontent.com/assets/535012/6130651/5c88f65a-b114-11e4-93e3-b5e9e8543cc9.png)

[2015-02-10 16:04] OpenMatt commented on #206
* Added a separate sub-ticket for the Landing Page work:
https://github.com/MozillaFoundation/Mozilla-Learning/issues/10

[2015-02-10 16:14] benrito commented on #80
Loving the aesthetic!

When thinking about marketing and copy, we should make sure to pick stuff that will localize well.

Also, would recommend reading @laurad reports to understand the memes that will work well across cultures (creating less cool than sharing, remix can be considered theft, etc)

Because of the feedback and contribution-seeking parts objective of the beta, looking forward to see

[2015-02-10 16:20] smithisgeneric commented on #302
Yes, you've got it @OpenMatt, design review then needed

[2015-02-10 16:40] #249 closed

[2015-02-10 17:35] thisandagain commented on #80
Agreed re: messaging concerns. Focusing on "sharing" is likely our best course based on findings-to-date. @HPaulJohnson and @edrushka could we get some support with a headline today?

@cassiemc and @vazquez I'm concerned about the colors, typography, and illustration styles here as they feel foreign to the rest of application. The clouds, hands, hand-drawn type, use of OpenSans, and colors are all

[2015-02-10 17:38] iamjessklein commented on #80
@vasquez @cassiemc  - is there a style guide for the app? In terms of fonts etc. I was using the fonts and colors listed [here](http://mozilla.github.io/makerstrap/demo/#/),  the patterns that are on the current Webmaker landing and the illustrations on the Mobile opportunity site (minus the clouds which can be polished/redesigned if we go in that direction).

[2015-02-10 17:44] vazquez commented on #80
The mobile style guide differs from the Webmaker Brand one. As an example, the app uses Fira Sans as the app-wide font. I started a style guide this morning, but it's going to take a little bit of time get done.
@iamjessklein, for now the MASTER.sketch file that I shared with you has all the styles (albeit disorganized which is why I started creating the UI toolkit)

[2015-02-10 17:48] cassiemc commented on #80
Yep, @iamjessklein has the brand challenge of uniting Webmaker and Webmaker app styles, a little above and beyond this ticket's call of duty, but probably just a few tweaks to fix 'er up. I'll leave @iamjessklein and @vazquez to connect and will check in end of day to see if I'm needed.

[2015-02-10 17:50] vazquez commented on #80
Sharing what I have so far for the UI Toolkit: https://www.dropbox.com/s/1bduiieaop67jca/UI%20Toolkit.sketch?dl=0

[2015-02-10 18:14] flamingspaz commented on #276
Apologies for the wait! We can only get @mozillafoundation.org addresses, would discourse-advocacy@mozillafoundation.org work for you?

[2015-02-10 19:13] jdotpz commented on #276
Hi friends!
What url would we like this to live at?  Any thoughts @Melechuga @davidascher ?

[2015-02-10 19:20] Melechuga commented on #276
@flamingspaz Is the email going to be very visible/used a lot by externals? All of communications so far have been via advocacy@mozilla.com, so don't want to confuse them.

@jdotpz We were thinking "discourse.mozilla-advocacy.org" Does that work?

Thanks all!

[2015-02-10 19:49] flamingspaz commented on #276
The address is only used for sending new post notifications and such to a user (like notifications@github.com), so it won't be used actively by users.

[2015-02-10 19:51] OpenMatt commented on #206
* Having reviewed, I don't think it makes sense to label this a P1 right now, given the other design and dev priorities right now. It's a current P2, and should become a P1 once the next Heartbeat starts Monday. I'm going to update to that effect -- somebody speak up if they think that's wrong.

[2015-02-10 19:58] smithisgeneric commented on #206
Downgrading to a P2 makes sense given today's discussion @OpenMatt

[2015-02-10 20:03] OpenMatt commented on #206
* Thanks @smithisgeneric. I wasn't able to get everyone together for a proper kick-off on this today -- but I did have one-on-ones w. Karen, Scott & Jess.

[2015-02-10 20:11] secretrobotron commented on #271
For testing: https://github.com/mozilla/webmaker-app/issues/874#issuecomment-72544047

[2015-02-10 21:51] Melechuga commented on #276
@flamingspaz Thanks for explaining; discourse.mozilla-advocacy@mozillafoundation.org would be great (or discourse-mozilla-advocacy@mozillafoundation.org if you can't use periods).

[2015-02-10 21:55] jdotpz commented on #276
WRT the address, if you are pretty sure of that desired URL, we can go ahead and register that domain.

[2015-02-10 22:07] xmatthewx commented on #267
@toolness drafted a plugin to leverage the prototype. It's working well. Just a few things to tweak so it  plays nicely with the dom. He'll iterate on the UI to bring it in line with reference.html. We should be in good shape for a demo on Friday and testing soon after.

I feel good about the evolving state of our concepts. Slides that convey each idea in a screen or two still needs work. I will d

[2015-02-11 14:21] OpenMatt commented on #302
@smithisgeneric : any status update here? designs ready for review?

[2015-02-11 15:28] dajbelshaw commented on #289
Tangential but relevant: status of http://planet.webmakerprototypes.org (as tool for helping potential contributors immerse themselves in our world)

[2015-02-11 15:52] LucyeoH commented on #160
I now have an even more sophisticated help tracking spreadsheet: https://docs.google.com/a/mozilla.com/spreadsheets/d/1s9AXcLZAzi9SOErBwCsS8OeOOO4Dfi04Ck0bwlt6K_M/edit?usp=sharing

[2015-02-11 15:57] errietta commented on #160
Potentially use RT - https://www.bestpractical.com/rt/ to track support requests? RT is "email an address your problem" and it creates a ticket which can be tracked, assigned, etc and you can also do stuff like different queues per address

[2015-02-11 17:04] smithisgeneric commented on #302
Designs are up on Redpen

IP address tracer iterations
* https://redpen.io/zv0d00fa9d0ac12e82
* https://redpen.io/ps0400aa7ce917e879

Privacy coach iteration
* https://redpen.io/zn6e892e88d046953c

[2015-02-11 17:44] toolness commented on #267
[The addon is here](https://xmatthewx.github.io/webmaker-addons/addon/webmaker-addon.xpi), and it's also linked-to from a section of the repository's [README.md](https://github.com/xmatthewx/webmaker-addons#firefox-add-on).

[2015-02-11 18:20] simonwex commented on #240
Status update: We're continuing to chip away at boogs here, and are getting close:

https://github.com/mozilla/webmaker-firehose/issues?q=is%3Aopen+is%3Aissue+milestone%3A%22February+13%22

[2015-02-11 18:45] OpenMatt commented on #270
Draft is here: http://pad.webmaker.org/program_review
Submitting to Ops team for feedback.

[2015-02-11 19:20] ldecoursy commented on #262
Latest redpen is here: https://redpen.io/ue61afa56796613219 @leahatplay can you review/approve icons?

[2015-02-11 20:23] LucyeoH opened #336 "Translate Webmaker Automated Event Emails"
Put webmaker automated event emails on Transifex to be translated. cc. @jbuck @alicoding

[2015-02-11 20:23] smithisgeneric commented on #302
Ashley will be out of town next week and in a low-connectivity part of the world.  Design review from @iamjessklein today/tomorrow would be helpful and I have shared a Google drive file with @iamjessklein @OpenMatt etc. in case the designs need to be finalized by someone else.

[2015-02-11 20:50] edrushka commented on #243
Design is locked. Mavis has started to build. Closing this. Thanks, everyone!

[2015-02-11 20:50] #243 closed

[2015-02-11 20:51] edrushka commented on #234
This build is underway. Shifting this ticket to the Feb 27th milestone, as build will not be complete until the 25th.

[2015-02-11 20:58] edrushka commented on #191
Update:
Campaign launched last week with blogs, snippet, tiles, social channels, email to MoFos and more.
Petition is performing well :) http://note.io/1y7JhZ3
Call congress MVP is live https://call.mozilla.org/  but has not been pushed publicly yet. #263
Comms plans for Feb 26th (day of the vote) are underway.

[2015-02-11 21:08] OpenMatt commented on #302
@cassiemc is the lead on quality for this one, so let's flag her for design review.

[2015-02-11 23:46] ldecoursy commented on #198
Since this issue (for writing) doesn't require design or dev, closing this issue in the /plan repo.

[2015-02-11 23:46] #198 closed

[2015-02-12 06:49] ldecoursy commented on #268
@davidascher would this be better served as a ticket in the github playground repo? https://github.com/MozillaFoundation/github-playground/issues

[2015-02-12 06:52] ldecoursy commented on #254
Closing this ticket, as noted above, @hannahkane will flag as part of ongoing badges work.

[2015-02-12 06:52] #254 closed

[2015-02-12 06:55] #282 closed

[2015-02-12 06:59] ldecoursy commented on #281
Section 2, Composing for the Web, has been added to testing curriculum.
* Hack the News http://mozilla.github.io/webmaker-curriculum/WebLiteracyBasics-I/session02-hackthenews.html
* HTML Puzzle Boxes http://mozilla.github.io/webmaker-curriculum/WebLiteracyBasics-I/session02-puzzlebox.html

Feedback from first round of testing section 1 gathered in Discourse and on cohort call: https://teach.etherp

[2015-02-12 06:59] #281 closed

[2015-02-12 07:00] ldecoursy commented on #262
@iamjessklein I'll be on PTO starting today through next week, would you mind closing this ticket if pictograms finalized by Friday?

[2015-02-12 07:04] ldecoursy commented on #261
@iamjessklein Chris is traveling - do you happen to know if @adiladiladil is awaiting more feedback or submitting another rev?

[2015-02-12 07:06] ldecoursy commented on #212
Moving this to next train - want to allow time for synthesis of notes/plans following meetings in Brooklyn and upon @amirad 's return from PTO.

[2015-02-12 13:45] dajbelshaw commented on #268
Just to say that the Open Knowledge Foundation saw this after my blog post and have implemented it: https://remoteworker.wordpress.com/2015/02/12/time-team/ :)

[2015-02-12 14:26] adamlofting commented on #237
We are live :boom:
* [The public dashboard](https://mozillafoundation.geckoboard.com/dashboards/F62088172D822E2A) as linked from build.w.o now includes the KPIs
* This is [the metrics app](https://metrics.webmaker.org/) with some further graphs, and where the number crunching happens

:warning: The 7 day graphs for the retention metrics will need one week to settle. This is because retention is a

[2015-02-12 15:06] cassiemc commented on #302
Is this actually two badge designs then, not three?

Left some comments on the redpens, we should need one more review to finalize. Just a few tweaks to make sure the forms hold up at smaller sizes. Would be nice to see both a large graphic and a smaller one side by side, to see how it will scale.

I like the mag glass + pin for the IP address tracer.

[2015-02-12 16:04] thisandagain commented on #237
Excellent. Thanks @adamlofting

[2015-02-12 16:25] smithisgeneric commented on #302
There are three badges @cassiemc.

- Data Trail timeline https://redpen.io/mfcd045ef271a4f1f8 (I previously thought we had sign off from jess but looks like I was workflow confused)
- Privacy Coach https://redpen.io/zn6e892e88d046953c
- IP Address Tracer https://redpen.io/ps0400aa7ce917e879 (leading choice of location marker with magnifying glass)

Ashley met with me yesterday and she is out of ti

[2015-02-12 16:35] iamjessklein commented on #80
After the design critique yesterday, I updated the mockup (see below and [comment on redpen](https://redpen.io/uo271bce22d96c82d4))
Iterations:
* fonts have been adjusted - in app -> Fira
* fonts have been adjusted - on site -> Webmaker fonts
* reduced screens from 5 callouts to 3 with a footer
* integrated full size phone imagery
* changed phone from iphone->android
* cleaned up some spacing issu

[2015-02-12 16:58] OpenMatt commented on #302
* if Ashley is no longer available to complete this design work, then we'll need @cassiemc to advise on whether we have a designer who can pitch in on this today / tomorrow. Or whether we'll need to wait til next week.

[2015-02-12 17:03] cassiemc commented on #302
It's a little close to the end of the heartbeat to pull another designer off their work at this point. Is this still a p2? I don't see the milestone label anymore. If it's elevated to a p1, I'll complete this myself. @smithisgeneric Can Ashely please share her vector files with us? Thanks!

[2015-02-12 17:07] OpenMatt commented on #302
* Yes, this is a P2. Planning ticket is here: https://github.com/MozillaFoundation/plan/issues/206
(This is a sub-task that got filed in the wrong repo.)
* This is a P2 this Heartbeat. Will be a P1 next.
* Our goal was to have as much of the badge design work and copy completed as possible this Heartbeat, so that we could hit the ground running next week.

[2015-02-12 17:15] cassiemc commented on #302
Cool, thanks Matt! Based on that original planning ticket, I think we're still on track overall. Let's make this a p1 for the next heartbeat and I'm sure a designer can wrap it up quickly based on Ashley's work on this already.

[2015-02-12 17:17] thisandagain commented on #80
Really excellent progress @iamjessklein ! :smile:

One big change (other notes in Redpen):
We needed to make some major changes to the sharing flow last night to make it work well across platforms and integrate directly with Android's native sharing flow. Because of this, and I believe the need to show what a user "makes", I'd like to focus the last screen on an actual example app. I recommend the

[2015-02-12 17:24] benrito commented on #80
Hey all—

What is contemporary thinking on FAQ?

Two dimensions:

1 user feature questions—i.e., "does my friend need to install Webmaker to see my app?" "Is it available for iOS?" "what features are coming next?"

2 during the beta, contributor questions—i.e., "how can I share feedback and feature requests?" "How can I get involved in translating and testing the app?"

[2015-02-12 17:52] iamjessklein commented on #80
great - @thisandagain I'm thinking of showing the showcase your business template ---- remix over the course of the gifs and show the evolved app in the last screen.

@benrito - that wasn't discussed in the initial scope here, but let me know if copy exists and it should be factored in.

cc/ @edrushka @HPaulJohnson

[2015-02-12 17:53] iamjessklein commented on #262
Will do :+1:

[2015-02-12 18:07] OpenMatt opened #337 "Ship a landing page for International Yak-Herder Day"
Design and build a web page on webmaker.org to support our Yak-Herder campaign.

## Roles

* **Driver**: @openmatt
* **Decision Maker**: @smithisgeneric
* **Design Lead**: @iamjessklein
* **Development Lead**: @ScottDowne
* **Quality Verifier**: @cassiemc

[2015-02-12 18:44] iamjessklein commented on #337
I hope this is legit.

[2015-02-12 18:54] iamjessklein commented on #261
@ldecoursy - @adiladiladil [shared another update](https://drive.google.com/a/mozilla.com/file/d/0ByGu6IwBft5mbUcxeXR2aHotRU9RTm9uVmtPQjZhcUZNbVZV/view?usp=sharing) and An-Me, Marc Lesser, Meredith Summs and I gave feedback on Wednesday. He should be submitting a new iteration this Friday.

Feedback can be added [here](https://etherpad.mozilla.org/gates-slidedeck-feedback)

[2015-02-12 18:56] smithisgeneric commented on #337
I like the Viacoin font awesome icon for the yak landing page http://fortawesome.github.io/Font-Awesome/icon/viacoin/
![viacoin](https://cloud.githubusercontent.com/assets/6931814/6174748/d91d7276-b2be-11e4-815f-b9d0a3465b9d.png)

cc: @iamjessklein  @OpenMatt

[2015-02-12 21:46] OpenMatt commented on #302
k sounds good

[2015-02-12 21:46] jdotpz commented on #252
OK, so before I start, know that there will be a wiki page for how to use this upcoming.  This is *not* intended to be a tutorial or wiki for general consumption, but instead a quick "how to" for people in this thread who are most likely to benefit from a quick run through.

* https://loggins.mofoprod.net (search your email for loggins password for the basic auth)  **NOTE: We require https, so htt

[2015-02-12 21:47] OpenMatt commented on #337
this was a dummy ticket I filed for some documentation I was writing. closing now. save the yaks.

[2015-02-12 21:47] #337 closed

[2015-02-12 21:51] jdotpz commented on #276
OK, I'm going to move forward with the domain registration.  Editing the issue above so we don't get squatters.

[2015-02-12 21:53] jdotpz commented on #276
https://bugzilla.mozilla.org/show_bug.cgi?id=1132671 submitted for the domain reg.

[2015-02-13 02:52] iamjessklein commented on #80
Update: I took a [stab at the UI for the Business template](https://redpen.io/ep35dc8782c70ac2d0) - I did the Edit and Preview screens - but still need to do the Edit - with the remixed content (showing the editing) and the Publish - showing the revised app. Would love your :eyes:  @vazquez  @cassiemc  - let me know if I followed the UI Toolkit as you anticipated. This part was a bit tricky becaus

[2015-02-13 14:43] vazquez commented on #80
I'm in the process of preparing assets for Jess with updated UI:

- Business Template in Edit Mode
- Business Template in Active Edit Mode
- Business Template in Published Mode

[2015-02-13 14:48] iamjessklein commented on #80
:+1:

[2015-02-13 15:51] iamjessklein commented on #80
Here's a first stab at the first gif - Templates->Preview
![templates3](https://cloud.githubusercontent.com/assets/535012/6190205/43ae9336-b36e-11e4-85cc-f7db7d920bbc.gif)

Note: The color of the + 0 - for the tea is slightly off, I will correct.

[2015-02-13 16:02] OpenMatt commented on #293
* This was discussed in NY work week
* Next step write down the plan somewhere

[2015-02-13 16:39] iamjessklein commented on #80
Here is a stab at the tagline sequence - the animation style feels a little crazy with the gif right below it.  I am looking [here](http://daneden.github.io/animate.css/) for animation css. Thoughts @HPaulJohnson ?

![taglineanimation](https://cloud.githubusercontent.com/assets/535012/6191089/db692f50-b374-11e4-821f-d570b88490e6.gif)

[2015-02-13 17:13] iamjessklein commented on #80
after mulling it over - the text + gif makes me feel sick. :speak_no_evil::mask:

[2015-02-13 17:20] HPaulJohnson commented on #80
+1 agree, too much motion. I do really like how the scrolling subhead communicates the breadth of possibilities though

[2015-02-13 17:39] iamjessklein commented on #80
@HPaulJohnson given that - any thought on a new tagline?

[2015-02-13 18:05] hannahkane opened #338 "Soft-launch teach.webmaker.org"
This is a parent ticket for all of the engineering work for the teach site. Child tickets are located in the Mozilla-Learning repo.

### RACI
* Phase: Build
* Owner: @hannahkane
* Decision Maker: @hannahkane
* Design Lead: NA (see design ticket #285 )
* Dev Lead: @toolness
* Dev: @alicoding
* Quality: @davidascher
* Metrics: @adamlofting

### Deliverables

February 27 heartbeat:
 - [x] Clone mofo-

[2015-02-13 18:10] hannahkane commented on #301
This is too granular for /plan, so I'm moving this to the Mozilla Learning repo: https://github.com/MozillaFoundation/Mozilla-Learning/issues/47

[2015-02-13 18:10] #301 closed

[2015-02-13 18:11] hannahkane commented on #297
Moving to Mozilla-Learning repo: https://github.com/MozillaFoundation/Mozilla-Learning/issues/48

[2015-02-13 18:11] #297 closed

[2015-02-13 18:21] HPaulJohnson commented on #80
@edrushka and are going to take a look at this today. without the animation in the headline "create something" is a little weak so we'll take another pass.

[2015-02-13 19:16] OpenMatt commented on #285
* Outstanding work on this ticket @hannahkane. Plus lots of great design progress already from @cassiemc
* **Key questions for kick-off meeting:**
1) What's the right amount of design work to bite off this Heartbeat?
2) How do we phase with dev? So that we can optimize the hand-off between design and build?
3) What's our strategy for avoiding waterfall-ish-ness on this project in general, and push

[2015-02-13 19:29] hannahkane commented on #333
This will be included in the teach site build, so I'm closing it here.

[2015-02-13 19:29] #333 closed

[2015-02-13 19:31] hannahkane commented on #294
Is there an update on this one, @alicoding and @secretrobotron ?

[2015-02-13 19:35] hannahkane commented on #280
Before we move forward on this, do we need to have a larger conversation about how we're supporting legacy tools? Thoughts on that? @davidascher @simonwex @thisandagain @ldecoursy @claw

[2015-02-13 19:37] hannahkane commented on #275
This is a task within the teach site design and build, so I'm closing this here.

[2015-02-13 19:37] #275 closed

[2015-02-13 19:39] hannahkane commented on #266
Moving this to the new mozilla-learning repo: https://github.com/MozillaFoundation/Mozilla-Learning/issues/49

[2015-02-13 19:39] #266 closed

[2015-02-13 19:40] OpenMatt commented on #209
(We have a few  other brand tickets -- I'm confused which one is the master.)
e.g. https://github.com/MozillaFoundation/plan/issues/179
https://github.com/MozillaFoundation/plan/issues/152

* @HPaulJohnson : **I'm treating this one as the master,** because it's expressly about *documenting a plan*. e.g., writing some stuff down. Which I think is what we need most. :)
* Let's make sure we pay some

[2015-02-13 19:41] hannahkane commented on #203
Wondering if we can close this ticket, because it seems well-documented elsewhere. @smithisgeneric ?

[2015-02-13 19:42] OpenMatt commented on #209
NOTE: @HPaulJohnson is the Driver on *all* branding questions. He'll make sure the various decision-makers are consulted, but Paul is the Single Voice of Truth on all questions of brand. To avoid chaos and miscommunication.

[2015-02-13 19:48] OpenMatt commented on #179
@cassiemc  can you close this one?

[2015-02-13 20:06] alicoding commented on #294
I helped @LucyeoH upload the file few days ago and not sure what else is needed in this ticket to move forward/close?

[2015-02-13 20:08] hannahkane commented on #20
Closing this ticket, as the v1 is part of the teach site build, and will add more specific tickets as we iterate.

[2015-02-13 20:08] #20 closed

[2015-02-13 20:08] hannahkane commented on #13
What does this ticket mean, @davidascher ? Is it still needed?

[2015-02-13 20:12] simonwex commented on #280
Yes. These changes would primarily impact our login system and the MakeAPI, and hence only have a minor impact on specific tools (thimble etc).

I would think the UI would actually live on the clubs functionality and so I'd like to see this part of the work you're spec'ing, @hannahkane.

[2015-02-13 20:16] hannahkane commented on #184
part of teach site build!

[2015-02-13 20:16] #184 closed

[2015-02-13 20:21] secretrobotron commented on #294
It would be nice to get some confirmation from the community via @LucyeoH that the localization was successful (e.g. people can read, understand).

@alicoding Did we just upload the one language?

[2015-02-13 20:27] OpenMatt commented on #336
@LucyeoH in future, can you file granular issues like this one in another repo? Like Webmaker.org? https://github.com/mozilla/webmaker.org
* this "Plan" repo is just for high-level meta-tickets.

[2015-02-13 20:34] iamjessklein commented on #337
@smithisgeneric :heart:

[2015-02-13 20:41] thisandagain commented on #77
![screen shot 2015-02-13 at 12 38 28 pm](https://cloud.githubusercontent.com/assets/747641/6194892/9396236e-b37d-11e4-8b9d-70341f4c8306.png)

[2015-02-13 20:41] #77 closed

[2015-02-13 20:45] thisandagain commented on #49
![screen shot 2015-02-13 at 12 38 28 pm](https://cloud.githubusercontent.com/assets/747641/6194896/a202ab0c-b37d-11e4-95a1-8dc26dc8820f.png)

[2015-02-13 20:45] #49 closed

[2015-02-13 20:59] LucyeoH commented on #336
Sure thing @OpenMatt

[2015-02-13 21:04] LauraReynal commented on #77
:confetti_ball: :clap: :trophy:

[2015-02-13 21:09] #336 closed

[2015-02-13 21:12] secretrobotron commented on #241
Been chipping away at pieces of this all week. It's been QA'd, fixed, QA'd some more, fixed some more, and loved a little bit. It also has some analytics in it now.

I think it needs one more set of eyes, and the it can go up to prod.

[2015-02-13 21:12] cassiemc commented on #179
Weirdly enough I think it's already closed. But let's be clear.

[2015-02-13 21:43] cassiemc commented on #303
Some suggestions from @LucyeoH:
* Document how demo calls work on a wiki page or something (linked to from build.webmaker.org) with information about the call. "I had to ask a developer to find the etherpad. It's possible that there is one that I just missed, but feeling like you can read about the format of the call and what to do if you're going to present (i.e. instructions about adding yoursel

[2015-02-13 21:50] alicoding commented on #294
@secretrobotron it's still on @LucyeoH's fork and didn't have PR up yet, but yeah only one language right now.

[2015-02-13 22:02] gvn commented on #77
![mind-blown](https://cloud.githubusercontent.com/assets/206379/6196015/effc7792-b388-11e4-8070-ad1dd6e0fcc9.gif)

[2015-02-13 23:54] secretrobotron commented on #271
ᕕ( ᐛ)ᕗ everything's delivered! Sent an email to @humphd and @msurman to let them know what to do. They can get in touch with me on Tuesday if things go wrong, but there should be more people around to help out anyway! :boom:

[2015-02-13 23:54] #271 closed

[2015-02-13 23:56] secretrobotron commented on #241
@gesa will put this up on prod on Tuesday. We can see how it fares!

[2015-02-13 23:57] secretrobotron commented on #267
@toolness do you mind summarizing how far you made it with the prototype here? We can continue work  in #335.

[2015-02-14 01:32] hannahkane opened #339 "Plan for supporting legacy tools"
Ensure we have a clear plan and co-ordination on how we're supporting legacy tools going forward.

### Roles
* Phase: Plan
* Owner: @simonwex
* Decision-Maker: @davidascher
* Design Lead: n/a
* Dev Lead: @simonwex
* Dev: @jbuck
* Quality: @davidascher

There are a few actionable things here:
- [x] One is for @simonwex to prepare a set of questions for the Learning Networks team about how the curre

[2015-02-14 13:44] OpenMatt commented on #285
+ @adamlofting to help ensure we're tracking the metrics we need. Would be good if Adam was in the kick-off meeting for this.
* once we launch the initial pages, what experiments are we going to run?

[2015-02-15 12:05] jgmac1106 commented on #335
Not sure what the other four prototypes are for MakwrFox or if this is place to throw ideas but what mentors and webmakers need is a functional and web based whiteboard.

[2015-02-15 18:12] benrito commented on #80
@iamjessklein @thisandagain we discussed FAQ in the kickoff but were inconclusive. latest thinking?

[2015-02-16 11:31] thornet commented on #339
I suggest @LucyeoH lead the gathering of case studies for how people are currently using the tools.

[2015-02-16 13:58] adamlofting commented on #285
Thanks @OpenMatt - I'm going to move the metrics requirement for this piece across the to corresponding `build` ticket, and ask my questions there.
@hannahkane I'm happy to attend the kick-off, but if scheduling proves hard due to me, we can check-in separately.

[2015-02-16 15:54] adamlofting commented on #53
@thisandagain @secretrobotron thanks. I've just filed a spec for the additional event tracking I think we need. Hopefully that ticked gives enough detail for whichever dev works on this to run with it.

[2015-02-16 17:39] thisandagain commented on #80
Doesn't feel particularly needed right now, though I'd like to add a "Feedback" link within the app proper to cover that use case. Tracking here: https://github.com/mozilla/webmaker-app/issues/1176

[2015-02-16 19:06] edrushka commented on #293
Adding myself to this issue. Looking forward to reading the plan!

[2015-02-16 19:16] edrushka opened #340 "Organize graphic assets for DAM"
Organize MoFo graphic assets for the Digital Asset Management project led by MoCo.

##Roles##
Phase: Implementation
Owner: MoCo (Ty Flannagan & Liz Noonan)
Driver:  @edrushka
Decision Maker: @sabrinang
Design Lead: @sabrinang

CC: @davidascher @cassiemc

We need to organize some MoFo graphic assets for the Digital Asset Management project led by MoCo. @sabrinang can you note which assets they've r

[2015-02-16 19:22] sabrinang commented on #340
So far the Maker Party assets have been requested from me.
Also, Ty has noted in an email that: _"There will be more assets needed like event photos, and anything else related to foundation events, but we can discuss that in a few weeks"_
... so I assume more things as the DAM progresses

[2015-02-16 19:30] edrushka opened #341 "Produce initial recommendations for MozFest site improvements"
RACI

* Phase: Research
*    Driver: @erikadrushka
*    Decision Maker: Sarah Allen
*    Design: @sabrinang @Roberto-Cruz
*    Dev: @mmmavis

Steps

- [x] Conduct site research
- [x] Conduct brand audit
- [x] Conduct user research
- [x] Synthesize research
- [x]  Review team needs
- [x] Create a list of recommendations

Kickoff notes here: https://studiomofo.etherpad.mozilla.org/MozFest-2015-site-

[2015-02-16 19:34] edrushka commented on #234
The build continues: http://moi-splash.herokuapp.com/

[2015-02-16 23:45] iamjessklein commented on #80
@edrushka @HPaulJohnson - did you get anywhere with the copy edits?

[2015-02-17 00:20] davidascher commented on #234
We don't still want the privacy icon there do we?

[2015-02-17 02:11] smithisgeneric commented on #302
The art files are in the shared Google drive folder accessible to @cassiemc @hannahkane @iamjessklein etc. https://drive.google.com/open?id=0B9uMTH-WLGjdOFhZVXBRYXZTX3c&authuser=0.  I am happy to add anyone else who needs access.

Note: the art was provided by Ashley in psd vs. a vector native format and that is what is available to work from.

[2015-02-17 04:29] #85 closed

[2015-02-17 04:34] thisandagain commented on #78
Consolidated to https://github.com/MozillaFoundation/plan/issues/81

[2015-02-17 04:34] #78 closed

[2015-02-17 04:35] thisandagain commented on #258
@LauraReynal @benrito do we have a hard deliverable date for this report?

[2015-02-17 04:37] thisandagain commented on #84
This work will be done during the design meet-up in TOR from 23rd - 27th.

[2015-02-17 10:22] adamlofting commented on #234
I think you saw the same thing as me where the email notification didn't have the `/localweb` bit on the URL so it was showing the homepage  :confused:.

@edrushka has fixed in the comment now to be https://moi-splash.herokuapp.com/localweb :smile:

[2015-02-17 11:36] LauraReynal commented on #258
Monday 23rd for a first draft @thisandagain

[2015-02-17 11:58] Saallen opened #342 "Research registration platforms and tools for MozFest"
Short list possible platforms and tools for new registration process for MozFest
with @quakpac
Main requests from new platform/tool
* consolidate registration process  pre festival for different user groups
* allow festival onsite process to be faster, accurately recorded and easier to manage on the day

[2015-02-17 12:04] Saallen opened #343 "Research Travel management options for MozFest 2015"
Working with becky @quakpac to
**evaluate the potential of working with Egensia w MozFest specific account for flights
** short list 3 other possible agents for travel management
** @saallen to evaluate in-house option of accommodation management through hotel direct bookings and contract negotiations

[2015-02-17 13:17] toolness commented on #267
yep i have an errand to run this AM but will do this first thing when i get
back!
On Feb 13, 2015 6:57 PM, "Bobby Richter" <notifications@github.com> wrote:

[2015-02-17 14:04] LucyeoH commented on #339
@thornet works for me! I already have some stuff recorded about tool use that I could easily pull from!

[2015-02-17 14:14] OpenMatt commented on #302
@smithisgeneric so you're saying the updated design work for all three badges is completed, correct?
@cassiemc can you sign off on the designs as quality lead? And then close this ticket?

[2015-02-17 14:16] smithisgeneric commented on #302
No, there are still changes @cassiemc wants as per RedPen.

[2015-02-17 14:18] cassiemc commented on #302
Yep. Keeping open. Needs one final pass.

[2015-02-17 14:23] benrito commented on #258
I think we’re just trying to wrap it ASAP so the LAN house leaders can get rolling (and we can move forward on other things). They’re going to use it to inform roadmapping and the next phase of work.

It’s a different standard and objective than the other reports so I’m sure we can wrap it soon.

Laura, what are your current thoughts?

Are there anythings I can do to help?

[2015-02-17 14:38] OpenMatt commented on #267
Cool. Please try to update status before today's Heartbeat Planning meeting. (1pm ET.)

[2015-02-17 14:39] OpenMatt commented on #263
* Please update status here before today's Heartbeat Planning meeting. (1pm ET.)
* Also: 11 days since last status update on a P1 is not optimal.

[2015-02-17 14:39] OpenMatt commented on #240
* @simonwex : please update status before today's Heartbeat Planning meeting? (1pm ET)

[2015-02-17 14:39] Saallen opened #344 "Build Calendar for Learning Networks community events"
Using this etherpad : https://teach.etherpad.mozilla.org/events2015 I will build a calendar for all the Learning network team to use.

Location of Calendar: TBC
Working with : @amirad

[2015-02-17 14:40] OpenMatt commented on #237
@davidascher : can you sign off so we can close?

[2015-02-17 14:41] OpenMatt commented on #79
@secretrobotron can you update status here before Heartbeat Planning meeting? (1pm ET)

[2015-02-17 14:49] OpenMatt commented on #299
@HPaulJohnson status update?

[2015-02-17 14:49] OpenMatt commented on #294
@hannahkane status update?

[2015-02-17 14:49] OpenMatt commented on #292
* This got done, thanks to @jdotpz . Marking closed.

[2015-02-17 14:49] #292 closed

[2015-02-17 14:50] OpenMatt commented on #287
@HPaulJohnson status update?

[2015-02-17 14:50] OpenMatt commented on #270
This is done.

[2015-02-17 14:50] #270 closed

[2015-02-17 14:51] OpenMatt commented on #245
* I'm going to move this forward to Feb 27, to ensure those last few posts don't fall through the cracks

[2015-02-17 14:51] OpenMatt commented on #238
@HPaulJohnson status? [[flagged!]](http://plzkthx.herokuapp.com)

[2015-02-17 14:52] OpenMatt commented on #187
First draft is completed here: http://book.webmaker.org/
More work needed. But let's mark this done and file a new ticket for feedback + second draft.

[2015-02-17 14:52] #187 closed

[2015-02-17 14:52] OpenMatt commented on #53
@secretrobotron status? [[flagged!]](http://plzkthx.herokuapp.com)

[2015-02-17 15:04] OpenMatt commented on #344
@Saallen: Awesome! But can you file this ticket here instead? https://github.com/MozillaFoundation/Mozilla-Learning/issues

The "Plan" repo is just for high-level planning tickets.

More documentation on this here: http://book.webmaker.org/github_repos.html

[2015-02-17 15:17] OpenMatt commented on #343
@Saallen same with this one -- please file elsewhere? as per http://book.webmaker.org/github_repos.html
And ping me in IRC if I can help with this in any way.

[2015-02-17 15:26] OpenMatt commented on #339
@hannahkane can you fill out the roles section? I suggested @simonwex for dev lead and @davidascher for quality. please edit if that's wrong.

[2015-02-17 15:29] OpenMatt commented on #338
@hannahkane can you be more specific about which of those "build" tasks are going to be ready to start building this Heartbeat, and when? e.g., which will have completed design ready to hand off, and roughly when that's expected to happen.
* A good kick-off meeting on this ticket should help design and dev focus on hand-off and phasing together

[2015-02-17 15:30] LucyeoH commented on #339
Hey guys! I started putting together this document about how people are interacting with the tools from what I've seen: https://docs.google.com/a/mozilla.com/document/d/17u7lyZPN4hDs09GaaltF2cQVuFvAeEweiZAVbWSEG-g/edit?usp=sharing

Would love to have other people comment with their input/use cases.

[2015-02-17 15:30] OpenMatt commented on #338
* I'm also going to suggest we break this into "Phases", a practice we've used in past for multi-heartbeat tickets like this one.

[2015-02-17 15:35] OpenMatt commented on #291
* This one got pushed back last Heartbeat, so should get special consideration this time around.
* @ldecoursy is on vacation, so will need a new owner

[2015-02-17 15:36] OpenMatt commented on #290
@adamlofting what do you think about this one? should we still do it? and if so, what's a timeframe that makes sense? I'm a bit worried that a major contributor pipeline may be falling through the cracks.

[2015-02-17 15:37] OpenMatt commented on #289
* Given MWC and teach.webmaker.org work, I'm going to suggest punting this one to next Heartbeat

[2015-02-17 15:38] OpenMatt commented on #286
@hannahkane @simonwex status? recommendations on whether we should tackle this Heartbeat? [[flagged!]](http://plzkthx.herokuapp.com)

[2015-02-17 15:42] adamlofting commented on #290
I'm waiting to hear back on numbers, but we should definitely keep an eye on this user journey. We'll likely need to update a bunch of the messaging and links given the move around in product and CTAs within webmaker.

I'll re-scope this ticket to cover 'investigating the numbers', then once we have data we can file tickets to make appropriate updates.

This is probably a strong channel to kick of

[2015-02-17 15:47] thornet commented on #293
Claw is presenting date options in Ops today. Sarah is summarizing our programmatic plan by Wed.

[2015-02-17 15:47] OpenMatt commented on #212
@ldecoursy is on vacation til Monday. So this will need a new driver.
* @amirad @thornet: anything to report from NY work week? Should we keep working on this, or punt to next Heartbeat?

[2015-02-17 15:48] OpenMatt commented on #209
@HPaulJohnson is there a document we can look at?

[2015-02-17 15:48] thornet commented on #212
Updated plans in progress: https://teach.etherpad.mozilla.org/brooklyn

[2015-02-17 15:49] OpenMatt commented on #206
@hannahkane : I assume you're the driver for this one again, now that NY work week is over?

[2015-02-17 15:50] OpenMatt commented on #191
@edrushka any data or early metrics we can share?

[2015-02-17 16:03] adiladiladil commented on #262
@iamjessklein latest redpen is here
please take a look and let me know if all looks good

https://redpen.io/xz5ec75b96ae8763a0

[2015-02-17 16:04] thisandagain commented on #258
I won't be available to help with design. Do we need a design resource for this?

[2015-02-17 16:04] LauraReynal commented on #258
No we are good for design !

*Laura de Reynal*
Webmaker - Field Research
@lau_nk <https://twitter.com/lau_nk>
Skype: laura-dereynal

On Tue, Feb 17, 2015 at 2:04 PM, Andrew Sliwinski <notifications@github.com>
wrote:

[2015-02-17 16:06] ScottDowne commented on #263
I'm not sure what this is blocked on. call.mozilla.org is ready to go and already has some feedback.

Looks like actually getting through to someone is hard. Dropped calls, full voicemail inboxes and being on hold for long waits, but not sure how and if we can fix that.

[2015-02-17 16:06] thornet opened #345 "Document our partnership and new geographies plan"
### Deliverables
* [x]  [**1) Partner criteria for Learning Networks**](https://docs.google.com/a/mozillafoundation.org/document/d/1qukGywwh1zY8eIPa75_AnS8Piu9KUxWGXpgu4N6gGAY/edit)
  * driver: @thornet consulted: @amirad http://mzl.la/networks_partner_criteria
  * status: **done**
* [ ] **2) Partner criteria / strategy for Learning Products**
  * driver: @HPaulJohnson consulted: @benrito
  * stat

[2015-02-17 16:07] LucyeoH commented on #294
@OpenMatt I'm waiting for review https://github.com/mozilla/webmaker-curriculum/pull/147 so it can merge.
Feedback on Process:
It worked very well on the community side (Sayak found it very easy to review) and it was easy to set-up a webmaker curriculum section on Transifex. The biggest problem I had was pulling it on and off Transifex, I had to get a lot of help from @alicoding with this part, an

[2015-02-17 16:08] thisandagain commented on #80
Tracking implementation and copy edits in implementation ticket #81

[2015-02-17 16:08] #80 closed

[2015-02-17 16:08] thornet commented on #345
Includes:

* Lessons learned from UK debrief
* Weighted list of regions to focus on in 2015

[2015-02-17 16:11] thisandagain commented on #79
Some additional prototypes / concepts:
http://flukeout.com/examples/desk7/
http://flukeout.com/examples/slidercode/
flukeout.com/examples/animations/

[2015-02-17 16:11] #79 closed

[2015-02-17 16:23] thisandagain commented on #335
As per note from @davidascher we need to have a little more definition to go with the high-level slide deck that @xmatthewx produced in the last sprint by the end of the week (February 20th).

[2015-02-17 16:30] HPaulJohnson commented on #299
Kickoff meeting to happen this week, then bi-weekly on an ongoing basis.

I can update this ticket one more time, post kickoff, with any additional info and then we can close it out.

[2015-02-17 16:32] jdotpz opened #346 "Develop email list management tool"
Our bounce rates have gotten to be relatively high.  This started in earnest between Jan 1st and Jan 5th.
  AWS hasn't contacted us yet, but in my experience, around 2% they will usually start threatening to shut SES off if bounce rates are not improved.  To get ahead of this, I'd propose a mechanism built into our apps to be able to plug non-existent / complaining emails into a suppression list.

[2015-02-17 16:33] HPaulJohnson commented on #287
Adam and I have scoped this out and implementation will be limited to Google Adwords campaign. All traffic will be pushed to webmaker.org (and not a specially designed landing page). So no additional support is needed.

Pushing implementation of Adwords campaign to this next heartbeat. Should be up and running by 2/25.

[2015-02-17 16:42] OpenMatt commented on #345
@ Michelle: you're the driver on this one, I believe.
 Can you fill out the other roles? as per http://book.webmaker.org/roles.html

[2015-02-17 16:46] HPaulJohnson commented on #238
@cassiemc and I met with @mart3ll last week to sync up MoFo/MoCo efforts. Lots of good info exchanged. Two next steps:
- Schedule regular check-ins for MoFo and MoCo design teams (monthly)

- Cassie and Sean are going to work on creating a collaboration space where design ideas/updates can be shared between both teams in real-time.

[2015-02-17 16:48] OpenMatt commented on #191
Update from @edrushka :
* Call Congress tool: MVP is live.
* Advocacy site: Has been updated with Call Congress button
* Petition: Call Congress button will be added to Thank You page today
* Current work = Victory planning

[2015-02-17 16:51] HPaulJohnson commented on #209
Finalizing a presentation deck with Mary Ellen this week. Meeting scheduled for 2/23 to present. Based on feedback from that initial presentation will blog to document and present to a wider audience as needed.

[2015-02-17 16:54] simonwex commented on #263
As @ScottDowne just commented, this is shipped. This passed QA to my satisfaction with the exception of things that are out of our control. @valianttry is happy with where it's at and is planning on pushing traffic to it today.

[2015-02-17 16:54] #263 closed

[2015-02-17 16:57] #344 closed

[2015-02-17 16:59] OpenMatt opened #347 "Discuss, decide and document our Maker Party 2015 plan"
Surface key strategy decisions, de-brief from NYC work week, get the stakeholders together, and document a plan.

## Roles
Driver: @amirad
Decision Maker: Ops team
Consulted (team) @HPaulJohnson @edrushka @LucyeoH @ldecoursy @thornet
Informed/strategically involved: @OpenMatt @hannahkane @chrislarry33

[2015-02-17 16:59] simonwex commented on #240
This is shipped, the admin interface is available at: https://wm-firehose.herokuapp.com/

We shipped with one known bug, which is actually an express 4.0 bug. We're waiting for an upstream patch to land.

[2015-02-17 16:59] #240 closed

[2015-02-17 17:00] OpenMatt commented on #347
* Will have more on this by eod Feb 17