[2014-11-25 22:30] davidascher opened #1 "PROCESS: Figure out and commit to quality-ensuring process"
Given the stakes of these pages, it is highly desirable to establish a checklist and run through it often.  I suspect we'll need two checklists, one for new pages, and one for changes to pages.

## For New Flows (e.g. new forms, new donation flows, new payment processors)

- [ ] Dev: GA tracking in place with the right code (currently `UA-35433268-12`)
- [ ] Dev: Webmaker Referred ID tracking as a

[2014-11-26 00:22] davidascher opened #2 "Profile"
Re-design & implement user profile to focus on a user's "makes".

Phase: Design / Build / Ship
Owner: @secretrobotron
Decision: @thisandagain
Lead design: TBD
Lead dev: TBD
Quality: @cassiemc

[2014-11-26 00:22] davidascher opened #3 "Gallery"
Re-design and implement gallery to accommodate new creation tool, events, and "staff picks".

Phase: Design / Build / Ship
Owner: @secretrobotron
Decision: @thisandagain
Lead design: TBD
Lead dev: TBD
Quality: @cassiemc

[2014-11-26 00:22] davidascher opened #4 "Search"

[2014-11-26 00:22] davidascher opened #5 "Maker Party"

[2014-11-26 00:22] davidascher opened #6 "MozFest Site Ready"

[2014-11-26 00:22] davidascher opened #7 "EOY: Dec First Half"

[2014-11-26 00:22] davidascher opened #8 "TOOLING: build.mozilla.org MVP"

[2014-11-26 00:23] davidascher opened #9 "EOY: Dec second half"

[2014-11-26 00:23] davidascher opened #10 "Website: Splash page"

[2014-11-26 00:23] davidascher opened #11 "TEACH: teach.webmaker.org MVP"
Design and stand up a new web presence for teach/mentor/community material and programs.

Phase: Design / Build / Ship
Owner: @hannahkane
Decision: @thornet
Lead design: TBD
Lead dev: TBD
Quality: @LauraHilliger, @ldecoursy

[2014-11-26 00:23] davidascher opened #12 "PLATFORM: login3 live"

[2014-11-26 00:23] davidascher opened #13 "TEACH: understand authoring"

[2014-11-26 00:24] davidascher opened #14 "Consolidate badging requirements into a single doc"

[2014-11-26 00:24] davidascher opened #15 "TEACH: evaluate software options for Learning Networks"
Phase: Evaluation
Owner: @hannahkane
Decision:
Lead design:
Lead dev: @jdotpz
Quality: @simonwex

[2014-11-26 00:24] davidascher opened #16 "Product: Desktop Realignment"

[2014-11-26 00:24] davidascher opened #17 "BBC: Build landing page and test suite"

[2014-11-26 00:24] davidascher opened #18 "TEACH: port teach resources to teach.w.o"

[2014-11-26 00:24] davidascher opened #19 "APP: build near-me search"

[2014-11-26 00:25] davidascher opened #20 "TEACH: implement MVP Clubs Platform"

[2014-11-26 00:41] davidascher opened #21 "1.0"
Initial release of the Webmaker App to Google Play and Firefox Marketplace stores.

Phase: Design / Build / Ship
Owner: @thisandagain
Decision: @davidascher
Lead design: TBD
Lead dev: TBD
Quality: @cassiemc

[2014-11-26 00:41] davidascher opened #22 "Comments"

[2014-11-26 00:41] davidascher opened #23 "Moderation Standards"

[2014-11-26 00:42] davidascher opened #24 "Push Notifications"

[2014-11-26 00:42] davidascher opened #25 "Badges"

[2014-11-26 00:42] davidascher opened #26 "Events"

[2014-11-26 00:42] davidascher opened #27 "Groups"

[2014-11-26 00:43] davidascher opened #28 "EOY Testing"
This sprint is focused on quick iterations and testing all of the donation paths (bitcoin, paypal, cc, locales)

[2014-11-26 00:43] davidascher opened #29 "EOY Full-speed"

[2014-11-26 00:48] davidascher opened #30 "MozFest!"

[2014-11-26 00:48] davidascher opened #31 "MozFest!"

[2014-11-26 00:48] davidascher opened #32 "MozFest!"

[2014-11-26 00:49] #31 closed, assigned to nobody

[2014-11-26 00:50] #32 closed, assigned to nobody

[2014-11-26 00:57] davidascher opened #33 "BBC: Assess Opportunity"
And decide whether we want to do a thing with them in Q1

[2014-11-26 00:58] davidascher opened #34 "Portland All Hands Prep"
Get everyone ready for a rocking week in Mozlandia

[2014-11-26 01:13] davidascher opened #35 "TEACH: understand requirements for Better Discourse"

[2014-11-27 06:10] davidascher opened #36 "Not enough beer"
We would have beer

Audience: Staff (tens)
I suggest: We should buy beer

[2014-11-27 06:20] davidascher opened #37 "kids aren't motivated"
way more learning

Audience: Learners (100Ks)
I suggest: $$

[2014-11-27 07:07] davidascher opened #38 "asd"
asdsa

Audience: Mentors (10Ks)
I suggest: asdas

[2014-11-27 08:07] davidascher opened #39 "asdas"
asdsad

Audience: Teachers (thousands)
I suggest: asdas

[2014-11-27 08:07] #39 closed, assigned to nobody

[2014-11-27 08:15] #37 closed, assigned to nobody

[2014-11-27 08:15] #38 closed, assigned to nobody

[2014-11-27 14:38] cassiemc opened #40 "Visitors have robust learning experiences around design"
Webmaker becomes the go-to place to learn about web design. Web designers are a core part of our community (aim for 50 design contributors?)

Audience: Learners (100Ks)
I suggest: Design concepts and methodologies are embedded in our learning tool/s and content. Content stays current, fresh and inspirational – perhaps curated by designers in the field.

[2014-11-27 22:56] davidascher opened #41 "It's going to rain in portland"
We would stay dry

Audience: Mentors (10Ks)
I suggest: Hats, not umbrellas.  Umbrellas poke people in the eye.

[2014-11-28 00:51] davidascher opened #42 "asd"
asda

Audience: Staff (tens)
I suggest: asdas

Consultation Attendees: …
- [ ] Big-picture objective of the request: …
  [ ] Context: …
  [ ] Deadline: …
  [ ] Is deadline firm or flexible: …
  [ ] RACI: …
  [ ] What resources exist: …
  [ ] What is the audience: …
  [ ] Likelihood of scope creep: …
  [ ] MVP scope: …
  [ ] Domain(s) / accounts that you own or want to use?: …
  [ ] Hosted on mozil

[2014-11-28 00:54] davidascher opened #43 "asd"
asda

Audience: Staff (tens)
I suggest: asdas

Schedule Consultation Meeting: …
- [x] Understand big-picture objective of the request: …
- [x] Agree on context: …
- [x] Find out Deadline: …
- [ ] Is deadline firm or flexible: …
- [ ] Establish RACI: …
- [ ] What resources exist: …
- [ ] What is the audience: …
- [ ] Suss out likelihood of scope creep: …
- [ ] Determine MVP scope: …
- [ ] What doma

[2014-11-28 00:55] davidascher opened #44 "asd"
asda

Audience: Staff (tens)
I suggest: asdas
- [x] Consultation Meeting Scheduled: **Jan 5**
- [x] Understand big-picture objective of the request: **To rock the free web**
- [x] Agree on context: **the web is broken**
- [ ] Find out Deadline: …
- [ ] Is deadline firm or flexible: …
- [ ] Establish RACI: …
- [ ] What resources exist: …
- [ ] What is the audience: …
- [ ] Suss out likelihood of sc

[2014-12-08 17:53] thisandagain opened #45 "Design Splash Page"
Redesign splash page to be focused on learners and product. Goal is to improve UV to AU conversion rate.

Phase: Design / Build / Ship
Owner: @secretrobotron
Decision: @thisandagain
Consulted: Paul
Lead design: @vazquez
Lead dev: @gesa
Quality: @cassiemc

[2014-12-08 17:54] thisandagain opened #46 "Information Architecture / Navigation"
Restructure the information architecture (and thus, navigation) to better reflect priorities from a learner / user perspective. Goal is to reduce bounce rate and increase time-on-site (TOS).

Phase: Design / Build / Ship
Owner: @secretrobotron
Decision: @thisandagain
Lead design: @xmatthewx
Lead dev: @gesa
Quality: @cassiemc

[2014-12-08 18:10] thisandagain opened #47 "UX Improvements from Testing"
Resolve UX issues found during user testing in Kenya. Goal is to design and ship as many solutions to UX concerns as possible within a single sprint.

Phase: Design / Build / Ship
Owner: @k88hudson
Decision: @thisandagain
Lead design: @flukeout
Lead dev: @gvn
Quality: @cassiemc

[2014-12-08 18:28] cassiemc opened #48 "Need more bananas"
Bring more monkeys

Audience: Visitors (Millions)
I suggest: A monkey zoo and banana delivery service.

[2014-12-08 18:42] thisandagain opened #49 "Ship "Feature Complete" Webmaker app"
In preparation for final QA and refinement prior to MWC, we need to ship a "feature complete" build of Webmaker App by the end of this sprint. Any additional gaps need to be identified and either filled or bypassed by Friday morning on February 13th. Existing UX gaps:

*Edited @k88hudson*
### What we're building
- Integrate app directly with device gallery / camera applications on Android & Firefo

[2014-12-08 19:32] #48 closed, assigned to nobody

[2014-12-08 19:32] #36 closed, assigned to nobody

[2014-12-08 19:32] #41 closed, assigned to nobody

[2014-12-08 19:32] #42 closed, assigned to nobody

[2014-12-08 19:32] #43 closed, assigned to nobody

[2014-12-08 19:32] #44 closed, assigned to nobody

[2014-12-08 19:34] thisandagain opened #50 "EOY Campaign Iterations"
Continue to iterate on EOY campaign snippet & donation flow. Goal is :moneybag: :money_with_wings: :moneybag: :money_with_wings:

Phase: Design / Build / Ship
Owner: @simonwex
Decision: @valianttry (Andrea Wood)
Lead design: TBD
Lead dev: @ScottDowne
Quality: @adamlofting

[2014-12-08 19:37] thisandagain opened #51 "LOGIN: Launch login v3"
Ship login to production. :cat2: :cake: :boom:

Phase: Build / Ship
Owner: @simonwex
Decision: @thornet
Lead design: @xmatthewx
Lead dev: @jbuck
Dev: @cadecairos
Quality: @thisandagain

## Issue management

We're killing the old bugs in bugzilla and creating new ones in Github under the Dec24 milestone.

* Github Milestone: https://github.com/mozilla/webmaker-login-ux/milestones/Ship%20Login!%20-%

[2014-12-08 19:42] thisandagain opened #52 "On-boarding Design"
Direct user's into a first-time use (FTU) experience within X-Ray Goggles (best retention metrics). Goal is to A/B test on-boarding messaging an increase engagement off of sign-up. The scope of this sprint is to design an initial on-boarding experience that can be built and deployed within the next 2 week sprint.

Phase: Design / Build / Ship
Owner: @secretrobotron
Decision: @thisandagain
Consulte

[2014-12-08 19:48] thisandagain opened #53 "Revise Login Architecture & UX"
After reviewing the performance of Login v3 for a few months, we've observed a few issues specific to user experience (conversion rate) and developer ergonomics. In order to more easily resolve both, this sprint is to address some of the issues with the architecture, developer ergonomics, and user experience of login.

### User Experience Issues
- Poor sign-up conversion rate within form itself
-

[2014-12-08 20:03] thisandagain opened #54 "QA & Refinement"
Resolve various QA issues specific to Android & publishing within the Webmaker app.

Phase: Build / Ship
Owner: @k88hudson
Decision: @thisandagain
Lead design: n/a
Lead dev: @k88hudson
Quality: @flukeout

[2014-12-08 20:12] thisandagain opened #55 "Planning"
2015 planning process with MOFO & MOCO for board review on December 19th.

Phase: Research / Build / Ship
Owner: @openmatt
Decision: @msurman
Lead design: n/a
Lead dev: n/a
Quality: n/a

[2014-12-08 20:14] thisandagain opened #56 "Mentor Page Revisions"
Implement revisions to the mentor page as per https://bugzilla.mozilla.org/show_bug.cgi?id=1083925#c25

Phase: Design / Build / Ship
Owner: @simonwex
Decision: @thornet
Lead design: n/a
Lead dev: @gesa
Quality: @cassiemc

[2014-12-08 20:17] thisandagain opened #57 "Build.webmaker.org mvp"
Design, build, and ship the initial version of `build.webmaker.org`. :shipit:

Phase: Design / Build / Ship
Owner: @openmatt
Decision: @davidascher
Lead design: @vazquez
Lead dev: @davidascher
Quality: @thisandagain

[2014-12-08 20:57] thisandagain opened #58 "Bangladesh Field Report"
Release field report from Bangladesh research trip. :earth_asia:

Phase: Research / Build / Ship
Owner: @laurareynal
Decision: @davidascher
Lead design: @thisandagain
Lead dev: n/a
Quality: @cassiemc

[2014-12-08 21:00] thisandagain opened #59 "Finalize & distribute Kenya field report"
Distribute first draft of field report from Kenya research trip. :earth_asia:

Phase: Research / Build / Ship
Owner: @laurareynal
Decision: @davidascher
Lead design: @thisandagain
Lead dev: n/a
Quality: @cassiemc

[2014-12-08 21:08] thisandagain opened #60 "Build and ship new webmaker.org on-boarding experience"
Build and ship the initial on-boarding experiment based on X-Ray Goggles

Phase: Design / Build / Ship
Owner: @secretrobotron
Decision: @thisandagain
Consulted: @adamlofting, @iamjessklein, @HPaulJohnson
Lead design: @xmatthewx
Lead dev: @ScottDowne
Quality: @cassiemc

_(continued work from #52)_

[2014-12-08 21:19] thisandagain opened #61 "Design, build and ship discovery view"
Design / build / ship discovery view as per design spec. Will require some back-end services work via the Firebase API as well as geo-location (GPS) integration via Cordova.

Phase: Build / Ship
Owner: @k88hudson
Decision: @thisandagain
Lead design: TBD
Lead dev: TBD
Quality: @cassiemc

[2014-12-08 21:47] davidascher opened #62 "asd"
asdas

Audience: Staff (tens)
I suggest: asd
- [ ] Consultation Meeting Scheduled: …
- [ ] Understand big-picture objective of the request: …
- [ ] Agree on context: …
- [ ] Find out Deadline: …
- [ ] Is deadline firm or flexible: …
- [ ] Establish RACI: …
- [ ] What resources exist: …
- [ ] What is the audience: …
- [ ] Suss out likelihood of scope creep: …
- [ ] Determine MVP scope: …
- [ ] What

[2014-12-08 22:12] thisandagain opened #63 "APP: Improve Webmaker mobile app templates"
Improve templates for mobile application as per feedback from field research and latest bricks (data, image, phone, etc). Goal is to improve the FTU experience for new users.

Phase: Design / Build / Ship
Owner: @k88hudson
Decision: @thisandagain
Consulted: @LauraReynal
Lead design: @vazquez
Lead dev: n/a
Quality: @cassiemc

*Edit by @k88hudson:*
Tickets here: https://github.com/mozilla/webmaker-a

[2014-12-08 22:15] thisandagain opened #64 "WEBMAKER: Unified webmaking tool concepts (Phase I)"
Initial prototype (POP or InVision?) of unified creation experience for desktop & tablet. Goal is to experiment with ideas on a simple tool that radically lowers the bar of creating webpages as per mobile experience but also allows for large variability / "tinker-ability" in output.

Phase: Design / Prototype
Owner: @secretrobotron
Decision: @thisandagain
Lead design: @flukeout
Lead dev: @simonwex

[2014-12-08 22:55] thisandagain opened #65 "10K Contributor Engagement"
Re-engage the 10K contributors by offering to "skill up as a mentor". Plan to go out as part of a New Year's Resolution test. Likely a well produced call with supporting online assets.

Phase: Design / Build / Ship
Owner: Lucy
Decision: @thornet
Consulted: Amira, Paul
Lead design: n/a
Lead dev: n/a
Quality: @thornet

[2014-12-08 23:03] thisandagain opened #66 "Draft "Web Literacy Basics" Curriculum"
Draft Web Literacy Basics curriculum to prepare for first test cohort. Have an opinion based on our years of experience and pair with 1:1 interviews with 35 lead users so we adapt our offering to their needs.

Phase: Design / Prototype
Owner: @thornet
Decision: Chris
Lead design: n/a
Lead dev: n/a
Quality: @thisandagain

[2014-12-08 23:08] thisandagain opened #67 "Scope, workplan and contract for Every1Mobile pilot project"
Test basic web skills on-device through featurephone channel.

Partner: Every1Mobile
Audience: West Africa

Phase: Research
Owner: @benrito
Decision: Mark
Consulted: Michelle, Claw, Laura
Lead design: n/a
Lead dev: n/a
Quality: @davidascher

[2014-12-08 23:17] davidascher opened #68 "a"
a

Audience: Staff (tens)
I suggest: a
- [ ] Consultation Meeting Scheduled: …
- [ ] Understand big-picture objective of the request: …
- [ ] Agree on context: …
- [ ] Find out Deadline: …
- [ ] Is deadline firm or flexible: …
- [ ] Establish RACI: …
- [ ] What resources exist: …
- [ ] What is the audience: …
- [ ] Suss out likelihood of scope creep: …
- [ ] Determine MVP scope: …
- [ ] What domai

[2014-12-08 23:18] davidascher opened #69 "a"
v

Audience: Staff (tens)
I suggest: c
- [ ] Consultation Meeting Scheduled: …
- [ ] Understand big-picture objective of the request: …
- [ ] Agree on context: …
- [ ] Find out Deadline: …
- [ ] Is deadline firm or flexible: …
- [ ] Establish RACI: …
- [ ] What resources exist: …
- [ ] What is the audience: …
- [ ] Suss out likelihood of scope creep: …
- [ ] Determine MVP scope: …
- [ ] What domai

[2014-12-08 23:18] #69 closed, assigned to nobody

[2014-12-08 23:18] #68 closed, assigned to nobody

[2014-12-08 23:21] thisandagain opened #70 "Design Program for Equity Bank"
Write and prepare a 10 page program design doc for Equity Bank in Africa.

Phase: Partnership
Owner: @benrito
Decision: Mark
Consulted: @thornet, Claw, @LauraReynal
Lead design: n/a
Lead dev: n/a
Quality: @davidascher

[2014-12-08 23:24] #28 closed, assigned to nobody

[2014-12-08 23:24] #29 closed, assigned to nobody

[2014-12-08 23:24] #30 closed, assigned to nobody

[2014-12-08 23:24] #33 closed, assigned to nobody

[2014-12-08 23:24] #34 closed, assigned to davidascher

[2014-12-08 23:36] thisandagain opened #71 "APP: Complete publishing & contacts UI for Webmaker App"
Completion of the publishing flow as per spec for the Webmaker App. Includes building an SMS contact list view using the "contacts" API via Cordova.

Phase: Build / Ship
Owner: @k88hudson
Decision: @thisandagain
Lead design: n/a
Lead dev: @gvn
Quality: @thisandagain

*Edit by @k88hudson:*
Tickets here: https://github.com/mozilla/webmaker-app/milestones/Publishing%20&%20Contacts%20UI%20

[2014-12-08 23:39] thisandagain opened #72 "Design scope of work for marketing activities at MWC"
Design scope of work for marketing activities at Mobile World Congress. @davidascher can you please expand on scope / brief?

Phase: Design
Owner: @thisandagain
Decision: @davidascher
Lead design: n/a
Lead dev: n/a
Quality: @k88hudson

[2014-12-08 23:42] thisandagain opened #73 "Migrate from Vue to React"
### RACI
Phase: Build / Ship
Owner: TBD
Decision: @thisandagain
Lead design: n/a
Lead dev: TBD
Quality: @simonwex

Port Webmaker App from [Vue.js](http://vuejs.org/) to [React](http://facebook.github.io/react/). Will require application development, testing, and documentation updates.

[2014-12-08 23:49] thisandagain opened #74 "Publish user stories / target audience personae to build.wmkr.org"
Publish user stories under a new "Audience" section on `build.webmaker.org`.

Phase: Design / Build / Ship
Owner: @secretrobotron
Decision: @thisandagain
Consulted: @LauraReynal, @edrushka
Lead design: n/a
Lead dev: @secretrobotron
Quality: @cassiemc

[2014-12-08 23:50] thisandagain opened #75 "Build a Unified Tool Prototype (Phase II)"
Design and create the first prototypes of a unified creation experience. Goal is to experiment with ideas on a simple tool that radically lowers the bar of creating content as per mobile experience and allows for large variability / "tinker-ability" in output.

### Audience
- Users of Firefox that are driven to Webmaker.org
- Users of Firefox OS that are driven to Webmaker.org

### Success
We have

[2014-12-09 00:06] thisandagain opened #76 "Build and ship a screenshot service"
In order to complete the application detail view for the Webmaker.app and create a more compelling experience for `/explore` on Webmaker.org, we need a service that will output screenshots of a provided URL with specified dimensions. The scope of work for this ticket is to build and ship a web service that generates a screenshot for an arbitrary Webmaker URL and stores that screenshot to S3. Can b

[2014-12-09 00:22] thisandagain opened #77 "Design & implement UX/UI improvements from testing"
Resolve UX and UI issues found during testing & QA review. Goal is to design and ship as many solutions to UX and UI concerns as possible within a single sprint.

### Milestone
https://github.com/mozilla/webmaker-app/milestones/UI%20Improvements

### RACI
Phase: Design / Build / Ship
Driver: @thisandagain
Decision: @thisandagain
Lead design: @vazquez
Lead dev: @gvn
Dev: @Pomax
Quality: @davidasche

[2014-12-09 00:24] thisandagain opened #78 "Demo Scripts & Video"
Produce demo scripts & mobile user experience video for MWC.

Phase: Design / Build / Ship
Owner: @thisandagain
Decision: @davidascher
Lead design: n/a
Lead dev: n/a
Quality: @cassiemc

[2014-12-09 00:26] thisandagain opened #79 "Finalize initial tool prototype"
Based on our initial user testing, the goal for this sprint is to wrap up the prototype of the unified tool. In order to do this with some confidence for moving into the build phase, we need to answer a few questions:

- How does this experience port to mobile? (Sketch / Wireframes)
- How would we scaffold social on top of this experience? (Sketch / Wireframes)
- How does this connect with existin

[2014-12-09 00:27] thisandagain opened #80 "Design Webmaker app install page"
Design landing and install page for Webmaker app. This will be used during and after MWC and will link to the beta install links for WMA on Android and Firefox OS. Eventually, this content will be updated to point at the Google Play and Firefox Marketplace stores. Possible URLs:
- m.webmaker.org
- app.webmaker.org
- webmaker.org/app
- webmaker.org/install

### Benchmarks
http://timehop.com/
http:/

[2014-12-09 00:28] thisandagain opened #81 "Ship install page & demo script for MWC"
Build, ship, and instrument install page for MWC.

#### Audience
Attendees of MWC, partners, and mass market traffic via PR.

#### Success
A complete, fully QA-ed, and optimized for mobile install page is ready for MWC at `webmaker.org/beta` by the end of the sprint with a demo script that matches our narrative.

#### Vision
Mobile design is ready for implementation (#80) but animations of each sc

[2014-12-09 00:33] thisandagain opened #82 "Prepare App for MWC"
Testing, QA, and refinement / hardening on the Webmaker App prior to Mobile World Congress.

#### Audience
Attendees of MWC, partners, and mass market via PR.

#### Success
A stable and feature complete app for demonstration at MWC. Will also be available for public use at `webmaker.org/beta`.

#### Vision
*See milestone*

#### Measurement
- % of users who create an app
- % of users who share an a

[2014-12-09 00:40] thisandagain opened #83 "Authentication & Complete Security Review"
Complete security review & authentication hardening in preperation for public beta release at Mobile World Congress.

Phase: Design / Build / Ship
Owner: @k88hudson
Decision: @thisandagain
Lead design: n/a
Lead dev: TBD
Quality: @simonwex

[2014-12-09 00:43] thisandagain opened #84 "Unified Tool Prototypes"
Continued iteration of unified creation tool based on prior prototypes and design phase to be done at the Toronto design work week.

#### RACI
Phase: Design / Prototype
Owner: @cassiemc
Decision: @thisandagain
Lead design: Meet-up
Lead dev: n/a
Quality: n/a

[2014-12-09 00:45] thisandagain opened #85 "On-boarding (Phase II)"
Design and implement new on-boarding experience based on finding from the initial experiment and work done on the unified tool to-date.

Phase: Design / Build / Ship
Owner: @secretrobotron
Decision: @thisandagain
Lead design: TBD
Lead dev: TBD
Quality: @cassiemc

[2014-12-09 00:47] thisandagain opened #86 "Public Beta"
Public beta release of Webmaker App at Mobile World Congress for Firefox OS 2.X and Android 4.2.

Phase: Design / Build / Ship
Owner: @thisandagain
Decision: @davidascher
Lead design: n/a
Lead dev: TBD
Quality: @simonwex

[2014-12-09 00:49] thisandagain opened #87 "Public Alpha"
Public alpha release of Webmaker.org at for desktop and tablet (Firefox / Chrome on Android 4.2 and Chrome / Safari on iOS 7).

Phase: Design / Build / Ship
Owner: @thisandagain
Decision: @davidascher
Lead design: TBD
Lead dev: TBD
Quality: @simonwex

[2014-12-09 00:52] thisandagain opened #88 "Final GSMA Field Report"
Release of *big* final field report with GSMA during Mobile World Congress.

Phase: Research / Build / Ship
Owner: @laurareynal
Decision: @davidascher
Consulted: @benrito
Lead design: @thisandagain
Lead dev: n/a
Quality: @cassiemc

[2014-12-09 01:17] #19 closed, assigned to nobody

[2014-12-09 01:17] #17 closed, assigned to nobody

[2014-12-09 01:17] #62 closed, assigned to nobody

[2014-12-09 01:18] #16 closed, assigned to thisandagain

[2014-12-09 01:19] #12 closed, assigned to simonwex

[2014-12-09 01:25] #5 closed, assigned to nobody

[2014-12-09 01:32] #7 closed, assigned to nobody

[2014-12-09 01:33] #8 closed, assigned to nobody

[2014-12-09 01:33] #9 closed, assigned to nobody

[2014-12-09 01:33] #10 closed, assigned to nobody

[2014-12-09 03:08] thisandagain opened #89 "India Field Report"
Release field report from India research trip. :earth_asia:

#### Milestone
https://github.com/MozillaFoundation/research/milestones/India%20Report

#### RACI
Phase: Research / Build / Ship
Owner: @secretrobotron
Decision: @LauraReynal
Lead design: n/a
Lead dev: n/a
Quality: @thisandagain

[2014-12-09 03:10] thisandagain opened #90 "UX Improvements from Testing"
Resolve UX issues found during user testing after beta release. Goal is to design and ship as many solutions to UX concerns as possible within a single sprint.

Phase: Design / Build / Ship
Owner: @k88hudson
Decision: @thisandagain
Lead design: TBD
Lead dev: TBD
Quality: @cassiemc

[2014-12-09 03:10] thisandagain opened #91 "UX Improvements from Testing"
Resolve UX issues found during user testing after alpha release. Goal is to design and ship as many solutions to UX concerns as possible within a single sprint.

Phase: Design / Build / Ship
Owner: @secretrobotron
Decision: @thisandagain
Lead design: TBD
Lead dev: TBD
Quality: @cassiemc

[2014-12-09 03:14] thisandagain opened #92 "Create "Live Feed""
For moderation (as well as *motivation*) we'll need a live feed of all projects being shared on Webmaker across both desktop / tablet and mobile platforms prior to release.

Phase: Design / Build / Ship
Owner: @thisandagain
Decision: @thornet
Lead design: TBD
Lead dev: TBD
Quality: @simonwex

[2014-12-09 03:18] thisandagain opened #93 "Publish / Share via Facebook"
Add "Facebook" to the list of publishing options within the Webmaker App. This will require OAuth integration as well as integration with the Facebook Connect API.

Phase: Design / Build / Ship
Owner: @k88hudson
Decision: @thisandagain
Lead design: n/a
Lead dev: TBD
Quality: @simonwex

[2014-12-09 03:21] thisandagain opened #94 "Instrumentation Pre-flight"
Pre-launch check to insure that instrumentation (Google Analytics & Optimizely) is properly integrated into both the desktop / tablet and mobile versions of Webmaker.

Phase: Build / Ship
Owner: @adamlofting
Decision: @davidascher
Lead design: n/a
Lead dev: TBD
Quality: @simonwex

[2014-12-09 03:24] thisandagain opened #95 "Update Splash & On-boarding"
Update splash page and on-boarding views in preparation for launch. In both cases, messaging and imagery are likely to need updates.

Phase: Design / Build / Ship
Owner: @secretrobotron
Decision: @thisandagain
Lead design: TBD
Lead dev: TBD
Quality: @cassiemc

[2014-12-09 03:25] thisandagain opened #96 "QA & Refinement"
Testing, QA, and refinement / hardening on Webmaker prior to initial release.

Phase: Design / Build / Ship
Owner: @secretrobotron
Decision: @thisandagain
Lead design: TBD
Lead dev: TBD
Quality: @simonwex

[2014-12-09 03:25] thisandagain opened #97 "QA & Refinement"
Testing, QA, and refinement / hardening on Webmaker prior to initial release.

Phase: Design / Build / Ship
Owner: @k88hudson
Decision: @thisandagain
Lead design: TBD @cassiemc
Lead dev: TBD @simonwex
Quality: @simonwex

[2014-12-09 03:28] thisandagain opened #98 "1.0"
Initial (re)-release of the Webmaker.org for desktop & tablets.

Phase: Design / Build / Ship
Owner: @thisandagain
Decision: @davidascher
Lead design: TBD @cassiemc
Lead dev: TBD @simonwex
Quality: @cassiemc

[2014-12-09 03:30] thisandagain opened #99 "Work Week"
Work week & "maker party" for the product team after release. Focus will be on retrospective (what went well / what didn't) and getting some time for *everyone* to see real users interact with the products.

Phase: Research
Owner: @thisandagain
Decision: @davidascher
Consulted: @thornet, Claw
Lead design: n/a
Lead dev: n/a
Quality: @thornet

[2014-12-09 16:04] davidascher opened #100 "Who should I contact if I have an question with an initiative on the dashboard"
@cassiemc asks: On the dashboard, I want to know:  The teams for each initiative. A list of names would suffice. Who I should contact if I have a question?

[2014-12-09 16:05] davidascher opened #101 "Quickly: what's top priority and what's second-tier?"
@cassiemc says: (Would be helpful to make p1 & p2 tags different colours). Maybe we could even group them accordingly. I personally find the platform tags less useful at this stage.

[2014-12-09 16:05] davidascher opened #102 "Quickly: what's blocked?"
@cassiemc says: Where are the danger zones? What needs attention asap?

[2014-12-09 16:06] davidascher opened #103 "Who'se working on what?"
@cassiemc says: I think it would be cool to see an overall long list of names & what people are working on. It helps us know everyone is covered & active, but also good for letting people self-manage. Who has a lot of work and needs help? Who has a little work who can probably help me? Who is getting lost in remotee land that I should reach out to? What is everyone working on? Who is doing somethi

[2014-12-09 16:06] davidascher opened #104 "Process Q: How do I flag something I don't agree with?"
@cassiemc asks: In the issue? At TPS? Both? Might include changing of resources, level of priority, shippability, etc.

[2014-12-09 16:07] davidascher opened #105 "Understanding individuals' capacity"
@cassiemc asks: Who has more than they can currently handle? Right now I filter by assignee but I think only 'owners' are assigned? Maybe meta bugs +  granular bugs would help with this.

[2014-12-09 16:07] davidascher opened #106 "Team-specific views over issues"
@cassiemc asks: I'd love to be able to see my team specific view. The equivalent of this: https://wiki.mozilla.org/Webmaker/Design Can I use sprintr or Codetree to do this?

[2014-12-09 16:08] davidascher opened #107 "Understanding progress on an initiative"
@cassiemc asks: What issues are related to specific features, ie. how close are we to shipping / how many more bugs do we have to fix before we can ship?

[2014-12-09 16:32] #104 closed, assigned to nobody

[2014-12-09 20:37] cassiemc opened #108 "Figure out better handoff process for designs"
We need a way of indicating that designs in Redpen are closed for feedback as they move into build stages. Currently, feedback often continues to come in after a design has been R+'d, which is rightfully confusing for the person building it.

One option: Upload a final redpen image with a stamp on top that says 'stop comments' ie.
![closed-comments](https://cloud.githubusercontent.com/assets/11863

[2014-12-09 21:49] secretrobotron opened #109 "User profile asset & info gathering"
## David Guarch
- Handle: @dguarch
- Contact: Lucy
#### Photos
- [Hosting a Maker Party](https://secure.flickr.com/photos/dgrup/14988602495/in/set-72157646638491276)
- [Holding some salami](https://secure.flickr.com/photos/dgrup/14801829587/in/set-72157646638491276)

[2014-12-09 22:51] secretrobotron opened #110 "t"
t

Audience: t
I suggest: t
- [ ] Kickoff meeting scheduled.
- [ ] Deadline and flexibility established.
- [ ] Localization plan created.
- [ ] Milestones created.
- [ ] Maintenance plan created.
- [x] Analytices plan created.
- [*] Scope creep avoided.
## RACI

Phase:
Owner:
Decision:
Lead design:
Lead dev:
Quality:

[2014-12-09 22:51] #110 closed, assigned to nobody

[2014-12-09 22:55] secretrobotron opened #111 "floof"
## Problem

floof
## Audience

floof
## Success

floof
## Vision

floof
### MVP

floof
## Risks

floof

[2014-12-09 22:56] secretrobotron opened #112 "woioiwef"
### Problem

woioiwef
### Audience

oinkn3ofi p3oafj 9po;nefajnwef
### Success

oifo43fim09j o2i3 o3i
### Vision

oiewmfwoelkfm
##### MVP

lkmelfkm32k3209230
### Risks

fo23p2k -231-10130
- [ ] Kickoff meeting scheduled.
- [ ] Deadline and flexibility established.
- [ ] Localization plan created.
- [ ] Milestones created.
- [ ] Maintenance plan created.
- [ ] Analytices plan created.
- [x] Scope c

[2014-12-09 23:01] secretrobotron opened #113 "snarp"
### Problem

snarp
### Audience

snarp
### Success

snarpsnarp
### Vision

snarp
#### MVP

snarp
### Risks

snarp
### Preparation Checklist
- [ ] Kickoff meeting scheduled.
- [ ] Deadline and flexibility established.
- [ ] Localization plan created.
- [ ] Milestones created.
- [ ] Maintenance plan created.
- [ ] Analytices plan created.
- [x] Scope creep avoided.
## RACI

[2014-12-09 23:03] secretrobotron opened #114 "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
## Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
### Audience

Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in volupt

[2014-12-09 23:07] secretrobotron opened #115 "Cupcake ipsum dolor sit amet danish chocolate. Soufflé ice cream soufflé macaroon."
## Problem

Cupcake ipsum dolor sit amet danish chocolate. Soufflé ice cream soufflé macaroon.
### Audience

Gingerbread chupa chups marzipan lemon drops. Fruitcake apple pie jelly beans gingerbread pie donut sweet dragée unerdwear.com. Candy canes jelly croissant sweet roll dessert cake oat cake. Cheesecake cookie applicake caramels toffee. Candy wafer brownie. Jelly beans apple pie sweet carrot

[2014-12-09 23:08] #111 closed, assigned to nobody

[2014-12-09 23:08] #112 closed, assigned to nobody

[2014-12-09 23:08] #113 closed, assigned to nobody

[2014-12-09 23:08] #114 closed, assigned to nobody

[2014-12-09 23:14] #115 closed, assigned to nobody

[2014-12-10 18:05] davidascher opened #119 "Need more unrestricted funds, and more people aligned with the mission"
Optimize the EOY donation flow and run the funnel + email campaigns

## Problem
Need more unrestricted funds, and more people aligned with the mission

### Audience
Firefox users and mailing list subscribers

### Success
$1.75M in the bank by EOY

### Vision
A highly optimized donation process

#### MVP
A less optimized process that we can iterate on quickly

### Risks
We shouldn't spend more on t

[2014-12-10 18:59] secretrobotron opened #120 "Launch Explorers user research project"
Launch community user research project called "Explorers" (for now).
- [ ] prepare survey
- [ ] prepare teaching kit
- [ ] put blog on webmaker.org (or something)
- Amira and Lucy to hustle to get some feedback
- Blog: what, who, how, why (where we want to go next)
- Success metric for Jan 30: response from 20 people

Phase: Build / Ship
Owner: @laurareynal
Decision: @thornet
Lead design: @LauraRe

[2014-12-10 19:21] secretrobotron opened #121 "Launch "Explorers" community user research program"
## Problem
Launch "Explorers" community user research program

### Audience
Community members who are interested in helping us conduct user research on a locale and scale we can't normally reach.

### Success
20 people responded and attempted program before Jan 30

### Vision
Materials, communications, and wrangling to get the program started.
Existing teaching kit: https://michelle.makes.org/thim

[2014-12-10 19:22] #120 closed, assigned to lauradereynal

[2014-12-10 19:59] secretrobotron opened #122 "WEBMAKER: Gather Webmaker user profiles"
Gather user profiles for Webmaker to put on build.webmaker.org.

Phase: Research
Owner: @secretrobotron
Decision: @secretrobotron
Consulted: @thornet, @LauraReynal, Hive
Lead design: n/a
Lead dev: n/a
Quality: @thisandagain

Relies on profiles in #58 and #59.

[2014-12-10 20:00] #109 closed, assigned to secretrobotron

[2014-12-10 21:19] secretrobotron opened #123 "Meta work for Maker Tools"
Produce ideas and draft designs for "Maker Tools" (Webmaker+Firefox) on Firefox Desktop and Firefox Mobile.
#### What is the problem that you are trying to solve?
- Problem for FF users on desktop:
  - the web is full of content ripe for editing and making, but unedited resharing is the expected default. The first step to editing/making is inaccessible to most people
    - reason: weak connection

[2014-12-10 21:21] secretrobotron opened #124 "Prototype "MakerFox" Tools for Firefox Desktop"
Stemming from meta work in #123, produce a prototype for Maker Tools targeted at Firefox Desktop.

Phase: Research
Owner: @secretrobotron
Decision: @davidascher
Lead design: @xmatthewx
Lead dev: @toolness
Quality: @thisandagain

ᕕ( ᐛ)ᕗ

[2014-12-10 21:21] secretrobotron opened #125 "Prototype Maker Tools for Firefox Mobile"
Stemming from meta work in #123, produce a prototype for Maker Tools targeted at Firefox Mobile.

Phase: Research
Owner: @secretrobotron
Decision: @davidascher
Lead design: @xmatthewx
Lead dev: TBD
Quality: @thisandagain

ᕕ( ᐛ)ᕗ

@simonwex who can we use for a lead dev here?

[2014-12-10 21:23] secretrobotron opened #126 "Intake form erases previous answers if form field is left blank"
Intake form returns with an error when one of the fields is blank, but all previous entries are erased.

*rage induced*

[2014-12-11 21:18] cassiemc opened #130 "What are the duties/expectations of the quality lead?"

[2014-12-12 14:23] vazquez opened #132 "Dribbble Debut Shot"
I think we've been designing some awesome things, and I would love for us to showcase our work to a design community like Dribbble. We have a key advantage in that our work is open! We first need to talk about the debut shot.

While in Portland I came up with an idea that allows us to begin to mold the rebranding of Webmaker in a fun way, and allows us to express our unique design styles. Think of

[2014-12-12 15:00] cassiemc opened #133 "Design diagram for the new heartbeat process"
The goal is to clearly visualize the new heartbeat cycle. Easy to grok. Without unnecessary complexity.

Based on Matt's notes here: http://workopen.org/heartbeat
I've started a design here: https://redpen.io/anc48a66ec7131545b

It's been suggested to have various views for different teams / POVs, ie. a different one for engineering vs program managers vs. design. I'd like to suggest that's out of

[2014-12-12 15:03] cassiemc opened #134 "How does the design review process work in GitHub"
Would love input from @vazquez @xmatthewx @flukeout here, knowing how we did it in Bugzilla. Is there a comparable workflow in Github? Is it by pull-request, or in a comment? Do you have to cc someone and ask them to review it in a comment? What is our preferred way of doing this?

[2014-12-12 15:30] secretrobotron opened #135 "Iterating on design & approval process"
A few of us met yesterday and discussed progress of a couple of projects that are in motion. Some confusion about pressure and desires and some ideas surfaced which I'd like to write down here for wider perspective and historical purposes.

This is how the design (and peripheral) process feels right now:
* A bunch of people discuss what would be desirable in a design
  * They make some slides, or

[2014-12-12 15:33] cassiemc opened #136 "'People' audit for MoFo repo"
Feels like we are missing people in this repo: https://github.com/orgs/MozillaFoundation/people
Can we double-check and make sure everyone is there who should be? Or is there a way to make this more open in general? (Can anyone invite anyone?)

[2014-12-12 16:04] davidascher opened #137 "Make the dashboard /now calendar view aware of holidays"

[2014-12-12 17:10] thisandagain opened #138 "Kickoff Meeting Template"
Define the deliverables and template for kickoff meetings. First round of notes here: https://etherpad.mozilla.org/kickoff

[2014-12-12 18:52] cassiemc opened #140 "Get people not on Github onto Github"
Currently we have some ownership listings with names that aren't tagged (presumably b/c we don't know their usernames or they aren't on github). We need to make sure the work is visible to the entire team, which means getting people not currently on github onto github, offering an introductory training, offering support, making sure people have the tools and skills they need to work collaborativel

[2014-12-12 19:24] #133 closed, assigned to cassiemc

[2014-12-12 19:29] cassiemc opened #141 "MozillaFoundation needs an avatar"
Right now we are just purple pixels: https://github.com/MozillaFoundation
Let's design something sweet. (gvn's idea, woot!)

[2014-12-12 20:05] k88hudson opened #142 "Contributor training for engineering"
Let's do some training/talk to some people about code contribution

Todos:
* [ ] ask some people to talk to the crew
* [ ] talk through common problems/issues
* [ ] talk through goals/OS contribution

[2014-12-12 20:08] secretrobotron opened #143 "TEACH: Update "teach" content on webmaker.org for the interim"
Augment the teach infra on webmaker.org to better suit the transitionary period. Mostly copy and slight content changes.

Phase: Design / Build / Ship
Owner: @ldecoursy
Decision: @edrushka
Lead design: n/a
Lead dev: n/a
Quality: @LauraHilliger

[2014-12-12 20:48] secretrobotron opened #144 "Launch refreshed Webmaker.org IA and splash page"
QA & Deploy changes to Webmaker.org from last sprint (IA and splash page).

[![IMAGE ALT TEXT HERE](http://img.youtube.com/vi/MLsrEw4dBT0/0.jpg)](https://www.youtube.com/watch?v=MLsrEw4dBT0)

Phase: Ship, Ship, Ship
Owner: @secretrobotron
Decision: @thisandagain
Lead design: @vazquez
Lead dev: @gesa, @vazquez
Quality: @thisandagain

[2014-12-12 20:50] secretrobotron opened #145 "Implement Splash page for webmaker.org"
Implement splash page designed in #45.

Phase: Build / Ship
Owner: @secretrobotron
Decision: @thisandagain
Consulted:
Lead design: @vazquez
Lead dev: @gesa
Quality: @cassiemc

[2014-12-12 21:57] davidascher opened #146 "TRAINING: Schedule "How to use Github Issues" open training sessions"
I hear that @dajbelshaw and @edrushka have some excellent material already.

[2014-12-12 22:02] thisandagain opened #147 "Define process for security bugs"
Because Github does not support private issues, we'll need a process and communication for how contributors can submit security / vulnerability issues.

[2014-12-13 05:15] davidascher opened #148 "x"
## Problem

x
### Audience

a
### Success

v
### Vision

s
#### MVP

d
### Risks

d
## Preparation Checklist
- [ ] Kickoff meeting scheduled.
- [ ] Deadline and flexibility established.
- [ ] Localization plan created.
- [ ] Milestones created.
- [ ] Maintenance plan created.
- [ ] Analytices plan created.
- [x] Scope creep avoided.
## RACI
- Phase:
- Owner:
- Decision Maker:
- Design Lead:
- Deve

[2014-12-13 05:15] #148 closed, assigned to nobody

[2014-12-13 05:17] #57 closed, assigned to davidascher

[2014-12-13 18:55] davidascher opened #149 "Sometimes after signin a random dependency (JS file image) is shown instead of the correct page"
STR:
- be signed out
- click on 'new'
- get sign in screen
- auth github
- RESULT: sometime you'll be served a JS file, sometimes an image.
- EXPECTED: back to the form where you should-have-been.

I believe the code at https://github.com/MozillaFoundation/plan/blob/master/app.js#L107 is responsible, but quite puzzled as to why.  I haven't unpacked how the skeleton I used to create the app thinks

[2014-12-13 19:00] davidascher opened #150 "BUILD: Improve user experience and IA for "build.webmaker.org""
The `/now` `/next` pages could use some styling, the IA needs revising, and it needs among others:
 * a welcome home page that explains the site, who it's for, how to use it
 * pointers to things that aren't on the site (e.g. the wiki if we want to keep using it
 * a process whereby Design and Engineering handbooks either get slurped in and displayed in this site or just pointing to them whenever

[2014-12-15 15:18] arlissc opened #151 "arlissc"
arlissc

[2014-12-15 17:27] cassiemc opened #152 "Create Q1 branding plan for Webmaker, Teach, Learning, and Hives / "Mozilla Learning""
## Problem
We need clarity around next steps for wider branding issues. I've created a plan to reach that clarity by dividing the work into Congruency, Research, Design & Implementation phases. Altogether should take 10 weeks to complete, the length of which is because of the level of detail and cross-team effort involved + scope of work to implement the changes.

### Audience
everyone!

### Succe

[2014-12-15 19:08] #136 closed, assigned to nobody

[2014-12-15 22:39] thisandagain opened #154 "Clarify "Quality" Role"
In each initiative's roles we have "quality" called out as something that we'd like someone to be explicitly accountable for. In our discussions, we've talked about a few things that we'd like that person to be responsible for.

Here is a rough synthesis from various email threads & etherpads:

#### Accountable for:
- Writing QA scripts
- Executing QA scripts & filing issues
- Sending "calls to ac

[2014-12-16 14:45] cassiemc opened #156 "Intake form doesn't recognize Github signin"
From @smithisgeneric: "I'm having trouble with the github page https://build.webmaker.org/intake.  All other github pages are recognizing me as logged in but this one won't."

Not sure system/browser or anything, maybe Karen can help us duplicate the steps or confirm that this is still an issue.

cc/ @davidascher

[2014-12-16 16:11] cassiemc opened #157 "Create a shared repository for user research results across Moco/Mofo"
I recently spoke with Bill Selman at Mozlandia about defragmenting user research across Mozilla. Good idea! At one point earlier this year, a bunch of Mofo designers spoke with Cory Shauer and Tony Santos about creating a shared user research repository like this. Result of that conversation: it's a challenge. But there is a lot we could do, and lots of smart heads to put together on this.

## Obj

[2014-12-16 16:48] toolness opened #158 "Allow existing Webmaker users to liberate their data"
**Note: I have no idea if this is the right place to file this issue. If it's not, feel free to close it and move it to a different repository!**

As Webmaker evolves, we don't know how long we'll be able to maintain our current product offerings. Even if we can maintain them forever, it's possible that users could "grow out of" our tools and services as they gain mastery over Web literacy.

To th

[2014-12-16 17:04] #130 closed, assigned to nobody

[2014-12-16 17:20] iamjessklein opened #159 "Intake form is displaying confusing error message"
This is the message that I am getting when I try to sign in:

![screen shot 2014-12-16 at 12 13 41 pm](https://cloud.githubusercontent.com/assets/535012/5458126/d65799fa-851d-11e4-8053-7d4f89e2e363.png)

cc/ @davidascher

[2014-12-16 17:56] #45 closed, assigned to secretrobotron

[2014-12-16 18:28] thisandagain opened #160 "Figure out better user support system"
## RACI
* Phase: Research / Design / Build / Deploy
* Owner: TBD
* Decision Maker: @thisandagain
* Design Lead: TBD @cassiemc
* Development Lead: TBD @simonwex
* Quality Verifier: @thornet

## Problem
We handle our user support through an email-based system today that generally gets delegated to a handful of people (or in some cases one person). We need to have a way to make sure that user support

[2014-12-16 18:38] thisandagain opened #161 "Intake form titles are too long"
We are using the input from the "problem" question as the title for the github issue. Most of the time this is waaaayyyy too long. We should ask users to provide a title for the issue at either the beginning or end of the intake form.

[2014-12-16 18:50] davidascher opened #162 "Make intake form ask "what's a tweet-length title for this issue?"
and use that as the title of the github issue.

@secretrobotron, want to do this?

[2014-12-16 19:12] #162 closed, assigned to nobody

[2014-12-16 21:26] LauraReynal opened #163 "India Field Research Trip"
Prepare and execute India Field research trip
--------------------------------------------------------------
**Preparation Checklist**
- [x] Get a visa
- [x] Plane ticket
- [x] Determine research locations
- [ ] Book intra country travels
- [x] Reach out to Mozillians in the different cities
- [x] Conduct India Desk research pre-trip
- [x] Engage India partners
- [x] **Refine personas and particip

[2014-12-16 21:33] lauradereynal opened #164 "Equity Specific Research Report"
Completes and precedes  #70
## Write another Research Report that is Equity Specific
- [ ] Merge with November first finding report
- [ ] Detail takeaways from November experience
- [ ] Wings to Fly analysis
- [ ] Deep Dive on Entrepreneurship
- [ ] Recommendations for the digital literacy program

---
## RACI

Phase: Research
Owner: @LauraReynal
Decision Maker: @thisandagain
Lead design: @thisand

[2014-12-16 21:45] thisandagain opened #165 "Reduce Front-End Technical Debt"
When building out new or modifying existing features on webmaker.org development is sometimes slowed due to engineering inconsistencies and a general lack of composability between various different parts of the site.

Examples:
- For recent revisions to login, two different approaches to the implementation needed to build built for both pre-angular and angular versions of our various tools.
- For

[2014-12-16 23:06] #164 closed, assigned to lauradereynal

[2014-12-17 00:10] #159 closed, assigned to thisandagain

[2014-12-17 00:16] xmatthewx opened #166 "Update Webmaker Welcome email"
Webmaker sends a welcome email from @amirad to new users. Content should be updated to align with future product plan.

[2014-12-17 02:20] #166 closed, assigned to nobody

[2014-12-17 15:08] LauraHilliger opened #167 "Can't log into build.webmaker.org"
I know it's not quite finished, but if I try to login with Github, it says:

"There is already an account using this email address. Sign in to that account and link it with GitHub manually from Account Settings."

build.wm.org IS in my applications under github settings. Any ideas?

[2014-12-17 18:17] #167 closed, assigned to nobody

[2014-12-18 20:14] thisandagain opened #168 "asdf"
## Problem

asdf
### Audience

asdf
### Success

asdf
### Vision

asdf
#### MVP

asdf
### Risks

asdf
## Preparation Checklist
- [ ] Kickoff meeting scheduled.
- [ ] Deadline and flexibility established.
- [ ] Localization plan created.
- [ ] Milestones created.
- [ ] Maintenance plan created.
- [ ] Analytices plan created.
- [x] Scope creep avoided.
## RACI
- Phase:
- Owner:
- Decision Maker:
- D

[2014-12-18 20:14] #168 closed, assigned to nobody

[2014-12-18 21:36] #138 closed, assigned to thisandagain

[2014-12-18 22:45] secretrobotron opened #171 "dfhsdfhdf"
## Problem

dfhsdfhdf
### Audience

sfdgsfdfdhshfdshfd
### Success

dfshhsdfdhdhhdf
### Vision

sdhfhdsdhdfhsdhf
#### MVP

goeprmpgomrpgomerg
### Risks

fkmfomve orimeo rigjoi jerg
## Preparation Checklist
- [ ] Kickoff meeting scheduled.
- [ ] Deadline and flexibility established.
- [ ] Localization plan created.
- [ ] Milestones created.
- [ ] Maintenance plan created.
- [ ] Analytices plan crea

[2014-12-18 22:45] #171 closed, assigned to nobody

[2014-12-18 22:54] #149 closed, assigned to thisandagain

[2014-12-18 22:54] #156 closed, assigned to thisandagain

[2014-12-18 23:23] burritoexplosion opened #173 "asdf"
## Problem

asdf
### Audience

asdf
### Success

asdf
### Vision

asdf
#### MVP

asdf
### Risks

asdf
## Preparation Checklist
- [ ] Kickoff meeting scheduled.
- [ ] Deadline and flexibility established.
- [ ] Localization plan created.
- [ ] Milestones created.
- [ ] Maintenance plan created.
- [ ] Analytices plan created.
- [x] Scope creep avoided.
## RACI
- Phase:
- Owner:
- Decision Maker:
- D

[2014-12-18 23:24] #173 closed, assigned to nobody

[2014-12-19 11:57] LauraHilliger opened #174 "Provide Community team with readable CSS for teaching kits and activities"
We're able to locate the original CSS here: https://stuff.webmaker.org/teach-assets/css/style-desktop.css
but it was simplified, streamlined and with the new headers and stuff this year. We can't lay out fingers on a readable version (only the garbly gooky gross min version here: https://stuff.webmaker.org/webmaker-kits/v2/css/style.css

Can someone locate a human compatible version of this file?

[2014-12-19 22:49] HPaulJohnson opened #175 "ENGAGEMENT: Ship privacy content for MoCo's Privacy Day campaign"
If we decouple new onboarding work from privacy theme, we still need webmaker.org content/landing page for MoCo's Privacy Day campaign.

As background, one of the primary CTA's in this engagement campaign is "Learn" which will point to webmaker/MoFo content.

Existing teaching kits would appear to have too much information density for the average Firefox user (which is what this campaign will driv

[2014-12-22 14:17] LauraHilliger opened #176 "Typo on splash page"
https://webmaker.mofostaging.net/en-US
under "more than code"
netowrks should be networks

[2014-12-22 18:35] #176 closed, assigned to nobody

[2014-12-22 19:21] xmatthewx opened #177 "Feedback on Webmaker browser tool"
Hello! We are testing a browser add-on idea for Webmaker and would love your feedback.

**Problem**: People who like to re-share content cannot easily edit or make new things from the content they find on the web. They might not know it's possible, and even if they do, the tools can be difficult to access.

**Solution**: This simple add-on will...
 1. meet people at the moment they want to re-shar

[2014-12-23 20:12] #145 closed, assigned to secretrobotron

[2014-12-23 22:30] #125 closed, assigned to xmatthewx

[2014-12-23 22:31] #123 closed, assigned to secretrobotron

[2014-12-23 22:39] #144 closed, assigned to secretrobotron

[2014-12-23 22:40] #46 closed, assigned to secretrobotron

[2015-01-05 15:11] cassiemc commented on #151
Looks like a test, so closing.

[2015-01-05 15:11] #151 closed

[2015-01-05 15:35] iamjessklein commented on #52
I just updated redpen with two more mockups.

[One](https://redpen.io/pwb1c1c8eeff624e89):
![landing3 5](https://cloud.githubusercontent.com/assets/535012/5615157/80488e6c-94c6-11e4-85df-3445a4c21b94.png)

[Two](https://redpen.io/kfdf87e263b5bf7762):

![landing-goggleson](https://cloud.githubusercontent.com/assets/535012/5615162/870feaec-94c6-11e4-9199-f6e2f55459be.png)

Also - I blogged about the

[2015-01-05 15:46] LauraReynal commented on #122
@secretrobotron @iamjessklein  New version of the graph featured on #59 and designed by Andrew !

![userjourney_20141223](https://cloud.githubusercontent.com/assets/8261945/5615290/ebf9f4a4-94f1-11e4-813f-56d07168fc5f.png)

[2015-01-05 16:05] LauraHilliger commented on #122
Loving the progress! Sweet graphic <3

Small nit - maybe think switching the "Exploring" over the left column and "Participating + Building" over the right to just saying Web Literacy and showing advancement along the continuum? Just thinking that the WebLitMap is complex enough that you hit competencies/skills under every strand at every stage (e.g. you start hitting participating skills in the "

[2015-01-05 16:08] thisandagain commented on #51
Couple blockers remaining. Tracking here:
https://github.com/mozilla/webmaker-login-ux/issues

[2015-01-05 17:14] k88hudson commented on #47
@thisandagain Agreed, we definitely didn't involve design review enough in the process – perhaps we need a little more structure about when/where to have design review. Having the second week will help somewhat :smile:

I was really happy to work with @flukeout and @gvn on this sprint btw, great to have more people working on this

[2015-01-05 17:21] gvn commented on #47
It was great working with you too! Nice work, everyone. :metal:

[2015-01-05 17:23] #54 closed

[2015-01-05 17:24] #47 closed

[2015-01-05 17:25] k88hudson commented on #63
I'm going to start triaging for this

[2015-01-05 17:33] k88hudson commented on #73
@thisandagain was this intentionally unassigned?

[2015-01-05 17:44] cassiemc commented on #146
Suggest we reverse the times for Jan 9 and Jan 13. So:

    Friday January 9, 2pm PT / 5pm ET / 10pm GMT, and
    Tuesday January 13, 7am PT / 10am ET / 3pm GMT.

@thisandagain @simonwex Would either of you guys be available for this Friday's Jan 9 session to help answer questions about Github workflow?

@secretrobotron @k88hudson Would either of you be available for next Monday's session to answe

[2015-01-05 17:45] xmatthewx commented on #52
awesome work @iamjessklein

[2015-01-05 17:50] cassiemc commented on #146
@mmmari When is the next all-staff meeting?

[2015-01-05 17:55] k88hudson commented on #146
@cassiemc I could help, yes

[2015-01-05 18:29] simonwex commented on #51
^ Blockers are those tagged "critical"

https://github.com/mozilla/webmaker-login-ux/issues?q=is%3Aopen+is%3Aissue+label%3Acritical

[2015-01-05 19:16] OpenMatt commented on #175
Next step: Paul is going to update this thread based on conversation with TPS group today

[2015-01-05 19:16] thisandagain commented on #63
Thanks @k88hudson. We should have a designer assigned by EOD via @cassiemc and should be able to schedule a kickoff for tomorrow. I'll send along an email once we have the team finalized. In the meantime, can you start to put together a milestone with details on the scope of work for this?

[2015-01-05 19:17] cassiemc opened #179 "BRANDING: Document roles & next steps for branding re: Webmaker / Mozilla Learning"
## Branding Phase 1: Congruency
From the meta plan here: https://github.com/MozillaFoundation/plan/issues/152

### Objective for this heartbeat
Gather all loose threads. Get the wider team on the same page and determine the scope of this branding exercise. Break into multiple branding exercises if necessary.

Ultimately, success will look like this: Webmaker/MoFo properties will have updated brand

[2015-01-05 19:18] secretrobotron commented on #64
ping @thisandagain @simonwex @cassiemc do we have people in mind for design and dev on this task for this heartbeat?

[2015-01-05 19:18] k88hudson commented on #63
@thisandagain yep

[2015-01-05 19:21] cassiemc commented on #64
Added @flukeout for lead design.

[2015-01-05 19:21] secretrobotron commented on #60
ping @simonwex @thisandagain if we want to provide a real build for this task in this heartbeat, we need a dev, yes?

[2015-01-05 19:23] cassiemc commented on #60
I'm assigning the UI here to @xmatthewx . I'll support / design review as needed but the main challenge will be his!

[2015-01-05 19:23] #52 closed

[2015-01-05 19:26] OpenMatt commented on #152
Revised title of this ticket to more clearly focus the goal.

Next step: Jan 6 project kick-off meeting will document roles and next steps.
a) clearly identify roles & owner. (for the next heartbeat or two -- owners and roles will change as we go)
b) agree on what's time-sensitive / urgent here. what *specifically* do we need to achieve on this file in Q1?
c) untangle threads. there's lots of diff

[2015-01-05 19:28] cassiemc commented on #152
@OpenMatt I filed #179 as a smaller scope for this heartbeat. I'd like to keep this meta ticket open though to see the whole exercise in one place. I'll remove the jan16 & p1 labels from this issue. Can you add your thoughts to #179, if still relevant?

[2015-01-05 19:29] cassiemc commented on #63
Assigned @vazquez for design.

[2015-01-05 19:30] k88hudson commented on #63
@cassiemc thanks!

[2015-01-05 19:33] cassiemc commented on #175
We need a RACI for this ticket, too. /cc @OpenMatt @HPaulJohnson

[2015-01-05 19:35] cassiemc commented on #64
cc @xmatthewx who I know is interested in staying in the loop on this.

[2015-01-05 19:39] OpenMatt commented on #179
@cassiemc: can you title this ticket in a way that stands on its own as a headline? Let's clearly telegraph to casual readers that this Heartbeat is about clarifying roles and scoping the plan.

* Gather and document the various threads.
* Get the wider team on the same page and determine the scope of this branding exercise.
* Break into multiple branding exercises if necessary.

Could be:
"Docume

[2015-01-05 19:42] cassiemc commented on #179
Thanks @OpenMatt , that wfm.

[2015-01-05 19:43] OpenMatt commented on #150
* I have some bandwidth later this week that I'd love to contribute toward this effort
* In particular: want to make sure this synchs well with 2015 planning pages. And also: clear zoom-in picture of Q1.
* Also will need: good internal communication and documentation. For how staff and community can make best use of this (awesome) new resource

[2015-01-05 19:44] cassiemc commented on #74
Question about scope: How will these be published? Will we be using http://personas.webmakerprototypes.org/ ? Or just a written document somewhere? I am hoping we can eventually repurpose the personas site, but we may not be ready to include photos or update those (though if we could use some real shots from @LauraReynal's field research that would be amazing). Happy to help provide design here if

[2015-01-05 19:44] flukeout commented on #64
You guys up for a kick-off tomorrow?

@thisandagain What is POP? I'm checking out inVision right now

[2015-01-05 19:47] HPaulJohnson commented on #175
Still confirming with MoCo engagement but tentative plan for Privacy Day campaign on 1/28 is:

- Promo on webmaker.org
- Featured privacy-themed learning activity using existing content: https://webmaker.org/en-US/private-eye
- Promo via blog and social channels
- Engagement email to 10K webmaker contributors

[2015-01-05 19:47] secretrobotron commented on #64
@flukeout check your inbox for kickoff calendar invite!

[2015-01-05 19:48] OpenMatt commented on #146
If we're able to lock down these training times in the next couple hours, I'll include it  in my mail to all-mofo EOD today. Would be a useful add.

Friday January 9, 2pm PT / 5pm ET / 10pm GMT, and
Tuesday January 13, 7am PT / 10am ET / 3pm GMT.

[2015-01-05 19:52] cassiemc commented on #175
Suggested RACI (Paul please feel free to update and add to the top of this issue):

Phase: Design / Build / Ship ?
Owner: @HPaulJohnson ?
Decision: @ ?
Consulted: @ ?
Lead design: @iamjessklein
Lead dev: TBD @simonwex
Quality: @thisandagain

[2015-01-05 19:56] cassiemc commented on #146
@OpenMatt Yes, let's consider these official. There will also be the regular GitClub on Wednesdays for people to jump into if they want more.

* weekly Gitclub meetings, every Wednesday 9am PT / 12pm ET / 5pm GMT. Gitclubbers of all skill-levels most welcome. https://etherpad.mozilla.org/gitclub

[2015-01-05 19:57] thisandagain commented on #64
@flukeout POP: https://popapp.in/

[2015-01-05 21:07] thisandagain commented on #146
@cassiemc Happy to help! :+1:

[2015-01-05 21:10] thisandagain commented on #150
@OpenMatt Sounds good. Invite sent for Wednesday. :smile:

[2015-01-05 21:14] thisandagain commented on #73
Yup! I unassigned folks past the 30th just to give us more flexibility with regards to who can be a project owner.

[2015-01-05 21:43] LauraReynal commented on #74
@cassiemc @secretrobotron We can use the pictures I have, I will give the high res one according to the personas who make it to the final cut :smile: :camera:

[2015-01-05 21:47] thisandagain commented on #143
Just a copy change. @secretrobotron to handle. Removing need for dev and design resources. Thanks folks!

[2015-01-05 22:17] simonwex commented on #175
Moving RACI to issue description

[2015-01-05 22:29] simonwex commented on #64
Hey @thisandagain, what is needed here from a dev point-of-view?

[2015-01-05 22:34] thisandagain commented on #64
@simonwex Good question! Not much for this SOW, but I'd love to have a technical contact on-point to bounce ideas with @flukeout and help keep the scope reasonable / contained.

[2015-01-05 22:36] simonwex commented on #15
I added a RACI to the description. I'm happy to help beyond QA/Review.

[2015-01-05 22:37] hannahkane commented on #14
Draw from:
https://etherpad.mozilla.org/badges2015plan
https://mofoportland.etherpad.mozilla.org/mentortechreqs

To be stored here: https://wiki.mozilla.org/Webmaker/Badges

[2015-01-05 22:41] simonwex commented on #64
@thisandagain I'm going to volunteer myself here.

[2015-01-05 22:41] hannahkane commented on #15
Thanks, @simonwex. Putting myself down as the owner of the eval phase, and will definitely call on engineers to help evaluate from a technical perspective.

[2015-01-05 22:47] #18 closed

[2015-01-05 22:47] thisandagain commented on #64
:smile:

[2015-01-05 22:48] hannahkane commented on #18
This is a dupe of #143

[2015-01-05 22:53] cassiemc commented on #71
Wondering if @thisandagain can cover quality on this issue, to give myself a bit more breathing room this heartbeat?

[2015-01-05 23:02] hannahkane opened #180 "Conduct user research on a new IA for teach.wmkr.org"
This is a child ticket of #11, which is the meta bug for the launch of a stand-alone teach.webmaker.org site to house all teaching/mentor content and features.

Relevant background: in #143, we're developing an interim solution by porting all teaching/mentor content to a sub-section of Webmaker.org. Eventually, all of that content will live on its own in a staff-editable CMS.

The scope of this ti

[2015-01-05 23:12] simonwex opened #181 "ENGINEERING: Create reference app using stack from engineering handbook; communicate to team"
We need a reference application we can all refer to when suggesting changes to our stack.

Phase: Build / Ship
Owner: @simonwex
Decision: @simonwex
Lead design: n/a
Lead dev: @Pomax
Quality: @jbuck
Dev: @alicoding

[2015-01-05 23:14] thisandagain opened #182 "APP: UX / UI improvements for field testing"
Clear UX & UI issues from [backlog](https://github.com/mozilla/webmaker-app/issues) for field testing in India.

Phase: QA / Build / Ship
Owner: @k88hudson
Decision: @thisandagain
Lead design: n/a
Lead dev: @gesa
Quality: @thisandagain
Dev: @alicoding

* Edit by @k88hudson*
Tickets: https://github.com/mozilla/webmaker-app/milestones/UX%20/%20UI%20improvements%20for%20field%20testing

[2015-01-05 23:15] hannahkane commented on #11
Repurposing this as a parent ticket for the entire project. First child ticket: #180

[2015-01-06 00:29] thisandagain commented on #71
Sure. I can take it @cassiemc

[2015-01-06 01:16] thisandagain commented on #165
I share a number of the concerns that @gvn raises here. IME trying to maintain a style-guide and a "living style-guide" (UI component system) in parallel is usually an exercise in futility for all but the most large and process-driven organizations (it worked great at General Electric ... but literally nowhere else). I recommend that any future style-guide be done as light-weight as possible as a

[2015-01-06 01:47] gvn commented on #165
Agreed. I wouldn't recommend maintaining 2 style guides.

The static guide should only serve as an artifact of the first design phase and subsequently the built guide serves as canonical for both design and dev.

[2015-01-06 09:44] LauraHilliger commented on #175
@simonwex add me as a C on that thar RACI?

@HPaulJohnson Stacy got permission from SpiderOak to remix this however we like (you were CC'd, but the email is from pre-break so I'm not sure if you've talked to her since?) Not sure if we have time/bandwidth, but thought I'd throw it in the issue.

http://zeroknowledgeprivacy.org/library/why-privacy-matters/

[2015-01-06 10:22] LauraReynal commented on #58
Report is live on the blog : http://blog.mozilla.org/m4d/2015/01/06/webmaker-bangladesh/
cc @benrito @davidascher @HPaulJohnson @edrushka @thisandagain @secretrobotron @cassiemc
Thank you very much for your contributions !

[2015-01-06 10:22] #58 closed

[2015-01-06 12:21] benrito commented on #14
We ought to ensure a meeting next week with @anmechung. The IMLS conversation very tied in.

[2015-01-06 15:25] simonwex commented on #175
@LauraHilliger done!

[2015-01-06 15:32] anmechung commented on #14
agreed

Here is another etherpad to draw from: https://etherpad.mozilla.org/contentproduct

[2015-01-06 15:38] simonwex commented on #49
Hey @k88hudson, @jbuck is also going to lend a hand with this P2. When he or @Pomax have some bandwidth they'll ping you to schedule a kickoff.

[2015-01-06 15:43] simonwex commented on #51
@jbuck is going to tackle the remaining issue today and then it's time to :shipit: <( :ship: )

[2015-01-06 16:24] secretrobotron opened #183 "Add a partner page to webmaker.org"
## RACI

* Phase: Design / Build / Ship
* Owner: @secretrobotron
* Decision Maker: Lynn
* Design Lead: TBD
* Development Lead: TBD
* Quality Verifier: @cassiemc

webmaker.org needs a ~~better~~ place to showcase our sponsors and partners. The ticker which scrolled through them in the footer was removed as per the last redesign.

* __Audience__: Principally, partners and supporters.
* __Success__:

[2015-01-06 16:42] xmatthewx commented on #51
Exciting stuff. @adamlofting - ready with your abacus?

[2015-01-06 17:05] thisandagain commented on #51
Awesome folks. :smile: x :100:

[2015-01-06 17:10] edrushka commented on #6
Studio Mofo is beginning this work now. Creative brief to be posted soon.

[2015-01-06 17:11] dajbelshaw opened #184 "Web Literacy Map needs an update to v1.5"
## Problem
Problem: The Web Literacy Map needs an update to v1.5

Details:  Initial testing (Q3/4 2014) around 'v2.0' through interviews, community survey, and community calls. Consensus that we move first to v1.5 and then v2.0 later in 2015.

Current status: asked Webmaker list for suitable time for community call http://doodle.com/nwknddmsdpubeine

Read more: http://bit.ly/weblitmapv2

Deadline:

[2015-01-06 17:16] DaveSteer commented on #175
@simonwex can you add me to the RACI? Probably as a C. Thanks!

@HPaulJohnson and I are also thinking about a potential OpEd on 'Learning Privacy'. Let me know if anyone is interested in contributing. I'm going to get started on a draft this week. We're also collaborating with the MoCo engagement and policy teams on a Twitter Chat on data privacy day.

[2015-01-06 17:18] HPaulJohnson commented on #175
Added to RACI. Scheduling kickoff shortly.

[2015-01-06 17:28] dajbelshaw commented on #175
@DaveSteer @HPaulJohnson I'm happy to help with the OpEd if you'd like my input. :-)

This slidedeck from last year may be of some use: http://www.slideshare.net/dajbelshaw/privacy-getting-beyond-meh

[2015-01-06 17:35] thisandagain commented on #72
@davidascher Could you drop a bit more context into this issue?
(cc @HPaulJohnson @benrito )

[2015-01-06 17:37] thisandagain commented on #184
cc @hannahkane

[2015-01-06 17:38] HPaulJohnson commented on #175
@LauraHilliger RE: zeroknowledgeprivacy content, MoCo was leaning towards dropping it as they thought it was too dense for their campaign/audience. Their preference is the to use the "private eye" content as it's more "low-bar." Confirming today at their weekly check-in.

[2015-01-06 18:11] davidascher commented on #49
Note: We probably need to also consider something like
https://github.com/jimmynicol/image-resizer to make sure that we don't
serve high-res images to people on low-res (and low/expensive bandwidth
phones).

On Tue, Jan 6, 2015 at 7:38 AM, Simon Wex <notifications@github.com> wrote:

[2015-01-06 18:39] benrito commented on #72
The idea is to have an incredibly photogenic demo or choreographed use case for the Webmaker app, so that we can demo in the booth, in marketing materials, and maybe even when Mark Surman is on stage.

There were some design suggestions, such as: touch on local, evoke global participation, et etc. But the basic idea is to have a "pop" moment with the app that people will remember and talk about.

[2015-01-06 18:42] davidascher commented on #72
What @benrito said, although I'd add a couple of qualifiers:

 * it doesn't need to be with the app.  The context is likely not "the Webmaker app" but a more generic talk by mark about local content, etc.  It could be a bespoke thing, throw-away.
 * it is likely 90 seconds long at most.  A flash demo moment, nothing big, and nothing that requires much setup.

[2015-01-06 18:53] secretrobotron commented on #143
Landed :). Just waiting for a prod push now.

https://github.com/mozilla/webmaker.org/commit/48bb7808e9f3d8ae33d7bff0abad97efb0a643aa

[2015-01-06 19:08] simonwex commented on #64
prototype

[2015-01-06 19:08] flukeout commented on #64
https://etherpad.mozilla.org/unified-tool-prototype-kickoff

[2015-01-06 19:20] OpenMatt commented on #184
cc @thornet cc@ldecoursy

[2015-01-06 19:21] OpenMatt commented on #184
oops: cc @ldecoursy

[2015-01-06 19:31] OpenMatt opened #185 "COMMS: Plan and execute communications around 2015 plans"
* This is going to eat up a large chunk of time for me this Heartbeat. And is important for us to do well.

* Has two main pieces:
1) Mozilla-wide comms plan (MoCo + MoFo)
2) MoFo comms plan

[2015-01-06 19:35] ldecoursy commented on #184
Hi @dajbelshaw, do you need specific help (copy and/or design) to make this happen? Depending on timing, our team may be able to make some changes ourselves once teach.webmaker.org is ready (closer to end of Q1).

[2015-01-06 19:36] OpenMatt commented on #185
Not all of this can be public yet. Broad strokes:

#Mozilla-wide Comms Plan (MoCo + MoFo)#

1) Email. Chris Beard sends an email to all. With a recap of 2014, plus summary of 2015 targets and plans.

2) Presentations
* the Project Meeting on the 12th
* the Mozilla internal meeting on the 12th, and
* the Directors meeting on 15th

3) Infographics

4)  2015 wiki / web page
* Plan is to create a sing

[2015-01-06 19:40] HPaulJohnson commented on #175
Update on deliverables for privacy day campaign on webmaker.org from kickoff meeting:

- Create promotional space on main splash page featuring a privacy-themed CTA, likely above "our values" section and below primary webmaker CTA. Note: this space will be designed for future re-use in other engagement and marketing campaigns.
- Create small promotional space on subpages for reinforcing campaigns

[2015-01-06 19:43] OpenMatt commented on #14
Suggestion:

* have Hannah take a first pass at synthesizing these various documents. And consolidating into https://wiki.mozilla.org/Webmaker/Badges as she proposed.
*  surface key tensions and questions. Part of that can be Hannah surfacing questions and unknowns in her draft.
* then schedule a stakeholder meeting. (for next week, or week following.) So that all the stakeholders can review and d

[2015-01-06 19:46] OpenMatt commented on #183
@secretrobotron: should we propose making this a P2 for Jan30 train?

[2015-01-06 19:50] OpenMatt commented on #175
* This all sounds good to me.
* Just wanted to note that there's additional privacy-focused content here, if needed: https://webmaker.org/en-US/resources/literacy/weblit-Privacy

[2015-01-06 19:54] k88hudson commented on #142
Hey @ednapiranha, here are some questions: you *definitely* don't need to address them all, but they might give you a good idea of some of the practical issues we face and problems we need to discuss (WIP): https://gist.github.com/k88hudson/2b4765eb3d73739848a1

I was hoping you could speak to us some time at the end of January/beginning on February

[2015-01-06 20:06] secretrobotron commented on #183
@OpenMatt yep! that's works fine.

[2015-01-06 20:19] k88hudson opened #186 "Move PTO calendar to mofo google apps?"
Sorry if this is the wrong place to file this.

We previously had a PTO google calendar that I find pretty useful, are we still using that? If so, can we move it to mofo?

[2015-01-06 20:42] ednapiranha commented on #142
Sounds good!

[2015-01-06 22:53] secretrobotron opened #187 "Ship first draft Product & Process Handbook"
The process and product concepts which drive webmaker need to be documented.

## RACI

* Phase: Write / Build / Ship
* Owner: @OpenMatt
* Decision Maker: @davidascher
* Design Lead: N/A
* Development Lead: @secretrobotron
* Consulted: @cassiemc, @LauraReynal, @thisandagain, @OpenMatt
* Quality Verifier: @thisandagain

The process and product concepts which drive webmaker need to be documented.

##

[2015-01-07 00:24] mmmavis opened #188 "WordPress workflow? Alternatives?"
Excuse me for my loooooooooong post :cold_sweat:

Currently many MoFo sites are built in WordPress:
eg. [Hive Learning Networks](http://hivelearningnetworks.org/), [Advocacy](https://advocacy.mozilla.org/), [MozFest](http://2014.mozillafestival.org/), [Fundraising](https://fundraising.mozilla.org/)... and more

### Current Workflow (definitely not optimal) ###
1. Fresh WordPress install
2. Create

[2015-01-07 00:24] mmmavis commented on #188
@simonwex

[2015-01-07 02:51] thisandagain commented on #188
cc @hannahkane

[2015-01-07 03:05] davidascher commented on #188
For a bunch of these sites, I expect a static site generator with embedded
disqus comments is likely just fine.  e.g. Jekyll, Octopress, … Combined
with a travis hook to publish on github commit, it means that simply making
a push of a markdown file can update the site.  It's also easy to setup
prose.io to make it possible for people to edit those files in a web
browser without having to learn git

[2015-01-07 08:45] LauraHilliger commented on #175
+1 sounds great (sorry I couldn't make the kickoff). Working on credibility at the moment, but if we have time to get a simple, simple privacy module for club leaders out the door pre-Privacy Day, we'll update this bug. Not for inclusion on main CTA, but in other posts/comms or in promotional spaces on subpages.

[2015-01-07 10:03] LauraHilliger commented on #143
QA note: badges are lost. They aren't at teach.wm.org, they aren't on wm.org
Nav under teach links to https://blog.webmaker.org/badges which links back to badges.
Explicit links from the Mentor Page to Skill Sharer and Mentor badge exist.

[2015-01-07 10:18] dajbelshaw commented on #184
Hi @ldecoursy yes, we will do please. I've invited Sabrina and Matthew to the calls themselves to get their input from a design point of view.

The feedback from the community (see http://bit.ly/1wVErUD) was that we need better contextualisation of where the Web Literacy Map fits in terms of the Mozilla mission, etc.

Would be a great thing to launch with teach.webmaker.org. In this new GitHub sys

[2015-01-07 14:48] cassiemc commented on #188
<3 that you're tackling this @mmmavis. Besides also addressing your pain, which is important, I would love to see how the solution to this problem can help streamline ux & design across mozilla properties. One mozilla ftw!

[2015-01-07 15:05] LauraHilliger commented on #180
Hmm I see
* Teaching Resources
* Professional Development
* Clubs
* Badges
* Get Involved
as top tier. But I wonder if we should have a discussion about organizing teach.wm.org around the stuff in the [requirements doc] (https://teach.etherpad.mozilla.org/requirements)

Namely:
* Home (our global story, CTAs, social activity)
* Community (local stories, groups, personal and organizational profiles

[2015-01-07 15:08] hannahkane commented on #180
Hey @iamjessklein and @LauraHilliger — the items in the spreadsheet were used for the interim solution that launched yesterday.

This ticket is for conducting some user research to determine a more long-term solution. I'd love to do a card sorting activity with end users in order to better understand their mental models for organizing information, which may line up with how we organize internally,

[2015-01-07 15:14] ldecoursy commented on #143
Good catch! We wanted to link to https://blog.webmaker.org/badges as one place to see all badges however now the images and links seem broken. @secretrobotron let us know what we can do to resolve.

[2015-01-07 15:22] hannahkane commented on #180
Renaming this ticket. Name didn't match the scope I was thinking.

[2015-01-07 15:24] hannahkane commented on #15
Evaluation matrix here: https://docs.google.com/a/mozillafoundation.org/spreadsheets/d/1tEYcrrNhLJjLyS2pDVHO6rY5Q343j7XiVDUZpkh4_zE/edit#gid=0

Please add any software you'd like investigated.

[2015-01-07 15:34] hannahkane commented on #14
That sounds like a good plan, though this is a P2 for me, so I think it's more likely that the stakeholder meeting will happen the week of the 19th. I'll likely be asking ppl questions in the meantime, though. :)

[2015-01-07 15:42] secretrobotron commented on #143
Yeah, good catch. Looks like it's unrelated to these changes though. Let me do a bit of digging and I'll file another issue.

[2015-01-07 16:01] secretrobotron commented on #143
Peeps are on it. Thanks for notifying, @LauraHilliger.

https://bugzilla.mozilla.org/show_bug.cgi?id=1118718

[2015-01-07 16:01] #143 closed

[2015-01-07 16:34] OpenMatt commented on #150
Notes on IA and suggested next steps in advance of our meeting:
https://etherpad.mozilla.org/build

[2015-01-07 17:11] secretrobotron opened #189 "WEBMAKER: Improve webmaker signup emails"
## Problem
The emails users get when they sign up (and other activities on webmaker?) are old and unappealing.

### Audience
Learners, visitors, community.

### Success
People use the emails we send them to re-engage with webmaker in ways we can predict/test.

### Vision
Better emails. The emails one gets for the new login system might be a good example. They're colourful and their intent is obvio

[2015-01-07 17:13] iamjessklein commented on #175
Just updated redpen with two mockups that show the touchpoints:

[where we can insert the promo space on webmaker](https://redpen.io/hd4dd4e6d7b1f53d26):
![img_3300](https://cloud.githubusercontent.com/assets/535012/5649739/3c909d4e-9666-11e4-989f-b130d807bbac.JPG)

[where we can input the prompt for Webmaker join on the Privacy Splash](https://redpen.io/ecb05f50828d994a9a):
![img_3301](https://cl

[2015-01-07 17:52] k88hudson commented on #163
- [ ] Make a fake gmail, create an account at https://login.mofostaging.net/account
- Set a password on https://login.mofostaging.net/account

[2015-01-07 17:53] Pomax commented on #181
The intention is to implement a 'mini webmaker' with a client side app/ui that lets you CRUD simple makes, and the webmaker login tied into it because almost everything we make will end up using that.

Looking at the app from the traditional roles, I'd identify things as:

* [ ] housing the client's software and the resources required for that to do its job

React app, served as static app, genera

[2015-01-07 18:03] DaveSteer commented on #175
Cool! Just a quick messaging thought -- can we say that 'every day is privacy day'? I'm just worried that, for most people, 'Data Privacy Day' doesn't really mean anything. Plus, broadening the message gives this more of a shelf life. Thoughts?

[2015-01-07 18:06] cassiemc commented on #179
@HPaulJohnson Hey Paul, can you update us on what's happening with this? We haven't had our kickoff yet and it seems the meeting has been rescheduled twice. Are you having trouble wrangling everyone (if so, perhaps we could narrow the group or come up with another solution?) Wary about time dwindling away in this heartbeat.

[2015-01-07 18:09] HPaulJohnson commented on #179
Sorry, @cassiemc. Some key participants are out sick so waiting to hear when they are back full force to join us. I'm hoping tomorrow or Friday but don't want to reschedule a 3rd time without being sure.

[2015-01-07 18:11] cassiemc commented on #179
Ok, thanks for the update @HPaulJohnson!

[2015-01-07 18:33] LauraReynal commented on #163
- Make a quick "what do want for dinner" survey template
- Laura to write scenario questions for testing the input, data, submit, counter blocks

[2015-01-07 18:34] jbuck commented on #181
humbly suggesting we take a long hard look at https://github.com/yahoo/react-intl for internationalization

[2015-01-07 18:36] smithisgeneric commented on #175
[Hive Toronto curriculum on privacy] (https://docs.google.com/document/d/1Mxg-Ld_jbySMq1TKLKs8kockf0dB3G2czam8WakpE24/edit ) is in draft (text form).

If there is any outstanding interest in having a new activity or two to profile on Jan. 28th I can put the  [Data Trail Timeline] (https://docs.google.com/document/d/1DCC-NozBKLau3ZgK0uGA0QRdCpevdzRmXcO5G1oMnyo/edit ) and/or [Coach] (https://docs.go

[2015-01-07 18:46] iamjessklein commented on #175
Just doing a quick once over on Webmaker, there are actually a few touchpoints for promo content that we could leverage.

* landing page = the sliver of space in between the onboarding section and the values section , also almost like product placement in the messaging on the onboarding section
* explore page = featured content in the top row of cards
* events page = listed as a top level event
*

[2015-01-07 18:50] OpenMatt commented on #150
Andrew and I updated the wireframe based on our meeting today:
http://mzl.la/build_wireframe_2

Next step: Andrew will do a design pass

[2015-01-07 18:51] OpenMatt commented on #150
@davidascher : I believe we've also addressed the notes you left in the pad.

[2015-01-07 18:54] OpenMatt commented on #150
* Note also that "How we work" will include:
** Engineering handbook
** Design handbook
** Product & Process handbook
** Tools we use (etherpad, wiki, IRC, etc.)

[2015-01-07 18:55] DaveSteer opened #191 "Net Neutrality Campaign"
This has three pieces: updated web site, petition, call congress tool

### RACI
* Phase: Design / Build / Ship
* Driver: @edrushka (for site updates and petition) @simonwex (for call congress tool)
* Decision Maker: @valianttry
* Consulted: @DaveSteer, @HPaulJohnson
* Design Lead: @sabrinang (for site and petition) @cassiemc (for call congress)
* Development Lead: @mmmavis (for site and petition)

[2015-01-07 18:55] gesa commented on #175
Hey @iamjessklein! Lots of great ideas! but they also leave me with a whole bunch of questions =/

what is the "privacy splash" that you redpenned? where does it live? does it already exist? (like, are we talking /privacy-makes ?)

As far as promo touchpoints are concerned:
- **landing page** as in the page we call "splash" or "home"? big :+1:
- **explore page** if you're referring to the gallery

[2015-01-07 19:04] iamjessklein commented on #175
Hey @gesa thanks for the questions.

* **landing page** cool. will mock up once i get the assets from @HPaulJohnson
* **explore page** - yes, it seems like there are a handful of privacy related makes - is there no way to force certain content to the top 1 or 4 makes?
* **events page** - again, my thought was that if there was an event created - based on timing it could be on the top - and potenti

[2015-01-07 20:16] simonwex commented on #181
@alicoding ^

[2015-01-07 20:17] k88hudson commented on #182
@gesa @alicoding the list of tickets is here, feel free to grab any you have time for.

Check out http://webmaker-mobile-guide.mofodev.net/get_started/README.html if you need help getting set up

[2015-01-07 20:23] hannahkane commented on #184
I'd love to start attending the calls and work with you to file the tickets, @dajbelshaw. Agreed it could be good to launch in conjunction with teach.w.o, but I don't have a very good sense of the scope/effort yet.

[2015-01-07 20:47] jbuck commented on #186
@simonwex I think you were working on this too?

[2015-01-07 20:57] davidascher commented on #150
cool. only thing that still feels off is we're fuzzy on scope between
webmaker, learning, mofo, etc.

[2015-01-07 21:01] jbuck commented on #51
And we're now deployed.

[2015-01-07 21:01] #51 closed

[2015-01-07 21:03] toolness commented on #188
I personally really like using WordPress Admin as a backend for CMSes because it's both easy to use, fully-featured, *and* tons of non-devs are already quite familiar with it. What frustrates me more is WP front-end/theme work, since like Mavis and others I'm extremely rusty on my PHP.

For a pro-bono site I worked on, [lifeofthelaw.org](http://lifeofthelaw.org/), I wrote a node-based [front-end](

[2015-01-07 21:14] secretrobotron commented on #189
Would love to use the templates that @sabrinang is working on: https://redpen.io/qtc78342c819f42537

[2015-01-07 21:15] HPaulJohnson commented on #189
Me too! Can webmaker emailer send HTML templates?

[2015-01-07 21:17] secretrobotron commented on #189
@jbuck do you know what sends out webmaker welcome emails right now? Is it BSD?

[2015-01-07 21:52] HPaulJohnson commented on #175
Waiting to hear back from MoCo about an official graphic for this campaign to incorporate into these promos. In the meantime, I'll draft messaging but want to understand all the places we need copy for. Based on the above mockups, I'll come up with copy for:

- Small banner at top of webmaker.org below nav
- Horizontal "sliver" on webmaker.org homepage below main splash page CTA.
- Generic horizon

[2015-01-07 21:59] jbuck commented on #188
If we just need a way to edit content, https://prismic.io/ and then we can do whatever we want with the front-end?

[2015-01-07 22:00] gesa commented on #188
+100 @davidascher's comment on Jekyll, Prose.io, and Travis. I've done this several times for clients and family members, it p much *always* ends with happy users.

[2015-01-07 22:12] alicoding commented on #188
I would suggest https://ghost.org/ since they are open source and it's written in JavaScript. The benefit here is that it's really easy to use and it also supports multi-user. Writing a plugin or adding anything is just like using any other node npm's module, so nothing new to learn here.

[2015-01-07 22:29] iamjessklein commented on #175
@HPaulJohnson :+1:

Depending on how we do it - the small banner could be the ribbon - I quickly [mocked this up](https://redpen.io/mc4b38c5b4e3cff977) - but it's an early stage mockup.

[2015-01-07 22:36] thisandagain commented on #175
Solid start @iamjessklein!

[2015-01-07 22:36] jbuck commented on #189
@secretrobotron yes, it's sawmill. Current email content can be found at https://github.com/mozilla/webmaker-mailroom .

[2015-01-07 23:10] k88hudson commented on #49
@Pomax, @jbuck issues are https://github.com/mozilla/webmaker-app/milestones/Image%20Uploading

[2015-01-08 00:23] LauraReynal commented on #59
@cassiemc @secretrobotron @davidascher @thisandagain @benrito

The Kenya Report is ready for its first review!
https://www.dropbox.com/s/87r8bqi2bml8jxz/kenya_7-01-14.pdf?dl=0

I propose we do edits like @cassiemc did last time => comments on a pdf that we post here.
Just let me know how I can help !
Thansk

[2015-01-08 00:32] gesa commented on #182
Now that I'm set up and exploring webmaker app...

@k88hudson: how soon are we transitioning from Vue to React? Is there value in me taking the time to learn Vue (and webmaker app in general), and taking the time to close these issues, when we're about to re-do everything anyway?

[2015-01-08 00:38] k88hudson commented on #182
@gesa I expect we'll start the conversation process in a month or less, so, perhaps not. If you *are* interested in doing one and have time this one should be pretty much css-only https://github.com/mozilla/webmaker-app/issues/670

[2015-01-08 01:54] simonwex commented on #186
Yup, in-progress. I'm hoping Mari can own it.

[2015-01-08 13:54] dajbelshaw commented on #184
Cool, well happy to schedule a call to get you up-to-speed @hannahkane. Also, we'll be going through it on the first call next week. What would you prefer? :-)

[2015-01-08 16:13] secretrobotron commented on #189
Thanks @jbuck . Should be alright to use HTML then, @HPaulJohnson .

[2015-01-08 16:24] hannahkane commented on #184
I can wait for next week's call. Thanks, @dajbelshaw.

[2015-01-08 18:39] OpenMatt commented on #146
Andrea is looking for more info on where the trainings are happening (what Vidyo room, etc.)

[2015-01-08 18:42] OpenMatt commented on #146
Oh -- just saw it's all here. I think the confusion was just with the other GitClub etherpad, above.
https://etherpad.mozilla.org/githubtraining

[2015-01-08 19:35] simonwex opened #192 "Debrief EOY 2014 Project"
Debrief process should ship:

1. Specific recommendations for improving "rapid iteration" build-cycle (e.g. getting better as a team at executing a fast-moving, metrics-based campaign);
2.  Prioritization of the needs in [this document] (https://foundation.etherpad.mozilla.org/EOYFR-2015-Ideas). What are the things we can build during 2015 that will improve fundraising / advocacy infrastructure fo

[2015-01-08 19:41] secretrobotron opened #193 "WEBMAKER: Direct logged-in users to a different splash page"
When users who have a webmaker account arrive at webmaker.org, they should be greeted with a splash page that caters to them as they already understand what webmaker is, and have likely already made something. This will be distinct from new users who are asked to create something and sign up.

Phase: Design / Build / Ship
Owner: @secretrobotron
Decision: @thisandagain
Consulted: @edrushka, @HPaulJ

[2015-01-08 19:52] secretrobotron commented on #193
New strategy: point logged-in users at /explore.

[2015-01-08 19:52] #193 closed

[2015-01-08 19:53] cassiemc commented on #193
+1

[2015-01-08 21:43] hannahkane commented on #14
Will schedule a kick-off meeting shortly.

Would be great if stakeholders could take a look at this draft of a proposed roadmap for Badges 2.0 in the meantime: http://mzl.la/1AxcmUq

@anmechung @benrito @thisandagain @davidascher @omnignorant @thornet @amirad @leahatplay @smithisgeneric  + claw and kathryn, who's github names I don't know

[2015-01-08 21:48] secretrobotron commented on #64
Really cool progress: https://www.flickr.com/photos/129765840@N05/

[2015-01-09 16:08] iamjessklein commented on #175
New eyeballs. [Drop comments in redpen.](https://redpen.io/zt7fe21a11c8f4076d)
![eyeballs](https://cloud.githubusercontent.com/assets/535012/5682689/de92bb6a-97ef-11e4-8180-1a6f5715fb33.png)

[2015-01-09 17:08] cassiemc commented on #146
These are scheduled. Details are in the above pad. So, closing!

[2015-01-09 17:08] #146 closed

[2015-01-09 17:27] iamjessklein commented on #175
Also updated some options for placement of the eye. [Drop comments in redpen](https://redpen.io/xk71bf44406907265d)
![privacyplacementoptions](https://cloud.githubusercontent.com/assets/535012/5684015/d1feefd0-97fa-11e4-8a9e-8fd8df5945a6.png)

[2015-01-09 18:49] LauraReynal commented on #59
Hey all copy-reviewers and quality-verifiers, @cassiemc @secretrobotron @davidascher @thisandagain @benrito
Would thursday be okay for your different reviews? Would be great to have the final version for next Monday, the 19th, for publishing.
Thanks

[2015-01-09 20:55] mmmavis commented on #188
Hey guys, thanks for the great feedback.  I'll have to do lots of research before I can start asking questions again.  If we can settle an improved system it will benefit our future projects a lot!!!  Fingers crossed!

For our existing WordPress sites, since we are kinda late to the game and have no resources to port everything to the *new* system... I'm gonna see how I can make use of this popula

[2015-01-09 20:56] mmmavis commented on #188
@davidascher cool I will find you when I go to the office next week.

[2015-01-09 21:28] xmatthewx commented on #189
Is it worth thinking about how emails are queued and managed to make it easier for @HPaulJohnson to iterate and experiment?

[2015-01-09 21:34] secretrobotron commented on #64
https://redpen.io/p/cmff8130e14f8678b0

[2015-01-09 21:57] HPaulJohnson commented on #189
Yes @xmatthewx! That's what we want to get to. I think @Kellijk has this in mind when thinking about the eventual transition away from BSD.

[2015-01-09 22:11] cassiemc opened #194 "Document our label and milestone conventions"

[2015-01-09 22:24] iamjessklein commented on #175
Updates on redpen [drop comments](https://redpen.io/p/zv09901282fde1a38f)

* the final 3 eyes
* hover state
* private eye tweak

![screen shot 2015-01-09 at 4 58 59 pm](https://cloud.githubusercontent.com/assets/535012/5688366/4416ba5c-9824-11e4-8f44-318733a7c53f.png)
![hoverstate](https://cloud.githubusercontent.com/assets/535012/5688371/4cdefa64-9824-11e4-903b-6ef43244bbbe.png)
![privateyetweak]

[2015-01-09 22:55] simonwex opened #195 "We don't have enough Nilla wafers! (We need them for the Mentors)"
## Problem
We don't have enough Nilla wafers! (We need them for the Mentors)

### Audience
Mentors

### Success
Mentors are full of wafers

### Vision
80 boxes of them!

#### MVP
79 Boxes of wafers

### Risks
Wafers go stale

## Preparation Checklist

 - [ ] Kickoff meeting scheduled.
 - [ ] Deadline and flexibility established.
 - [ ] Localization plan created.
 - [ ] Milestones created.
 - [ ] M

[2015-01-10 01:15] thisandagain commented on #195
P1. :wink:

[2015-01-10 01:15] #195 closed

[2015-01-10 01:27] thisandagain commented on #150
Quick design pass below. Screen-lapse available here (need to find a way to time-lapse my sketching ... also have fun seeing what music i'm listening to): https://www.dropbox.com/s/2t0xnm6f2a4lhry/build_000.mp4?dl=0

#### Splash
![splash 2](https://cloud.githubusercontent.com/assets/747641/5689857/a4785762-9823-11e4-9403-9f4877748a9c.png)

#### Add Project
![add project](https://cloud.githubuserco

[2015-01-10 01:40] simonwex commented on #150
@thisandagain, this is looking great.

For this mock:
<img src="https://cloud.githubusercontent.com/assets/747641/5689862/d662d568-9823-11e4-9d9e-dd29b7d7f978.png">

I'm not sure how important it is to have the contents of the Heartbeat be fixed-height. It might make sense to let it flow and not obfuscate the number of items in the list. Thoughts?

The "Add Project" view I think would benefit from

[2015-01-10 01:41] thisandagain commented on #150
Great feedback. :+1: on both suggestions.

[2015-01-10 02:13] k88hudson commented on #150
idk, in terms of visual design i think this is definitely a step backward from what's currently on http://build.webmaker.org/

[2015-01-10 02:14] k88hudson commented on #150
:stuck_out_tongue_winking_eye:

[2015-01-10 02:18] simonwex commented on #189
It's important to note that there are two different categories of emails we send, bulk emails and transactional emails. Bulk emails are those that we send based on our subscription lists, such as the Mitchell email for EOY fundraising. Transactional emails are those that we send based on user-actions through webmaker, such as sign-up.

We don't send any transactional emails through BSD or Exact Ta

[2015-01-10 02:19] davidascher commented on #189
I'd add

 * establish singular process for testing the HTML (HTML in email is not
like HTML in a web page, and different mail agents treat them very
differently).

On Fri, Jan 9, 2015 at 6:18 PM, Simon Wex <notifications@github.com> wrote:

[2015-01-11 18:07] cassiemc commented on #150
@thisandagain Mind if I throw these in redpen? Just easier to respond to specific elements there and be super clear about what I mean.

[2015-01-11 21:07] thisandagain commented on #150
@cassiemc Here you go: https://redpen.io/p/tc87e54ffcdc2981c7

[2015-01-12 04:07] cassiemc commented on #150
Awesome, thanks! Left some feedback.

[2015-01-12 15:01] OpenMatt commented on #150
* I love this work. Plus just took a quick spin through the RedPen. Very excited to see this ship.
* Let's guard against scope creep and push ourselves to ship. We can always iterate and improve next Heartbeat -- especially after testing a bit with colleagues.
* @thisandagain Andrew: what's the best next step in the design process? Let me know if you want to do a quick 15-min stand-up this week.

[2015-01-12 15:08] iamjessklein commented on #175
Update: I am going to do a final UI pass today on the Webmaker landing and mock up how this will look on mobile.

[2015-01-12 15:41] thisandagain commented on #150
Wonderful. Thanks all.

@OpenMatt I'll address the design concerns raised here and post an update later today. Once that's up I'll get started on the build tomorrow AM. Goal is to push this as far as possible & have an update on production prior to demos on Friday. Would love to to a quick check-in tomorrow afternoon. Will send a meeting invite.

[2015-01-12 18:16] dajbelshaw commented on #14
Could you add me to this please? :)

[2015-01-12 18:19] hannahkane commented on #14
Sure thing, @dajbelshaw. The doc should be accessible to you.

[2015-01-12 18:24] dajbelshaw commented on #14
Cool, will comment. :)

[2015-01-12 19:14] OpenMatt commented on #150
Sounds great.

[2015-01-12 19:41] HPaulJohnson commented on #175
@iamjessklein just wanted to make sure you have the final copy for this:  https://etherpad.mozilla.org/privacydaycontent (lines 3-16 are for splash page).

[2015-01-12 19:50] #50 closed

[2015-01-12 21:27] iamjessklein commented on #175
Thanks @HPaulJohnson yes, I've incorporated it - but had to tweak the eyeball text a little to fit in that small space. Take a look at the redpen.

cc @gesa

[2015-01-12 21:30] iamjessklein opened #196 "ENGAGEMENT: Update footer in Private Eye activity page"
- [x] Add footer to https://webmaker.org/en-US/private-eye
- [x] Replace content of the Badge CTA to join CTA

[Join CTA](https://redpen.io/ex9929c3c4930738e8):
![red-pen-fdd832f4-978f-48ea-baaf-7f96921a4c24](https://cloud.githubusercontent.com/assets/535012/5711413/463571d8-9a78-11e4-93e9-723958a78513.png)

[2015-01-12 21:36] iamjessklein opened #197 "ENGAGEMENT: Add the promo content to the home 3 splash and to the new onboarding splash"
Add the ad to the home 3 splash and to the new onboarding splash. This will require implementing the following mockups:

[Desktop](https://redpen.io/mb7ff3e5c2effb91d8)
![privacysliver-ui-1](https://cloud.githubusercontent.com/assets/535012/5711493/0160f770-9a79-11e4-9e27-2e287a419080.png)

[Hover](https://redpen.io/mf54aecfeb200cba0d)
![privacysliver-ui-hover](https://cloud.githubusercontent.com/

[2015-01-12 21:40] davidascher commented on #197
The type of the "OUR VALUES" sections seems off.  1) ALL CAPS? 2) the type looks more vertically stretched than the rest of the page's copy.  Am I wrong @iamjessklein ?

[2015-01-12 21:41] iamjessklein commented on #175
Added two implementation tickets to complete this issue:
- [ ] [Update footer in private eye (#196)](https://github.com/MozillaFoundation/plan/issues/196)
- [ ] [Add the promo content to the home 3 splash and to the new onboarding splash(#197)](https://github.com/MozillaFoundation/plan/issues/197)

[2015-01-12 22:09] iamjessklein commented on #197
@davidascher that's correct - I mentioned in the redpen that I took a stretched screenshot. In fact, none of the styling or content in the "OUR VALUES" section should be modified. It should look as it currently does on Webmaker:

![screen shot 2015-01-12 at 5 08 22 pm](https://cloud.githubusercontent.com/assets/535012/5712134/b1330586-9a7d-11e4-992b-9c35164fca8d.png)

[2015-01-12 22:10] davidascher commented on #197
Gotcha. Sorry, didn't see redpen comment.

On Mon, Jan 12, 2015 at 2:09 PM, iamjessklein <notifications@github.com>
wrote:

[2015-01-12 22:13] iamjessklein commented on #197
:+1:  thank's for maintaining typographic vigilance

[2015-01-12 23:29] secretrobotron commented on #175
Implementation note:
It looks like we have a winning splash page variant from last week's Optimizely testing. We'll be leaving that up on webmaker.org, along-side a new on-boarding experience (#60). Optimizely will continue to flip between them to measure impact.

For this Privacy Day work, that means the winning splash page variant **and** the new on-boarding experience need the changes described

[2015-01-12 23:31] secretrobotron commented on #60
@HPaulJohnson after this goes live, we can shut off the Optimizely test we have running, and just use the winning variant. Let's have a new test to measure impact between that variant and the on-boarding experience.

[2015-01-13 01:16] HPaulJohnson commented on #60
@secretrobotron sounds good. just let me know when to pause it.

[2015-01-13 03:07] cassiemc commented on #59
Hey @LauraReynal and @thisandagain – great report. It's beautiful. I left some copy and design suggestions here: https://www.dropbox.com/s/t178nqsu5rdqkpm/kenya_7-01-14%20-cm%20edit.pdf?dl=0 The biggest thing I think might be simplifying the two large diagrams. A spell check would probably catch other things I probably missed. Again, great work!

[2015-01-13 07:18] thisandagain commented on #150
Updates for tomorrow's check-in:

#### Screen-lapse
https://www.dropbox.com/s/zvcoy1hkko9w1fh/build_001.mp4?dl=0

#### Redpen
https://redpen.io/p/tc87e54ffcdc2981c7

[2015-01-13 13:48] dajbelshaw opened #198 "Write Learning Pathways whitepaper"
## Problem
We need a follow-up to the [first Webmaker whitepaper](https://mozilla.github.io/webmaker-whitepaper/). This will be useful in support of grant writing. After consultation, we've decided to write it on Learning Pathways.

### Audience
This will be public on the web. We're aiming for it to be referenced in the academic literature, but mainly by partners and educators. The aim is to assoc

[2015-01-13 14:24] LauraReynal commented on #59
Hey @cassiemc thanks a lot for a wonderful review.

A few questions:
- What Is Camel Case ? ( Mentioned in page 4 )
- I understand that couple of quotes have odd grammar, but I am uncomfortable changing them, given the fact that they are quotes. What do you think for a decision? Remove or modify?
- What does "hang the initial quotation" Means? You mention this for all quotes

Other than that thank

[2015-01-13 14:29] cassiemc commented on #59
Hey Laura, glad it was helpful. It was pretty detailed!

* camel case  – each word in a phrase is capitalized
* quotes – I'd take editorial license to adjust them, so long as the meaning is intact, if it helps make them more accessible/readable.
* hang quotes – more a comment for Andrew who asked me to review design as well. It means slightly indenting the first line of a quote so that the quotati

[2015-01-13 15:37] LauraReynal commented on #163
Hey @k88hudson I have a research account : flowerwebmaker@gmail.com
and it has a password as suggested.

[2015-01-13 15:38] LauraReynal commented on #163
By the way, why did we need a pwd for this? @k88hudson

[2015-01-13 16:01] OpenMatt commented on #194
Part of this should include heartbeat milestones for the year:
* Jan16
* Jan30
* Feb13
* Feb27
* Mar13
* Mar27
* Apr10
* Apr24
* May8
* May22
* Jun5
* Jun19
* Jul3
* Jul17
* Jul31
* Aug14
* Aug28
* Sep11
* Sep25
* Oct9
* Oct23
* Nov6
* Nov20
* Dec4
* Dec18

@cassiemc

[2015-01-13 16:06] secretrobotron commented on #150
Corrected screen-lapse: https://www.youtube.com/watch?v=77dbYg5zOBc&feature=youtu.be

[2015-01-13 16:09] cassiemc commented on #194
We should be using 'milestones' for those, no longer labels.

[2015-01-13 16:14] iamjessklein commented on #175
animated gif options for mobile only (redpen is making them static):
![test](https://cloud.githubusercontent.com/assets/535012/5723793/dbfe2344-9b14-11e4-851b-42652dd76541.gif)
![test2](https://cloud.githubusercontent.com/assets/535012/5723852/4804ce30-9b15-11e4-9b8b-efc013b1f503.gif)

*note: these are on a gray background here but will appear on the red hexagon.

[2015-01-13 16:17] edrushka commented on #175
Amazing, creepy and wonderful all at once!

[2015-01-13 16:21] dajbelshaw commented on #175
ewwww....

(small issue with coloured bit of eye 'jumping' back to the middle at the end of the animation, but I think it looks great!)

[2015-01-13 16:26] cassiemc commented on #175
Really cool Jess! A couple of things – they are a little choppy, and I wonder if we can smooth out the animation a bit by adding extra frames or shortening the time on each frame. Also, I wouldn't put the pupil *right* up against the edge of the white circle, as visually it kind of looks like the pupil is popping out of the eyeball. Love the blink.

[2015-01-13 16:35] OpenMatt commented on #194
+1. All of this should be documented and linked from build.webmaker.org next Heartbeat.

[2015-01-13 16:36] thisandagain commented on #175
:+1: on @cassiemc 's comments above. I prefer the first execution. :smile:

[2015-01-13 16:46] secretrobotron commented on #175
Is the eye-ball following the mouse in the desktop version still? Could be easier to use a CSS animation for mobile then.

[2015-01-13 17:39] LauraReynal commented on #59
Thanks @cassiemc
Agreed for the grammar quotes, will do as you suggest !

Also maybe we could come up with a Research Report Check-List Pre-Launch aka *RRCLPL* :smile:

- [ ]  Is the report clear and easily readable by all audiences (Webmaker team, partners, Teach teams etc)
- [ ]  Is the message understandable / understood ?
- [ ]  Are there some elements that needs a voice explanation ? => not g

[2015-01-13 17:51] cassiemc commented on #108
+ @secretrobotron @k88hudson @iamjessklein @sabrinang – This process might be helpful to you as designs get handed off to devs.

Gentle reminder as well to @xmatthewx @flukeout @vazquez – we need to be clear about when to stop feedback on design so we don't hold up the dev process.

[2015-01-13 18:40] thisandagain commented on #108
:+1: thanks for the reminder @cassiemc !

[2015-01-13 18:48] cassiemc opened #199 "Document when to use Github and when to use Bugzilla"
A question that people felt was unanswered after the github training.

cc/ @OpenMatt

[2015-01-13 18:59] cassiemc opened #200 "Where should general, non-project-related issues be filed?"
Unanswered question from the Github training:

What is the best process for filing evergreen projects that might have to do with engagement CRM or emails, even studio-mofo-esque tasks?

Should each team (listed here: https://github.com/orgs/MozillaFoundation/teams) have its own general catchall repo to file issues against? (I lean toward Yes.) If so, who should create those repos?

I think in the

[2015-01-13 19:01] davidascher commented on #200
Good question, I think the answer is up to how each team wants to work.  So
Studio MoFo currently has a process, and if they don't want to use github
issues, I don't think they should be forced to.

What we want to avoid is creating a place where people file issues and
nobody notices / cares / or where they're not wanted.

[2015-01-13 19:20] KathrynMeisner commented on #199
cc/ @KathrynMeisner

[2015-01-13 19:22] davidascher commented on #199
BTW, @KathrynMeisner -- If you want, you can just hit "subscribe" in the
right column of an issue if you want to get updates on it.  Same effect as
adding yourself, except nobody else gets an email.

On Tue, Jan 13, 2015 at 11:20 AM, KathrynMeisner <notifications@github.com>
wrote:

[2015-01-13 19:24] cassiemc commented on #199
Oh, that's a good tip for me too @davidascher as I told @KathrynMeisner how to cc herself :+1:

[2015-01-13 19:25] KathrynMeisner commented on #199
Ooooh good to know

--
Kathryn Meisner
Director, Hive Toronto <http://hivetoronto.org/>
@KathrynMeisner <https://twitter.com/kathrynmeisner>
@HiveToronto <https://twitter.com/hivetoronto>

On Tue, Jan 13, 2015 at 2:24 PM, Cassie McDaniel <notifications@github.com>
wrote:

[2015-01-13 19:55] k88hudson opened #201 "Mobile App Co-design Activity"
I'm planning on doing something here in Toronto with a Hive-affiliated organization:

Target audience: teens or adults (depends on who can host)
Objective: use co-design, paper prototyping, design thinking exercises to build apps. Focus on solving for the needs of local communities, students, women, etc. – whatever use cases resonate with participants.

I was planning on using some techniques from

[2015-01-13 19:56] k88hudson commented on #201
tbh I have pretty limited time to plan this out and I wanted to do this pretty informally, but happy to tie in any work/suggestions/resources/asks from @LauraReynal @thisandagain @cassiemc

[2015-01-13 20:05] cadecairos opened #202 "OAuth Permissions requested from Github login are too broad"
I don't think it needs to read "All your information" and "read and write all public and private repos"

[2015-01-13 20:30] iamjessklein commented on #175
yes, it is.

thoughts @gesa ?

[2015-01-13 20:31] gesa commented on #175
Totally accomplish-able. It's been a minute since I've done anything involving keyframes, so might take me a little longer than desirable to pull it off. But it's definitely something I *can* do.

[2015-01-13 20:36] xmatthewx commented on #108
Hi team. I created a series of labels we can drop into the 1st square of Redpen to announce the status. Feedback? https://redpen.io/p/cp8696f514c3503dc1

![screenshot 2015-01-13 15 34 46](https://cloud.githubusercontent.com/assets/53411/5728655/d7466f26-9b39-11e4-9fec-0725b2a2d7da.png)

[2015-01-13 20:46] gesa commented on #108
:heart_eyes_cat:

[2015-01-13 21:09] k88hudson commented on #108
i like to prefix related labels e.g. design with `design-` since it makes them easier to find in a list alphabetically (e.g. https://github.com/k88hudson/githubtraining/labels)

[2015-01-13 21:10] k88hudson commented on #108
OH SORRY I THOUGHT THIS WAS FOR GITHUB ooooops

[2015-01-13 21:11] k88hudson commented on #108
my bad

[2015-01-13 21:12] k88hudson commented on #194
i like to prefix related labels and make them the same/shades of the same colour e.g. design with `design-` since it makes them easier to find in a list alphabetically (e.g. https://github.com/k88hudson/githubtraining/labels)

[2015-01-13 21:23] k88hudson commented on #202
+1

[2015-01-13 21:23] k88hudson commented on #201
cc @KathrynMeisner

[2015-01-13 21:25] cassiemc commented on #194
Nice point @k88hudson about color grouping. I'd hope the color groupings would be intuitive (and not too many colors) but we probably need that documented somewhere. I liked that you pointed out the 'assigned to contributor' label. We should be sure to incorporate knowledge of mozilla-wide conventions, like that, in addition to our team's bespoke needs.

[2015-01-13 21:36] k88hudson commented on #194
also `help-wanted`, that's kind of the github community's convention for 'good first bug'

[2015-01-13 21:39] k88hudson commented on #194
some projects have skill-related tags as well, such as `front-end`, `android`.

[2015-01-13 21:39] smithisgeneric opened #203 "plan to implement 2-3 Hive Toronto privacy badges on Webmaker"
I am looking for feedback on which 2-3 Hive Toronto privacy badges would be of most interest to implement on Webmaker for Feb. 21 for our Educators' Training event but also for reusabilty/remixability.  Here is what I am thinking:

- Data Trail Timeline
- IP Tracer
- Coach (very possible to badge people who attend on Feb. 21 and acknowledge participation)

- Alternate = Anonymizer

The [index to d

[2015-01-13 22:01] gesa commented on #175
How does this look for a CSS animation? Should be good for mobile and as a fallback for the svg following the mouse: <http://codepen.io/gesa/full/WbpxjY>

(note: this eye color is off. this is a proof of concept.)

[2015-01-13 22:41] hannahkane commented on #180
User research project is underway. Starting to collect participant responses here: http://mzl.la/1Blyf8v, but will hold off on any analysis until more responses come in.

/cc @ldecoursy @LauraHilliger @iamjessklein

[2015-01-13 22:50] hannahkane commented on #14
Thanks to those who have commented so far. The kick-off meeting will happen during the next heartbeat. In the meantime, the doc is still open for comments.

/cc @LauraHilliger

[2015-01-13 23:46] k88hudson opened #204 "Localization improvements & quality review for Webmaker App"
While development has been moving quickly for the Webmaker App we've let our l10n efforts slip behind. The focus for this sprint is to do an audit on our l10n support across the app and file tickets / resolve as many issues as possible for our 4 target markets (listed below).

### Audience
All non-english users of the Webmaker App with a focus on:
- Bangladesh
- India
- Brazil
- Kenya

### Success

[2015-01-14 00:07] HPaulJohnson commented on #179
Thanks, all for a productive discussion on short/long-term branding needs and opportunities. Here's where we landed:

- Assume that the product we are building to launch in Q2 is tightly defined as a "making" tool, then it continues to make sense to call it Webmaker.
- For the learning network/teach, we still need to reconcile user's understanding and the relative value of Hive vs. Mozilla / Learn

[2015-01-14 04:51] davidascher commented on #59
The dropbox link no longer works. New version?

[2015-01-14 09:12] dajbelshaw commented on #203
Not sure of the goals of the event, but I'd go for **Anonymizer** instead of IP Tracer *(esp. given latter is only at 80% completion)*

[2015-01-14 12:48] iamjessklein commented on #72
Some clarifying questions:
* Is the audience for the content the locals and/or participants of [the Mobile World Congress](http://www.mobileworldcongress.com)?
* If so, could we exploit the fact that this is happening in Barcelona?
* What are the deliverables for this? A template within the app? Marketing Materials? A presentation?

[2015-01-14 12:53] benrito commented on #72
1. yes—it's B2B marketing
2. yes, but that could be politically overcharged (basque sentiments mix awkwardly)
3. probably a hybrid TBD; we need a way for mark to choreograph a story through the software and let it be a exemplar of the change we want to see

[2015-01-14 12:57] iamjessklein commented on #72
For reference, what was shown from Mozilla at MWC 2014?

[2015-01-14 12:59] iamjessklein commented on #108
I like this a lot. I am testing it out right now with the privacy day project.
I like to have the designs and comments as a record of the process, so this is a nice way to support that approach.

[2015-01-14 13:15] benrito commented on #72
no precedent; this would be the first time we'd do something like this.

the best analogy i can think of is the ted talk on popcorn, but that wasn't very inspirational because it's longer form and doesn't have human dimension /  global stakes: http://www.ted.com/talks/ryan_merkley_online_video_annotated_remixed_and_popped

[2015-01-14 13:19] benrito commented on #72
perhaps it should be built on a story based on one of the existing templates?

http://webmaker-app.mofostaging.net/

[2015-01-14 13:58] smithisgeneric commented on #203
IP tracer will get done this week :)

[2015-01-14 14:11] toolness commented on #203
Karen mentioned that the IP tracer is something kids get *really* excited about and I can kind of see why... I vote for IP tracing fun!!

[2015-01-14 14:20] cassiemc commented on #108
Seeing Jess' application, I'd prefer it to be tied to the design in question rather than the whole project. I think I prefer single long pages vs. multiple shots though, to be explicitly clear about versions. I find Redpen's "18 new things you haven't seen" + the back and forward arrows lends itself to confusion around which version I am supposed to be looking at. So if these were at the top of th

[2015-01-14 14:22] cassiemc commented on #108
Another thing is that when you look at the repen homepage, having these status images dominate the grid prevents me from quickly finding a project. We could ONLY use the red one for finalized artwork, though. I don't see a huge benefit for the other statuses.

[2015-01-14 14:31] iamjessklein commented on #175
I was looking here: http://sleepy-ravine-9799.herokuapp.com/en-US/home-3

* In Firefox (desktop)the tracking feels a little off. It doesn't seem to track my actual mouse position. The flip looks great.

* In Chrome the animation doesn't work but the flip does. It also has a weird flashing effect when I am a certain distance away from the image.In Chrome mobile - the animation works great, however,

[2015-01-14 14:42] LauraHilliger opened #205 "Get the first Webmaker Club curriculum module ready for testing"
In order to test the curriculum we're [building over here](https://github.com/mozilla/webmaker-curriculum), we'll need:

* [ ] Agenda for Club Call on January 27th
* [ ] Finished Search session
* [ ] Invitation text for testers / people not in the call
* [x] [Questionnaire for Credibility](http://goo.gl/forms/gnrTJ3d2AW)
* [ ] [Questionnaire for Search](https://github.com/mozilla/webmaker-curricul

[2015-01-14 14:43] iamjessklein commented on #108
Good points, @cassiemc - another thing that I am noticing is that it might be difficult for the developer (@gesa in this case) to see which of my iterations was the final one. I wonder if it would be useful to add a mockup at the end with some sort of indication as to the fact that the mockup represents the finalized design.

[2015-01-14 15:08] iamjessklein commented on #72
I just found [this article](https://blog.mozilla.org/blog/2014/02/18/mozilla-showcases-first-year-of-success-with-firefox-os-at-mobile-world-congress-2014/) about Mozilla's presence at last years event.

Here is what the booth looked like:
![mozilla-mwc-2014-booth](https://cloud.githubusercontent.com/assets/535012/5740813/f76fbd3e-9bd4-11e4-88ca-c295007c3029.jpg)

Will we be collaborating with MoC

[2015-01-14 15:17] benrito commented on #72
yes, we're working to have webmaker pre-installed on all the devices and part of the demo script that people are trained on—but it's not confirmed yet. we've been advised not to hand out collateral in the booth.

the demo referenced in this bug could potentially be part of the demo script if it speaks for itself, but the real use case—with a bit of extra storytelling or pop around it—is for when m

[2015-01-14 15:41] iamjessklein commented on #72
Great this context is useful. Sean Martell mentioned to me that the Firefox booth is currently in production and that their designs for that were finalized in December.

1. It would be great to see the layout for the booth - for general context.
2. Has Mark begun to think through his talk at all? Are there talking points that we could glance at?

[2015-01-14 15:50] iamjessklein commented on #205
Is there a plan for outreach/recruiting people to test?

[2015-01-14 15:53] iamjessklein commented on #75
Will this be building off of the prototypes that @cassiemc and @flukeout are currently developing?

[2015-01-14 16:07] OpenMatt commented on #194
If I understand correctly, we should be using "milestone" for our Heartbeats. Did I follow the right convention for that on this ticket, for example? "Jan30" in milestone?

[2015-01-14 16:40] ldecoursy commented on #205
We have a co-design cohort - webmaker mentors, hive members, maker party partners... So a group of those folks are willing and excited about helping test. Can pull together that list this week.

[2015-01-14 16:41] LauraHilliger commented on #205
@ldecoursy list here, maybe just needs an update: https://wiki.mozilla.org/Webmaker/2015/Mentors/Clubs#Club_Creators

[2015-01-14 17:28] LauraReynal commented on #59
Hi @davidascher here is another link to the report without review https://www.dropbox.com/s/7h74uk7envjywyc/kenya_14-01-14.pdf?dl=0
And here is the one annotated by Cassie : https://www.dropbox.com/s/t178nqsu5rdqkpm/kenya_7-01-14%20-cm%20edit.pdf?dl=0

[2015-01-14 17:51] ldecoursy commented on #205
Yes, that's an outdated list, and also there are specific people within that group who have noted they're willing to test the activities with learners. Will have that list final after all 1:1 interviews are completed.

[2015-01-14 17:56] thisandagain commented on #194
@OpenMatt Yup! Thanks. Still need to move all the remaining tickets to milestones.

[2015-01-14 17:56] thisandagain commented on #75
Yup!

[2015-01-14 18:11] thisandagain commented on #202
:+1:

[2015-01-14 18:14] davidascher commented on #202
I believe https://github.com/MozillaFoundation/plan/blob/master/app.js#L51
is the line that needs changing.

[2015-01-14 18:21] cadecairos commented on #202
https://developer.github.com/v3/oauth/#scopes

if all we need is access to public info, we can leave scopes blank.

[2015-01-14 19:31] smithisgeneric opened #206 "Ship Hive Toronto privacy badges, pages and claim codes"
Deliver badge designs, claim codes, and landing page(s) for three Hive Toronto badges.

## RACI

* Phase: Design & Dev
* Driver: @hannahkane
* Decision Maker: @smithisgeneric
* Design Lead: @cassiemc
* Development Lead: @ScottDowne
* Quality Verifier: @iamjessklein

## Deadline (UPDATED): Feb 26
* stretch goal: Feb 21 (educator / learner event)
* **actual target deadline: Feb 26 (funder event)**
*

[2015-01-14 19:35] benrito commented on #72
Mark’s keynote is in an unrelated venue, so no tie to the booth.

We’ll be starting on the talking points later this week. Part of the talk will surely revolve around what we come up with here.

A lot of the same themes from Mozfest and Portland talks—need for local innovation, local communities, local content. Keeping people empowered during the globalization of the web. That sort of stuff.

The

[2015-01-14 20:17] secretrobotron commented on #59
Just dove through this and added a billion more comments: https://dl.dropboxusercontent.com/u/7054348/kenya_7-01-14%20-cm%20edit.pdf

Mostly spelling/grammar/structure though, with some comments about stuff making sense.

I'll try to go through it again with your ^^ checkboxes in mind.

[2015-01-14 20:27] secretrobotron commented on #175
Yeah, I see something like that too. Looks like some z-fighting ([this](http://en.wikipedia.org/wiki/Z-fighting), not [this](http://dragonball.wikia.com/wiki/Z_Fighters)).

And, when I squish the screen, the eyeball looks like this:
![screenshot 2015-01-14 15 26 23](https://cloud.githubusercontent.com/assets/403231/5746924/bef19f72-9c01-11e4-86f9-d6d5834a968a.png)

[2015-01-14 20:28] secretrobotron commented on #175
@k88hudson says "check it in ie10. the flippies probably won't work"

[2015-01-14 20:55] DaveSteer commented on #175
Update: We're going to create a CTA for this in the Mozilla Advocacy site. Stay tuned for designs from Studio MoFo (cc @edrushka)

[2015-01-14 21:57] thisandagain commented on #175
Very cool. Thanks for the heads-up @DaveSteer :+1:

[2015-01-14 22:36] cassiemc commented on #64
Here's some progress I shared at the design crit today.

**problem:** make making easy and make it accessible.
**status:** early!
**helpful feedback:** general reaction
* Building on this... http://www.cassiemcdaniel.com/blog/prototyping-a-new-tool/
* Timelapse process video: https://www.youtube.com/watch?v=nekoWuJ2cqU&feature=youtu.be
* Choose a content type: https://redpen.io/gob3bd5e69c3bfa6d1

[2015-01-14 22:48] iamjessklein opened #207 "Retention. People who come back after the initial onboarding."
## Problem
Retention. People who come back after the initial onboarding.

### Audience

Visitors, learners, partners , community

### Success
% of site visitors who are engaged where engaged is defined as someone who has made something in the last X days (probably 30).

### Vision
A repeat challenge that users can opt into. The user will get emailed every few weeks (or some time) some thematic cha

[2015-01-14 23:48] hannahkane commented on #15
Round 1 of eval matrix complete - reviewed 18 pieces of software (some more in depth than others). Next step is a meeting to discuss the findings—that will happen next sprint. I guess I'll keep this ticket open? (Unless, @OpenMatt, do you think I should close this and open a new ticket for "making a decision"?)

[2015-01-15 12:57] iamjessklein commented on #64
would love to stay in loop here as well.

Also found a [few proof of concept](https://www.flickr.com/photos/jessicaklein/8284362668/)  mockups that [might be worth referencing](https://www.flickr.com/photos/jessicaklein/8254403890/in/photostream/)

[2015-01-15 12:58] iamjessklein commented on #205
:+1:

[2015-01-15 14:55] OpenMatt opened #208 "Publish documentation on "Git Hub Issues for MoFos""
* GOAL: summarize what was covered in the recent training
* Be more explicit about MoFo process. How *we* want to use Git Hub issues together going forward.
* Address the most frequently asked questions
* Force clarity and decisions around parts of our process that are fuzzy / undecided
* Work closely with Product Group + new Program Managers group to spread the warm light of order and harmony

[2015-01-15 14:56] OpenMatt commented on #208
First draft is completed here: http://workopen.org/github_howto

[2015-01-15 14:57] OpenMatt commented on #208
@simonwex: need your help with the CodeTree section. And in particular: suggested links / ways to use CodeTree to get a better view of all tickets assigned to you across repos, etc.

[2015-01-15 14:58] OpenMatt commented on #208
Once this is done, we'll
a) ship it as a blog post, but more importantly:
b) ship it to the "How we work" section of build.webmaker.org. As a permanent piece of documentation. It will iterate as we go.

[2015-01-15 14:58] OpenMatt commented on #208
@edrushka: can you add links to Studio MoFo bugzilla intake, plus Ops intake, if you have it?

[2015-01-15 16:11] LauraHilliger commented on #203
Hmm I actually think the two that are applicable in multiple places are the Mobile and Coach badges. I like the idea of privacy in everyday life, and you know how I feel about recognizing mentorship :dancers:

[2015-01-15 16:27] OpenMatt opened #209 "Draft branding plan for Learning Products and Learning Networks"
Draft a Q1 / Q2 branding strategy and roadmap for our Learning Networks and Learning Products

### RACI
* Phase: Planning
* Owner: @HPaulJohnson
* Decision-Maker: @HPaulJohnson
* Design Lead: @iamjessklein (consult as needed)
* Development Lead: n/a
* Quality Verifier: Geoff McD

We a had a branding kick-off meeting. Key outcome was: Paul will own for next heartbeat or two. And will work to turn o

[2015-01-15 16:28] OpenMatt opened #210 "Give Matt the ability to add and edit labels and milestones"
How do I do that? Do you need to change my permissions?

[2015-01-15 16:42] secretrobotron commented on #195
Please note that there are, in fact, several types of Nilla wafers. Might need to A/B test across locales.
![](http://static.caloriecount.about.com/images/medium/nilla-wafers-mini-59330.jpg) ![](http://static.caloriecount.about.com/images/medium/nilla-wafers-59710.jpg) ![](http://ecx.images-amazon.com/images/I/51XTTC0AYEL._SY300_.jpg) ![](http://dollarstoremom.com/wp-content/uploads/2011/03/nilla-

[2015-01-15 16:57] ldecoursy commented on #195
I'm a nonfacetarian

[2015-01-15 16:57] davidascher commented on #210
Probably worth using this opportunity to review the team rights and memberships.

[2015-01-15 17:15] DaveSteer commented on #209
What is the scope of the branding plan? Is it for all Mozilla Foundation activities? Or is it limited to a certain pillar of activities? Would love to see an overview of the effort. Thanks!

[2015-01-15 17:18] HPaulJohnson commented on #209
@DaveSteer the scope of this exercise, for now, is just our teach and learn programs and products. Happy to keep you in the loop regardless.

[2015-01-15 18:14] davidascher commented on #210
issue was that you need admin rights to mess w/ labels, which seems like a
real limitation.  Gave admin rights to @TPS group, though so this should
solve this particular issue.

closes #210

[2015-01-15 18:15] #210 closed

[2015-01-15 19:05] DaveSteer commented on #209
Thanks for the 411, @HPaulJohnson. Given the scope, no need to keep me looped in, though will be interested to see where you land.

[2015-01-15 20:24] ldecoursy commented on #206
@smithisgeneric Is Feb. 21st a deadline per the grant?

[2015-01-15 20:48] ldecoursy opened #211 "Ship plan for streamlining Hive work across cities"
Need to identify how we can better leverage staff/skills/assets/needs etc across cities and grants.

[2015-01-15 20:49] smithisgeneric commented on #206
Feb 21st is the knowledge mobilization workshop with educators where the curriculum is demoed (and hopefully the badges are issuable).  The hard deadline for all deliverables for the grant is March 31.

[2015-01-15 20:52] ldecoursy opened #212 "Document our Q1 / Q2 plan for Training"
### RACI
* Owner: @ldecoursy
* Decision Maker: @thornet
* Quality Verifier: @amirad

GOAL: Need to plan for how [current training platform] (http://training.webmakerprototypes.org/) aligns with larger vision for clubs / local organizing / badges. Also identify roles.

Also see [https://github.com/mozilla/school-of-webmaking/issues/239#issuecomment-70118163]

[2015-01-15 21:14] cassiemc opened #213 "Plan a triage plan for "plan" issues... :P"
Some feedback from the Github training – a question arose as to how general issues (normally filed on the Plan repo if using the intake form from build.webmaker.org) get triaged. What's the best way to make sure issues are not-lost?

We've been doing a bit of this during TPS, but we may need to have a better process for this going forward as the # of issues grows, esp. if we want to encourage more

[2015-01-15 21:16] alicoding commented on #213
We'll probably need one more Bugzilla Triage and then we are done there, so I think we can use that time slot to triage issue here instead :)

[2015-01-15 21:51] gesa commented on #175
Forgot to post this earlier—@k88hudson look it works!!  http://snaps.akibraun.com/ie11.mov

[2015-01-15 21:52] k88hudson commented on #175
awesome!

[2015-01-15 22:19] hannahkane opened #214 "Design & test teach.webmaker.org wireframes"
Let's make use of the user research project (being tracked here: http://mzl.la/1IP6chM) to do a first round of IA wireframes, and get them in front of some users for testing.

Context: v1 of the teach.webmaker.org site is where we will house (or link to) all of our resources and programs for teaching the web. It is meant to replace the Teach tab of the main Webmaker site.

(Note: I'm using the nee

[2015-01-15 22:25] hannahkane opened #215 "Finalize documentation for Badges / Credentialing 2.0"
Current doc is here: http://mzl.la/1AxcmUq

Acceptance criteria:
 * document stakeholders and decision-makers on wiki
 * hold a kick-off meeting w. decision makers
 * resolve all issues on document; reach shared understanding
 * Badges v1.1 tickets are ready for the next heartbeat(s)

blocked on: no consensus on stakeholders/decision-makers. Will ask Claw to designate.

[2015-01-15 22:36] hannahkane opened #216 "Ship Learning Networks product roadmap for Q1 and Q2"
This will be a high-level view of the product work to be accomplished in H1 to support the Learning Networks programs. Likely candidates for inclusion in the roadmap are:

 * Clubs Platform research and implementation
 * Badges v2
 * Teach.webmaker.org v1 (and v2?)
 * More cohesive solution for Hives online presence
 * Repackaging of the Hive Cookbook
 * Repackaging of curricula
 * Iterations on t

[2015-01-15 22:47] hannahkane commented on #206
I recommend we consider this a P2 for the next heartbeat, and a P1 for the following if it doesn't get completed.

I'm really not sure about the effort required (read: I don't know if this is "easy" or "hard") to reach the MVP, so perhaps a first step is for a couple people to get together to determine the specific work involved. Probably @smithisgeneric  + a developer who's somewhat familiar with

[2015-01-16 05:04] thisandagain opened #217 "asdf"
asdf

### Audience
asdf

### Success
asdf

### Vision
asdf

[2015-01-16 05:05] thisandagain opened #218 "asdf"
asdf

### Audience
asdf

### Success
asdf

### Vision
asdf

[2015-01-16 05:06] thisandagain opened #219 "asdf"
asdf

### Audience
asdf

### Success
asdf

### Vision
asdf

[2015-01-16 05:17] thisandagain opened #220 "lkhasd"
lkjhasdf

### Audience
lkjhasdflk

### Success
hlkahjsdf

### Vision
lkjhasdf

[2015-01-16 05:17] #217 closed

[2015-01-16 05:17] #218 closed

[2015-01-16 05:17] #219 closed

[2015-01-16 05:17] #220 closed

[2015-01-16 05:19] thisandagain opened #221 "asdf"
lkjhasdf

### Audience
lkhjasdf

### Success
lkjhasdflkhj

### Vision
lkjhasdflkjhasdf

### RACI

* Phase:
* Owner:
* Decision Maker:
* Design Lead:
* Development Lead:
* Quality Verifier:

[2015-01-16 05:19] #221 closed

[2015-01-16 09:37] LauraHilliger commented on #212
Personally, I think we can find creative ways* to integrate training aspects across the teach site, and the online mentoring model is a part of that. Will look forward to working with @hannahkane on those big pieces!

In the meantime, I've put together this etherpad which might jump start the conversation.
https://teach.etherpad.mozilla.org/training-redux

* [This likely won't work anymore](https:

[2015-01-16 14:13] iamjessklein commented on #175
:heart: :eyes: :eyes: :heart:

To close out the heartbeat I wrote a blogpost: [EYE Witness News: Promotional Content on Webmaker](http://bit.ly/1AYethK)

[2015-01-16 14:44] smithisgeneric commented on #206
@hannahkane do I need to do anything else to signal a dev is needed here or are you on it?

[2015-01-16 14:53] adamlofting commented on #60
I'm just catching up on the work so far this year, but I'm excited about this on-boarding piece :smile:

The Goggles workflow isn't tracked in Google Analytics in the same way as the other apps so we'll want to give some thought into how we measure this.

However, as there isn't currently any guided on-boarding I don't think we need to A/B test this against what we have. Instead we treat this new

[2015-01-16 15:58] smithisgeneric commented on #206
@cassiemc can you provide some svg files of an existing badges (a couple of examples should do) currently on Webmaker to support this?

[2015-01-16 16:02] cassiemc commented on #206
I'm confused @smithisgeneric. It doesn't seem like the scope of work is determined yet, so not sure what assets are needed. @iamjessklein has many of the assets too. (we should get those shared centrally)

You can see a full list of badges here if you're looking for something specific: https://blog.webmaker.org/badges

[2015-01-16 16:23] thisandagain commented on #60
:+1:

[2015-01-16 16:24] HPaulJohnson commented on #60
good to have you back, @adamlofting!

[2015-01-16 16:33] smithisgeneric commented on #206
I was looking to collect an SVG (editable) art file for a badge or 2 (i.e., it could be the privacy badge and remix badge) so that I could have a contract team member (hiring in process) do the graphic design of the badges.

The contract staff member is doing a limited number of teaching kit related hours, specifically tied to the [Hive Toronto privacy badges project] (http://hivetoronto.org/portf

[2015-01-16 16:50] secretrobotron opened #223 "Sorry. Testing."
Sorry. Testing.

### Audience
Sorry. Testing.

### Success
Sorry. Testing.

### Vision
Sorry. Testing.

### RACI

* Phase:
* Owner:
* Decision Maker:
* Design Lead:
* Development Lead:
* Quality Verifier:

[2015-01-16 16:50] #223 closed

[2015-01-16 17:35] DaveSteer commented on #175
This is an awesome post, @iamjessklein.

[2015-01-16 18:06] secretrobotron commented on #74
@LauraReynal your pictures were perfect. Thanks!

I put together something together to illustrate a design and copy for the page: https://redpen.io/gj94460cce965df3e3

Comments @thisandagain, @cassiemc, @LauraReynal ? Too much? Too little?

The second set of profiles feel a lot less on-point and descriptive than the first three. But, I'm comfortable with that for now until Laura gets a chance to a

[2015-01-16 18:35] iamjessklein commented on #60
:+1:  @adamlofting also this now gives us the opportunity to layer on additional interactions and test that  - a la the snippet.

[2015-01-16 18:59] cassiemc opened #224 "UI Design QA for privacy cta"
There may be a couple really small tweaks we can do here to smooth out UI.

/cc @iamjessklein @HPaulJohnson @gesa

[2015-01-16 19:04] OpenMatt opened #225 "Ship updated documentation and TOC to book.webmaker.org"
For how we do Heartbeats, documentation on Git Hub issues, and engineering and design handbook.
To the new build.webmaker.org "how we work" section

### RACI
* Phase:
* Owner: Matt
* Decision Maker: @davidascher
* Design Lead: (not needed)
* Development Lead: (not needed)
* Quality Verifier: ???

* We can link from build.webmaker.org to this: http://book.webmaker.org/
* Emphasis on:  http://book.w

[2015-01-16 19:04] OpenMatt commented on #225
@secretrobotron hoping you can help me with this :)

[2015-01-16 19:08] OpenMatt opened #226 "Prep and execute Data Privacy Day campaign (Jan 28)"
* This is a follow-up to the work we did last Heartbeat. https://github.com/MozillaFoundation/plan/issues/175
* Seems like a communications plan & punch-list would be helpful. So that we can write and assign specific tasks for teams and individuals
* Engagement campaign, TTW call, Twitter chat, etc. Co-ordinating the various pieces.
* @HPaulJohnson: does that exist somewhere?

### RACI
Phase: Refi

[2015-01-16 19:10] davidascher opened #227 "Show where we are in a sprint"
For people not deeply involved in the heartbeat, it's not obvious what the actual deadlines are / where we are in the cycle.

[2015-01-16 19:13] OpenMatt opened #228 "Crisply document all MoFo Q1 goals and KPIs"
## Goal: put all our Q1 goals and KPIs in one spot ##
1 We'll start by staging them here: https://wiki.mozilla.org/Foundation/2015/Q1
2 Then we'll come up with a dynamic way to post them to build.webmaker.org
3 And work with @adamlofting and others to surface them through a dashboard

### Notes ###
From kick-off meeting: https://etherpad.mozilla.org/Q1

### Deliverable for this Heartbeat ###
Get g

[2015-01-16 19:13] davidascher opened #229 "BUILD: navigation: can't get to the home page"
we need a home icon!

[2015-01-16 19:14] davidascher commented on #227
Also probably should lighty explain the heartbeat concept somewhere.

[2015-01-16 19:15] OpenMatt commented on #210
Hi, @davidascher -- I'm still not sure how to add new labels. It might just be a GitHub fail on my part. But still can't seem to do this for Plan repo tickets.

[2015-01-16 19:28] HPaulJohnson commented on #226
Content and plan being finalized today and I'll put together an overview for distribution early next week.

[2015-01-16 19:35] OpenMatt opened #230 "Write a blog post about the new build.webmaker.org"
It's a big deal. Let's let colleagues and community know about it.

[2015-01-16 19:37] OpenMatt opened #231 "Write a blog post about front page conversion success"
We just increased our conversion rate 400%. Let's make sure we tell that story.

[2015-01-16 19:39] davidascher opened #232 "BUILD: render markdown in issue extracts"
Likely to make issue descriptions more legible

[2015-01-16 19:40] davidascher opened #233 "BUILD: make links more explicit"
e.g. issue titles are links.  (as simple as underline on hover would be fine)

[2015-01-16 19:43] valianttry commented on #192
Debrief process should ship:

1. Specific recommendations for improving "rapid iteration" build-cycle (e.g. getting better as a team at executing a fast-moving, metrics-based campaign);
2.  Prioritization of the needs in [this document] (https://foundation.etherpad.mozilla.org/EOYFR-2015-Ideas). What are the things we can build during 2015 that will improve fundraising / advocacy infrastructure fo

[2015-01-16 19:46] valianttry commented on #192
For **1. Specific recommendations for improving "rapid iteration" build-cycle (e.g. getting better as a team at executing a fast-moving, metrics-based campaign)**:

... we are meeting on Tuesday as a team. Each person will be able to share their specific feedback on process using the agenda below:

What I think I did well (30-60 seconds)

What I think I could've done better (30-60 seconds)

What I

[2015-01-16 20:00] thisandagain commented on #232
:+1:

[2015-01-16 20:00] thisandagain commented on #233
Major :+1: on that ... I got sloppy with hover states. :stuck_out_tongue_winking_eye:

[2015-01-16 20:02] secretrobotron commented on #225
Sure can :).

[2015-01-16 20:02] thisandagain commented on #227
Agreed. I think we might even want to do that (explain sprint concept) right on the splash screen.

[2015-01-16 20:05] thisandagain commented on #74
Great. Just one comment on using icons for the motivator section, but otherwise this is good enough to start with. Thanks @secretrobotron !

[2015-01-16 21:27] #229 closed

[2015-01-16 21:36] simonwex commented on #192
@ScottDowne can you add anything you'd like to add to this?

[2015-01-16 21:37] k88hudson commented on #228
![crispy like bacon](http://33.media.tumblr.com/tumblr_lsitxlhSFC1r4994ho1_500.gif)

[2015-01-16 21:42] thisandagain commented on #228
:laughing: :dancer:

[2015-01-16 22:26] iamjessklein commented on #206
@smithisgeneric I believe [this link](https://www.dropbox.com/sh/0kdt7yh972fe760/AADoZvckqbzHOUjlHO2oNXA4a?dl=0) might be useful.

[2015-01-16 23:02] edrushka commented on #191
Here is the wiki for this work: https://wiki.mozilla.org/NN-Campaign

Studio Mofo is updating the petition https://bugzilla.mozilla.org/show_bug.cgi?id=1121783 and the advocacy website https://bugzilla.mozilla.org/show_bug.cgi?id=1121786

Oglivy is being contracted to do the rest of the design work.

[2015-01-16 23:08] simonwex commented on #233
This issue was moved to mozilla/build.webmaker.org#1

[2015-01-16 23:08] #233 closed

[2015-01-16 23:09] simonwex commented on #232
This issue was moved to mozilla/build.webmaker.org#2

[2015-01-16 23:09] #232 closed

[2015-01-16 23:11] edrushka opened #234 "Build MOI splash page for MWC"
We need a simple brochure-style page to highlight Mozilla's mobile efforts for Mobile World Congress (MWC)

### RACI

* Phase: dev / qa / ship
* Owner: @edrushka
* Decision Maker: @HPaulJohnson
* Consulted: @davidascher @benrito @thisandagain
* Design Lead: @sabrinang
* Development Lead: @mmmavis
* Quality Verifier: @cassiemc

+ Ali (l10n), @adamlofting (metrics)
Consulted: Ben, David A
 Informed

[2015-01-16 23:42] edrushka commented on #208
Done...although our form is currently busted :(
I don't have Ops intake.

[2015-01-16 23:46] gesa commented on #224
Great! Let's leave notes here, as well as make a deadline so that I can see/build the whole picture.

@thisandagain to answer your question from email, let's QA on heroku (http://sleepy-ravine-9799.herokuapp.com/en-US/home-3) for now so we don't block anything else from being deployed in the process.

[2015-01-16 23:47] davidascher commented on #210
@OpenMatt: Can you get to https://github.com/MozillaFoundation/plan/labels
? is there a New Label green button?

On Fri, Jan 16, 2015 at 11:15 AM, OpenMatt <notifications@github.com> wrote:

[2015-01-16 23:49] gesa commented on #175
:+1:

[2015-01-17 00:00] thisandagain commented on #150
Resolved via https://github.com/MozillaFoundation/plan/pull/222

[2015-01-17 00:00] #150 closed

[2015-01-17 00:04] thisandagain commented on #182
Nice work on this ticket folks. The milestone is down to a single issue. :smile:

[2015-01-17 00:04] #182 closed

[2015-01-17 00:05] thisandagain commented on #181
@simonwex @Pomax Do you want / need to continue work on this in earnest or are we good to close this sprint ticket?

[2015-01-17 00:06] thisandagain commented on #122
Nice work folks. @secretrobotron good to close given the `/audience` content you have to date?

[2015-01-17 00:06] alicoding commented on #181
There is localization part where I'm currently working on but it could be in its own ticket.

[2015-01-17 00:06] #181 closed

[2015-01-17 00:06] simonwex commented on #181
@alicoding could you create that ticket?

[2015-01-17 00:07] alicoding commented on #181
Sure thing @simonwex just regular format not like this one right?

[2015-01-17 00:08] thisandagain commented on #71
We got through quite a bit of this. Remainder moved to https://github.com/MozillaFoundation/plan/issues/49

[2015-01-17 00:08] #71 closed

[2015-01-17 00:10] thisandagain commented on #64
Absolutely blown away by the progress that was made on this. :heart: :smile: :boom:
Looking forward to refining these concepts down and starting prototypes.

[2015-01-17 00:10] #64 closed

[2015-01-17 00:12] thisandagain commented on #63
We got through all of these issues minus the final design review. Moving review to the UX sprint. Go @vazquez go! :smile:

[2015-01-17 00:12] #63 closed

[2015-01-17 00:14] thisandagain commented on #179
@HPaulJohnson can you create ticket(s) for the next phase of this?

[2015-01-17 00:14] #179 closed

[2015-01-17 00:38] thisandagain commented on #224
Oops! Just noticed that we are tracking this in two places. Moving to https://github.com/MozillaFoundation/plan/issues/226

[2015-01-17 00:38] #224 closed

[2015-01-17 00:39] thisandagain commented on #226
UI and execution needs QA prior to launch:
http://sleepy-ravine-9799.herokuapp.com/en-US/home-3

/cc @cassiemc @gesa @iamjessklein

[2015-01-17 00:42] davidascher opened #235 "Draft demo script for Mobile World Congress"
To ensure that our MWC demo is optimal, we should get a first draft of that demo written up.

### Audience
Near-term: MWC stakeholders
Long-term: MWC attendees

### Success
We have a discussable/reviewable/approvable first draft of a demo script.  It can be as simple as a storyboard and a statement of what we hope the take-aways for the demo are.

### Vision
A creative session with  @HPaulJohnson

[2015-01-19 02:42] thisandagain opened #236 "Finalize UI design & implement editor revisions"
From our field testing it's become clear that one of our weakest areas in the Webmaker.app is the editor. Thanks to @flukeout and @k88hudson we have some strong ideas and prototypes for how to improve the UX. This sprint is finalize the UI design and implement this new UX.

### Audience
All users of the Webmaker App

### Success
- Primary
    - UI design finalized (R+) by Thursday EOD
    - Update

[2015-01-19 03:06] thisandagain commented on #194
Tickets have been migrated to milestones and the date labels have been removed.

[2015-01-19 03:09] #202 closed

[2015-01-19 03:17] thisandagain opened #237 "Add retention and quarterly goals to dashboard"
To provide a good high-level picture of health for Webmaker we need to add retention to the dashboard. In addition, we should call out the four quarterly goals as per the 2015 plan and highlight them at the top of the dashboard.

### RACI
* Phase: Build
* Owner: @adamlofting
* Decision Maker: @thisandagain
* Design Lead: n/a
* Development Lead: @adamlofting
* Dedicated Reviewer: @cadecairos
* Qual

[2015-01-19 03:19] thisandagain commented on #237
I'm not certain if we will need development support on this (cc @simonwex ). Will confirm with @adamlofting

[2015-01-19 15:06] cassiemc opened #238 "Align Webmaker & Mozilla Branding efforts"
MofoDesign needs to sync up again with @mart3ll to review Mozilla branding progress

### RACI
    Phase: Exploration
    Owner: @HPaulJohnson
    Decision Maker: @ TBD
    Design Lead: @vazquez
    Development Lead: n/a
    Quality Verifier: @cassiemc

MofoDesign needs to sync up again with @mart3ll to review Mozilla branding progress and ensure the direction still meshes with Webmaker branding. I

[2015-01-19 15:14] cassiemc opened #239 "Clarify how to file meta vs. granular issues"
We have a lot of meta bugs to track overall initiatives and prioritize during TPS, but it's not clear how to get into the granular issues from the meta issues.

I think most project owners are using separate milestones to track those?

Perhaps we can ask that project owners document inside the Meta issues how to find the granular issues? Or, should all owners be using another label that lists ALL

[2015-01-19 15:34] thisandagain commented on #196
Tracking in https://github.com/MozillaFoundation/plan/issues/226

[2015-01-19 15:34] #196 closed

[2015-01-19 15:35] thisandagain commented on #197
Tracking in https://github.com/MozillaFoundation/plan/issues/226

[2015-01-19 15:35] #197 closed

[2015-01-19 15:35] OpenMatt commented on #239
I have similar questions.

* I'm going to suggest that we take this and related issues up this Heartbeat as part of shipping documentation on how to use Git Hub:
https://github.com/MozillaFoundation/plan/issues/208
And then ship it to the build.webmaker.org "how we work section"

* In my view, forcing ourselves to write and improve draft public documentation together is the best way to take up que

[2015-01-19 15:35] thisandagain commented on #175
Tracking final implementation in https://github.com/MozillaFoundation/plan/issues/226

[2015-01-19 15:35] #175 closed

[2015-01-19 15:36] thisandagain commented on #60
Hey @secretrobotron @ScottDowne could we get a status update?

[2015-01-19 15:37] cassiemc commented on #239
+1 @OpenMatt, thanks!

[2015-01-19 15:37] thisandagain commented on #122
Tracking work for `/audience` in https://github.com/MozillaFoundation/plan/issues/74

[2015-01-19 15:37] #122 closed

[2015-01-19 15:40] OpenMatt commented on #210
ah yes! thanks david. sorted.

[2015-01-19 15:42] thisandagain commented on #165
Now that we have the example app moving forward I'd like to bring this back as a P2 suggestion for this sprint (Jan 30). One additional goal I'd like to suggest here is getting Optimizely working correctly at least for our splash page and top level navigation.

/cc @simonwex

[2015-01-19 15:43] OpenMatt commented on #237
See also: https://github.com/MozillaFoundation/plan/issues/228
Where we'll be working to document some of these, pulling from the main 2015 plan.

[2015-01-19 15:46] thisandagain opened #240 "Create / restore moderation functionality for /explore"
As we are starting to drive more traffic to `/explore` (formerly known as the gallery) we have a need to keep that content regularly updated. The existing content on that page hasn't been updated in quite some time and after talking with @keyboardkat and @cadecairos it looks like part of the problem is that the architecture of that page and the features available within the [MakeAPI admin](https:/

[2015-01-19 15:46] OpenMatt commented on #208
Cassie let's add to the draft here: http://workopen.org/github_howto

I'll move this from etherpad to a Git Hub page we can easily edit and revise / synch with build.wmkr as we go

[2015-01-19 15:49] OpenMatt commented on #225
@secretrobotron: let's schedule a project kick-off on this for tomorrow.

[2015-01-19 15:58] adamlofting commented on #237
I can do the development on this (it's well underway already) but I'd appreciate a code review if that's possible.

[2015-01-19 16:01] thisandagain opened #241 "New user on-boarding improvements (Phase II)"
After initial sign-up new users are dropped onto the landing page for X-Ray Goggles which has high information density and dry content for remixing. It is conceivable that this may be contributing to a relatively low rate of engagement after sign-up.

https://goggles.webmaker.org/en-US

### Audience
- Users of webmaker.org who have just created an account.
- Visitors to webmaker.org that enter via

[2015-01-19 16:28] OpenMatt commented on #14
@hannahkane shall we mark this complete?

[2015-01-19 16:28] OpenMatt commented on #15
@hannahkane: yes, let's close this and open a new ticket

[2015-01-19 16:28] #15 closed

[2015-01-19 16:30] OpenMatt commented on #180
@hannahkane: moving this to Jan 30 milestone, as it seems like the work is ongoing

[2015-01-19 16:31] #185 closed

[2015-01-19 16:31] OpenMatt commented on #186
@simonwex status update?

[2015-01-19 16:46] OpenMatt commented on #228
@thornet: hoping you can help with this for Learning Networks piece, working with Lainie and Hannah

[2015-01-19 16:57] thisandagain opened #242 "Improve email communication(s) after sign-up"
### RACI

* Phase: Write / Build / Deploy
* Owner: @HPaulJohnson
* Decision Maker: @HPaulJohnson
* Design Lead: n/a
* Development Lead: @ScottDowne
* Quality Verifier: @thisandagain @valianttry

Our communication after sign-up should draw users back into the product and ideally come after the user has stopped engaging with Webmaker (either via a standard delay or dynamically). In addition, we need

[2015-01-19 17:10] secretrobotron commented on #122
:+1: will follow up with people here to hone in on profiles I chose.

[2015-01-19 17:12] secretrobotron commented on #60
@thisandagain: spoke with @ScottDowne. Some ie11 and login bugs/reviews stopped progress on Friday. Should be wrapped up today.

[2015-01-19 17:31] OpenMatt commented on #165
@thisandagain should we add a "needs dev" label to this one?

[2015-01-19 17:32] cassiemc commented on #183
This feels too big a scope for one heartbeat. Would recommend breaking it up into just wireframe or design. @secretrobotron

[2015-01-19 17:33] OpenMatt commented on #124
@secretrobotron / @thisandagain :  will this ticket require design and/or dev resources this heartbeat? (if so, can you add those labels?)

[2015-01-19 17:33] secretrobotron commented on #74
- [x] motivator pictures replaced with icons
- [ ] needs a design-pass follow-up to improve how personas are displayed (and probably other things)
- [ ] should break up the user journey section and make the graph more understandable/interactive

Latest design: https://redpen.io/yc4c3aba08f2c560bf

[2015-01-19 17:34] davidascher commented on #183
@cassiemc really?  More than two weeks for a simple partner page?

[2015-01-19 17:35] thisandagain commented on #74
I can help out with the design this week @secretrobotron

[2015-01-19 17:36] cassiemc commented on #235
It's unclear in this ticket who is actually responsible for the work. @davidascher

[2015-01-19 17:36] thisandagain commented on #235
It's on me @cassiemc

[2015-01-19 17:36] cassiemc commented on #231
Needs a RACI. @OpenMatt

[2015-01-19 17:37] cassiemc commented on #230
Needs a RACI. @OpenMatt

[2015-01-19 17:39] secretrobotron commented on #74
Thanks @thisandagain

[2015-01-19 17:40] secretrobotron commented on #183
:+1: to what @davidascher said. Hoping we can just throw together something that's almost exactly the same as the maker party partner page. Just a list of icons with webmaker styling.

@cassiemc were you thinking something more complex?

[2015-01-19 17:40] cassiemc commented on #183
"simple" is always a scary word. There is no wireframe, no content, or assets that I've seen. So to get all those things integrated and launched on the site with localization and analytics and copy review, yes, I'd say it's much more realistic to focus on getting the design finalized.

[2015-01-19 17:40] cassiemc commented on #183
Besides, it's a p2.

[2015-01-19 17:41] secretrobotron commented on #74
Note: need to add a license doc for the icons and pictures. e.g. https://github.com/vazquez/webmaker-personas/commit/35e164e0fd65a1f4722f9b3f628b840e0807788a

[2015-01-19 17:43] cassiemc commented on #209
@HPaulJohnson Let me know if you need to consult re. design effort.

[2015-01-19 17:43] davidascher commented on #183
Analytics shouldn't take an hour.  I'm ok w/ localization happening at
whatever schedule that naturally happens, but I'm worried if we aren't able
to go through design + copy + implementation of a not-even-front-page
static page in a two-week sprint.

[2015-01-19 17:57] davidascher commented on #235
Also, may as well include in this scope:

 - [ ] send Pete details of how we're planning on spending the money to resource content for the app

[2015-01-19 17:58] davidascher commented on #228
@OpenMatt I have some ideas -- let's chat =)

[2015-01-19 18:34] OpenMatt commented on #234
* next step: break this down into individual tickets. for design vs. dev.

[2015-01-19 18:35] edrushka opened #243 "Design splash page for Mobile World Congress"
Sabrina is on point for this, but could use some input from Webmaker designers, as this page will be hosted on webmaker.org

### RACI
* Phase: Design
* Owner: @edrushka
* Decision Maker: @HPaulJohnson
* Consulted: @davidascher @benrito @thisandagain
* Design Lead: @sabrinang
* Development Lead: n/a
* Quality Verifier: @cassiemc

[2015-01-19 18:36] edrushka commented on #243
Still learning how to use meta-issue in Github so not sure how to connect this, but here is the larger issue: https://github.com/MozillaFoundation/plan/issues/234

[2015-01-19 18:36] OpenMatt commented on #241
@thisandagain may propose dropping this to p2

[2015-01-19 19:06] cassiemc commented on #243
Needs a RACI. Here's a suggestion, based on the RACI in #234 (which doesn't quite match our production RACI). Adding myself as design quality & removing the 'needs-design' label, since Sabrina will be doing the bulk of the work.

### RACI
* Phase: Design
* Owner: @edrushka
* Decision Maker: @HPaulJohnson
* Consulted: @davidascher @benrito @thisandagain
* Design Lead: @sabrinang
* Development Lead:

[2015-01-19 19:15] edrushka commented on #243
@cassiemc thanks. Could we hook @sabrinang up with a Webmaker designer at some point to advise on what current visual requirements are for webmaker pages? Or is Makerstrap still 100% current?

[2015-01-19 19:17] cassiemc commented on #243
Yes, she can connect with me at any time, but Makerstrap 100%, currently.

Probably good idea to have a kickoff, @edrushka. @thisandagain may want to advise on best practice here.

[2015-01-19 19:48] cassiemc commented on #241
Edit: assigned @xmatthewx for design support.

[2015-01-19 19:50] cassiemc commented on #238
Assigning @flukeout for design (remember it is p2 this sprint)

[2015-01-19 19:51] cassiemc commented on #236
Edit: assigned @vazquez for design.

[2015-01-19 19:53] cassiemc commented on #226
@OpenMatt This ticket needs a RACI.

I'm happy to help with quality on this if needed. Assigning @iamjessklein for any other design support.

[2015-01-19 19:58] cassiemc commented on #214
Needs a RACI. Some suggested roles:

### RACI ###
Phase: Design / Build / Ship
Owner: @hannahkane
Decision:
Consulted: ?
Lead design: @xmatthewx
Lead dev: n/a
Quality: @thisandagain

Assigning @xmatthewx for design, though I wonder if we should make this a p2 given there are a lot of 'teach' planning and roadmap tix this sprint as p1s. Thoughts @hannahkane @OpenMatt @thisandagain ?

[2015-01-19 20:00] cassiemc commented on #206
Assigning @iamjessklein as a P2 this heartbeat. Have updated the first comment to reflect this.

[2015-01-19 20:01] cassiemc commented on #206
@hannahkane @ldecoursy This initiative needs an owner in the RACI at the top, should that be one of you two?

(cc'ing @OpenMatt b/c of the US holiday...)

[2015-01-19 20:05] cassiemc commented on #191
This needs an owner and a fleshed out RACI. @DaveSteer / @OpenMatt - outline below if you want to take a stab at it.

@edrushka is this on @sabrinang's plate already or do we need Webmaker design resource for this?

### RACI
* Phase: Design / Build / Ship
* Owner:
* Decision Maker:
* Consulted:
* Design Lead:
* Development Lead:
* Quality Verifier:

[2015-01-19 20:07] cassiemc commented on #183
I'd emphasize we need an updated description that fleshes out what "better" means and what we're trying to accomplish with this new page. @secretrobotron can you help? If copy and assets can be gathered in a timely manner than I'm sure this is doable.

Assigning @vazquez as designer (p2 this heartbeat)

[2015-01-19 20:08] cassiemc commented on #124
@xmatthewx still assigned as designer.

[2015-01-19 20:09] cassiemc commented on #75
Edit: assigning @flukeout for design. Can't give you two designers as requested due to the other P1 requirements this heartbeat, but I'll try to step in where I can to help out.

[2015-01-19 20:15] thisandagain commented on #75
Great. Thanks @cassiemc

[2015-01-19 20:19] thisandagain commented on #226
Proposed RACI above.
/cc @HPaulJohnson @OpenMatt

[2015-01-19 20:21] secretrobotron commented on #183
Yeah, never mind that it says "better". I've removed it. We just need **a** place. Right now, all we've got is the one attached to Maker Party.

[2015-01-19 20:21] secretrobotron commented on #183
I'm encouraging Lynn to join in here so she can help :). She still needs a github account.

[2015-01-19 20:22] cassiemc commented on #183
Ah ok, we can work by email and help Lynn document it here, if that helps. A first draft of content / list of partners would be helpful.

[2015-01-19 20:35] OpenMatt commented on #231
@adamlofting: is this something you might be able to help with this week? If not I can take it on.

[2015-01-19 20:35] OpenMatt commented on #230
I'll take this one

[2015-01-19 20:38] OpenMatt commented on #228
* Will sched a project kick-off on this for Tues.
* Recommended attendees: Program Managers (me, Hannah, Lainie, Drushka) + David, Michelle, Bobby + anyone else who wants to play (please chime in here)
* Stub with some early random notes chucked into it here: https://wiki.mozilla.org/Foundation/2015/Q1

[2015-01-19 20:41] OpenMatt commented on #228
@secretrobotron: adding you because I think this relates to some of the other work we're doing on build.webmaker.org this heartbeat.
+ cc: @ldecoursy @hannahkane @thornet

[2015-01-19 20:44] k88hudson commented on #241
FYI it might make a lot more sense if you're rebuilding this page (https://goggles.webmaker.org) to do it in the webmaker.org codebase instead

[2015-01-19 20:46] simonwex commented on #236
So I understand correctly. This week is about design with someone from my team in the loop and then implementation next week?

[2015-01-19 20:52] OpenMatt opened #244 "Get pad.webmaker.org ready for widespread use"
@jdotpz : this is probably filed in the wrong repo. Let's fix that in our Kick-off mtg Tues.
* Goal: put a shiny new light sabre in the hand of every MoFo / Webmaker community member: an etherpad instance that can do things our crappy ole etherpad doesn't
* Some notes we took on this in Portland: https://etherpad.mozilla.org/build
* Next step: make a plan and file more specific bugs.

[2015-01-19 20:56] davidascher commented on #244
I suggest starting by making sure that it would meet the needs of our
folks.  In particular, there is AFAIK no team support in etherpadlite.
Let's make sure that sort of thing isn't a deal-breaker for people, so they
don't complain if we switch.

Suggest we start with a bit of a survey re: etherpad.m.o and what people
hate / love.

[2015-01-19 20:59] OpenMatt opened #245 "Blog about MoFo's 2015 and Q1 plans"
Communicate more widely about our 2015 plan. Dig into specifics around Q1.

We'll do this 3 ways:
1. **a blog post series.** From staff and community. Fleshing out specific aspects of the 2015 plan. And what they're working on in Q1 to get there.
2. **Q1 goals and KPIs.** Document our Q1 goals and KPIs in one spot. And tell a story about they key deliverables that will exist by April 1.
3. **estab

[2015-01-19 21:00] OpenMatt commented on #244
Sounds good.

[2015-01-19 21:02] davidascher commented on #245
A radical thought: the plan is currently both in wiki and in gdocs/PDF.  I
will boldly claim that both of those are terrible ways to read and
understand the plan, and unpleasant reading experiences.  I would wager
nobody but the authors are likey to read them again.

I think we should create a prettier, easier to read, and better-connected
reading site/page.  Could live at build.webmaker.org/strat

[2015-01-19 21:05] OpenMatt commented on #245
* Agreed. Had the same thought. Let's do it.

[2015-01-19 21:10] simonwex commented on #76
@toolness :+1: I think this is a great one for you.

@jdotpz I'm going to add you to the kickoff meeting to make sure we're sorted on deploy.

[2015-01-19 21:16] simonwex commented on #49
@k88hudson do you have an updated list of those issues? ^

[2015-01-19 21:28] secretrobotron commented on #228
:+1:

[2015-01-19 21:29] simonwex commented on #237
@adamlofting, @cadecairos can do reviews for you. @cadecairos could you prioritize them as they come in over the heartbeat? If this isn't working for either of you, ping me and I'm happy to lend a hand.

[2015-01-19 21:47] edrushka commented on #191
removing needs dev and needs design labels, as Studio Mofo has that covered.

[2015-01-19 21:47] cassiemc commented on #191
@erikad said in IRC that there are many pieces to this ticket. "@sabrinang is designing the petition (95% done) and the updates to the advocacy site. moco hired a firm (ogilvy) to do all other graphic design"

@DaveSteer are there any other design resources needed from MoFo?

[2015-01-19 21:55] thisandagain commented on #236
This is about UI design from tomorrow (kickoff) to Thursday and then implementation of the updated editor from Friday - end of sprint. Quite a bit to chew off, but gives a few days for @gesa to get up to speed and much of the UX is already defined if we'd like to get started early.

[2015-01-19 21:56] k88hudson commented on #49
@simonwex yes, it's in the first comment

[2015-01-19 22:00] OpenMatt commented on #226
* We need some clarification on this ticket.
* Seems to me we have two distinct pieces of work here (each of which should be ticketed separately):

**1) Finish up & ship the production work.** Some design & front-end tweaks to get the execution looking great. Then push it to staging / prod when ready. (requires: design / light front-end dev)

**2) Document & execute a communications plan.** How we

[2015-01-19 22:01] OpenMatt commented on #226
* I suggest we make this ticket about (2)
* @thisandagain / @cassiemc: do you have a suggestion for where should we track (1)?

[2015-01-19 22:08] cassiemc commented on #165
Very excited to see this moving foward this heartbeat. As far as a living style guide, I see that being another adjustment to MakerStrap, which we can point to instead of the design handbook (point taken). Is that what this ticket is mainly about? Let me know how I can help with design, if that's needed.

[2015-01-19 22:16] OpenMatt opened #246 "Finalize production work for Privacy Day Campaign"
GOAL: Finish up & ship the production work. Some design & front-end tweaks to get the execution looking great. Then push it to staging / prod when ready. (requires: design / light front-end dev.)

Communications plan for how we'll promote this work once it's completed is here:
https://github.com/MozillaFoundation/plan/issues/226

### Needs to ship on Jan 27th EOD
Because Privacy Day is Jan 28th

O

[2015-01-19 22:16] thisandagain commented on #165
@simonwex to jump in a redirect this towards a smaller scope of work that is focused on reducing debt. This issue will likely be re-cycled a few times until we get this under control but updating makerstrap / style-guides isn't a huge priority until branding is moving.

[2015-01-19 22:16] OpenMatt commented on #246
@iamjessklein : assigning to you, as per conversation with @cassiemc
cc @HPaulJohnson so he knows when this is done.

[2015-01-19 22:18] thisandagain commented on #161
Resolved by https://github.com/MozillaFoundation/plan/pull/222

[2015-01-19 22:18] #161 closed

[2015-01-19 22:19] thisandagain commented on #177
Keeping design / dev / feedback consolidated to https://github.com/MozillaFoundation/plan/issues/124

[2015-01-19 22:19] #177 closed

[2015-01-19 22:19] OpenMatt commented on #246
moving from the other ticket for reference. @thisandagain said:

UI and execution needs QA prior to launch:
http://sleepy-ravine-9799.herokuapp.com/en-US/home-3

/cc @cassiemc @gesa @iamjessklein

[2015-01-19 22:21] thisandagain commented on #189
Tracking in https://github.com/MozillaFoundation/plan/issues/242

[2015-01-19 22:21] #189 closed

[2015-01-19 22:22] thisandagain commented on #242
One technology that I've used in the past as to make the templates more accessible as well as easy to track is http://apostle.io/

[2015-01-19 22:23] hannahkane commented on #180
Actually, I think we can close this one. #214 captures the next phase of this work.

[2015-01-19 22:24] hannahkane commented on #14
Yup. Next phase is #215.

[2015-01-19 22:24] #14 closed

[2015-01-19 22:24] thisandagain commented on #137
Now that it is based on Milestones, this is no longer an issue.

[2015-01-19 22:24] #137 closed

[2015-01-19 22:25] thisandagain commented on #132
@cassiemc Is this complete?

[2015-01-19 22:26] cassiemc commented on #132
Yes, we're going to post the shots on Wednesday then I will close.

[2015-01-19 22:26] thisandagain commented on #126
Moved to https://github.com/mozilla/build.webmaker.org/issues/10

[2015-01-19 22:26] #126 closed

[2015-01-19 22:28] thisandagain commented on #100
All set in latest design (owner is listed with each issue).

[2015-01-19 22:28] #100 closed

[2015-01-19 22:28] #70 closed

[2015-01-19 22:28] #67 closed

[2015-01-19 22:29] #66 closed

[2015-01-19 22:30] hannahkane commented on #214
Yay! Excited to have @xmatthewx working on this. I'll set up a meeting for us.

Thanks, @cassiemc, for the RACI suggestions. I'd add this:

**RACI**

Phase: Design / Build / Ship
Owner: @hannahkane
Decision: @claw
Consulted: @ldecoursy @thornet
Lead design: @xmatthewx
Lead dev: n/a
Quality: @thisandagain

Re: the priority—most of the 'teach' tickets in this milestone don't require the product, eng

[2015-01-19 22:30] #56 closed

[2015-01-19 22:30] #55 closed

[2015-01-19 22:42] secretrobotron commented on #60
Done!

[2015-01-19 22:42] #60 closed

[2015-01-19 22:43] cassiemc commented on #183
Made a quick wireframe to help the discussion along & clarify scope of work.

![partners-wireframe](https://cloud.githubusercontent.com/assets/1186326/5809035/174f6bdc-a002-11e4-9a3e-b6be41db8361.jpg)

The Maker Party page, referenced in that image, has a TON of partners, so the grid design is not all that effective. It gives the feeling of being overwhelmed with partners, part of a crowd, rather

[2015-01-19 22:49] secretrobotron commented on #241
From @adamlofting:

[2015-01-19 22:52] thisandagain commented on #236
Kickoff scheduled for 10:30am PST

[2015-01-19 22:54] thisandagain commented on #204
Kickoff scheduled for tomorrow at 11am PST

[2015-01-19 22:55] thisandagain commented on #72
Bypassing kickoff for this as the initial SOW for this is on me. Will drop updates here by EOW.

[2015-01-19 22:56] thisandagain commented on #235
Covering MOCO resources scope of work here: https://github.com/MozillaFoundation/plan/issues/72

Bypassing kickoff for this and will draft demo script and drop here for review by EOW.

[2015-01-19 22:57] thisandagain commented on #237
Wonderful. Thanks folks. @adamlofting want to catch-up on the status of this during our 1:1 tomorrow?

[2015-01-19 23:06] benrito commented on #215
The link appears to be Doug Belshaw's Spotify playlist. A good a plan for credentialing as any ;)

Real link?

Please consider including me in the kickoff meeting, would love to participate if there aren't already too many cooks (which is possible).

[2015-01-19 23:12] hannahkane commented on #215
That is amazing, and feels impossible. Correct link:  http://mzl.la/1AxcmUq

Ben, you and An-Me will be invited to represent partnerships.

[2015-01-19 23:16] secretrobotron commented on #183
Scope things to discuss tomorrow:
- ground-game partnerships team: do they need to be consulted (hope: no, followup another heartbeat)?
- just a list of partners and some text to say why that's cool?
- "become a partner" in a different heartbeat?

[2015-01-19 23:17] thisandagain commented on #215
ROFL :laughing:

[2015-01-19 23:19] thisandagain commented on #60
:boom: Wonderful job folks. Thanks for pulling this off @ScottDowne and @xmatthewx. :smile:

[2015-01-19 23:28] thisandagain commented on #76
@toolness Yup! Same service ... hoping to use it on webmaker.org as well eventually but it will get immediate use in the mobile app. Thanks for jumping in. :smile:

[2015-01-19 23:40] thisandagain commented on #235
/cc @k88hudson @secretrobotron as we'll likely use this demo script as a base for the QA script between now and MWC.

[2015-01-19 23:41] thisandagain commented on #163
India field research is in-progress.

[2015-01-19 23:41] #163 closed

[2015-01-19 23:44] simonwex opened #247 "Optimize our donation form"
This is a tracking issue for private issue: https://github.com/MozillaFoundation/2015-fundraising/issues/2

### RACI
* Phase: Evaluate / Plan / MoCo Coordination
* Owner: @simonwex
* Decision Maker: @valianttry
* Design Lead: N/A
* Development Lead: @jdotpz
* Quality Verifier: @ScottDowne

[2015-01-19 23:49] simonwex commented on #119
Um, we killed this.

[2015-01-19 23:49] #119 closed

[2015-01-19 23:52] simonwex commented on #49
Groovy, thx.

[2015-01-20 00:13] simonwex commented on #226
I think we should create a new P2 bug for (1), and I'll do my best to have it completed in this HB. Otherwise we can P1 it next.

[2015-01-20 00:58] HPaulJohnson commented on #238
@cassiemc no blockers from me. I think this area of work can/should proceed even as we pursue some of our own research about naming, etc.

[2015-01-20 01:34] thisandagain commented on #226
@simonwex Just note that the engagement folks have a hard launch deadline of the 28th for this thing (in prod on the evening of the 27th).

[2015-01-20 03:05] cassiemc commented on #238
Fantastic, thanks Paul.

[2015-01-20 07:31] thisandagain commented on #59
@cassiemc and @secretrobotron Thank you X :100::100: for all the notes. :smile:  Latest changes for intro - findings is available here:
https://www.dropbox.com/s/qhty52eixabb3ni/kenya_150119.pdf?dl=0

More work is needed on the personas and the frameworks as per your feedback, but wanted to get the latest out to everyone this evening. /cc @LauraReynal

[2015-01-20 07:35] LauraReynal commented on #59
Hey @thisandagain It says the PDF is damaged. It weights 0 :smile:
Huge thanks to you three for the reviews and the design work !!

[2015-01-20 09:15] dajbelshaw commented on #215
I vote we just go with my playlist. ;-)

Apologies - that was almost certainly a copy/paste error on my part (into bit.ly)

[2015-01-20 11:01] adamlofting commented on #231
@OpenMatt: Yes, I can write this up this week. :smile:

[2015-01-20 14:14] cassiemc commented on #246
This project needs an owner and a kickoff, since it's p1. I think the previous owner was @HPaulJohnson but maybe I'm wrong? Still needs dev, too.

cc @thisandagain @OpenMatt @simonwex

[2015-01-20 14:21] iamjessklein commented on #246
:+1:  In the meantime, is there a qa checklist that we can pull up to start getting prepped?

[2015-01-20 14:26] iamjessklein commented on #132
:+1: :dancer: :dancers:

[2015-01-20 14:34] OpenMatt commented on #246
@simonwex: are you able to project manage this one?

[2015-01-20 15:06] iamjessklein commented on #206
If these badges are getting shipped on Webmaker.org - we will most likely need dev support at some point.

[2015-01-20 15:08] OpenMatt commented on #215
hilarious. @hannahkane: note that you can edit comments. I just updated the link above.

[2015-01-20 15:21] hannahkane commented on #206
Discussed with @ldecoursy —I'll take this one.

@smithisgeneric and @iamjessklein—I'll send an invite for a meeting for the three of us.

[2015-01-20 15:35] iamjessklein commented on #246
Just talked to @secretrobotron and we think that we should break this into two parts:

* Week 1: Design QA and finalizing
* Week 2: Functional QA (Tech)

In order to do this - I am going to clean up [the checklist that was used for onboarding qa](https://docs.google.com/a/mozillafoundation.org/document/d/1UzVUmOEoiF09ciFzsAM0btYuE99-JEisVwTE89SseYw/edit#) and see if there is a checklist for design

[2015-01-20 15:37] #180 closed

[2015-01-20 15:37] cassiemc commented on #75
I just wanted to give a quick update on where I left off with my direction started in #64. I did some additional thinking last week about content types, looking at how layering concepts (around the digestible, narrative number 'three') could be used to build out interesting artifacts, but I really wasn't finding it fruitful. Some of that work can be seen here:

![content-types](https://cloud.githu

[2015-01-20 15:40] adamlofting commented on #237
@thisandagain yes, let's talk it through on our call.

Here's a link you can look at what we have now: https://webmaker-metrics.herokuapp.com

This is real data from the last 7 days, but the hosted app is not connected live to the webmaker integration db (it's all coded up but I need to move this hosted site into the mofosecure infrastructure before putting creds into the production version).

I'l

[2015-01-20 15:41] toolness commented on #76
Nice! Another funny thing is that I made yet another screenshotting service for the FF->WM prototype mattheww and I have been working on:

https://github.com/xmatthewx/webmaker-addons/tree/gh-pages/htmlshot#readme

Originally I wanted to just use phantom or blitline (which uses phantom), but phantom's version of webkit is super old and doesn't support google fonts (which use WOFF, I think). So I d

[2015-01-20 15:44] cadecairos commented on #237
@adamlofting : send word when it's ready for a code review

[2015-01-20 16:02] thisandagain commented on #59
Fixed!

[2015-01-20 16:08] secretrobotron commented on #75
Last bit of prototype work from @flukeout: https://dl.dropboxusercontent.com/u/109902/webmaker-prototype.pdf

[2015-01-20 16:11] iamjessklein opened #248 "Heartbeat planning should take into account QA and polish after a prototype heartbeat"
When a 2 week heartbeat is done in such a way that the first 2 weeks are devoted to essentially shipping a prototype (conceive, design and implement), then it would be great to plan for the following heartbeat to be dedicated to Design and Functionality QA and polish. It would good to go into the prototyping sprint knowing that you have the polish/qa sprint to follow up.

My example for this is th

[2015-01-20 16:12] davidascher commented on #248
Sure, or (when we can), do both phases in a single heartbeat.  But yes, we
should ack that polish takes time.

[2015-01-20 16:15] adamlofting opened #249 "Move webmaker-metrics to mofosecure infrastructure"
Blocks: Add retention and quarterly goals to dashboard #237

I've assigned this to you @jdotpz but some of this is for me to do.

I think the steps required are:
- [x] Move the repo into the mozilla org https://github.com/mozilla/webmaker-metrics
- [x] Setup hosting in mofosecure infrastructure (as opposed to heroku)
- [x] Setup a subdomain for the app (suggest: https://metrics.webmaker.org )
  -

[2015-01-20 16:44] secretrobotron commented on #75
Notes from kickoff meeting:

#### Luke's Design
https://dl.dropboxusercontent.com/u/109902/webmaker-prototype.pdf

##### What's working?
- Tiles
    - interconnecting
    - zooming in and out
- Dummy elements on new tiles
- Tile map
    - CRUD
- Themes in element editor (maybe not necessary for prototype)
- Text + image

##### What's not?
- Editor
    - Information density is high
    - Side panel

[2015-01-20 16:57] HPaulJohnson commented on #183
@secretrobotron would love to be in the loop and represent engagement team on this one.

[2015-01-20 17:09] secretrobotron commented on #248
:+1:
I think we can work on timing. Some projects won't have 2 or 3 heartbeats at their disposal, but we can still line up QA for design and functionality that meshes well with any schedule.

[2015-01-20 17:23] secretrobotron commented on #183
Cool. Thanks @HPaulJohnson . So far, Lynn has been my engagement team source, and, with her, I'm trying to keep the scope down. Just sent out a meeting invite for you two so we can hash out a plan specific to engagement, and then move into design & impl here.

[2015-01-20 17:29] thisandagain commented on #246
Hey @secretrobotron sorry for the late notice, but can you own this issue?

[2015-01-20 17:31] OpenMatt commented on #246
* I've updated the RACI above, because I filed this out incorrectly to start.

[2015-01-20 17:40] OpenMatt commented on #239
* I could use some direction and guidance from you all on this
* Hoping we can bring proposal to vet to @davidascher's staff meeting.

* I ~think~ what I should be doing is:
** Create new repos for things like communications, process, documentation, tooling, etc.
** As opposed to what I'm doing now, which is: filing everything (including granular stuff) under "Plan"

* Is that correct?
* This is a

[2015-01-20 17:41] OpenMatt commented on #239
cc @simonwex

[2015-01-20 17:45] OpenMatt commented on #239
We might also want to spend some time reviewing / optimizing / cleaning up this page, which lists all our current repos: https://github.com/MozillaFoundation

[2015-01-20 17:45] secretrobotron commented on #246
@thisandagain :+1: on it.

[2015-01-20 17:51] davidascher commented on #239
In general, I suggest as few repos as possible.  Managing across repos is
just a bit harder than within a repo.  @OpenMatt can you think about the
set of issues-not-related-to-code and suggest some groupings?  It could be
we just need a single such repo.

[2015-01-20 17:51] davidascher commented on #239
(oh, but yes -- let's keep "initiatives" in the plan repo, and come up with
another repo for smaller-grain stuff)

On Tue, Jan 20, 2015 at 9:51 AM, David Ascher <da@mozillafoundation.org>
wrote:

[2015-01-20 18:04] OpenMatt commented on #246
* Thanks Bobby. BTW: I don't need to attend the kick-off or be a part of the RACI on this ticket going forward. I just filed it. Now I'll get out of the way. :)

[2015-01-20 18:05] secretrobotron commented on #246
Haha acknowledged :).

[2015-01-20 18:08] secretrobotron commented on #74
Update:
- Robert, Kathryn, and Lainie are reaching out to the personas they offered to make sure they're alright being featured.
- Some persona story edits to do in the redpen
- @LauraReynal's change requests are great. Will compile them into an iteration after this is off the ground.

[2015-01-20 18:49] thisandagain commented on #236
Ricardo is tracking design here: https://redpen.io/bwb858f2a4b53017ac

[2015-01-20 18:55] thisandagain commented on #236
Milestone updated and initial assignments should be all set.
/cc @vazquez @gvn

[2015-01-20 18:55] cassiemc commented on #186
@k88hudson can you still access the old calendar? it wasn't created through zimbra so it should still be there. Let me know if you can't.

Otherwise, making the calendar mofo-wide (which was @simonwex's intention) has been ixnayed by HR. We should continue to use it on an internal team basis only.

Resolve:Won'tFix

[2015-01-20 18:55] #186 closed

[2015-01-20 19:24] cassiemc commented on #74
Left some comments on the redpen, hope it helps with the design next pass. Let me know if I can help copyedit, too.

[2015-01-20 20:26] xmatthewx commented on #124
tracking build of prototype here: https://github.com/xmatthewx/webmaker-addons/issues

[2015-01-20 21:00] keyboardkat commented on #240
Have now added initial user needs to #1098.

[2015-01-20 21:05] mmmavis opened #250 "Set up a server that serves up Twitter feeds on request"
(sorry, I'm not sure if this ticket has to be filed in a specific format)

Using the official [Twitter Timeline Widget](https://dev.twitter.com/web/embedded-timelines) is probably the quickest and easiest way to embed Twitter feeds.   However, there are concerns around privacy/tracking issues with the use of Twitter widget.

A Node.js app with a suitable existing package can probably help solve th

[2015-01-20 21:07] mmmavis commented on #250
@davidascher @simonwex @jdotpz , think you guys might know?

[2015-01-20 21:10] jdotpz commented on #250
No general mofo account that I am aware of.  Each group has its own twitter feed, however...
ala https://twitter.com/opennews

[2015-01-20 21:20] mmmavis commented on #250
The to-be-built server that I have in mind should serve up feeds according to a hashtag, Twitter handle of requester's choice.  That's why I think a general Twitter account should be used to apply for API related keys.

[2015-01-20 21:28] secretrobotron commented on #241
Going to schedule daily meetings at EODs throughout heartbeat so we can roll through these tasks:
* EOD Wednesday: Sketches from @xmatthewx, review
* EOD Thursday: UX mockup from @xmatthewx, UX design review
* EOD Friday: @xmatthewx and @cassiemc finish UI, UI design review, (demo)
* EOD Monday: progress from @Pomax
* EOD Tuesday: more progress from @Pomax
* EOD Wednesday: functional QA script and

[2015-01-20 21:46] secretrobotron commented on #246
Tracking progress in a webmaker.org milestone: https://github.com/mozilla/webmaker.org/milestones/Privacy%20Day

[2015-01-20 21:49] simonwex commented on #250
@mmmavis if it's read-only, I think we should have a stand-alone account for it. Feel free to create one and share the details with @jdotpz via lastpass.

[2015-01-20 22:02] xmatthewx commented on #241
Thanks @secretrobotron. Let's plan to demo UX on Friday midday, while pushing through UI. Will likely handoff artwork on Monday.

[2015-01-20 22:40] xmatthewx commented on #241
In steps 1-6 on the [existing goggles page](https://goggles.webmaker.org/), 5% of the words teach html[1], 95% teach how to use the tool. We can edit this, but we can only rebalance it so much without adjusting the tool.

Question: Goggles can become difficult when the modal editor blocks the instructions on the page. Is it possible to modify goggles slightly for this page? For example, can we hav

[2015-01-20 22:48] alicoding opened #251 "Research Pootle and compare with Transifex"
Lets do some research on [Pootle](http://pootle.translatehouse.org/) and see what it can offer that Transifex can't since there are a lot of contributors not really happy about Transifex as our translation platform.

### Audience
Our translators/contributors. I have spoke to few translators at Mozfest last year and also few of the Mozilla-l10n which suggested that using Transifex really frustrated

[2015-01-20 23:01] xmatthewx commented on #241
Whiteboard: https://redpen.io/p/ck93d8580c6c32e1a0

[2015-01-20 23:10] secretrobotron commented on #241
I'm inclined to say "out of scope," depending on an eval by @Pomax. I'm worried about unlocking goggles code/design bugs as a result or changing up its UI, especially if we're focusing on THE UNIFIED TOOL™ soon.

Can you explain why rebalancing is so hard?

[2015-01-20 23:17] davidascher commented on #241
I suggest that @Pomax and @matthewx play with this problem for an hour
together.  I suspect there are easy wins that could lead a less "take over
the screen" UX and would be fairly trivial to implement.

[2015-01-20 23:20] davidascher commented on #251
Good question.  One of the things that has felt magic about Transifex is
the number of people who "just show up and start translating".  Given that
we don't have people specifically dedicated to enrolling, communicating and
managing our l10n community (apart from you @alicoding, but you have lots
of other stuff to do to), I'd want to make sure we don't lose that magic in
a tool transition.

[2015-01-20 23:23] secretrobotron commented on #241
:+1:

[2015-01-20 23:27] alicoding commented on #251
At this point I don't have much knowledge about community in Pootle itself and I'm actually wondering how large is the community there compare to Transifex and if it will help us gain any more contributors or not. I might just ask few of our current translators who suggested pootle to find out about this. I think totally changing might not be what we want at first but checking it out and find out

[2015-01-20 23:35] jbuck opened #252 "Centralized logging for mofo apps"
Right now when there's a problem that needs logs to solve I SSH into a box, kill the service, and run it in my console. Works for me, @jdotpz, and @cadecairos, but it doesn't scale to more people, or multiple instances.

We have a semi-working logging system that I'd love to have fully-working instead of my SSH method.

Specific problems:
- I don't know what the URL is (http://loggins.mofoprod.net

[2015-01-21 00:05] jbuck opened #253 "Move mofo app config from S3 bucket to a repository"
We've been bandying about this idea for quite some time, but I think we need to move away from storing our app configuration in an S3 bucket to storing it in a repository somewhere. Reasons:

1) Who can change the current configuration? Oftentimes I'm the person asked to make changes on behalf of others.
2) Who made a change? What did they change? When did they make it? Why did they make it? If I'

[2015-01-21 05:34] thisandagain commented on #59
Alright. Draft v2 is ready for review:
https://www.dropbox.com/s/lyzw4e8wjrmjhws/kenya_150120.pdf?dl=0

I made a few major changes to the end of the report in addition to the grammar, content, and design edits from @secretrobotron and @cassiemc:
- Created type treatment for how to display motivations & threshold zone consistently
- Removed the web journey diagram from each persona and tied it into

[2015-01-21 15:31] dajbelshaw opened #254 "Remove current content at badges.webmaker.org"
The page at http://badges.webmaker.org currently lists badges we haven't issued for at least a couple of years. We've had bugs filed to do something with this before, but nothing's happened (probably for good reason, I just can't remember the details)

Perhaps as a holding pattern we could list the badges we have currently available? We're pointing people towards http://blog.webmaker.org/badges in

[2015-01-21 16:46] adamlofting commented on #228
I'll follow this closely, but don't let me be a blocker on scheduling the call if my timezone causes pain.

:clock1: :clock2: :clock3: :clock4: :clock5: :clock6:

[2015-01-21 16:46] LauraReynal commented on #59
Hey @thisandagain  Thanks for the great design pass :smile:

I initially included the product recommendations to show how we learn from all of this when creating the product. It's a question almost everyone ask me.

:+1: on including a product section with more general information on MWC. I'll add this in the plan. Thanks again !

[2015-01-21 16:55] cadecairos commented on #240
@simonwex & @thisandagain  we should discuss the requirements @keyboardkat put in mozilla/webmaker.org#1098

What's a good time for you guys?

[2015-01-21 17:01] thisandagain commented on #240
@cadecairos Most times tomorrow work for me. Happy to find some time today if you are blocked.

[2015-01-21 17:02] jbuck commented on #254
I believe the reasoning is that people who were issued these badges lose all data about them if we remove the content behind badges.w.o. Probably the right solution here is to generate a static copy of the site.

[2015-01-21 17:20] jdotpz commented on #253
imo, we should go split config, and keep secrets in S3.
It should be pretty rare we're changing secrets, right?

[2015-01-21 17:20] jdotpz commented on #252
Logging is boned right now, I'm going to fix ES today.

[2015-01-21 17:21] jdotpz commented on #252
loggins:
![-this_is_it-_by_kenny_loggins](https://cloud.githubusercontent.com/assets/1373628/5841066/97d2e4ba-a15f-11e4-989b-9d7a5cb22166.jpg)

[2015-01-21 17:22] cadecairos commented on #240
@thisandagain  If we could chat today, I'd appreciate it.

I think I understand what features we want for the  moderation tools, but I don't want to get started until I'm sure we all agree what/how we're building this thing

[2015-01-21 17:24] cadecairos commented on #252
loggins-> :man:  :gun: <- @jdotpz

@jbuck kibana is a bit janky, try https://loggins.mofoprod.net/#/dashboard/elasticsearch/DEFAULT%2520-%2520ALL%2520LOGS

[2015-01-21 17:26] dajbelshaw commented on #254
Thanks @jbuck! Could you unpack 'lose all data'? Would also be good to know how many people we'd affecting...

[2015-01-21 17:32] thisandagain commented on #240
Ok. Invite sent.

[2015-01-21 18:33] ScottDowne commented on #242
Is there something I can start on with this?

[2015-01-21 18:45] keyboardkat commented on #240
Didn't get invite, but let me know if you want me to be there.

[2015-01-21 19:01] jdotpz commented on #252
Nope.  Just go to loggins.  All data and dashboards are gone for now, and after I'm done raging, maybe I'll recreate them.  But we're getting logs.

OK, off to go chain smoke.

[2015-01-21 19:21] jbuck commented on #254
https://bugzilla.mozilla.org/show_bug.cgi?id=949061 has some context for the last time we did this.

Hilariously enough, I see that https://badges.webmaker.org has an invalid cert and I've seen no complaints about it.

[2015-01-21 19:29] cadecairos commented on #240
#ProjectFirehose

[2015-01-21 19:32] OpenMatt commented on #239
@simonwex: could use your suggestions here as well.

[2015-01-21 19:38] thisandagain commented on #240
Alright! We've got a plan:
- New service created at `firehose.webmaker.org` that will provide an individual and grid view for latest makes that are coming in.
    - Admin-only
    - One button to "feature" a make for inclusion in the `/explore` gallery
- `/explore` gallery will only show makes that have been featured sorted by creation date
- @thisandagain to provide a simple design to @cadecairos

[2015-01-21 20:51] secretrobotron commented on #75
Luke's done some really nice work so far on the tile view: http://flukeout.com/examples/desk4/

https://www.youtube.com/watch?v=A4CrNxSvRbs&feature=youtu.be

![screenshot 2015-01-21 15 49 59](https://cloud.githubusercontent.com/assets/403231/5844849/38ebcd2e-a185-11e4-9d63-9f0499f23a58.png)

[2015-01-21 20:55] OpenMatt commented on #245
* I've staged an HTML version of the Mozilla Learning Plan here: https://blog.webmaker.org/2015_plan

[2015-01-21 20:57] OpenMatt commented on #245
* Not sure what to do with it yet -- will update this thread with a proposal tomorrow. In the mean time, wanted to surface an HTML version that we could publish / move / re-purpose a few different ways.

[2015-01-21 21:20] thisandagain commented on #242
@ScottDowne @HPaulJohnson Can you two sync-up?

[2015-01-21 21:22] davidascher commented on #75
fun!

[2015-01-21 21:24] ScottDowne commented on #242
We are, but I was hoping there was something that could be dropped in the ticket vs vidyo?

[2015-01-21 21:28] OpenMatt commented on #228
* @adamlofting: we already had the kick-off meeting yesterday. (Should have invited you -- but forgot that you were back at work! apologies)
* notes from the meeting are here: https://etherpad.mozilla.org/Q1
* pulling drafts together here. I worked on the Learning Networks portion a bit today as a potential template / test model:
https://wiki.mozilla.org/Foundation/2015/Q1#Learning_Networks
* curi

[2015-01-21 21:29] OpenMatt commented on #228
* got some feedback from @hannahkane on it today.
* curious to hear from @thornet @ldecoursy and @davidascher as well.

[2015-01-21 21:31] thisandagain commented on #242
So I think the big question for me is if we can replace / augment our existing transactional email system with something that allows for:
- Easy editing by the marketing & product team
- A/B testing
- Tracking of open and click rates

[Apostle](http://apostle.io/) is one such option that I'd vouch for, but we could also get some of these features out of other tools like [Mandrill](https://mandrill

[2015-01-21 21:31] OpenMatt commented on #228
* once we have one good example on that page, I'll invite others into to help flesh their's out as well.

[2015-01-21 21:33] OpenMatt commented on #225
@jdotpz Bobby and I had some notes here: http://pad.webmaker.org/p/Product_Handbook

did pad.webmaker.org data get wiped?

[2015-01-21 21:35] jdotpz commented on #225
Oh dude, we were not supposed to be storing things there while we were in demo/install/test mode.  Yes, it got mega wiped, and is bound to do so again.  I'm super sorry, and there's not a thing I can do to restore it, because it was in dirtydb mode.  :/
Sorry!!!
![wiped](https://cloud.githubusercontent.com/assets/1373628/5845616/150e36dc-a183-11e4-9aee-7930dcb975ed.gif)

[2015-01-21 21:41] OpenMatt commented on #225
np! my bad. Sorry Bobby. but there was nothing in there that was mission critical. We can just carry on.