[2015-02-17 17:01] OpenMatt opened #348 "MWC messaging: make sure we're on the same page"
Make sure the various stakeholders understand the key messages, have a shared set of talking points and CTAs, etc.

Driver: @thornet
Decision-maker:
Consulted:

[2015-02-17 17:02] OpenMatt commented on #348
cc @thornet @davidascher @benrito

[2015-02-17 17:03] OpenMatt commented on #348
my understanding is that @thornet and @benrito still have some work to do to get on same page here

[2015-02-17 17:04] #343 closed

[2015-02-17 17:09] OpenMatt commented on #340
@edrushka can you say more about why this one is a P1? It feels kinda housekeeping-ish

[2015-02-17 17:11] hannahkane commented on #280
I'm tempted to close this ticket, as this issue will come up again when we're building out Clubs functionality later in the roadmap. Is that alright with everyone, or do we need a band-aid fix in the meantime, @LucyeoH ?

[2015-02-17 17:13] xmatthewx commented on #267
Summary of concepts:
 - **Writable web**: navigate to any unused page, domain, textarea and use an intuitive GUI to create new content
 - **Version control**: bring visual version control and collaboration to any site
 - **Find, make, share**: collect text and images, add your mark, and share as you please
 - **Visual dev tools**: an intuitive view of the code behind web pages. tools for collectin

[2015-02-17 17:20] thisandagain commented on #267
Awesome. Thanks @xmatthewx . Tracking next steps here: #335

[2015-02-17 17:20] #267 closed

[2015-02-17 17:27] hannahkane commented on #339
Can we talk about this during TPS? I have no idea who should drive this, or whether there are urgent needs. This has come up in two meetings I've been a part of recently - Claw mentioned it during the UK expansion debrief, and @davidascher and I talked about it during a meeting about the teach site. I added the ticket because I heard the need articulated, not because I'm the right person to make d

[2015-02-17 17:29] hannahkane commented on #338
I don't know which will be ready to go, as I haven't had a conversation with @cassiemc about estimating the design work timeline. I was planning to discuss this during the kick-off meeting.

[2015-02-17 17:30] hannahkane commented on #286
I'd vote for removing it from this heartbeat. I'd rather focus limited resources on the teach site.

[2015-02-17 17:31] hannahkane commented on #206
Yup, I can pick this one back up. Thanks for caretaking. :)

[2015-02-17 17:32] hannahkane commented on #294
@LucyeoH - once we merge, should we close this ticket? Is there a new ticket that needs to be filed?

[2015-02-17 17:46] toolness commented on #267
Ok, here's my share-back.

We made an "Image Maker" add-on. The GitHub repository is at [xmatthewx/webmaker-addons](http://github.com/xmatthewx/webmaker-addons), and you can [download the add-on XPI](https://xmatthewx.github.io/webmaker-addons/addon/webmaker-addon.xpi) to play around with it too.

The add-on puts a sidebar in your browser that lets you play with any images you encounter on the web

[2015-02-17 18:02] iamjessklein commented on #81
I added the updated desktop and mobile views and provided a few options for what the published view could look like.  I will need a decision on the direction for that before finalizing the gifs. The photos are all CC images.

[Please drop feedback in redpen](https://redpen.io/p/od396a13bd17f4227e)

![artboard 1](https://cloud.githubusercontent.com/assets/535012/6234008/25f35356-b6a5-11e4-9e33-c30a

[2015-02-17 18:22] #238 closed

[2015-02-17 18:23] chrislarry33 commented on #347
Taking plans to Ops today
You can see documentation here: https://docs.google.com/a/mozillafoundation.org/document/d/1zsYZebqJybuYbl2mEF0m6pNazwpVpJM5C6N90d7ibEw/edit#heading=h.4rwjkws3rk5y

[2015-02-17 18:25] LucyeoH commented on #280
@hannahkane totally fine to leave this, my main goal was just to create a record of these kinds of queries in case they're useful for the new tools team. I also have a spreadsheet where I'm keeping track of them and I can raise them when we're looking to build this stuff out.

[2015-02-17 18:29] OpenMatt commented on #291
Also: is the design work done?

[2015-02-17 18:30] OpenMatt commented on #291
Note also that @iamjessklein has limited availability this Heartbeat, because of design work week

[2015-02-17 18:31] OpenMatt commented on #339
@simonwex and @davidascher had some smart questions / adds on this in Heartbeat Planning meeting. Would be good to capture them here.

[2015-02-17 18:32] adamlofting commented on #345
CCing myself to help with TBD measurement section

[2015-02-17 18:35] cassiemc commented on #206
I'll just take this one and @iamjessklein can do design review (so jess can focus on MWC animations) :)

[2015-02-17 18:35] OpenMatt commented on #286
K. pushing to next Heartbeat.

[2015-02-17 18:35] #247 closed

[2015-02-17 18:42] hannahkane commented on #338
kick-off meeting scheduled for Wednesday at 9:30am PT

[2015-02-17 18:42] hannahkane commented on #285
kick-off meeting scheduled for 9:30am PT on Wednesday

[2015-02-17 18:46] edrushka commented on #191
Yes, just got an update on the weekly standup:
Current data: http://note.io/1L8N8yj
Signatures: 147,000 (10K signatures per day)
100K signature just from the snippet
More details in this pad: https://etherpad.mozilla.org/nnadvocacyfeb2015campaignkickoff

[2015-02-17 18:47] iamjessklein commented on #291
Yes the design work by Adil is done [final design on redpen here](https://redpen.io/xz5ec75b96ae8763a0)

Adil should be involved in the implementation from the design side.

![red-pen-0fd53ed4-2d99-4ac9-f3da-5293fceea22d](https://cloud.githubusercontent.com/assets/535012/6234774/770041f4-b6ab-11e4-93d9-daebf3f6ca41.jpg)

[2015-02-17 18:48] iamjessklein commented on #206
thanks @cassiemc  :+1:

[2015-02-17 18:49] iamjessklein commented on #209
question: is this a plan for a plan or the plan itself @HPaulJohnson ?

[2015-02-17 18:49] edrushka commented on #340
There is a deadline from Ty. MoCo is demo-ing the ops call for All Mozilla on March 11.

This is what Sabrina will be working on this week. Is there another way I should be indicating this other than the P1 tag so that @cassiemc can see what Sabrina is working on?

[2015-02-17 18:49] davidascher commented on #237
LGTM.

[2015-02-17 18:49] #237 closed

[2015-02-17 18:50] iamjessklein commented on #262
whoops @adiladiladil  - I think I looked at the wrong ticket. Yes it looks great to me. The revised icons look perfect. :+1:  :shipit:

![red-pen-0fd53ed4-2d99-4ac9-f3da-5293fceea22d](https://cloud.githubusercontent.com/assets/535012/6234856/ea62a8a8-b6ab-11e4-8673-f5bb62f71691.jpg)

[2015-02-17 18:50] #262 closed

[2015-02-17 18:52] hannahkane commented on #291
@leahatplay will be the acting owner while @ldecoursy is on vacay.

@iamjessklein  - can you clarify what the next steps are?

[2015-02-17 18:52] thisandagain commented on #81
Let's create these using the app itself ... that should make this a little quicker to iterate on and ensure that we are being accurate.

[2015-02-17 18:55] cassiemc commented on #340
@edrushka Ideally we want to link smaller granular tickets like this to larger meta tickets, but since this is a standalone I think we can remove it from p1 and the feb27 milestone. I'm aware it's happening! It's a weird half-week anyway with work week in Toronto next week, so there are a few tasks like this.

[2015-02-17 18:57] HPaulJohnson commented on #209
@iamjessklein v1 of the plan itself

[2015-02-17 18:57] cassiemc commented on #340
Just read my email and sounds like @sabrinang has already completed this.

[2015-02-17 19:04] sabrinang commented on #340
Maker party (2014) has been organized now.

I will wait to hear back from Ty on what to do about outdated assets and also wait to hear about what to do about other foundation assets that I have in our studio mofo dropbox folder.

[2015-02-17 19:07] edrushka commented on #340
This ticket is a good test case for when MoFo is doing a small, granular task for a larger MoCo initiative. Going forward, how these tasks should fit into /plan ?

[2015-02-17 19:12] cassiemc commented on #89
Assigning @sabrinang to help with design here, if you need it @LauraReynal? @thisandagain mentioned you probably would. Will probably need to brief Sabrina on what's needed (aka 'kickoff' meeting) :)

[2015-02-17 19:13] cassiemc commented on #340
@edrushka I wonder if @hannahkane has some insights around this, having gone through it with the teach team quite recently.

[2015-02-17 19:20] davidascher commented on #291
Is this purely a visual refresh, or are there new capabilities specified in
the redpen?

[2015-02-17 19:25] hannahkane commented on #280
Thanks, @LucyeoH. Closing this for now, and will discuss again a little further down the roadmap!

[2015-02-17 19:25] #280 closed

[2015-02-17 19:27] davidascher commented on #340
My suggestion would be to create a repo where the team involved in the
discussions will naturally find the issues and participate.  So maybe a
MoFo-Engagement repo, where @edrushka can organize issues however makes
sense, set deadlines which may or may not connect to heartbeat milestones,
and link up to a high-level planning ticket when it makes sense.

[2015-02-17 19:32] davidascher commented on #191
It's not clear to me what is left to do on this, esp. between now and the current milestone of Feb 27.

[2015-02-17 19:36] edrushka commented on #191
To Do:
1) Link to the Call Congress tool from the petition thank you page.
Status: Design and build are ready. Awaiting @valianttry's signoff to push it live.
2) Respond to emerging requests for graphics, such as: https://bugzilla.mozilla.org/show_bug.cgi?id=1133828
Status: Sabrina can do these quickly but due to the rapidly evolving nature of this campaign, we don't always have warning about when

[2015-02-17 19:50] iamjessklein commented on #291
I believe this is a purely visual refresh. The theme needs to be applied to the wordpress site.

cc/ @toolness

[2015-02-17 21:05] leahatplay commented on #291
@simonwex we'll need a developer assigned to apply theme to wordpress site. @toolness has been doing this work to date

[2015-02-17 22:29] thisandagain commented on #89
Thanks @cassiemc. WIll schedule now.

[2015-02-17 23:00] cassiemc commented on #302
@smithisgeneric Just want to confirm that the 'm' tab is not wanted on these? See https://wiki.mozilla.org/Webmaker/Badges

@iamjessklein Design R? https://redpen.io/xsdc940776d2fb9b56 Note: I updated the colors to match the templates on that wiki page. If the darker grey is needed, easy fix.

[2015-02-17 23:08] smithisgeneric commented on #302
@cassiemc I'm okay without the "m" tab but if it needs to be there for style guide reasons, no problem.

[2015-02-17 23:19] iamjessklein commented on #302
@cassiemc @smithisgeneric great work. It's much more polished. I dropped a few minor notes on the redpen. [As I mentioned in the redpen]( https://redpen.io/xsdc940776d2fb9b56), regarding the "m" - I believe that it should be included as we think of Hive Toronto as a "Team" vs. a "Community Member."

[2015-02-18 00:41] cassiemc commented on #302
@iamjessklein R? https://redpen.io/tre2cf534d72a1a5b7 I added the 'm' tab and matched the grey in the style guide which I hunted down after your comment, so thanks for that!

Does this work for you @smithisgeneric? What's the final format that you need them in?

[2015-02-18 01:16] hannahkane opened #349 "Implement a round of badges improvements"
### Roles
* Phase: Scoping
* Owner: @hannahkane
* Decision-Maker: ?
* Design Lead:
* Dev Lead:
* Quality: @davidascher

This needs to be spec'ed in more detail in child tickets, but this project will likely include design and build stories for each of the following:
 - [ ] Clearly present our badge offerings and highlight learning pathways
 - [ ] Improve user experience for badge earners
 - [ ] Im

[2015-02-18 01:18] hannahkane opened #350 "Allow individuals to connect to Clubs"
### Roles
* Phase: Scoping
* Owner: @hannahkane
* Decision-Maker:
* Design Lead:
* Dev Lead:
* Quality: @davidascher

This needs to be spec'ed in more detail in child tickets, but this project will likely include design and build stories for each of the following:
 - [ ] Clearly present our badge offerings and highlight learning pathways
 - [ ] Allow Club Captains to invite people to join their Cl

[2015-02-18 01:38] thisandagain commented on #53
No progress on this last heartbeat. Moving to backlog.

[2015-02-18 01:39] thisandagain commented on #187
Seeing lots of broken links (404s). Where do you want issues @OpenMatt ?

[2015-02-18 04:08] OpenMatt commented on #187
@thisandagain: I'll fix this up tomorrow. Let me take a pass and update here before making you file bugs.

[2015-02-18 04:29] davidascher commented on #187
And for the record bugs should go in the book.Webmaker.Org repo
On Feb 17, 2015 8:08 PM, "OpenMatt" <notifications@github.com> wrote:

[2015-02-18 04:38] davidascher commented on #302
The m is supposed to be a marker that it's an official mozilla or
mozilla-team badge, as per
http://emilygoligoski.com/2014/05/07/introducing-mozilla-visual-templates-for-badge-issuers/

IMO any Hive or WebLit badge qualifies for the m marker.

On Tue, Feb 17, 2015 at 4:41 PM, Cassie McDaniel <notifications@github.com>
wrote:

[2015-02-18 11:50] adamlofting commented on #81
#### Metrics spec for the build:
- [ ] Instrumentation for Measurement: (https://github.com/mozilla/webmaker.org/issues/1253)

[2015-02-18 13:56] toolness commented on #291
I'm happy to do the work myself, or show someone else the ropes (it's all vanilla django, and the developer will mostly just be touching the [templating system](https://docs.djangoproject.com/en/1.7/topics/templates/) which is pretty easy to learn).

[2015-02-18 15:21] iamjessklein commented on #302
agreed.
@cassiemc R+ :+1:  :shipit:

These should be exported as png files so @smithisgeneric can drop it into the wordpress site.

[2015-02-18 15:29] smithisgeneric commented on #302
I've gone through the designs and they look good to me @cassiemc and @iamjessklein

As Jess noted, I need the PNG files but I'll also file the EPS or editable files in the Hive Toronto project folder.

[2015-02-18 15:36] cassiemc commented on #302
Just wondering about size. I'll do a basic 500px-ish and @smithisgeneric can resize as needed! Just ping me if you need something else.

Here are the final assets, including .eps vectors: https://www.dropbox.com/sh/epep6cvv2soi5dv/AABnM5MeRC6G51blZjBxx1PKa?dl=0

![hive-toronto-privacy-badges-coach](https://cloud.githubusercontent.com/assets/1186326/6250139/edf7648c-b759-11e4-9094-31a4be841a81.png)

[2015-02-18 15:36] #302 closed

[2015-02-18 15:39] cassiemc commented on #206
Design on the 3 badges is done, issue #302. Updated the checkbox in the description.

[2015-02-18 17:15] secretrobotron commented on #81
- Design for desktop by @iamjessklein by tomorrow
  - hand off flat png, svg, and fonts (if required)
- Send text from desktop install page to phone for mobile install
  - Is there a spam or rate limit feature as a part of Twilio API?
- Just need to update and sanity check the demo script at the end of sprint
- Get final copy from @HPaulJohnson
- Don't need to build anything for iOS (or BlackBerry

[2015-02-18 17:18] simonwex commented on #335
Kickoff meeting is happening today, **today**; **TODAY**! 10:30 PDT in my vidyo. I'll sell you the whole seat, but you'll only need the edge!

Agenda here: https://etherpad.mozilla.org/thispadwillselfdestruct :truck: :arrow_right: :rocket: :arrow_right: :guitar:

[2015-02-18 17:56] secretrobotron commented on #81
Building a set of tickets for us here: https://github.com/mozilla/webmaker.org/milestones/MWC%20Install%20Page

[2015-02-18 18:17] HPaulJohnson commented on #81
Here's the final copy @edrushka, Kevin and I settled on:

Become a Maker
Webmaker takes the best part of the web — creating — and strips away the complexity.

Build the Perfect App
Create exactly what you need: A website for your business, a chat app for your friends, a lesson plan for your students.

Share It with the World
Webmaker creations are meant to be seen, heard and used. Share your proje

[2015-02-18 18:17] secretrobotron commented on #81
Thanks @HPaulJohnson !

[2015-02-18 19:10] secretrobotron commented on #241
Need to make sure everything is on prod today. Then, I will close.

[2015-02-18 19:18] hannahkane commented on #285
Updated description to reflect the pieces we committed to for this heartbeat.

[2015-02-18 19:40] #132 closed

[2015-02-18 20:00] hannahkane commented on #338
Updated description to reflect outcome of kick-off meeting which is that the "build" part of this heartbeat will focus on prototyping the technical solutions for allowing staff to maintain the site. @simonwex and @jbuck to add more specific tickets to capture that work.

[2015-02-18 20:12] thisandagain commented on #89
Tracking tasks here: https://github.com/MozillaFoundation/research/milestones/India%20Report

[2015-02-18 20:18] secretrobotron commented on #241
Prod'd!

[2015-02-18 20:18] #241 closed

[2015-02-18 21:02] secretrobotron commented on #294
@alicoding can you r? btw, why is all the indenting wonky? https://github.com/mozilla/webmaker-curriculum/pull/147/files#diff-e231fa28333552bdac8ce6c0879571d9R40

[2015-02-18 21:15] alicoding commented on #294
@secretrobotron looks good to me. The indentation I think it's just Transifex can't keep it the way we have it originally? tbh I'm not sure about that part, but I could just try to see when we download them.

[2015-02-18 21:22] secretrobotron commented on #294
Cool!
- @LucyeoH merge it! :boom:
- @alicoding yeah, can you check that? Also, I don't think there's a way for people to find translated pages (nothing automatically switches to the right locale). Can we support that somehow?
- @hannahkane depending on @alicoding's answer, maybe file a follow-up ticket to add that automatic locale switching?

[2015-02-18 21:27] alicoding commented on #294
@secretrobotron We could use something similar to this? https://github.com/mozilla/webmaker-language-picker but we could hardcode everything to be the URL for pages we supported.

[2015-02-18 21:30] secretrobotron commented on #294
@alicoding maybe there should just be a list of languages then. Might be easiest to hold the list on http://mozilla.github.io/webmaker-curriculum/ rather than individual pages (because there're no templates here).

[2015-02-18 21:37] alicoding commented on #294
As long as we can maintain the list and making sure we do update them plus match to the browser's language preference then this wouldn't be hard. The only thing I'm a bit unclear here is the person who is going to maintain this part needs to know about locale and how to update them without breaking things @secretrobotron

[2015-02-18 22:27] thisandagain commented on #87
Will rescope

[2015-02-18 22:27] #87 closed

[2015-02-18 23:01] secretrobotron commented on #294
Me too. Good call. I'm hoping @LucyeoH @thornet or @hannahkane has an opinion about that.

[2015-02-18 23:03] hannahkane commented on #294
I don't think I understand.  :( @secretrobotron, are you suggesting we add hard-coded links to translated versions on that Curriculum page? If so, I'm not sure what it means to update without breaking - or rather, I'm not sure what the breaking risk is.

[2015-02-18 23:20] alicoding commented on #294
No, I'm suggesting the other way around. Like have list of locales something like this

[code]

The risk here is just if you are doing some syntax error which could cause a problem or if you added a locale that is not valid like typo and such which would also cause 404. This setup is different than our current infrastructure on Webmaker.org and that's the only thing that worried me.

[2015-02-18 23:23] hannahkane commented on #294
Thanks, @alicoding . Do you or @LucyeoH have any sense of how often we'll be adding new locales? If it's not that often, maybe this isn't a huge risk.

[2015-02-19 00:55] iamjessklein commented on #206
R+ :+1: :shipit:

[2015-02-19 01:27] simonwex commented on #335
Based on our kickoff this morning:
* [ ] @toolness is going to focus the prototype ( https://github.com/xmatthewx/webmaker-addons/issues/53 )
* [ ] @toolness is going to try to slide-ify the prototype with @flukeout 's help ( https://github.com/xmatthewx/webmaker-addons/issues/55 )
* [ ] @xmatthewx is going to explore the concept of pairing multiple Firefox devices for a better experience ( https:

[2015-02-19 02:01] HPaulJohnson commented on #335
@xmatthewx and i met today to follow-up on this morning's meeting and decide on specific use cases to finalize for Monday's brand presentation:

- Atul's image save, edit, share concept
- Collaboration concept that illustrates how groups could build pages together
- Paired browser concept showing additional features from common/popular sites appearing on mobile device (ex. YouTube controls on mobi

[2015-02-19 02:15] simonwex opened #351 "Standardize and Implement Automated Testing"
### Audience
MoFo Engineers

### Success

MoFo Engineers understand standards and best practices for automated testing across all of our priority projects. This includes server-side, client-side unit and integration testing. All of our priority projects have a basic set of tests that can easily be added to.

* [x] Compile list of projects (with repos) that require test coverage
* [x] Choose and im

[2015-02-19 02:16] HPaulJohnson opened #352 "Remove Privacy Day content from home page"
Official privacy campaign day campaign has ended.

### Audience
Visitors to webmaker.org

### Success
We did not a/b test with and without privacy so we have no benchmarks of whether this helped/hurt homepage conversion. We may reused privacy assets in the future and at that time we would set this up as an a/b to evaluate.

### Vision
Current version of homepage without eyeball and vertical panel

[2015-02-19 03:27] vsskanand opened #353 "Mozillians Community"
A mini social network for mozillians.

### Audience
Firefox student ambassadors, webmakers, SUMO.....every one who is associated with mozilla.

### Success
A personal profile ( just like mozillians.org ) where they can create events, push notifications, assign job to FSAs ( by REPs ), Stats of the work done  (like events managed, organised), badges earned,  Report of the contribution done.

### Vi

[2015-02-19 14:29] secretrobotron commented on #353
Whoa, thanks @vsskanand ! This sounds like a giant project, warranting lots of services and designers, engineers, and coordinators to build them. However, your idea also sounds like it's an amalgamation of disparate tools and services that already exist inside Mozilla. e.g. Reformatted a bit, this idea might be well suited as an extension to the mozillians.org project. I have a few questions for y

[2015-02-19 14:33] secretrobotron commented on #352
@simonwex think we can accomplish this task in this heartbeat? Or wait until next?

Since we're just reverting back to what was there before privacy day campaign, we
- Don't require any new design,
- Don't need new copy, and
- Don't need new engineering

The only thing we should do is a bit of QA.

I don't mind driving.

[2015-02-19 15:29] cadecairos commented on #81
@secretrobotron Does this page need to have support for localization?

[2015-02-19 15:30] secretrobotron commented on #81
Ideally, yes.

[2015-02-19 15:31] cadecairos commented on #81
okay, we will take that into consideration when deciding where & how  to build it

[2015-02-19 17:52] hannahkane commented on #338
These are the heartbeat deliverables, as per today's stand-up:
 - [ ] Create home page based on Cassie's designs
 - [ ] Implement at least two proposals as prototypes for content-editing the home page by members of the Mentor Networks team
 - [ ] Evaluate ease of use for prototypes with Hannah, Michelle, Lainie

[2015-02-19 17:55] hannahkane commented on #291
Process question for @simonwex: for P2s, do we have to wait to assign developers until we know we have time for it during the heartbeat? @toolness - are you currently assigned to a P1?

[2015-02-19 18:00] ScottDowne commented on #206
I'm close to being able to make badges on staging.

I see the images are complete.

We need to get the images hosted somewhere, probably S3.

I also need to know other bits of meta data for each new badge, which would be nice in all one place.

Name:
Image URL:
Issuer URL:
Short description:
Long description:
Tags:
Criteria:

Criteria should be a list of steps. Can have multiple lists. The list ca

[2015-02-19 18:08] hannahkane commented on #206
Thanks, @ScottDowne. How do we get images onto S3? I don't know the process for that.

@smithisgeneric, can you provide the requested metadata?

[2015-02-19 18:09] ScottDowne commented on #206
@hannahkane I don't know off hand. I'll either need to bug jbuck or someone else to help me, or we need to just get someone else that knows how to just do it for us.

[2015-02-19 18:15] alicoding opened #354 "Image localization"
Image localization solution throughout Webmaker.org and its tools.

### Audience
Anyone who doesn't speak English.

### Success
Images with localized strings for each locale we support which will help bring the message from the image that we are trying to convey to the users.

### Vision
Solution to image localization which heavily rely on design assets.

### Roles
 * Phase:
 * Driver:
 * Decision

[2015-02-19 18:20] alicoding commented on #354
I would love to discuss with @cassiemc and @iamjessklein sometime next week when you guys have some time.

[2015-02-19 18:45] ScottDowne commented on #206
So uploading the images won't be an issue and I'm ready to do that now.

I am concerned about the size and want to make sure @smithisgeneric has had a look at the images and is fine with the size of them: https://cloud.githubusercontent.com/assets/1186326/6250139/edf7648c-b759-11e4-9094-31a4be841a81.png

Compared to another badge: https://stuff.webmaker.org/badges/webmaker-mentor.png

I kinda feel

[2015-02-19 18:56] cassiemc commented on #206
I can make them the same size now that I have the dimensions.

[2015-02-19 18:59] cassiemc commented on #206
@ScottDowne do you think we should be using svg for these? would make them crisp at any size!

[2015-02-19 18:59] ScottDowne commented on #206
@cassiemc works for me!

[2015-02-19 19:01] cassiemc commented on #206
@ScottDowne ok great. SVG assets are here: https://www.dropbox.com/sh/epep6cvv2soi5dv/AABnM5MeRC6G51blZjBxx1PKa?dl=0

[2015-02-19 19:05] hannahkane commented on #206
In an earlier meeting @smithisgeneric ok'd the multi-use codes, so I think we're good with that option..

[2015-02-19 19:05] ScottDowne commented on #206
So it looks like we have a third option with claim codes. We can ahead of time create a bunch of single use claim code that we can give out. I think that would be better than the single use claim code.

[2015-02-19 19:08] hannahkane commented on #206
@smithisgeneric - you're the decision-maker on this, so I'll leave this up to you.

Needed:
 - [ ] decision about whether to use single-use, single-use w/ pre-generated codes, or multi-use claim codes.
 - [ ] Meta data detailed in comment above

[2015-02-19 19:12] OpenMatt commented on #347
cc @amirad @thornet please add others

[2015-02-19 19:28] OpenMatt commented on #345
@thornet what's the next step on this? Can you have something documented in time for next Ops meeting Feb 24?

[2015-02-19 19:29] OpenMatt commented on #345
and: are we still thinking the core strategy is: "follow the heat" we already have in India & Bangladesh. Plus: weighing Brazil / Kenya?

[2015-02-19 19:35] benrito commented on #345
It's more multivariate. Some thinking has been done already:

https://etherpad.mozilla.org/global

We will develop a simple criteria chart.

Brazil is already in; we have staff there.

India, Bangladesh and Kenya are the GSMA countries and would score high on our criteria.

[2015-02-19 19:38] xmatthewx commented on #335
@HPaulJohnson - it would be helpful to have some guidance on the market, the sweet spot between niche differentiation and worthwhile user base. Is our scale Adobe or Instagram? If it's in between, what's a good benchmark?

[2015-02-19 19:38] edrushka commented on #348
CC @kevzawacki

[2015-02-19 19:44] LucyeoH commented on #294
Well this was just a trial but the plan is to use this method to translate all the webmaker curriculum activities and we're thinking 5-10 in Q1.

[2015-02-19 19:55] KevZawacki opened #355 "Test project"
Learning GitHub

### Audience
Me, Erika

### Success
Learning GitHub

### Vision
Learning GitHub

### Measurement
Learning GitHub

### Roles
 * Phase:
 * Driver: @edrushka
 * Decision Maker: @edrushka
 * Design Lead: @kevzawacki
 * Development Lead:
 * Quality Verifier:

[2015-02-19 19:56] hannahkane commented on #294
Is that 5-10 curriculum activities? I was actually asking about how often new locales are added.

My instinct is that if the risk is typo-caused 404s that could be fixed after the fact, that's not a huge risk. Would we know when something 404'd, or would we be relying on people reporting them?

I'm designated as the decision-maker on this ticket, but I'm afraid I don't have enough background infor

[2015-02-19 20:02] smithisgeneric commented on #206
* Multi-use codes meet the need

I will get to the meta data asap (Hive Toronto has an event on, starting shortly)

[2015-02-19 20:10] alicoding commented on #294
@hannahkane as long as we do have review process of every activity that related with localization then I wouldn't worry about 404s at all.

[2015-02-19 20:11] hannahkane commented on #294
OK, sounds like a plan then. Should we close this ticket and open a new one for expanding this beyond the test?

[2015-02-19 20:14] alicoding commented on #294
I would say this ticket is done as far as testing the process.

[2015-02-19 20:19] thisandagain opened #356 "asdf"
asdf

### Audience
asdf

### Success
asdf

### Vision
asdf

### Measurement
asdf

### Roles
 * Phase:
 * Driver:
 * Decision Maker: @thisandagain
 * Design Lead:
 * Development Lead:
 * Quality Verifier:

[2015-02-19 20:19] #356 closed

[2015-02-19 20:19] #355 closed

[2015-02-19 20:19] edrushka commented on #355
Ah, I see! @KevZawacki Tickets filed with the build.webmaker.org page go into the plan repo, not the webmaker repo. That's why we couldn't find it.

[2015-02-19 21:28] hannahkane commented on #294
Cool. Closing now, and will open a new ticket when we're ready for more localizations.

[2015-02-19 21:28] #294 closed

[2015-02-19 23:00] iamjessklein commented on #354
:+1:  yes! let's do it. :camera:

[2015-02-19 23:09] hannahkane commented on #285
Daily progress check: Progress was made on both of this heartbeat's tickets today. See MozillaFoundation/Mozilla-Learning#36 and MozillaFoundation/Mozilla-Learning#6 for more.

[2015-02-19 23:30] HPaulJohnson commented on #335
@xmatthewx not sure I have the perfect answer.

I think of it as bigger than Adobe, if by Adobe you mean a tool like photoshop that is primarily aimed at professional/designers. That feels more like the Developer's Edition and this should serve a bigger market than that, something more like an audience of anyone who has ever (wanted to) edit/shar/repurpos an image.

At the same time benchmarking a

[2015-02-19 23:55] simonwex commented on #352
@secretrobotron let's touch base after demos tomorrow. I'll see who might have some spare cycles, but it seems reasonable to get it done in an afternoon.

[2015-02-20 01:21] secretrobotron commented on #352
That's what I thought.

Sounds good. :family:

[2015-02-20 13:29] smithisgeneric commented on #206
@ScottDowne @hannahkane

I have listed metadata here and noted questions via the comments:
https://docs.google.com/document/d/1SYumJMeGZ4oX8bDGVH4TkPbj9buYxJasYO-kwW5UZ8E/edit#

This would benefit from review from someone familiar with the typical look + feel of metadata

[2015-02-20 14:54] ScottDowne commented on #206
https://github.com/mozilla/webmaker.org/pull/1280 is the patch for the changes to the claim code

[2015-02-20 17:00] xmatthewx commented on #335
Thanks @HPaulJohnson. It's helpful to pin this down in writing. Maybe a next step is to articulate 2 or 3 groups within that broad set, and identify a problem we can solve for them. Novelty alone won't get us to a win.

[2015-02-20 19:37] k88hudson opened #357 "Developer experience on webmaker-app"
I'd *love* if we did a developer experience improvement two-week cycle on webmaker-app following MWC if possible, in order to address some of the key pain points we've been collecting from our own developers and some pitfalls in our process. Some examples of what we could focus on:

* Merging cordova and webmaker-app into a single repo
* Killing web-app only deploys
* Improvement of documentation,

[2015-02-20 19:38] k88hudson commented on #357
cc @simonwex @thisandagain

[2015-02-20 19:42] ScottDowne commented on #206
We have badges on staging.

https://webmaker.mofostaging.net/en-US/badges/71b6498a0f7ebbdd401621234ff91dd1
https://webmaker.mofostaging.net/en-US/badges/6b8859a189d9de0a91ef2b163a7cbbcf
https://webmaker.mofostaging.net/en-US/badges/ab953d54e18ee1b49c4cc54de8224a29

Images are not yet uploaded, I'm just linking directly to dropbox... Seems to work well enough for staging.

The claim code related ch

[2015-02-20 19:44] ScottDowne commented on #206
- [ ] Upload images to s3
- [ ] Create badges on production
- [ ] Update production badge url slugs to be words and not an id
- [ ] Create a claim code on production badges

[2015-02-20 19:57] smithisgeneric commented on #206
@ScottDowne I've updated the metadata again with the text to

"Get started with the [X] activity kit" in the long description as per your advice.  The funder's thank you was also put in the long description field.  Updates at https://docs.google.com/document/d/1SYumJMeGZ4oX8bDGVH4TkPbj9buYxJasYO-kwW5UZ8E/edit#

[2015-02-20 20:02] ScottDowne commented on #206
https://stuff.webmaker.org/badges/hive-toronto-privacy-badges-coach.svg
https://stuff.webmaker.org/badges/hive-toronto-privacy-badges-data-trail.svg
https://stuff.webmaker.org/badges/hive-toronto-privacy-badges-ip-tracer.svg

Badges uploaded.

[2015-02-20 21:16] ScottDowne commented on #206
Putting links in badge descriptions is a bit of an issue.

Adding a new field to the badge is also an issue.

I'm trying to find a good solution.

[2015-02-20 21:22] ScottDowne commented on #206
Nvm, all good, markdown works in descriptions.

[2015-02-20 21:54] hannahkane commented on #285
Much progress today, both on the Teaching Materials and Clubs pages, and in terms of crystallizing some outstanding questions: https://etherpad.mozilla.org/teachsitequestions (to be discussed with @thornet and others early next week)

[2015-02-20 22:01] hannahkane commented on #206
Looks like good progress today! thanks, everyone.

A few questions for @ScottDowne :
 - once the claim code-related changes are pushed, will the "What qualifies you to earn this badge?" question go away?
 - should I be seeing the criteria on the badge pages? I don't yet.
 - what's the new field you referenced?

[2015-02-20 22:06] ScottDowne commented on #206
No new field, that was confusion.

There was a request to add a link, and our options included a new field but ended up not needing to go there. It would have been problematic if that was the only option.

[2015-02-20 22:49] secretrobotron opened #358 "Pilot "Open Product Development" Program"
- product development isn't closed, but it's not accessible; hard to contribute design, plans, etc.
- lots of small tasks are time-intensive and desired diversity is unattainable
- we want volunteers who aren't necessarily coders
- projects need key contributors who can commit to time/work

### Audience
- community members: people who want to get involved, but don't know how
- contributors & staff

[2015-02-20 22:49] secretrobotron commented on #358
cc @k88hudson

[2015-02-20 22:51] HPaulJohnson commented on #335
Wanted to confirm the use cases we agreed on this morning that will be used for upcoming presentation:

- @toolness  image save/edit/share concept
- @flukeout   "theme maker" concept
- @xmatthewx search box take-over concept

In addition, for presentation purposes, we can end with a slide that something like "these are just 3 of many concepts being developed" and include a reference/visual to the

[2015-02-20 23:11] xmatthewx commented on #335
Yep. That's correct.

 - You can grab anything useful in [this dropbox folder](https://github.com/MozillaFoundation/plan/issues/335#issuecomment-75334383)
 - Search takeover: [home](https://www.dropbox.com/sh/2d0n1tl78focgz0/AACz72kd-dGqZrHl2s4m2LJGa?dl=0#lh:null-1_maker_b.png) and [everywhere](https://www.dropbox.com/sh/2d0n1tl78focgz0/AACz72kd-dGqZrHl2s4m2LJGa?dl=0#lh:null-1_maker_c.png)
 - Pair

[2015-02-21 01:36] simonwex commented on #335
In addition to the above image assets for slides, @toolness' great video is available here:

https://toolness-fun.s3.amazonaws.com/one-minute-image-maker-demo.mp4

[2015-02-23 16:27] jgmac1106 commented on #358
Here is my general thinking

I am new <2 yrs as a volunteer contributor to Mozilla and most of my work as been on the webmaker side of things but I am more cautious when it comes to the issues/tickets or even commenting on Git.

I feel like it would be like some random weirdo sticking their head in my office while I try to work and saying, "You should do it this way."

The other issue is that whil

[2015-02-23 16:37] edrushka commented on #340
@sabrinang did you hear back from Ty? Can we close this?

[2015-02-23 16:49] edrushka commented on #234
Update: The build should be finished mid-week. We're waiting on:
1) the video (ready ~Feb 25)
2) partner logos [#1175] (https://github.com/mozilla/webmaker.org/issues/1175)
3) a few more PDFs: Webmaker Mobile Partnership [#1283] (https://github.com/mozilla/webmaker.org/issues/1283); the India research report; the final, comprehensive research report.
- a bit of L10N work still happening [#1205] (h

[2015-02-23 17:01] secretrobotron commented on #358
I agree with the "random weirdo sticking their head in" analogy. But, what I'd like to do is develop the opportunity for those people to becomes less random (and hopefully less weirdo), and devote some amount of effort & time where results are expected from bother parties. My goal is to build some higher-bandwidth, higher-commitment relationships with volunteers. I think that might help the privat

[2015-02-23 17:34] cecilepompei opened #359 "Im learning github"
I'm making a garden because i need more fresh vegetables (And because in obviously learning)

### Audience
xxx

### Success
xx

### Vision
xx

### Measurement
xx

### Roles
 * Phase:
 * Driver: @edrushka
 * Decision Maker: @edrushka
 * Design Lead:
 * Development Lead:
 * Quality Verifier:

[2015-02-23 17:36] edrushka commented on #359
@cecilepompei this looks great. We should add some sub tickets in the Engagement repo

[2015-02-23 17:41] jgmac1106 commented on #358
No. Everyone has been very open and welcoming on git. I lurk on many of the
etherpads/git forums. I am more cautious because I have a loud mouth and
don't want to intrude. For most  of you this your 9-5. For me this what I
do when I am avoiding my 9-5.

Agree on building higher bandwidth with volunteers but I see most
volunteers communicating on pre-existing social media channels rather than
forma

[2015-02-23 17:50] #359 closed

[2015-02-23 18:18] thornet commented on #293
Update: Ops and Mozfest now leaning towards Nov 6 - 8 due because it reduces costs and we'll have full access to Ravensbourne.

Also previewing a program architecture of Lead, Teach, Make. Meaning the first day will be dedicated to our core, leading community (fellows, regional coordinators, facilitators).

[2015-02-23 19:08] smithisgeneric commented on #206
Just flagging for @hannahkane @ScottDowne that I will have poor availability on Wednesday, Thursday and part of Friday this week (Feb. 25-27th) to respond to GitHub issues and new comments here.  I am traveling and attending a conference to present on the privacy badges project.

[2015-02-23 19:22] hannahkane commented on #291
So, @toolness, as per our recent chat, you're available to work on this now? That would be rad.

[2015-02-23 19:27] toolness commented on #291
I think so... I think this week I will be helping with this ticket and helping jbuck with https://github.com/MozillaFoundation/Mozilla-Learning/issues/75. Leah is pinging the designer now to get the assets to me so I can start implementation.

[2015-02-23 19:46] ScottDowne commented on #206
All this is blocked on is making a few changes to the prod badges and landing one patch.

Both of these need help from @k88hudson

For now I've moved onto p2s.

[2015-02-23 20:01] k88hudson commented on #206
@thecount is there a list of bugs related to this?

[2015-02-23 20:27] k88hudson commented on #206
@ScottDowne all of these maybe? https://github.com/mozilla/webmaker.org/issues?q=is%3Aopen+is%3Aissue+label%3Abadges

[2015-02-23 20:27] ScottDowne commented on #206
Just this: https://github.com/mozilla/webmaker.org/pull/1280

Doing the data base changes was never filed.

[2015-02-23 20:27] ScottDowne commented on #206
That's a list, but not one that is blocking this issue.

[2015-02-23 20:28] k88hudson commented on #206
@ScottDowne :+1:

[2015-02-23 22:26] Melechuga commented on #276
Hi all,
Any movement on this? I've asked in the bug as well; we need to start pointing advocacy community members towards this shortly.

Many thanks!

[2015-02-23 22:28] jdotpz commented on #276
Hi Melissa,
I just went over to the bug to ping them there, but saw you just did that!  Once we have that bit setup, I'll setup the DNS records, the Google group, and the SES credentials to get this moving.

[2015-02-23 23:26] davidascher commented on #357
Can we move this to the webmaker-app repo, and get back to this plan (via the `http://build.webmaker.org/add` flow) later?

[2015-02-23 23:27] davidascher commented on #358
When you say contract, what do you mean?

[2015-02-23 23:40] secretrobotron commented on #358
Some specification of the task(s)/project that everyone agrees on. What's involved, who's accountable. Somewhere between (but not including) very fancy bug and loose job contract.
i.e.
bug < this kind of contract < legally-binding contract

[2015-02-24 00:45] davidascher commented on #358
Ok.  Wanted to make sure we weren't talking about adding money to the mix.

It'd be good to understand why a bug isn't useable for this, given that it
has a lot of cultural currency, and we've been known to successfully
stretch bugs to include a lot of things that aren't code at all.

[2015-02-24 01:08] jgmac1106 commented on #339
As a volunteer mentor who uses and evangiliczes the tools this is important. I am excited for the future of Learming and how the webmaker tools will evolve. How they will be deprecated has weighed on my mind. I hope you will be transparent and explicit with a timeline.

Having tools get sunsetted is nothing new in edtech. Happens to educators all too frequently. Most people understand this is the

[2015-02-24 01:19] davidascher commented on #346
Good to know, @jdotpz.  I'm surprised, I assumed that BSD managed unsubscribes based on bounce detection.  I expect @valianttry, @edrushka and @simonwex need to see this to inform the CRM plans.

[2015-02-24 01:21] davidascher commented on #341
Changed the description to show @edrushka some of the power features of markdown in github ;-)

[2015-02-24 02:55] jbuck commented on #346
Specifically, this is sawmill, not BSD, for our transactional email

[2015-02-24 16:37] edrushka commented on #341
Ohhh! Checkboxes! Bulleted lists! ;)

[2015-02-24 18:34] toolness commented on #291
Hey, just so it's documented here, I talked to hannah on IRC and my priority this heartbeat is  https://github.com/MozillaFoundation/Mozilla-Learning/issues/75 and related issues.

I also wanted to note that the new directory "theme" is actually not *strictly speaking* a theme, i.e. it won't merely require changes to CSS/HTML/template files. It will also require some changes to underlying database

[2015-02-24 18:48] davidascher commented on #291
Turning each of these into an issue on the right repo would be good.

[2015-02-24 18:58] k88hudson opened #360 "Find bengali localization contact"
For Webmaker app, we need to either hire a contractor, find a high-quality translation service, or find a volunteer who is willing/able to do localization and localization review. Requirements are:

* native bengali speaker, familiar with modern terminology in apps/on the web
* able to do reviews/translation with relatively quick turn-around (< 1 week)
* access to an Android or FirefoxOS device

T

[2015-02-24 19:10] k88hudson opened #361 "Work on localization and localization QA process"
Some points to discuss:

### Project Planning
* How do we determine which languages should be shipped to prod/which languages should be prioritized?
* When should we not do localization (e.g. targeted campaigns)? When should we *not* upload to Transifex? (e.g. prototypes)
* When should string freeze happen?
* How do we deal with strings that get added after string freeze (this inevitably happens s

[2015-02-24 20:13] ldecoursy commented on #291
Quick update that @adiladiladil has sent the final design assets to @toolness @leahatplay and I.

Think @chrislarry33 had a few thoughts about this - will connect the dots then work to get the issues above into the Learning Networks repo.

[2015-02-24 22:53] chrislarry33 commented on #347
@hannahkane @ldecoursy @HPaulJohnson @edrushka @LucyeoH

[2015-02-24 22:54] chrislarry33 commented on #261
Is there an update here, sorry out of the loop

[2015-02-24 23:52] hannahkane commented on #338
Commenting to demonstrate life. Stuff is happening. See https://github.com/MozillaFoundation/Mozilla-Learning/issues/75

[2015-02-24 23:53] hannahkane commented on #285
A bit on hold, given design work week.

[2015-02-24 23:55] hannahkane commented on #206
Hey @ScottDowne and @k88hudson — any movement on this today? Do I need to file a ticket for database changes?

[2015-02-25 00:55] ScottDowne commented on #206
@hannahkane yes, the prod badges exist but don't have a pretty url and are hidden under a not so pretty url.

As of last night I have what I need to make the changes to the urls.

I am landing the patch to handle the claim code tomorrow.

Today I was trying something for a better way to update the urls. While it'll be useful going forward, I discovered already existing badges still need to have th

[2015-02-25 01:00] ScottDowne commented on #206
I think the summary is it should be all said and done tomorrow.

[2015-02-25 01:04] k88hudson commented on #206
:+1: nice work @ScottDowne
:cat2: :cat2: :cat2: :cat2: :cat2:

[2015-02-25 02:28] chrislarry33 commented on #285
understandable

[2015-02-25 16:56] cassiemc commented on #84
Just documenting our to-do list from this morning.

## Tiles
- [ ] mobile authoring
- [ ] zoomed tile UI
- [ ] Start
- [ ] edit
- [ ] published view
- [ ] navigate
- [ ] share/collaborate
- [ ] webby qualities
- [ ] learning aspects
- [ ] user test script (what would you make; for who)

## Timeline
- [ ] figure out content types
- [ ] UI of pathing / forks
- [ ] start
- [ ] edit
- [ ] published vi

[2015-02-25 18:13] ScottDowne commented on #206
https://webmaker.org/en-US/badges/privacy-coach
https://webmaker.org/en-US/badges/ip-address-tracer
https://webmaker.org/en-US/badges/data-trail-timeline

Ping me for the claim codes.

The claim code patch is blocked on some other stuff that's being sorted out now.

Claim codes still work if you go into the apply button in those pages.

[2015-02-25 18:57] k88hudson commented on #206
:dancer: awesome!

[2015-02-25 19:24] smithisgeneric commented on #206
What's the situation on listing criteria under Badge Requirements?  It seems the criteria should appear, or the heading Badge Requirements should be hidden @ScottDowne and cc: @hannahkane

"1) Privacy literacy

You considered privacy as a component of web literacy or digital media literacy more broadly.

2) Production-centered learning

You completed the learning activities in the teaching kit whi

[2015-02-25 19:47] ScottDowne commented on #206
Criteria is attached to the concept of applying.

Listing criteria and not letting people apply for the badge doesn't seem fair to me.

So I decided to hide it for badges like this.

I know we talked briefly about putting criteria in the learning kit instead.

[2015-02-25 20:07] ScottDowne commented on #206
Err, to clarify that last comment a bit.

The hiding bit is still waiting on webmaker.org being built before it's on production.

I'm experimenting with hiding the apply button and keeping the criteria as a list, so we can do that if we want.

[2015-02-25 22:09] LucyeoH opened #362 "badges.webmaker.org goes to dead badges"
http://badges.webmaker.org/ currently goes to a page of old badges that you can no longer apply for. We should redirect this page to blog.webmaker.org/badges even it it's just a temporary measure until we get a proper badges welcome page set-up. We've had a few emails from confused people.

cc. @hannahkane

[2015-02-26 01:01] hannahkane commented on #362
Thanks, @LucyeoH. I added this to the webmaker.org repo for triage: https://github.com/mozilla/webmaker.org/issues/1326

[2015-02-26 01:01] #362 closed

[2015-02-26 01:31] hannahkane commented on #206
@ScottDowne - in the model you're experimenting with, would an authenticated user just see the three badge requirements + the "Have a claim code?" field + a Submit button? And, if that's the case, what would an unauth'ed user see?

[2015-02-26 02:14] cassiemc commented on #84
Documented some progress in my blog: http://www.cassiemcdaniel.com/blog/prototyping-a-new-webmaker-tool/ (More images and better prototype sketches to come later)

[2015-02-26 06:04] davidascher commented on #351
FYI: https://github.com/facebookarchive/huxley

[2015-02-26 13:17] ScottDowne commented on #206
Yes, while logged in you see a "have a claim code" and the requirements, while not logged in, you see a "login to claim" instead, clicking it, prompts login.

[2015-02-26 16:45] ScottDowne commented on #206
Should be all done.

https://webmaker.org/en-US/badges/privacy-coach
https://webmaker.org/en-US/badges/ip-address-tracer
https://webmaker.org/en-US/badges/data-trail-timeline

Me and @smithisgeneric have the claim codes.

The model I was experimenting with ended up being the one to use which is live now.

[2015-02-26 18:00] hannahkane commented on #206
awsm. Thanks, @ScottDowne. Seems like all that's left is building the landing page (https://github.com/MozillaFoundation/Mozilla-Learning/issues/12). @smithisgeneric - do you need any add'l support on that one?

[2015-02-26 18:11] smithisgeneric commented on #206
@ScottDowne @hannahkane I'm running through the Webmaker pages now (...waiting for Scott to resend the claims codes). The second bullet point for each criteria, for each of the 3 badges, doesn't make sense because there isn't a field/box to enter a response.  See an example in the screenshot.

![criteriagithub](https://cloud.githubusercontent.com/assets/6931814/6398281/8d682786-bdb8-11e4-829d-c874

[2015-02-26 18:25] ScottDowne commented on #206
Done

[2015-02-26 21:26] ldecoursy commented on #211
Closing as this is being rolled up into other Learning Networks team organizing conversations.

[2015-02-26 21:26] #211 closed

[2015-02-26 21:54] adamlofting commented on #290
@OpenMatt here are our numbers:

https://docs.google.com/a/mozillafoundation.org/spreadsheets/d/1d4qnRlqhIPM-rnk8oOQZTQETpyqfVFVHqCvo_tEE7IM/edit#gid=0

For the `Teaching` > `Teach the web (webmaker)` route, we see about 100 inquiries per month, but lowish click-through-rate in reply to the auto-responder emails.

It would be interesting to know if we follow up with these inquiries personally? At

[2015-02-26 21:55] adamlofting commented on #290
Shall we close this 'get the data' ticket, and then meet to talk about / plan future iterations on this user journey?

[2015-02-26 22:26] edrushka commented on #340
I'm going to close this for now. Can re-open if MoCo has more requests.

[2015-02-26 22:26] #340 closed

[2015-02-26 22:38] edrushka commented on #191
Update: The FCC voted in our favour today. A joint MoFo-MoCo team put the victory plan into action, which included:
a blog on the Mozilla blog: https://blog.mozilla.org/blog/2015/02/26/a-major-victory-for-the-open-web-2/
a video by Mitchell: http://youtu.be/I-UPyuW5j9o
tons of outreach on social channels and via email: https://foundation.etherpad.mozilla.org/NN-victory-social
and more...

More tha

[2015-02-26 22:38] #191 closed

[2015-02-26 22:42] ldecoursy commented on #258
Hi @LauraReynal Please see here for request for the final file for l10n https://github.com/MozillaFoundation/Mozilla-Learning/issues/95

It was filed in the Mozilla-Learning repo, however I thought it might be better in webmaker.org repo. Let me know if there's a better place to track that. Thanks!

[2015-02-26 22:52] hannahkane commented on #206
Closing this ticket, as no more work is needed from design or engineering teams. The one outstanding ticket will be closed by @smithisgeneric early next week.

[2015-02-26 22:52] #206 closed

[2015-02-26 22:59] DaveSteer commented on #276
Hi all -

Just checking in on this. We'd like to notify the Fellows candidates who are not progressing, and we want to point them to the Advocacy Discourse instance as a way to stay engaged.

What's the estimate on when this task will be completed? Thanks!

cc @OpenMatt

[2015-02-26 23:04] jdotpz commented on #276
I've pinged that bug a few times and hit folks up on irc.  I'll do so again.  The estimate is a few hours after we can get the MX DNS records sorted, but the bit there is our bottleneck.

[2015-02-26 23:12] hannahkane commented on #291
Pausing this (i.e. removing from milestone) to allow for creation of a plan to integrate Hive tooling into broader Teach platform.

[2015-02-27 00:21] jdotpz commented on #276
Our friendly-friends at MoCo are working on the DNS for this now.  There's some issues with it (technical issues), will update when I get an update.

[2015-02-27 00:34] edrushka commented on #6
@davidascher can I close this ticket? Sarah and I will map out the site creation bugs if/when that project is a go for 2015.

[2015-02-27 00:34] #6 closed

[2015-02-27 00:35] edrushka commented on #341
Done!
Recommendations for site are here: https://drive.draw.io/#G0B4q3TCz6z_aJd3NManZtYU1kZUE
For schedule experience are here: https://drive.draw.io/#G0B4q3TCz6z_aJN0ZsTV9QSUNTU00

[2015-02-27 00:35] #341 closed

[2015-02-27 00:52] jdotpz commented on #276
We've decided to use the domain mozilla-advocacy.org instead of trying to wrestle DNS specs to allow for CNAME and MX to exist on a subdomain.  We expect that the email address will be setup for use tomorrow in our MX server in MoCo-land, and then we'll be able to pull the trigger here @DaveSteer @flamingspaz

[2015-02-27 03:40] chrislarry33 commented on #291
Agree, pause here.

[2015-02-27 04:11] chrislarry33 commented on #290
@adamlofting Yes let's do that. Matt is on vacation for another week. So we can pick up then.

[2015-02-27 17:40] davidascher commented on #6
Hey you're in charge. Make the tickets work for you!

[2015-02-27 18:44] ldecoursy commented on #212
@thornet @amirad @ldecoursy to connect when Amira's back from MWC to synchronize above with https://teach.etherpad.mozilla.org/mentordev2015

[2015-02-27 19:35] edrushka commented on #6
###### I'm in charge?
#### I'm in charge.
## I'm in charge!
# **I'M IN CHARGE!**

![Take that!] (http://media.giphy.com/media/BGohxabK7BbmU/giphy.gif)

(Could not resist this golden opportunity to practice my markdown.)

[2015-02-27 19:41] flamingspaz commented on #276
We still haven't got email working quite right just yet, but you can head on over to [your instance](http://discourse.mozilla-advocacy.org/) and start getting things set up, and I'll go ahead and set up email (and SSL) as soon as they're available.

Feel free to use our [sandstone theme](https://github.com/Mozilla-cIT/discourse-mozilla-extras/blob/master/public/assets/sandstone.css)/other resource

[2015-02-27 19:47] flamingspaz commented on #276
Probably should have also mentioned that when you've signed up, let me know and I can make you admins :)

[2015-02-27 21:28] amirad commented on #347
Meeting this week with Erika, Lainie, Paul, Lucy, Hannah to further flush out plans. Notes: https://teach.etherpad.mozilla.org/MP2015

Next steps: Myself to draft quick MP 2015 plan and offerings. @HPaulJohnson to draft marketing plan and timeline. Then present updates plans to Ops team week of March 9th for final review.

[2015-02-27 23:15] #348 closed

[2015-02-27 23:16] edrushka commented on #234
Page is live: https://webmaker.org/localweb

[2015-02-27 23:16] #234 closed

[2015-02-28 01:14] thisandagain commented on #258
Hey @ldecoursy we are now tracking smaller research tasks here: https://github.com/mozillafoundation/research/issues

[2015-02-28 06:55] simonwex commented on #86
@thisandagain what is left to be done on this?

[2015-02-28 07:11] simonwex commented on #165
I'm thinking we should leave this as a P2 this HB and escalate it next if we don't get to it.

[2015-02-28 07:12] simonwex commented on #242
Let's chat about this during our TPS on Monday. It's likely going to come down to this or #160.

[2015-02-28 07:47] simonwex opened #363 "Document current systems, draft redesign"
### Success

Current systems are documented including overall systems diagram. A plan is developed for a refactoring of systems.

Here's a tentative checklist for documenting:
* [ ] MakeAPI
* [ ] login.webmaker.org
* [ ] sawmill
* [ ] lumberyard
* [ ] webmaker.org
* [ ] badgekit
* [ ] TogetherJS
* [ ] Basket
* [ ] BSD
* [ ] goggles.webmaker.org
* [ ] thimble.webmaker.org
* [ ] Webmaker App
* [ ] A

[2015-03-01 18:41] thisandagain commented on #86
We are done! Just triaging any remaining bugs if they come in this week.

[2015-03-01 23:15] k88hudson commented on #86
:star2: :star2: :star2: :star2: :star2: :star2:
:dancer: :dancer: :dancer: :dancer: :dancer:

[2015-03-02 02:29] thisandagain commented on #82
:boom: :smile:

![screen shot 2015-03-01 at 6 29 23 pm](https://cloud.githubusercontent.com/assets/747641/6434597/e864cc22-c040-11e4-83c9-3e6ffd12541b.png)

[2015-03-02 02:29] #82 closed

[2015-03-02 02:29] #81 closed

[2015-03-02 08:53] LauraHilliger commented on #212
happy to participate if you like.

[2015-03-02 14:59] ldecoursy opened #364 "Update roadmap for Clubs"
RACI

* Phase: Planning
* Owner: @thornet
* Decision Maker: @chrislarry33 @thornet
* Consulted: @ldecoursy @Saallen @hannahkane @amirad Simona
* Design lead: n/a
* Dev lead: n/a

Updating 2015 roadmap based on Brooklyn workweek, including process for meeting regularly to check on issues, which will all be logged in https://github.com/MozillaFoundation/Mozilla-Learning

[2015-03-02 15:38] thornet commented on #293
Meeting request in progress with @msurman and @Saallen.

@Saallen: would you mind setting up a wiki page with our latest thinking, esp. dates and the Lead, Teach, Make arc? Can link from: https://wiki.mozilla.org/Mozfest

[2015-03-02 15:39] thornet commented on #293
Moving to March 13 Heartbeat since our chat with Mark hasn't happened yet due to MWC.

[2015-03-02 15:42] thornet commented on #345
I'm re-writing this ticket to be about "Determine partner criteria for Learning Networks."

I suggest @benrito @HPaulJohnson @thisandagain will want to do a separate ticket for "Market criteria for Webmaker product" as this will have separate requirements.

[2015-03-02 15:44] thornet commented on #345
Partner criteria for clubs, written and vetted with Learning Network team + @benrito An-Me:

http://mozilla.github.io/webmaker-curriculum/about/#rollout

Partner criteria for broader Learning Network work, inc. case studies, written by @amirad and vetted by team et. al:

https://docs.google.com/a/mozillafoundation.org/document/d/1qukGywwh1zY8eIPa75_AnS8Piu9KUxWGXpgu4N6gGAY/edit

[2015-03-02 15:45] thornet commented on #35
cc @hannahkane: will this be reviewed as part of the teach site launch? Are there more recent tickets to be helping with here?

[2015-03-02 15:59] thornet commented on #160
The BuddyUp pilot by Mozilla SUMO & QA teams may be a support tool worth monitoring for our purposes: https://wiki.mozilla.org/QA/Buddy_Up_Pilot

[2015-03-02 16:02] thornet commented on #92
Is this still a live ticket? If not, propose we close it.

[2015-03-02 16:03] Saallen commented on #293
Hey @thornet
Have the Roadmap page mapped out already but was waiting for a confirmation from all sides on the date for this year.  Will get it all on wiki this week :+1:

[2015-03-02 16:35] thisandagain opened #365 "Prototype Unified Making Experience"
From the Toronto work week we have a good sense of how the prototypes we've been working on will port to mobile, but have quite a bit of prototyping to do to have some confidence before moving into a UI pass. This sprint is to develop simple InVision prototypes for a unified experience across platforms.

#### Deliverables
- Prototype of core making and discovery experience on mobile
- Prototype of

[2015-03-02 16:44] #86 closed

[2015-03-02 16:50] thisandagain commented on #89
Moving to this sprint. Looping in @secretrobotron to help facilitate copy / content review with @LauraReynal and co-ordinate any additional design assets we need.

[2015-03-02 16:53] thisandagain commented on #53
Bringing to the March 13th milestone as per discussions with @simonwex and @davidascher . One requirement not covered here is what's needed from @hannahkane 's POV. Will set-up a kickoff meeting to clarifiy scope.

[2015-03-02 16:59] thisandagain commented on #92
Still a live ticket.

[2015-03-02 17:02] thisandagain commented on #242
Moving #160 to the backlog.

[2015-03-02 17:02] thisandagain commented on #165
Sounds good. Thanks @simonwex

[2015-03-02 17:20] simonwex commented on #53
@thisandagain `dev: TBD x 3 (2 BE + 1 FE)` seems a bit excessive for this HB if this is a re-design effort. I added the "needs-discussion" label :arrow_up:, let's chat during TPS?

[2015-03-02 17:22] k88hudson commented on #53
Can we also add reduce package weight to list of requirements? Right now it's ~255kb

[2015-03-02 17:23] simonwex commented on #335
@HPaulJohnson can you confirm (by closing this issue) that you have everything you need for the rescheduled presentation?

[2015-03-02 17:33] simonwex commented on #53
@k88hudson I'd suggest that's part of the implementation in the next HB. @thisandagain is there a ticket created for that we can add k8's suggestion to?

[2015-03-02 17:39] thisandagain commented on #53
@k88hudson I'll get that together today. Thanks for the suggestion @k88hudson :+1:

[2015-03-02 17:46] hannahkane commented on #35
Not sure if there was a broader intent for this ticket when it was initially created, but I think the immediate needs are covered in the "Teach Like Mozilla" tickets. As other needs arise, we can add more specific tickets.

[2015-03-02 17:46] #35 closed

[2015-03-02 17:51] adamlofting commented on #242
On a related note, this new dashboard shows the number of new users p/day who opt-in to receive email communications (it's ~50% of sign-ups):

* https://metrics.webmaker.org/dashboard/email

I suspect the remainder of the daily emails shown in the stats above relate to things like login emails / reminders etc.

[2015-03-02 18:02] thisandagain commented on #84
Excellent work from the design meet-up. Tracking next steps here: https://github.com/MozillaFoundation/plan/issues/365

[2015-03-02 18:02] #84 closed

[2015-03-02 18:05] thisandagain commented on #339
Producing documentation on this front re: how this relates to Webmaker product this sprint.

[2015-03-02 18:07] simonwex opened #366 "Reduce run costs on AWS and Heroku"
We suspect our monthly AWS and Heroku costs are higher than required. Let's do an inventory of spending across each of our properties and propose (when required) or implement optimizations/reductions.

Solution vectors:
* Instance pre-allocation
* Transitioning to smaller instances
* Sharing of instances across applications
* Reduced-cost storage on Heroku instances (SSD -> normal)

### RACI
Phase

[2015-03-02 18:10] Melechuga commented on #276
Thank you @flamingspaz!! I've signed in (Melechuga) and will work on theme-ing it accordingly. Do let me know when email and such is available, and when we can start pointing people at the site. M

[2015-03-02 18:12] thisandagain commented on #242
I propose this be a P2 for this sprint given the technical debt reduction and parallel login / sign-up work.

[2015-03-02 18:18] secretrobotron commented on #293
Interested. Leaving my mark :).

[2015-03-02 18:19] secretrobotron commented on #347
Interested. Leaving my mark :).

[2015-03-02 18:21] thornet commented on #212
Meeting on Wed. to look at team's roadmap and refining this ticket based on that.

[2015-03-02 18:21] simonwex commented on #299
@HPaulJohnson can we close this?

[2015-03-02 18:30] anmechung commented on #261
This can be closed.  Presentation completed.

[2015-03-02 18:30] ldecoursy commented on #261
Thanks @anmechung - closing!

[2015-03-02 18:30] #261 closed

[2015-03-02 18:31] anmechung commented on #261
FYI - completed Feb 19

[2015-03-02 18:37] Melechuga opened #367 "Update advocacy.mozilla.org website"
Change the content; put up something that could be there for the next 4 weeks (until we announce the Fellows)
- Take down "support net neutrality" stuff
- Put up "we won NN" stuff

### Audience
All visitors to our site.

### Success
Have a different site

### Vision
Working with Erika D to get an exciting site with a few low-level CTAs for visitors.

### Measurement
N/A

### Roles
 * Phase:
 * Dri

[2015-03-02 18:51] Melechuga commented on #367
Already being taken care of!

[2015-03-02 18:51] #367 closed

[2015-03-02 19:26] xmatthewx commented on #335
@HPaulJohnson - just a quick note that one of our concepts aligns well with the plans for v3 of FxOS and with the general effort to foster task continuity between FF on all devices.

Compose a message, craft a post, share a doodle ... with a singular point of entry, people can create as easily as they can consume.

![1_maker_b](https://cloud.githubusercontent.com/assets/53411/6448398/bb575a40-c0e7

[2015-03-02 19:29] flukeout commented on #365
Link to "Themer" prototype screens - http://bit.ly/1vTEwIj

[2015-03-02 19:29] flukeout commented on #335
Link to "Themer" prototype screens - http://bit.ly/1vTEwIj

[2015-03-02 19:32] edrushka commented on #347
Amira, I'm going to label this a P2 so it doesn't get lost in the shuffle this heartbeat.

[2015-03-02 19:34] edrushka commented on #342
@Saallen I'm going to label this P2 so it doesn't get lost in the shuffle this heartbeat. We should also chat about getting one (or maybe 2-3) big MozFest tickets in plan, and moving the more granular work to the MozFest repo. I can help you do that :)

[2015-03-02 19:35] cassiemc commented on #365
Adding @sabrinang here to help with additional UX/UI considerations.

[2015-03-02 19:42] cassiemc commented on #285
Just confirming @vazquez and I are doing UI design for this heartbeat. Also adding @iamjessklein to help support with UX & design reviews.

[2015-03-02 19:45] cassiemc commented on #53
Confirming the design assignments. @thisandagain is going to work on initial IA & Architecture this week, then I will step in next week for UI, supported by @vazquez depending on how the teach stuff plays out this week.

[2015-03-02 19:50] hannahkane commented on #285
Awesome. Sent an invite for a kick-off meeting tomorrow at 1pm ET.

[2015-03-02 20:05] secretrobotron commented on #89
- Need a flow chart from @thisandagain
- Turn this on, on the localweb site after shipping

[2015-03-02 20:29] secretrobotron opened #368 "Draft next research schedule and reporting plan"
Going to work with @LauraReynal on firming up process for scheduling, doing, and reporting research as we move into another round of it.

- [x] recap
- [ ] schedule for more research (Chicago & UK)
  - who do we send?
  - designers? how many
- [ ] updating audience site
- [x] figure out scheduling/process for building reports
  - time estimates and resources
  - remove personelle bottlenecks
- [ ]

[2015-03-02 20:30] thisandagain commented on #53
Kickoff meeting scheduled for 10am PST tomorrow.

[2015-03-02 20:45] gvn commented on #351
Adding PR to revise `.jshintrc`:

https://github.com/MozillaFoundation/javascript-style-guide/pull/4

[2015-03-02 21:24] Saallen commented on #342
Hey @edrushka
working on this <a href="https://docs.google.com/a/mozillafoundation.org/spreadsheets/d/1EsdWh3UgJWs21EBzNIKJh0XYYZDYcRPGcgMIxv0NGwk/edit#gid=0/" title="Title">
google doc</a>
but would like to build it out more. Which I will one I can access draw.io :anger:

[2015-03-02 21:31] xmatthewx commented on #365
Here's a quick recap of the work week that impacts this heartbeat. @cassiemc will likely share a more rich and complete summary. Hit me up on IRC for corrections and omissions.

## We considered content

 - We asked: What is webby? We found [answers](https://cloud.githubusercontent.com/assets/53411/6446839/c2bc27e0-c0db-11e4-99ca-102dab2ab4a9.jpg).
 - We listed [types of content enabled by Tiles](

[2015-03-02 21:40] iamjessklein commented on #285
:+1: kickoff! :soccer:

[2015-03-02 22:10] hannahkane commented on #338
@simonwex - do you know who will be assigned to this? Wondering who I should invite to the kick-off!

[2015-03-02 22:48] simonwex commented on #338
@hannahkane all the devs are listed in the RACI above.

[2015-03-02 22:53] hannahkane commented on #338
Ah, sorry, missed that. Thanks!

[2015-03-02 22:56] simonwex opened #369 "Implement git-flow style branching standard across Webmaker Apps"
![image](https://cloud.githubusercontent.com/assets/25260/6260599/23a6ccf8-b796-11e4-95f8-b8bb25408213.png)

http://nvie.com/posts/a-successful-git-branching-model/

When we do this, let's make sure we also:

* [ ] update necessary documentation
* [ ] add "hotfix" documentation
* [ ] send out communication where possible to help contributors adjust workflow, and help contributors rebase their PRs

[2015-03-02 22:59] simonwex commented on #351
While we're touching the many codebases, it might make sense to kill this bird too: #369

[2015-03-02 23:42] edrushka opened #370 "Update advocacy site w. fellows"
When the Open Web Fellows are announced in April, we'll need to update https://advocacy.mozilla.org/
Driver: @edrushka
Design: @iamjessklein
Copy: @kevzawacki
Dev: @alicoding
Decision-maker: @Melechuga
Consulted: @DaveSteer @valianttry
Informed: @HPaulJohnson

Design Deadline: May 22
Build Deadline: June 3
Track the individual tickets here: https://github.com/MozillaFoundation/movement-building/mi

[2015-03-02 23:48] gvn commented on #369
**Note:** This has been recommended to me...

https://github.com/petervanderdoes/gitflow

[2015-03-03 00:26] Pomax commented on #363
Slowparse?

[2015-03-03 00:26] Pomax commented on #351
Running down the list of apps I'm most familiar with:

### goggles.webmaker.org

we kind of need to either redo, or treat as immutably locked down. Ignoring that, goggles would need:

- server-side test for the HackPub API part
  - unit tests
  - probably API input (fuzz) testing
- client-side tests for the library
  - unit tests
  - interfacing tests
- JS validation (lint + style)
- CSS validatio

[2015-03-03 11:12] LauraReynal commented on #368
Adding :
- Big reports, synthesis of the existing and future research => Define scope and timeline
    * GSMA "emerging countries report"
    * Webmaker Report synthesis of developing and developed markets
...

[2015-03-03 11:15] LauraReynal commented on #88
@thisandagain is there still work needed on the synthesis or can we close this one?
Once we define the scope of the real big report, we could make a new issue.

[2015-03-03 15:30] cassiemc commented on #365
Here are all the sketches I scanned from the workweek – @xmatthewx maybe you can help figure out how to make these most useful in this process, if they are at all? https://www.dropbox.com/sh/5sd3imrguvkn94f/AAAjlYM5mmahKw_KM2jOHSeba?dl=0

Worth calling out this pdf specifically – it's all of the revised and edited and most finalized sketches for the tiles concept: https://www.dropbox.com/s/4u9lme5

[2015-03-03 15:47] xmatthewx commented on #365
Thanks. Link I posted above points to an edited set of the [latest Tiles sketches](https://drive.google.com/a/mozilla.com/folderview?id=0B_rbDAen9prkSE0ydS1rNWRHV00&usp=sharing) as individual image files on gdrive.

[2015-03-03 16:22] thisandagain commented on #88
All set! :cat2: :cake: :boom:

[2015-03-03 16:22] #88 closed

[2015-03-03 17:15] Saallen commented on #342
Can we add these items to the meeting agenda for tomorrow night if you have the time @edrushka ?

[2015-03-03 17:18] edrushka commented on #342
Sure. I could only find half an hour tomorrow so we'll likely need to circle up again on all this stuff, but let's add this to the agenda.

[2015-03-03 17:22] Saallen commented on #342
Puuurfect. I have moved these two pieces over to the Mozfest repo so can close this one now

[2015-03-03 17:23] #342 closed

[2015-03-03 19:21] Pomax commented on #351
I'll be doing inventory for all our `order=1` apps in https://docs.google.com/spreadsheets/d/1rvRZ9pkd6ET3TTaVL0snEORK4wiCIC10gNS3lG9jYPI/edit#gid=0 first. Report-out will be in the original comment.

[2015-03-03 20:49] simonwex commented on #351
Hey @jbuck, could you add a list of services we should be adding testing infrastructure to?

[2015-03-03 21:56] thisandagain commented on #53
Scope (above) has been updated from the kickoff. Here are a few additional notes:

#### Questions
- Email verification?
    - Our current bounce rate is really high
    - We are attempting to send messages to email addresses that are now in-active
    - Using a service like [briteverify](http://www.briteverify.com/) could be an intermediate option
- Marketing w/ only mobile phone numbers?

#### Us

[2015-03-03 21:56] thisandagain commented on #53
I've started to collect reference user flows for both desktop and mobile (see above list) here: https://drive.google.com/open?id=0B-1AZgKn5Nc7Vk1tTUlLaWczV0U&authuser=0

[2015-03-03 22:07] thisandagain commented on #53
Milestone has been created in the [mozilla/webmaker.org](https://github.com/mozilla/webmaker.org) repo: https://github.com/mozilla/webmaker.org/milestones/Login

[2015-03-04 02:11] simonwex commented on #351
Status update:
 * Team met and prioritized apps for first pass
 * Stand-ups scheduled for 11:00am PDT, 2:00pm EDT
 * Each of us has research to do, longer-than-usual stand-up tomorrow to get into the nitty gritty
 * Bugs created for each related repo

[2015-03-04 07:16] davidascher commented on #53
Note: Using something like BriteVerify would require (likely significant) vendor review before trial, and we'd probably want to look at the larger scope of email verification in the context of mailing list systems (not that they need to use the same system, but there are two use cases with similar challenges).

[2015-03-04 11:35] LauraReynal opened #371 "Prepare and Execute Chicago Research"
Prepare the Chicago research trip :earth_americas:

RACI

Phase: Research / Build / Ship
Owner: @LauraReynal
Decision: @thisandagain
Consulted: @cassiemc
Lead design: n/a
Lead dev: n/a
Quality: @secretrobotron

Tracking in https://github.com/MozillaFoundation/research

Proposal here https://github.com/MozillaFoundation/research/issues/14

[2015-03-04 11:37] LauraReynal opened #372 "Chicago Research Report"
Release field report from Chicago research trip. :earth_americas: :

RACI

Phase: Research / Build / Ship
Owner: @LauraReynal
Decision: @davidascher
Lead design:@cassiemc
Lead dev: n/a

[2015-03-04 14:56] LauraReynal commented on #368
closing this => everything is tracked in other tickets :smile: :ear_of_rice: :tulip:

[2015-03-04 14:56] #368 closed

[2015-03-04 15:12] LauraReynal opened #373 "Update Audience page on build"
**Goal**: we have more research data and we should combine everything and update the audience page. Also current design of the page is not adequate regarding the information that needs to get there.

##### RACI
Owner/ Driver : @secretrobotron
Decision: @LauraReynal
Consulted: @thisandagain
Design: @vazquez
Dev: TBD
Quality: @cassiemc

[2015-03-04 22:23] hannahkane commented on #338
Mic check update: had a kick-off yesterday with lots o' people. @simonwex created a new repo (/mozilla/teach.webmaker.org) and many tickets have been added and worked on.

[2015-03-04 22:24] hannahkane commented on #285
Mic check update: had a kick-off meeting yesterday. Designers have flagged lack of final content as a blocker. Taking steps to resolve including establishing deadlines for final content (but, alas, they are mid-heartbeat).

[2015-03-04 22:35] jdotpz commented on #366
I've trimmed off a bunch of unused volumes, and have killed four RDS instances that we don't really need or don't know what they're doing (phabricator).  We of course took final snapshots, so if we hear any screams, we'll be able to restore.

The plan moving forward:
1) Combine nearly all staging EC2 nodes into a big honkin' cluster(maybe 2), with separate ELBs pointing to distinct node ports per

[2015-03-05 14:07] flamingspaz commented on #276
Apologies for the late response, you're an admin on the instance. Will update you as soon as email/ssl is up.

[2015-03-05 18:43] edrushka commented on #347
@HPaulJohnson @amirad everything still on track to present to ops next week?

[2015-03-05 19:10] chrislarry33 commented on #347
Amira shared this with me: https://docs.google.com/a/mozillafoundation.org/document/d/15VRGwqzBYqi-11It3SqEzyqmYHSNeXDR-CI6My4DELI/edit

I haven't dug to deeply in yet, but wanted all to have if you haven't already. The expectation that Amira and possibly Paul would present to Ops. Could punt if we needed to but,, would need to communicate that soon.

[2015-03-05 20:05] HPaulJohnson commented on #347
I am going to work have to get to this on Monday. Laptop was stolen so hobbling along in Barcelona on my phone only. Hopefully still on track, @amirad and I have been discussing this week.

[2015-03-05 23:21] jbuck commented on #363
@simonwex https://github.com/jbuck/mofo-architecture/tree/master/hsl

[2015-03-06 02:29] Pomax commented on #363
that is a *very* fancy diagram

[2015-03-06 04:18] chrislarry33 commented on #347
Barcelona, the world capital for stolen laptops...sorry my man

[2015-03-06 18:51] edrushka opened #374 "Create MozFest 2015 website"
This is the meta-ticket for the MozFest 2015 site.

Driver: @edrushka
Design: @iamjessklein and Adil (UX contractor) (@Roberto-Cruz has done initial work)
Dev: @ScottDowne
Copy @kevzawacki
Decision Maker & Final signoff: @Saallen
Consulted: @thornet @HPaulJohnson Misty, Spike, Gunner
Informed: @amirad     Please add yourself :)

[2015-03-06 19:38] edrushka commented on #374
##What has happened so far:
- [x] Site research
- [x] Brand audit
- [x] User research via survey
- [x] Meetings with MozFest team to review their needs
- [x] [Recommendations] (https://github.com/MozillaFoundation/plan/issues/341#issuecomment-75680689) for IA
- [x] Initial wireframes

##What will happen next:
- [ ] Sarah and Roberto to discuss wireframes with MozFest team and will integrate their

[2015-03-06 20:13] simonwex commented on #351
@ScottDowne did you make any progress with the login & makeapi mocks?

[2015-03-06 20:26] simonwex commented on #351
Important notes from @gvn https://gist.github.com/gvn/4a69e18da27b929da086

[2015-03-06 21:22] chrislarry33 commented on #347
Hi all, talked with Angela today. We are going to delay presenting this to Ops until 3/17. This was not b/c we weren't ready but b/c of scheduling and agenda issues with Ops. Thanks for keeping at this.

[2015-03-06 21:47] secretrobotron commented on #89
The report now lives on webmaker.org/localweb :).

[2015-03-06 22:37] ScottDowne commented on #351
@simonwex No not yet, I was finishing the mofo-style thing first.

[2015-03-06 22:38] Pomax commented on #351
I'm currently writing a quick and dirty (hopefully working) mock for login3 (basically an `testingmode` option switch that loads in "yep, everything's cool" responses to all the login API requests instead of actually *doing* anything)

[2015-03-06 22:54] ScottDowne commented on #351
@Pomax is it something you see being usable for local dev too? Or just tests.

Example, would you switch it on for default env.sample files.

[2015-03-06 23:02] Pomax commented on #351
If, for local testing, you just need "a generic user that is logged in", then yes. If you need yourself logged in, then no.

[2015-03-07 00:38] Pomax commented on #351
I'm also running into magic testing errors atm where I've commented off everything *possibly* related to auth in webmaker.org, and it still generates magical 403 values instead of 404, and adding the `/verify` route in with a simple console logging handler does not trigger that handler. So... :tableflip: and I'm out

[2015-03-07 15:48] davidascher commented on #363
niiice.
​

[2015-03-07 16:10] davidascher opened #375 "Move webwewant.mozilla.org to a MoFo-managed AWS setup"
The https://webwewant.mozilla.org domain is no longer useful to MoCo folks, but MoFo (specifically @davesteer) still wants it.  We need to simplify it (decouple it from the realtime download data), move it to AWS, and make sure we can keep it up.

### Audience
People that @davesteer needs to reach.

### Success
* https://webwewant.mozilla.org is up, simple, fast, and useful in our policy & advocac

[2015-03-07 16:12] davidascher commented on #375
Note: current design has dots on a map whenever someone from that location downloads firefox.  That seems like a coupling that would be hard to maintain over in AWS, what with sending packets out of the Mozilla subnet to AWS.  And not critical for @DaveSteer, as per:

Given that, we may need a simple design "fix" for the absence of live data.

[2015-03-07 16:13] davidascher commented on #375
Forgot to cc @bensternthal

[2015-03-07 17:19] #13 closed

[2015-03-09 14:26] OpenMatt commented on #345
@benrito : what deliverables will you have ready by EOD today? How do you want to be involved?
* my understanding is: this is split in two: 1) Learning Networks and 2) Learning Products
* Learning Networks is done. Are you the driver for the Learning Products piece?

[2015-03-09 14:44] OpenMatt commented on #345
@thornet : I made some comments and flagged some questions on the Google Doc
https://docs.google.com/a/mozillafoundation.org/document/d/1qukGywwh1zY8eIPa75_AnS8Piu9KUxWGXpgu4N6gGAY/edit

[2015-03-09 15:00] OpenMatt commented on #345
@thornet : I think we should aim for a single merged document, instead of two separate ones. Can you roll your Clubs criteria right into the Google Doc? http://mozilla.github.io/webmaker-curriculum/about/#rollout

[2015-03-09 15:01] OpenMatt commented on #345
The Learning Networks stuff is strong work. My main question is: where is this?
* Lessons learned from UK debrief
* Weighted list of regions to focus on in 2015

[2015-03-09 15:14] OpenMatt commented on #345
@chrislarry33 : Chris: do you agree those are the deliverables we're looking for?

[2015-03-09 15:26] OpenMatt commented on #345
@HPaulJohnson @benrito  do you have any status updates for the deliverables with your names next to them in comment 1?

[2015-03-09 16:19] simonwex commented on #53
@davidascher do you know if there has been any similar work done by Moz teams to do part of what BriteVerify does? Thunderbird auto-configuration comes to mind.

[2015-03-09 16:20] simonwex commented on #53
Status update:
 * Rescheduled meeting for 10:00am EDT in my Vidyo room
 * @jbuck to start work on https://github.com/mozilla/webmaker.org/issues/1367 today

[2015-03-09 17:26] edrushka commented on #375
Clarifying: it's https://webwewant.mozilla.org

[2015-03-09 17:27] davidascher commented on #53
I doubt we have alternatives to this particular service, as it requires
effectively tracking email delivery.  There may be alternatives that we are
using as part of some of the email campaigns that @valianttry has been
doing.

[2015-03-09 17:44] adamlofting commented on #53
Just to note @valianttry is on PTO. Though I'm pretty sure we don't have anything like this for our BSD mailing lists right now.

[2015-03-09 18:48] benrito commented on #345
IMO the short version is:

Brazil (tentpoles: LAN house project, state money)
India (tentpoles: strong community, Digital India, 2% CSR mandate)
Bangladesh (tentpoles: strong community, government, MNOs)
East Africa (tentpoles: MozFest EA and Equity)

We should also leave room for a pan-African demonstration project with Orange, if the analysis bears out that it's a good and workable idea.

After

[2015-03-09 19:13] OpenMatt commented on #345
3) Lessons learned from UK de-brief = done. Geoff confirms we don't need a document there -- just roll what we learned into (4), which Ben is working on.

[2015-03-10 08:37] davidascher commented on #345
I'd like to understand the UK experience better.

[2015-03-10 08:39] davidascher commented on #53
Yet another reason to work through vendor review with whoever is best in
class for bounce management.

[2015-03-10 15:45] simonwex opened #376 "Celebrate Errietta's Birthday!"
I'll start the dance party!
![Version 21 Dance](http://i.giphy.com/12m5srHYOriGwU.gif)

[2015-03-10 15:48] LucyeoH commented on #376
Happy birthday Errietta!

![birthdaygif](https://cloud.githubusercontent.com/assets/8070833/6578573/5cde6c58-c71b-11e4-94fe-1cc20cd90128.gif)

[2015-03-10 16:01] toolness commented on #376
Woooo happy birthday Errietta!

<img src="http://media.giphy.com/media/FRQfYwOKdEaTS/giphy.gif">

[2015-03-10 16:03] jdotpz commented on #376
Have a foxy birthday E!
![fox-too-quick](https://cloud.githubusercontent.com/assets/1373628/6578911/fefe7d0e-c714-11e4-8af5-610919020792.gif)

[2015-03-10 16:07] Saallen commented on #376
Happy Birthday!
![happybirthdayto me](https://cloud.githubusercontent.com/assets/10194015/6579015/799e7f12-c73f-11e4-824e-3ebd24d936ca.gif)

[2015-03-10 16:28] alicoding commented on #376
Happy Birthday!! http://i.giphy.com/KTVOOk1Rgc0Eg.gif

[2015-03-10 16:34] cadecairos commented on #376
Happy Birthday!

![happy birthday](https://cloud.githubusercontent.com/assets/438003/6579622/b2e88862-c721-11e4-961b-a6e4ad6b60a3.gif)

[2015-03-10 16:40] amirad commented on #376
Happy day of birth!
![bday](https://cloud.githubusercontent.com/assets/10170768/6579741/8ad33ef2-c722-11e4-80e4-3cd0db4932a3.gif)

[2015-03-10 16:41] Pomax commented on #351
mocked login has been implemented and works quite well, PR pending on https://github.com/mozilla/webmaker-auth/pull/23

[2015-03-10 16:43] errietta commented on #376
![img_20150310_124422](https://cloud.githubusercontent.com/assets/134585/6579807/8201295c-c744-11e4-98a0-a7d2d6638a13.jpg)

[2015-03-10 16:43] errietta commented on #376
:heart: you guys i hadn't seen this then someone mentioned it to me thanks so much :grinning:

[2015-03-10 16:59] secretrobotron commented on #376
# ᕕ( ᐛ)ᕗ

# (╯ ᐛ）╯︵ ┻━┻

# ♪┏(・o･)┛♪

[2015-03-10 17:14] ldecoursy commented on #364
Team is also fleshing out GANTT chart to help with planning here: https://docs.google.com/a/mozillafoundation.org/spreadsheets/d/1FZk_0-zAcjF0nc7fa3EK7QfVVDgRAhMoOuCoxsVR4Ts/edit#gid=0

[2015-03-10 17:20] ldecoursy commented on #212
Closing this ticket, as plans re: training are being fleshed out as part of updated Clubs roadmap https://github.com/MozillaFoundation/plan/issues/364

[2015-03-10 17:20] #212 closed

[2015-03-10 17:32] gesa commented on #376
![](http://snaps.akibraun.com/highest-of-fives.gif)

[2015-03-10 19:13] simonwex commented on #363
List of things to make bugs out of:
* In order to reduce number of app servers for our client apps:
  * [ ] Allow direct client access to login.webmaker.org API
  * [ ] Allow direct client access to MakeAPI
  * [ ] Allow direct client access to BadgeKit API
* [ ] Create api.webmaker.org
  * [ ] Move x from x.webmaker.org into path /x * n
* [ ] Add redirection service (oath2 with whitelist) to logi

[2015-03-10 19:35] xmatthewx opened #377 "Complete UI and explore "Tinker Mode" for unified tool"
The new Webmaker platform aims to offer a premier experience for creating and viewing webby content.

### Audience
 - Firefox users on desktop and Android
  - Users on Webmaker who want to create content
  - People who view content on Webmaker

### Success

By the end of this heartbeat, we would like to have:
 - UI prototype
 - annotated docs for implementation
 - prototype of 3-4 "tinker" experie

[2015-03-10 22:01] edrushka opened #378 "Refresh content on mozilla.org/foundation"
The Foundation's page is out of date: https://www.mozilla.org/en-US/foundation/ We need to refresh the content.

Driver: @edrushka
Copywriter: @kevzawacki
Design: Need to consult with MoCo first. @Roberto-Cruz has done some initial work based on current MoCo design.
Final decision maker: Mark Surman via @HPaulJohnson

[2015-03-11 00:02] jbuck commented on #363
@davidascher @Pomax @simonwex https://github.com/jbuck/mofo-architecture/tree/master/current

[2015-03-11 00:14] Pomax commented on #363
@jbuck that is an amazing bit of diagram... and should totally be HTML O_O

On a more constructive note, I think this is still missing the http-on-https camo proxy that thimble uses.

[2015-03-11 18:21] thisandagain commented on #377
To be clear, is this is a request for an additional sprint dedicated to adding learning features to the prototypes developed to date? This would be in lieu of doing the UI pass on the prototypes developed in #365?

/cc @cassiemc @xmatthewx

[2015-03-11 18:57] HPaulJohnson commented on #352
Checking-in on this. Any eta on pulling down the privacy content on webmaker.org?

[2015-03-11 19:12] KevZawacki commented on #378
Thanks for the edits, @edrushka. Accepted, and now ready for @HPaulJohnson.
Link: http://goo.gl/zkP1ke

[2015-03-11 19:19] cassiemc commented on #377
Not in lieu; want to see the UI advance quickly, but I think given the skills needed & our team composition we could do this in parallel. It will largely depend on what else needs resourcing in the next heartbeat.

[2015-03-11 20:05] OpenMatt commented on #299
@HPaulJohnson ?

[2015-03-11 20:07] OpenMatt commented on #335
should we move this to another milestone, so it doesn't get lost?

[2015-03-11 20:07] HPaulJohnson commented on #299
We can close, yes.

First kick-off meeting happened two weeks ago though most stakeholders were not able to attend. Having 2nd iteration of meeting tomorrow and from there we should be all set for this to function as an ongoing process.

[2015-03-11 20:09] HPaulJohnson commented on #335
Meeting to present these concepts is happening this Friday (3/13). I can report back with any additional feedback at that time, then we can likely close this specific issue.

[2015-03-11 20:23] edrushka opened #379 "Update MozFest site with Save the Date banner"
Driver: @edrushka
Design: @Roberto-Cruz
Dev: @ScottDowne
Decision-maker: @Saallen

### MVP
1) replace text on current banner http://2014.mozillafestival.org/ with :
Save the Date for MozFest 2015
November 6-8
Ravensbourne College, London
2) replace button with:
'Sign Up For Info' button --> links to email signup to receive further updates about the festival.

### Nice to Have
3) 'Add To My Calenda

[2015-03-11 20:30] jbuck commented on #363
- [ ] screenshot service

[2015-03-11 22:08] edrushka opened #380 "Take down Studio Mofo site while keeping calendar"
Driver: @edrushka
Dev: tbd
CC: @mmmavis @sabrinang

Now that Studio Mofo is no more, http://studiomofo.org/ shouldn't be live.

@jdotpz  Should we keep the domain?

@HPaulJohnson and @KevZawacki still use the Engagement Calendar on the homepage. Can we move that somewhere else? Or, since it won't really be shared much, it can stay on the domain if the other content is removed.

[2015-03-11 22:33] mmmavis commented on #380
FYI, here's the [repo](https://github.com/mozilla/studiomofo).

[2015-03-11 22:37] mmmavis commented on #380
@jdotpz
If I remember it correctly, the calendar is built entirely on front-end so I guess a `gh-pages` can work?

[2015-03-12 17:45] edrushka opened #381 "Get BSD help for the Open Web Fellows signup page - PLACEHOLDER"
Driver: @edrushka
Dev: TBD
Decision-maker: Dave Steer

The Advocacy team might need some BSD help with a sign-up page relating to the Open Web Fellows announcement. This request will be fully scoped early the week of Mar 16. More details to follow.
CC @DaveSteer @Melechuga

[2015-03-12 17:46] edrushka commented on #380
@davidascher Would http://build.webmaker.org/ be a suitable home?

[2015-03-12 20:18] OpenMatt commented on #209
status of this one?

[2015-03-12 20:22] HPaulJohnson commented on #209
The "big" meeting is finally happening tomorrow, 3/13, after many delays and reschedules. Objective is to present recommendations (MEM + PJ), solicit final feedback and gain consensus of branding plan.

Assuming progress is made at this meeting should be able to formally document something for wide distribution as a next step.

[2015-03-12 21:35] Melechuga commented on #370
Can the RASCI be changed on this one so that @melechuga and @valianttry are switched? Melissa is the decision maker, and Andrea can be consulted (along with Dave) for this. Thanks!

[2015-03-12 21:53] edrushka opened #382 "Get design feedback on Open Web Fellows swag"
The Open Web Fellows program is about to launch. We need a bit of swag designed. Melissa has done some initial mockups. Some feedback from a designer would be great.

Driver: @Melechuga
Designer: @iamjessklein
Dev: Not needed
Decision maker: @Melechuga

The swag needs to be ready by end of April.

[2015-03-12 22:10] edrushka commented on #374
@cassiemc, @Roberto-Cruz and I would love to get some feedback from your team on the MozFest site wireframes. Whatever format works best for you: the weekly design call, a meeting....

[2015-03-12 22:19] edrushka commented on #370
Done! And you now have the coveted edit pencil, so feel free to change again as needed.

[2015-03-13 14:14] Saallen commented on #379
Hey
Banner choice would be the darker banner with the photo background under the Nav bar.

[2015-03-13 15:18] cassiemc commented on #374
@edrushka Usually for design review, just pick someone and mention them in a comment for design review, so... "Design R? @cassiemc". If you're not sure who to pick, you can always tag me and I'll try to find someone if I'm not available.

OR you can message the group in #mofodesign on IRC,

OR you can join our weekly design crit on Wednesday afternoons. Though your time for feedback might be limit

[2015-03-13 18:22] Roberto-Cruz commented on #379
Hey, I have made a Redpen for this issue.
Please take a look.

https://redpen.io/p/ag4d245f69346c7879

[2015-03-13 18:58] edrushka commented on #382
@Melechuga - I'm pasting @cassiemc's  suggestions for design review that she wrote in #374

[2015-03-13 20:09] HPaulJohnson commented on #335
Meeting happened and initial prototypes were presented.

Likely follow-up will be to explore the entire set of ideas and do some mapping back to a small handful of individual user personas/profiles.

Closing this issue and will open a new one when specific deliverables are identified.

[2015-03-13 20:09] #335 closed

[2015-03-13 20:33] Melechuga commented on #382
Thanks @edrushka!
@iamjessklein: Any chance you have some time soon to look at some Advocacy swag mock-ups I put together? Would def appreciate any/all suggestions!

[2015-03-13 20:46] iamjessklein commented on #382
Sure @Melechuga ! Can you direct me where to look?

[2015-03-13 20:52] hannahkane commented on #286
Marking this as a P1 for the March 27th milestone, because we plan to start work on badges in the following milestone.

[2015-03-13 20:53] hannahkane commented on #338
Moving this ongoing work to March 27th heartbeat.

[2015-03-13 20:53] hannahkane commented on #285
Moving this ongoing work to March 27th heartbeat.

[2015-03-13 21:03] hannahkane opened #383 "Design graphics for Learning Pathways whitepaper"
### RACI
Driver: @hannahkane
Design lead: @sabrinang
Whitepaper project lead: @dajbelshaw

See https://github.com/mozilla/teach.webmaker.org/issues/131

[2015-03-16 12:47] #364 closed

[2015-03-16 12:49] thornet commented on #293
Talk with Mark scheduled for Mar 18. Moving this to March 27 heartbeat.

[2015-03-16 14:10] OpenMatt commented on #347
@chrislarry33 @HPaulJohnson @amirad : I assume this document is now ready to share with ops
http://mzl.la/campaign_strategy

Let me know here if that's wrong

[2015-03-16 14:11] amirad commented on #347
Just working on cleaning it up and seeing @edrushka can help tighten my copy today.

[2015-03-16 14:14] OpenMatt commented on #347
ok. let's aim to send EOD today, so folks have time to read it before tomorrow's meeting.

[2015-03-16 14:38] thisandagain commented on #89
Published at http://mzl.la/india

[2015-03-16 14:38] #89 closed

[2015-03-16 14:39] thisandagain commented on #53
Still wrapping up design, but otherwise good progress here. Moving remaining work (implementation) to next heartbeat.

/cc @cassiemc @simonwex

[2015-03-16 14:45] thisandagain commented on #377
To clarify from our meetings last week, the scope of this sprint is to build out the UI for the unified prototypes based on the work done by @xmatthewx @flukeout and @sabrinang last heartbeat. In addition, we need to dig in deeper on the "Tinker Mode" features for the MVP. @xmatthewx can you please fill in the details and refine the description above? I'd like to track both of these in one plannin

[2015-03-16 14:47] thisandagain commented on #365
Really excellent work done in the last heartbeat. Latest progress and notes for the next SOW can be found here:
https://docs.google.com/a/mozillafoundation.org/presentation/d/1-qXV4jbk3plbbXkjjerqvDyUCrCepGFDRGUM1g5XiHg/edit#slide=id.g7537eac12_832

Tracking next steps in #377

[2015-03-16 14:47] #365 closed

[2015-03-16 14:49] #93 closed

[2015-03-16 14:50] thisandagain commented on #258
@LauraReynal can you clarify what (if anything) is still needed here?

[2015-03-16 14:50] #92 closed

[2015-03-16 14:50] #91 closed

[2015-03-16 14:50] #90 closed

[2015-03-16 14:50] #3 closed

[2015-03-16 15:24] LauraReynal commented on #258
Thanks for the Ping Andrew !

Im waiting for @benrito 's comments. Do you still want to suggest edits Ben ?
And @thornet ?

Feel free to send me your comments, I will integrate them in the report, and then we can finalize it with a design pass.

[2015-03-16 15:42] OpenMatt commented on #347
@HPaulJohnson I think this is pretty much done -- great work @amirad . can you take a final look?

[2015-03-16 16:02] HPaulJohnson commented on #347
Looks great. Nice job, @amirad. Ready to be presented for feedback from Ops tomorrow.

[2015-03-16 16:13] OpenMatt commented on #290
Going to move this forward to Mar 27 so we remember to follow up.

[2015-03-16 16:14] OpenMatt commented on #347
nice work team. closing this. can open a new one based on any feedback / next steps.

[2015-03-16 16:20] chrislarry33 commented on #347
Share away

[2015-03-16 16:26] thornet opened #384 "Recruit Regional Coordinators"
Being tracked here: https://github.com/mozilla/teach.webmaker.org/issues/172

We need to recruit at least 5 Regional Coordinators (volunteer leadership positions) to support and onboard Web Club leaders in Q2.

See more: http://mozilla.github.io/webmaker-curriculum/about/#success

### Audience
Staff organizers, future Web Club leaders, and by extension their learners

### Success
5 amazing Regiona

[2015-03-16 16:30] thornet opened #385 "Repackage Web Literacy Basics I curriculum"
Ship the edits and improvements to first club curriculum module

### Audience
Web Clubs leaders

### Success
All these tickets are closed: https://github.com/mozilla/teach.webmaker.org/labels/curriculum

### Vision
Pick up tickets and close 'em!

### Measurement
A high quality next iteration of the first module shipped

### Roles
 * Phase: Implementing
 * Driver: @thornet
 * Decision Maker: @thorn

[2015-03-16 16:36] simonwex commented on #335
@HPaulJohnson I'd love a report-back from the presentation. Could you schedule a session with the group?

[2015-03-16 16:36] ldecoursy opened #386 "Complete Learning Networks Program Review"
RACI
* Driver - @ldecoursy
* Decision Maker - @chrislarry33
* Consulted - @OpenMatt @hannahkane @thornet
* Dev Lead - NA
* Design Lead - NA

Finalize presentation for Program Review on 3/26

[2015-03-16 16:38] simonwex commented on #286
@hannahkane do we have the next-gen requirements explained anywhere?

[2015-03-16 16:39] simonwex commented on #366
@jdotpz could you post an update? How was the champagne?

[2015-03-16 16:44] simonwex commented on #363
@jbuck could you update this ticket with the latest versions of the diagrams?

[2015-03-16 16:44] #363 closed

[2015-03-16 16:49] secretrobotron opened #387 "Update Web Journey illustration"
Continued from #89

**Goal**: Finish the Web Journey illustration (that @iamjessklein started in https://github.com/MozillaFoundation/research/issues/2#issuecomment-77642248) to replace the diagram in the India field report, and on build.webmaker.org/audience.

#### RACI
Phase: Research / Build / Ship
Owner: @secretrobotron
Decision: @LauraReynal
Lead design: @iamjessklein
Lead dev: n/a
Quality: @

[2015-03-16 16:49] jdotpz commented on #366
The manifests should be set to reduce a bunch of our apps into clusters, but this week will see me launching first staging then production versions of that.

Meanwhile, we've scaled a ton of instances down last week.

I'm working on the costing server but so far it seems hosed still.

The app sounds like it should be working fine
2015-03-16 16:30:26,643 [cost_daily_elasticache] INFO  basic.BasicDa

[2015-03-16 16:51] ldecoursy opened #388 "Complete Web Literacy Basics 1 Curriculum Repackaging"
RACI

* Driver - @LauraHilliger
* Decision Maker - @thornet
* Consulted - @ldecoursy
* Dev Lead - NA
* Design Lead - NA
* Quality Verifier - @chrislarry33

Incorporating edits to first Clubs curriculum module - Web Literacy Basics 1
Includes six activities in three categories - reading, writing, participating on the web

Tracking work here: https://github.com/mozilla/teach.webmaker.org/labels/curr

[2015-03-16 16:57] simonwex commented on #351
Significant progress has been made in this heartbeat. We still have a ways to go, though -- bumping another milestone.

[2015-03-16 16:57] HPaulJohnson commented on #335
Here is the MakerFox portion of the deck we shared: https://docs.google.com/a/mozillafoundation.org/presentation/d/17fgbcOLhhTHoNDUmO2cIiHiFRTeWWHVZPZj5hoOM37s/edit#slide=id.g8da6c5f45_054

Will find some time to reconvene on next steps when I confirm @davidascher schedule (I'm on PTO Wed-Fri this week). Either in the next two days or early next week.

TL;DR is that next step is to connect use cas

[2015-03-16 17:04] OpenMatt commented on #339
* From @davidascher: Still need a plan here. Humph has made progress on Thimble back-end stuff. Will see more progress on this in this heartbeat.

[2015-03-16 17:04] thornet commented on #385
Duplicate of #388

[2015-03-16 17:04] #385 closed

[2015-03-16 17:04] jdotpz commented on #366
Here's so far (without cluster benefits or reserved instances yet) (~14% cost reduction)

![screen shot 2015-03-16 at 12 02 21 pm](https://cloud.githubusercontent.com/assets/1373628/6671614/784b183e-cbd4-11e4-8369-8b7fc55052c6.JPG)

![screen shot 2015-03-16 at 12 02 38 pm](https://cloud.githubusercontent.com/assets/1373628/6671618/7d967842-cbd4-11e4-9214-b7436d93b69d.JPG)

[2015-03-16 17:05] OpenMatt commented on #287
Will probably finish in this heartbeat. Need to connect w. @thisandagain and @davidascher on product roadmap. understanding what the unified tool will look like, and testing those value propositions.

[2015-03-16 17:09] cassiemc commented on #377
I assigned @sabrinang and @flukeout to carry on the work from last heartbeat, and have added @iamjessklein for quality due to her learning design experience. I'd like to be kept in the loop though, please!

[2015-03-16 17:09] OpenMatt commented on #242
* still need to pick a vendor, iron out final complexity / questions.
* could roll this into log-in work this heartbeat
* also need to consider teach.webmaker.org email requirements

[2015-03-16 17:10] OpenMatt commented on #242
(will leave this as an open planning ticket for now -- @HPaulJohnson please close and file as needed once the kick-off happens / next steps get logged, etc.)

[2015-03-16 17:10] cassiemc commented on #285
Have assigned @vazquez and @iamjessklein to carry on the work from before. Please feel free to use me as a resource for design review.

[2015-03-16 17:19] hannahkane commented on #286
https://github.com/mozilla/teach.webmaker.org/issues?q=is%3Aopen+is%3Aissue+label%3Abadges

[2015-03-16 17:19] OpenMatt commented on #286
Prioritization considerations discussed in today's Heartbeat planning meeting:
1) tech debt
2) teach.moz.org badging requirements
3) ensuring we don't fall behind on this file

[2015-03-16 17:21] OpenMatt commented on #286
May be useful to do another kick-off meeting with key stakeholders here. + @chrislarry33

[2015-03-16 17:24] thisandagain commented on #53
@secretrobotron For the kickoff meeting let's include @hannahkane @HPaulJohnson and @simonwex so we can confirm alignment w/ the teach site and getting vendor selection / review rolling.

[2015-03-16 17:24] cassiemc commented on #387
@iamjessklein still assigned here since the work is started.

[2015-03-16 17:25] xmatthewx commented on #377
I've updated the description above. This ticket now tracks:
 - UI work
 - Annotation
 - UX for tinkering

Note that UX for tinkering will need to keep a narrow scope if we hope to tackle everything else.

[2015-03-16 17:26] cassiemc commented on #382
Keeping @iamjessklein here since she's on it!

[2015-03-16 17:33] OpenMatt commented on #352
came up in Heartbeat call today -- status?

[2015-03-16 17:33] cassiemc commented on #373
Assign @vazquez here (p2) :+1:

[2015-03-16 17:34] cassiemc commented on #383
Assigning @sabrinang. It is a p2 but hopefully we can make some progress here.

@hannahkane are you driving this?

[2015-03-16 17:39] thisandagain commented on #377
Sounds good. Let's try to just focus on Tinkering mode in the "Link" and "Color" areas. That seems reasonable for MVP.

[2015-03-16 17:39] hannahkane commented on #383
Thanks, @cassiemc. Added a RACI to the description. I can drive.

[2015-03-16 17:44] hannahkane commented on #338
@simonwex - are @toolness, @alicoding, @mmmavis (until Tuesday), and @gesa still assigned to this ticket?

[2015-03-16 17:52] HPaulJohnson commented on #352
On a related note, is there a way we can think through a better process for future promotional content on the homepage? In an ideal world marketing/engagement would have a way to manage content directly so that we can swap promos in/out in more real-time. Realize this is probably a separate ticket but flagging it as food for thought.

[2015-03-16 18:00] OpenMatt commented on #347
there was one hanging thread on messaging w. @edrushka -- but we can take up the specifics of messaging when we get to the message plan document. so, all good.

[2015-03-16 18:06] OpenMatt commented on #286
@hannahkane: please add me to the kick-off meeting invite on this?

[2015-03-16 18:09] OpenMatt commented on #286
@hannahkane: is this still the main piece of badges documentations for our 2015 strategy and requirements? https://docs.google.com/a/mozillafoundation.org/document/d/1oVGZcdearNxH5G2eF0D4dciaXxFiFfUkolYSdC9ufy0/edit#heading=h.ay9hvkzgtonw

[2015-03-16 18:11] hannahkane commented on #286
Just sent an invite for a meeting.

@OpenMatt, that document is still accurate, though I'd like to focus on the needs immediately in front of us, which are articulated in the badges tickets that have been written:

https://github.com/mozilla/teach.webmaker.org/issues?q=is%3Aopen+is%3Aissue+label%3Abadges+label%3Aplatform

[2015-03-16 18:25] iamjessklein commented on #377
:+1:  let me know when there's something to look at :)

[2015-03-16 18:34] thisandagain commented on #352
100% Agreed @HPaulJohnson . Would you mind creating a new planning ticket to track this specific need?

[2015-03-16 18:39] OpenMatt commented on #286
Got it. Thanks.
@simonwex and @davidascher : I've reviewed those tickets -- the scope and feature requests there are clear.

[2015-03-16 19:01] amirad commented on #347
I took out that messaging for now as we focus on what just the ops team needs. It can be shared now.

[2015-03-16 19:20] secretrobotron commented on #53
Summary for easy reading:
* Design/IA is basically done (thanks to @thisandagain and @cassiemc)
* Implementation bugs in milestone: https://github.com/mozilla/webmaker.org/milestones/Login
* Teach site is first client of new login (@hannahkane, milestone/ticket link?)
* @jbuck working on logic diagram: https://github.com/mozilla/webmaker.org/issues/1367
* Need a dev (team?) to work on this

[2015-03-16 19:27] hannahkane commented on #53
@secretrobotron - added relevant Teach site ticket to the summary. Thx!

[2015-03-16 19:29] secretrobotron commented on #53
@hannahkane <3

[2015-03-16 19:53] secretrobotron commented on #387
Latest:
![](https://cloud.githubusercontent.com/assets/535012/6621655/39a612ba-c8ae-11e4-96c7-de201a441c2b.png)

[2015-03-16 19:57] benrito commented on #258
yeah, will provide edits. might need another day.

[2015-03-16 20:06] edrushka commented on #381
Hurray! A BSD contractor has been hired and will take on this work. Closing this ticket for now. May re-open and assign to the contractor if he's going to use Github.

[2015-03-16 20:06] #381 closed

[2015-03-16 20:50] simonwex commented on #286
Great. Something that we need to clarify is which systems and third parties are relying on what parts of the current badges platform. The outcome here will dictate how quickly we can evolve pieces the teach site needs.

[2015-03-16 21:10] chrislarry33 commented on #286
At this point there are nobody other then ourselves relying on this badge platform. Even theoretical deliverables in grants in house have no opinion or dependency about how we issues badges about our stuff

[2015-03-16 21:26] HPaulJohnson opened #389 "Content management solution for running promotions on webmaker.org"
Today, swapping in/out promotions on webmaker.org requires engineering support which is not only slower than it needs to be but also serves as a distraction from core engineering work.

Marketing/engagement would like a solution where dedicated promotional space can be turned on/off easily and templatized content can be swapped in at "campaign" speed.

### Audience
Visitors to webmaker.org and oth

[2015-03-16 21:27] HPaulJohnson commented on #352
@thisandagain done. issue #389

[2015-03-16 21:32] hannahkane commented on #389
Teach site will be making a similar request at some point. Don't want to slow down this process, but if this is a two birds / one stone type of scenario, I'd love to contribute requirements.

[2015-03-16 21:59] edrushka opened #390 "Miscellaneous Dev tasks for March 27 heartbeat"
**What is this?** During today's TPS call, we decided miscellaneous and small tasks should be consolidated into a single ticket to keep the Plan repo from getting clogged up. One dev will be assigned each heartbeat to address these smaller tasks

**How do I add my ticket?** Create your ticket in whatever repo it belongs in, and link to it as a comment in this ticket. If it's too big, Simon or I wi

[2015-03-16 22:00] edrushka commented on #390
Take down Studio Mofo site while keeping calendar #380

[2015-03-16 22:48] Roberto-Cruz commented on #379
Hi,
Here is the latest update on the redpen project
https://redpen.io/pj38df7e097269e249

[2015-03-16 22:56] ScottDowne commented on #338
This just caught my attention and I see my name listed as a dev. I have no context for this yet but is there something I should be looking into now or is this work still being... scoped?

[2015-03-16 23:12] thisandagain commented on #389
:+1:

[2015-03-16 23:31] thisandagain commented on #390
Fix search engine results w.r.t. localization https://github.com/mozilla/webmaker.org/issues/1157

[2015-03-16 23:33] thisandagain commented on #390
Popcorn makes "disappearing" https://github.com/mozilla/popcorn.webmaker.org/issues/596

[2015-03-16 23:35] thisandagain commented on #390
/cc @LucyeoH @secretrobotron

[2015-03-16 23:42] chrislarry33 commented on #389
+1 @hannahkane

[2015-03-16 23:49] davidascher commented on #389
Yes, good.

[2015-03-16 23:55] hannahkane commented on #338
Hey @ScottDowne - looks like you've been assigned to this project. Yay! The project is scoped. I'll send you and @toolness a calendar invite to help get you up to speed.

[2015-03-17 00:05] edrushka commented on #375
@simonwex, @jdotpz, @pmclanahan, have you had a chance to discuss this?

[2015-03-17 10:44] dajbelshaw commented on #383
Great, thanks @cassiemc & @hannahkane. Meeting with @smithisgeneric and we'll talk graphics. :)

[2015-03-17 10:49] LauraReynal commented on #373
Hey @secretrobotron  @vazquez - Im defining the scope here and we can discuss it during our Kick off meeting today :santa:

Goal: Update the audience page

*Content that needs to be added*
- Personas from India => @secretrobotron and @LauraReynal to choose
- The research Map => Integrate the MapBox Research map somehow
- The detailed research reports ( Bangladesh, Kenya, India, Brazil, the Synthes

[2015-03-17 11:00] LauraReynal commented on #373
![screen shot 2015-03-17 at 11 00 29](https://cloud.githubusercontent.com/assets/8261945/6685785/e1696c38-cc94-11e4-93ee-aeebd5f01b6d.png)

[2015-03-17 11:03] LauraReynal commented on #373
![screen shot 2015-03-17 at 11 02 58](https://cloud.githubusercontent.com/assets/8261945/6685807/32d029c2-cc95-11e4-8cbb-1ec1394fccf2.png)

[2015-03-17 11:09] LauraReynal commented on #373
Ticket for the map:
https://github.com/MozillaFoundation/research/issues/19

[2015-03-17 12:00] LauraReynal opened #391 "Metrics : Extract quantitative data from exisiting research"
Goal : combine metrics from exisiting research for our future report with GSMA

Phase: Research / Build / Ship

Team: @adamlofting @LauraReynal
Consulted : @secretrobotron
Lead design: n/a
Lead dev: n/a
Quality: @thisandagain

Tracking in  https://github.com/MozillaFoundation/research/issues/21

[2015-03-17 14:28] cassiemc commented on #373
Hey @LauraReynal , this prep work looks great. Just a note – I didn't think we did kickoffs for p2s. @vazquez can let you know if he thinks he'll have time this heartbeat, given the teach stuff which is his P1. Not to be a downer. Hopefully there is time.

[2015-03-17 14:48] LauraReynal commented on #373
Oh sorry I did not know all of this. Chatting today with @secretrobotron and @vazquez
We can always reduce scope or push it to next heartbeat if needed.
Will update the ticket - thanks @cassiemc

[2015-03-17 15:12] iamjessklein commented on #387
:+1: I was commenting on the old ticket. I will comment on here from now on.

[2015-03-17 15:51] edrushka commented on #390
Tweak 'Foundation Opportunity' dashboard in Salesforce https://github.com/MozillaFoundation/Engagement/issues/5

[2015-03-17 15:55] secretrobotron commented on #390
What about triage? e.g. 308 open issues in https://github.com/mozilla-appmaker/appmaker/issues

[2015-03-17 15:58] secretrobotron commented on #390
Goggles:
* [Can't Publish Goggles Make on Chromebook  ](https://github.com/mozilla/goggles.webmaker.org/issues/197)
* [Clicking on username in publish dialog breaks experience](https://github.com/mozilla/goggles.webmaker.org/issues/194)

[2015-03-17 16:02] edrushka commented on #390
Agree: we'll likely need to triage if decide to roll with this idea.

[2015-03-17 16:10] LucyeoH commented on #390
Reports of the key not working: https://github.com/mozilla/login.webmaker.org/issues/313

[2015-03-17 16:10] LucyeoH commented on #390
Re-directing from defunct badge pages: https://github.com/mozilla/webmaker.org/issues/1326

[2015-03-17 16:15] secretrobotron commented on #391
@LauraReynal do you mind throwing in a "Goal" statement for context (or is it just that same as what's in https://github.com/MozillaFoundation/research/issues/21?)?

[2015-03-17 17:03] LauraReynal commented on #391
Updated the initial ticket - but its the same as what's in MozillaFoundation/research#21

[2015-03-17 17:25] adamlofting commented on #53
Architecture question which impacts analytics (and UX):
* When a user is viewing the login page, what URL (domain) are they on?

This is a consideration for how we track login for user on *.webmaker.org vs a user on teach.mozilla.org (GA account IDs change and so on).

[2015-03-17 17:54] thisandagain commented on #53
Follow-up note from our 1:1 – Given that we have some content that needs to vary here as well (value proposition & logo) we may want to consider having one server that listens on two domains or URLs. That would make distinguishing between referring links easier as well as possibly resolve some of the branding issues (`teach.mozilla.org` users being redirected to `login.webmaker.org` for example).

[2015-03-17 18:04] hannahkane commented on #338
Update for interested people:

We invited the team working on new login to join our stand-up today, but it was a little premature since we haven't had the login kick-off yet. Regardless, was good to have everyone on the call.

Assigned several tickets to begin work today - building the static pages that aren't blocked on design, and wiring up all of the modal stuff.

[2015-03-17 18:04] hannahkane commented on #285
Update for those who are interested:
During today's stand-up, Jess and Ricardo assigned themselves to the last few full page designs that need to happen. woot!

[2015-03-17 19:59] OpenMatt commented on #347
Outstanding work on this. @amirad can you update based on the feedback you got today, and update here when complete?

[2015-03-17 20:08] secretrobotron commented on #53
Notes from hangin' out with @hannahkane, @jbuck, @thisandagain, and @Pomax
* ~~Doesn't need to be unified with webmaker accounts (2 separate user tables)~~
* Can sign in via webmaker OAuth to teach.mozilla.org
* Need to design OAuth dialog right meow :cat:
* Pay attention to conversion wrt OAuth flow
* Can send out two signup emails: one for webmaker, one for teach.mozilla.org
  * Or, just change

[2015-03-17 21:00] HPaulJohnson commented on #242
Summary for easy reading and as we explore whether this ticket can be rolled into #53.

We need a better solution to support transactional/triggered emails from webmaker.org and teach site. The welcome email triggered at login is the first example of this but there can/will be many more instances.

The key requirements are:

- Content management system that allows marketing/engagement/comms to add

[2015-03-17 22:09] amirad commented on #347
Thanks for all your help @OpenMatt!!! I just updated the doc with Ops feedback and concerns. Think I'm good to delete the ops comments unless we still need them?

[2015-03-17 22:09] xmatthewx commented on #377
Two best places to track this work

 - Notebook: Feature scope, WIP screens, link to benchmarks
  - http://bit.ly/webmaker-ui-notebook
 - Issue Milestone:
   - https://github.com/mozilla/webmaker-desktop/milestones/Unified%20UI

[2015-03-17 22:30] chrislarry33 commented on #347
Amira, I think it might be worth posting to your blog, post integrating Ops feedback, even if we flag "still thinking about this part"

[2015-03-17 23:50] simonwex commented on #53
It's worth mentioning that we should add the teach.mozilla.org site to a whitelist. This means the user won't be prompted with a decision as is often the case in typical (and problematic) OAuth flow.

@adamlofting do we have a preferred method for measuring user-perceived response-time for the login steps? By choosing the redirect approach, I think this will be a very important factor wrt conversi

[2015-03-17 23:53] #299 closed

[2015-03-18 09:58] adamlofting commented on #53
We don't have a preferred method for perceived-load time, but I'd encourage a dev iteration to work specifically on this issue if we can afford it. Our own perception as users, along with some browser-rendering-time data should make a good dent on this.

Slightly slower loading time can lose a percent or three of the conversion rate, so it's important, but it's a lesser impact than UX, messaging a

[2015-03-18 11:40] adamlofting opened #392 "Dashboard active users KPI"
Our dashboard shows traffic, conversion and retention. Which rolls up into the number of active users. Active users (aka relationships) is the number we are reporting on in out joint MoCo reports so we should surface this on our dashboard too.

### Audience
1. Staff who care about these numbers
2. Community invested in the success of Webmaker

### Success
This number is included on our dashboard.

[2015-03-18 11:44] adamlofting opened #393 "Ignore this - I'm Testing for a bug in the Add form"
Ignore this - I'm Testing for a bug in the Add form

### Audience
Ignore this - I'm Testing for a bug in the Add form

### Success
Ignore this - I'm Testing for a bug in the Add form

### Vision
Ignore this - I'm Testing for a bug in the Add form

### Measurement
Ignore this - I'm Testing for a bug in the Add form

### Roles
 * Phase:
 * Driver:
 * Decision Maker:
 * Design Lead:
 * Development Le

[2015-03-18 11:45] #393 closed

[2015-03-18 11:54] adamlofting opened #394 "Socialize the new metrics.webmaker.org dashboards"
We have a selection of dashboards in use, and in development at https://metrics.webmaker.org - the people these dashboards were built for know they exist, but we should surface them more broadly for the rest of the team and integrate them more closely into build.webmaker.org

### Audience
1. Program owners and Managers
2. All staff working towards these KPIs
3. Interested staff and contributors

#

[2015-03-18 12:06] adamlofting opened #395 "Figure out how to effectively measure and dashboard our "cities" KPI"
Our primary KPI for Learning Networks Team is "number of cities". But we don't currently have a way to measure this in a simple and automated fashion. Being able to measure this is an important step in being able to manage/grow this number over the course of the year.

### Audience
1. Learning Networks Team
2. Ops and Board and MoCo Reporting
3. MoFo staff and Contributors

### Success
Learning Ne

[2015-03-18 12:55] adamlofting commented on #287
@HPaulJohnson do you want to assign this to me to drive this for the next stage? I can check in with @KevZawacki on your discussions about this so far.

[2015-03-18 14:16] iamjessklein commented on #387
Based on the conversation with @LauraReynal here is a new iteration:

![journey2](https://cloud.githubusercontent.com/assets/535012/6710545/d97da43a-cd57-11e4-8655-53aa1f637112.PNG)

[2015-03-18 14:39] LucyeoH commented on #390
Goggles not working properly on IE: https://github.com/mozilla/goggles.webmaker.org/issues/199

[2015-03-18 15:02] LauraReynal commented on #387
Hey @iamjessklein I love the new direction ! thanks for working on it :smile: :cat:
A few notes :
- Title : The Web Journey
- Replace "Aware" by "no use"
- Move basic use further down, so it does not stand at the same level as those who dont use the web
- Remove the consumption
- keep leverage and creation at the same level

[2015-03-18 15:05] secretrobotron commented on #387
How about "inexperienced" or something like that?

Replace with something better?

[2015-03-18 15:06] secretrobotron commented on #387
Hahaha also, @iamjessklein the *Aware* lady looks straight-up upset.

[2015-03-18 15:16] LauraReynal commented on #387
Just did another call to check in with @iamjessklein
We should have the final version today, including motivators.

- The woman will look less upset
- @secretrobotron Keeping "no use" as in the report - we describe it like this everywhere.
- Consumption just goes out since its implied in leverage and described in the report anyway :)
Its just going to be leverage and creation

[2015-03-18 15:17] LauraReynal commented on #387
@iamjessklein could you make the final version on a white or transparent background ? It will be easier to insert it into the report this way. Thanks !

[2015-03-18 15:34] OpenMatt commented on #394
- this is some absolutely outstanding work from @adamlofting that I encourage everyone to take a look at.
- @thisandagain @ldecoursy @edrushka  as Adam outlines above, right now https://metrics.webmaker.org is password-
protected. But we'd like to make as much of it as possible open by default.
- Can you have a look and flag anything that you think needs to be kept private?
- @adamlofting: right n

[2015-03-18 15:35] OpenMatt commented on #394
@adamlofting : for updating the link on build.webmaker.org, is the proposal simply to replace the current "dashboards" link from https://mozillafoundation.geckoboard.com/dashboards/F62088172D822E2A to https://metrics.webmaker.org ?

[2015-03-18 15:39] LauraReynal commented on #387
Hey @iamjessklein here is the picture
![webjourney sketch](https://cloud.githubusercontent.com/assets/8261945/6712535/f969bb44-cd84-11e4-857f-2bd62883a350.jpg)

[2015-03-18 15:42] OpenMatt commented on #347
@amirad looks good.
* Agree with Chris -- can we move this out of google doc now and post on your blog in HTML form?
* Can your cross-post to the Webmaker blog as well?

[2015-03-18 15:43] adamlofting commented on #394
Thanks @OpenMatt :smile:

I think there's some discussion to have here about whether we want a single MoFo dashboard with the KPIs for all teams together, and/or team specific views which dig into more detail. The existing dashboard is just for product metrics at the moment. There's a case for a really clean and crisp version for a cold audience to grasp quickly too.

Yep, that will be simple enou

[2015-03-18 15:45] OpenMatt commented on #347
Something that came out of this that I thought was helpful, in terms of understanding the production (e.g., design / engineering) dependencies for 2015 Maker Party success:
1. teach.mozilla.org (tracking to May 1)
2. badges (esp.: improve existing platform vs. move) (work we do on badges will have MP impact -- good to be explicit about this)
3. events platform (less critical than previous years --

[2015-03-18 16:15] OpenMatt commented on #394
Ok thanks Adam. I'd still advocate for just making a straight swap at this point. Then adding to / forking https://metrics.webmaker.org as we go. But let's see what others thing.

[2015-03-18 16:18] OpenMatt commented on #390
Update strategy link on build.webmaker.org https://github.com/mozilla/webmaker.org/issues/1382

[2015-03-18 16:42] secretrobotron commented on #242
:+1:
Confirmed with @ScottDowne and @simonwex:
* Apostle is the way to go
* Keep it separate from teach login integration for this heartbeat (and until review is done)
* Start sec review on Apostle right away ( @simonwex )
* @ScottDowne's [pull request](https://github.com/mozilla/sawmill/pull/35/files) is a draft implementation

[2015-03-18 17:45] OpenMatt commented on #286
@k88hudson joined to help us with some of this assessment

[2015-03-18 17:46] iamjessklein commented on #387
so much clearer :wink:

[2015-03-18 17:52] Roberto-Cruz commented on #379
Please, visit one more time the Redpden project. I recently update it according to the last round of feedback

https://redpen.io/pj38df7e097269e249

[2015-03-18 17:53] OpenMatt commented on #286
More context on future potential badge feature requests: https://wiki.mozilla.org/Learning/Networks/Product-Roadmap

[2015-03-18 18:11] OpenMatt commented on #286
* We should also include an analysis of a third-party option like https://credly.com

[2015-03-18 19:37] simonwex commented on #390
@LucyeoH there's ongoing work to replace the key system in login. It's working for me, so is not a complete system outage.

[2015-03-18 19:41] simonwex commented on #390
@edrushka I think this group of issues is already too much for this milestone. -- mostly because we hadn't planned on this during prioritization and don't have a "full-time" person this HB. We need a better way of triaging issues across all of our projects to make good use of this ticket.

[2015-03-18 19:54] iamjessklein commented on #387
Here you go - this has a transparent background.

![webjourney-final](https://cloud.githubusercontent.com/assets/535012/6718019/ea0d799a-cd86-11e4-9a5e-c90e67623c07.png)

@LauraReynal @secretrobotron

[2015-03-18 19:58] edrushka commented on #390
Agree. The number of issues that have been added indicates that perhaps we're not triaging properly in our Monday calls. Should I close this ticket for now so people don't continue adding to it?

[2015-03-18 21:04] hannahkane commented on #394
This is so great, @adamlofting.

Re: the Learning Networks KPIs, I'm curious about how we will count Cities and People (see https://github.com/mozilla/teach.webmaker.org/issues/323 for a relevant conversation).

I hope to get to a point where Hives and Clubs (as well as Maker Parties, and Groups - which is a new concept we're discussing) are automatically counted via the Teach site, with little ne

[2015-03-18 22:00] edrushka commented on #394
Wow...this is amazing!!! I never use emoji, but here, please accept this dromedary camel :dromedary_camel: and sweet potato :sweet_potato: as tokens of my admiration.

I like the idea the team-specific views, although if you want to add a single Mofo-wide metric that might be helpful for Mark and Ops.

I did not see anything that should remain private.

2 questions:
- I imagine once these dashboar

[2015-03-18 23:14] amirad commented on #347
Yes to talking through all the product/team requirements now that we know the plan. Will need to heavily loop in @hannahkane for platform discussions

Did a post on my blog here: http://amiradhalla.com/2015/03/18/maker-party-2015-the-evolution-of-a-year-long-party/
Will cross-post on Webmaker soon. (edited it a bit for public reading and took out specific team members names/roles)

[2015-03-19 15:34] iamjessklein commented on #382
Pinging @cassiemc as I am overbooked with my P1 and P2s

[2015-03-19 15:35] cassiemc commented on #382
Cool thanks for the headsup Jess. Assigning @flukeout since he's the 'on-call' designer this heartbeat. @Melechuga / @edrushka Can you please ping us with a link to review?

[2015-03-19 15:43] LauraHilliger commented on #388
[updated] meta ticket from the teach repo https://github.com/mozilla/teach.webmaker.org/issues/100

[2015-03-19 16:22] flukeout commented on #382
Hey @edrushka - let me know where to look and I'll get right on it!

[2015-03-19 16:29] edrushka commented on #379
@alicoding We've finalized the design. @Roberto-Cruz will get you the design file.

[2015-03-19 16:30] edrushka commented on #382
Awesome! Thanks, Luke. @Melechuga has the files.

[2015-03-19 16:38] Roberto-Cruz commented on #379
@alicoding here is the file. If you need anything else please let me know.

https://drive.google.com/a/mozilla.com/file/d/0B4q3TCz6z_aJNjFxX3hUUkkxQ2c/view?usp=sharing

[2015-03-19 17:16] OpenMatt commented on #394
These are all good questions -- but also: let's not increase the scope here or inundate poor Adam with too much complexity... :) We're mostly just trying to ship what already exists. This is version 1.

[2015-03-19 17:18] OpenMatt commented on #394
* Hannah: thanks for referencing that ticket. I believe the questions you raise around how to data for the cities KPI will be one of the questions for discussion in the Learning Networks program review.

[2015-03-19 17:35] adamlofting commented on #395
@ldecoursy @hannahkane @thornet and I just started this conversation on a call today. But we will dig into these questions and the details in the next heartbeat

[2015-03-19 18:29] alicoding commented on #379
@edrushka @Roberto-Cruz the only thing I'm still unclear about is where the form should submit to. Not sure if you guys have any technical information about that available for me to start working on this?

[2015-03-19 18:38] edrushka commented on #379
The form should link to this page, updated for 2015 https://sendto.mozilla.org/page/s/mozfest2014-save-the-date

This looks like a BSD thing to me. I'm tagging @valianttry who has hired a BSD contractor who can hopefully take care of the details. Not sure of his (the contractor's) actual start date, so @Saallen if you can help, that might speed things along.

[2015-03-19 18:41] k88hudson commented on #351
Tickets for teach: https://github.com/mozilla/teach.webmaker.org/issues?q=is%3Aopen+is%3Aissue+label%3A%22Automated+tests%22

I'm using an "automated tests" label

[2015-03-19 19:06] Melechuga commented on #382
Hey @flukeout  thanks! Just sent you an email with images. Let me know if I can provide any more details! M

[2015-03-19 20:00] edrushka commented on #380
@thisandagain says we can move this to build.webmaker.org! Next step, I think, is for @simonwex to assign a dev. She/he can connect with @KevZawacki who is maintaining the calendar.

[2015-03-19 20:16] amirad commented on #347
Webmaker blog for MP: https://blog.webmaker.org/maker-party-2015-the-evolution-of-a-year-long-party

Before I close the page, do we want to set up additional issues for the points @OpenMatt mentioned above or meet next week and go through them first?

[2015-03-19 20:33] chrislarry33 commented on #395
Thanks Adam, big help. We really want to get better at this and do it right.

[2015-03-19 20:33] chrislarry33 commented on #347
Love it, thanks all

[2015-03-19 20:38] #192 closed

[2015-03-19 23:27] edrushka commented on #379
The comment above is incorrect! Signing up on the MozFest site should not link to a second signup page. Sorry for the confusion!

[2015-03-20 09:09] Saallen commented on #379
Last year, you clicked on a button  "Save the Date" and it brought you to the BSD page. @thornet are you able to confirm the actions for Save the Date last year and how we captured peoples email address?

[2015-03-20 10:34] LauraReynal commented on #387
Tracking progress here : https://github.com/MozillaFoundation/research/issues/2

[2015-03-20 10:46] adamlofting commented on #394
@edrushka that's a good combination of emjoji and ideas :panda_face: I've filed the color coding as a future enhancement here: https://github.com/mozilla/webmaker-metrics/issues/26

@hannahkane we've talked this through since, but I think we're on the same page with this. The teach site will automate most of this. :bear:

:smile:

[2015-03-20 14:44] jdotpz commented on #366
Today's update:
wmappcluster and wmapp2cluster are live, combining:
goggles, popcorn, thimble, webmaker-profile2(wmappcluster), wmscreenshot, events, events-api, and wmpublisher(wmapp2cluster).
All the deploy scripts have been repointed.

![screen shot 2015-03-20 at 9 42 23 am](https://cloud.githubusercontent.com/assets/1373628/6753649/9c6a8fc4-cee5-11e4-996c-4a712fd2489f.JPG)

[2015-03-20 14:46] jdotpz commented on #366
We're at about 25% savings so far from where we started.
Next week, I'll knock it down a bunch more (or over the weekend) by combining 5 apps into 2 clusters (badgekit, badgekit-api, openbadges, badgekit-mozilla, badgekit-api-mozilla).
Then, I can likely cluster another number apps together in the same cluster architecture, and we'll be able to do at least some reserved instances for some really b

[2015-03-20 15:06] hannahkane commented on #394
:rabbit: :hatching_chick: :tulip:

[2015-03-20 15:22] alicoding commented on #379
@edrushka how do I get access to the current wordpress site? I just finish installing Wordpress on my local machine but still lots to setup to make it look the same as mozfest live site.

[2015-03-20 15:28] adamlofting commented on #394
* These are now public by default at https://metrics.webmaker.org/dashboards
* I've added a [MoFo report](https://metrics.webmaker.org/dashboard/mofo-kpis) with Cities and People to match https://wiki.mozilla.org/Foundation/2015/Q1
* The only restricted report is the RIDs report. Though there's no data visible currently, this includes traffic from partner sites which they might prefer us not to sh

[2015-03-20 15:30] edrushka commented on #379
@alicoding I just made you an account. Will PM you the password. Also, have you seen this ticket that Mavis completed. It contains epic amounts of WP info: https://github.com/MozillaFoundation/movement-building/issues/22

[2015-03-20 16:55] simonwex commented on #366
Awesome, thanks for pushing on this, @jdotpz!

[2015-03-20 16:55] simonwex opened #396 "Play game of tic-tac-toe"

[2015-03-20 16:57] simonwex commented on #396
| :x: | :white_large_square:  | :white_large_square:  |
|---|---|---|
| :white_large_square: | :white_large_square: | :white_large_square: |
| :white_large_square: | :white_large_square: | :white_large_square: |

[2015-03-20 16:58] secretrobotron commented on #396
| :x: | :white_large_square:  | :white_large_square:  |
|---|---|---|
| :white_large_square: | :white_large_square: | :white_large_square: |
| :whale: | :white_large_square: | :white_large_square: |

[2015-03-20 18:46] simonwex commented on #396
| :camel:  | :white_large_square:  | :camel: |
|---|---|---|
| :white_large_square: | :white_large_square: | :white_large_square: |
| :whale: | :white_large_square: | :white_large_square: |

[2015-03-20 18:50] secretrobotron commented on #396
| :camel:  | :facepunch:  | :camel: |
|---|---|---|
| :white_large_square: | :white_large_square: | :white_large_square: |
| :whale2: : | :white_large_square: | :white_large_square: |

[2015-03-20 18:53] simonwex commented on #396
| :camel:  | :facepunch:  | :camel: |
|---|---|---|
| :white_large_square: | :white_large_square: | :white_large_square:  |
| :whale2: : | :white_large_square: | :camel: |

[2015-03-20 18:56] secretrobotron commented on #396
| :camel:  | :whale2:  | :camel: |
|---|---|---|
| :white_large_square: | :white_large_square: | :facepunch:  |
| :whale2: : | :white_large_square: | :camel: |

[2015-03-20 18:56] secretrobotron commented on #396
:(

[2015-03-20 19:01] secretrobotron opened #397 "Figure this out"
`_  ___'_   _______   _   ____   ____   ___   __   ___ - ___ - ___`

TRIES: 12

[2015-03-20 19:04] simonwex commented on #396
:shipit:

[2015-03-20 19:04] #396 closed

[2015-03-20 19:06] secretrobotron commented on #397
github is bad at hangman

[2015-03-20 19:06] simonwex commented on #397
I was just about to say...

is it `_   ___'_   _______   _   ____   ____   ___   __   ___ - ___ - ___`?

[2015-03-20 19:13] simonwex commented on #397
`"i"`

[2015-03-20 19:17] secretrobotron commented on #397
:eyes: `___'_`   `___I___` :eyes:    `____ ____ ___ __   _I_ - ___ - ___`

[2015-03-20 20:11] simonwex commented on #375
I've emailed Paul and Ben to see where this code lives and what's involved in hosting it elsewhere.

[2015-03-20 20:24] simonwex commented on #209
How'd it go?

[2015-03-20 20:30] pmclanahan commented on #375
He did indeed. We can discuss here though if you'd rather. Basic info is:

* Wiki: https://wiki.mozilla.org/Websites/Glow_2014
* Mana: https://mana.mozilla.org/wiki/display/websites/webwewant.mozilla.org
* Github: https://github.com/mozilla/mrburns/
  * Readme for worker daemons: https://github.com/mozilla/mrburns/blob/master/smithers/README.md

[2015-03-20 21:16] #387 closed

[2015-03-20 21:25] simonwex commented on #375
Thanks for hopping in here, @pmclanahan. How do the raw logs get from download.mozilla.org into smithers/bart right now?

[2015-03-20 21:51] pmclanahan commented on #375
the load balancer sends the d.m.o logs to rsyslogd on the primary web server, which formats and sends the output to a file. bart.py moves that file to a timestamped file and sends SIGHUP to rsyslogd every minute to get a minute's worth of logs, then gets the IPs and throws them onto the queue in Redis. lisa.py then processes that log.

[2015-03-20 23:31] flukeout commented on #382
@Melechuga Replied - let's connect on Monday if you need any help with the suggestions I made.

[2015-03-21 14:10] chrislarry33 commented on #209
It went well. Paul has the most info and is on PTO.

[2015-03-21 14:53] chrislarry33 commented on #394
Whoa, thanks so much @adamlofting !!!! Really feeling the progress here in how the thinking and tools are progressing. Please know that while I am not in all the meetings I am in constant dialogue with my team, following these tickets and excited about the progress.

[2015-03-23 11:04] LauraHilliger opened #398 "[OPS] Media Release form creation"
Please advise if I should be filing this in Bugzilla?

We need a simple media release for for Clubs organizers to download and print. Conversation started here:

https://github.com/mozilla/teach.webmaker.org/issues/313

Maybe something like this already exists from legal?

[2015-03-23 14:40] cassiemc commented on #53
@secretrobotron I don't think the milestone listed above (https://github.com/mozilla/webmaker.org/milestones/Login) is showing all open issues here -- they seem to just be design tickets. @alicoding and I were discussing this morning and would like to break the design tickets into more issues so that it's clearer what is finalized and what is still WIP. I can do that, but not sure if this is the r

[2015-03-23 14:48] jdotpz commented on #366
This morning I migrated all the badging infra to the new clusters, and have scaled down the old clusters.  I'll get a cost update for this change tomorrow when our costing bucket gets its files, and I'll have my eye on this infra today.

Over the weekend, I got alerted that we were filling up logs.  wmappcluster was storing a couple gigs of logs for thimble and goggles, and put together, it was br

[2015-03-23 15:04] secretrobotron commented on #53
Yeah, my bad. I assigned a couple to you and marked them with design. Here's the milestone though: https://github.com/mozilla/id.webmaker.org/issues?q=is%3Aopen+is%3Aissue+milestone%3A%22Teach+Implementation%22

[2015-03-23 15:06] cassiemc commented on #53
Great, thanks @secretrobotron! I updated the ticket overview in the first comment with this link and am going to move design tickets over there / break them down more.

[2015-03-23 15:14] secretrobotron commented on #242
@simonwex any news on Apostle review?

[2015-03-23 15:38] ScottDowne commented on #242
@secretrobotron I'm submitting it. I had some questions about @simonwex 's instructions so once I get a few answers I should be good to kick this off. The weekend caused a delay here.

I need to know when we expect this to release. I feel like March 27th (listed in this bug is too soon for the review?) But not sure how long I should expect a review to take.

[2015-03-23 16:06] secretrobotron commented on #242
This ticket will definitely have a follow-up. March 27 isn't an implementation deadline. Let's just make sure the process is started this week.

[2015-03-23 16:07] ScottDowne commented on #242
The process to start is a form that has a due date as a required field.

I need to put *something* in to start the process.

[2015-03-23 16:11] secretrobotron commented on #242
Ah. @HPaulJohnson or @hannahkane might have an opinion. Would be nice to have the review done by March 27, but I'm not sure how long they might take. @simonwex might have some idea though.

[2015-03-23 16:47] cassiemc commented on #390
Would like to get this taken care of as soon as we can. @simonwex? https://github.com/MozillaFoundation/plan/issues/352 ( see also https://github.com/mozilla/webmaker.org/issues/1385)

Is there a milestone we can add that issue to? What's the best process for this @OpenMatt @edrushka ?

[2015-03-23 17:10] davidascher commented on #242
Just say ASAP / March 27
​

[2015-03-23 17:34] Melechuga commented on #382
@flukeout Fab; just pinged you with more questions. If it's more convenient to go through this on IRC or Skype, let me know. M

[2015-03-23 18:26] LauraReynal commented on #258
cc @secretrobotron

[2015-03-23 19:00] HPaulJohnson commented on #209
Productive discussion, mostly around branding architecture. Main objectives were:

- Determine brand attribution for Webmaker software products
- Determine brand attribution for Webmaker learning & teaching programs
- Create framework for consistent naming conventions

See MEM's deck here: https://docs.google.com/presentation/d/1bEXABUxVVQVOhRPtpvSTIn7MKYuyH7Nq8WwoIxu1XC4/edit#slide=id.g8dd60ced1_

[2015-03-23 19:43] valianttry commented on #379
@edrushka our contractor is mostly just helping with email production, Mavis is probably the best person to help stand up a new email opt-in.

[2015-03-23 20:20] ldecoursy commented on #339
Just made this a P1 for next heartbeat per TPS check-in call.

[2015-03-23 20:45] edrushka commented on #390
Placing this here until we sort out a different system for misc tasks https://github.com/MozillaFoundation/movement-building/issues/23

[2015-03-23 23:22] edrushka commented on #379
I chatted with Andrea and she can create the BSD group.

@Saallen or @thornet can you please outline if you simply want a clone of the 2014 "more info" group (if there was one) or if you want something different. Andrea's reachable on Skype (Pacific time) if you need to connect with her directly.

[2015-03-23 23:25] edrushka commented on #378
Update: MoCo is doing some redesign work on Moz.org so we'll see what they need before moving ahead with this project. There's a meeting Wed Mar 25. I'll update afterwards if there's news.

[2015-03-23 23:31] edrushka opened #399 "Update advocacy site with NN win graphic"
This ticket https://github.com/MozillaFoundation/movement-building/issues/18 got stalled with the Advocacy team and was languishing in /movement-building. Needs a tiny bit of design (tweaking Jess' design) and then the build.

Driver: @edrushka
Dev:
Design: @flukeout
Decision-maker: @valianttry
Consulted: @HPaulJohnson @DaveSteer @melechuga

[2015-03-23 23:32] edrushka commented on #399
### To Do:
Based off this redpen https://redpen.io/mj6366fbe60426efd6 please do the following:
1) change background to white
2) if the building needs a background coloured square, that's fine. Try to minimize the red/white/blue American vibe as much as possible.
3) Remove the Read More button. That should be a hyperlinked 'Read more' line of text at the end of the the paragraph.
4) Overall, this b

[2015-03-24 11:01] LauraHilliger opened #400 "[OPS] Delete Asana workspaces and accounts"
Adam's recent email reminded me to clean up my data trail across the web, and today I found our old Asana workspaces and deactivated, then permanently deleted my data from their service. Might be a good idea for Mofo to delete the Foundation workspace, as well as user data (which includes stuff from late 2012 & 2013)

Whomever set that up must have access (perhaps @OpenMatt ?), otherwise, I can re

[2015-03-24 11:40] LauraHilliger commented on #397
"n"

[2015-03-24 12:06] adamlofting commented on #394
This will be embedded in build.webmaker.org soon.

There is a Pull Request open that just needs a review: https://github.com/mozilla/build.webmaker.org/pull/68

[2015-03-24 13:42] davidascher commented on #397
Always start with E.

E?

[2015-03-24 13:53] LauraHilliger commented on #397
@secretrobotron this is a P1! I can't imagine there is neither e nor n!

Next letter is "a"

[2015-03-24 14:18] davidascher commented on #400
I think that's on me.

[2015-03-24 14:47] jdotpz commented on #366
![screen shot 2015-03-24 at 9 46 50 am](https://cloud.githubusercontent.com/assets/1373628/6804257/bbc6e43a-d20a-11e4-9603-b2781c0b215f.JPG)

[2015-03-24 14:47] jdotpz commented on #366
So far, ~26% reduction in cost prior to reserving instances.

[2015-03-24 18:24] Melechuga commented on #382
Hey @edrushka Just wondering if Studio MoFo has access to vector versions of Moz Advocacy logos, and if so, if you could please share them with @flukeout.  I see that we have stuff on the Mozilla Assets site (https://assets.mozillalabs.com/Brands-Logos/Mozilla%20Advocacy/) but they're restricted. Any idea what's there, and if we can make them accessible? Thanks.

[2015-03-24 18:40] edrushka commented on #382
Hmmm. Those logos definitely shouldn't be restricted. I wonder if that error message is due to that assets page being transferred to the DAM (Digital Assets Management system). I tried searching for the Advocacy assets from the DAM here https://assets.mozilla.org/portal/assets/#category/16 but couldn't find anything. @sabrinang any idea where the logos are? I can contact someone from the DAM team

[2015-03-24 19:19] LauraReynal commented on #397
N ?

[2015-03-24 19:26] flukeout commented on #399
@edrushka Do you know where I can get the source files to make the changes?

[2015-03-24 19:37] edrushka commented on #399
@iamjessklein should have them

[2015-03-24 21:46] hannahkane commented on #285
Update: There are currently 5 remaining tickets in the Design queue.

https://github.com/mozilla/teach.webmaker.org/issues?q=is%3Aopen+is%3Aissue+label%3Adesign+milestone%3A%22March+27%2C+2015%22+label%3Aplatform

Based on today's stand-up, they are all likely to finish by the end of the heartbeat, with the exception of the "CSS fixes" ticket which will likely take another day.

[2015-03-24 22:19] hannahkane commented on #338
An important update for anyone interested in the Teach v1 release schedule!

/cc @chrislarry33 @ldecoursy @thornet @amirad @davidascher @OpenMatt @simonwex @cassiemc @toolness @ScottDowne @iamjessklein @vazquez @gesa @alicoding @jbuck @jdotpz @HPaulJohnson @KevZawacki

**Bottom line:** Though it's possible we could be ready to release on Monday, I think it would be wiser to plan to delay for at le

[2015-03-24 22:38] hannahkane opened #401 "Conduct usability and qualitative tests on v1 of teach site"
### RACI ###
Driver: @hannahkane
Responsible: @hannahkane and @iamjessklein
Consulted: @adamlofting

Once the site is on production, we plan to conduct two kinds of tests:

1) Usability tests with a small handful of Club leaders.

2) Collect general impressions from a random sample of users via usertesting.com

The plan is outlined here: https://docs.google.com/a/mozillafoundation.org/document/d/1

[2015-03-24 22:49] hannahkane commented on #286
@k88hudson did awesome work here: https://drive.google.com/a/mozilla.com/file/d/0B9Spnx3qAl7pclBXWXBoQUppV0E/view?usp=sharing

Still to do this heartbeat: make a decision about how to move forward!

Flagging @simonwex for next steps, including perhaps a discussion of credly as a viable option?

[2015-03-24 22:52] flukeout commented on #399
Okay - I pinged Jess for the files, stay tuned!

[2015-03-24 22:54] chrislarry33 commented on #338
Thanks @hannahkane these recommendations make sense to me and I say lets move forward as you suggest

[2015-03-24 22:56] simonwex commented on #286
I've requested a walk-through of the credly system. -- it's part of their sales process, but I've asked for a pretty high-level of tech. I'm hoping for it to be scheduled this Thursday.

[2015-03-24 22:57] simonwex commented on #286
Meeting with @toolness, @k88hudson and @ScottDowne on Thursday to discuss tech. I'll update this ticket.

[2015-03-25 11:36] LauraHilliger opened #402 "Check Discourse install for S3 image uploading"
Discourse is deprecating support for storing uploaded images on S3:
https://meta.discourse.org/t/warning-amazon-s3-is-deprecated-in-1-3-for-image-attachment-storage/26594

Dirk sent me a note, but I'm not sure if that was how we setup our discourse forum, so I'm hoping someone can check.

cc @jdotpz

[2015-03-25 13:15] iamjessklein commented on #338
:+1:

[2015-03-25 13:50] adamlofting opened #403 "A Dashboard for Engineers"
Things can go wrong with our products without us knowing, and it's hard to see at a glance where efforts are best spent optimizing our engineering output across our many sites and repositories.

We want to give engineers clear visibility into the metrics they have agency over, in order to improve the experience for end-users of our products, and our contributors, and the engineers too.

The metric

[2015-03-25 13:52] adamlofting commented on #403
cc/ @simonwex
(I'm going to file a separate ticket for the DevOps piece)

[2015-03-25 17:45] DaveSteer commented on #370
Let's add a deadline for this. @Melechuga can you specify? Seems like it needs to be ready by 1st/2nd week of April.

[2015-03-25 18:15] thisandagain commented on #403
Excellent. Some of these items are particularly helpful for user support and prioritizing triage as well. The only thing I would add is error counts / rates (HTTP errors and exceptions from both API and client-facing services).

[2015-03-25 20:42] secretrobotron commented on #53
Spoke with @thisandagain and @hannahkane today about what we'll ship this week.
- Going to push for getting all implementation done for teach
- Next heartbeat will have a followup for QA, testing, and shipping
  - @hannahkane and I will coordinate QA efforts and the beginning of next hearbeat
- Will review this on Friday as well

[2015-03-25 22:17] secretrobotron opened #404 "Ship new login system on teach.mozilla.org"
Continuation from #53 to ship on teach.mozilla.org.

Todos:
- [x] Design QA
- [x] Copy QA
- [x] Functionality QA
- [x] Test coverage
- [x] Staging
- [x] Prod

Milestone:
https://github.com/mozilla/id.webmaker.org/milestones/Teach%20QA%20and%20Launch

### RACI
Phase: QA / Ship
Owner: @secretrobotron
Decision: @davidascher
Lead design: @cassiemc
Lead dev: @jbuck
Dev: @cadecairos
Quality: @simonwex
M

[2015-03-25 22:26] sabrinang commented on #382
You can download logos here: http://people.mozilla.org/~smartell/advocacy/mozilla-advocacy_branding-assets.zip

Darn, I guess they haven't transferred everything to DAM yet. (Let me know if it doesn't work I have it backed up on the ol' studiomofo dropbox as well)

[2015-03-25 22:28] flukeout commented on #399
@iamjessklein I got your link with source files, but don't see anything that matches the graphic in the redpen link posted by @edrushka -> https://redpen.io/mj6366fbe60426efd6

Do you have source files for this specific redpen image. Is this a screencap of a site that already exists?

These are the Net Neutrality source files I have, but don't see that specific banner in there: https://www.dropbox

[2015-03-25 22:29] flukeout commented on #399
@edrushka You asked to...

```5) Align the buttons in the Take Action section.```

In the redpen image I don't see any buttons in the Take Action section, it cuts off right below the title. I feel like I'm missing something. Here. Hit me up on IRC or Vidyo.

[2015-03-25 22:37] secretrobotron opened #405 "Prototype new Webmaker navigation and "tiles" feature"
#### Goals
- Prototype new features on desktop and mobile
- Prepare user tests for @LauraReynal's Chicago research trip
- Produce documentation and architectural diagrams for the next phase of work. Need to make a few decisions regarding the tech stack:
    - Services
        - Publishing
        - Discovery
        - DB (Firebase?)
        - Offline
    - Application
        - Android strategy

[2015-03-25 22:49] Saallen commented on #379
Last year we emailed all those who signed up for festival updates 2014 key pieces of info along the Mozfest timeline- such as Call for Proposals going live, a reminder when the call closed and we let them know when tickets went on sale.

I would like to email those who signed up for Updates in 2014 about the new 2015 dates for this years festival.
I would like to point them to this years website a

[2015-03-25 22:52] edrushka commented on #399
https://www.dropbox.com/s/47tkyhsdzgc5wzr/Screenshot%202015-03-25%2015.41.16.png?dl=0

[2015-03-25 22:54] edrushka commented on #379
Did you mean Andrea? @valianttry

[2015-03-25 23:24] Melechuga commented on #399
@flukeout Link to download the MozAdv assets (same link as on the other issue): http://people.mozilla.org/~smartell/advocacy/mozilla-advocacy_branding-assets.zip

[2015-03-25 23:33] edrushka commented on #370
I added the deadlines above: Design Deadline: April 10 Build Deadline: April 22

[2015-03-25 23:47] valianttry commented on #379
@Saallen it's totally fine to target last year's mozfest attendees segment in BSD with mozfest 2015 emails. Do you feel like you have the know-how to set up an email in BSD? I can help ID the correct audience segment.

[2015-03-26 00:06] flukeout commented on #399
@edrushka https://redpen.io/rocd1eddab94645c2a

[2015-03-26 00:12] simonwex commented on #403
@adamlofting I believe the sec tool you're talking about is Minion. It's in the middle of a complete overhaul, we should check in with Yvan to see where that's at.

[2015-03-26 01:01] edrushka commented on #399
Nice! This looks good to me. Only change would be a period after the Read more. @valianttry can you please sign off so we can move to the build?

[2015-03-26 04:09] valianttry commented on #399
@edrushka This redpen is approved (by @DaveSteer as well), as long as the "take action" buttons are also aligned (that section was cutoff in the redpen image).

[2015-03-26 10:10] Saallen commented on #379
Sorry, I was not watching predictive text @valianttry :disappointed:
I will set up a new new email now in BSD and send you both a draft copy and get your feedback.
I believe I know the audience but will double check eveything with you pre-send. Thanks

[2015-03-26 10:15] adamlofting commented on #404
- [ ] Metrics QA

[2015-03-26 14:10] cassiemc commented on #404
@secretrobotron where are these tasks being tracked?

[2015-03-26 14:54] secretrobotron commented on #258
I don't think it's useful to specify what "LAN" means in this context, since the paragraph is defining what Lan Houses are, not LANs:

@LauraReynal ?

[2015-03-26 16:01] jdotpz commented on #403
I did a quick catchup with @adamlofting
Much of the existing dashboarding is in New Relic, so that will need some new options.  For error reporting, Loggins is a possibility.  For performance, well, not really too sure you're going to get the same views those dashboards currently give, at least not without writing Newer Relic. :)
For security, the MoCo security team itself told us to look at White

[2015-03-26 16:12] xmatthewx commented on #405
Related mobile milestone https://github.com/mozilla/webmaker-app/milestones/Prototypes

[2015-03-26 16:25] secretrobotron commented on #404
@cassiemc in the QA milestone. I'll put it in the description.

[2015-03-26 17:20] LauraReynal commented on #258
ok for me @secretrobotron

*Laura de Reynal*
Webmaker - Field Research
@lau_nk <https://twitter.com/lau_nk>
Skype: laura-dereynal

On Thu, Mar 26, 2015 at 2:54 PM, Bobby Richter <notifications@github.com>
wrote:

[2015-03-26 18:42] edrushka opened #406 "Discuss CRM opportunities with MoFos"
MoCo is currently investigating the broad adoption of a CRM. Let's discuss how the Foundation can be a part of this: what's the vision, what's possible, what are the steps and how you can help.

Andrea and I are currently planning a series of brownbags. Please stay tuned for more.

drivers: @edrushka and @valianttry

[2015-03-26 18:44] davidascher commented on #406
Drivers also include @adamlofting, because of the across-the-org data
impact.

[2015-03-26 20:10] #386 closed

[2015-03-26 20:11] ldecoursy commented on #384
Moving this to next milestone

[2015-03-26 20:15] ldecoursy commented on #398
@edrushka Do you happen to know best way to find out?

[2015-03-26 20:16] ldecoursy commented on #291
@hannahkane Just checking if we should close this and reference in another issue as part of Q2 planning.

[2015-03-26 20:22] hannahkane commented on #291
I'll open a ticket for Directory planning and put it in the next milestone. Will link to this for reference, but let's close this for now.

[2015-03-26 20:22] #291 closed

[2015-03-26 20:28] hannahkane opened #407 "Spec out phase 1 of the Learning Networks Directory project"
### RACI ###
 * Driver: @hannahkane
 * Dev lead: @toolness
 * Decision-maker: @chrislarry33
 * Consulted: @ldecoursy @thornet @leahatplay @jvallera @omnignorant

This will build on the Hive Directory project, and will extend functionality to all members of the Learning Networks community.

Some initial thinking is laid out here: https://docs.google.com/a/mozillafoundation.org/document/d/1drJH5M1tO

[2015-03-26 20:30] davidascher commented on #398
I'd file a bugzilla bug under Legal.

[2015-03-26 21:02] Saallen commented on #379
I have cloned a new Save the date form http://mzl.la/Mozfestdate-2015-
I created a new BSD email to send to a list of receipients which @thornet @valianttry @edrushka all recieved a draft copy of.

[2015-03-26 21:03] edrushka commented on #398
And / or search closed tickets on Bugzilla.

[2015-03-26 21:09] chrislarry33 commented on #386
wOOT....great job Lainie

[2015-03-26 21:31] OpenMatt commented on #406
cc @ldecoursy @chrislarry33

[2015-03-26 22:04] edrushka commented on #379
@alicoding do you have the information you need to complete this ticket?

[2015-03-27 00:34] simonwex commented on #339
Perfect timing, @ldecoursy. :tada:

[2015-03-27 01:05] hannahkane opened #408 "Cred.ly badges proposal"
### RACI ###
Drivers: @hannahkane and @simonwex
Consulted: @davidascher and @chrislarry33

Draft started here: https://docs.google.com/a/mozillafoundation.org/document/d/1dw1Do5tVdgLd4NahIHj6xqS0CX093eIDcjQP6TrrdQs/edit#

[2015-03-27 01:09] hannahkane commented on #286
@davidascher and @simonwex - are you ok with closing this ticket, given #408, which I just added?

[2015-03-27 01:22] iamjessklein commented on #401
It would be nice to test with internal staff from the Teach team, so that they can possibly go on to lead their own user tests with their constituents. :bulb:

[2015-03-27 06:30] simonwex commented on #408
Meeting with Credly Monday at 1:00pm PDT.

[2015-03-27 12:38] #388 closed

[2015-03-27 16:54] simonwex commented on #351
A lot of work has been done here this Sprint. This spans many projects including the new id.webmaker.org and teach.webmaker.org. Sharing out to the Engineering team; myself, Kate and Gavin will be hosting a session during the engineering monthly meeting next Wednesday April 1st.

[2015-03-27 17:38] HPaulJohnson commented on #287
Phase I (setup) of testing is now complete. Will open a new issue for phase II and analysis.

[2015-03-27 17:38] #287 closed

[2015-03-27 17:44] alicoding commented on #379
Sorry I got super distracted with the login heartbeat. I don't know if I'm going to be able to finish this today though?

cc @simonwex

[2015-03-27 17:45] HPaulJohnson opened #409 "Value Prop Testing w/ Adwords and Facebook, Phase II"
With initial Adwords campaign setup for value proposition messaging tests, we want to expand number of message variations we are testing, add in Facebook ads and complete initial analysis.

### Audience
Potential audiences for the new Webmaker product.

### Success
Directional insights on versions of messaging that will be most compelling to support the go to market for Webmaker.

### Vision
We wi

[2015-03-27 18:36] simonwex commented on #379
@alicoding don't sweat it, I'll get it assigned next week. We resourced this Heartbeat before we acknowledged that we have a lot of miscellaneous work to do.

[2015-03-27 18:53] simonwex commented on #286
@hannahkane yes, knowing that if credly isn't the path we end up going down, we'll open another issue.

[2015-03-27 18:53] #286 closed

[2015-03-27 18:55] k88hudson commented on #286
:dancer: :dancer: :dancer:

[2015-03-27 20:15] HPaulJohnson commented on #409
* re-assess Adwords results on Monday, 3/30 and adjust approach if impressions have not increased
* develop 2 additional tests for "learners vs. makers" and "fun vs. utilitarian"
* expand testing into FB
* discuss using dedicated landing page for ongoing testing to 1) improve Google quality scores and 2) to set appropriate expectations and capture interest in future Webmaker product/features.

See

[2015-03-27 20:16] HPaulJohnson commented on #352
Any update on this ahead of Monday's meeting?

[2015-03-27 20:26] edrushka opened #410 "Clean up data in preperation for migration off BSD"
We need to tidy up our current BSD data in preparation to move to another solution.

Driver @edrushka
Dev @simonwex
Consulted @valianttry
Informed @jbuck @ScottDowne @jdotpz

CRM conversations are underway: https://github.com/MozillaFoundation/plan/issues/406
Scoping has been started here: https://github.com/MozillaFoundation/2015-fundraising/issues/4

[2015-03-27 21:27] hannahkane commented on #285
All of the substantive design work for v1 is complete. The only remaining tickets are for CSS tickets and QA work, which will be covered by another /plan ticket in the next heartbeat.

Woohoo! Nice job, @vazquez, @iamjessklein, and @cassiemc!!!

[2015-03-27 21:27] #285 closed

[2015-03-27 21:29] hannahkane commented on #338
Moving this ticket to the next heartbeat. It's *very* close, but there are still several tickets in the queue, plus QA work that will happen at the beginning of the next heartbeat.

[2015-03-27 21:35] hannahkane opened #411 "Promote teach.moz.org to webmaker.org users"
After we release the new Teach site, we'll want to let Wm users know it's there.

### RACI ###
Driver: @hannahkane
Design Lead: @iamjessklein (UX) & @sabrinang (UI)
Copy Lead: ?
Engineering Lead: ?
Decision Makers: @thisandagain ?
Consulted: @chrislarry33 @ldecoursy @cassiemc @davidascher

### Deliverables ###
 * Some sort of promotional ad and/or referral from Webmaker.org

### Timing ###
 * Not

[2015-03-27 21:49] hannahkane opened #412 "Add curriculum to teach.moz.org"
### RACI ###
Driver: @hannahkane
Design Lead: @iamjessklein (UX) @sabrinang (UI)
Decision-maker: @chrislarry33
Consulted: @cassiemc @thornet @LauraHilliger

The v1 of the Teach site displays the Clubs Curriculum here: http://teach.mofostaging.net/clubs/curriculum/

We specifically designed the page to show off the first module (module = six activities) that was thoroughly tested by community membe

[2015-03-27 22:04] simonwex commented on #352
I just submitted a PR that removes this content. ^

It'll get reviewed and pushed on Monday.

[2015-03-27 22:10] hannahkane opened #413 "Determine solution for integrating Webmaker blog into Teach site"
### RACI ###
Driver: @hannahkane
Design lead: @iamjessklein
Decision maker: @chrislarry33
Consulted: @ldecoursy @LucyeoH @amirad @thornet

### Deliverable ###
 * A decision about whether to link, integrate, or build

[2015-03-29 01:28] iamjessklein commented on #285
:shipit: yay! :dancers:

[2015-03-29 11:30] jgmac1106 commented on #412
I would add **be remixable** as a design consideration.

I understand some degrees of freedom have to be lost when you are trying to
scale a project this rapidly and with such a large scope. Fidelity is key
if your metrics are going to matter.

There are three basic ways to fork curriculum: content, process, and
product. We need to give web  clubs the option to remix curriculum for
their context.

[2015-03-30 08:19] thornet commented on #293
Reviewed strategic outcomes with Mark & @Saallen:

* 1. Rally around a common cause: "Help people wield the web."
* 2. Experience the Mozilla Learning vision.
* 3. Be systematic about bringing, celebrating and up-leveling leaders.

Plus organizing goal: Document how we do Mozfest.

Week of March 30 reviewing programmatic allies. Goal to prepare a briefing with Ops and then publish results on the w

[2015-03-30 08:24] thornet commented on #395
Continuing to refine with @ldecoursy @adamlofting @hannahkane @chrislarry33

https://teach.etherpad.mozilla.org/metrics

Current definition of what it mean to be "active in a city." At least ONE of the following:

* Hive - networked activity driving towards innovation, collaboration and the adoption of connected learning practices/principles
* Clubs - facilitating clubs/programs that teach web and

[2015-03-30 13:45] ldecoursy commented on #339
I'll set up a call this week for @davidascher @simonwex @HPaulJohnson @amirad @LucyeoH Anyone else?

[2015-03-30 13:46] LauraHilliger commented on #398
see: https://github.com/mozilla/teach.webmaker.org/issues/313

[2015-03-30 13:46] #398 closed

[2015-03-30 14:07] LauraHilliger opened #414 "Implement Google OAuth2 on Discourse"
Goal : upgrade Google's OpenID authentication on Discourse. Google will be ending support for OpenID by April 20, 2015. We need to start using Google OAuth2 as soon as possible. See this guide to learn more: https://meta.discourse.org/t/configuring-google-oauth2-login-for-discourse/15858

Driver: @hannahkane
Decision:@laurahilliger
Lead design: n/a
Lead dev: @toolness
Quality: @laurahilliger

Whom

[2015-03-30 15:27] hannahkane commented on #339
I'd like to be there, if possible.

[2015-03-30 15:46] thisandagain commented on #391
@LauraReynal Can you provide an update?

[2015-03-30 15:49] LauraReynal commented on #391
India is complete
Bangladesh is started but unfinished
Kenya is 0%
This will all be done by thursday - @adamlofting will be able to take over at that time

[2015-03-30 15:50] thisandagain commented on #377
Tracking next SOW in #405

[2015-03-30 15:50] #377 closed

[2015-03-30 15:50] #351 closed

[2015-03-30 15:52] thisandagain commented on #53
Tracking next steps specific to the teach.mozilla.org implementation in #404

[2015-03-30 15:52] #53 closed

[2015-03-30 15:54] thisandagain commented on #165
Lots of progress has been made on this in various different efforts over the past few weeks: login, testing, etc. As we are moving into the build phase for the next version of Webmaker, I propose we close this and follow-up with more granular tickets as needed.

[2015-03-30 15:54] #165 closed

[2015-03-30 15:56] simonwex commented on #408
Meeting was rescheduled over the weekend for 8:00am today. It went well, I'm waiting on answers for two outstanding questions related to regional hosting and then I'll summarize here. Pricing is roughly per-user (earner). What are we expecting for numbers there?

[2015-03-30 15:57] simonwex commented on #397
This issue needs a driver.

[2015-03-30 15:59] secretrobotron commented on #397
Actually, it needs to be rescoped.

I discovered a [wheel-of-fortune spinner](http://wheeldecide.com/wheel-fortune-spinner/) which will increase the whimsy here.

[2015-03-30 16:07] #95 closed

[2015-03-30 16:07] #96 closed

[2015-03-30 16:07] #97 closed

[2015-03-30 16:07] #94 closed

[2015-03-30 16:34] OpenMatt commented on #399
Status update on this one?

[2015-03-30 16:34] OpenMatt commented on #394
status?

[2015-03-30 16:34] OpenMatt commented on #392
status?

[2015-03-30 16:34] OpenMatt commented on #382
status?

[2015-03-30 16:34] OpenMatt commented on #380
status?

[2015-03-30 16:35] OpenMatt commented on #379
@simonwex: are we moving this to April 10 Heartbeat then?

[2015-03-30 16:35] OpenMatt commented on #369
status?

[2015-03-30 16:35] adamlofting commented on #394
This got merged and is live on build.w.o. I think we can close this. :smile:
Promoting this will be an ongoing effort.

[2015-03-30 16:35] #394 closed

[2015-03-30 16:36] adamlofting commented on #392
Still open. Bumped to new heartbeat.

[2015-03-30 16:36] flukeout commented on #382
@OpenMatt Working on this first thing today - hoping to close my work EOD

[2015-03-30 16:37] OpenMatt commented on #290
@adamlofting @hannahkane: I'm going to move this to April 24 so we can take it up in relation to promotion of teach.mozilla.org

[2015-03-30 16:37] OpenMatt commented on #242
status?

[2015-03-30 16:39] jdotpz commented on #380
I scaled it away about 11 days ago.  The infra is still there if we need to spin it up.

[2015-03-30 16:41] edrushka commented on #380
Thanks, @jdotpz Closing this. @KevZawacki, let's file another ticket if you want the calendar live on build.webmaker.org.

[2015-03-30 16:41] #380 closed

[2015-03-30 16:43] OpenMatt commented on #413
* Would love to advocate for link / integrate. And also: happy to give more / all editorial control over the Webmaker blog to this group. We *want* that content to be relevant to this audience. (if it isn't, we're doing it wrong.)

[2015-03-30 16:44] edrushka commented on #399
@flukeout has done the design and is hoping to implement today.

[2015-03-30 16:45] OpenMatt commented on #412
@hannahkane: will we consider potential third-party solutions as part of this? Learning Networks team has direct experience here that can help. Even if we do design our own approach, would be good to review other curriculum platforms and tools out there. To see what's working / spot best practices etc.

[2015-03-30 16:48] edrushka commented on #379
Yes. We need to. This remains a P1.

[2015-03-30 16:54] thisandagain commented on #339
I'd like to join as well.

[2015-03-30 16:59] hannahkane commented on #408
cc @chrislarry33 to help answer the question about numbers of badge earners.

[2015-03-30 17:00] benrito opened #415 "Development priorities for [Heartbeat#]"
GSMA Local content research: agree on new scope of research
https://github.com/MozillaFoundation/Engagement/issues/15

World Bank S4YE RFP: Agreement on scope of work
https://github.com/MozillaFoundation/Engagement/issues/13

World Bank S4YE RFP: Sub-divide research and writing
https://github.com/MozillaFoundation/Engagement/issues/17

World Bank S4YE RFP: Final submission
https://github.com/Mozil

[2015-03-30 17:02] OpenMatt opened #416 "Publish Q1 retrospective and Q2 goals"
Driver: @OpenMatt
Consulted: @ldecoursy @thisandagain
Quality: @chrislarry33 @davidascher

Publish Q1 retrospective and Q2 goals. By sharing quarterly data and content assembled for Program Review.

Now that Q1 is wrapping, we'll want to:
1) publish a status update on how we did against our plans and KPIs
2) socialize our top-line goals for Q2

Audience: Learning Networks and Learning Products tea

[2015-03-30 17:04] benrito commented on #415
Experimenting with a bug in /plan that summarizes development priorities for Heartbeat. Probably doesn't need all issues logged separately but hopefully helps visibility. Work logged / taking place in the /engagement repo.

[2015-03-30 17:04] OpenMatt commented on #397
can we close? :)

[2015-03-30 17:04] #397 closed

[2015-03-30 17:08] chrislarry33 commented on #413
All sounds good, still tripping on branding/naming conventions

[2015-03-30 17:10] vazquez commented on #373
I sketched wireframes for the Audience Page as well as a Persona page.

###### Audience Page

![audience](https://cloud.githubusercontent.com/assets/1119821/6901846/0d0e36a4-d6de-11e4-8cc5-e1c6616afd3a.png)

###### Persona Page

![persona](https://cloud.githubusercontent.com/assets/1119821/6901852/15fa112a-d6de-11e4-9cf2-d5d3202f318c.png)

[2015-03-30 17:21] OpenMatt opened #417 "Q2 / Q3 roadmap: draft 2.0"
**Goal:** produce a big picture view of upcoming work for the quarter and year, for more long-terms resource planning.

Decision-Maker: @OpenMatt
Driver: @OpenMatt
Consulted: program + product managers. support teams. @edrushka @ldecoursy @hannahkane  @thisandagain @davidascher
Quality: @simonwex @cassiemc (for resourcing)

[2015-03-30 17:23] OpenMatt commented on #417
Design resourcing here: http://cl.ly/aRYk
@simonwex do you have an engineering document we should look at as well?

[2015-03-30 17:28] OpenMatt commented on #406
@davidascher had a useful way of scoping and dividing up this CRM work. Three categories:

1) partner data. (e.g., leads, etc.)
2) email management. (e.g., BSD migration)
3) product and learning networks requirements (e.g., integration w. teach.moz.org and webmaker.org)

[2015-03-30 17:31] OpenMatt commented on #242
@ScottDowne is doing vendor review. He will update this ticket this morning.

[2015-03-30 17:32] ScottDowne commented on #242
@OpenMatt nothing has happened in the security review bug, but the legal review bug has some questions for us/apostle that I need to see how many I can answer and how many I need to push to other people.

(1) What do we intend to use these emails for?
(2) They suggested ExactTarget as an alternative to Apostle.
(3) Linked us this: https://www.mozilla.org/en-US/privacy/websites/ calling out the abi

[2015-03-30 17:34] OpenMatt commented on #414
* @simonwex  says this is a fairly small task -- about one afternoon of configuration effort

[2015-03-30 17:53] OpenMatt commented on #405
Can someone add a link or mock-up here to help explain what this is to people who are unfamiliar?

[2015-03-30 18:02] thisandagain commented on #405
/cc @xmatthewx can you drop a link to your "re-cap" and/or some images that you've been working on for @OpenMatt and @edrushka 's "This Week" email?

[2015-03-30 18:02] cassiemc commented on #412
Assigning this to @iamjessklein for UX and to @sabrinang for UI. Feel free to use @vazquez for design review.

[2015-03-30 18:12] thisandagain commented on #373
I think this is important but not a blocker given existing design and development priorities. I'm also curious if this would be more efficiently completed after the Chicago research trip. Thanks for moving to the next sprint @secretrobotron

[2015-03-30 18:18] secretrobotron commented on #373
Thought the same thing, @thisandagain . Don't want the work to escape us as more profiles come in from @LauraReynal 's research. Think April 24 is still too early?

[2015-03-30 18:18] LauraReynal commented on #373
After Chicago sounds good - so lets move it to early May xth, because I wont be able to provide content while im out there doing interviews

[2015-03-30 18:20] OpenMatt commented on #390
Here's another misc ticket that would be *extremely* helpful to me this Heartbeat, as part of roadmapping work: https://github.com/mozilla/webmaker.org/issues/1391

[2015-03-30 18:53] hannahkane commented on #412
Hey @jgmac1106 and @OpenMatt - thanks for your comments. I've just edited the title of this ticket to make the scope more clear. While I agree that we need a better solution for managing the curriculum itself, this ticket was intended to be more narrowly scoped. It's just about the page on the Teach site that points to the curriculum.

Implementing a better solution for Clubs is a little further a

[2015-03-30 18:54] xmatthewx commented on #377
We developed a direction for the UI and pushed the UX forward on two key intersections for learning and making (color and links).

### UI direction

![screenshot 2015-03-30 11 38 11](https://cloud.githubusercontent.com/assets/53411/6903924/6a695074-d6eb-11e4-9a73-459444a51846.png)
![screenshot 2015-03-30 11 36 35](https://cloud.githubusercontent.com/assets/53411/6903925/6a6a72c4-d6eb-11e4-9cb5-938

[2015-03-30 18:56] xmatthewx commented on #405
Recap posted to previous planning ticket #377

[2015-03-30 18:57] simonwex commented on #405
@secretrobotron what are the needs for the database?

[2015-03-30 18:57] simonwex commented on #405
@secretrobotron could you include @jbuck on the talks around the publishing service?

[2015-03-30 18:59] secretrobotron commented on #405
@simonwex :+1: will do

[2015-03-30 19:06] valianttry commented on #406
@OpenMatt #2 would be better described as "digital supporter engagement" since it encompasses fundraising, forms, etc in addition to email. But this makes sense otherwise. There are entanglements / integrations x all 3, so we should be careful not to silo these 3 areas (that's the opposite of what we're trying to do with a CRM / shared source of truth).

[2015-03-30 19:09] valianttry commented on #346
@davidascher i've asked @simonwex this as well: Why are we building an email system when there are hundreds to choose from, including ExactTarget and BSD (both of which we can currently use)? I realize it's probably a legacy thing, but it's painful to see us building functionality that is available out of the box for $0. Should we spend time migrating instead of building? /soapbox

[2015-03-30 19:19] jdotpz commented on #346
These aren't the same thing @valianttry .
This is for the servers to be able to email transactional stuff out, like "Hey, you signed up for an account, here's the link to verify" sort of thing, not email blast list stuff.

[2015-03-30 19:22] xmatthewx commented on #405
@OpenMatt - The goal is to iterate on the existing mobile app and the [desk8](https://github.com/MozillaFoundation/plan/issues/flukeout.com/examples/desk8/) prototype to create a unified Webmaker experience across devices. Best summarized by these mockups for [desktop](https://cloud.githubusercontent.com/assets/53411/6904604/055f3f68-d6f0-11e4-95c8-af49942c564f.png) and [mobile](https://cloud.gith

[2015-03-30 19:22] #209 closed

[2015-03-30 19:41] simonwex commented on #417
Learning Product (Desktop)
 * Gavin
 * Pomax

Learning Product (Mobile)
 * Kate
 * Cade

Teach (inc. website, badges, and Directory build):
 * Atul
 * Mavis

Engagement (inc. Advocacy, MozFest, Fundraising):
 * Scott
 * Ali

Devops & System maintenance:
 * JBuck & Simon

[2015-03-30 19:48] edrushka commented on #379
@alicoding Are you able to prioritize this ticket? It'd be great to have the site updated asap.  Please let me know if there are any remaining blockers.

[2015-03-30 19:48] edrushka commented on #375
What is the next step, here?

[2015-03-30 19:58] valianttry commented on #346
@jdotpz ExactTarget comes with transactional email functionality. It's not just for large email blasts. It's called Journey Builder and works on event triggers: http://www.exacttarget.com/products/journey-management/journey-builder:

"With Journey Builder, you can create a truly personalized experience for each and every customer—whether you have 100 or 100 million. It’s never been easier to form

[2015-03-30 20:05] simonwex commented on #242
Hey @ScottDowne, 1) is covered above, 2) we should talk about and the rest you should get into contact Mal about.

On ExactTarget v.s. Apostle, I believe this is worth a discussion. It is a salesforce company, so integrations with our CRM is likely. MoCo is already making use of it, as are we in some cases.

@thisandagain, I think ExactTarget would suit this use-case, do you agree?

@davidascher d

[2015-03-30 20:14] simonwex commented on #346
@valianttry do you know what we pay for ET? This conversation is actually happening over here, too: #242

[2015-03-30 20:16] simonwex commented on #404
How has no one made a "Not Found" joke in this ticket yet?

[2015-03-30 20:22] simonwex commented on #346
It's also worth mentioning that MoCo has written [Basket](https://github.com/mozilla/basket) which is a project that supposedly makes up for ExactTarget's many shortcomings.

[2015-03-30 20:27] HPaulJohnson opened #418 "Build landing page to support value prop testing in Adwords & Facebook"
Recent campaign to test different value proposition for new Webmaker tool point to existing Webmaker.org splash page. As features and other elements of the new tool that we will be testing/promoting as part of this test don't exist on webmaker.org today we are suffering from low quality scores in Adwords and losing out on the opportunity to capture early interest in the new product. Landing page i

[2015-03-30 20:28] simonwex commented on #405
The work being done here will be in React and the components will see use in both the real Webmaker 2.0 and Webmaker app. We won't be further iterating on Luke's prototype code as this needs to work on more than Chrome and it's time to start building "for real".

It's my assumption that things like code test coverage and standard development practices are to be followed here.

This likely raises s

[2015-03-30 20:29] HPaulJohnson commented on #418
Landing pages to support #409.

Next steps: Outline/draft content for new landing page before assigning to design. Copy to be completed by 4/1

[2015-03-30 20:31] simonwex commented on #379
Hey @edrushka, this won't be @alicoding, this will be @ScottDowne.

[2015-03-30 20:46] valianttry commented on #346
The ExactTarget agreement with Moco is that we pay by the # of emails mofo sends using ExactTarget, and we've already banked plenty of email in our estimates (including Webmaker messaging and other projects like Open News emails; etc). Overage kicks in if we've under-estimated. I don't know how much the Basket customization would apply to our implementation since Basket was built at a time before

[2015-03-30 20:50] valianttry commented on #242
Cross posting this response:
The ExactTarget agreement with Moco is that we pay by the # of emails mofo sends using ExactTarget, and we've already banked plenty of email in our estimates (including Webmaker messaging and other projects like Open News emails; etc). Overage kicks in if we've under-estimated. I don't know how much the Basket customization would apply to our implementation since Baske

[2015-03-30 20:56] xmatthewx commented on #405
@simonwex - There's definitely no need to retain any code from the desktop prototype. We will iterate on the experience while setting the stage for real things to follow.

[2015-03-30 20:58] thisandagain commented on #405
Yup! Right on @simonwex . We'll start the process for making some decisions on the tech stack tomorrow during kickoff. :+1:

[2015-03-30 21:01] thisandagain commented on #418
/cc @secretrobotron @xmatthewx

[2015-03-30 21:12] valianttry commented on #242
Here's a blog post about ExactTarget, Journey Builder, and Transaction Builder (all part of the Exact Target suite):
http://blogs.perficient.com/digitaltransformation/2013/11/18/dreamforce-13-email-marketing-with-exacttarget-marketing-cloud/

"Transaction Builder is used when you wanted to send triggered and transactional emails.  For example, when a customer interacts with you, you want to send t

[2015-03-30 22:05] flukeout commented on #399
@edrushka @OpenMatt I'm having trouble setting up the dev environment for this locally and don't think I'll be able to get the work done today. Trying again tomorrow morning.

[2015-03-30 22:32] thisandagain commented on #242
It sounds like this may cover our use case. I'd love to get into the details as I'm having trouble finding documentation but if we can use ExactTarget I'd much prefer to have our transactional and marketing emails together within the same system. Thanks for the catch @valianttry !

Will schedule a follow-up so we can dig in.

[2015-03-30 22:33] Melechuga commented on #382
Thanks @flukeout for the newest logo designs! We should figure out a place where these can live for future use. Other than that, this issue is solved.

[2015-03-30 22:33] #382 closed

[2015-03-30 22:33] edrushka commented on #406
@OpenMatt I'm actually going to change the title back closer to the original. What Andrea and I are trying to accomplish here is socializing the technology. I received feedback last week that indicated people feel "pushed" into adopting this technology. We'd like to take a step back, present some of the opportunities a CRM can help us take advantage of, and have this be a more open discussion. Doc

[2015-03-30 22:54] edrushka commented on #382
FYI @sabrinang @flukeout here's how to add stuff to the DAM: https://mana.mozilla.org/wiki/display/EN/DAM+Employee+Guide

[2015-03-30 23:04] edrushka commented on #378
Update: this is going to be a fairly large project on the MoCo side. Here's their deck: https://docs.google.com/a/mozillafoundation.org/presentation/d/1UR8cs6NUxkdEjZ-R3LGPWItgGtV-IjoE4RICrHirFhc/edit#slide=id.g395ee75c8_014

We're meeting again March 31 to dig into the Foundation content, which Kevin, Paul and I have already drafted.

[2015-03-30 23:22] valianttry commented on #242
@thisandagain sounds brilliant -- also I want to talk to you about localization management... want me to schedule 30m for you and I for these 2 things? Who else should join us?

[2015-03-30 23:23] valianttry commented on #399
@flukeout -- @ScottDowne might be able to help with dev enviro Qs

[2015-03-30 23:26] flukeout commented on #399
I think I managed it, thank you!

[2015-03-30 23:27] HPaulJohnson commented on #242
I would like to join!

[2015-03-30 23:45] HPaulJohnson opened #419 "Go to Market plan for Webmaker launch"
Identify target market and value proposition for launch of new Webmaker along with detailed plan for launch marketing campaign.

### Audience
New Webmaker users.

### Success
250K monthly active users by the end of 2015.

### Vision
This project will aim to:

- Define target audience of initial launch
- Hone in on value proposition for this audience
- Deliver a draft marketing plan for a July laun

[2015-03-30 23:56] edrushka commented on #390
Closing this ticket, as this system is no longer in use.

[2015-03-30 23:56] #390 closed

[2015-03-30 23:56] thisandagain commented on #242
:+1:

[2015-03-31 00:50] jgmac1106 commented on #411
This is where you folks bring you epic gif battles to bear and just keep having fun blasting us with #gifwars of why the new teach site is here and how awesome it is.

[2015-03-31 02:08] ScottDowne commented on #242
Another question. I don't think my answer was enough. It's about Apostle still

"Can you provide more details about the analytics data and the collection that entails? What specific data is collected?  What fields are collected for the analytics and AB testing? Are there unique identifiers?"

Is there any more to this other than we want to run AB tests and track clicks on links in the email?

[2015-03-31 09:18] adamlofting commented on #418
**Notes on process**
as we want to keep this process as light and nimble as possible.

1. We can reuse some of this landing page layout / styling to save time: https://webmaker.org/app
1. We can reuse some of the code / deployment / BSD email capture integration from: https://github.com/mozilla/webmaker-landing-pages/
  * This get's deployed to welcome.webmaker.org which is probably fine for a tes

[2015-03-31 09:37] adamlofting commented on #409
Copying these notes from @HPaulJohnson's email so it's easier to track:

2 new Google Adword variations

* "Learn" or "Make"
* "Fun" or "Utilitarian"
* Current test of "maker" language is using 10 ad variations so we can use that for guidance. Let's create up to 10 versions for each of the above that cover the full spectrum of things we want to learn.

Facebook Ad
* Let's get this setup with varia

[2015-03-31 09:44] adamlofting commented on #409
/cc @KevZawacki for this ticket.

Plus, some more notes from me:

* The goal of the ~10 variations is to avoid hidden subtleties in one particular ad or another that make it work, or not. So, if we have 5 quite different 'fun' variations, and 4 of them outperform 5 quite different 'utilitarian' variations, then it's a strong sign that the broader concept is what drove the results.
* For Facebook i

[2015-03-31 10:12] adamlofting commented on #392
Note to self, that this data is currently visible in the MoFo KPIs under the people heading: http://build.webmaker.org/dashboards

[2015-03-31 10:19] adamlofting commented on #395
See also:  Spec out phase 1 of the Learning Networks Directory project #407

[2015-03-31 11:49] LauraHilliger opened #420 "Transition plan for Full Discourse Integration"
Realized b/c of https://github.com/mozilla/teach.webmaker.org/issues/461 that we're going to need a transition plan for Discourse becoming embedded into the teach site (@hannahkane's roadmap has this in Q3).

There might be a wider strategic decision to be made here because https://github.com/mozilla/teach.webmaker.org/issues/452#issuecomment-88011098

[2015-03-31 13:16] OpenMatt commented on #242
* Thanks for reaching out on this Andrea
* Sounds like next step is: Andrew, Andrea, Paul (+ others?) will meet today / tmrw. To compare requirements and capabilities for ExactTarget vs. Apostle. Then file the results here.
* Given the overlap and potential for co-ordination, I've suggested adding Andrea as a second quality-verifier to this ticket. To ensure what we pick here squares with transact

[2015-03-31 13:17] OpenMatt commented on #242
* One question this raises: should Scott continue with vendor review on Apostle in the mean time? Or wait for the results of that meeting?

[2015-03-31 13:18] KevZawacki opened #421 "Move Engagement calendar to build.webmaker.org"
Driver: @KevZawacki
Dev: tbd
CC: @edrushka

Context: This calendar was designed for the Studio Mofo site. The visualization, created by @mmmavis  is populated by Google Spreadsheet (http://goo.gl/niumZ2), which Kevin updates. It provides a good overview of both MoFo and MoCo activities from large (all channels) to small (local events).

[2015-03-31 13:56] OpenMatt commented on #416
cc @thornet , who is going to work on a blog post and some public reflection here as well.

[2015-03-31 15:01] ScottDowne commented on #242
@OpenMatt I think we should wait before I continue much.

A question I have is should we notify people in the vendor review bug that we're considering exactTarget?

[2015-03-31 15:37] KevZawacki commented on #409
Suggested AdWord variations for LEARN vs MAKE and FUN vs UTILITARIAN are here: https://foundation.etherpad.mozilla.org/adwords

[2015-03-31 15:42] edrushka commented on #421
Hey @KevZawacki. @davidascher works on build.webmaker.org when he has time. David, is it cool if I assign this to you? It is a non-urgent task, and one that fits nicely with the long-term forecasting we discussed in yesterday's TPS call.

[2015-03-31 16:00] davidascher commented on #421
Sure, I have followup questions but i'll write them up.

[2015-03-31 17:58] bensternthal commented on #375
@simonwex do you need anything additional to make a decision. I would like to decide on a path forward this week.

[2015-03-31 18:06] jdotpz commented on #375
cc'ing @jbuck  for transition

[2015-03-31 18:15] flukeout commented on #399
PR is waiting for review now - https://github.com/mozilla/advocacy.mozilla.org/pull/10
When it gets merged, I'll make the corresponding content changes via the Wordpress CMS

[2015-03-31 20:06] simonwex commented on #403
/cc @jbuck

[2015-03-31 21:32] thisandagain commented on #418
/cc @vazquez

[2015-03-31 21:47] Melechuga commented on #370
Attaching logo images for @iamjessklein that were recently designed by Luke. These will be used for the swag, and can also be used on the Website where appropriate. Thanks!
![logo-bottle](https://cloud.githubusercontent.com/assets/5815317/6930074/e3801ffa-d7b4-11e4-8375-6725b055361b.png)
![logo-hoodie](https://cloud.githubusercontent.com/assets/5815317/6930075/e58d7ec8-d7b4-11e4-9104-5bd53f74e93f.

[2015-03-31 21:48] Melechuga commented on #370
Oh, the second one is a transparent + white logo.

[2015-03-31 22:13] hannahkane opened #422 "Agree upon Teach site l10n strategy"
Even as we iterate on the EN version of Teach.m.o, we'll want to have a plan and strategy for localizing the content (and, indeed, we've already started with the curriculum).

I realize that much thinking has already been done by others, so this might be superfluous, but I started a document capturing many of the issues and decisions that I think we ought to discuss. Would love to talk through thi

[2015-03-31 22:14] hannahkane commented on #422
Thanks to @thornet and @LucyeoH who have already commented on the doc.

[2015-03-31 22:29] thisandagain commented on #422
Thanks for sharing @hannahkane. Left a few notes in the doc.

[2015-03-31 22:47] thisandagain commented on #242
Looked at ExactTarget with Andrea today. Waiting on access to the sandbox to answer a few final questions but yes, I recommend that put the Apostle vendor review on-hold.

[2015-03-31 23:24] iamjessklein commented on #370
and understated.

[2015-04-01 03:27] ScottDowne commented on #242
@thisandagain I think that's the right decision.

I can update the vendor review ticket tomorrow saying we're on hold.

[2015-04-01 04:55] simonwex commented on #414
@LauraHilliger could you share the admin account with @jbuck so he can get it in our shared vault?

[2015-04-01 04:57] #352 closed

[2015-04-01 05:02] simonwex commented on #375
I'm happy for us to take this over. I think we'll download some canned "download activity" data to simulate it, which will require some dev time.

 @edrushka, could you get this on your list and we can figure out rough timing?

[2015-04-01 05:26] simonwex commented on #422
@hannahkane, @edrushka, I spoke with @alicoding about this today. We need to spend a bit of time figuring out an l10n strategy for React-based sites. This is going to have implications for all the sites we build this year. If we start looking good for the launch of the teach site, it'd make sense to have Ali dig into this this <img src="https://cloud.githubusercontent.com/assets/25260/6935113/9828

[2015-04-01 07:09] LauraHilliger commented on #414
We don't have an admin account like that, if we have a dummy email we use for that kind of thing, I can set it up. Otherwise, I can set @jbuck, but I need you to login once so I can set your new user as an admin.

[2015-04-01 17:28] jbuck commented on #414
@LauraHilliger I've created my account called "jbuck"

[2015-04-01 17:39] OpenMatt commented on #339
Key question here is still: who the decision-maker is.

[2015-04-01 21:53] edrushka opened #423 "Create a management structure for Gear Store"
Driver: @edrushka
Consulted:  @valianttry Jennifer Balaco from MoCo

Context: The Gear Store creates revenue for the Foundation: http://note.io/1akdW1J. Currently Geoffrey owns it. As he transitions, Andrea can take temporary ownership, but it needs a long-term management structure. A governance module has been proposed as a potential structure, with members from MoCo, MoFo and the community.

Fla

[2015-04-01 22:07] davidascher commented on #423
Cool send me said proposed governance model?

[2015-04-01 22:57] hannahkane commented on #422
OK, I can put a ticket in /plan specifically for the technical aspects of l10n, and we can pitch it at the next TPS meeting.

[2015-04-01 22:59] hannahkane opened #424 "Figure out how to localise React sites"
This ticket is about determining the technical solution for localising React sites.

@simonwex to fill in details about the deliverables.

Labeling this "teach," since the Teach site may be the forcing function, but this is really a broader engineering ticket.

[2015-04-01 23:24] edrushka opened #425 "Create Github solution to display issues in multiple repos"
Driver: @edrushka
Dev: @ScottDowne
Consulted: @simonwex
Informed: @OpenMatt @hannahkane @ldecoursy

Problem: tickets that PM's are responsible for driving are spread across several repos. There’s no central place for PM's to see all the things we’re working on (especially the small, misc tasks).

Can we build a way to see all the tickets that a single author has on the go, across repos?

I'm happy

[2015-04-01 23:28] HPaulJohnson commented on #409
Thanks, @KevZawacki, I made some tweaks and added a few variations based on our conversation today.

@adamlofting, I think we are ready to load up round 2, "learn" vs. "make" (line 33-97) and "fun" vs. "utilitarian" (line 100-179). If there are too many variations for each theme feel free to cut those you think are the least interesting.