[2016-06-22 20:59] hannahkane opened #818 "Capture Hive Engagement metrics automatically"
Some members of the Hive teams met with @simonwex and me at the end of May to discuss the mechanisms we're currently using to track Hive member engagement.

We're currently tracking engagement manually by looking at Slack and listserv activity, and measuring event attendance and satisfaction through surveys.

This is currently taking a lot of staff time, so we'd like to find automated solutions. T

[2016-06-22 20:59] hannahkane commented on #818
also cc @simonwex

[2016-06-22 21:11] omnignorant commented on #818
@hannahkane thanks for opening this ticket. I wanted to share some data analysis that has come out of a research partnership here in Chicago. Super drafty and early-stage, but illustrative.
[Hive Data Analysis_6.1.16_tracked changes.docx](https://github.com/MozillaFoundation/plan/files/328759/Hive.Data.Analysis_6.1.16_tracked.changes.docx)

[2016-06-23 15:08] Melechuga commented on #812
Hey @hannahkane, I just spoke with @vanessarhinesmith and we think we have a workable solution.

We chose July 1st as our ideal date, since the fellows have been in the selection process for a while and we were excited to tell the world. However, they don't officially start until September 1, so that's more our drop-dead date. We don't want to create more work for a stop-gap, so we're fine with le

[2016-06-23 18:19] kristinashu commented on #784
Shared initial comps of the design https://redpen.io/p/qa0d7b5c69cd064069 and Hannah has scheduled a tentative meeting for next week to review the design and for Luke to lead a tutorial on how to create and edit the github page.

[2016-06-23 22:45] hannahkane commented on #812
We discussed this at our stand today. August 1 seems like a really reasonable launch date. Thanks for the extra leeway!

[2016-06-24 18:43] hannahkane commented on #757
Taking this out of any milestone until we have a chance to discuss next steps.

[2016-06-24 18:45] hannahkane commented on #795
Taking this out of any milestone until we clarify specific deliverables and prioritize them.

[2016-06-28 17:47] kristinashu commented on #784
Design and content is done. Luke is updating the template https://github.com/mozilla/advocacy.mozilla.org/issues/203 then Kevin will add content https://github.com/mozilla/advocacy.mozilla.org/issues/204

[2016-06-29 18:43] hannahkane opened #819 "July 7: Update copy on mozilla.org/foundation"
Final copy is [here](https://docs.google.com/document/d/1Gu7OrQRS_q_YV4cWhat2VKGq1zRvVTaBjFzeqLsRo6k/edit)

For this ticket, scope is narrowed to copy changes in the doc, but not the additional pages alluded to in the comment on the doc.

Please see @KevZawacki for questions.

[2016-06-29 18:43] hannahkane commented on #819
cc @Lottarao @simonwex

[2016-06-29 20:02] mmmavis commented on #819
Filed a ticket on Bugzilla: https://bugzilla.mozilla.org/show_bug.cgi?id=1283271

Will have the PR ready later day / early tomorrow. 💃

[2016-06-29 20:40] xmatthewx commented on #819
Artwork: https://github.com/MozillaFoundation/strategy/issues/83

[2016-06-29 20:49] mmmavis commented on #819
@xmatthewx just read through https://github.com/MozillaFoundation/strategy/issues/83 but wanted to confirm with you again - this artwork is part of the 2nd push, correct? If so let's create another ticket for all the P2s. 👍

[2016-06-29 22:12] xmatthewx commented on #819
I just wanted a link for reference. You can follow @KevZawacki's lead on the specifics for this project.

[2016-06-29 23:06] brettgaylor commented on #784
This is looking great!  I'm happy to continue to be a C on this, even though its now outside of my scope in the media work :) I'll still be the point of contact for Ford, one of the primary audiences for this.

[2016-06-30 11:40] KevZawacki commented on #819
@mmmavis Correct -- this artwork will not (yet) live on the mozilla.org/foundation page you're working on. I can take care of porting it into the wiki / Google Doc. Thanks!

[2016-06-30 22:42] mmmavis commented on #819
@KevZawacki I'm about to submit a PR to bedrock. 2 questions before I do so

1. Do we want to remove the Firefox newsletter signup form near the footer? Note that this change will apply to all /foundation subpages like https://www.mozilla.org/foundation/, https://www.mozilla.org/foundation/about/, and https://www.mozilla.org/foundation/documents/.

2. I noticed that the url we use for "make a dona

[2016-06-30 22:43] mmmavis commented on #819
Note that in this PR I'm **only** updating copy on the /foundation page.

[2016-07-01 11:44] KevZawacki commented on #819
@mmmavis Great! To answer your questions:

1 -- Let's leave the newsletter footer as-is.

2 -- I think we can leave the link as-is, too. EOY fundraising will start gearing up soon, at which point Andrea and team can revisit.

Thanks again 😄

[2016-07-04 18:10] mmmavis commented on #819
PR has been submitted: https://github.com/mozilla/bedrock/pull/4203 ! 👯

I'm out for PTO tomorrow and Wednesday. The mozilla.org team requires us to submit our changes no later than EOD July 5. I *think* my PR should require no further fixes - I'll try to check back tomorrow sometime in the afternoon to make sure.

[2016-07-05 20:15] KevZawacki commented on #819
@mmmavis Thanks! Just want to double check that we're still on track to have the page updated for the July 7 board meeting -- is that the case?

cc @samanthaburton

[2016-07-05 22:00] mmmavis commented on #819
Hey all I'm on PTO today and tomorrow so won't be able to make further
changes to the PR that I submitted yesterday (unless it doesn't pass PR
review and needs fixes). Kevin, I'd suggest comment on the Bugzilla ticket
to follow up. I made a note about the July 7th deadline when I created that
bug and I believe the mozilla.org team is aware of that.

:)

me off to shopping and afternoon tea now :D

[2016-07-06 13:43] KevZawacki commented on #819
@mmmavis A PTO update! Thank you -- and please enjoy the shopping and tea. We won't impose further.

@hannahkane If you have any insight into when the changes may go live -- or if @samanthaburton and I can help further -- just let us know.

[2016-07-06 15:16] xmatthewx commented on #819
@KevZawacki – @mmmavis is back today. Feel free to ping me and @simonwex in Chat if either of you get stuck today. Glad to help if we can.

[2016-07-06 17:26] mmmavis commented on #819
Sorry for the confusion - I'm still on PTO today 😉

I see no activity in the past 2 days on https://bugzilla.mozilla.org/show_bug.cgi?id=1283271 but https://github.com/mozilla/bedrock/pull/4203 Craig assigned this to himself for review yesterday. I'm guessing he'll review and get this live today.

[2016-07-06 17:35] samanthaburton commented on #819
Thanks so much for following up even while you're mid-PTO @mmmavis! Hugely appreciated. Enjoy tea time!!

@KevZawacki are there any other updates we need to get on the ticket before Craig takes it forward?

Excited to see it all go live! Thanks tons everyone.

[2016-07-06 18:40] KevZawacki commented on #819
@samanthaburton We're all set copy-wise 👍

[2016-07-07 19:45] mmmavis commented on #819
YEAH! 🎉🎉🎉🎉🎉 Glad to know everything went live on time 😉 🍻

[2016-07-07 19:47] hannahkane commented on #819
woohoo! go team. :) closing this ticket now.

[2016-07-07 19:47] #819 closed

[2016-07-07 19:49] hannahkane commented on #711
Closing this, as it's DONE!

[2016-07-07 19:49] #711 closed

[2016-07-07 19:52] Lottarao commented on #819
Alright!!

On Thu, Jul 7, 2016 at 12:47 PM, hannahkane <notifications@github.com>
wrote:

[2016-07-08 23:22] hannahkane commented on #802
@secretrobotron - can you please update this ticket? Thanks!

[2016-07-08 23:23] hannahkane commented on #740
Closing for now.

[2016-07-08 23:23] #740 closed

[2016-07-08 23:23] hannahkane commented on #729
Moving this out of July 1 heartbeat.

[2016-07-08 23:23] hannahkane commented on #701
Moving this out of July 1 heartbeat.

[2016-07-08 23:24] hannahkane commented on #656
@OpenMatt - can we close this ticket since we have a new home for this content? Moving out of July 1 heartbeat for the time being.

[2016-07-08 23:24] hannahkane commented on #802
Moving out of July 1 heartbeat.

[2016-07-08 23:26] hannahkane commented on #784
I think we can close this now, yes? I know we'll continue to make updates, but the bulk of this work is done, so closing. Please re-open if you object. :)

[2016-07-08 23:26] #784 closed

[2016-07-08 23:26] hannahkane commented on #796
@xmatthewx - closing this, though we may want to re-open once the roadmap is approved by exec team

[2016-07-08 23:26] #796 closed

[2016-07-08 23:38] hannahkane opened #820 "Learning site localization"
The epic will be tracked here: https://github.com/mozilla/learning.mozilla.org/issues/1927

[2016-07-08 23:44] hannahkane opened #821 "MozFest Design Prep"
As per the [design brief](https://docs.google.com/document/d/1f-ybB8x6HJ2F4JyDnN8wUdyMcO9b7VpQCLGINGgTKuA/edit), we'll spend the July 22 heartbeat preparing for the upcoming design work needed for MozFest 2016.

The production team will deliver:
 - [x] [Hold a design retrospective](https://github.com/MozillaFoundation/Mozfest2016_production/issues/15)
 - [x] [Review design assets list](https://git

[2016-07-09 00:01] hannahkane commented on #757
Putting this back in for July 22 heartbeat, but need to clarify the deliverable—likely an animated presentation on "ingredients for open"

[2016-07-09 00:17] hannahkane opened #822 "Create MLN Pitch Deck concepts"

[2016-07-09 00:18] hannahkane opened #823 "Organize a scrum training for production team"
Find an outside facilitator

[2016-07-25 16:46] xmatthewx opened #824 "Production support chart"
#### DARCI
Driver: @hannahkane
A:
R: @xmatthewx @simonwex
C:
I:

#### Overview

The production team supports various programs and initiatives. Our capacity is not infinite.

Let's clarify the types of deliverables we provide based on the type of initiative and level of MoFo's commitment to the initiative, the strategic value, and the potential impact. All of our work is important, but not equally

[2016-07-25 18:47] KevZawacki opened #825 "Update mozilla.org/foundation with new pages / navigation"
#### DARCI

Driver: @Lottarao
A: @samanthaburton
R: @Lottarao
C: @kevinzawacki
I: --
#### Overview

We are updating mozilla.org/foundation once again to better reflect the 2020 strategy. Specifically, adding three more sub-pages: mozilla.org/foundation/advocacy, mozilla.org/foundation/leadership, and mozilla.org/foundation/issues
#### Links

https://docs.google.com/a/mozilla.com/document/d/15JqsTo

[2016-07-25 19:25] xmatthewx commented on #825
cc @sabrinang for a little design input

[2016-07-27 14:56] xmatthewx commented on #824
I've started two tables to summarize this info. Details to add and revise.

<img width="782" alt="screenshot 2016-07-27 10 54 42" src="https://cloud.githubusercontent.com/assets/53411/17179843/9f07bb38-53e8-11e6-976d-a274600a539c.png">

<img width="768" alt="screenshot 2016-07-27 10 54 50" src="https://cloud.githubusercontent.com/assets/53411/17179844/9f081146-53e8-11e6-87a2-e0333911c2cb.png">

[2016-07-27 15:16] xmatthewx commented on #824
And this...

<img width="786" alt="screenshot 2016-07-27 11 16 12" src="https://cloud.githubusercontent.com/assets/53411/17180777/8b649102-53eb-11e6-9b49-bf324d787a2c.png">

[2016-07-27 20:11] gideonthomas opened #826 "Women & Web Literacy - Create a Web Presence"
### DARCI
Driver: @gideonthomas
A: @hannahkane
R: @amirad, Local Impact team
C: @kaythaney
I: @chrislarry33, @simonwex

### Overview

The **Women and Web Literacy**(WWL) hub is taking the next step in solidifying their presence in communities and in MLN. Now, they need a web presence to showcase the amazing work done by @amirad and the communities. What is envisioned here currently is a website ex

[2016-07-27 20:11] gideonthomas commented on #826
### Clarifications (@amirad)

#### Project (Done in the doc linked above)
1. Who is the target audience for this website?
2. The primary purpose of this website is to broadcast information, stories and experiences related to WWL while CTAs and community engagement incorporation is something we want to approach iteratively in the next phase. Is this a correct assertion?

#### Content (Done in the d

[2016-07-27 22:19] hannahkane commented on #757
I'm going to close this ticket. We're tracking the video production in another ticket. If there are additional tasks to support the OLC production, we should file those separately.

[2016-07-27 22:19] #757 closed

[2016-07-27 22:20] hannahkane commented on #811
I'm moving this to the current heartbeat, so we can close out the last one.

[2016-07-27 22:22] hannahkane commented on #816
Is this ticket still alive?

[2016-07-27 22:23] hannahkane commented on #795
Wondering if this ticket is still useful. I feel like we're tracking all this work in other places now.

[2016-07-27 22:24] hannahkane commented on #789
@Melechuga - okay to close this ticket now?

[2016-07-27 22:25] hannahkane commented on #780
I'm going to close this. Please re-open if it's still needed.

[2016-07-27 22:25] #780 closed

[2016-07-27 22:25] hannahkane commented on #778
This was done.

[2016-07-27 22:25] #778 closed

[2016-07-27 22:26] hannahkane commented on #770
I'm closing this ticket since it never picked up steam. I think our champion is @acabunoc though!

[2016-07-27 22:26] #770 closed

[2016-07-27 22:27] hannahkane commented on #767
This ticket no longer feels relevant. Closing!

[2016-07-27 22:27] #767 closed

[2016-07-27 22:28] hannahkane commented on #753
I feel like we've made lots of progress on this front. I'm going to close, but @KevZawacki, feel free to re-open if this ticket is useful to you.

[2016-07-27 22:28] #753 closed

[2016-07-27 22:28] xmatthewx commented on #795
This is tracked via universal design and UI toolkit.

[2016-07-27 22:28] #795 closed

[2016-07-27 22:28] hannahkane commented on #723
@gvn - would you say this ticket is still needed? If so, maybe the Women and Web Literacy webpage can serve as the forcing function.

[2016-07-27 22:29] hannahkane commented on #719
@HPaulJohnson - is this ticket still needed?

[2016-07-27 22:29] hannahkane commented on #687
This ticket is out-of-date at this point, so closing.

[2016-07-27 22:29] #687 closed

[2016-07-27 22:29] #656 closed

[2016-07-27 22:30] hannahkane commented on #469
Closing this ticket, which is Webmaker-centric. Localization effort lives on, though!

[2016-07-27 22:30] #469 closed

[2016-07-27 22:31] hannahkane commented on #569
@simonwex - is this ticket still useful? Is it up to date?

[2016-07-27 22:39] HPaulJohnson commented on #719
nope, we now have https://medium.com/mozilla-advocacy

closing...

[2016-07-27 22:39] #719 closed

[2016-07-27 22:40] hannahkane commented on #826
Since this project will include a launch of a new product, it might be good to grab the pre-flight checklist that exists somewhere. @gideonthomas - do you have that? or @cadecairos?

[2016-07-27 22:43] acabunoc commented on #770
Ohh, thanks @hannahkane!

[2016-07-27 22:58] gideonthomas commented on #826
Ah nice reminder, thanks!
Here it is: https://github.com/MozillaFoundation/mofo-devops/blob/master/docs/go-live.md.
The checklist will be used once a devops ticket is filed to get the subdomain and release the product and will be completed by someone on the Services team. However, we should definitely consider this in our timeline - I will add it to the "Key Deadlines".

[2016-07-27 23:00] valianttry commented on #719
whoa wait but wut -- so we can start posting on medium things that we've been posting on fundraising.mozilla.org? Should we all have profiles then to post test findings; etc? @HPaulJohnson

[2016-07-27 23:19] HPaulJohnson commented on #719
@valianttry and I discussed. plan is to use mozilla advocacy medium publication for all types of blog content. as @KevZawacki has described, we'll use "sections" on the publication to breakout specific campaigns and also have a home for "open advocacy"/"fueling the movement" type of content like fundraising.mozilla.org has today.

[2016-07-28 00:05] hannahkane commented on #823
[Draft document detailing what we're looking for](https://docs.google.com/document/d/1Iqe-l8ZBHBgmsa0ZzEiuclzFl9FtXJdRvhCjYZuOtNs/edit)

[2016-07-28 13:39] vanessarhinesmith commented on #811
It's actually complete. So I guess we can close it :)

[2016-07-28 13:39] #811 closed

[2016-07-28 15:53] amirad commented on #826
Thanks all!

@gideonthomas I tried answering all the questions you had in the google doc. Let me know if I missed something.

I also started organizing resources here: https://docs.google.com/spreadsheets/d/1dDkmnkT7aKA1yga-oNappC-87JpXJXf6GbO5vPmYK3w/edit#gid=0

[2016-07-28 17:17] Melechuga commented on #789
@hannahkane Yup! Thank you.

[2016-07-28 17:17] #789 closed

[2016-07-28 17:18] gvn commented on #723
I'm not sure. Maybe? We still have 2 hubs to build so it could be useful.

[2016-07-28 19:57] gideonthomas opened #827 "Figure out final Women & Web Lit. url"
A lot of amazing work/brainstorming has already been done in https://github.com/MozillaFoundation/Design/issues/194 and the outcome of that issue is going to be the current interim url for the WWL web project.

As can be extrapolated from that issue, there seems to be some questions regarding how WWL fits into the IA of MLN and what that means for the url it can be accessed at.

### Notes
Some key

[2016-07-28 20:11] gideonthomas commented on #826
Woo thanks for the responses @amirad, that clarifies a lot.

### Production Planning Meeting Goals

We have an engineering/design planning meeting scheduled for this week to come up with a strategy for approaching this project. The outcomes of that meeting are:
- [x] Introduce the project to the production team
- [x] To have a broad plan about what needs to be done
- [x] Determine the order of thi

[2016-07-28 20:42] secretrobotron commented on #824
cc @secretrobotron 💥

[2016-07-28 21:52] xmatthewx commented on #827
@gideonthomas this is a excellent summary of the topic. Thanks for the diligence.

I'm not sure if the last point is resolved. I could make a case for a temporary home at `learning.m.o/womenandweblit`, or a permanent home at `womenandweblit.mozilla.org`. I might be mistaken, but this decision has some tech implications. Unless we have a compelling reason to choose subdomain or subpage...

I recomm

[2016-07-29 19:23] secretrobotron opened #828 "Insights - Replace image in Mozilla Strategy doc"
#### DARCI
Driver: @secretrobotron
A: @samanthaburton
R: ~~Probably~~ @flukeout
C: @samanthaburton
I: @Lottarao, Mark, @KevZawacki ?

#### Overview
Reformat this [MLN Programs diagram](https://docs.google.com/presentation/d/1d1n0kZeaKcsYIaTCCQmWP-vYODpSAlRkwPad2vbLgxw/edit?ts=578e5e14#slide=id.g15606e53fb_2_45) to fit into the [Mozilla Strategy: Fueling the Movement](https://docs.google.com/docume

[2016-07-29 21:23] hannahkane commented on #826
This project will begin as soon as we land the two Clubs related tasks from the current heartbeat. As discussed in stand, there's an 80% chance the Club Captain application form will land this heartbeat, and a...uh...12-96% chance the Clubs page changes will land (IIRC, the discrepancy is based on unknowns about localization).

This project will bump the previously scheduled next project which was

[2016-08-01 16:49] #812 closed

[2016-08-02 17:55] secretrobotron commented on #828
Tracking progress here: https://docs.google.com/spreadsheets/d/1P-KuB0xqO4x3E5y1jYMZqCMKHVGhNAEarwdLABtvJKY/edit#gid=0

[2016-08-02 23:19] hannahkane opened #829 "Design/build MLN landing page for recognition/membership program"
We will soon be launching a program to recognize the incredible contributions of people working on and supporting several of our hubs' programs. As part of our communication with contributors, we'll be introducing the Mozilla Leadership Network and providing a way for people to formally get connected to the Network.

Let's use this ticket to clarify the goal of an MLN landing page, and brainstorm

[2016-08-02 23:20] hannahkane commented on #829
@rtufail - can you please correct or clarify anything I misrepresented in the above comment? Can you also provide any known info about the timeline for this?

[2016-08-03 16:15] amirad commented on #826
Thanks for all the questions in the initial design document @hannahkane and @gideonthomas

I wrote out site text and info which I think answers a bunch of the questions and can be the next place for your feedback. https://docs.google.com/document/d/1ehB2zgBH6XIAif6rUyLyHmGWQQSdQrxQpounPk9bPI8/edit#

[2016-08-03 18:58] xmatthewx opened #830 "MoFo Brown bag on Mozilla rebrand"
#### DARCI

Driver: ??
A:
R: @xmatthewx, @HPaulJohnson, @lovegushwa
C: ??
I:

Description and plan TBD.

[2016-08-04 22:57] hannahkane commented on #798
New application form is in production.

[2016-08-08 17:06] Melechuga commented on #817
Hi @vanessarhinesmith,
If this is something you still want to push forward, please feel free to do so! I'm taking myself off this thread to avoid GitHub confusion. Thanks!

[2016-08-08 17:07] #774 closed

[2016-08-08 17:08] Melechuga commented on #813
This has migrated to a google docs, and the website launched.

[2016-08-08 17:08] #813 closed

[2016-08-08 17:09] ghost commented on #817
Thanks Mel! I am actually going to close.

[2016-08-08 17:09] #817 closed

[2016-08-08 17:41] hannahkane commented on #821
I believe all the items in this list are done, so I'm going to close this ticket. @edrushka - if useful, feel free to file a planning ticket that better represents the upcoming heartbeat.

[2016-08-08 17:41] #821 closed

[2016-08-10 19:58] secretrobotron opened #831 "Visualize the MoFo 2016-2018 Strategy (contracted)"
#### DARCI

Driver: @secretrobotron
A: @samanthaburton
R: @secretrobotron + a contractor
C: @Lottarao, @KevZawacki
I: Mark
#### Overview

Find a contractor to visualize the new strategy in a way that can be used in presentations, info packages, etc. Much more thorough description in the [creative brief](https://docs.google.com/document/d/18OHuMTdk5-5JEEPxJLnxGny7Hp4dj78ku0DOMwOgzgk/edit#).
#### Li

[2016-08-10 22:14] secretrobotron opened #832 "Implement new design for mozilla.org/foundation page"
#### DARCI

Driver: @secretrobotron
A:
R: @sabrinang, @mmmavis
C: @sabrinang  @Lottarao @KevZawacki
I: Mark @samanthaburton @hannahkane @xmatthewx
#### Overview

As a follow-up from https://github.com/MozillaFoundation/Design/issues/193, make adjustments to the page on mozilla.org/foundation to look like the image below that @sabrinang created.

Not sure if this overlaps with #825 that @KevZawacki

[2016-08-10 22:18] secretrobotron commented on #832
Note that https://github.com/MozillaFoundation/Design/issues/193 isn't quite done yet. But maybe this work can happen in parallel to some extent.

[2016-08-10 22:18] secretrobotron commented on #832
cc @alanmoo

[2016-08-10 22:26] hannahkane commented on #832
Considering this a candidate for Sept 16, but will have to discuss with the Going Global team to see how it fits in with our other work before we definitely commit.

If it doesn't work for the Going Global team, @secretrobotron and I can discuss other options.

[2016-08-10 22:44] mmmavis commented on #832
If this is just one page it will take less than a day for implementation. Need to reserve time for review process for sure!

[2016-08-10 23:42] xmatthewx commented on #832
Thanks for wrangling @secretrobotron

[2016-08-11 11:38] KevZawacki commented on #832
@Lottarao is driving the new navigation for mozilla.org/foundation -- @Lottarao, is ticket #825 still accurate / relevant?

[2016-08-11 13:32] secretrobotron commented on #832
@KevZawacki I have the same question! That #825 didn't have any movement, and I wasn't sure if it encompassed a whole new design for pages on `/foundation`. Let's combine if easier.

[2016-08-11 15:11] xmatthewx commented on #832
If I may insert an opinion here (knowing I don't have all the context): I don't think we should add more pages and more text until we've made the landing page stronger. It'll complicate things without making our home any stronger.

[2016-08-11 15:15] secretrobotron commented on #832
👍 those pages are for Advocacy, Leadership, and Issues, which feel like their own solid endeavor (for content, imagery, etc. etc. etc.).

[2016-08-11 17:11] Lottarao commented on #832
I have finished content for Advocacy, Leadership and Issues, but just
waiting on final approval. I should have it by this Friday. I think to fit
into next heartbeat it needs to be submitted by 17th, right? However, I
would love guidance on best navigation given redesign of landing page.

On Thu, Aug 11, 2016 at 8:15 AM, Bobby Richter notifications@github.com
wrote:

##

Lotta Rao
Mozilla Foundatio

[2016-08-12 00:01] flukeout commented on #828
ARE YOU READY??????? let me hear some noooooise....

[2016-08-12 00:02] flukeout commented on #828
Put your hands in the air... and SCREEEEAMM!!!!

[2016-08-12 00:02] flukeout commented on #828
I can't hear you......??? LOUDER!!!!

[2016-08-12 00:02] flukeout commented on #828
![image](https://cloud.githubusercontent.com/assets/25212/17608979/59c74b02-5fe5-11e6-97ba-5310953e30d8.png)

[2016-08-12 00:02] flukeout commented on #828
THE CROWD JUST LOSES IT... they're going CRAAAZY!!!!!

💯 💯 🔥 🔥

[2016-08-12 00:08] flukeout commented on #828
All assets, including this new diagram, are in the Google Drive...
https://drive.google.com/open?id=0B_CPRh4f3yyqanJLOXZfbHh1Unc

Let me know if you need any changes.

[2016-08-12 00:18] hannahkane commented on #828
Just lurking and noticed a typo in the word "Partnerships." Looks nice!

[2016-08-12 13:20] samanthaburton commented on #828
![giphy](https://cloud.githubusercontent.com/assets/16709293/17623439/07bfde9e-606e-11e6-9ef5-4c11a3476ade.gif)

[2016-08-12 13:22] samanthaburton commented on #828
One small change request - can we make all of the vertical bars the same height? Just don't want the different heights to be interpreted as a difference in the programs size/age/importance...etcetc

Thanks so much @flukeout !

[2016-08-12 13:45] ldecoursy commented on #828
+1 to Sam B.

[2016-08-12 15:32] KevZawacki commented on #828
omg

_(realizes @flukeout did the voice work in [NFL Quarterback Club '96](https://youtu.be/KNiIenc7ovs?t=1m53s) for SNES.)_

[2016-08-12 16:11] flukeout commented on #828
Updated the arrows, fixed the typo and updated the files in the Google Drive.

![image](https://cloud.githubusercontent.com/assets/25212/17628968/b3d1276c-606c-11e6-87ba-b9567b1b57e5.png)

[2016-08-12 16:38] ldecoursy commented on #828
One more change, sorry! We need to change "programs" back to "hubs."  In the headline as well as the future vertical bar.

[2016-08-12 16:53] flukeout commented on #828
Updated. Latest source and individual files are in the [Google Drive](https://drive.google.com/open?id=0B_CPRh4f3yyqanJLOXZfbHh1Unc)

[2016-08-12 16:53] #828 closed

[2016-08-12 18:40] gideonthomas commented on #826
### Progress Tracker
- [x] Repository has been set up
- [x] Design has been finalized
- [x] Engineering work has been done
- [x] Content/Copy has been added
- [x] Website is accessible
- [x] Launch

[2016-08-12 18:57] gideonthomas commented on #827
Based on the discussions from our meeting, here are some noteworthy points:
- Etherpad Link: https://public.etherpad-mozilla.org/p/wwl-ia
- As an interim solution for this product (#826), we will stick to `https://mozilla.github.io/womenandweb` as the url
- Currently WWL is very similar to the clubs model used in the Learning hub
- The future for WWL is unclear, with the possibility of expanding b

[2016-08-12 18:58] amirad commented on #827
👌

[2016-08-12 19:08] hannahkane commented on #827
Closing. I assume we'll open a new issue as the program evolves and new needs for the web presence emerge.

[2016-08-12 19:08] #827 closed

[2016-08-15 09:33] secretrobotron commented on #828
👍 updated the progress tracker

[2016-08-15 16:10] flukeout commented on #828
Thanks @secretrobotron - wouldn't have felt right without that.

[2016-08-30 21:27] mmmavis commented on #832
@secretrobotron we should let Mike Alexis know that this is coming so the mozilla.org team can reserve time for us when they do their triage.

[2016-08-30 21:51] secretrobotron commented on #832
@sabrinang @mmmavis I added links to copy in the links section above for reference.

[2016-08-30 21:52] hannahkane commented on #823
Have spoken with two good candidates. Need to make a decision in conversation with @simonwex

[2016-08-30 21:52] secretrobotron commented on #832
@hannahkane after speaking with @mmmavis and @sabrinang a bit, there is a process that we should go through for proper iteration on design, and a potentially lengthy period of time to do implementation because of review process.

**It makes sense to kick off this whole thing as a piece of work at the beginning of next heartbeat.**

cc @Lottarao @samanthaburton

[2016-08-30 21:53] hannahkane commented on #820
Closing this ticket, because the basic infrastructure is done, and localization has begun in Pontoon. There's still lots more work to do around localization, but will file specific tickets as necessary.

[2016-08-30 21:53] #820 closed

[2016-08-30 21:54] hannahkane commented on #798
Clubs page layout changes are live.

[2016-08-30 22:06] hannahkane commented on #832
Can you say more about the proper iteration on design? Would like to know how much effort to account for, given other planned work in the next heartbeat.

[2016-08-31 14:51] secretrobotron commented on #831
Moving to next heartbeat. Work ongoing. In the process of talking to lots of potentials with good ideas.

[2016-08-31 14:54] secretrobotron commented on #832
Certainly, and @sabrinang can add colour.
1. The existing design is only for the main page, and probably needs another round of review.
2. The other pages need to be put through the same treatment and go through review.
3. There are other implications to consider with @Lottarao and @samanthaburton's help, like IA on the site (however small it may be). @sabrinang can suggest a couple options that w

[2016-08-31 22:43] hannahkane commented on #832
@sabrinang - would it be possible for you to estimate the % of the heartbeat you think this will take? Would be useful for planning the next heartbeat.

[2016-09-02 22:13] hannahkane commented on #823
Postponing this until 2017

[2016-09-02 22:13] #823 closed

[2016-09-02 22:30] hannahkane commented on #824
Closing in lieu of tickets in production repo

[2016-09-02 22:30] #824 closed

[2016-09-02 22:32] hannahkane commented on #822
Closing in lieu of production tickets

[2016-09-02 22:32] #822 closed

[2016-09-02 22:33] hannahkane commented on #798
This is all being tracked in Learning site repo, so I'm closing this here. Will use Plan repo exclusively for pan-Mofo projects.

[2016-09-02 22:33] #798 closed

[2016-09-02 22:34] hannahkane commented on #783
This is all being tracked on the Learning site repo (with the exception of the blog migration), so closing here as an unnecessary duplicate.

[2016-09-02 22:34] #783 closed

[2016-09-06 16:21] #826 closed

[2016-09-06 16:24] hannahkane commented on #826
Awesome job to everyone who worked on this!

[2016-09-07 21:06] kaythaney commented on #826
+100! :)

On Tue, Sep 6, 2016 at 12:24 PM, hannahkane notifications@github.com
wrote:

##

@kaythaney http://twitter.com/kaythaney/

[2016-09-12 21:07] secretrobotron commented on #832
Deadline update: October board meeting! Needs to be ready by October 17.

[2016-09-14 17:54] xmatthewx commented on #832
Cool. Working backwards, how much time is required for implementation and shipping?

[2016-09-14 19:23] secretrobotron commented on #832
@mmmavis has quoted a couple of days of implementation (see above), and lots of time to review—unable to get a specific answer yet, but we're in dialog with the moco team there. Mavis' experience suggests a couple of weeks, but they seem to be a bit more on top of it.

That's roughly 2.5 weeks of lead time, I think.

Latest from @sabrinang is here: https://github.com/MozillaFoundation/Design/issue

[2016-09-19 16:18] sabrinang commented on #832
Please finalize main page copy on google doc: https://docs.google.com/document/d/1Z9lP-_iOz5xSgwzLN8q-Zuss1aFRdPoyTuqBLAKf26s/edit#heading=h.dkjg336o8qzk

Note: Devs will be referencing to this copy

[2016-09-19 16:20] secretrobotron commented on #832
Good kickoff today. Starting work, pending broader kickoff meeting with @hannahkane. Todo list:
- @alanmoo will start the build
- @sabrinang will implement @Lottarao design changes to compare to current ones
- @sabrinang will reach out to a designer to check her work
- Check with @Lottarao to see if any other copy needs to change (aside from the 4 pages @sabrinang mocked up)
- Make sure @KevZawack

[2016-09-19 17:43] hannahkane commented on #832
Designated a p1 during Going Global heartbeat kickoff, so, yes, good to go. :)

[2016-09-19 17:47] secretrobotron commented on #832
@Lottarao can you make sure all the correct copy is in the doc @sabrinang mentioned [above](https://github.com/MozillaFoundation/plan/issues/832#issuecomment-248040631)?

[2016-09-19 18:14] KevZawacki commented on #832
That's a handsome Google Doc! Looks good to me 👍

[2016-09-20 18:22] secretrobotron commented on #832
Notes from @sabrinang in https://github.com/MozillaFoundation/Design/issues/193#issuecomment-248385926

[2016-09-21 16:28] MandyRawls opened #833 "Design support for new employee onboarding materials and swag"
Requesting design support for our new employee onboarding project, with the goal of making a more standardized, cohesive (and fun!) onboarding experience for all new employees.

Key pieces that require design support:
- creating a visual onboarding "roadmap"
- design for welcome package, including: welcome card, MoFo specific swag, etc.

  A bit more detail has been provided to @xmatthewx

Deadlin

[2016-09-21 17:42] hannahkane commented on #833
@xmatthewx - are you able to provide an estimate for this?

Thanks for the ticket, @MandyRawls. Does the deadline need to include production time for the swag?

[2016-09-21 19:12] secretrobotron opened #834 "Build DSO exhibit for Mozfest"
#### DARCI

Driver: @secretrobotron
A: @secretrobotron @LauraReynal
R: @secretrobotron @LauraReynal @taisdesouzalessa
C: @secretrobotron @LauraReynal
I: @Saallen
#### Overview

We're building an exhibit within the MozEx grounds for Mozfest this year to display DSO using @LauraReynal's beautiful, high-res photography, and insights gathered from the research. We need design help to figure out how it

[2016-09-21 21:45] xmatthewx commented on #833
- **Roadmap** – I would estimate 2 days for an info-graphic that visualizes the onboarding roadmap that could sit as an image on the foundation wiki. A bit more if it's a standalone pdf with branding.
- **Card** – Welcome card (like a hallmark card?) could be 2 half days with feedback in between.
- **Swag** – Swag is just a few hours of work if we have clear specs and just plan to use a logo. Plan

[2016-09-21 21:59] xmatthewx commented on #833
@taisdesouzalessa – will see if her and @MandyRawls can meet this week to gather details on the requirements.

[2016-09-21 22:02] xmatthewx commented on #833
Questions:
- [x] Is Oct 15th the deadline for design or printing?
- [x] Do we want original artwork for swag, t-shirt? Or just application of logo and text?
- [x] Where does the roadmap live? Wiki? PDF? Can it be high level, or will it require periodic updates?
- [x] others....?

[2016-09-21 22:30] xmatthewx commented on #834
This is going to be beautiful.

Also, it is a much bigger project than it seemed when we talked last week. I thought it was a few posters that needed a photo selected and text placed on it. Not an extensive collage of text and images.

We'll have to run this by @hannahkane to see if it does or doesn't fit within the upcoming heartbeat.

@taisdesouzalessa has another priority and too much orientati

[2016-09-22 18:15] taisdesouzalessa commented on #833
Besides Matthew questions:
- [x] will they provide content for the roadmap?
- [x] any example of roadmap/swag stakeholders like/find interesting?
- [x] How do you want the new employees feel (3 keywords)? Should those pieces show a bit of Mozilla Foundation culture (3 keywords)? That helps to define the style/theme of illustrations.

[2016-09-22 20:06] alanmoo commented on #832
The new pages need URLs. Here's what I'm planning unless someone says otherwise:

mozilla.org/foundation/issues
mozilla.org/foundation/advocacy
mozilla.org/foundation/leadership

[2016-09-22 20:17] secretrobotron commented on #831
Pushing pause on this because the work might get done with a contractor we're already consulting with. However, @Lottarao might find use with it when doing comms for it laster.

[2016-09-22 20:18] secretrobotron commented on #832
@Lottarao, @samanthaburton  ^^ ok with you?

[2016-09-22 20:20] samanthaburton commented on #832
Works for me!

On Thu, Sep 22, 2016 at 4:18 PM, Bobby Richter notifications@github.com
wrote:

##

Sam Burton
Lead, Issues, Insights & Impact | Mozilla Foundation

_Cell: *+1 416.877.0710 | *Twitter:_ @TheSamBurton
http://twitter.com/thesamburton\* | Skype:\* samantha.v.burton
Currently in Toronto

[2016-09-22 20:53] taisdesouzalessa commented on #833
Here are the notes from my meeting with @MandyRawls . Mandy, if there is anything I missed or if you have any additional info, please add to the document: https://docs.google.com/a/mozilla.com/document/d/1VR1gyIGtihfkZUl5J-Wg5h5QglVJ8wqx5CPvP2BmtWc/edit?usp=sharing

[2016-09-22 20:58] secretrobotron opened #835 "Get OLTS ready for Mozfest"
#### DARCI

Driver: @hannahkane
A: @zee-moz
R: @flukeout
C: @zee-moz @acabunoc @chadsansing
I: @kaythaney
#### Overview

For Mozfest attendees, OLTS needs a landing page to explain
- what it is
- how it connect to Mozilla,
- how it should be used in its current incarnation, and
- how to provide feedback.

Right now, the content is on teachable, so we could simply provide a link to that instance fr

[2016-09-22 21:03] Lottarao commented on #832
Yes.

On Thu, Sep 22, 2016 at 1:18 PM, Bobby Richter notifications@github.com
wrote:

##

Lotta Rao
Mozilla Foundation
Internal Communications Manager
skype: lottarao

[2016-09-26 14:14] alanmoo commented on #832
Before I officially open the PR, I've got the proposed changes up at https://bedrock-demo-jpetto-alanmoo.us-west.moz.works/en-US/foundation/ . Please let me know if I've missed anything.

[2016-09-26 15:19] xmatthewx commented on #832
Lookin' good!

Let's make a list for a review of the quality. If everyone could take a peek.
- [ ] copy
- [ ] desktop layout
- [ ] mobile layout
- [ ] links
- [ ] subpages

Would it be possible on mobile to make the white content section full width? Removing the tan margins?

<img width="311" alt="screenshot 2016-09-26 11 16 13" src="https://cloud.githubusercontent.com/assets/53411/18839970/02c6e2

[2016-09-26 15:21] samanthaburton commented on #832
It looks great! I've got a few thoughts on the copy - where's the best spot to leave 'em? Their GoogleDocs?

[2016-09-26 15:22] alanmoo commented on #832
Yes, but use the "suggest changes" functionality, makes it easier for me to see the differences.

[2016-09-26 15:25] alanmoo commented on #832
@xmatthewx I grabbed this template from the 'about' page style. I could change this, though
a.) I was trying to keep changes to a minimum
b.) At 320px wide (the generally agreed upon 'minimum' phone size), there is no tan margin

Edit: though I think I've found a quick fix for this and agree it looks better...

[2016-09-26 20:44] xmatthewx commented on #833
This looks great. Thanks @taisdesouzalessa.

I'll discuss with @hannahkane and make a plan.

@MandyRawls – I would like to note that mid-October is pretty soon with MozFest in high gear. Two weeks could get us thru planning, gathering precedents, exploring design options, choosing a final direction. But we might need some time post Mozfest to wrap up.

[2016-09-27 18:28] MandyRawls commented on #833
@xmatthewx - that timeline works for us. Please let me know if you need anything else. Thanks!

[2016-09-28 19:44] hannahkane commented on #835
Ping @zee-moz - could you please share the Teachable url? We'll have a designer take a look and provide some feedback.

[2016-09-28 20:28] abbycabs commented on #835
You might have to be an admin on teachable to see these:

Curriculum:
https://mozilla.teachable.com/courses/enrolled/mozilla-open-leadership-training-series

Sales page:
https://mozilla.teachable.com/p/mozilla-open-leadership-training-series/?preview=logged_out

[2016-09-28 20:29] abbycabs commented on #835
wrong link earlier, updated comment with https://mozilla.teachable.com/courses/enrolled/mozilla-open-leadership-training-series

[2016-09-30 16:29] MandyRawls commented on #833
I've updated the design document with the keywords for the feel/culture piece that Tais requested.

[2016-10-03 13:53] alanmoo commented on #832
I'm submitting the PR for this momentarily. There's no reason to hold deployment until a specific date, is that correct?

[2016-10-03 13:57] samanthaburton commented on #832
Great, thank you! No reason to hold, if it gets deployed earlier that's
great :)

On Mon, Oct 3, 2016 at 9:53 AM, Alan Mooiman notifications@github.com
wrote:

##

Sam Burton
Lead, Issues, Insights & Impact | Mozilla Foundation

_Cell: *+1 416.877.0710 | *Twitter:_ @TheSamBurton
http://twitter.com/thesamburton\* | Skype:\* samantha.v.burton
Currently in Toronto

[2016-10-03 14:04] alanmoo commented on #832
Great. The review status can be tracked [on Github](https://github.com/mozilla/bedrock/pull/4383) and [bugzilla](https://bugzilla.mozilla.org/show_bug.cgi?id=1307107), if needed.

[2016-10-03 22:36] hannahkane commented on #835
Assigning @taisdesouzalessa and @flukeout to be responsible for:
- [ ] Finding an image to use for the hero on [this page](https://mozilla.teachable.com/p/mozilla-open-leadership-training-series)
- [ ] Finding/creating an avatar to use for the Instructor image

[2016-10-05 22:37] hannahkane commented on #700
Starting a doc [here](https://docs.google.com/a/mozilla.com/document/d/1JxTxekeU-miatze3m-dFG_fHZm-uaka6AQb-YGKBDfM/edit?usp=sharing)

cc @Lottarao

[2016-10-05 23:43] edrushka opened #836 "Board: Write MozFest piece"
Responsible for copy: @steviebenton
Copy signoff: @chrislarry33 (Claw)
Responsible for design: @natalieworth

**Context:**
We have a major board presentation coming up. (There's an entire team working on pulling together content.) We need to write content for the MozFest slide(s) that will go in the presentation deck. The audience is board members. For reference, [last year's presentation](https:/

[2016-10-06 13:48] StevieBenton commented on #836
Thank you for the add, @edrushka

Just as a steer, when you say network stories, can I use anything programmatical from Medium, Pulse, anything like that?

[2016-10-06 16:12] StevieBenton commented on #836
OK, I think I have something. I'm not entirely clear on the kind of stories we want to highlight but have put together a first attempt for comment and feedback, very much with a second version in mind that will be closer to the brief. [It's here](https://docs.google.com/document/d/1mWF-fZp-W_AEnlZGCUIEmKWyFIxgQZnXF7Y2SHglC6c/edit?usp=sharing).

[2016-10-06 17:27] chrislarry33 commented on #836
Thanks @StevieBenton great start and I appreciate the speed. I think we need even another level of specificity on each issue. I.e. looking at a specific art installation that examines privacy

[2016-10-06 18:35] StevieBenton commented on #836
That's helpful @chrislarry33 thank you. I will take another look then post here with an updated version.

[2016-10-06 18:40] chrislarry33 commented on #836
@StevieBenton glad to hear it. The key really is exciting examples about how MozFest will demonstrate the issues in action in a sexy way that will engage the board members quickly.

[2016-10-06 19:47] StevieBenton commented on #836
@chrislarry33 I've had another go. I think the stories are quite sexy - such as a game to teach about CSS, the long term impact of an installation - but it's a little longer than before. As ever, all comments welcome!

[It's here](https://docs.google.com/document/d/1mWF-fZp-W_AEnlZGCUIEmKWyFIxgQZnXF7Y2SHglC6c/edit).

[2016-10-06 19:56] chrislarry33 commented on #836
Much closer @StevieBenton but needs to be preview of mozfest 2016 not a look back

[2016-10-06 19:57] edrushka commented on #836
Sorry - I misunderstood. I thought it could be retrospective.

[2016-10-06 20:02] StevieBenton commented on #836
No problem at all. I'll review what's there and see if I can find some stories that are about this year. I'll ping you with an amended version. Is tomorrow OK for a next attempt?

[2016-10-06 20:11] flukeout commented on #835
Just wanted to point out that as far as I can tell, we only get to specify one color scheme for our mozilla teachable account, and currently it's configured to the purple / green scheme of the Clubs materials.

So even on the OTLS stuff, those colors will be used...

![image](https://cloud.githubusercontent.com/assets/25212/19168704/40d4eb38-8bc6-11e6-851a-f63963af6d64.png)

@acabunoc - What do yo

[2016-10-06 20:36] zee-moz commented on #835
hey @flukeout I think we have some clout with the Teachable people as we are paying for the extra special account... so more color schemes is something we can probably request! @amirad is cameron mattis the person to ask about this?

[2016-10-06 20:42] flukeout commented on #835
That would be good to look into - I'm just not sure teachable is set up that way. The "mozilla" school is considered the "site" - which only has one Theme available to it.

![image](https://cloud.githubusercontent.com/assets/25212/19169729/8e48ce94-8bca-11e6-8cef-9533f8b7f004.png)

[2016-10-06 21:03] flukeout commented on #835
Also, do you have any photos from any of the past trainings? Clubs team uses images like these for their courses, so I think it would be good to match.

![image](https://cloud.githubusercontent.com/assets/25212/19170516/9764629c-8bcd-11e6-98df-a43ab83b9063.png)

[2016-10-06 21:08] amirad commented on #835
Yes, email Cameroon. He can answer whether this is possible. Or we can do a more neutral colour theme that works for both.

[2016-10-06 21:12] zee-moz commented on #835
hmm, well OLTS is online only, so there are no in-person trainings yet! :(

But @acabunoc can take or maybe has screenshots from her mentorship meetings--  might those work? Or just photos of people and projects...

@flukeout here's Cameron's address: cameron@teachable.com I think you can just email him and say  @amirad sent you! 😸

[2016-10-06 21:28] flukeout commented on #835
Okay, thanks! I emailed him and will update this issue when I've heard back.

[2016-10-06 21:37] kaythaney commented on #835
@zee-moz what about the photos from the WOW?

On Thu, Oct 6, 2016 at 5:28 PM, Luke Pacholski notifications@github.com
wrote:

##

@kaythaney http://twitter.com/kaythaney/

[2016-10-06 22:05] flukeout commented on #835
Team, checked in with Cameron - we can only do one theme per school, and each school has its own subdomain (the "mozilla" in mozilla.teachable.com). Our account type allows us to create additional schools at no extra cost.

**Our options are**
- If we want alternate styling for OLTS materials, we'll need to set up something like `mozilla-leadership.teachable.com`.
  - This means we'd probably want

[2016-10-06 23:06] xmatthewx opened #837 "Evaluate Chat (Mattermost) to prep for 2017"
Hi team. It’s time for us to make a choice: double-down on Chat (Mattermost) for 2017, or make a plan to move to a new platform.

We’d like each production team member to weigh in with arguments for _Exit_ vs _Double-down_.
- Ambivalent? Argue both sides.
- Take a personal and opinionated stance and/or aim for objectivity.
- Unsure? Don’t care? Please post that as a comment.

Let's establish our s

[2016-10-06 23:21] gvn commented on #837
It's hard for me to make a case without discussing alternatives, but my vote is **Exit**.

Mattermost feels like a half measure to me. It doesn't have great UX. ~~It doesn't have a mobile client.~~ I think it's, unfortunately, always going to be playing catchup to more established chat clients. Slack is its "living" design document/roadmap, and has significantly more velocity and resources behind

[2016-10-06 23:31] cadecairos commented on #837
I'm 100% for sticking with it. In the beginning, things were pretty rough, but as Mattermost progressed through version 3.0 and onwards it's become a much more viable platform for communication. I expect it to just get even better moving forward. Take my opinion with a grain of salt though, I've invested a lot of my time in improving the ecosystem through installers and integrations.

Notable thin

[2016-10-07 00:33] cadecairos commented on #837
[Yes it does!](http://about.mattermost.com/downloads/)

[It has one of these too :)](https://github.com/42wim/matterbridge)

I would not recommend migrating to Slack, for the comparable features we've got, we're looking at $4500/year (for ~200 users) versus $50/year (for up to 1000)

edit: We should take into account costs of self-hosting Mattermost too - ~$100/month IIRC

[2016-10-07 13:18] StevieBenton commented on #836
Hello again everyone. [3rd draft is here](https://docs.google.com/document/d/1mWF-fZp-W_AEnlZGCUIEmKWyFIxgQZnXF7Y2SHglC6c/edit?usp=sharing) and I think this is much closer. I have chosen these examples because they tie in really well with the overall aims of the festival and include a range of session types and focuses.

Please do let me know what you think.

[2016-10-07 14:03] Pomax commented on #837
I can't honestly vote on this without understanding what our current motivation for running and keeping it is, so these are the options as I've been thinking about them:

The initial idea was that it would lower the bar to entry for contributors. That has not materialized, but then we also never planned and executed on making the public aware of this option, so if that is still the idea (with the

[2016-10-07 15:20] StevieBenton commented on #836
[Latest version is now available](https://docs.google.com/document/d/1mWF-fZp-W_AEnlZGCUIEmKWyFIxgQZnXF7Y2SHglC6c/edit). @chrislarry33 I've taken on board your suggestion that the blurbs could be longer and have doubled them in length. In my view they are still punchy and powerful.

In terms of images, should I move on with that, or is it best left to @natalieworth as the designer?

[2016-10-07 15:53] edrushka commented on #836
Please leave images and design to Natalie.

[2016-10-07 17:45] gvn commented on #837
I question whether we should factor cost into this discussion.

And if we are, then shouldn't we factor in the cost of our paid staff contributing code to MM?

Ultimately, I think we should pick the best tool, not the cheapest one...

**PS:**

[Slack for Nonprofits](https://get.slack.help/hc/en-us/articles/204368833-Slack-for-Nonprofits)

[2016-10-07 18:02] flukeout commented on #837
**Q**: What does double-down entail? Continue using it, or put in some kind of extended effort to improve it? If we're improving it, what are the plans, features, etc?

I don't think mattermoz has been successful in terms of attracting and engaging outside contributors, so I think we should **ditch it** unless we have a magic bullet idea for improving that aspect.

Internally, we'll use whatever w

[2016-10-07 18:16] xmatthewx commented on #837
Thanks for all the thoughts. Let's continue to gather input and perspective from the entire team and keep this fairly open and exploratory.

[2016-10-07 18:18] abbycabs commented on #837
I vote _Exit_ with the caveat that I suspect my vote would change if we waited another 6-12months. Mattermost has gotten remarkably better since we started, but not enough for me to vote _Double-down_ in its current state.

I'm only really able to compare this with Gitter and IRC since I haven't organized any programs/events using Slack.

**IRC**

IRC has a steep learning curve, and despite best e

[2016-10-07 18:19] cadecairos commented on #837
I think that if we plan on using something other than IRC to communicate with community, cost per user should be a factor.

I'm not sure if we've even tried passing Chat off as a means to engage outside contributors. How many repos have we linked it in? which sites do we advertise it on? Measuring it's success as a contributor engagement tool seems too soon based on how we've shared it out to peop

[2016-10-07 18:20] xmatthewx commented on #837
#### re: Cost

Let's figure out what we need and what we want before we worry too much about costs. (Two weeks of one production staff person's time with overhead is roughly equal to the year of slack as estimated by @cadecairos)

edit: As MoFo infrastructure, we can also budget for cost differently than other production projects.

[2016-10-07 18:21] cadecairos commented on #837
indeed, but that's for a community that's not growing :D

[2016-10-07 18:24] flukeout commented on #837
@cadecairos I didn't suggest IRC is better for external engagement. I think its useful and cheap for internal communications and MoCo is also using it. With that in mind, we can use it and it frees us up to explore something new that isn't necessarily a chat interface for engaging community.

[2016-10-07 18:25] ryanwarsaw commented on #837
My vote is to _**stay**_ with Mattermost. It is a solution that is scalable, cost effective and capable of growing with Mozilla Foundation. Additionally, the barrier of entry is much lower than that of IRC.

[2016-10-07 18:25] xmatthewx commented on #837
It would be good to share a link to original rationale, plan, evaluation if anyone has it.

My personal assumption on the value of any comms platform would be ranked: 1) More effective MoFo with less email. 2) More engagement with Fellows, MozFest Wranglers, and lead Network members. 3) Engagement with contributors.

I'm curious what @simonwex @Lottarao would say in terms of strategic priorities.

[2016-10-07 18:29] gideonthomas commented on #837
tldr; I don't think Mattermost is the right fit, although we need adequate research from people other than the production team to make a proper decision

This was probably just a formality but I feel like the 'C' in the DARCI is missing a lot of people. IIRC, Mattermost was meant to be a solution not just for the Production team, but for MoFo in general as well as Mozilla's network. This includes

[2016-10-07 18:32] xmatthewx commented on #837
Double down? Chexit? Personally, I could make the case for either (I'll post that soonish). I don’t, however, think there’s a good argument for _Stay the course_. Our attempts to engage and onboard all staff and some community (Hive, MozFest) have not succeeded due in part to platform shortcomings. This platform is mission critical – if we do it, we should commit resources and do it right.

I'd su

[2016-10-07 18:35] xmatthewx commented on #837
Yes. And, if the production team isn't eager to drive this as one way we have strategic impact on our mission, then I would focus that research on other options. edit: That's why I started this thread, rather than drafting a survey for all staff.

edit: by drive this, I mean drive a double-down on Mattermost. Not drive the research.

[2016-10-07 18:36] xmatthewx commented on #837
### Thanks everyone for the thoughtful comments. I can see that there is a lot of passion here. I appreciate the friendliness of the debate.

[2016-10-07 18:37] abbycabs commented on #837
I would like to officially throw my vote for Gitter here (in case that wasn't obvious from my response). Not open, but a much nicer experience, and good amount can be done for free.

[2016-10-07 18:39] ryanwarsaw commented on #837
If the comparison is Mattermost vs. Slack then that isn't a fair comparison. These companies offer similar communication solutions but under very different circumstances.

Slack benefits from having plentiful amounts of funding, more man power and most importantly having more time to mature their solution. Mattermost lacks in all of the above, and hasn't been around as long as Slack.

Just look at

[2016-10-07 18:40] gideonthomas commented on #837
Sorry @xmatthewx, I totally phrased that incorrectly. I meant that the research done should include feedback from the production team, but primarily include feedback from Hive, Gigabit, etc. (whether the research is driven by the Production team or by someone else).

[2016-10-07 18:41] cadecairos commented on #837
@ryanwarsaw I agree, and I like Mattermost and what it offers, but we need to focus on finding _the right_ tool for Mozilla and our community. It may not be Mattermost, Slack, IRC, or Gitter.

[2016-10-07 18:47] ryanwarsaw commented on #837
@cadecairos That's completely true, and if we can find a tool that is the right one for Mozilla and the community, I'm all for making the transition. My concern is mainly directional.

Edit: By directional, I mean finding a solution that works for everyone and lowers the barriers for things like contributor introduction. Making sure it's a change in the right direction rather than a step in the wr

[2016-10-07 18:57] xmatthewx commented on #837
No, I'm sorry @gideonthomas. I think I understood you correctly. I meant drive a double-down on Mattermost, not drive the research. I added an edit to my [comment above](https://github.com/MozillaFoundation/plan/issues/837#issuecomment-252328167).

To reiterate: If the production team isn't eager to drive a double-down on Mattermost, then I would focus research with staff, hive, etc on understandi

[2016-10-07 19:27] abbycabs commented on #835
Quick update (sorry I missed so much above! Will read through). I ran a Mozfest Open Project training for facilitators today -- it's meant to be a condensed version of the first half of OLTS.

I was planning on using Teachable, but found it really hard to extract the exercises I wanted. So I made [this guide](https://acabunoc.github.io/mozfest-open-projects-2016/) that summarized the parts I wante

[2016-10-07 19:28] taisdesouzalessa commented on #837
Hey team, I am new to the company and probably I don't understand all the complexities involved in such a decision (and I am new to Mattermost as well ). So my perspective is more like an outsider I guess... I think we should think about the goals, as @flukeout mentioned in his post above. Is the main goal: 1. to attract and engage outside contributions? Or 2.to facilitate internal communications?

[2016-10-07 19:50] jgmac1106 commented on #837
My two cents as a contributor on both the MoFo and MoCo side.

Mattermost was cool with many features above and beyond IRC. Yet I had to
remember to open the link and I never did.

In IRC I opened the client and my channels were there.

This kind of tool shouldn't be about attracting new contributors. It's for
the kool aid drinkers. This will not change for IRC or Mattermost. Casual
users will alw

[2016-10-08 18:58] StevieBenton commented on #836
Hello again everyone. I've had another go and I think this version is the closest yet. I've tried to inject as much sizzle as possible without veering into hyperbole.

[It's here](https://docs.google.com/document/d/1mWF-fZp-W_AEnlZGCUIEmKWyFIxgQZnXF7Y2SHglC6c/edit?usp=sharing). Again, I've kept all earlier versions in the same doc in case some of the earlier content is of use. Please do let me kno

[2016-10-10 19:00] alanmoo commented on #837
Let me start by saying I feel like I don't have enough information to cast an informed vote, though I'm leaning towards staying with MatterMost.

I saw this conversation going on Friday while I was on PTO, so I haven't had a chance to respond until now, but @cadecairos covers [a lot of the thoughts I was having](https://github.com/MozillaFoundation/plan/issues/837#issuecomment-252324396).

My inst

[2016-10-11 02:53] ryanwarsaw commented on #837
It's important that the final decision ultimately be one that can be agreed upon universally as a step in the right direction in terms of user intuitiveness, easy of use and its ability to foster the end users ability to collaborate and interact with others without technical hinderance.

In order to determine whether or not a solution fits this bill, I think it's extremely important that the commu

[2016-10-11 11:03] StevieBenton commented on #836
Hello @edrushka @chrislarry33

I just wanted to check in quickly as I know that deadline is approaching. Is there anything else needed from me at this point or are you happy with the draft as it stands?

I'm heading to the fringe event at Tate Britain now but will be back online at about 4pm BST.

[2016-10-11 16:54] edrushka commented on #836
Thanks @StevieBenton. This looks good to me but I defer to @chrislarry33.

[2016-10-11 20:54] alanmoo commented on #832
This is live. There's a minor layout bug on iOS but I've already submitted a PR for that.

[2016-10-11 20:54] #832 closed, assigned to alanmoo

[2016-10-11 21:48] mmmavis commented on #832
✨ 🌞 🏖 🍸 🍻

[2016-10-11 22:15] xmatthewx commented on #832
Yay! Victory! ✌️

[2016-10-11 22:42] samanthaburton commented on #832
Woo!!! Looks amazing! Thanks everyone!!

On Tuesday, 11 October 2016, matthew w notifications@github.com wrote:

##

Sent from my pocket computer, please excuse typos and brevity

[2016-10-13 16:47] xmatthewx commented on #836
@chrislarry33 – is Version 4 in the doc good and ready for design?

@edrushka @StevieBenton – it seems like this needs to be paired with a description of the festival itself. Should we grab things from the festival guide? Or is there better language somewhere for this audience?

[2016-10-13 16:53] StevieBenton commented on #836
Hey @xmatthewx - I defer to @edrushka but am happy to put something together if required.

[2016-10-13 16:55] xmatthewx opened #838 "Board: Design MozFest piece"
We need a simple handout on MozFest for the upcoming board meeting.
- Content: nearly ready: #836
- Format: simple but flexible. Could be a 2 sides of one page. Could be a folded tabloid piece. Requires branding and a little imagery for interest. Nice but simple.
- Could use Fest Guide as template if that simplifies.
- Printing: Likely printed in office or at a local copy-shop. Can you confirm? @O

[2016-10-13 17:46] edrushka commented on #836
@xmatthewx Please grab existing MozFest copy from the guide or the website. If @chrislarry33 needs something more specific, just let us know.

[2016-10-14 19:07] OpenMatt commented on #838
re: printing. @xmatthewx if you provide a digital file here in this ticket, we will include it with the overall package we are delivering to the printer

[2016-10-14 19:08] OpenMatt commented on #838
@xmatthewx thanks for filing this. Just so I'm clear: you have what you need to deliver that file by Monday? Drop dead for sending to the printer is Tuesday am.

[2016-10-14 19:22] abbycabs commented on #835
Hey all,

I've moved OLTS to GitHub for ease of use / remixability. I started putting it here:
https://acabunoc.github.io/open-leadership-training-series/.

If there's design help available, I'd really appreciate styling/branding. It's currently using mofo-bootstrap + a few custom styles.  Sorry for the sudden switch!

Things to do before MozFest:
- [x] finish converting content (Abby)
- [ ] make

[2016-10-14 20:53] xmatthewx commented on #835
@acabunoc – I recommend you leverage the layout and structure used here: http://mozillascience.github.io/working-open-workshop/

There might be a newer instance of this elsewhere. @flukeout could point you to it next week. Feel free to pick a different color set from mofo-bootstrap.

[2016-10-14 21:03] xmatthewx commented on #838
The plan is for a single 11x17 sheet, folded in half for 4 pages. Could shape up like this:
- cover: branding
- inside left: About Mozfest (text lifted from [fest guide intro](https://redpen.io/jr72af2223fa3f4a0a))
- inside right: Stevie's 5 issues at Mozfest ([doc](https://docs.google.com/document/d/1mWF-fZp-W_AEnlZGCUIEmKWyFIxgQZnXF7Y2SHglC6c/edit))
- back: decorative, maybe link to site and sch

[2016-10-14 21:07] OpenMatt commented on #838
Yep sounds good. Thanks Matthew.

On Oct 14, 2016 5:03 PM, "matthew w" notifications@github.com wrote:

[2016-10-14 23:19] kristinashu commented on #838
@xmatthewx here's a rough start. I tried a folded tabloid but had trouble fitting the copy in so here it is as one double sided landscape letter.

Front:
![board](https://cloud.githubusercontent.com/assets/1068783/19405173/93ab9528-9229-11e6-8b9c-4846bf7ff1f4.jpg)

Back
![board2](https://cloud.githubusercontent.com/assets/1068783/19405174/93b0d1f0-9229-11e6-96c6-e2ac3561e59d.jpg)

Alternative Fron

[2016-10-17 17:17] OpenMatt commented on #838
@xmatthewx any updates here? Think we can be ready to ship by EOD today?

btw looks like there's a paragraph break missing above "Online Privacy & Security" for "Key Issues"

[2016-10-17 21:44] xmatthewx commented on #838
@lovegushwa – can you review the [Mozfest PDF](https://drive.google.com/open?id=0B_rbDAen9prkOGlSamFUN0RUQmM)? (Download for a proper view.) This is designed to be printed as a folded sheet of 11x17. But could just be three letter-sized pages, dropping the last one.

You'll find artwork [in drive](https://drive.google.com/drive/u/1/folders/0B2irLVDJivhLcVE1MzVxa0pMQ2s) if any changes are needed.

[2016-10-17 21:48] xmatthewx commented on #838
@OpenMatt @edrushka @chrislarry33 – take a minute to review handout on MozFest for the board meeting. Any errors or concerns?

[Mozfest PDF](https://drive.google.com/open?id=0B_rbDAen9prkOGlSamFUN0RUQmM)<< download it. Google will mess things up in their preview.

cc @kristinashu on the west coast if any changes are needed.

[2016-10-17 22:13] chrislarry33 commented on #838
Looking good @xmatthewx A few nits:
- Can you make the blurbs read in this order: Online Privacy, Digital Inclusion, Open Innovation, Decentralization and Web Lit. I think Web Lit is weakest blurb so want it last
- Cut this copy in intro text: "We’re delighted you’ve joined us. We invite you to build, debate, and explore the future of a healthy internet."

[2016-10-17 22:32] xmatthewx commented on #838
Thanks. Edits are done in [PDF v5](https://drive.google.com/open?id=0B_rbDAen9prkc001aDJkcTRrVjA). This and artwork are in [Drive](https://drive.google.com/drive/u/1/folders/0B2irLVDJivhLcVE1MzVxa0pMQ2s).

[2016-10-17 22:32] xmatthewx commented on #838
@lovegushwa – if this passes your eye test, I think we're good to go.

[2016-10-19 21:03] abbycabs commented on #835
I migrated all the content and took parts from the WOW templates, learning site, and others

https://acabunoc.github.io/open-leadership-training-series

[2016-10-19 21:14] kaythaney commented on #835
oooo, i like!

On Wed, Oct 19, 2016 at 5:03 PM, Abigail Cabunoc Mayes <
notifications@github.com> wrote:

##

@kaythaney http://twitter.com/kaythaney/

[2016-10-19 21:14] zee-moz commented on #835
looks great, @acabunoc 👍 😸

[2016-10-19 21:15] xmatthewx commented on #835
This is fantastic. Nice work @acabunoc. I especially like the _suggest changes_ link at the top of each page.

Should we move this to a mozilla github repo? Or test a bit first?

[2016-10-19 21:45] abbycabs commented on #835
I still have to get all the videos in and find a couple photos, so maybe later this week!

[2016-10-20 10:03] chadsansing commented on #835
Very cool, @acabunoc - I agree with @xmatthewx: I love all the built-in opportunities to suggest improvements.

[2016-10-21 22:24] abbycabs opened #839 "MozFest matching game! (stickers)"
We're going to have another matching game at MozFest!
#### DARCI

Driver: @acabunoc
A: @xmatthewx
R: @flukeout @acabunoc
C:
I:

I may have done DARCI wrong.
#### Overview
- [x] Design stickers @flukeout
  - ~ 24 - 40 combinations
  - Large enough to see your match in a crowd, small enough to not cover languages
- [x] Order stickers (1500 stickers)
- [x] Decide what happens when people find a match

[2016-10-21 22:45] abbycabs commented on #839
Stickermule may not deliver in time!

While you're thinking of designs @flukeout consider printing on shipping labels from last year (or another size):
https://www.amazon.co.uk/Sheets-Shipping-Labels-White-Address/dp/B006GQ4OHC/ref=sr_1_6?ie=UTF8&qid=1446159734&sr=8-6&keywords=shipping+labels

[2016-10-21 22:54] flukeout commented on #839
Let's get these [round ones](https://www.amazon.co.uk/Labels4u-Self-Adhesive-Circular-Printable-compatible/dp/B010TANG6K/ref=sr_1_7?ie=UTF8&qid=1477090285&sr=8-7&keywords=circular+sticker+template) - nicer & fits the brand. Will you be ordering?

[2016-10-21 23:06] flukeout commented on #839
Damn, those circles are quite large though, 6.3cm across, this is how they'd appear...

![image](https://cloud.githubusercontent.com/assets/25212/19614280/54c35f7e-97a8-11e6-800b-e427af93a977.png)

@sabrinang @kristinashu what do you think of the above?

[2016-10-21 23:09] kristinashu commented on #839
Yeaaah that's pretty big...

[2016-10-21 23:09] flukeout commented on #839
If we can find something closer to 4.5cm/45mm, that would be better I think, here's how that would look...

![image](https://cloud.githubusercontent.com/assets/25212/19614308/b952ef7c-97a8-11e6-8128-c0dad59ff2de.png)

...also that would limit us to the white and light green sticker colors, since the pink sticker wouldn't show up.

[2016-10-21 23:09] kristinashu commented on #839
Much better!

[2016-10-21 23:25] flukeout commented on #839
WIP of a little poster / printout we can have on hand or nearby to explain how things work. Still unsure about the actual type of drawing people should make. Will keep thinking.

![image](https://cloud.githubusercontent.com/assets/25212/19614518/e0385cec-97aa-11e6-86a6-ed7bf2f0d5fe.png)

[2016-10-21 23:35] sabrinang commented on #839
@flukeout Cool, I'm excited for this matching game! Is this specifically from Open Leadership? It would be useful to indicate it in Step 4 where to come back to or on the top you can indicate the game is brought to you by Open Leadership etc.

@kristinashu For the sizing, how large were the [language stickers](https://redpen.io/p/vfb6a99be818e00757)? It might be nice to be around that size if they

[2016-10-21 23:45] kristinashu commented on #839
Language stickers are pretty small, 40x40mm.

[2016-10-21 23:46] flukeout commented on #839
40mm would work for this, too - just gotta find the right sticker template. @acabunoc will you be looking into that?

[2016-10-21 23:52] kristinashu commented on #839
I assume we could print them along with the language stickers, especially if they're the same size. We're also planning to use a more matte sticker so the pen won't smudge. I can inquire with Marc. How many are you thinking of printing?

[2016-10-21 23:56] flukeout commented on #839
That would be great! When would you need the final designs by? The plan is to do these like the DNA stickers last year, so one per attendee. Would that work?

[2016-10-24 12:39] abbycabs commented on #839
Amazing work here! I'm so excited to see this action :)

Printing: If we can get this printed together with the language stickers, that would be great! Otherwise, I'll look into labels and ship something today.

Colour: What color are the language stickers? Should we be a different color so to make it easier to find matches?

For step 4: I'd like to leverage the contacts we find here to get people

[2016-10-24 12:44] abbycabs commented on #839
Labels I can order & print on in London: https://www.amazon.co.uk/Label-Self-Adhesive-Circular-Stickers-Printable/dp/B006GP9VXA/ref=pd_sim_229_3?_encoding=UTF8&psc=1&refRID=9YEKMSEGR81E7A2CYGKN

[2016-10-24 13:53] xmatthewx commented on #839
Open Leadership is a perfect place to host this activity. Do you have the hands to receive the traffic? Should we try and recruit?

@kristinashu - it'd be great to do this alongside language stickers.

[2016-10-24 13:57] xmatthewx commented on #839
Thanks @flukeout for the speedy help. I knew we could do this!

[2016-10-24 14:08] abbycabs commented on #839
I got some space at the entrance of the 9th floor and a group of mentors willing to help out! I think we should have full coverage of if people manning the area. I'll let you know if we need to recruit more!

[2016-10-24 18:40] mmmavis commented on #839
omg i LOVE this idea and the design looks fantastic! I like the hand drawn looking examples especially.

can't wait to play this game 👏 🎉

[2016-10-25 17:39] abbycabs commented on #835
All the content has been moved to:
https://mozilla.github.io/open-leadership-training-series/

Issues have been created for all the 'placeholder' spots and things to do:
https://github.com/mozilla/open-leadership-training-series/issues

@xmatthewx can we get a short url for this? mzl.la/olts?

[2016-10-25 17:47] edovio commented on #839
Fantastic!!! :) ahahah I can't wait to play this!!!

[2016-10-25 18:06] xmatthewx commented on #835
Great. I'll create whatever you want, but I recommend we create a short URL that isn't an acronym. They're not very memorable or accessible.

[2016-10-25 21:56] abbycabs commented on #835
Good point! Maybe /open-leadership ?

[2016-10-26 08:49] xmatthewx commented on #835
Here ya go: https://mzl.la/open-leadership

[2016-10-27 15:50] abbycabs commented on #835
Yay, thanks!

On Wed, Oct 26, 2016 at 4:49 AM, matthew w notifications@github.com wrote:

[2016-11-01 14:37] abbycabs commented on #839
Game is done!

Some stats:
262 total entries
160 unique entries
105 unique entries that checked off a box
84 unique entries want follow up on open projects they can contribute to
79 unique entries want follow up on best practices Working Open & OLTS
48 unique entries want to talk to someone about joining the mentorship program

👏 👏 thanks all! Closing issue

[2016-11-01 14:37] #839 closed, assigned to nobody

[2016-11-03 17:32] flukeout commented on #839
Thanks for the summary @acabunoc - did you ever get ahold of the winner?

[2016-11-03 17:36] xmatthewx commented on #839
Awesome stuff. Is there a ticket for follow up for people who requested it?

[2016-11-03 18:15] abbycabs commented on #839
@flukeout - I got in touch with the winner, @kaythaney is awarding the prize!

@xmatthewx I followed up on Tuesday (48 hour rule of follow up)

Email content below (each was personalized with the first name and only included sections they checked off)

---

Hi << First Name >>,

Thank you so much for playing the Sticker Match game at MozFest 2016!

You're getting this email because you indicated t

[2016-11-03 18:29] abbycabs commented on #839
If anyone's interested I used [Yet Another Mail Merge](https://yet-another-mail-merge.com/) to send out the follow-up with personalization

[2016-11-07 18:05] #834 closed, assigned to nobody

[2016-11-07 18:06] secretrobotron commented on #834
'Twas great. https://www.instagram.com/p/BME6VtRAJlK

[2016-11-07 18:08] #831 closed, assigned to secretrobotron

[2016-11-11 15:50] xmatthewx opened #840 "Gather existing research for Network web presence"
@samanthaburton @HPaulJohnson @LauraReynal – Between now and Hawaii, the design team will examine the Mozilla Network, to prepare us to build a web presence for it (site, comms, social strategy).

Their first two tasks are to develop a deep understanding of our audience, so we can then distill and frame the primary things we offer to this audience.

**We need your help** to gather existing MoFo re

[2016-11-11 20:33] samanthaburton commented on #840
@xmatthewx This is clear and I'm happy to help - and also keen to get my hands on those research pieces! I'll have an initial dig around how.

However, I have a hunch that a lot of what you're looking for lives within different parts of MLN - is there someone else we could add to the "R" in the DARCI who would know where to find/who to ask about those pieces? Personally, I don't know what I don't

[2016-11-11 20:47] xmatthewx commented on #840
Great questions @samanthaburton. I think the answers are TBD by us over the next few weeks and in Hawaii. Let's find out what we do know, identify gaps in our knowledge, and then make a plan to research and to march forward with lean and agile discovery.

[2016-11-11 20:49] xmatthewx commented on #840
Adding @arlissc.

[2016-11-11 20:57] samanthaburton commented on #840
Ok, here's a quick list of related projects I'm aware of (if folks flag those that sound useful, I can dig deeper) -
- Mozilla Target Audience study (exploring the concious chooser) - Tim/MEM
- Understanding open source tech contributors - George
- Web literacy focus groups w/partners - An-Me
- Network Mapping & Network Strength - Arliss/Sam
- Webmaker research - Laura/Bob
- Fellowship entry/exit

[2016-11-15 19:20] xmatthewx commented on #840
Thanks @samanthaburton. After we gather things, let's file public stuff in Pulse to simplify this quest in the future. 😺

These seem particularly useful:
- [x] Mozilla Target Audience study (exploring the concious chooser) - Tim/MEM
  - collected in [google drive](https://drive.google.com/drive/u/1/folders/0B_rbDAen9prkamlzQnhfeWs4bjA).
- [ ] Network Mapping & Network Strength - Arliss/Sam
- [x] ~

[2016-11-15 19:51] lauradereynal commented on #840
@xmatthewx the work we did for the Teach.Mozilla.org website might also be useful: https://docs.google.com/document/d/1GJt1NqbBBvZGqPWIj8YUT-qXjCPfC30tfYEVfvqFwqs/edit

Other than that, all the report we published in 2015 are here: mzl.la/globalweb
When we publish them into Pulse or elsewhere, we should call it the Global Web Research. We removed the _Webmaker_ language from these reports, since t

[2016-11-15 20:47] kaythaney commented on #840
@auremoser would be your go to re: fellowship surveys (if there are any)
...

On Tue, Nov 15, 2016 at 2:51 PM, Laura de Reynal notifications@github.com
wrote:

##

@kaythaney http://twitter.com/kaythaney/

[2016-11-16 04:06] auremoser commented on #840
Totes, there are many, I can give whoever needs access to the results, most of them are here, mostly associated with events:
- [2015 X-fellows Meetup for OpenVis / GET Conference (Boston):](https://docs.google.com/forms/d/1dP2iuWeKPngqBZgaFwA1OpLJDfRD-qGRvCN1ukTQyKc/viewform?c=0&w=1)
- [2015 Pre-off-boarding Survey for 2015 fellows (Nairobi)](https://docs.google.com/forms/d/1V4wjxUo6Dca9vTcLUxaZen

[2016-11-17 17:45] flukeout commented on #833
**Some Questions**
- Which of these items should I focus on first?
  - Roadmap, card, swag?
- The roadmap feels the most important and useful, but I don't see any content for it anywhere int eh linked docs - is it available somewhere?

I can get started on an illustration for the card and/or tshirt while the roadmap content is being created - will you be in charge of that content @MandyRawls?

[2016-11-17 17:51] MandyRawls commented on #833
@flukeout I will add the roadmap content to this google doc: https://docs.google.com/a/mozilla.com/document/d/1VR1gyIGtihfkZUl5J-Wg5h5QglVJ8wqx5CPvP2BmtWc/edit?usp=sharing

[2016-11-17 18:47] flukeout commented on #833
Testing the waters here with video game splash-screen concept. You're a fox starting a game. Works pretty well for onboarding I think. Here's a rough take...

![image](https://cloud.githubusercontent.com/assets/25212/20402790/07712682-acb3-11e6-8d5b-11fb0e578c70.png)

In the style of something like adventure time ...

![image](https://cloud.githubusercontent.com/assets/25212/20402807/174e6470-acb3

[2016-11-17 19:00] taisdesouzalessa commented on #833
Wow Luke...this is incredible! I love the concept of exploration and adventure. Plus the design of the shirt, based on your sketch, is so cool that people would be proud of wearing it.

My only thought would be to add some elements in his backpack or in the background scenario that references the issues we fight for. Just to add more a Mozilla's Foundation personality beyond the fox, to reinforce

[2016-11-17 19:33] MandyRawls commented on #833
Thanks, Luke! I like the idea of starting an exciting adventure as a MoFo. Would be great to tie in different elements of our work, too, in an informative and collective way. Also works nicely with the roadmap idea. Adding @Michaelaukland to the thread for his input, as well.

[2016-11-17 20:00] xmatthewx commented on #833
Nice. Don't push too hard with references to issues. Could get cluttered and become less graphic, less punchy.

Maybe instead of a shovel, fox carries a flag? For Internet? Open? One web? Keep it weird? Or is there a more webby tool?

[2016-11-17 20:03] flukeout commented on #833
How else will the fox **dig** into issues @xmatthewx, it's gotta stay

[2016-11-17 20:11] flukeout commented on #833
I like flag idea though.

[2016-11-17 20:58] flukeout commented on #833
Here's what I got so far

![image](https://cloud.githubusercontent.com/assets/25212/20407304/9577e3e6-acc5-11e6-9547-1a2d91dff0e2.png)

[2016-11-17 21:50] flukeout commented on #833
Ok, one more update, I'll leave this here for a bit to get some feedback.

![image](https://cloud.githubusercontent.com/assets/25212/20411463/7433d526-acd6-11e6-9fbe-0b67b5bc6722.png)

[2016-11-17 21:59] MandyRawls commented on #833
@flukeout Michael and I were chatting, and love the adventure starting aspect of the design for the onboarding experience (esp the roadmap), but are think it may be better to have more generic MoFo branding for the swag - possibly using the Mozilla branding but making it more MoFo. This way the swag is a bit more inclusive (any MoFo would be proud to wear or use it at anytime, during or after thei

[2016-11-17 22:06] flukeout commented on #833
Hey @MandyRawls - the only real 'style' mofo has are the line-art icons that are used on the Learning Site, like these...

![image](https://cloud.githubusercontent.com/assets/25212/20409530/d91f5616-acce-11e6-9707-ccec5fd459b9.png)

![image](https://cloud.githubusercontent.com/assets/25212/20409539/e26c91ac-acce-11e6-849c-a38c5fb79567.png)

Other than that, it just bold blocks of color and text. W

[2016-11-17 23:20] jgmac1106 commented on #833
FWIW Would it be better to wait on a long term onboarding of SWAG as the
Mozilla redesign effort is underway?

The community review is underway but you folks would know the timeline
better than me.

If you want more generic MoFo style you could just copy the Mozilla Clubs
logo style guide.

Though I want this @flukeout in both shirt and sticker. Design total keeper

On Thu, Nov 17, 2016 at 5:06 PM

[2016-11-17 23:27] xmatthewx commented on #840
Thanks @auremoser @LauraReynal @samanthaburton for all the useful info and links. I updated list above. Just a few more things to gather.

[2016-11-17 23:52] xmatthewx commented on #833
@MandyRawls – The Mozilla logo and brand is likely to change considerably in the not too distant future. MozFest is probably the most established MoFo-y identity.

We could do a shirt with the current Mozilla logo backed by something more MoFo-ish, but again this will change soon. On the other hand, I don't think a card needs to be as closely coupled with the brand. Much like our campaign sites an

[2016-11-18 00:47] flukeout commented on #833
We could use some of our icons as the imagery, I've picked out three that could work well. What do you think of a direction like this?

![image](https://cloud.githubusercontent.com/assets/25212/20414064/74e987cc-ace5-11e6-95a4-24f979f093fc.png)

We could do a logo on front with the Mozilla Foundation wordmark on the back.

[2016-11-18 17:37] flukeout commented on #833
An update cc @MandyRawls @Michaelaukland - let me know your thoughts and ping me on mattermoz if you'd like to chat, schedule a call, etc.

![image](https://cloud.githubusercontent.com/assets/25212/20439888/98e93e5a-ad72-11e6-821f-c0ea1d554250.png)

[2016-11-18 21:30] flukeout commented on #833
![image](https://cloud.githubusercontent.com/assets/25212/20447342/2d94f790-ad93-11e6-970f-2d669e2af29f.png)

[2016-11-18 23:15] flukeout commented on #833
![image](https://cloud.githubusercontent.com/assets/25212/20450003/dd0fe208-ada1-11e6-9cb1-59ae42845427.png)

![image](https://cloud.githubusercontent.com/assets/25212/20450241/b804bb30-ada3-11e6-9b72-c83ec4c6593e.png)

![image](https://cloud.githubusercontent.com/assets/25212/20450317/5d158690-ada4-11e6-8cf2-f5df8fb1b1bc.png)

![image](https://cloud.githubusercontent.com/assets/25212/20450014/f3d

[2016-11-19 00:04] flukeout commented on #833
Could try a "foundation" kind of intertwined through the bold letters saying Mozilla, like here...
![image](https://cloud.githubusercontent.com/assets/25212/20450860/a96470c0-ada8-11e6-8984-4eff9b4ef41c.png)

[2016-11-19 00:08] flukeout commented on #833
Maybe a "Crazy Mofo" in this style..

![image](https://cloud.githubusercontent.com/assets/25212/20450941/3f3f9fb6-ada9-11e6-83a8-73f0d227c36c.png)

[2016-11-19 00:35] flukeout commented on #833
Do we have a manifesto or something like that? A chunk of text that we can use for a more typographic design?

[2016-11-21 21:00] MandyRawls commented on #833
@Lottarao , @Michaelaukland , Luke and I have a meeting set for Wednesday to discuss.

[2016-11-23 21:24] flukeout commented on #833
Based on the latest meeting, we've agreed to go with an illustrated or typographical version of "mofo/MOFO/MoFo" for the shirt, sticker and bottle and potentially using accent colors from our mofo-bootstrap color palette.

We'll tackle this first, then move to the onboarding materials. I'll post design ideas and updates in this issue soon.

[2016-11-24 01:08] flukeout commented on #833
Okay so, I've got some [sketches in this here deck](https://docs.google.com/presentation/d/1Zzko82kIjRNxxfX_ug831JA7B7Zi7QKlAAVDFQq01O0/edit#slide=id.p).

In talking with the team, I think we're all in agreement that just "Mofo" wont cut it, and it might be offensive so... we're gonna go with some kind of type treatment of Mozilla Foundation.

Just getting rolling here. cc @MandyRawls @Lottarao

[2016-11-24 15:49] MandyRawls commented on #833
Sounds good - thanks @flukeout !

[2016-11-28 17:44] flukeout commented on #833
[Updated deck with some more ideas](https://docs.google.com/presentation/d/1c__DKKIJmDdmKvZPOhz50OyPJbYCIkESqzYZBxrzPnw/edit#slide=id.g197cb5db5a_0_59)

cc @MandyRawls Let me know your thoughts on these directions. Cheers.

[2016-11-28 21:03] lauradereynal opened #841 "Design the Digital Skills Observatory Final Report"
#### DARCI
Driver:
A:
R: @flukeout
C: @lauraReynal @secretrobotron
I: ?

#### Overview
After a year of research work, the DSO project needs to deliver a PDF report and a website to communicate the findings from the research.
We are creating the PDF report, that will then be printed and distributed to a group of stakeholders. Because it is a big piece of work, we need help with design to: make it l

[2016-11-28 21:05] lauradereynal commented on #841
Hey @xmatthewx @flukeout @sabrinang Thanks for talking with us last week. Here is a ticket and a summary of what is needed. Feel free to update the DARCI.
How do you want to proceed for the project ?

@flukeout and @sabrinang did you get a chance to think about it ?

Let us know what to do and how to help.
Laura

[2016-11-29 17:39] flukeout commented on #841
Ill add thoughts in a little bit.

[2016-11-30 00:11] flukeout commented on #833
@MandyRawls a few more updates today, specifically the concept on slides 10-12 - just a heads up before you meet about it tomorrow. Cheers.

[2016-11-30 18:13] flukeout commented on #841
I think the best place I can help is with thinking through the various infographics & charts. In the doc they are listed as ``Lots lots lots of graphics and legends i.e. numbers and quantitative data
`` - can we start a list that summarizes this need? Hopefully we can identify some commonalities in these so we can have a few different types.

The ultimate design of them (color / style etc) will de

[2016-11-30 19:49] MandyRawls commented on #833
@flukeout is it possible to edit slide 12 to make the design coloured (like slide 10)? We would like to share that slide with the team and propose we move ahead with that design for the swag. Thank you!

[2016-11-30 21:03] flukeout commented on #833
It certainly is @MandyRawls - I'll create a new deck for that along with the new bottle. However, I think we should consider the greyscale version too - the consensus from the esteemed design team is that's the option they'd rather wear.

[2016-11-30 21:10] MandyRawls commented on #833
@flukeout sounds good! Can we have two updated slides then - one for the coloured version and one for the greyscale version? We will present both options. Thanks!

[2016-11-30 23:53] flukeout commented on #833
@MandyRawls as promised - [here is the updated deck](https://docs.google.com/a/mozilla.com/presentation/d/186kx2LsKqejR8pVvjpmGxsVXIeZFJuaOq7aP09t8Msc/edit?usp=sharing). Cheers!

[2016-12-09 02:21] xmatthewx opened #842 "Production Support for Hive Chi Buzz"
Background: info from @samueledyson

Given our focus on the network launch, we'll have limited resources. We might think about how to repurpose MozFest materials with simple updates for efficiency and pizzazz.

@edrushka @simonwex @hannahkane

[2016-12-09 14:07] samueledyson commented on #842
I think you meant to tag @samanthaburton. Hi anyway! 😃

[2016-12-09 14:11] samueledyson commented on #842
Repurposing MozFest materials would work for us.  Using MozFest design themes might even create clearer linkages between MozFest and local MozFest-inspired events like HCB.  Let me know if you'd like to schedule a conversation to discuss what that might look like.
CC: @annmarie123

[2016-12-16 18:04] flukeout commented on #833
Following up from All-hands after chatting with @MandyRawls

* **Swag** - We are stopping work on the swag designs and waiting for the new mozilla branding to kick in. Once that settles we'll see how we fit the foundation brand in there.
  * RIP cool logo - https://flukeout.github.io/foundation-swag/
* **Onboarding** - Will continue working on this...
  * Will build as a web page
  * Will use eith

[2016-12-16 21:45] xmatthewx commented on #833
An onboarding page on github? Could this be a page on mofo.build, for easier updates?

[2016-12-17 00:33] flukeout commented on #833
That could work - I'll look into how that stuff is made & maintained.

[2016-12-19 16:58] MandyRawls commented on #833
We are good with either a web page or PDF doc - whatever is easiest to create and maintain. Note that if we do go with a public web page, we will be linking to some sites that are Mozilla internal only.

It will basically work as both an exciting/welcoming overview of what the first 6 months of employment at MoFo will look like, and as a landing page for new hires (each milestone will link to addi

[2017-01-05 20:39] flukeout commented on #841
A few takes on the Buy vs Gift graphic from Page 18. Will post a few more ideas.

![infographic-gift-vs-buy](https://cloud.githubusercontent.com/assets/25212/21696688/f615fdc4-d343-11e6-9a83-cfd819f318a6.png)

[2017-01-05 21:05] flukeout commented on #841
Another take.

![image](https://cloud.githubusercontent.com/assets/25212/21697517/97a989b4-d347-11e6-818a-1852286ce84f.png)

@secretrobotron @LauraReynal thoughts on these options?

[2017-01-06 00:23] flukeout commented on #841
I'll take a crack at some of the other stats tomorrow.

[2017-01-06 10:59] lauradereynal commented on #841
Hey @flukeout Thanks for starting this !

I love the 2nd and the 4th options. Because they both really highlight the information.
I would make the 3X just a bit bigger on the 4th option.

We are using the Chicago report template for now, and hope that a contractor will be able to do a design pass when we are done. mzl.la/chicago

[2017-01-06 16:40] secretrobotron commented on #841
Agreed. The 2nd in https://github.com/MozillaFoundation/plan/issues/841#issuecomment-270751066 is clearest to me.

[2017-01-06 18:59] flukeout commented on #841
Okay, continuing with graphic 2 and added SIM card / carrier data.

![image](https://cloud.githubusercontent.com/assets/25212/21729266/360ea6f4-d3ff-11e6-981e-581cfe0d94a7.png)

[2017-01-06 20:44] flukeout commented on #841
Updated with computer access & internet use stats. I think this would make up one page of info, so we can adapt it to fit that specific format next and see how it looks.

![infographic-page](https://cloud.githubusercontent.com/assets/25212/21732694/950ca092-d40f-11e6-870e-f169a977cb66.png)

[2017-01-06 21:53] secretrobotron commented on #841
Really cool!

The only thing that kind of threw me was the computer use/ownership part. I like that the screen shows contrast, but it kind of looks like a graph that's not accurate, considering all the other bar graphs above.

[2017-01-06 22:00] flukeout commented on #841
Oh yeah? I totally agree with you too...

![image](https://cloud.githubusercontent.com/assets/25212/21734480/745039fa-d418-11e6-81b0-d3f61ae54509.png)

[2017-01-06 22:01] flukeout commented on #841
Yeah, maybe I can have two computers side by side maybe to alleviate that. I'll try something else out.

[2017-01-06 22:01] secretrobotron commented on #841
That's much better, I think. See how each ice cream has a white background though? Most people erase that first to give a better illusion of layering.

[2017-01-06 22:03] #838 closed, assigned to xmatthewx

[2017-01-06 22:03] flukeout commented on #841
Two hole icecreams for you! 🍨

![image](https://cloud.githubusercontent.com/assets/25212/21734577/f3a72628-d418-11e6-8c94-a189785551e1.png)

[2017-01-06 22:10] secretrobotron commented on #841
![charlie brooker](https://cloud.githubusercontent.com/assets/403231/21734760/10fd1740-d433-11e6-81db-00ed04c6207f.jpg)

[2017-01-12 10:27] lauradereynal commented on #841
Hey @flukeout any update? we are due to hand out the report by tomorrow for it's first review.
Let us know how you are doing so we can anticipate 😄

[2017-01-12 11:25] jgmac1106 commented on #841
About time some folks bring some fun to GitHub. Been awhile.

On Thu, Jan 12, 2017, 5:27 AM Laura de Reynal <notifications@github.com>
wrote:

[2017-01-12 12:00] lauradereynal commented on #841
haha @jgmac1106 we are cooking a big report ready soon 🍰 🎉

[2017-01-12 12:04] lauradereynal commented on #841
@flukeout are you working on in-design, illustrator, sketch or other?

[2017-01-12 12:07] lauradereynal commented on #841
<img width="956" alt="screenshot 2017-01-12 12 06 31" src="https://cloud.githubusercontent.com/assets/8261945/21889189/962e0204-d8bf-11e6-9791-add2428ef1cf.png">

Here is what it looks like in the in-design file.

[2017-01-12 19:15] flukeout commented on #841
Hey team, some more stuff coming your way a bit later today. I'm using illustrator to do these, so I can send you the illustrator files or a PDF? Whatever is easier. I'll do some more designs today and maybe tomorrow we can also figure out if you need adjustments / changes.

Ill try to get through

* demographics
* financial services
* maybe learning?

The android version stuff seems boring is the

[2017-01-12 19:39] secretrobotron commented on #841
How about a comparison to the global stats? https://developer.android.com/about/dashboards/index.html

The interesting part about that data is the fact that the window is pretty large, and the majority of people are using old systems. Sort of proof that not everyone is riding the tip this great upward wave of technology.

[2017-01-12 19:44] flukeout commented on #841
So what about something more along those lines "only 25% are using a modern version of the operating system" or something.

That's easier to couple with an image or graphic and gets the point across? I don't think a version by version breakdown is useful? Or.. "People are using more than 10 different versions of the os, with 40% being out of date".

[2017-01-12 19:48] secretrobotron commented on #841
Yeah, cool. Something that conveys the breadth of versions people still us, and that the majority is still far behind "modern" standards (e.g. not Android 6 or 7).

[2017-01-12 19:51] lauradereynal commented on #841
❤️ 👍 to using illustrator because it means we can make minor edits oursleves
which we might need to :) we had our first review today !

[2017-01-12 21:14] flukeout commented on #841
For the age of respondents, do you have the oldest and youngest? Might be a cool bit of info.

[2017-01-12 23:26] flukeout commented on #841
Some more stuff

![image](https://cloud.githubusercontent.com/assets/25212/21912576/a267dd44-d8db-11e6-9752-0cf7088115fb.png)

Need clarification on the married / single thing - left a comment in the google doc.

[2017-01-13 17:51] flukeout commented on #841
I put all of the graphics into one long page for now so you can just pick and choose how to use it. I set up a DSO folder in the shared drive, you'll find the source Illustrator file there.

* https://goo.gl/XtxmXB

![infographic-long](https://cloud.githubusercontent.com/assets/25212/21939686/ce34057a-d975-11e6-8074-4fe9d96e2589.png)

[2017-01-13 18:25] secretrobotron commented on #841
One important bit of feedback we got about the "93%" stat: they say they know how to use the internet, but we know they don't. It's hard to pin a number to how many people are overconfident, but maybe we can say, "93% of people say they can use the internet; we know this number is inflated by overconfidence" or something less.. long.

[2017-01-14 22:01] secretrobotron commented on #841
Btw, thanks for the help 😄 !

[2017-01-14 22:11] jgmac1106 commented on #841
How about, "But We Know Many Believe Facebook is the Internet" with a
footnote to that statistic or is there any other self-efficacy or frequency
of use question in your data  that could be contrasted, "93% say they can
use the Internet, but only X% have Y (built a website, used a search
engine, believe they are good, etc)?

On Sat, Jan 14, 2017 at 5:01 PM Bobby Richter <notifications@github.com>

[2017-01-14 22:17] secretrobotron commented on #841
Yep, good thinking. The point we're trying to make is that the majority thought they knew how to use the internet, but they really didn't. There's no hard statistic we have about that, but we do know that their internet use is not what we expected from that kind of confidence.

I like the Facebook = Internet reference.

[2017-01-24 18:05] pmac commented on #375
Hi all. Remember this one :)

I'm here to ask if anyone is still interested in keeping webwewant.mozilla.org alive? It [needs some maintenance work](https://observatory.mozilla.org/analyze.html?host=webwewant.mozilla.org) to bring it up to par with our security guidelines, so we're faced with the decision to keep it up as an archive like it is now and do the work to fix it, or decommission it. Our

[2017-01-24 18:15] brettgaylor commented on #375
I would vote for decommissioning, since it is no longer current with branding or Internet Health framing.

[2017-01-24 20:11] simonwex commented on #375
I agree on decommissioning. It'd be good to invest some time to make sure that the documentation is complete. It'd be a great thing to relaunch one day aligned with our issues agenda.

[2017-01-24 20:56] samueledyson commented on #842
Following up on this thread, there are two elements for Hive Chicago Buzz (March 17-18, 2017; "HCB17") for which we are seeking assistance.

(1) By early March we would like to update the content within the version of the schedule app that we used last year, http://schedule.hivechicagobuzz.org/.  Ideally last year's content could be archived to http://schedule.hivechicagobuzz2016.org/.
(2) We woul

[2017-01-24 22:28] edrushka commented on #842
@samueledyson I'd be happy to go through the MozFest design elements with you. The design team created a comprehensive [style guide](https://github.com/MozillaFoundation/Mozfest2016_production/issues/76) with individual elements that you might find useful to build upon.

As for the schedule, I recommend you connect with Wex to see what is possible.

[2017-02-10 23:29] hannahkane commented on #842
Opened a production ticket for the app here: https://github.com/mozilla/mofo-schedule-app/issues/38

[2017-07-03 18:11] hannahkane commented on #835
Closing since this has passed

[2017-07-03 18:11] #835 closed, assigned to flukeout, taisdesouzalessa

[2017-07-03 18:11] hannahkane commented on #689
Closing, though we likely have some sunsets coming up, so this may become relevant again

[2017-07-03 18:11] #689 closed

[2017-07-03 18:12] hannahkane commented on #842
Closing since this has passed

[2017-07-03 18:12] #842 closed, assigned to nobody

[2017-07-03 18:12] #841 closed, assigned to xmatthewx

[2017-07-03 18:12] hannahkane commented on #837
Have moved to a combination of Mattermost and Slack

[2017-07-03 18:12] #837 closed, assigned to nobody

[2017-07-03 18:13] hannahkane commented on #836
Closing since this has passed

[2017-07-03 18:13] #836 closed, assigned to nobody

[2017-07-03 18:13] hannahkane commented on #829
This ticket is out-of-date, so closing

[2017-07-03 18:13] #829 closed

[2017-07-03 18:15] hannahkane commented on #825
Looks like these updates were made. However, @Lottarao and @KevZawacki - does the Foundation page need another review at this point? Feel free to open a new ticket if so.

[2017-07-03 18:15] #825 closed

[2017-07-03 18:16] hannahkane commented on #830
@xmatthewx - would this still be useful? Please close if not.

[2017-07-03 18:16] #809 closed

[2017-07-03 18:17] #781 closed

[2017-07-03 18:17] hannahkane commented on #729
This ticket hasn't been touched in a year, so closing

[2017-07-03 18:17] #729 closed

[2017-07-03 18:26] KevZawacki commented on #825
@hannahkane The page is in good shape now -- but will likely need a refresh in Q1 2018.

[2017-07-03 18:47] xmatthewx commented on #830
It would be useful. But probably after we have more resources from MoCo, templates etc for staff to use.

[2017-07-03 18:47] #830 closed