[2015-07-13 14:47] OpenMatt commented on #494
* Thanks Bhuvan!
* @edrushka there were some other template examples circulated in our Whistler meeting -- maybe you can post them here for others to review as well?
* @RebsD @edrushka : I think the ball is in your court on this one next. We'll await further instructions from you.

[2015-07-13 14:49] RebsD commented on #494
It is, thanks. We'll get back to you.
RD

On Mon, Jul 13, 2015 at 4:47 PM, OpenMatt <notifications@github.com> wrote:

[2015-07-13 15:04] OpenMatt commented on #482
To clarify, we're trying to bite off a very small part of this to start. :) Scope feel like it's gotten a bit loose (which is my fault.) Here's what I think we're trying to get done by Friday, July 17:

* **The first step is: ship a prototype "volunteer job description page."** Starting with two key volunteer roles: "Open Product Developer" and "Regional Co-ordinator."
** a draft Regional Co-ordin

[2015-07-13 15:14] OpenMatt commented on #482
### Next steps this week

* **Open Product Developer page.** @secretrobotron : do you think you could turn the draft copy we worked on into a prototype web page for "Open Product Developer", similar to (or forking) Michelle's?
* **Mentorship model**. @benrito @thisandagain @cecilepompei Do you have a theory of how mentorship / pairing should work for the Open Product Developer position? Want to wr

[2015-07-13 16:01] secretrobotron commented on #482
:+1:
Is there any reason the page itself shouldn't have the information that would go on the wiki?

[2015-07-13 16:23] adamlofting commented on #484
adding myself to this thread :smiley:

[2015-07-13 16:40] OpenMatt commented on #482
@secretrobotron nope. but the supporting on-boarding docs don't necessarily need to be a blocker for shipping the role description page, I'd say. They can always get added whenever we have them.

[2015-07-13 20:46] bhuvanshri commented on #482
With regards to on-boarding documentation, I believe @acabunoc and @kaythaney had been working on a common on-boarding curriculum / document that can be useful here too.

[2015-07-13 20:54] hannahkane commented on #493
In progress. Would love feedback from @chrislarry33 @ldecoursy @thornet and others.

[2015-07-13 20:55] hannahkane commented on #492
This is done.  w00t.

[2015-07-13 20:55] #492 closed

[2015-07-13 20:58] hannahkane commented on #477
UX is done for this, though implementation is still needed.

[2015-07-13 20:58] #477 closed

[2015-07-13 21:03] hannahkane commented on #485
Scheduling a meeting for this week to put together a marketing/comms plan

[2015-07-13 21:04] hannahkane commented on #489
Moving this to July 31 heartbeat, so that we can benefit from @thisandagain and @LauraReynal, who are on PTO.

[2015-07-13 21:12] KevZawacki commented on #485
Latest comms plan here: https://goo.gl/fQ24sX

[2015-07-13 21:14] cecilepompei commented on #482
On-boarding - went straight to the source and asked a few volunteers
(mentors and Reps) that confirmed that lack of on-boarding is a challenge
because people that want to get involved are not sure of how to do so.

The more experienced volunteers that mentor all new volunteers welcome our
initiative to work on this. We went through it in detail and they recommend
a package with:

   -  How does Bu

[2015-07-13 21:30] hannahkane commented on #484
Agreed re: needing to better understand how Thimble fits into the overarching strategy. This document is in progress, but is pretty spare when it comes to how it fits into the big picture: http://bit.ly/1GhZkHN

Outside of Thimble, I'm not sure that usage metrics are the best way to determine resourcing. The MLN site, for example, is meant to serve a relatively targeted audience, but they are impo

[2015-07-13 21:55] cassiemc commented on #482
Throwing a link in for inspiration – a "book club" is an interesting way to think about folding contributors into a fairly complex system in a way that is both natural and fun. http://creative.mailchimp.com/book-club/ Could see @cecilepompei's proposed guides fitting into this format really well.

[2015-07-14 00:55] chrislarry33 commented on #482
Big +1 to looking at what @acabunoc and @kaythaney have already been working on and see what can work from that

[2015-07-14 01:07] chrislarry33 commented on #493
@hannahkane I am catching up on a lot, what do you need my feedback on?

[2015-07-14 02:36] alamanda commented on #482
@OpenMatt I'm based in Jakarta, Indonesia and has been volunteering for Mozilla since 2011, before became ReMo last year. My skills and experiences are mostly related to organizing events and talking to people. Therefore, I feel like I can channel those toward Webmaker, other than helping other ReMo/FSA/Mozillians alike to organize events that will introduce Mozilla's projects as well as encouragi

[2015-07-14 10:40] adamlofting commented on #483
Though we have a longer deadline for the fellow application form, I'd like to get @Melechuga @kaythaney and @sinker (or someone from each team) together to talk about what the consistent needs are for the fellows application forms across teams.

(in the Whistler spirit of *let's not all keep building new versions of the same thing*).

This can probably fall into the 'CRM' category of work.

[2015-07-14 10:55] adamlofting commented on #486
Tools like Desk.com are good for providing clarity about who is responsible for responding to each inquiry and also to give you data about things like 'average time to reply', 'number of replies to resolve an issue' and so on. It also helps prevent inquiries from being forgotten as they get pushed down an inbox.

In the future, desk.com can integrate with Salesforce CRM, but to get started we will

[2015-07-14 13:50] cecilepompei commented on #482
here is a link for an on-boarding template for someone working on Clubs and
Webmaker:
https://docs.google.com/document/d/1RuWp4KRLgTCSXzOxe60-ndatqIX_auu93QxAVvYjBWE/edit

On Tue, Jul 14, 2015 at 5:36 AM, Dian Ina Mahendra <notifications@github.com

--
Cécile POMPEÏ
Mobile Service Lead, Webmaker.org
+44 75 98 490 115

[2015-07-14 14:04] OpenMatt commented on #482
@alamanda : thank you for this! Hugely helpful. I'm going to try and summarize some of what you wrote about the RC piece in particular.

### Becoming an RC
* As a ReMo, you decided to become a Regional Coordinator for Mozilla Clubs because it:
   * allows you to work with people you trust
   * provides a chance to get Captains from different cities right away.
* You now have 6 active clubs, with m

[2015-07-14 14:11] acabunoc commented on #482
Hi all,

Yes, we've been working on an common on-boarding curriculum for fellows and community leaders.

This is very much a work in progress right now:
http://mozillascience.github.io/leadership-training/index.html

Would love to help out / hear your feedback!

[2015-07-14 14:42] OpenMatt opened #495 "Create on-boarding documentation & process for "Open Product Developer" volunteers"
### Goal for this Heartbeat:
* GOAL: We want recruit more "Open Product Developers," as per https://github.com/MozillaFoundation/plan/issues/482#issuecomment-121115240
* FIRST STEP: was to clearly describe the role and value proposition for volunteers. Which we have now mostly completed. https://github.com/MozillaFoundation/plan/issues/482#issuecomment-121115240
* NEXT STEP: make sure we have a go

[2015-07-14 14:44] OpenMatt commented on #482
@cecilepompei @acabunoc : this is great -- I'm going to file a new ticket to focus specifically on the on-boarding process here: https://github.com/MozillaFoundation/plan/issues/495
* We can use this ticket to ship the volunteer description pages. And use that one to focus on the on-boarding piece.

[2015-07-14 14:48] OpenMatt commented on #495
@thornet wasn't sure whether to include RCs in this, since you already have your own on-boarding process in place? but please share what you have so we can co-ordinate / copy from what you're already doing?

[2015-07-14 14:56] secretrobotron commented on #482
Draft pages are up in the mofo-volunteering repo:
* http://secretrobotron.github.io/mofo-volunteering/open-product-developer.html
* http://secretrobotron.github.io/mofo-volunteering/regional-coordinator.html

Obviously unfinished.

[2015-07-14 16:07] adamlofting commented on #484
I think what we're looking for is *impact metrics* rather than *usage metrics*, in relation to a proposed project or piece of work (or sometimes just a theory of potential impact even without hard numbers).

We're not good at this yet as an org, but this is part of the Mozilla Learning strategy, and we had a good session about it at Whistler. It will always be tricky to compare the investment to i

[2015-07-14 16:17] alamanda commented on #482
@OpenMatt About becoming an RC, I was offered to be RC, and not applied. Once I became RC, I think the easiest way to recruit Club Captains is by approaching FSA and Mozillians that are already a leader in their own communities. Those are people I can trust because I already know them, and had worked together with them before. And because they're living in different cities, by recruiting them, I a

[2015-07-14 16:28] hannahkane commented on #493
Sorry, @chrislarry33, still getting the hang of tracking things in two places. :)

It's this that I'd love feedback on: http://bit.ly/1gr28xo

[2015-07-14 16:40] hannahkane commented on #448
any word on this, @simonwex ?

[2015-07-14 17:27] hannahkane commented on #490
Work being tracked here: https://github.com/mozilla/teach.webmaker.org/issues/1086

[2015-07-14 20:48] hannahkane commented on #491
Discussed options today. Luke will have a mockup by tomorrow for discussion, testing, and estimating.

[2015-07-14 20:55] cassiemc commented on #484
I totally get how we decide what ideas to move forward with using numbers to make projections and would love to see more of that happening in the product plans. (Dan McKinley's presentation at Whistler was a fantastic primer.) I suspect much of that will fall into place as soon as we get some baseline numbers post-webmaker launch and Maker Parter.

Thinking about the ways I allocate resources howe

[2015-07-14 21:28] cassiemc commented on #487
Update: This is pretty on track as far as bugs we committed to this heartbeat. We will have to implement the design and content in the next heartbeat.

[2015-07-15 10:37] adamlofting commented on #484
I think that's an excellent framework / set of questions to work through. One point to add might be: *Have we made commitments to 3rd parties (i.e. funders)?* as that's usually a trump card in these decisions.

Just to comment on the cc for @valianttry, I think one area where there is currently ambiguity about resourcing (both engineering and design) is caused by our re-org where we no longer have

[2015-07-16 09:57] adamlofting opened #496 "Choose a provider for Push notifications"
In order to deliver push notifications to users of the Webmaker Android app, we plan to use a 3rd party provider.

This ticket is to find possible providers, review on features and cost, and then initiate a Vendor Review (legal, security, privacy) before we can build this function into the app.

### Audience
All users of Webmaker Android App who agree to receive push notifications (users can opt-o

[2015-07-16 10:00] adamlofting commented on #496
Please add options to this thread:
* http://urbanairship.com/
* https://mixpanel.com/notifications/

[2015-07-16 10:00] adamlofting commented on #496
cc @thisandagain @HPaulJohnson @davidascher @simonwex

[2015-07-16 11:14] adamlofting commented on #486
I've scheduled a call tomorrow to talk through Webmaker and LN use cases.

[2015-07-16 18:28] hannahkane commented on #493
Moving this to next heartbeat, since it won't be completed by tomorrow

[2015-07-16 18:28] hannahkane commented on #491
Moving this to next heartbeat, since it won't be finished by tomorrow

[2015-07-16 18:30] hannahkane opened #497 "Thimble user testing Round 3 (Publish flow)"
Pending completion of Publish flow and resolution of most urgent bugs

[2015-07-16 23:03] hannahkane commented on #490
Also includes https://github.com/mozilla/teach.webmaker.org/issues/1104

[2015-07-16 23:35] edrushka commented on #467
Step one is to identify where money comes in, and what happens to money from each source. That ticket is here: https://github.com/MozillaFoundation/2015-fundraising/issues/8

[2015-07-16 23:50] edrushka commented on #494
I'm on it! This is my P1 for the next heartbeat.

[2015-07-17 00:10] hannahkane opened #498 "UX for error messages and code hints in Thimble"
Tickets here:
https://github.com/mozilla/thimble.webmaker.org/issues/572
https://github.com/mozilla/thimble.webmaker.org/issues/573

[2015-07-17 00:13] hannahkane opened #499 "Finalize design for Details bar in Thimble makes"
Tracking in https://github.com/mozilla/thimble.webmaker.org/issues/570

[2015-07-17 00:14] #499 closed

[2015-07-17 00:15] hannahkane commented on #498
duped by #491

[2015-07-17 00:15] #498 closed

[2015-07-17 00:18] hannahkane opened #500 "Add analytics tracking to Teach site"
We need to collect some data on user behavior.

Relevant tickets:
 - [x] https://github.com/mozilla/teach.webmaker.org/issues/1110
 - [x] https://github.com/mozilla/teach.webmaker.org/issues/1109
 - [x] https://github.com/mozilla/teach.webmaker.org/issues/1112

[2015-07-17 00:21] hannahkane opened #501 "Design MozFest promo banners"
I know we'll need something to use to promote MozFest on the Teach site. Do we also need social media graphics?

[2015-07-17 00:21] hannahkane commented on #501
Ticket is here: https://github.com/mozilla/teach.webmaker.org/issues/1099

[2015-07-17 00:22] hannahkane opened #502 "Design visualization of MLN ecosystem"
Work started in this heartbeat, but needs discussion and refinement.
https://github.com/mozilla/teach.webmaker.org/issues/1095

[2015-07-17 00:46] hannahkane opened #503 "Clubs layout and copy changes"
Copy still to be finalized

Relevant tickets:
 - [x] https://github.com/mozilla/teach.webmaker.org/issues/1086
 - [x] https://github.com/mozilla/teach.webmaker.org/issues/1104
 - [x] https://github.com/mozilla/teach.webmaker.org/issues/1136

[2015-07-17 00:48] hannahkane opened #504 "A few small enhancements on Teach/Hive"
So far, they are:
https://github.com/mozilla/teach.webmaker.org/issues/1094
https://github.com/mozilla/teach.webmaker.org/issues/1105
https://github.com/mozilla/teach.webmaker.org/issues/1091

[2015-07-17 13:35] OpenMatt commented on #490
status?

[2015-07-17 13:35] OpenMatt commented on #488
@xmatthewx status?

[2015-07-17 13:35] OpenMatt commented on #485
@KevZawacki status?

[2015-07-17 13:35] OpenMatt commented on #480
@xmatthewx status?

[2015-07-17 13:36] OpenMatt commented on #474
@HPaulJohnson status? [[flagged!]](http://plzkthx.herokuapp.com)

[2015-07-17 13:41] OpenMatt commented on #487
@cassiemc move to July 31 milestone?

[2015-07-17 13:42] OpenMatt commented on #486
@secretrobotron move to July 31 milestone?

[2015-07-17 13:43] OpenMatt commented on #483
@adamlofting sounds good.
@Melechuga and @alicoding : were you able to meet and get Melissa to a place where she can edit pages easily?

[2015-07-17 13:44] OpenMatt commented on #483
@Melechuga may have requirements that require more dev support. But we also need to ensure that simple page edits can be made by non-technical staff easily. Let's start with that.
@edrushka : can you take over PM-ing this ticket now that you're back from PTO?

[2015-07-17 13:46] OpenMatt commented on #482
@secretrobotron : thanks for getting these prototypes created. Can you demo them today?
* I can take a pass at editing copy, etc. on Monday. Then we can be ready for more feedback and testing on them in next Heartbeat.

[2015-07-17 13:48] OpenMatt commented on #448
@simonwex status?

[2015-07-17 13:48] cassiemc commented on #487
Done!

[2015-07-17 13:59] xmatthewx commented on #480
Logo has been updated across p1 and many p2 locations. The notable exception is mozilla assets and style guide. As a branding/MoCo task, it probably deserves a planning ticket of its own under @cassiemc's wing. Let's discuss.

[2015-07-17 14:00] bhuvanshri commented on #495
+ myself.

[2015-07-17 14:18] OpenMatt commented on #495
@secretrobotron do those three deliverables make sense to you for this Heartbeat?

[2015-07-17 14:23] xmatthewx commented on #488
Work will continue this next heartbeat.
 - Move to webmaker-core has been a success
 - Browser-based viewer is progressing well and nearly ready for QA
 - Relaunch of website is on track. There is some risk. [Punchlist](https://github.com/mozilla/webmaker-browser/issues/75#issuecomment-121744474) deserves everyone's eye.
 - Work to increase reliability with batch updates stalled - team is concerne

[2015-07-17 14:57] HPaulJohnson commented on #474
We are in great shape with all the P1's complete and a few final P2's close to completion in the next few days.

Outstanding items include (all in process): payment processing for printed assets and schwag, email template, and video.

[2015-07-17 15:00] simonwex commented on #448
@hannahkane, @OpenMatt I have an update for this, but this isn't the place. I'll send an email.

[2015-07-17 15:14] hannahkane commented on #490
We have tickets for an interim solution in the next heartbeat, so we can close this one.

[2015-07-17 15:14] #490 closed

[2015-07-17 15:14] edrushka commented on #374
Done and done :)

[2015-07-17 15:14] #374 closed

[2015-07-17 15:18] edrushka commented on #423
@valianttry and I met with Jennifer Balaco from MoCo in Whistler. We're awaiting details of her contract to see if/how she can assist with management.

The "module" governance model is no longer being discussed at the moment. We need someone to run the Gear Store first.

@valianttry can you follow up with Jennifer and report back?

[2015-07-17 15:21] #457 closed

[2015-07-17 15:32] hannahkane commented on #484
@cassiemc - that's a fantastic list. +1 to  @adamlofting's addition.

I have a suggestion for an additional question: is this an ongoing project or a finite project? Or perhaps, "What are the expected maintenance needs beyond initial implementation?"

I'm not sure that "why does Project X need more people than Project Y?" is the most useful question, though. I think of it in terms of, "What does P

[2015-07-17 15:33] secretrobotron commented on #495
@OpenMatt :+1:

Would like to "test" that a bit too. Could use perspective of people we interviewed (like Ina) to see what's missing.

[2015-07-17 15:34] secretrobotron commented on #486
Indeed. Need to wait for @thisandagain to revive the account now.

[2015-07-17 15:35] secretrobotron commented on #486
@hannahkane @adamlofting and I just met to talk about Webmaker+LN uses of the system. Makes sense to provide email redirects to the desk account so that short-term, low commitment exchanges can happen between us and users for various products and services (e.g. Thimble, EOY, etc.).

[2015-07-17 15:38] RebsD commented on #423
I've updated Andrea on the following, sorry not to have extended it to
Erika and git hub:

In Europe, I met with Jascha and Mary Ellen. They agree the gear store
situation is sub-optimal, recognize there's potential, and are committed to
working with us to see how it could intersect with
brand/marketing/participation.

Next step: Andrea to review her original recommendation document and
circulate

[2015-07-17 16:03] edrushka commented on #483
Apologies, but I don't have the capacity to PM this at the moment.

[2015-07-17 16:14] thornet commented on #503
@thornet is blocking, so working on not doing that. ^^

[2015-07-17 16:15] thornet commented on #501
cc @Saallen @thornet @edrushka

[2015-07-17 16:18] OpenMatt commented on #488
* schedule follow-up conversation early next week, + @thisandagain

[2015-07-17 16:21] iamjessklein commented on #374
:+1:

[2015-07-17 16:22] cassiemc commented on #480
Am quite happy to drive this after I'm back from PTO. I defer to @HPaulJohnson if he wants to drive though, as he has with other branding stuff. Sounds like it's Moco properties so Paul may be the better contact here.

(FYI the Bugzilla thing above is resolved)

[2015-07-17 16:30] OpenMatt commented on #495
* may need to come up with a better title than "Open Product Developer"

[2015-07-17 16:43] Saallen commented on #374
:fireworks: :boom:

[2015-07-17 19:39] KevZawacki commented on #485
@hannahkane, @HPaulJohnson and I are working on a value prop for the new Thimble. Once we have that squared away (next week), we can start charting a course for promotional materials and comms.

[2015-07-17 20:12] hannahkane commented on #485
Moving to July 31 milestone, as per @KevZawacki's comment.

[2015-07-17 21:53] KevZawacki opened #505 "Update Webmaker presence on SUMO"
We need to update Webmaker's presence on SUMO, per https://github.com/mozilla/webmaker-launch/issues/38.

See current presence: https://support.mozilla.org/en-US/

Driver: @kevzawacki

Some proposals to start the conversation:
-Swap out old Webmaker logo for new one
-Remove Popcorn Maker help topic
-Remove 'Get the most from Webmaker.org' help topic
-Update 'Events and help for mentors' copy with

[2015-07-18 06:32] cecilepompei commented on #482
What are our metrics and plan to test and learn from this experiment?

On Fri, Jul 17, 2015 at 4:46 PM, OpenMatt <notifications@github.com> wrote:

--
Cécile POMPEÏ
Mobile Service Lead, Webmaker.org
+44 75 98 490 115

[2015-07-20 16:02] LauraReynal commented on #489
Hey @hannahkane im back from PTO and happy to help. Had a look at the pad - lots of exciting questions :smile:

I added some comments in salmon pink in the pad, feel free to edit.

A few thoughts / questions:
- I have some existing data from the Chicago research projects with several educators that we talked to, it could be used as a starting point. Happy to go through it with you before we finali

[2015-07-20 19:32] Saallen commented on #293
After a really successful [MozFest retreat]  (https://wiki.mozilla.org/Mozfest/2015/Mozretreat)  in Scotland  and the launch of the [Mozilla festival] (https://2015.mozillafestival.org/) the program team is working on building learner pathways through the festival weekend with specific personas in mind with the help of those in Scotland.

[2015-07-21 17:01] OpenMatt commented on #483
@adamlofting : any update on how you want us to set up the form?

[2015-07-21 17:02] OpenMatt commented on #483
* Prototype version of the page: https://melechuga.github.io/advocacy.mozilla.org/2016-host-organization-application/

[2015-07-21 17:09] OpenMatt commented on #483
@alicoding: to do's for you (or some other dev)
1. **add a button.** For "Apply Now." (@melechuga will update here with the link to use for the button. it's a simple link -- no form required.)
2. **add blue background.** around "Host Organization Responsibilities" and "Mozilla Responsibilities"
3. **fix up the bullets.** under 'Specifically, the goals of the Open Web Fellows program are...". Incre

[2015-07-21 17:10] OpenMatt commented on #483
next step: @Melechuga will provide the correct screen door link here.
* Drop dead deadline for these three fixes and pushed to live is: July 30.

[2015-07-21 23:12] hannahkane commented on #504
This is at least partially blocked by https://github.com/MozillaFoundation/mofo-devops/issues/123

[2015-07-21 23:20] hannahkane commented on #489
Thanks, @LauraReynal! Really appreciate the comments/questions.

I want to get some guidance from @chrislarry33 regarding our research plan and timeline. As @anmechung and I talked about, we think many of these research questions can be explored via the Web Lit Map focus groups (@anmechung - can you share the timeline for those?)

@chrislarry33 - wondering if you can help give shape to add'l resea

[2015-07-21 23:29] hannahkane commented on #485
hey @KevZawacki and @HPaulJohnson - any movement on the value prop or video resourcing conversation?

[2015-07-21 23:38] HPaulJohnson commented on #485
@hannahkane - working on value proposition at this very moment. plan to review with @KevZawacki tomorrow and send something your way.

re: video, we are still we've been pretty distracted trying to get the Webmaker videos finished up; when those are in a better place we'll have that conversation with that team.

[2015-07-22 03:39] anmechung commented on #489
Focus groups to inform WebLit 2.0  begin week of July 20 and will wrap up mid-August.  Some of the questions https://etherpad.mozilla.org/teachresearch can definitely be incorporated into the focus groups, particularly those collecting basic demographic and tech level info. Some of the questions are specific to those already using Mozilla Learning tools and should happen as follow-up.  A good port

[2015-07-22 03:41] anmechung commented on #489
and ... whatever is data is collected for whatever purpose should align with what the Impact Working Group is planning (yet to be determined)

[2015-07-22 09:31] adamlofting commented on #483
@OpenMatt : If Screen Door works for everyone, that's excellent. I'll take this task off my list :+1: Someone should work through a vendor review if we haven't already though.

[2015-07-22 11:06] adamlofting opened #506 "Infrastructure and Security testing for new Donation Pages"
In recent heartbeats we have been building our new Donation Pages and setting up our deployment and hosting platforms.

In this heartbeat we want to thoroughly test these new pages before they are used in production.

### Audience
Mozilla Foundation Online Donors (~300k per year)

### Success
* All planned tests and processes executed
* Weaknesses identified and systems hardened
* Comprehensive do

[2015-07-22 11:13] adamlofting commented on #506
Filing this Plan ticket to put this work on the radar for the next heartbeat. Granular work is in [donate.m.o](https://github.com/mozilla/donate.mozilla.org/milestones/Infrastructure%20and%20Security%20Testing)

@wex are you happy to be quality verifier for this? Or to suggest someone else?

@edrushka let's check dev resources and make sure this works

The majority of this work is DevOps, so falls

[2015-07-22 11:23] adamlofting opened #507 "New Donations Pages - Setup Deployment and Testing Processes"
Filing this bug for TPS visibility as I hadn't caught up on ticket admin before the last call.

We're doing another sprint this heartbeat on our new donation pages:

* Integrating Stripe as a new Payment Provider
* Setting up hosting
* Setting up automated testing
* Setting up deployment processes
* Improving localization in our code

Work is being tracked in: https://github.com/mozilla/donate.moz

[2015-07-22 12:48] sinker commented on #483
I believe Simon Wex is already working through the vendor review.

On Wed, Jul 22, 2015 at 4:31 AM, Adam Lofting <notifications@github.com>
wrote:

[2015-07-22 16:03] edrushka commented on #506
@adamlofting is there a hard deadline for this? Do @ScottDowne and/or @alicoding owe @jbuck anything in order for him to complete this work?  I just want to take into account the fundraising meetup which takes place next heartbeat.

[2015-07-23 16:27] edrushka commented on #425
@ScottDowne any progress? This is such a great tool and no one knows about it! Would love to find a home for this.

[2015-07-23 22:20] HPaulJohnson commented on #485
Here's a draft version of Thimble value prop. Apologies that it took us a bit longer to get to. We should edit/add/subtract from this and it can help inform key messages and copy for marketing and other public facing promotion of the tool.

https://etherpad.mozilla.org/thimble-valueprop

[2015-07-23 23:08] edrushka commented on #375
Closing this for now. May reopen when Advocacy team is at full capacity again.

[2015-07-23 23:08] #375 closed

[2015-07-23 23:10] edrushka commented on #425
It's live!  http://build.webmaker.org/issues
Woooo!

[2015-07-23 23:10] #425 closed

[2015-07-23 23:13] bensternthal commented on #375
@edrushka can you provide some more info? If your team does not pick this up in Q3 we will to make sure IT is aware in case anything has to done for the PHX1 exit.

[2015-07-23 23:22] edrushka commented on #375
@davidascher or @simonwex do you think we'll be able to take this on for Q3?

[2015-07-24 16:57] adamlofting commented on #496
Done.

This will be Amazon SNS. https://aws.amazon.com/sns/

@jbuck @thisandagain @simonwex and I just met to decide on architecture and systems needed for managing notifications (email, push and SMS) and given the need to manage logic and content in our own systems (in part for localization) the push notification provider doesn't' need the content management features of a tool like Urban Airship.

[2015-07-24 17:42] hannahkane commented on #485
I think this is fantastic. Thanks for putting it together.

[2015-07-24 19:17] ldecoursy commented on #485
+1 Left a few suggestions in the pad. Thanks @HPaulJohnson and @KevZawacki :+1:

[2015-07-27 13:56] adamlofting commented on #506
I put this in the Aug 15 heartbeat as this testing would be required before we can use the new pages in a production campaign (i.e. the imminent German campaign).

The tasks assigned to @jbuck can almost all be completed independently, so the fundraising meetup should not be a blocker.

*Note:* this requires the current tasks assigned to @ScottDowne and @alicoding for [this heartbeat](507) to be c

[2015-07-27 18:32] hannahkane opened #508 "Move Goggles to a new home"
Goggles can't live on webmaker anymore, so we need to find it a new home.

@xmatthewx - can you clarify whether there's urgency around this? For how long can it continue to live on webmaker?

#### DARCI
Driver: @hannahkane
Accountable: @simonwex
Responsible: TBD
Informed: @chrislarry33 @ldecoursy

[2015-07-27 18:34] hannahkane commented on #504
No longer blocked. All of this is either done or in progress.

[2015-07-27 18:36] hannahkane commented on #485
Do we need to reconvene to figure out next steps, @KevZawacki @HPaulJohnson @ldecoursy?

[2015-07-27 20:44] hannahkane opened #509 "AUGUST 4: Remove Maker Party banners from teach and webmaker hompages"
Active Maker Party promotion ends July 31, so we'll want to remove promotional banner soon after.

#### DARCI
Driver: @hannahkane
Accountable:
Responsible: TBD

[2015-07-27 20:52] KevZawacki commented on #485
That'd be great. I'd like to pin down specific dates for the "Timeline and Tactics" section of the comms plan (https://goo.gl/9ZeY7V). Hopefully @cassiemc can join us, too, re: art for social media.

Maybe a 15-minute meeting on Thursday?

[2015-07-27 20:53] hannahkane commented on #485
WFM

[2015-07-27 20:58] Melechuga commented on #483
1) Screendoor link: https://screendoor.dobt.co/mozilla-foundation-2/2016-ford-mozilla-open-web-fellows-host-organization-application . I already gave this to @alicoding, but am including it here for documentation.

2) Looks like we need a small update on the advocacy.m.o landing page to lead to the host organization application page. I suggest a) getting rid of the Fellows' pictures, b) putting in

[2015-07-27 23:19] Melechuga commented on #483
@alicoding thanks for the live link to https://advocacy.mozilla.org/2016-host-organization-application/. Would it be possible to increase the indent around the bullet points, as per @OpenMatt 's notes in the ticket above? Thank you!

[2015-07-28 15:37] cassiemc commented on #485
I'll be there!

[2015-07-28 19:05] edrushka opened #510 "Create a 2014 donor impact report"
Driver: @edrushka
Copy: @KevZawacki
Design: TBD (Jordan?) *need to discuss design capacity for Aug with TPS*
Metrics: @adamlofting
Signoff: @RebsD
Consulted: Mark, @valianttry and MoCo Leadership (tbd)
Informed: Ops, @HPaulJohnson

Due: Report will be mailed and emailed in early September.

Context: As part of the donor stewardship program, one of the fundraising team's first major efforts is to r

[2015-07-28 19:12] edrushka commented on #494
Update: @RebsD and I have determined that soliciting stories via a template is no longer in scope for our current project, [Creating a 2014 Impact Report for donors] (https://github.com/MozillaFoundation/plan/issues/510). We'll likely revisit this idea for our next Impact Report.

I'm going to unassign myself and close this for now, but if anyone else would like to pick this up, please ping me for

[2015-07-28 19:12] #494 closed

[2015-07-28 19:37] OpenMatt commented on #510
Love this. Are there examples of how other organizations have done this that we can share? (So that people have a sense of what it may look like.)

[2015-07-28 19:38] OpenMatt commented on #510
Mark's year-end email is a good recent example as well.

[2015-07-28 19:48] edrushka commented on #510
Yes, I've already shared Mark's email with Rebecca. Here are some examples of Donor Impact Reports:
- [WWF] (http://wwf.panda.org/about_our_earth/all_publications/living_planet_report/) Extremely dense, very long and lots of text. Individual stories indicate threats/dangers if action is not taken, and solutions correspond to WWF's "one planet" goals. Report has a complementary video with WWF's dir

[2015-07-29 13:27] alicoding commented on #483
@Melechuga those changes I'm afraid I can't get this done very soon until I get the stuff for Webmaker Android completed.

[2015-07-29 16:25] hannahkane opened #511 "Deploy new Thimble to Thimble-beta"
The CDOT team is planning to deploy the new Thimble to production next week (week of August 3)  so we can begin testing, as well as start working with a stable database (which is necessary for creating the "starter" content we'll have on the new Thimble landing page).

Will need devops support, if possible.

### DARCI
Driver: TBD
Accountable: @simonwex
Responsible: TBD
Consulted: @humphd
Informed:

[2015-07-29 17:44] hannahkane commented on #511
Relevant tickets:
https://github.com/mozilla/thimble.webmaker.org/issues/732
https://github.com/MozillaFoundation/mofo-devops/issues/133

[2015-07-29 19:22] Melechuga commented on #375
I'm adding @brettgaylor to this as the website sits under the Ford grant at the moment.

[2015-07-29 19:26] Melechuga commented on #483
Thanks for letting me know @alicoding. @OpenMatt, is there someone else available to do this? There are still a few things we need to get done before pointing people to the site on Monday (Aug. 3):
1. Fix the bullet point alignment (make the indent bigger)
2. Update the landing page (advocacy.m.o) so it points to the application:
    a) remove the Fellows' pictures,
    b) put in the dots/vector d

[2015-07-29 19:40] OpenMatt commented on #483
@simonwex : given that @alicoding is busy and the deadline for this is Monday, are you able to assign another dev to make these final light changes?

[2015-07-29 19:44] brettgaylor commented on #483
Hai!  I might be able to do this if someone can walk me through how the repo is set up.

[2015-07-29 20:14] secretrobotron opened #512 "Build tool to provide makes to old webmaker tool users"
GOAL: Build a small tool to provide existing makes to webmaker users after Popcorn Maker and Appmaker are decommissioned on September 30th.

Worked with @simonwex a bit on a design for this:
- build set of JSON files — one per webmaker user — comprised of metadata for list of makes from scraping MakeAPI
- (make sure there aren't other makes to be collected)
- put all of those JSON files on S3; add

[2015-07-29 20:17] #465 closed

[2015-07-29 20:18] secretrobotron commented on #512
Added messaging to tools:
- https://github.com/MozillaFoundation/plan/issues/465
- https://github.com/mozilla-appmaker/appmaker/issues/2412

e.g. https://popcorn.mofostaging.net/

[2015-07-29 20:23] secretrobotron opened #513 "Deploy blog post and tools changes to disseminate tool transition information"
GOAL: Deploy blog post and associated changes tools to tell people that Popcorn Maker and Appmaker are being decommissioned.

* @KevZawacki is preparing a blog post which will point to a new tool (#512)
* Popcorn Maker and Appmaker are both ready to go **on staging**. They need to be pushed to prod at the right moment (roughly when @KevZawacki has his blog post published)

Related to #512

[2015-07-29 20:26] secretrobotron opened #514 "Build transactional email service for Webmaker & Teach users"
GOAL: Build service to send out transactional emails to users 3 days after they install Webmaker.

Tracking:
* Changes to login (service): https://github.com/mozilla/login.webmaker.org/issues/365
* Change to webmaker-mailroom (email): https://github.com/mozilla/webmaker-mailroom/issues/43

@jbuck @simonwex @HPaulJohnson @KevZawacki

[2015-07-29 22:00] secretrobotron commented on #465
Thanks @errietta :shaved_ice:

[2015-07-30 08:44] LauraReynal commented on #510
@edrushka I sent you all I have on Suchita.
Also, I'm thinking I have other portraits to show the *need* for us to be doing our programs, but they don't show impact yet. Let me know if this is something you could need. Happy to chat further.

[2015-07-30 15:05] alicoding commented on #483
I have updated all of them except that last point https://github.com/mozilla/advocacy.mozilla.org/pull/24

[2015-07-30 15:45] edrushka commented on #510
Incredibly helpful, @LauraReynal! Thank you :hibiscus: @KevZawacki are going to circle up to chat messaging, so I'll get back to you on the 'need' piece.

[2015-07-30 15:45] simonwex commented on #483
@brettgaylor I'd be great to enable you to make changes. Once we know what we're doing with the nav menu, I'd be more than happy to help set you up.

[2015-07-30 16:28] hannahkane commented on #504
Donezo.

[2015-07-30 16:28] #504 closed

[2015-07-30 16:31] hannahkane commented on #501
Done!

[2015-07-30 16:31] #501 closed

[2015-07-30 16:32] hannahkane commented on #500
In progress

[2015-07-30 16:32] hannahkane commented on #497
In progress. Will likely continue into next heartbeat.

[2015-07-30 16:33] hannahkane commented on #493
Pushing to next heartbeat, since it's dependent on pushing Thimble to production server (see #511)

[2015-07-30 16:35] hannahkane commented on #491
This is all done or removed from MVP

[2015-07-30 16:35] #491 closed

[2015-07-30 16:43] hannahkane commented on #503
https://github.com/mozilla/teach.webmaker.org/issues/1086 and https://github.com/mozilla/teach.webmaker.org/issues/1104 are done

https://github.com/mozilla/teach.webmaker.org/issues/1136 is blocked on not having Teach API access

[2015-07-30 16:45] thisandagain commented on #488
This is done and ready for release to Google Play pending a DB migration and API release.

[2015-07-30 16:45] thisandagain commented on #486
This is done pending inbound/outbound email config from @simonwex

[2015-07-30 16:46] thisandagain commented on #372
Update: This took a backseat to the Gates Foundation proposal. Picking up in the next heartbeat.

[2015-07-30 16:52] hannahkane opened #515 "Messaging re: Clubs, Maker Party, and MozFest"
#### Tasks and Rationale

[Moved to later heartbeat] We have shifted focus from recruiting Club Captains to Regional Coordinators, and need to make some changes to the /clubs page of the MLN site:
https://github.com/mozilla/teach.webmaker.org/issues/1142

~~Maker Party ends July 31, so we need to make some changes to the /events page to message that:
https://github.com/mozilla/teach.webmaker.org/i

[2015-07-30 16:55] thisandagain opened #516 "Webmaker v1.2.0"
Prep for Webmaker marketing release in Bangladesh, Indonesia, and Brazil as well as global access to the Snippet.

#### Goals
- Resolve critical user facing bugs
- Land and QA batch updating of project data (performance)
- L10N fixes / tweaks
- General QA and hardening

#### Nice-to-have
- First time use improvements (contextual guides)

#### RACI
Driver: @thisandagain
Decision: @davidascher
Desig

[2015-07-30 16:56] hannahkane commented on #502
Closing for now; no longer an urgent need.

[2015-07-30 16:56] #502 closed

[2015-07-30 17:49] hannahkane opened #517 "Finalize design for MLN Directory"
#### Goals:
 * Achieve stakeholder agreement on design for MLN Directory
 * Agree upon shared terminology
 * Collect user feedback

#### Tasks
 * @sabrinang to iterate on wireframes in advance of stakeholder meeting
 * hold stakeholder meeting
 * iterate on wireframes based on feedback
 * collect input on revised wireframes from community members

#### RACI
Driver: @hannahkane
Decision: @chrislarr

[2015-07-30 18:17] chrislarry33 commented on #489
I suggest we maybe hit pause on this until September (Note not the web lit research)

[2015-07-30 19:01] anmechung commented on #489
Sounds like a good plan.

[2015-07-30 19:09] hannahkane commented on #489
Cool. Removing from milestone, and adding to roadmap for September.

[2015-07-30 20:43] hannahkane opened #518 "Create marketing deliverables for Thimble"
@HPaulJohnson and @KevZawacki to add specific details and list of deliverables

### DARCI ###
Driver: @HPaulJohnson
Accountable: @HPaulJohnson
Responsible: @hpauljohnson, @KevZawacki
Design: @sabrinang
QA: @cassiemc
Consulted: @ldecoursy @chrislarry33 @hannahkane

### Must Have Deliverables ###
 - [x] Blog post
 - [x] Email assets
 - [x] Email template
 - [x] Email copy
 - [ ] 3-4 Facebook posts w

[2015-07-30 20:55] hannahkane commented on #517
Changing this to p2, as Sabrina will likely be needed on Thimble marketing deliverables, so realistically, we won't get to this.

[2015-07-30 21:09] edrushka commented on #470
@simonwex dare I ask?

[2015-07-30 21:10] edrushka commented on #378
Any word from Jen, @HPaulJohnson?

[2015-07-30 21:10] hannahkane opened #519 "Determine url/hosting for Thimble"
We need to move thimble off of Webmaker, so this likely means moving to thimble.mozilla.org. I don't have an understanding of the technical and security implications involved.

@simonwex to advise about what the work is here

[2015-07-30 21:29] cassiemc commented on #518
I started a pinterest for inspiration here: https://www.pinterest.com/cassiemc/thimble-back-to-school/

[2015-07-30 21:40] HPaulJohnson commented on #378
We discussed in the context of the overall mozilla.org redesign. Given the timeline for that project she is okay with us moving forward with updating content on this page. @KevZawacki and I are revisiting copy from a few months ago, will update as appropriate and solicit feedback in this sprint.

[2015-07-30 22:17] KevZawacki commented on #518
Comms plan here, updated thoroughly after today's call: https://docs.google.com/document/d/1axAmOwVVdvW_mwy9IfnW8sJlaJ4m6kDd4MHVzEMSboc/edit

[2015-07-30 23:07] thisandagain commented on #488
Released!

[2015-07-30 23:07] #488 closed

[2015-07-30 23:07] #454 closed

[2015-07-31 05:42] amirad commented on #512
Can there be a link to this on the Webmaker page still? Whether in an FAQ or in a banner?

Also, @ldecoursy sounds like this is something we should have under the tools section of the teach site? And perhaps communicate out in community calls.

[2015-07-31 11:48] KevZawacki commented on #512
+1 @amirad. Copy and a link on https://teach.mozilla.org/tools/ would be a nice fit.

"Searching for past makes created with our tools? Find them here [link]."

If we know a) that old makes will definitely be available and b) where the link will live, I wonder if we can move forward with communications.

[2015-07-31 13:06] amirad commented on #512
FYI @hannahkane

[2015-07-31 14:24] OpenMatt commented on #507
@adamlofting status?

[2015-07-31 14:25] OpenMatt commented on #500
@hannahkane roll over to next milestone?

[2015-07-31 14:26] OpenMatt commented on #496
@adamlofting if this is done, ok to close?

[2015-07-31 14:27] OpenMatt commented on #485
@hannahkane rolling over to next Heartbeat then?

[2015-07-31 14:28] OpenMatt commented on #495
* I failed to get my work on this done, because of some competing work on Mozilla Learning Planning.
* I've got a blog post about 75% drafted that outlines what we've done on this so far, with suggested next steps.
* Will get it done next Heartbeat

[2015-07-31 14:28] OpenMatt commented on #487
@cassiemc status?

[2015-07-31 14:29] OpenMatt commented on #423
@RebsD @valianttry status?

[2015-07-31 14:30] RebsD commented on #423
In conversation with Mary Ellen Mukerman about shared or transferred
responsibility.

On Fri, Jul 31, 2015 at 10:29 AM, OpenMatt <notifications@github.com> wrote:

[2015-07-31 14:30] adamlofting commented on #496
Yep, I meant to click that button :stuck_out_tongue_closed_eyes:

[2015-07-31 14:30] #496 closed

[2015-07-31 14:47] vazquez commented on #487
Page was designed by @cassiemc and coded by me. It's up on http://build.webmaker.org/design.

Tweaks will need to be made, but I'm comfortable with closing this issue and filing new as needed.

[2015-07-31 15:16] cassiemc commented on #487
+1, thanks @vazquez!

[2015-07-31 15:16] #487 closed

[2015-07-31 15:18] ldecoursy commented on #512
@secretrobotron, can you confirm this includes existing Thimble makes too?

[2015-07-31 15:18] thornet opened #520 "Conduct interviews with first 100 Club Captains"
Tracked in more detail here: https://github.com/mozilla/learning-networks/issues/200

Success is: By August 7, 100 people interviewed and pledged to host at least 3 Mozilla Club sessions by Mozfest.

Scope/constraints: Club Captains have a relationship with regional coordinators.

[2015-07-31 15:23] thornet opened #521 "Identify and invite next cohort of Regional Coordinators"
Our goal for Q3 is to on-board 15 more Regional Coordinators, expanding our capacity to support clubs.

This heartbeat, we'll:
- [ ] circulate the regional coordinator [volunteer job description](http://mozilla.github.io/learning-networks/clubs/regional-coordinator.html)
- [ ] identify 20+ candidates (ca. 3 recommendations per staff organizer, rest from other RCs)
- [ ] send invitation emails to s

[2015-07-31 15:24] adamlofting commented on #507
Just reviewed with Scott and Ali, and this heartbeat has gone well.

* Shipped [these bugs so far](https://github.com/mozilla/donate.mozilla.org/issues?q=is%3Aissue+milestone%3A%2231+July+-+Pre+FR+Meetup%22+is%3Aclosed) - and expect to close the remainder today.

Summary for the heartbeat:

[2015-07-31 15:24] #507 closed

[2015-07-31 15:35] ldecoursy opened #522 "Maker Party Wrap-Up"
In this heartbeat we'll:

[x ] Publish closing blog post on Webmaker (and maybe on Mozilla blog pending Windows 10)
[x ] Send campaign wrap-up email to various BSD lists and communities
[x] Make updates to teach.mozilla.org/events page https://github.com/mozilla/teach.webmaker.org/issues/1135
[x] Share a recap on earned media efforts
[x] Debrief with key stakeholders

cc @amirad @KevZawacki

[2015-07-31 15:47] simonwex commented on #512
@ldecoursy, it would include everything that users can currently find in their profiles.

[2015-07-31 15:52] hannahkane commented on #500
Yes, I believe there's an outstanding PR on this one.

[2015-07-31 15:52] hannahkane commented on #503
Didn't get finished, so moving to next heartbeat.

[2015-07-31 16:08] amirad commented on #522
Link to Webmaker blogpost: http://mzl.la/1eGAaMA
Emails sent to mofo, reps and listserv.

[2015-07-31 16:10] hannahkane commented on #485
Or maybe this can be closed in light of #518. @HPaulJohnson ?

[2015-07-31 16:17] OpenMatt commented on #423
@RebsD : update / move to a future milestone as needed?

[2015-07-31 16:21] RebsD commented on #423
yes

On Fri, Jul 31, 2015 at 12:17 PM, OpenMatt <notifications@github.com> wrote:

[2015-07-31 16:27] OpenMatt commented on #518
* Next steps: deliverables are listed and ready in Kevin's link for @cassiemc to review and assign a resource.

[2015-07-31 16:31] OpenMatt commented on #506
@adamlofting note that @jbuck has a full plate at the moment...

[2015-07-31 16:33] OpenMatt commented on #514
@thisandagain volunteers to PM this one

[2015-07-31 16:36] OpenMatt commented on #511
* time pressure here is around having Thimble ready for "back to school" comms in early Sep

[2015-07-31 16:37] OpenMatt commented on #506
@simonwex suggests @ScottDowne could potentially be mentored on this

[2015-07-31 16:42] OpenMatt commented on #514
@thisandagain says dev work is unlikely to occur on this this Heartbeat.

[2015-07-31 16:47] simonwex opened #523 "Recover discourse.webmaker.org"
Driver: @simonwex
Accountable: @ldecoursy @simonwex- help with comms
Responsible: @simonwex
Consulted: @ldecoursy @chrislarry33 @hannahkane

[more details to be entered by @simonwex]

[2015-07-31 16:47] OpenMatt commented on #512
* Why this is a P1 for this Heartbeat: has been kicked down the road for a while -- lots of temporary measures
* This is a blocker for: deprecating the tools for real. It's how people will access their previous makes.
* @thisandagain proposal: move this to late Sep / tackle through navigation change.
* next step: @thisandagain will file and drive a new ticket for this. This week. Potentially worki

[2015-07-31 16:49] OpenMatt commented on #510
* time sensitive for early Sep, and may require additional design resrouces (cc @cassiemc)

[2015-07-31 16:51] thisandagain opened #524 "Webmaker Navigation Audit and Deprecation Comms"
We need to do an audit of the user experience for existing users of: Appmaker, Popcorn, Thimble, and X-Ray Goggles. This may require some updates to the navigation on http://beta.webmaker.org and existing tools to ensure a good experience between now and the release of the full browser version of Webmaker.

#### RACI
Driver: @xmatthewx, @hannahkane, @simonwex
Decision: @davidascher
Dev: @jbuck
Con

[2015-07-31 16:52] thisandagain commented on #524
/cc @xmatthewx

[2015-07-31 17:25] KevZawacki commented on #522
cc @HPaulJohnson, who will oversee the campaign wrap-up email.

[2015-07-31 17:30] LauraReynal commented on #372
Update: made good progress on copy - still needs some work.

For next heartbeat, could we get help from:

- @lovegushwa on design for graphics and the report itself

- @thisandagain content review - mid heartbeat

- also would like to get a review from @omnignorant if possible

- @adamlofting for pulling out a couple of graphics from our particpants data base (when available: files are ready)

- @

[2015-07-31 17:50] KevZawacki commented on #372
I can definitely do copy review/writing.

[2015-07-31 21:23] hannahkane commented on #518
@cassiemc - let me know how you want to staff this. If you'd like to give this to Sabrina, I'll remove the other tickets that I'd been planning to assign to her this heartbeat so she can focus on this.

[2015-07-31 21:39] cassiemc commented on #518
@hannahkane Yes, I am thinking @sabrinang and I can tackle this together

[2015-07-31 21:46] brettgaylor commented on #483
I think this should be settled by this
https://github.com/mozilla/advocacy.mozilla.org/pull/26

[2015-07-31 22:55] lovegushwa commented on #372
@LauraReynal
I want to help with design / fixing up the template a bit more as well.

[2015-08-01 02:25] simonwex commented on #486
@thisandagain do you just need SMTP creds?

[2015-08-01 02:44] simonwex commented on #486
SMTP info encrypted with your keybase key, @thisandagain.

If you need something different, just let me know.

-----BEGIN PGP MESSAGE-----
 [[unflagged]](http://plzkthx.herokuapp.com)
Version: GnuPG v1

hQEMA1oUbJ0PM3aFAQf/UMCdMAKDUBKEiJEvTWB/O8FjuhqQlbAYQiVlZy2SM7Ph
lCXVBA/tRR9PsABfYI64VE2sHwLmxw9B/HIvvwjOfGw4etWM3zZ6gGI/y7txy7P4
Zlesots1TAxR2yw6yA/vckGZme3XwhPfMtNJqg+GWvqguqyMdDExET/DfezoVMu0
pF

[2015-08-03 17:02] hannahkane commented on #484
One other idea—the MLN team has been doing some interesting work to align our programs towards a common goal using SWOT analyses (https://en.wikipedia.org/wiki/SWOT_analysis).

I think it would be interesting to use the SWOT tool to align the various dev/design projects with the larger Mozilla Learning plan.

[2015-08-03 18:26] xmatthewx opened #525 "Build age gate for user accounts (teach & tools)"
#### Goal

Design and build an age verification feature for new sign-ups on Webmaker to comply with COPPA.

#### This heartbeat

 1. gather requirements
 1. gather benchmarks
 1. design
 1. legal review

#### Next heartbeat

 1. build
  - Android front-end
  - id.webmaker.org front-end (MLN)
  - backend (flag pre- post-verification)
  - redirect or block signups on popcorn, appmaker, goggles
 1. t

[2015-08-03 23:03] thisandagain commented on #486
@simonwex Great. Thanks ... also need the inbound (IMAP) details.

- Andrew

[2015-08-04 14:22] cassiemc commented on #372
WFM if @lovegushwa can balance this with the Fundraising work. There is a fundraising workweek this week so his involvement will be minimum at this point. Have updated the RACI above.

[2015-08-04 14:28] cassiemc commented on #518
Have updated the RACI.

[2015-08-04 16:38] hannahkane commented on #519
/cc @davidascher

[2015-08-04 17:34] hannahkane commented on #448
Moving this to current milestone. Is there an update @simonwex?

[2015-08-04 17:36] hannahkane commented on #517
Removing from heartbeat due to lack of staffing

[2015-08-04 17:39] simonwex commented on #519
@hannahkane I'll chat to David about this today during our 1:1. Let's catch up tomorrow.

[2015-08-04 17:46] simonwex commented on #486
@thisandagain we're hoping to get both inbound and outbound access to help@webmaker.org here, right?

[2015-08-04 17:54] hannahkane commented on #519
ok. sent you a calendar invite.

[2015-08-04 18:04] thisandagain commented on #486
Yup.

[2015-08-04 18:16] thisandagain commented on #486
@simonwex Yup!

[2015-08-04 18:22] HPaulJohnson commented on #518
Kickoff today.
Design brief: https://docs.google.com/spreadsheets/d/1SjMHlBZj7uGfQEV6KTaUMAMBvsjUbc9Rz78bkIX8EBw/edit#gid=0
Master list of deliverables: https://docs.google.com/spreadsheets/d/1sj6GrVHPMiuj7SdPBK7X84Y_KNM-qMvDw8XalviCmmk/edit#gid=0

[2015-08-04 20:29] HPaulJohnson commented on #514
@thisandagain - not sure when we will get to this one but we have some sample copy to start with when we do: https://docs.google.com/document/d/1kiuGPLX5Me6Jr7lWw1J13AXez9Q7rT9ELs9bynpCbh8/edit

To finalize email we need some content and app screenshots:
- A sample "tutorial" project that walks through all the major features
- Screen shots of remix, steps to edit text and sharing. (preferably, all

[2015-08-04 21:20] cassiemc commented on #518
@HPaulJohnson @hannahkane is there a milestone perhaps in the teach repo we should use for tracking individual bugs?

[2015-08-04 22:05] simonwex commented on #486
@thisandagain I'll need to talk to Ed Lim about this one. Will update.

[2015-08-04 22:46] hannahkane commented on #518
Hmm...not sure if it fits better in the Teach repo or the Thimble repo. If we go with the Teach repo, we can put stuff in the August 14, 2015 milestone. I'm going to take most of what's currently in that milestone out, since we are focused on this project instead.

[2015-08-05 12:43] OpenMatt opened #526 "Prepare for Aug 18 staff meeting on Mozilla Learning phase 2"
**Home for this work:** https://wiki.mozilla.org/Learning
**Goal:** move from Phase 1 to Phase 2 of the planning process. Beginning with the Aug 18 staff meeting.
* Discuss the process with staff. Invite everyone to get involved.
* Clearly outline *how* to get involved in each Working Group and the overall process.
* Make sure staff have enough time to read in advance

[2015-08-05 13:11] OpenMatt commented on #526
### Deliverables needed for Aug 10:
- [ ] A third draft of the wiki: https://wiki.mozilla.org/Learning (Matt)
- [ ] A better graphic for the top of the wiki (Bhuvan)
- [ ] A "partnerships" page, linked from the wiki (Bhuvan)
- [ ] Draft an email to staff that can go out week of Aug 10 (Matt)

[2015-08-05 13:19] OpenMatt commented on #526
### Deliverables needed for Aug 18:
- [ ] Fourth draft of the wiki: https://wiki.mozilla.org/Learning (Matt)
- [ ] An updated FAQ page (Bhuvan)
- [ ] A Mozilla Learning community call page (Matt)
- [ ] Working Group Deliverables: each Working Group has a clear, vetted list of Phase 2 deliverables

[2015-08-05 13:34] OpenMatt commented on #526
cc @bhuvanshri

[2015-08-05 14:25] bhuvanshri commented on #526
Additional Deliverables for Aug 18:
- [ ] WGT(Women & Girls in Tech) Task Force plan review with Angela and Mark
- [ ] WGT plan added and linked through on the Learning Wiki
- [ ] Partnerships framework developed (Mark w/ support from Bhuvan)

[2015-08-05 14:31] KevZawacki commented on #512
@simonwex Wondering if we've determined what the archive tool will look like/where it will live. If so, we can start communicating it to users alongside our deprecation messaging.

[2015-08-05 14:42] bhuvanshri commented on #526
Link to the document Lynn and I created yesterday for the WGT task force: https://docs.google.com/document/d/1IzjPIKg9q1DuBkW0FkbXGJC9KfvYmmYM8JasEloP8cw/edit

[2015-08-05 18:10] OpenMatt commented on #526
@ldecoursy can you add your partnership criteria document, so we can include it on Partnerships page?

[2015-08-05 18:38] hannahkane commented on #511
Believe this is done. @jbuck or @humphd to verify?

[2015-08-05 18:40] bhuvanshri commented on #526
Learning Networks Partner Criteria: https://docs.google.com/document/d/1qukGywwh1zY8eIPa75_AnS8Piu9KUxWGXpgu4N6gGAY/edit

[2015-08-05 20:26] bhuvanshri commented on #526
Update on Item: Publish public version of Mark's last board slides (Bhuvan:
Angela doesn't seem to have this version available either. Will ask Mark directly for them once he returns from PTO

[2015-08-05 21:42] simonwex commented on #519
Hey @hannahkane we can use thimble.mozilla.org here.

@jbuck could you point me at the relevant issues for getting thimble into production and file the request for the DNS?

[2015-08-05 22:13] hannahkane opened #527 "Address non-remixability in Popcorn and Appmaker makes"
Options include:
1) Remove "Remix" as an option from existing makes
2) Provide a landing page that explains these tools no longer exist, therefore the make can't be remixed - **this is the winning option**

### DARCI ###
Driver: @hannahkane
Designer: TBD
Engineer: @cadecairos

[2015-08-05 22:14] simonwex commented on #512
@KevZawacki we should continue to use the `/me` URL. The page design and the ability to remix Appmaker and Popcorn makes will change, but it should still be referenced for users.

[2015-08-05 22:15] simonwex commented on #512
Remix of old thimble makes will maybe be possible in new thimble, can be tracked here: https://github.com/mozilla/thimble.webmaker.org/issues/793

[2015-08-05 22:56] simonwex commented on #512
Relate: #527

[2015-08-05 23:55] hannahkane opened #528 "Conduct security review of Goggles"
Will be moving it to a new url, but need to conduct a security review first

[2015-08-05 23:57] hannahkane opened #529 "rewrite the goggles login system to use id.wmo"
We need to:
 - [ ] update the banner on published makes (currently reads that Goggles are part of Mozilla's Webmaker toolset)
 - [ ] add a link to the original page that was remixed, as per Legal's request
 - [x] determine other polishing work needed

/cc @Pomax - any flags on the above?

[2015-08-06 03:11] Pomax commented on #529
We cannot update goggles makes. In part because of how we intended the goggles to be used from the get go, but also due to technical choices made along the way: the notice is not a banner that we generate on top of goggle pages, it's literally hardcoded into every goggles make, so in order to update it, we would have to run through the database of goggle makes, parse each record, find the notice (

[2015-08-06 14:38] ldecoursy commented on #523
@simonwex Any update on ETA for this? Still on track to have something today with recent data in tact?

[2015-08-06 14:48] jbuck commented on #519
@simonwex https://github.com/MozillaFoundation/mofo-devops/issues/93

[2015-08-06 18:00] ldecoursy commented on #518
Here's the latest draft of the back-to-school focused teaching kits for launch, in case helpful for informing design/copy: http://bit.ly/1gr28xo

[2015-08-06 18:07] hannahkane commented on #529
Thanks for the info, @Pomax.

One correction - we're not shutting Goggles down; we're moving it to mozilla.org where it will live under the Teach site.

In theory (meaning: "with a bunch of work"), could we add this information to Goggles makes going forward, even if we're not able to apply this retroactively to existing makes?

/cc @simonwex @ldecoursy

[2015-08-06 19:51] Pomax commented on #529
The goggles codebase got too complicated to maintain, so any changes to how we want it to work (short of simply running it off a new domain) basically means we need to take out a few weeks to create a new library with the same capabilities as the goggles, but written as a maintainable library instead, and switch over to that instead. The goggles code as it exists now has effectively been in "we do

[2015-08-06 20:35] hannahkane commented on #519
Question: will we move "old" thimble to a url like thimble-old.mozilla.org and maintain it there for awhile? For the beta, we want users to be able to toggle between old and new.

[2015-08-07 00:21] edrushka commented on #510
Progress: we've identified our individual story. I've filed [a ticket] (https://github.com/MozillaFoundation/2015-fundraising/issues/30) for @KevZawacki and I to get the first draft written.

[2015-08-07 02:05] simonwex commented on #519
@humphd what's the best way to support both thimbles in your mind?

[2015-08-07 05:33] mmmavis commented on #518
Hellooo there,

Not sure if this is the right ticket for this, but regarding the email "template" we are about to build, do we want a general **reusable template/wrapper** that Paul or anyone can just apply and insert content on BSD in the future **OR** a **one-time email**?  (I will have some follow-up questions)

Either way I would strongly advocate for a very simple single column design(no floa

[2015-08-07 17:57] LauraReynal commented on #372
Update :
- 90% of the copy is done - Im still editing but the most important sections are written. Needs work for the rest such as user portraits, conclusion and appendixes.
- @thisandagain will do a full content review.
- Sending to @KevZawacki for copy and language review on monday 10th

Next week: There will be a lot to do and the week will be dedicated to editing frameworks, layout and copy re

[2015-08-07 17:58] LauraReynal commented on #372
<img width="517" alt="screen shot 2015-08-07 at 18 57 41" src="https://cloud.githubusercontent.com/assets/8261945/9142227/37c23f1c-3d36-11e5-9a93-cbe0169f280a.png">

[2015-08-07 17:59] LauraReynal commented on #372
cc/ @davidascher

[2015-08-07 18:39] sabrinang commented on #518
Hey @mmmavis thanks for flagging - I am unsure if it is a unique email or should be made a template for future use but @HPaulJohnson will have more details on e-mail strategy itself.

As for design, I posted some comments and some visuals on redpen here: https://redpen.io/hvfd4ccb70b75e90c6 and I highlighted what sections may be good to be reused again and comments that I would love your suggestio

[2015-08-07 22:56] HPaulJohnson commented on #518
This will be used as more of a one-off than a template. The promotional strategy might include a series of 2-3 emails over the course of a few months but long term, the main template should be Mozilla Learning Networks and not Thimble specific.

We could either keep it simple with this in mind or design a MLN style template that allowed some type of dynamic space (something like a subhead) that al

[2015-08-10 11:22] LauraReynal commented on #372
FYI, design work is tracked here https://github.com/MozillaFoundation/Design/issues/71

[2015-08-10 15:24] LauraReynal commented on #372
:mag:  @adamlofting Do you think you would have time to convert the spreadsheet into a couple of pie charts ? Or should I do it manually as for the previous reports? Let me know, im happy to remove you from this bug if you have no time.

[2015-08-10 17:45] LauraReynal commented on #372
@KevZawacki the document is ready for your copy review from page 1 to 48 now if you would like to start. I can ping you later when the rest of the copy is finished. Let me know if this is okay for you :santa: :-)

[2015-08-10 20:00] mmmavis commented on #518
Yup this is helpful! Thanks @HPaulJohnson @sabrinang !

Code used in email usually has to be formatted in a **very special way** for it to work.  Processing my code with an email format helper is always the last step before I paste my code onto BSD.  One thing I found with [the BSD's WYSIWYG Editor](https://cloud.githubusercontent.com/assets/2896608/9181707/3fe14f40-3f5b-11e5-896b-8d52d0e98a00.png

[2015-08-10 21:36] sabrinang commented on #518
### Directory Tiles

![mozilla-thimble_directory-tile-preview](https://cloud.githubusercontent.com/assets/2492510/9184920/10bef7dc-3f6d-11e5-9ac8-5dfe1bdbce66.png)

**Main Tile:** Mozilla Thimble (original lockup) on dark green (#289761) background.
**Rollover Tile:** Copy - “A code editor for the classroom.” on green (#47AC65) patterned background.

Asset folder: https://drive.google.com/open?id=

[2015-08-11 17:09] bhuvanshri commented on #526
@OpenMatt: Here's the link to mark's slides. https://dl.dropboxusercontent.com/u/877257/MozLearn%20Slides%20-%20Blog%20Post%20Version.pdf

I am having trouble posting them on the wiki so they are visible. Would love to capitalize on your wiki skills in doing so!

[2015-08-11 17:14] hannahkane commented on #518
All - updated the ticket description with the list of deliverables. Feel free to check stuff off as we knock 'em out!

[2015-08-11 17:53] KevZawacki commented on #513
Blog post is live: http://mzl.la/webmaker-tools-transition
@jbuck, any chance you can push the banners to prod?

[2015-08-11 17:59] jbuck commented on #513
@KevZawacki Yep, popcorn is live now, but broken compared to staging: https://popcorn.webmaker.org/

Need to figure out how to push appmaker without breaking anything....

[2015-08-11 18:22] jbuck commented on #513
@KevZawacki Okay, popcorn is looking good now.

So is Appmaker: https://apps.webmaker.org

[2015-08-11 18:22] #513 closed

[2015-08-11 19:46] KevZawacki commented on #513
Thank you kindly, @jbuck!

[2015-08-12 13:51] LauraReynal commented on #372
Update for the universe:
* Just finished writing the recommendations, now ready for review. Page 56 to 61 :sparkles:
* @anmechung I pinged you inside the document for a check on the library bits, as per our discussion.
* Jordan and I are working on the design at the same time -- because these things take time.
<img width="627" alt="screen shot 2015-08-12 at 14 48 35" src="https://cloud.githubuserc

[2015-08-12 21:05] hannahkane commented on #519
@humphd - ping! want to make sure this doesn't get lost.

[2015-08-12 21:07] hannahkane commented on #515
Two of the three items are done, and we're moving the third to the next heartbeat.

[2015-08-12 21:07] #515 closed

[2015-08-12 21:07] hannahkane commented on #511
I am closing, because this is done. :)

[2015-08-12 21:07] #511 closed

[2015-08-12 21:08] hannahkane commented on #509
Donezo!

[2015-08-12 21:08] #509 closed

[2015-08-12 21:09] hannahkane commented on #508
Seems like this isn't going to happen this heartbeat. @xmatthewx - can you clarify if there's a timeline we need to adhere to?

[2015-08-12 21:12] hannahkane commented on #500
Bam.

[2015-08-12 21:12] #500 closed

[2015-08-12 21:14] hannahkane commented on #485
Closing b/c this ticket feels superfluous.

[2015-08-12 21:14] #485 closed

[2015-08-12 21:15] xmatthewx commented on #508
We are in limbo between webmaker.org and beta.webmaker.org until after the snippet launches. Lingering too long won't look good, but I realize there are a lot of dependencies. We should set a timeline with Simon, since it's mostly an engineering lift.

[2015-08-13 21:46] ldecoursy commented on #522
@KevZawacki's marcom summary is here: https://www.macfound.org/annual-report/2014/essay/?page=4
Also had debrief today: https://teach.etherpad.mozilla.org/MP2015debrief

[2015-08-13 22:22] hannahkane commented on #508
This is clearly not happening this heartbeat. Will move to next. :)

[2015-08-13 22:24] hannahkane commented on #493
First is in progress here: https://d157rqmxrxj6ey.cloudfront.net/mozillalearning/28/
Second is here: https://d157rqmxrxj6ey.cloudfront.net/mozillalearning/32/

[2015-08-13 23:46] edrushka commented on #510
Update:  Meeting on Monday, August 17 with @RebsD and @valianttry to discuss audience, method of delivery and format (and to ensure we're not duplicating efforts with other 'impact' work).

@KevZawacki good to contact Suchita as her story will be used regardless of the outcome of Monday's meeting.

[2015-08-13 23:48] edrushka commented on #423
Update: @RebsD and @valianttry met with MoCo in San Francisco to discuss this. If either of you have more details you can share from that meeting, please add.

[2015-08-13 23:49] edrushka commented on #378
Any updates @HPaulJohnson?

[2015-08-13 23:53] hannahkane opened #530 "Prep new Thimble for launch"
This work includes:
 - [x] QA (everyone!) see https://github.com/mozilla/thimble.webmaker.org/issues/807
 - [x] Bug fixing (Seneca team) see https://github.com/mozilla/thimble.webmaker.org/labels/P1
 - [x] Marketing deliverables see https://github.com/MozillaFoundation/plan/issues/518
 - [x] Prepare to host two versions during beta period see https://github.com/MozillaFoundation/plan/issues/519
 -

[2015-08-13 23:54] hannahkane commented on #530
Flag for TPS: mostly want to flag #519 and make sure we'll have Devops support

[2015-08-14 00:01] hannahkane opened #531 "Finalize requirements for MLN Directory"
**Background doc:** http://bit.ly/1ITuHhH

Work includes:
 - [x] Stakeholder discussions (scheduled for August 14 and August 18)
 - [x] Wireframe iterations (@sabrinang and @hannahkane to hack on these in person in YVR on August  20 and 21)
 - [ ] Collect community input
 - [ ] Planning meeting with implementation team (not yet scheduled)

### DARCI ###
Decision-maker: @chrislarry33
Accountable: @

[2015-08-14 00:04] hannahkane opened #532 "Conduct Pledge conversion experiments"
We'd like to design an experiment to see if we can optimize the pledge conversion rate on the Teach site.

Deliverables for this heartbeat:
 - [x] Install Optimizely ???
 - [x] Design variations + copy
 - [x] Implement and begin running tests

[2015-08-14 00:05] hannahkane commented on #532
"Needs dev" label specifically refers to identifying someone familiar with Optimizely, ideally

/cc @adamlofting since this is metrics-y

[2015-08-14 00:08] hannahkane opened #533 "Clubs page iteration"
We started this work in a previous heartbeat, but tabled it in order to focus on Thimble launch materials.

Relevant tickets:
 - [x] Design: https://github.com/mozilla/teach.webmaker.org/issues/858
 - [x] Dev: https://github.com/mozilla/teach.webmaker.org/issues/1142

[2015-08-14 00:09] hannahkane commented on #533
/cc @thornet to clarify if there are add'l known changes pending (e.g. "tiered" offerings). Would be good to clarify those as early in the heartbeat as possible.

[2015-08-14 00:10] hannahkane opened #534 "Badges implementation"
- [x] Hire contractors
 - [X] Badge workflow wireframes
 - [x] [Badge workflow mockups](https://github.com/mozilla/teach.webmaker.org/issues/1257)
 - [x] [Badge design](https://github.com/mozilla/teach.webmaker.org/issues/1242)
 - [ ] [Build MVP](https://github.com/mozilla/teach.mozilla.org/milestones/Badges%20MVP)

[2015-08-14 00:11] jgmac1106 commented on #493
If there was a paper prototype for the comic strip I would think about something like this:
![comic graphic organizer](https://goo.gl/photos/HW27chsaTTaGxDnD9)

This is based on the Take a Stand plan. I left the last square for an author so the selfie feature could be used (saw the selfie mode objective).

My only question would be if we get real explicit (like including bottom caption, top captio

[2015-08-14 00:13] hannahkane opened #535 "Design MLN Site research project"
Background doc here: https://etherpad.mozilla.org/teachresearch

### DARCI ###
Driver: @LauraReynal
Accountable: @davidascher
Responsible: @LauraReynal
Consulted: @hannahkane, @anmechung
Informed: @chrislarry33

[2015-08-14 00:40] thisandagain commented on #516
Release candidate for v1.2.0 is up on nightly:
http://mzl.la/webmaker-nightly

Scheduled for release to Google Play tomorrow morning after final QA.

[2015-08-14 01:07] edrushka opened #536 "Pre-Germany Fundraising design tasks"
Driver: @edrushka
Design: @lovegushwa
QA: @cassiemc
Consulted: @valianttry @adamlofting

Context: We're launching a localized campaign in Germany at the end of September. There are a number of design tasks, some specific to Germany and some to test/build capacity for the big US-EN push later this year.

Design tasks for this heartbeat include:
-  [Improve Facebook share content] (https://github.co

[2015-08-14 04:09] simonwex commented on #486
I spoke with Ed last week, he told me that email forwards from help@webmaker.org to help-webmaker@mozilla.com. Access to that account can be obtained through a service-now request. It has been filed as RITM0037691.

[2015-08-14 04:19] simonwex commented on #523
Update: Our new production discourse version is up and running. Tomorrow we'll add the customizations that the previous version had including SSO.

@ldecoursy previously the accounts were created using the system on https://directory.hivelearningnetworks.org/ . Do you see any problem with using the same account system as teach.mozilla.org?

[2015-08-14 04:28] simonwex commented on #525
Devs were hard at work getting api.webmaker.org ready for the load of the snippet. @xmatthewx hurried along some design, but we still have more to do. Bumping to next HB.

[2015-08-14 04:47] simonwex commented on #470
I've restarted this process with Jen, and called in all the favours I've been offered.

For a bit of background on why this is such a PITA, here are the details:

We're trying to recover this profile:
https://www.youtube.com/user/Mozilla

which is owned by the account:
chelsea@mozillafoundation.org

Chelsea left MoFo and later returned to MoCo. During that time, her Youtube password was lost. Arou

[2015-08-14 04:49] simonwex commented on #525
@cassiemc what's the best way to get designer-eyes on mozilla/id.webmaker.org/issues/362

[2015-08-14 04:50] ldecoursy commented on #523
@simonwex The accounts on discourse.webmaker.org shouldn't have been connected to the Hive directory - that has a separate instance of Discourse.

[2015-08-14 04:52] simonwex commented on #523
@ldecoursy let's chat about this tomorrow, I think connecting it to the same account system (webmaker.org) as teach.mozilla.org makes sense.

I also figured out that we can't use a subdirectory (http://teach.mozilla.org/community) as discourse doesn't support this. http://community.teach.mozilla.org work for you?

[2015-08-14 04:55] ldecoursy commented on #523
@simonwex that URL works for me. Definitely need to discuss the Hive Directory as that has other implications that are not connected to Discourse but are connected to http://hivenyc.org/community/

[2015-08-14 13:01] adamlofting commented on #506
@jbuck was able to start on some of these tasks near the end of the heartbeat.

But, the date for the DE fundraising campaign has moved back, so we've spaced out the remaining testing and infrastructure tasks across the following heartbeats in donate.m.o. https://github.com/mozilla/donate.mozilla.org/milestones

[2015-08-14 13:01] #506 closed

[2015-08-14 13:11] adamlofting opened #537 "donate.mozilla.org Product Enhancements"
Coninued engineering work on donate.mozilla.org:

This work is part of our migration from BSD to a self-hosted platform, but most of the tasks now represent new and improved functionality on top of what we could do in BSD before.

There are 17 engineering tasks currently assigned to this heartbeat ( after estimation with @alicoding @jbuck @ScottDowne ):

* https://github.com/mozilla/donate.mozilla

[2015-08-14 13:22] cassiemc commented on #525
@simonwex This is the way :) @hannahkane – can mozilla/id.webmaker.org#362 fit into @sabrinang's cycle next heartbeat? Shouldn't take longer than a day or two since we can use the UX from webmaker.

[2015-08-14 13:24] cassiemc commented on #536
@lovegushwa Have you guys been through the design brief questions? Maybe you are far past that, but if not this would be good to do in a kickoff. Template questions here: https://github.com/MozillaFoundation/Design/issues/20

[2015-08-14 14:12] xmatthewx commented on #525
Draft design is in legal review right now. Once that is approved, we can hand it over for UI translation.

[2015-08-14 14:14] cassiemc commented on #525
Perfect, thanks @xmatthewx.

[2015-08-14 14:56] hannahkane commented on #525
Is it possible to find someone else to do this? Check out the Design work in the next Teach heartbeat: https://github.com/mozilla/teach.webmaker.org/issues?q=is%3Aopen+milestone%3A%22August+28%2C+2015%22+label%3Adesign

That includes a two-day sprint on the Directory wireframes, and that *doesn't* include whatever remaining Thimble promo work there will be to do.  My sense is that taking out a day

[2015-08-14 15:04] xmatthewx commented on #525
@vazquez could continue this work

[2015-08-14 15:06] #522 closed

[2015-08-14 15:15] ldecoursy commented on #521
Still in progress, have about 10 identified, planning some outreach in next heartbeat.

[2015-08-14 15:18] ldecoursy commented on #520
Made good progress last heartbeat, RCs and Staff Organizers continuing outreach. Also finalizing the "pledge" with legal. Moving to next heartbeat.

[2015-08-14 15:22] cassiemc commented on #525
Fab, that is ideal, and would likely take much less time since he's familiar with the UX. Thanks @xmatthewx!

[2015-08-14 15:27] thisandagain commented on #520
/cc @LauraReynal

[2015-08-14 15:45] xmatthewx opened #538 "Webmaker v1.3.0"
#### Goals
- Monitor feedback and performance
- Land small enhancements
- Housekeeping
- Reflect on roadmap

#### RACI
Driver: @xmatthewx
Decision: @davidascher
Design: @vazquez
Dev: @gvn @Pomax @k88hudson
Services: @cadecairos @ashleygwilliams
Metrics: @adamlofting

#### Resources
Milestone – https://github.com/mozilla/webmaker-core/issues?q=is%3Aopen+is%3Aissue+milestone%3A1.3.0
Roadmap – https:

[2015-08-14 15:52] LauraReynal commented on #535
Hey @hannahkane how is this related / different from #520  ?

I'll prepare something before our meeting next friday and will update you on this ticket.

[2015-08-14 15:55] HPaulJohnson commented on #378
No progress. Should be able to tackle this next heartbeat.

[2015-08-14 16:02] hannahkane opened #539 "MozFest work!"
For this heartbeat, hoping to tackle:
 - [x] Copy edits (https://github.com/mozilla/2015.mozillafestival.org/issues/157)
 - [x] Change header on 2014 site to point users to 2015 site (https://github.com/mozilla/2015.mozillafestival.org/issues/168)
 - [ ] Add Sitelinks to improve SEO (https://github.com/mozilla/2015.mozillafestival.org/issues/169)
 - [x] Provide no-build solution for session propos

[2015-08-14 16:15] xmatthewx commented on #516
Planning ticket for 1.3.0 https://github.com/MozillaFoundation/plan/issues/538

[2015-08-14 16:15] #516 closed

[2015-08-14 16:18] davidascher commented on #470
I've asked my contact @ google.

[2015-08-14 16:19] ldecoursy commented on #518
Lots of progress, still a few pieces to work on.

[2015-08-14 16:26] ldecoursy commented on #495
@OpenMatt should we move this to the next heartbeat?

[2015-08-14 16:43] hannahkane commented on #535
@davidascher has comments about scope of work to include

[2015-08-14 17:34] LauraReynal commented on #535
\o/ Excited !

[2015-08-14 17:46] LauraReynal commented on #372
Update:
The document has been fully reviewed by Andrew, it's good to go. We've made some good design work with Jordan. I'm meeting with Adam monday. I still have a bunch to do, but I think we can reach our deadline of Wednesday or thrusday the latest.
I have started to work on the inDesign document.
:racehorse:

@KevZawacki I saw you made some copy edits. Thank you very much. Is the rest of the do

[2015-08-14 18:33] simonwex commented on #519
@sedge is going to update today channeling humph.

[2015-08-14 18:55] KevZawacki commented on #372
Hey @LauraReynal, I'm copyediting pages 20 and onward right now. Will be done before 5 p.m. ET!

[2015-08-14 19:51] simonwex commented on #508
@hannahkane we should get together and figure out a domain name for this. We can then get on purchasing it.

[2015-08-14 20:09] thornet commented on #533
cc @amirad

We may not be able to ship any new language around the tiers just yet. Still some important program design and community consultation in progress.

Will ask @amirad if she can help keep this tickets updated as we move through.

[2015-08-14 20:20] simonwex commented on #523
Cool, let's chat Monday about it.

[2015-08-14 20:20] simonwex commented on #470
Thanks, @davidascher

[2015-08-14 20:21] lovegushwa commented on #536
@cassiemc @edrushka
We covered most of the brief organically during work week, I just did a quick mental run through of the questions and realized many are product focused. Will do some thinking about how to open up the questions a bit (as assigned by @xmatthewx ). Then perhaps @edrushka and I can do a quick run through.

[2015-08-14 20:40] sedge commented on #519
**tl;dr**: We want to deprecate old thimble and migrate everything to the new one. With this option the work is minimal and the path forward is clear.

I think we have two main options to consider.

##### *We migrate projects en-mass from thimble-classic to thimble-beta*

The main downside to this approach is that we would probably have to do some UI work to simplify brackets for single-file users

[2015-08-14 20:59] sabrinang commented on #518
For the mozilla.org tile, do you need the thimble logo exported in a specific format?

[2015-08-15 13:18] jgmac1106 commented on #493
I wonder if we should add a few bullet points in the introduction to CSS
section about external style sheets.

When I asked new users to start a new project (which mean,t all had
webmaker accounts, went to old Thimble and cut-and-pasted) two people got
stuck  at linking to the CSS file. They knew to cut and paste into separate
HTML and CSS files but almost expected the CSS to be automatically appl

[2015-08-17 15:57] edrushka commented on #536
+1 - Happy to integrate this work into the design team's process as much as possible.

[2015-08-17 16:25] LauraReynal commented on #372
We have made some cool progress with @adamlofting today. Check out some graphs below :-) the rest will be in the report.
![level of engagement with the web and computer ownership](https://cloud.githubusercontent.com/assets/8261945/9309960/bfedb6ac-4504-11e5-9ba5-8b3c5ff3955f.png)

![web journey](https://cloud.githubusercontent.com/assets/8261945/9309958/bfed4d84-4504-11e5-9982-bc4b69c9591b.png)
![

[2015-08-17 17:10] edrushka commented on #539
@simonwex @davidascher Do you know which dev is working on this this heartbeat?

[2015-08-18 05:56] valianttry commented on #423
@RebsD and I met with Mary Ellen Muckerman and Alex Costello. I created a document detailing the tasks and duties involved in managing gear.mozilla.org and we walked through it in detail with them:
https://docs.google.com/document/d/1B5Qz-Mqc0P2zjEmCo8a53A9gvtKClsnqePd4yKnbpVk/edit

Next steps:
We all agreed the store has big potential, and is a worthy endeavor for our brand and community. Existin

[2015-08-18 06:37] valianttry commented on #484
@adamlofting you spent time building a relatively detailed "resource needs" spreadsheet for fundraising developer needs -- is that a template we could use for other areas so that we can scope more precisely? Right now I'm facing challenges because @shaghdoosti is onboard and her planning will shape up soon -- and will call for building / designing things... but there's no clear path to make a requ

[2015-08-18 12:05] adamlofting commented on #484
@valianttry Yep, it's definitely worth doing, though that doc I had for fundraising was pretty hacky.

A better example to build from would be the Webmaker Roadmap:
https://docs.google.com/spreadsheets/d/1ZvdNJLHuW0fIBt_-WcR7Ns6OhZgaMy6MI9kfjlXF-9o/edit#gid=0

It's the same principle, but better organized and mapped to releases over time (for fundraising I just totalled up all the things we curren

[2015-08-18 14:08] hannahkane commented on #484
What are columns F through N in the Webmaker Roadmap? Are those estimates by the people in the column name, or are they estimates FOR the people in the column name? If it's the latter, I don't think this doc can work as a model, because it assumes it has resources, rather than determines resources needed.

I'll also point out that engineers and designers are needed to even estimate the work. That

[2015-08-18 14:49] xmatthewx commented on #484
The people in those columns gave an estimate of the work for each line. It's useful in theory, not always in practice.

[2015-08-18 15:35] davidascher commented on #484
Good conversation folks.  Highest level, just to clarify -- this is what
program line reviews, strategic plans, and work plan deriving from those
are for.  The latter is a place where we have lagged in our formalism, and
as a result some stuff hasn't been made as explicit as it should be.  I
think to get there we need to both understand the platformish aspects of a
line of work (both technical and

[2015-08-18 16:53] hannahkane commented on #527
@simonwex - do we have anyone who can do this this heartbeat?

[2015-08-18 17:47] valianttry commented on #486
Would like to add "donate@mozilla.org" because that is the "help" email for our donors. I'd also like to add "askjoin@mozilla.org" for email list replies. That is the "sending" address when we send bulk email messages and occasionally people reply with requests (like "unsubscribe me" or to let us know a link didn't work in their email).

![sendto_mozilla_org___give_to_mozilla_today](https://cloud.

[2015-08-18 17:54] hannahkane commented on #493
Great suggestion, @jgmac1106. Will add this.

[2015-08-18 17:58] hannahkane commented on #535
Hey @LauraReynal - sorry I didn't answer your question. #520 is specifically about Club Captains, which are part of the broader Mozilla Learning Network, but not inclusive. MLN also includes Hive leaders, Maker Party hosts, MozFest leaders, and anyone who self-identifies as part of the network (could include both formal and informal educators who are currently unaffiliated with any of our official

[2015-08-18 18:45] hannahkane commented on #493
Just met with @ldecoursy and @chadsansing, and we have a plan for finishing these up. Win!

[2015-08-18 19:01] hannahkane commented on #539
@mmmavis and @ScottDowne are working on the first item in the list. @Saallen and I are meeting next Monday to tackle the fourth item.

Second and third item need a developer. We have a contributor who might be able to do it, though. I'll follow up shortly.

[2015-08-18 19:27] mmmavis commented on #539
curious - isn't 2014 site archived already: http://2014.mozillafestival.org/

[2015-08-18 19:32] hannahkane commented on #539
I'll be honest, I don't know exactly what it means to "archive," but I think the desired state is for the 2014 site to not be the first google result when you search for "MozFest," or perhaps to not appear at all.

[2015-08-18 19:35] edrushka commented on #539
I believe @jbuck told me a couple weeks ago that the 2015 site was the first search result.

[2015-08-18 20:04] hannahkane commented on #539
2014 is first for me. Is that just me?

[2015-08-18 20:55] ScottDowne commented on #539
2014 is first for me too.

[2015-08-18 21:41] hannahkane commented on #539
I don't have a deep understanding of PageRank, but I think if you search for "MozFest," 2014 comes up first, and if you search for "Mozilla Festival," 2015 comes up first.

However, upon investigating further, I think there's a different solution we could employ. The 2014 homepage is actually pretty confusing right now, since the first thing the user will see is a prominent banner advertising the

[2015-08-18 23:10] hannahkane commented on #539
Added links to new tickets to this ticket's description

[2015-08-19 06:35] itelites opened #540 "wetest"
wetest

### Audience
wetest

### Success
wetest

### Vision
wetest

### Measurement
wetest

### Roles
 * Phase:
 * Driver: @cassiemc
 * Decision Maker: @alicoding
 * Design Lead:
 * Development Lead:
 * Quality Verifier:

[2015-08-19 06:36] itelites commented on #540
wetest

[2015-08-19 08:49] Saallen commented on #539
+1 to hannahs suggestion. We still have folks signing up for updates on the old site.

[2015-08-19 14:45] LauraReynal commented on #372
Update: I have started to work on the layout in inDesign, but the document needs a full copy review before possible.
@KevZawacki has been pulled out because of emergencies with Webmaker Launch so this project is likely to be delayed.

Will update regularly on the progress. Thanks !

[2015-08-19 14:45] LauraReynal commented on #372
cc/ @secretrobotron here is the ticket to update if you have time to help on copy edits

[2015-08-20 18:01] amirad commented on #533
Not sure if I know what iterations you both mean

[2015-08-21 13:50] LauraReynal opened #541 "change the Webmaker logo on firefox tiles"
Sorry this is probably not the right place to file this, but I dont know where else.

The Webmaker logo on the firefox tile is the old one
it also says "we teach the Web" which can be confusing

@lovegushwa @KevZawacki

![screen shot 2015-08-21 at 14 47 08](https://cloud.githubusercontent.com/assets/8261945/9409647/e5663672-4813-11e5-83ea-4d5bbe91f534.png)

[2015-08-21 15:08] thisandagain commented on #541
Tracking in https://github.com/mozilla/webmaker-launch/issues/38

[2015-08-21 15:08] #541 closed

[2015-08-21 15:08] #540 closed

[2015-08-21 19:20] cassiemc commented on #372
@LauraReynal I could do some proofreading this afternoon if you can link me to the latest doc? Realize I might've missed my window with you today!

[2015-08-21 19:38] hannahkane commented on #533
I think we're covering this in https://github.com/mozilla/teach.webmaker.org/issues/858

[2015-08-21 23:35] hannahkane commented on #535
Had a good meeting this morning. More specific project description to follow.

[2015-08-21 23:36] hannahkane commented on #532
Mid-heartbeat update: Design work is done. Work remaining: install optimizely and implement test.

[2015-08-21 23:37] hannahkane commented on #531
Mid-heartbeat update: stakeholder conversations are done, and two-day YVR sprint completed. Revised wireframes will be delivered next week for stakeholder/community feedback.

Implementation meeting will likely happen at the beginning of the following heartbeat.

[2015-08-21 23:39] hannahkane commented on #529
cc @mmmavis see ^

[2015-08-24 16:51] hannahkane commented on #493
Makes and Teaching Kits are here:

 * https://d157rqmxrxj6ey.cloudfront.net/mozillalearning/26/ [Keep Calm make]
 * https://d157rqmxrxj6ey.cloudfront.net/mozillalearning/28/ [Keep Calm teaching kit]
 * https://d157rqmxrxj6ey.cloudfront.net/mozillalearning/40/ [Comic Strip make]
 * https://d157rqmxrxj6ey.cloudfront.net/mozillalearning/32/ [Comic Strip teaching kit]
 * https://d157rqmxrxj6ey.cloudfr

[2015-08-24 16:54] hannahkane commented on #532
Meeting with @adamlofting and @mmmavis scheduled for Thursday to take Optimizely next steps.

[2015-08-24 16:55] #503 closed

[2015-08-24 16:56] hannahkane commented on #497
Tests are complete; need to analyze results / file any issues.

[2015-08-24 19:40] jbuck commented on #519
@hannahkane I need lead-time to obtain an SSL certificate and DNS changes for thimble.mozilla.org. Can you confirm that this is the URL you'll be using for launch?

[2015-08-24 19:40] hannahkane commented on #519
@jbuck - confirmed. Is there not enough time?

[2015-08-24 19:41] jbuck commented on #519
@hannahkane Nah, should be okay time-wise

[2015-08-24 20:05] davidascher commented on #519
I vote for en-masse migration.

Do we have data to suggest that people will have a problem w/ new thimble?

How many people use old thimble per day today?

[2015-08-24 20:09] hannahkane commented on #519
I'm +1 on this, too, as long as old projects will still work in the new Thimble.

[2015-08-24 22:20] hannahkane commented on #531
Sorry, the above update is incorrect. @sabrinang is focusing on Thimble promo stuff this week, so we'll move the rest of this ticket to the September 11 heartbeat.

[2015-08-24 22:27] #493 closed

[2015-08-25 18:33] humphd commented on #519
We have a plan, which I'll summarize here, and file specific tickets in Thimble:
* https://thimble.webmaker.org will remain what it is today, and we'll add some UI to get you to the new Thimble if you so choose.  Old projects will live on there, until we migrate them later, and deprecate this.
* https://thimble.mozilla.org will be where you go for the new Homepage (the `/`  route) and Editor (the

[2015-08-25 21:17] LauraReynal commented on #372
Update:

- @KevZawacki has finished copy reviewing the whole document. HUGE thanks :bow:

- I just finished designing the whole document

Next Step:

- @lovegushwa will do a final design review.

- Write a blog post and publish,

<img width="509" alt="screen shot 2015-08-25 at 22 13 52" src="https://cloud.githubusercontent.com/assets/8261945/9479809/fface268-4b76-11e5-9a3c-a8823fdd27a0.png">

[2015-08-25 22:29] HPaulJohnson commented on #378
I talked to MoCo and the scope of these changes will be copy only for now. When copy is finalized I'll file a bug and an update to the page will be pretty quick.

@KevZawacki has drafted copy. I am reviewing now. Plan is to has signoff on copy by Friday and bug to be submitted.

[2015-08-26 17:13] bensternthal commented on #375
so... no updates here for quite awhile.. we will assume you will not be taking this until we hear otherwise.

We will move this to our AWS infra so we have visibility and monitoring.

[2015-08-26 22:20] simonwex commented on #470
Account is being transferred to youtubeowner@mozillafoundation.org

[2015-08-26 22:22] amirad commented on #470
Huzzah!!!!!

[2015-08-26 22:32] HPaulJohnson commented on #470
Boom! Nice!!

[2015-08-26 23:10] edrushka commented on #470
:metal:

[2015-08-27 11:43] LauraReynal commented on #372
@KevZawacki would you mind proofing / editing this blog post for publishing the report please?
https://etherpad.mozilla.org/blogpostchicago

[2015-08-27 13:57] LauraReynal commented on #372
@davidascher @cassiemc @lovegushwa The final document is here, in PDF.
 https://drive.google.com/open?id=0B0X05aIHuAbec1htMHplMHpuYk0

I am ready to publish as soon as I have your GO, if you'd like to check it out before we send.

[2015-08-27 15:00] KevZawacki commented on #372
@LauraReynal No problem -- just proofed. Good to go!

[2015-08-27 15:37] LauraReynal commented on #372
Thanks @KevZawacki

Here is the latest link for the report https://drive.google.com/open?id=0B0X05aIHuAbeR0RZTUx0cERWVGs

[2015-08-27 16:17] hannahkane commented on #534
Contractors not hired yet. Moving to next heartbeat.

/cc @simonwex

[2015-08-27 16:19] hannahkane commented on #519
I think we can close this ticket. Decisions have been made; remaining work is ticketed elsewhere.

[2015-08-27 16:19] #519 closed

[2015-08-27 16:21] hannahkane commented on #529
Moving to next heartbeat

[2015-08-27 16:21] hannahkane commented on #528
Moving to next heartbeat

[2015-08-27 16:22] #497 closed

[2015-08-27 16:25] hannahkane commented on #508
Decision made, but moving to next heartbeat for implementation

[2015-08-27 16:27] hannahkane commented on #448
@simonwex - shall we move to the next heartbeat?

[2015-08-27 16:29] hannahkane commented on #539
Experimenting with exporting all session proposals into Github as a solution for session reviewers. So far, so good.

[2015-08-27 16:56] LauraReynal commented on #372
@cassiemc here is the latest link

[2015-08-27 17:16] cassiemc commented on #372
Great, I'm reviewing now.

[2015-08-27 17:18] hannahkane opened #542 "Launch new Thimble"
This is planned for the first day of the heartbeat  (Monday)

Tasks include:
 - [x] Push to thimble.mozilla.org (planned for ~12pm ET) - @jbuck
 - [x] Announce at All Hands call (@hannahkane, w/ support from @KevZawacki)
 - [x] Blog post (@KevZawacki)
 - [x] First social media posts (@KevZawacki)
 - [x] Email partners (@ldecoursy)
 - [x] Update relevant FAQs (@hannahkane)

[2015-08-27 18:18] davidascher commented on #372
I'm reading it too.  First question I have is whether we really want to
call it Chicago Report.  I understand why we've been using that moniker
internally, but I don't think it's a useful title to someone with no
context.

I'll come up with some more specific feedback shortly.

Do we have any institutional audiences or partners who expect this in a
particular time frame?

[2015-08-27 18:19] cassiemc commented on #372
I had the same thought about the title @davidascher. Also, I think we should deliver digital pdfs as page-by-page rather than as spreads, but realize that might mean rejigging some of the design.

[2015-08-27 18:38] xmatthewx commented on #538
Prepared for a release early next week. It will include a few nice user-facing improvements:
 - minimized the clicks required to add a photo or text
 - thumbnails and titles will appear with links shared to Facebook etc
 - improved UI for much better project viewing and navigation

We have a steady stream of new users. This puts us in an excellent position to observe the impact of these iterations

[2015-08-27 18:38] #538 closed

[2015-08-27 18:45] xmatthewx opened #543 "Webmaker 1.4.0"
#### Goals
- Monitor content and feedback
- Remedy tech and UX bugs
- Housekeeping

#### RACI
Driver: @xmatthewx
Decision: @davidascher
Design: @vazquez
Dev: @gvn @k88hudson
Services: @cadecairos @ashleygwilliams
Metrics: @adamlofting

#### Resources
Milestone – https://github.com/mozilla/webmaker-core/issues?q=is%3Aopen+is%3Aissue+milestone%3A1.4.0
Play store – https://play.google.com/store/apps/

[2015-08-27 19:25] simonwex commented on #539
Is there a reason not to redirect the 2014 site to 2015? In general, having the year in the domain name is bad news for our Google sauce.

[2015-08-27 19:39] edrushka opened #544 "Launch petition for German Advocacy campaign"
### ** Urgent Deadline: EOD Wednesday Sept 2 **

Driver: @secretrobotron
Dev: @ScottDowne
Design QA: @lovegushwa (minimal work here; we're using old form)
L10N: Contractor (who is this? please add them here)
Decision-maker: @shaghdoosti
Consulted: @valianttry @davidascher @RebsD

Tracking: https://github.com/mozilla/petitions.mozilla.org/issues

#### Deliverables
1)  **A localized petition page**

[2015-08-27 19:41] davidascher commented on #539
I think we want to focus the google juice for the site-of-the-year, but to
have a record for older sites.  This doesn't seem super hard though =)

On Thu, Aug 27, 2015 at 12:25 PM Simon Wex <notifications@github.com> wrote:

[2015-08-27 19:44] davidascher commented on #544
It'd be useful to have some ideas as to the actual assets likely to be needed from dev & design.  Am I correct that we're talking about a single page petition sign + optional mailing list sign up?  Are there previous assets that we can make small tweaks to, that we can point to in this ticket?

[2015-08-27 19:53] shaghdoosti commented on #544
Here's my understanding of what we need:

-A localized petition page with optional mailing list sign up.
-A share page to follow the petition
-We'll have new copy for the default email that will need to be switched from English to German.

There are templates that can be used for this from previous campaigns - but they will need to be localized for Germany.

@edrushka @valianttry - please let me k

[2015-08-27 19:54] valianttry commented on #544
This is the templated petition page we've repurposed for English campaigns, but will require a little more work to repurpose for DE: https://sendto.mozilla.org/page/s/section-215-petition

[2015-08-27 19:59] xmatthewx commented on #514
Not yet possible given services resources. @HPaulJohnson and @secretrobotron have drafted content and plans for doing this manually in the interim. Bumping to the next milestone.

[2015-08-27 20:10] xmatthewx commented on #524
No progress while focused on the launch.

We need to huddle (me, @hannahkane, @simonwex) to identify the dependencies and blockers between deprecated tools, teach site, Webmaker site, and services. The loose threads are slowing us down and making it more difficult to enjoy the success we've had in narrowing and refining our focus.

It's not fun work, but having it done will be fun.

[2015-08-27 20:22] LauraReynal commented on #372
I agree with the title.  It does not make much sense.  Let me know if you have many ideas.
We don't have any institutional partner waiting on this.

@cassiemc it has been designed with the idea that it would be read with spreads. For example,  full page pictures and quotes are facing relevant text etc.  Maybe we can switch to single pages for the next one?
Or is it really a blocker for this one? L

[2015-08-27 20:30] hannahkane commented on #524
I summarized my questions + the related outstanding tickets I could find here: https://etherpad.mozilla.org/mofotoolsdeprecation

Please comment + should we schedule a huddle for next week?

[2015-08-27 20:30] xmatthewx commented on #372
If your spreads in InDesign are one wide page, it will likely be a huge pain to reformat everything. I don't think it's worth it.

If your spreads in InDesign are two pages, you can export it as single pages and then configure the PDF to display spreads by default. Users can override it to view single pages, which can make reading easier, particularly on mobile. (True for Adobe and some mobile rea

[2015-08-27 20:35] cassiemc commented on #372
I assumed they were 2 pages and could be exported as single but that would take some effort yet to split the designs properly (I could help). If other reports were spreads I'd say don't worry about it and we can fix it next time.

[2015-08-27 20:37] simonwex commented on #544
From a dev perspective, if we don't make any drastic design changes, this is likely ~1 day of effort. The rest of the work will be in translation design asset creation.

[2015-08-27 20:39] LauraReynal commented on #372
They are 2 pages and they are separable,  but as you point out it would be a lot of work.  Let's think about it for the next ones if okay with you.

[2015-08-27 20:44] valianttry commented on #544
We are working on draft language (NOTE: As of now, the policy team has not approved any language yet, and we're still drafting)
https://docs.google.com/document/d/1A3LoYYkLxxtConytS2ZgfNsy1Vl8_z98lW4ULwXloOw/edit

[2015-08-27 20:57] xmatthewx opened #545 "Webmaker Planning"
#### Goals
 - Learn from Webmaker launch
 - Prep to update strategic plan, product/marketing roadmap

#### RACI
Driver: @xmatthewx
Decision: @davidascher
Marketing: @HPaulJohnson
Community: @secretrobotron
Research: @LauraReynal
Metrics: @adamlofting
Consulted: @simonwex @cassiemc @hannahkane

[2015-08-27 21:12] LauraReynal commented on #372
@cassiemc Feel free to use the inDesign file directly, if you want to try stuff or make direct changes https://drive.google.com/open?id=0B0X05aIHuAbeRlpCM0ZoejVXN0k

[2015-08-27 21:17] valianttry commented on #544
One challenge to overcome is how we deliver letters to the EU Commission. That is not possible in an automated fashion. I will confer with @shaghdoosti and Jochai Ben Avie.

[2015-08-27 21:35] valianttry commented on #544
FYI @shaghdoosti @Jochai1 and I are meeting with Barbara Huppe Friday morning to go over communications and strategy.
![mozilla_phonebook](https://cloud.githubusercontent.com/assets/9830371/9533726/dd25c7de-4cc8-11e5-8c1d-486b577f314e.png)

[2015-08-27 22:03] cassiemc commented on #372
ok thanks @LauraReynal !

[2015-08-27 22:58] valianttry commented on #544
Some news coverage of the debate in Germany:

http://www.dw.com/en/opposition-blasts-coalition-data-retention-deal-for-germany/a-18385887
"The German federal government agreed on new guidelines for data retention. In the future, the connection data of telephone calls and online traffic should be kept up to ten weeks. The opposition is outraged. "
http://www.dw.com/en/revised-data-retention-sought-

[2015-08-27 23:14] davidascher commented on #372
Overall, lots of great stuff in here!

Biggest critique I have is that needs a thorough copyediting pass by a
native english speaker, paying careful attention to gallicisms.  Things
like the use of "evolve" and "mitigate" which are used differently in
French and English.

It's also quite long, although we can probably just deal with that in a
separate, summary document.

I have some typographic ni

[2015-08-27 23:34] davidascher commented on #372
By the way -- once we've done the style copyedit, I'm going to make it
mandatory reading for my entire team and recommended reading for all of
MoFo.  There's a large number of lessons worth reading, digesting and
discussing.

On Thu, Aug 27, 2015 at 4:13 PM David Ascher <da@mozillafoundation.org>
wrote:

[2015-08-27 23:40] chrislarry33 commented on #372
@davidascher I will do same with my team, maybe unpack it in a Socratic vidyo seminar? Itching to read myself but waiting on final copy.

[2015-08-27 23:42] davidascher commented on #372
Yes finding a way to get people engaged in the inquiry would be great.

On Thu, Aug 27, 2015, 4:40 PM Chris <notifications@github.com> wrote:

[2015-08-27 23:48] KevZawacki commented on #372
@davidascher & @LauraReynal I'm happy to do a second, more thorough edit to smooth out the gallicisms (first copyedit I was looking for big items).

At ~10 pgs a day, OK to have the next review completed by 9/4?

@LauraReynal, what's the best way to edit the copy now that it's laid out?

[2015-08-27 23:50] davidascher commented on #372
My own take is quality trumps schedule. Sep 4 seems fine to me but I don't
know where we're waiting for this work.

On Thu, Aug 27, 2015, 4:48 PM Kevin Zawacki <notifications@github.com>
wrote:

[2015-08-28 00:20] edrushka commented on #378
So close. Soooo close!
@KevZawacki has drafted copy. @HPaulJohnson has signed off. Just need to get the OK from ops and bug will be submitted.

[2015-08-28 00:22] edrushka commented on #536
Closing this. @lovegushwa made awesome progress!!! :) :)

[2015-08-28 00:22] #536 closed

[2015-08-28 00:23] edrushka commented on #510
Due to time constraints and what we are currently able to pull from the database, this will be email only (to people we're allowed to email, obvi). There will be no printed mailer.

Kevin has connected with Suchita and is hoping to speak with her next week.

[2015-08-28 00:24] edrushka commented on #423
@valianttry Any updates from Alex or Jennifer?

[2015-08-28 00:32] valianttry commented on #423
Email exchange with Alex Costello this week pasted below.
TLDR: No help soon from Moco. Given my core fundraising responsibilities, I do not have capacity to continue managing gear.mozilla.org.
TASK: @RebsD to present case to hire Gear Store management support at Ops meeting on 8/25

Email from Alex Costello 8/24: ------------------
There is so much going on!
Yes, Jen Balaco is working on an analy

[2015-08-28 00:33] RebsD commented on #423
I've asked for budget to get support managing gear store in the meantime.

On Thursday, August 27, 2015, Erika Drushka <notifications@github.com>
wrote:

[2015-08-28 01:49] simonwex commented on #448
We might be good on this tomorrow, I'll check and see where the paperwork is at.

[2015-08-28 01:50] simonwex commented on #525
@xmatthewx do you have time to drive this next heartbeat? I didn't have time this one.

[2015-08-28 01:51] simonwex commented on #523
It took longer than expected, but we're ready to go live with this tomorrow (Friday). Recovery will follow incrementally.

[2015-08-28 10:05] LauraReynal commented on #372
@davidascher Thanks for the review and the detailed notes.

* Title: agree that we need to find a new title for the report, will think of some ideas and post here

* Design: Ok for increasing the thin typography and the other changes you suggest.

* Yes to a socratic seminar @chrislarry33 - we can schedule it once it's finished.

* @KevZawacki OK with the copy edit by Sept 4th -- Would you be able

[2015-08-28 10:07] LauraReynal commented on #372
Also, if @KevZawacki and @cassiemc and / or @lovegushwa are  all working on the inDesign file, we should do a quick check so that we don't overwrite each others and work on different versions of the same doc.

@cassiemc let us know if you are making design changes directly, so that we can see how best to organize each others.

[2015-08-28 13:19] cassiemc commented on #372
@LauraReynal @KevZawacki I won't touch the inDesign file until the copy edits are done if that's easier. I haven't made any changes yet. @KevZawacki are you able to edit the indesign file directly? if so, maybe you can just let me know when you're done with a set of pages then I'll get started with design tweaks.

(fyi @lovegushwa will need to concentrate on the EOY and other engagement work so I

[2015-08-28 15:01] xmatthewx commented on #525
Yes, I can drive it. Design and legal review are complete. I *think* we have the resources to land this in Webmaker.

[2015-08-28 15:20] OpenMatt commented on #539
@hannahkane rolling into next heartbeat? or closing out?

[2015-08-28 15:20] OpenMatt commented on #537
@adamlofting status?

[2015-08-28 15:20] OpenMatt commented on #535
@hannahkane status?

[2015-08-28 15:21] OpenMatt commented on #533
status?

[2015-08-28 15:21] OpenMatt commented on #532
status?

[2015-08-28 15:21] OpenMatt commented on #530
status?

[2015-08-28 15:21] OpenMatt commented on #523
nice! @simonwex : sounds like we'll be able to close this out shortly.

[2015-08-28 15:22] OpenMatt commented on #521
status?

[2015-08-28 15:22] OpenMatt commented on #520
status?

[2015-08-28 15:22] OpenMatt commented on #518
status?

[2015-08-28 15:22] OpenMatt commented on #470
omg can we actually close this ticket?

[2015-08-28 15:23] OpenMatt commented on #423
@rebsd: I'll roll this over to the next Sep 11 heartbeat -- unless that's wrong.

[2015-08-28 15:23] adamlofting commented on #537
Great work by @ScottDowne and @alicoding this heartbeat.

Another 2 heartbeats worth of work left before the German Fundraising campaign is live.

[2015-08-28 15:23] #537 closed

[2015-08-28 15:25] adamlofting commented on #537
Also great work by @jbuck to make those new features actually visible to the outside world :+1:

[2015-08-28 15:27] xmatthewx commented on #524
Added a few notes. Glad to discuss with @hannahkane and @simonwex

[2015-08-28 15:27] OpenMatt commented on #482
This work fell by the wayside because of 3-year planning. I'm going to punt it to late Sep.

[2015-08-28 15:29] adamlofting opened #546 "Donate.mozilla.org - Getting Production Ready"
Ongoing work on new donation system by: @alicoding @jbuck @ScottDowne

This work is part of our migration from BSD to a self-hosted platform, but most of the tasks now represent new and improved functionality on top of what we could do in BSD before.

Some highlights for this heartbeat:

* Feature complete
* Load Testing
* Performance and Optimization Testing
* Security Review
* Stripe Vendor revi

[2015-08-28 15:30] hannahkane commented on #533
WIP, but not on production just yet.

[2015-08-28 15:30] hannahkane commented on #535
@LauraReynal - status? :)

[2015-08-28 15:31] OpenMatt opened #547 "Ship "impact statements" 2.0"
http://mzl.la/learning
As part of Mozilla Foundation 3-year strategic plan, we need to update the draft impact statements and impact milestones. Taking the feedback we got in the last Mozilla Learning call, synthesizing it, and using it to make them stronger.

Project manager:
* @adamlofting is supporting Advocacy WG
* An-me is supporting the Leadership WG

Consulted: Impact working group. Working

[2015-08-28 15:32] hannahkane commented on #532
Meeting happened, but tests aren't running yet, AFAIK.

[2015-08-28 15:33] OpenMatt commented on #547
Notes from email sent to WGs:

Our next task is to create the impact milestones for our efforts which we can share with the broader group.  It seems to me that our overall impact statement is Good Enough™ ("Many more people understand and care about the internet"), but our impact milestones are not yet tied to dates our numbers, and probably too abstract to relate to our tactics.

Please jump into

[2015-08-28 15:34] edrushka commented on #470
I think we should close it in a ceremonial fashion during the TPS call.

[2015-08-28 15:34] edrushka commented on #470
![screenshot 2015-08-26 16 13 21](https://cloud.githubusercontent.com/assets/4515662/9550352/905c1592-4d5f-11e5-880d-0eaa47360bf1.png)

Almost 1 year! :D

[2015-08-28 15:36] adamlofting commented on #547
Just a note that the text above was sent to the Advocacy WG, but can be translated easily enough to the Leadership group who's doc is here: http://mzl.la/leadership_doc

[2015-08-28 15:46] LauraReynal commented on #535
Currently working on a proposal - Will share the progress asap

[2015-08-28 15:48] HPaulJohnson commented on #518
Wrapping up a couple of the social media assets today and then this will be complete.

[2015-08-28 16:03] edrushka commented on #544
Deliverables: petition page, share page, email, localisation of all the things!

[2015-08-28 16:12] shaghdoosti commented on #544
Here are the details of the translator (Moco have used them before) - I've already talked to them and made sure they are available and can deliver text by the deadline.

kontextor teoranta

info@kontextor.ie

+49 (0)177 428 28 51

www.kontextor.com

[2015-08-28 16:14] simonwex commented on #470
Sadly, there's been an issue with transferring it again. Tim is looking into it.

[2015-08-28 16:20] simonwex commented on #486
Oops, bounced to wrong milestone. I've got all the details I need here to close. @valianttry do you have a quick sec to chat about your last comment on vidyo?

[2015-08-28 16:24] OpenMatt commented on #545
Meeting f2f week of Oct 5 in NYC

[2015-08-28 16:29] OpenMatt commented on #542
* @simonwex  @adamlofting Do we have Google Analytics on the site?
* @davidascher may ask @humphd to write a technical post
* look at Hacker News questions re: privacy policy questions and make sure we have answers for Thimble as well

[2015-08-28 16:33] OpenMatt commented on #534
note: christina will be doing the design work on this.

[2015-08-28 16:47] adamlofting commented on #542
Based on the staging site: https://bramble.mofostaging.net - There is no GA in place yet. (it looks amazing though).

There are open tickets related to GA here:
* https://github.com/mozilla/thimble.webmaker.org/issues/653
* https://github.com/mozilla/thimble.webmaker.org/issues/749

[2015-08-28 17:41] secretrobotron commented on #544
Things to be built:
- [ ] form
- [ ] thanks page w/ share buttons
- [ ] email

[2015-08-28 18:13] shaghdoosti commented on #544
Just a quick note that Policy will pay for translation work.

[2015-08-28 18:16] secretrobotron commented on #544
:+1:

[2015-08-28 18:17] secretrobotron opened #548 "Make petition creation silly easy"
Recently, @ScottDowne created a Sandstone template for petitions: http://lit-scrubland-2076.herokuapp.com/
(code is here: https://github.com/ScottDowne/petition-template)

Now, we can make it extremely easy to create & launch petitions:
1. Make each piece of the template `contenteditable` so that anybody (read: someone who doesn't want to look at code) edit the fields and write the copy or insert

[2015-08-28 18:31] xmatthewx commented on #548
What a weird cool idea for a frontend mockup maker.

[2015-08-28 18:37] valianttry commented on #548
I :heart: you @secretrobotron

[2015-08-28 18:44] valianttry commented on #548
Something to consider: When possible, we want to capture form data in our CRM, including which form was submitted by a specific individual. That way we can target future communications by campaign or topic.

[2015-08-28 19:02] simonwex opened #549 "Plan and document roadmap of login.webmaker.org, api.webmaker.org"
###  Refactor api.webmaker.org to resolve some problems we introduced in haste to get webmaker shipped for the snippet

api.webmaker.org is the service behind Webmaker Android, Webmaker Desktop, and several administrative clients.

In this roadmap, we’d like to refactor api.webmaker.org to have a significantly more modular architecture as well as adopt new tooling to make the service more maintain

[2015-08-28 19:14] KevZawacki commented on #372
@cassiemc -- Agreed, let's do copy first. I'll be editing ~15 pages a day. Should I ship the updated file at the end of each day?

@LauraReynal -- I have InDesign and can edit directly. Can you share the latest .indd file? Thanks!

[2015-08-28 19:24] secretrobotron commented on #548
:+1: i think that'd be the default functionality

[2015-08-28 19:27] LauraReynal commented on #372
@KevZawacki in this folder, you will have everything
https://drive.google.com/a/mozilla.com/folderview?id=0B0X05aIHuAbed2xfX0Z5c09KaTg&usp=sharing

Research Reports Assets > Chicago Report April 2015 > Chicago_X Folder > Look for the inDesign file called 27-08-15

Please save a new version of the document each day when you close it, with the date. You can see the different versionning we have (I h

[2015-08-28 19:28] LauraReynal commented on #535
I have made progress and shred a draft with Hannah. Reaching out to other folks for choosing location and move this forward. Will paste full proposal here when ready.

[2015-08-28 20:01] chrislarry33 commented on #545
Is this confirmed to be in NYC?

[2015-08-28 20:03] xmatthewx commented on #549
Nicely detailed plans. Question: will this be rolled into Webmaker in stages? Or will we switch over all at once? Either way, might be good to identify key moments for communication into the roadmaps.

[2015-08-28 20:04] chrislarry33 commented on #532
What is the blocker on the tests?

[2015-08-28 20:04] ashleygwilliams commented on #549
hey @xmatthewx, great questions!

we are planning a migration roadmap for api and id, a deprecation roadmap for login. currently, we will be working on these without affecting any of the supporting clients.

for those roadmaps, we'd love to have you involved. i'll be sure to let you know when they happen.

[2015-08-28 22:10] shaghdoosti commented on #544
@chelseanovak

[2015-08-28 22:24] shaghdoosti commented on #544
Hey everyone

A few notes on the campaign:

1. I'm going to be on the road from tomorrow morning till Tuesday night. If you need anything it's best to contact Andrea. I will be checking emails and will be available via phone but my reception may be spotty so I may not be able to get back to you immediately. The most important thing is if you do email me about the project make sure to CC Andrea as

[2015-08-28 22:29] shaghdoosti commented on #544
Translator just confirmed they can get the translated text to us by Monday COB (SF time)

[2015-08-28 23:16] davidascher commented on #545
I hate to say it, but it's possible i have to be in taipei that week.
Finding out ASAP.

On Fri, Aug 28, 2015 at 1:01 PM Chris <notifications@github.com> wrote:

[2015-08-29 18:22] valianttry commented on #486
@simonwex of course, feel free to put something on my sched. @adamlofting suggested I join this party with our donor email management needs :balloon:

[2015-08-31 14:50] OpenMatt commented on #535
Moving to this Heartbeat

[2015-08-31 14:51] OpenMatt commented on #518
@HPaulJohnson done?

[2015-08-31 14:51] OpenMatt commented on #486
@simonwex are you closing this?

[2015-08-31 14:53] OpenMatt commented on #470
moving to Sep 11. If not resolved by then, we should just decide to kill.

[2015-08-31 14:53] OpenMatt commented on #448
@simonwex update to next milestone?

[2015-08-31 16:22] hannahkane commented on #535
Adding @anmechung as a "Consulted" on this ticket, since she has led some MLN research efforts so far

[2015-08-31 16:42] secretrobotron commented on #544
cc @alicoding

[2015-08-31 17:46] alicoding commented on #544
Do we have copy for Thank you page with share button?

cc @secretrobotron @edrushka

[2015-08-31 17:50] hannahkane commented on #532
No specific blocker, just didn't get to meet until the end of the week. Will resolve shortly.

[2015-08-31 18:04] jbuck commented on #548
We also need to decide a URL where the petitions would live at. Suggestions:

* petitions.mozilla.org
  * @valianttry recommended we not use this because we may not always use a petition format
* takeaction.mozilla.org
  * I suggested this because it's more verby
* actnow.mozilla.org
* act.mozilla.org

@valianttry also pointed out that we should see if there are any naming considerations we need t

[2015-08-31 18:06] valianttry commented on #544
Twitter copy is in the final text document the translator is working from.

We've consulted with the Firefox PR and marketing teams, and we've opted not to push this campaign too hard in social media because there is a major humanitarian crisis happening in Germany right now (refugees). We think a major social campaign could be seen as insensitive / out of touch.

[2015-08-31 18:42] hannahkane commented on #542
The new Thimble is live! :fireworks: :tada: :cake:

Check it out at thimble.mozilla.org.

Please note: thimble.webmaker.org will continue to be accessible to users for the time being. We added a banner notification, providing a path to the new Thimble for those who want to try it.

Promotional and comms work to begin shortly. (@humphd's technical post is here: http://blog.humphd.org/thimble-and-br

[2015-08-31 19:06] jgmac1106 commented on #542
Congrats to all. Such an amazing job. Thanks to @humphd and the rest of team.

FYI the remix on the old thimble is broken you get this error when you hit remix or try to edit an existing make: 500: TypeError: Object [object Promise] has no method 'success'

[2015-08-31 19:15] xmatthewx commented on #542
Congrats everyone. It's a truly beautiful upgrade and it'll be great to sunset the legacy code.

[2015-08-31 19:23] valianttry commented on #544
@alicoding the translator finished: https://drive.google.com/drive/folders/0B_VT8vv8uni5WUFTci1yQzFCQms

Next step: Ask L10N to look over quickly. What is the best way to do that? I can email the Germany contributor email list (110 recipients) to see if someone can look quickly. Is that the best way?

[2015-08-31 19:26] humphd commented on #542
@jgmac1106 that's odd, shouldn't have caused any issues in old Thimble. Do you want to file that in the Thimble repo?

[2015-08-31 19:26] alicoding commented on #544
@valianttry can you share the document with me? I don't have access to it.

[2015-08-31 19:29] valianttry commented on #544
@alicoding it was set as "anyone at mozilla with the link can edit". Is there something more i should do?

[2015-08-31 19:30] valianttry commented on #544
Also @alicoding i caught Aryx online and he is helping to review the copy. Stay tuned.

[2015-08-31 19:35] jgmac1106 commented on #542
I will do. I didn't realize they were different repos.

On Mon, Aug 31, 2015 at 3:26 PM David Humphrey <notifications@github.com>
wrote:

[2015-08-31 19:36] alicoding commented on #544
@valianttry I still can't access to that document for some reason. I get this:

[code]

[2015-08-31 20:00] edrushka commented on #548
@jbuck we just decided to keep it on sendto.moz.org. We can use mzl.la to make something snappier for the campaign (if we need it). That cool?

[2015-08-31 20:02] jbuck commented on #548
@edrushka for the DE petition that's fine, but this issue is more about petitions in the future. Basically having a non-BSD option available for the next thing that comes up

[2015-08-31 20:04] HPaulJohnson commented on #518
Yes, done!

[2015-08-31 20:04] #518 closed

[2015-08-31 20:06] edrushka commented on #548
Great. I should have posted my earlier comment in #544. Sorry!

[2015-08-31 20:06] hannahkane commented on #530
Prepped. Launched.

[2015-08-31 20:06] #530 closed

[2015-08-31 20:28] KevZawacki commented on #542
Blog live, and Thimble posts up on Twitter and FB.

[2015-08-31 22:12] KevZawacki commented on #372
@LauraReynal @cassiemc I've finished edits on pages 1 - 39, and uploaded to our [shared drive](https://drive.google.com/drive/folders/0B2qu3ExKWIlvUEdMdHRlNFU1Zzg); the doc is titled "CHICAGO_X -31-08-15.indd."

Let me know if I should make any changes to this process. Otherwise, I'll upload a new doc EOD tomorrow with more edits.

[2015-08-31 22:38] valianttry commented on #544
@alicoding I just reviewed the Windows 10 campaign and for that petition, the legal team requested that the following language appear below the button "Sign on": "We'll be delivering your petition soon - stay tuned for details"  -- we need to translate it and add this language below the button.

[2015-08-31 23:22] hannahkane commented on #542
FAQ updated

[2015-09-01 04:53] valianttry commented on #544
@alicoding  @edrushka  @lovegushwa  @secretrobotron From legal team: "German has a double op-in rule that requires anyone signing up for promotional emails to receive a one-time email confirming their opt-in. Is the system currently set up to do that for the second check-box?  If not, it needs to be. "

I researched in BSD's knowledge base and Help, but did not find documentation on double-opt in.

[2015-09-01 10:54] adamlofting opened #550 "Use the new Universal Analytics version of GA"
We're using the latest version of GA across our projects now, so need to update the tracking code here: `public/homepage/scripts/google-analytics.js`

I'll work on a PR for this now.

[code]

[2015-09-01 11:03] adamlofting commented on #550
Wrong repo...

[2015-09-01 11:03] #550 closed

[2015-09-01 12:36] ScottDowne commented on #548
@jbuck petitions.mozilla.org seems the logical choice to me.

[2015-09-01 13:54] LauraReynal commented on #535
cc / @amirad @thornet @chadsansing feel free to ping here if you have any question.
I'll update this ticket once the dates are sorted out.

[2015-09-01 14:12] amirad commented on #535
Great. Thanks Lau! I'll organize the raw data and get back to you with new club locations soon

[2015-09-01 14:17] ScottDowne commented on #544
@valianttry Yeah, we can send emails after the signup. To confirm, only the singup needs to send an email, singing the petition itself does not?

[2015-09-01 14:34] ScottDowne commented on #544
@valianttry We can setup the email, but we need a translated email body and title...

Also, me and @alicoding are talking about the thank you page. I see nothing concrete about the thank you page and what it looks like. It sounds like it has no share buttons now? and if they already signed up, it has no sing up. Are we just looking at a translated "Thank you yadda yadda" bit?

[2015-09-01 14:49] ScottDowne commented on #544
Things I'm seeing
- [ ] We still have bits of copy that needs to be translated in the form: "sign on" "We'll be delivering your petition soon - stay tuned for details"
- [ ] We need to connect with the two bsd singups. The petition itself which is "https://sendto.mozilla.org/page/s/test-signup" at the moment.
- [ ] Actually get it up on BSD with a link
- [ ] Figure out where the sing up, not petit

[2015-09-01 15:08] chelseanovak commented on #544
@valianttry based on those blockers above, do you think we'll still be able to run the test today? We can sit tight until you're ready, but let us know when you have an idea of being able to go.

[2015-09-01 15:20] ScottDowne commented on #544
@chelseanovak The translating for the last two bits that got missed, the email, and whatever is on the thank you page is out of my hands.

The rest of those me and @alicoding are working on and should be a few more hours.

[2015-09-01 15:23] chelseanovak commented on #544
@ScottDowne That's what I figured might be blocking you. @valianttry if you need a hand finding someone to translate those last bits (should Kontextor not be able to do it for you), please let me know.

[2015-09-01 16:00] valianttry commented on #544
@chelseanovak we are using Kontextor and L10N, I think we're OK.

@ScottDowne Aryx provided translation for "sign now" in IRC. @alicoding is tracking down a translator for the line that goes under the button. The Thank You page translation is included in the Kontextor translated document "Vielen Dank, dass Sie jetzt handeln!" = "Thank you for taking action!"

[2015-09-01 16:46] ScottDowne commented on #544
@valianttry and @chelseanovak I'm very close to having those above things minus the translation of the email done.

[2015-09-01 16:56] ScottDowne commented on #544
OK, we have this: https://sendto.mozilla.org/page/s/test-signup

I'm testing it now, should know in a few minutes if the email and singup.

Things still needed.
- [ ] translated email
- [ ] add a better title than test-signup
- [ ] can we get a bit of QA?

You can preview the thank you page here: https://sendto.mozilla.org/page/content/petition-thanks/

[2015-09-01 17:52] secretrobotron commented on #548
@alicoding just made me aware that this should plug easily into exacttarget. @adamlofting that sound possible?

[2015-09-01 18:04] valianttry commented on #544
I had an emergency meeting with Jochai Ben Avie and Chris Riley this morning and together we made the decision to pause this petition campaign. The organizational learning curve is growing too steep to overcome in such a small amount of time. What is happening as a result, is that instead of reducing tasks and related challenges as we near our launch deadline, they are increasing. Examples: Double

[2015-09-01 18:11] jbuck commented on #548
@secretrobotron anything is possible, given enough time!

[2015-09-01 18:52] hannahkane commented on #486
@secretrobotron @simonwex @adamlofting do we have a desk.com address/link for the MLN team? would like to use it in Thimble promotional email.

[2015-09-01 20:00] hannahkane commented on #448
hey @simonwex - any new info?

[2015-09-01 21:53] Pomax commented on #528
based on advice from @jbuck, I'm closing this issue as a "not happening"

[2015-09-01 21:53] #528 closed

[2015-09-02 08:56] adamlofting commented on #548
This project is next on the CRM plan once we finish with the work on https://github.com/mozilla/donate.mozilla.org/issues

See 1:Many Supporter Relationships section here: http://wiki.webmaker.org/CRM

* The email subscriptions opt-ins will live in Exact Target.
* The petition activities will eventially live in Salesforce CRM (which is linked to, but not the same as ET).
* But there may be some ot

[2015-09-02 08:57] adamlofting commented on #548
Also, this isn't going to happen as part of the CRM project by Sep 11 Milestone.

[2015-09-02 10:04] LauraReynal commented on #372
@KevZawacki this process is perfect :-) thanks !

[2015-09-02 19:08] KevZawacki commented on #372
Hi @LauraReynal and @cassiemc, I've finished edits on pages 1 - 97 and uploaded to our shared drive (doc is titled "CHICAGO_X -02-09-15.indd").

[2015-09-02 20:48] simonwex opened #551 "Create mofo-eng team site"
Driver @simonwex

[2015-09-02 21:11] hannahkane commented on #524
Just sent a calendar invite for next week.

[2015-09-02 21:11] hannahkane commented on #542
Donezo!

[2015-09-02 21:11] #542 closed

[2015-09-02 21:12] hannahkane commented on #508
Closing this, in lieu of one master Goggles ticket.

[2015-09-02 21:12] #508 closed

[2015-09-02 21:16] hannahkane commented on #529
Related tickets are filed here: https://github.com/mozilla/teach.webmaker.org/labels/The%20Goggles

[2015-09-02 22:30] hannahkane commented on #486
Moving this to current milestone so it doesn't get lost. Would really like an account for the MLN team if possible. We have a Community Mobilizer starting soon, and it would be great to have her set up to help handle support questions.

[2015-09-03 15:20] cassiemc commented on #372
@LauraReynal @KevZawacki  I had to request Creative Cloud. I'm due for an update anyway, but if either of you get a chance to save it down to CS6 that would be helpful (I will have more time to work on this tomorrow, today is chocker-block with 1:1s)

[2015-09-03 19:12] KevZawacki commented on #372
@LauraReynal, pages 1 - 127 are now edited and uploaded to the [shared drive](https://drive.google.com/drive/folders/0B2qu3ExKWIlvUEdMdHRlNFU1Zzg). The latest file is titled "CHICAGO_X-03-09-15.indd."

A few items that require your attention:

+ On page 74, you write, "We expand on the perception of learning to code on page XX." Can I change "XX" to "104"? (Page 104 is the section "Learning code i

[2015-09-03 21:49] cassiemc commented on #372
Yes that worked, thanks @KevZawacki!

[2015-09-03 21:54] cassiemc commented on #482
@vazquez Wrote a description for an open source design volunteer position – would love anyone's thoughts about how this process could go! https://github.com/MozillaFoundation/Design/issues/50#issuecomment-137548850

Specifically, I'm interested in knowing – where do we post such a description? What does the application process look like? (what is the volunteer criteria, who assesses the criteria,

[2015-09-04 01:48] ScottDowne commented on #482
@cassiemc Sorry for the delay, I missed your initial mention ages ago, but to find all issue with the "needs-help" label, you can do that here: http://build.webmaker.org/issues

That by default searches all our repos. Change the drop down to label, and type in "needs-help" or the label you want to search by. It should auto-complete based on labels we have used.

[2015-09-04 11:25] KevZawacki commented on #372
Hi @cassiemc, I'm planning to finish copy edits today. Is there a updated file from your end I should use?

[2015-09-04 11:35] cassiemc commented on #372
No, I opened the file but didn't do anything with it, so go ahead! I am in
Toronto today so probably won't have much time in the end, will start in
earnest next week if you are planning to finish today. Then I can make any
additional copy changes if needed. Thanks Kevin!
On Sep 4, 2015 7:25 AM, "Kevin Zawacki" <notifications@github.com> wrote:

[2015-09-04 12:31] LauraReynal commented on #372
@KevZawacki

* page 74 - yes, thank you for catching that !
* page 82 and 90 - no it's not intentional, feel free to edit how you want.
* p.128, yes that is a good idea - thanks :+1:

Let me know if there  is anything else I can help with

[2015-09-04 20:23] cassiemc opened #552 "Get Research Reports online"
MVP – maybe this is a simple blog post that has all the research reports (and a visual of their covers or insides) with a couple compelling points about each. @laurareynal does this exist already?

Longer-term it'd be great to see the content from all the research reports actually living online, so that the learnings are more searchable and shareable. Ideally this would live somewhere like researc

[2015-09-04 20:38] LauraReynal commented on #552
@cassiemc yes this is in the plans !! I'm glad you are bringing it up.
@secretrobotron and I have been talking about it this week, and we came out with this plan:
1. Put everything on a wiki
Organize content, write some copy etc.
2. Once the content is ready we could see if we can have resources to build research.mozilla.org

I wanted to document the following content:

A. Research at Mofo
What we

[2015-09-04 23:58] KevZawacki commented on #372
Hi @LauraReynal and @cassiemc, I've uploaded the fully-edited report to our shared drive. There are two versions:

+ CHICAGO_X -04-09-15.indd
+ CHICAGO_X -04-09-15.idml

Let me know if/how I can help further!

[2015-09-05 00:03] xmatthewx commented on #552
This will be highly valuable, and coincidentally something I was thinking about [earlier today](https://github.com/MozillaFoundation/research/issues/64). Glad to see 3 other people thinking about this. I'd suggest using build dot webmaker (which probably needs a new name and URL) to leverage a single platform with related goals.

This task deserves a RACI

[2015-09-05 01:22] jgmac1106 commented on #552
I vote for a link in the footer which points to  the subdomain eventually
and to @laurareynal's tagged blog posts until then.

People are looking for the white papers and research.

On Fri, Sep 4, 2015, 8:03 PM matthew w <notifications@github.com> wrote:

[2015-09-05 02:15] cassiemc commented on #372
:hand::hand:Woo, nice work @KevZawacki! I'll dig into finalizing the design when we're back on Tuesday. Thanks for saving out two versions, I haven't gotten my creative cloud yet.

[2015-09-06 23:54] seeschwein commented on #549
Hallo. I can't sign in or sign up for Webmaker because I have an account for Thimble/transifex. Is there something I can do? Thank you.

[2015-09-07 11:08] LauraReynal commented on #372
Huge thanks for the work @KevZawacki
Aside from @cassiemc 's design pass, the last thing we need to do is find a new title for the reportS.
I think we should use a title that can work for all the reports in the future, with spin-off.

Some first ideas:
- Mozilla Foundation Research

[2015-09-08 12:31] KevZawacki commented on #372
@LauraReynal I like the first one. Or, something similar like:

Mozilla Foundation Research
Global Web Literacy Studies: Chicago Report

[2015-09-08 12:34] LauraReynal commented on #372
@KevZawacki it's perfect !

@cassiemc you want to make the edit on Chicago's document ?

I will update the other reports as well for coherence.

[2015-09-08 12:43] LauraReynal commented on #372
@cassiemc I will wait to see your design pass on chicago's doc, because the layout is different for the other reports. For now I have something like this
<img width="557" alt="screen shot 2015-09-08 at 13 43 27" src="https://cloud.githubusercontent.com/assets/8261945/9735026/a24bb0d6-562f-11e5-964a-034f7cdffd94.png">

[2015-09-08 14:13] cassiemc commented on #372
Hey @LauraReynal @KevZawacki I can definitely make the edit in the doc. Today is crazy with meetings again but I should finally have a good stretch of time to open and tinker with this tomorrow. I did notice a few links are missing upon open. Can either of you do a "package" export of the file and upload that whole folder to drive? (make sure it includes all linked files)

Re. the title, what do y

[2015-09-08 14:15] cassiemc commented on #372
(I think I am wrestling with the Mozilla logo along with the Mozilla Foundation in the title – somewhat redundant and  from an outsider pov, seems unnecessarily reflective of our internal organization.)

[2015-09-08 14:21] jgmac1106 commented on #372
Just food for thought Would Universal Web Literacy Research: Chicago as a
title align better with the current mission? If the goal is to spark a more
geographic meaning Global Web Literacy Research sounds better.

On Tue, Sep 8, 2015 at 10:15 AM Cassie McDaniel <notifications@github.com>
wrote:

[2015-09-08 17:44] LauraReynal commented on #372
@cassiemc i love your option 2 :

Global Web Literacy Research: Chicago
Mozilla Foundation

@jgmac1106 I would lean towards Global for the geographic connotation.

[2015-09-08 22:01] xmatthewx commented on #549
@seeschwein - sorry that you're having problems. You can email help@webmaker.org for support. It's possible you will need to [add a password](https://id.webmaker.org/reset-password/).

[2015-09-09 10:25] LauraReynal commented on #372
https://drive.google.com/open?id=0B0X05aIHuAbeV3RCVzJQWWNJdE0
@cassiemc here is the package

[2015-09-09 19:41] xmatthewx commented on #524
Met and discussed with @hannahkane @simonwex @ldecoursy

Next step:
 - @simonwex / @jbuck to file issues for the services team as listed below.
 - @hannahkane to plan a "can't remix" landing page for appmaker and popcorn with @cassiemc

Key discoveries:
 - We can retire wm.org and launch beta.wm.org _after_ rewriting the /me tool
 - Connecting old makes with new thimble requires some UX and tech p

[2015-09-09 19:50] cassiemc commented on #372
@LauraReynal Do you have more photos from Chicago than are listed here? https://www.flickr.com/photos/laura_nk/albums/72157656542031096

[2015-09-09 20:32] LauraReynal commented on #372
@cassiemc I shared the whole Chicago folder with you it's also here https://drive.google.com/a/mozilla.com/folderview?id=0B0X05aIHuAbeTjhqbS1NVWNSazg&usp=sharing
Inside you will find a folder called "photos' which have more things than Flickr

[2015-09-09 20:33] LauraReynal commented on #372
I was not aware of the document page size, feel free to change it

[2015-09-09 20:37] LauraReynal commented on #372
@cassiemc I just shared with you the whole research reports folder.
I added for you the .svg and .ai of the iterative design:
Research Reports Assets > _Graphics

[2015-09-09 21:15] cassiemc commented on #372
beautiful thanks @LauraReynal!

[2015-09-09 22:53] hannahkane commented on #534
We've started design work, but have some technical questions. @simonwex - sent you a meeting request. Looks like engineering work will not begin this heartbeat, as contract has not been signed.

[2015-09-09 22:53] hannahkane commented on #533
oh man, this is totally done.

[2015-09-09 22:53] #533 closed

[2015-09-09 22:53] hannahkane commented on #532
forgot to say this is done. will report on results shortly.

[2015-09-09 22:53] #532 closed

[2015-09-09 22:54] hannahkane commented on #531
Pushing to next heartbeat, due to PTO.

[2015-09-09 22:56] hannahkane commented on #529
This ticket no longer reflects the work to be done. Goggles-related work for this heartbeat is https://github.com/mozilla/teach.webmaker.org/issues/1220, so I'm updating this ticket's description

[2015-09-10 14:09] cassiemc commented on #524
Is @HPaulJohnson involved already? i imagine some of this will require some email comms with our users.

Feel free to loop me in at any stage if you need an extra set of UX eyes. We've never done stuff like this well so it won't hurt to have a good review process in place.

[2015-09-10 14:28] cassiemc commented on #551
Similar to build.webmaker.org/design?

[2015-09-10 15:48] xmatthewx commented on #524
Thanks @cassiemc. I think design can help in two areas:
 - Popcorn & appmaker projects will remain available, but can't be remixed. We should design a landing page that explains why and points people to other tools.
 - Old Thimble projects will be remixable in new Thimble. @simonwex will engineer the most fluid experience possible given tech limitations, but we should diagram the UX and share that

[2015-09-10 17:57] LauraReynal commented on #552
@kristinashu

[2015-09-10 18:45] LauraReynal commented on #552
Update for everyone: Kristina and I will be working on an MVP as new d-buds :smile:

Step 1 : make a single page for research.mozilla.org where we will reference the reports and some other elements. Simple, fast.

Step 2: define our vision for a website and start working on it.

Closing this ticket so we can organize.

[2015-09-10 18:45] #552 closed

[2015-09-10 18:48] LauraReynal opened #553 "PHASE 1 of the research website."
Goal: Create a very simple page where people can download our research reports and other assets.

**Team:**
Accountable: @secretrobotron

Lead Design: @kristinashu
Lead Dev: @gvn
Quality: @cassiemc
Consulted : @LauraReynal

[2015-09-10 18:49] LauraReynal commented on #553
@simonwex  can we use research.mozilla.org ?

[2015-09-10 18:50] LauraReynal commented on #553
What's in the MVP:

Introduction
Links to reports
Research Map
Web Journey Framework

We will start from there and then add the content as we figure out the website: personas, stories, findings etc.

[2015-09-10 19:31] cassiemc commented on #553
Another option for the address is build.webmaker.org/research. The 'webmaker' part of the url isn't correct but it is more inline with how mofo is organized.

[2015-09-10 19:58] LauraReynal commented on #553
I was under the impression that build. Webmaker. Org was more for internal audience.
I think we are looking for something more external facing.  For example,  when we send the reports to partners or potential partner organizations.

[2015-09-10 20:24] hannahkane commented on #448
Moving this to next heartbeat

[2015-09-10 20:24] hannahkane commented on #483
Is this ticket closeable? (Just trying to clean up past milestones)

[2015-09-10 20:25] hannahkane commented on #480
Is this ticket closeable?

[2015-09-10 20:25] hannahkane commented on #474
Can we close this ticket?

[2015-09-10 20:26] xmatthewx commented on #474
oh yes. closing.

[2015-09-10 20:26] #474 closed

[2015-09-10 20:26] hannahkane commented on #527
Moving this to next heartbeat. Will assign myself as Driver, but need design support.

[2015-09-10 20:28] hannahkane commented on #526
@OpenMatt - we can close this, right?

[2015-09-10 20:29] hannahkane commented on #495
@OpenMatt - what's the status of this ticket?

[2015-09-10 20:41] Melechuga commented on #483
This ticket includes the larger product management milestones needed for recruitment through early 2016. Next steps are:

- Update "Host a Fellow" page to "Apply to be a Fellow" with host organization projects, benefits/FAQ info + application for fellows.

[2015-09-10 20:49] hannahkane opened #554 "Release new Goggles"
TODOs:
 - [x] finish rewriting the goggles login system to use id.wmo (https://github.com/mozilla/teach.webmaker.org/issues/1220)
 - [x] [design new homepage](https://github.com/mozilla/teach.mozilla.org/issues/1298)
 - [ ] [provide access to new projects](https://github.com/mozilla/teach.mozilla.org/issues/1223)
 - [x] [favicon and bookmark bar icon](https://github.com/mozilla/teach.mozilla.org/i

[2015-09-10 20:59] hannahkane opened #555 "Mozfest site and app work"
Deliverables for this milestone are:
- [x] UX/UI changes to schedule app - https://github.com/mozilla/2015.mozillafestival.org/issues/180

[2015-09-10 21:06] hannahkane opened #556 "Run a couple more tests on Teach homepage conversion rate"
Last heartbeat, we ran a test on the teach site homepage. We compared engagement and "pledge" conversion rates on the control (which has three CTAs in the homepage header) and a variation (which has a single CTA). The results were inconclusive, but did not generate a bump in the conversion rate.

This heartbeat we'll test two additional variations to see if we can increase conversions.
- [x] https

[2015-09-10 21:09] hannahkane opened #557 "Thimble work: design briefs and wireframes for next major release"
The next release is focused on improving Thimble as a classroom teaching tool. The two particular problems we want to solve are:
 * don't require all students to create an individual account
 * provide a classroom portfolio space

[2015-09-10 22:31] hannahkane opened #558 "Disable current badge application flow"
Users are somehow finding the badge application flow (I'm not sure how) and applying for badges that we are no longer supporting.

Can we prioritize this ticket this heartbeat? https://github.com/mozilla/webmaker.org/issues/1418

[2015-09-10 23:23] HPaulJohnson opened #559 "Webmaker Post-Launch Planning & Optimizations"
There are handful of items that would benefit our retention and optimization efforts even while we are evaluating initial launch results and determining next steps on roadmap and exanded marketing. These items are:

+ Webmaker.org home page update
+ Automation of retention email(s)
+ Push notifications
+ FTU experience
+ Improving discovery (via tagging, username, etc)
+ Tracking/Analytic improvem

[2015-09-10 23:23] HPaulJohnson commented on #559
cc: @secretrobotron @xmatthewx

[2015-09-11 00:03] simonwex opened #560 "Plan deprecation of login.wm.o"
We're in a strange state with the dual-login system.

This roadmap will prescribe the steps we’d like to take to remove the last dependency all of our applications and services have: login.webmaker.org.

https://docs.google.com/document/d/1RnveKYEjfrZRrmR4G6SP5hGzEN-xFt81NsqQqNEaV3Q/edit#heading=h.yahs2pd41tgi

[2015-09-11 00:11] #549 closed

[2015-09-11 00:11] #523 closed

[2015-09-11 00:11] #479 closed

[2015-09-11 00:12] simonwex commented on #470
I contacted Tim again earlier this week. We still haven't resolved this issue. Closing, sadly.

[2015-09-11 00:12] #470 closed

[2015-09-11 00:14] simonwex commented on #525
@xmatthewx, I should have moved this over to you in assignment. I bet this didn't end up on your radar properly.

[2015-09-11 00:14] simonwex commented on #1
Old ticket, closing.

[2015-09-11 00:14] #1 closed

[2015-09-11 00:24] edrushka commented on #470
:cry::broken_heart::no_good:

[2015-09-11 04:25] simonwex commented on #470
@edrushka I'm still going to continue to follow up on this, I'm just sick of talking about it in the plan calls.

[2015-09-11 04:31] simonwex commented on #486
@hannahkane could you open a new ticket to deal with the thimble email? I think we might want an @mozilla.com email instead of @webmaker.org. – We can discuss there.

[2015-09-11 04:31] #486 closed

[2015-09-11 10:49] jgmac1106 commented on #523
yipee

On Thu, Sep 10, 2015 at 8:11 PM Simon Wex <notifications@github.com> wrote:

[2015-09-11 13:37] cassiemc commented on #372
This is taking me a lot longer than expected! Still, I expect to finish today / tonight.

[2015-09-11 14:59] ldecoursy commented on #520
Just changed assignee to @amirad. Should wrap this up in next heartbeat.

[2015-09-11 15:08] xmatthewx opened #561 "Rewrite /me for project access"
Webmaker.org includes a tool at /me that allows users to access their makes post-transition of tools. This needs to be rewritten and relocated.

This blocks the launch of the new webmaker.org site.

### RACI

Driver: @hannahkane
Decider: @simonwex
Dev: @Pomax
Designer:

Two opinions open for debate:
 - Tool should probably be located on the teach site. Open for debate.
 - Design should be absolute

[2015-09-11 15:10] xmatthewx commented on #559
Good list. I'll have a few additions and clarified priorities for in the app this next heartbeat.

A few notes:
 - First iteration of FTU is done and in review
 - Webmaker.org launch has one blocker remaining:  https://github.com/MozillaFoundation/plan/issues/561
 - Please add analytics needs to https://github.com/mozilla/webmaker-core/issues/573

[2015-09-11 15:40] OpenMatt commented on #548
* who's the PM for this? @secretrobotron ?
* status?

[2015-09-11 15:41] OpenMatt commented on #547
@adamlofting I would say this is done. We may want a "3.0" sprint as well, but let's mark this one done, unless you think that's wrong.

[2015-09-11 15:41] #547 closed

[2015-09-11 15:41] OpenMatt commented on #546
status?

[2015-09-11 15:42] OpenMatt commented on #545
status of this one? roll over to next milestone?

[2015-09-11 15:42] OpenMatt commented on #544
@secretrobotron status?

[2015-09-11 15:42] OpenMatt commented on #543
@xmatthewx status?

[2015-09-11 15:44] OpenMatt commented on #539
@hannahkane status?

[2015-09-11 15:44] OpenMatt commented on #535
status?

[2015-09-11 15:45] OpenMatt commented on #529
@hannahkane status? [[flagged!]](http://plzkthx.herokuapp.com)

[2015-09-11 15:45] OpenMatt commented on #524
@xmatthewx ongoing work? roll into next heartbeat?

[2015-09-11 15:45] OpenMatt commented on #521
@thornet @ldecoursy status?

[2015-09-11 15:46] OpenMatt commented on #514
status?

[2015-09-11 15:46] OpenMatt commented on #510
@edrushka status?

[2015-09-11 15:47] OpenMatt commented on #423
@edrushka status?

[2015-09-11 15:47] ldecoursy commented on #521
Re-assigned to Amira. Based on staff transition, moving this to next heartbeat to wrap up.

[2015-09-11 15:47] OpenMatt commented on #378
@edrushka status?

[2015-09-11 15:49] RebsD commented on #423
A request has been made from Andrea to Angela to hire someone to manage
gear store in the interim (while discussions continue with MoCo about a
transfer or partnership)

On Friday, September 11, 2015, OpenMatt <notifications@github.com> wrote:

[2015-09-11 15:49] ldecoursy opened #562 "Migrate recovered Discourse data to new instance"
New Discourse is live, but we still need to transition the recovered data. Waiting for @simonwex to share staging site so I can start identifying what to migrate, and where existing posts/threads will live in the new category taxonomy.

[2015-09-11 15:55] xmatthewx commented on #545
Good progress. Rolling over to continue.

[2015-09-11 16:01] LauraReynal commented on #535
Good progress --- The project kicks off on the 27th. Leaving this planning ticket opened until then.

[2015-09-11 16:02] xmatthewx commented on #543
Need a few days to wrap up this release.

[2015-09-11 16:04] hannahkane commented on #539
almost done

[2015-09-11 16:07] adamlofting commented on #546
Ongoing - we didn't hit all these yet, but have another two weeks of work to do before launch.

Rolling to next heartbeat to maintain visibility.

[2015-09-11 16:10] hannahkane commented on #529
will check in with @Pomax today. not sure of status.

[2015-09-11 16:12] shaghdoosti commented on #544
Hey Everyone -

Here is an update on what's happening with the campaign:

The EU Commission has announced that they're delaying a decision till October 6. We have been talking to partner groups on the ground to see if the best strategy is to target the EU Commission or target the German Government. We'll have a decision on that by next week.

No matter which target we decide to aim the petition at

[2015-09-11 16:13] OpenMatt commented on #524
* question for @simonwex on who is going to do this work going forward.

[2015-09-11 16:14] xmatthewx commented on #524
rewrite and move /me happening here: https://github.com/MozillaFoundation/plan/issues/561

[2015-09-11 16:15] OpenMatt commented on #514
@simonwex what is the next step here?

[2015-09-11 16:16] hannahkane commented on #561
Assigning myself, not because I'm going to do the work :), but because I'm listed as the driver.

[2015-09-11 16:16] secretrobotron commented on #544
@shaghdoosti @xmatthewx so, this should move to next milestone, yes?

[2015-09-11 16:17] adamlofting commented on #547
:+1: agreed, thanks.

[2015-09-11 16:17] edrushka commented on #510
This work is paused for the moment. I'm going to remove the milestone.

[2015-09-11 16:22] OpenMatt commented on #561
next step: @hannahkane and @cassiemc will follow-up on how to assign design resource. Probably half a day of design work.

[2015-09-11 16:22] xmatthewx commented on #561
reiterating:

[2015-09-11 16:24] shaghdoosti commented on #544
Yes - That would be great.

[2015-09-11 16:25] OpenMatt commented on #534
* @simonwex please update on hiring.
* also: @cassiemc suggests this would be a good fit for design contractor

[2015-09-11 16:36] OpenMatt commented on #483
@simonwex : needs a dev this Heartbeat for the Oct 9 deliverable
@cassiemc : Nov 6 requires design work

[2015-09-11 16:39] hannahkane commented on #512
Duped by #561

[2015-09-11 16:39] #512 closed

[2015-09-11 16:49] edrushka commented on #378
Waiting for ops.

[2015-09-11 18:22] shaghdoosti commented on #544
Adding @alicoding

[2015-09-11 20:09] shaghdoosti commented on #544
Hey Everyone -

I just got word from @chelseanovak that there is room in their calendar for us to be able to launch this campaign on September 24.

Here is my current plan of attack to get everything moving to make our deadline:

1. Finalizing the draft text deadline: Wednesday 16. (We're waiting on partners for this so I can't move it forward)
2. Using Pontoon to translate the text. After speakin

[2015-09-11 20:10] KevZawacki opened #563 "MozFest Communications"
A ticket for tracking our MozFest comms plan/progress, currently being developed. Ticket will be updated after our weekly Monday calls.

@HPaulJohnson @edrushka @Saallen @thornet

[2015-09-11 20:15] Pomax commented on #529
using id.wmo works, although the UX for it is rather poor at the moment and will need some polish. Login for goggles now works similarly to how we deal with discourse.wmo, where you get a new window/tab for logging into webmaker, which you can close once login finishes.

[2015-09-11 20:17] edrushka commented on #544
It would be super helpful to me if someone ( @secretrobotron?? ) could estimate the dev time needed from Scott, Ali and Jbuck on this over the next heartbeat. @adamlofting and I are working on a fairly tight timeline to get the fundraising campaign up and running, so we may need to pull in some additional dev resources. Thank you!

[2015-09-11 21:18] hannahkane commented on #529
thanks @Pomax. Pushing to next heartbeat for polish.

[2015-09-11 21:21] hannahkane commented on #486
will do but waiting until after we meet next week

[2015-09-12 02:14] cassiemc commented on #372
As I was going through the file tonight I started to realize there were lots of pages that were wonky, probably due to my older version of indesign. I finally got my service now request for creative cloud this week and am installing now. I have made lots of updates to the photographs, colors, paragraph styles and the grid on master pages – including updating the document size so it prints better –

[2015-09-13 19:30] secretrobotron commented on #544
@alicoding @jbuck if we're using pontoon, we need to have a non-BSD front-end setup, right? Can you give us an estimate for how long it'll take to...
* @jbuck: get the domains, staging, and prod servers set up, and
* @alicoding: get @ScottDowne's petition template working on ^^ servers with pontoon integration?

If we can get those set up in the next couple of days, we should be alright for Wednes

[2015-09-13 21:01] jbuck commented on #544
@secretrobotron Staging is deployed already, production just need a DNS change done by MoCo IT: https://github.com/MozillaFoundation/mofo-devops/issues/169

[2015-09-14 09:08] adamlofting commented on #544
At this point in time, splitting focus for @alicoding @ScottDowne and @jbuck on the new donation forms makes it unlikely we'll ship in time for German fundraising snippet.

@valianttry as these are both your projects, I think it's your call which gets priority.

I think the most viable option to run both campaigns is:

* P1 the petition work so devs can properly focus and solve the open questions

[2015-09-14 13:33] LauraReynal commented on #553
Pasting here an email with @kristinashu for the bigger part of the work (post-MVP)

http://www.washingtonpost.com/sf/wp-sports/2013/02/27/cyclings-road-forward/?hpid=z1
http://sports.espn.go.com/espn/eticket/story?page=Dock-Ellis
http://www.nytimes.com/interactive/2014/us/the-way-north.html#p/39
http://www.nytimes.com/newsgraphics/2013/10/13/russia/?partner=rss&emc=rss&smid=tw-nytimesworld
http://

[2015-09-14 13:38] LauraReynal opened #564 "Create the research website"
Note: This is the second step following the MVP tracked here https://github.com/MozillaFoundation/plan/issues/553

Team:
Lead Design @kristinashu
Quality @cassiemc
Lead Dev TBD
Consulted @LauraRey

Goal: Bring the research reports online

[2015-09-14 13:39] LauraReynal commented on #564
Pasting here an email with @kristinashu for the bigger part of the work (post-MVP)

http://www.washingtonpost.com/sf/wp-sports/2013/02/27/cyclings-road-forward/?hpid=z1
http://sports.espn.go.com/espn/eticket/story?page=Dock-Ellis
http://www.nytimes.com/interactive/2014/us/the-way-north.html#p/39
http://www.nytimes.com/newsgraphics/2013/10/13/russia/?partner=rss&emc=rss&smid=tw-nytimesworld
http://

[2015-09-14 13:47] LauraReynal commented on #564
@kristinashu
- I love the video in this one : http://pitchfork.com/features/cover-story/reader/panda-bear/
I have some videos we might be able to use

- Love the full map in this one http://www.nytimes.com/newsgraphics/2013/10/13/russia/?partner=rss&emc=rss&smid=tw-nytimesworld and the way the map follows you on the left.
- Also love the embeded picture diaporama in this one.

- I like the quotes

[2015-09-14 14:30] jgmac1106 commented on #553
Here is an example of how some NGOS in the education place handle the
research page...often called publications:
http://edexcellence.net/publications
http://www.edutopia.org/about/lucas-education-research/publications
http://connectedlearning.tv/case-studies
http://dmlhub.net/publications/

On Mon, Sep 14, 2015 at 9:33 AM Laura de Reynal <notifications@github.com>
wrote:

[2015-09-14 16:58] valianttry commented on #544
@adamlofting your strategy seems legit with a couple tweaks (see below). The advocacy campaign is actually quite important, so this is a hard call and it's unfortunate we don't have the resources to handle both.

Here's what I would suggest, basically to buy more time to get fundraising tickets cleared:
* Launch the fundraising campaign using our old snippet and old BSD forms (to get a baseline).

[2015-09-14 17:10] valianttry commented on #544
Here is BSD's recommended path for double opt-in:

Hi Andrea

The approach we recommend for double opt-in is to originally ask people to complete a form which doesn't opt them in:

http://tools.bluestatedigital.com/kb/article/how-do-i-build-a-signup-form-that-doesnt-opt-users-in-to-my-database

then, have an email thank you, which contains a link to another form which does.

Best

Jo

[2015-09-14 17:48] ScottDowne commented on #544
I did get double opt in working. Two check boxes in the form. Wasn't that the idea?

You can sign the petition and not sign up for mailing list. Or you can do both. Is that all we needed?

[2015-09-14 17:52] valianttry commented on #544
@ScottDowne no, "double opt in" refers to user actions for opting into an email list. The steps would be they 1) check the box to opt in; then 2) receive an email with a special URL they must click to confirm they opted in. Both steps are required before we can begin sending them email. This is the legally required setup for Germany (it's the law). This is in addition to the privacy policy checkbo

[2015-09-14 18:00] ScottDowne commented on #544
The legal worry here, the reason the law exists, is so people cannot sign up other people to mailing lists?

So ideally the email opt in link has a one time token involved, so only the person with access to that email can sign up?

If so, I don't think another form would cut it, it would functionally be as exploitable as the initial form, would need a token based system.

[2015-09-14 18:35] valianttry commented on #544
@ScottDowne are you saying BSD's hacked solution is actually not helpful to us or end users?!!!  :stuck_out_tongue:

[2015-09-14 19:08] ScottDowne commented on #544
@valianttry question, we still need the second checkbox right? Along with the email confirmation?

So if they don't select that second checkbox, they never get an opt in email with the confirmation link?

[2015-09-14 19:28] LauraReynal commented on #553
@kristinashu here is my very first attempt at a wireframe for an MVP. I guess I would need to do it with real proportions ? We can review it during our d-buds tomorrow !

In order of appearance:
- Image
- intro text
- Reports (Title + clickable picture)
- Web Journey (Title + intro)
- Image
- Get in touch (contact and social or other footer we use)

![img_20150914_202427](https://cloud.githubuserc

[2015-09-14 19:30] LauraReynal commented on #553
Ps: I am glad we have 6 reports - it will make aligning easy.
Ps2: the reports arent aligned but when on the computer, I will align them better.

[2015-09-14 19:36] valianttry commented on #544
The privacy policy checkbox must exist on every Mozilla form (and it must be selected to capture and store any user data).
The email optin checkbox: It is NOT required to be checked. If it is voluntarily checked an automated confirmation email is triggered. If they never check the box, no email is triggered.

[2015-09-14 19:37] ScottDowne commented on #544
Sweet, I think I got it all now.

[2015-09-14 20:55] kristinashu commented on #553
@LauraReynal looks great!

Yeah, don't worry about alignment at this stage. The 6 reports work well but we should plan for future reports and also for other responsive states (as the screen size gets smaller the reports can stack to 2 across and then just 1 across on mobile).

For each report I think we could have: an image, short description, link to PDF, and a link to Flickr.

For the Web Journe

[2015-09-14 21:56] ScottDowne commented on #544
Another question. I have only ever created complex/disruptive snippets.

@adamlofting  For something that's just an icon and some text, a dev is not required? We can just give the text and icon to the snippet team and they load it into the default snippet template?

@valianttry Opt out is only a priority for fundraising, right?

[2015-09-14 22:13] valianttry commented on #544
@ScottDowne i just pinged the person who would know in this ticket: https://github.com/mozilla/donate.mozilla.org/issues/272

[2015-09-15 09:51] adamlofting commented on #544
That's my understanding, but it's worth checking. I think that content (text, image, url) just gets dropped into the default snippet template.

[2015-09-15 13:25] LauraReynal opened #565 "Create an umbrella page / website about our fellowships"
Goal: create an umbrella page to guide visitors through our different fellowship programs

http://fellows.mozilla.org/

would be a place to describe our work, our mission and link to:
- Science Labs fellowship program
- Advocacy
- Open news
- Design Research (TBD)
- Others
...

Thoughts ? @chrislarry33 @brettgaylor @thornet @kaythaney @Melechuga
@HPaulJohnson

[2015-09-15 13:29] chrislarry33 commented on #565
May want to open up dialogue with MDN to about their fellowship program.

[2015-09-15 13:32] LauraReynal commented on #565
This might be a huge work, but it would be harmonious to have something like

fellows.mozilla.org/advocacy
fellows.mozilla.org/design
fellows.mozilla.org/news
fellows.mozilla.org/MDN

etc.

Just wanted to throw this out there for discussion.

[2015-09-15 15:06] ldecoursy commented on #562
@simonwex Can you share an update on next steps please?

[2015-09-15 15:09] ldecoursy commented on #535
@LauraReynal Would you be free to join next week's MLN team call to share the proposal? It's on Wed at 4pm GMT

[2015-09-15 16:21] OpenMatt opened #566 "Write a 5-year "chronicle" retrospective about MoFo"
## Goal
* **Look back on the first 5 years of MoFo.** Focused on: why learning and leadership are the lifeblood of our community and what makes it great.
* **In the style of:** “a cover feature story in Wired/Atlantic/NY Times Magazine,” written by a journalist.
* **What it will look like:** a colorful, concise, broad but loosely structured 5-year retrospective follow-up to http://learningfreedoma

[2015-09-15 16:23] OpenMatt commented on #566
@benrito What's the first deadline for this work? Do we need a deliverable on this for Oct 15 board meeting [phase 2]? Or not until the December board meeting [phase 3]?

[2015-09-15 16:24] OpenMatt commented on #566
@benrito @KevZawacki are you guys taking the lead on sourcing and hiring a contractor for this? Who's job is that?

[2015-09-15 16:48] OpenMatt commented on #566
## First deadline for this work: Oct 6
For the Oct 15 board meeting, we need to be able to talk about:
* Our last 5 years of work
* What we learned / what impact we have had
* How that informs what we're proposing to do going forward

This is really the basic narrative. Mark and Ben and could white board some of this in Toronto. It's not that hard, but it needs to be good. And then post-board meet

[2015-09-15 16:52] OpenMatt opened #567 "Mine grant reports for impact stories"
## Goal
* comb through our last five years of grant reports to collect a list of achievements to fuel a) our Mozilla Learning plan, and b) 5-year MoFo retrospective story / chronicle https://github.com/MozillaFoundation/plan/issues/566
* we include great impact stories in these reports (e.g., Ford Web We Want grant report) but don't do enough to re-purpose / leverage them
* could even just be a li

[2015-09-15 17:26] bhuvanshri commented on #567
Yes, I will help @benrito on this while he is in Toronto

[2015-09-15 17:29] LauraReynal commented on #535
Folks,

The project is planned to take off on the 27th
- Indonesia : 28th-10th - focus on volunteer community
- NYC : 12-21th Oct - focus on Hive member audience

- We are using the research repo to track our to do lists
here https://github.com/MozillaFoundation/research/issues/67
and here https://github.com/MozillaFoundation/research/issues/66
If you are interested feel free to cc yourself, but i

[2015-09-15 17:29] #535 closed

[2015-09-15 17:30] LauraReynal commented on #535
The dates are in the webmaker calendar

[2015-09-15 17:33] KevZawacki commented on #566
@OpenMatt Ben and I have identified a likely writer — Christine Prefontaine — and will hopefully be chatting with her next week.

[2015-09-15 17:36] thornet commented on #566
I suggest we anchor the stories as people profiles, highlighting Mark and his legacy so far at MoFo, as well as other leaders in our networks and programs. Inspiration: the WIRED feature of Joi Ito and the Media Lab.

http://blog.crismanphoto.com/inventing-the-future-part-i-the-cover/

[2015-09-15 18:19] LauraReynal commented on #553
Next steps from our meeting
- Copy and images = Laura
- Wireframes = Kristina

[2015-09-15 18:23] secretrobotron commented on #544
Tracking on petitions.mozilla.org repo: https://github.com/MozillaFoundation/plan/issues/544

[2015-09-15 18:35] kristinashu commented on #553
Note, this is the framework referenced above https://www.flickr.com/photos/laura_nk/21214307385/in/album-72157657717613019/

[2015-09-15 19:03] bhuvanshri commented on #567
+ @metaphorista, are there other sources you would suggest we consider for this ticket?

[2015-09-15 21:56] benrito commented on #567
We’ve scheduled an initial block for Monday. Don’t think we’ll want to hire anyone to help with this at this stage.

[2015-09-15 22:02] cassiemc commented on #372
Here are pages 1-40, should be a decent structure now so editing the other sections goes a bit quicker. https://drive.google.com/a/mozilla.com/file/d/0BzfN9sXlOXt1VjRzS1ozQ1RjY3M/view?usp=sharing
@LauraReynal, eager to hear what you think.

[2015-09-15 22:07] hannahkane commented on #558
Need some guidance on this. @davidascher - what do you think is the most efficient way to prevent people from applying for Webmaker badges?

[2015-09-15 22:09] hannahkane commented on #557
First of two creative briefs is here: https://docs.google.com/document/d/1j3-E30ST3bYexK0gbN2rHGQnx2QJBBXN9sj-ZNJDNW8/edit

[2015-09-15 22:11] hannahkane commented on #556
One of the two new variations is currently running (the one where we automatically pop up the pledge). Results aren't yet conclusive, but so far it is doing better than the control.

[2015-09-15 22:12] hannahkane commented on #448
@simonwex - any update?

[2015-09-16 00:27] cassiemc commented on #567
Would be interesting to brainstorm this with the design team to see what format this could take. Happy to help set that up @OpenMatt if it sounds interesting to you, whenever you're ready.

[2015-09-16 05:23] davidascher commented on #558
1) find where the links are to old badge flow
2) remove them =)

--da

On Tue, Sep 15, 2015 at 3:07 PM hannahkane <notifications@github.com> wrote:

[2015-09-16 05:35] davidascher commented on #372
Looks great.

I just got the package from Laura w/ the first three reports, and one
comment about them is that they seem oversize given the amount of copy on
each page.  Type size seems really large and information density feels off
for so much printed weight.

Cassie -- thinking about this chicago report, any thoughts about whether a
less than 8.5x11 layout could work (without needing to relayout

[2015-09-16 09:52] LauraReynal commented on #372
@cassiemc thanks, looks great.
What do you think is the time estimate to publish it ? Let me know if I can help.

@davidascher @cassiemc yes, we messed up when printing the previous reports. They were designed to be smaller, but they got printed in A4.
If we do decide to print Chicago's edition, then we will do some tests and print in smaller dimension.

[2015-09-16 09:54] LauraReynal commented on #372
@cassiemc on page 8, the title "Chicago urban landscape" is a different style than the other titles.
It's the same level that "the Web journey as a framework" and others.

[2015-09-16 13:37] cassiemc commented on #372
Hey @LauraReynal let's look at the whole thing once it's all together, I was trying a few different headlines to see if the design might help highlight the rhythm of the content. I'm starting to understand the content structure much better now, so I'm excited about how different design treatments can help tell the story (need to balance that with consistency though, you're right). I'm planning for

[2015-09-16 14:48] LauraReynal commented on #372
@cassiemc ok for the titles, no problem. Feel free to do as you want. It's great !

@cassiemc Ok for the timeline. Would thursday EOD work for you ? This way we could ship it on friday with a blog post.

Printing:
We have printed them, and shipped many are in different offices. (Toronto, SF, NY, Portland, Vancouver, Berlin...) Also in the hands of some partners. Usually people dont print their own

[2015-09-16 16:07] benrito commented on #567
What we have talked about for a while is a refresh of mozilla.org/foundation <http://mozilla.org/foundation>, which is currently terrible.

A sort of governance and impact reporting brochure site, which it’s amazing that we still don’t have.

I actually think some advice from design would be helpful to keep in mind as we capture the information.

For instance, could we imagine a grant reporting te

[2015-09-16 16:14] HPaulJohnson commented on #567
RE: refresh of mozilla.org/foundation, there was a complete overhaul of the entire mozilla.org site planned earlier this year but that's been put on the shelf until early 2016. In the mean time, we are in the process now of at least updating the copy on that page.

[2015-09-16 16:17] benrito commented on #567
Awesome, good to know—is there a ticket to track that work?

[2015-09-16 16:19] HPaulJohnson commented on #567
Yes, copy update happening here: https://github.com/MozillaFoundation/plan/issues/378

Larger redesign project is being led by MoCo with us as a stakeholder (and isn't in github).

[2015-09-16 16:24] benrito commented on #378
I would advocate for quickly refreshing this page and not worrying too much about the larger mozilla.org redesign—the content we'll need will be valuable now and in the future.

Would also advocate for revisiting the copy, as our world has changed from April when it was written.

Perhaps we can open a new ticket for the next heartbeat, focused on a really simple pull request that doesn't spend too

[2015-09-16 16:32] HPaulJohnson commented on #378
Here's the most recent copy that Kevin is working to get approved for an update to make sure we are looking at : https://docs.google.com/document/d/1yXbtmU7Cr3P9lR7MUm_p8389uVYDpkaFBY0B7pXVZdA/edit

As for design, I'm not sure we have much/if any room for design changes to that page as it would require support from MoCo.

The updates to this page have been blocked (for various reasons) for a very

[2015-09-16 19:51] metaphorista commented on #567
I'd love for us to track and share how our lives on beyond the project period.
This is an old article, but this kind of data would be incredibly useful describing the sustained impact of our work (especially this quote "  The fellows have created more than 50 software projects, including the popular Tabula (a tool for taking data out of PDFs), which is used by more than a dozen news organizations

[2015-09-16 19:59] metaphorista commented on #567
Also wondering if it makes sense to use MSC as the structure of telling our story.
illustrative impact on Hive a student https://www.youtube.com/watch?v=sclPDZglZ-g
Illustrative impact on educators https://www.youtube.com/watch?feature=player_embedded&v=L2bvc7o5ipo
combined with this sort of data https://blog.webmaker.org/infographic

[2015-09-16 20:38] metaphorista commented on #567
FWIW - set up google doc of impact stories I use - it's https://docs.google.com/a/mozilla.com/document/d/1oByebPoObfsEVJrhsdc0qrIhZH5e9lCcHJv_tDGqzfY/edit?usp=sharing

[2015-09-16 21:21] KevZawacki commented on #378
I'm speaking with Mark this Friday about reshaping the [draft copy](https://docs.google.com/document/d/1yXbtmU7Cr3P9lR7MUm_p8389uVYDpkaFBY0B7pXVZdA/edit) and getting it ready for mozilla.org/foundation.

[2015-09-16 21:49] hannahkane commented on #558
I don't know how to find the links to the old badge flow. Can somebody grep this, @simonwex?

[2015-09-16 21:51] hannahkane commented on #531
Useful meta ticket: https://github.com/mozilla/teach.webmaker.org/issues/1267

[2015-09-16 21:56] chrislarry33 commented on #567
@OpenMatt this might be a good thread to re-paste that article you shared a few months ago on the power of stories as viable metrics

[2015-09-16 21:58] cassiemc commented on #372
@LauraReynal What do you think about breaking out the deep dive on teenagers and educators into a separate pub? I made it through another 50 pages today (will upload later), but tomorrow is busier for me so I don't see getting it done by Thursday, otherwise.

[2015-09-17 03:20] cassiemc commented on #372
Pages 1-100: https://drive.google.com/a/mozilla.com/file/d/0BzfN9sXlOXt1OTRpU2xTenNjbFk/view?usp=sharing

[2015-09-17 03:24] cassiemc commented on #372
(Note: none of the page headlines are correct; I have a running list of things to go back and do at the end, including final typesetting, checking consistency, etc)

[2015-09-17 04:05] chrislarry33 commented on #562
@simonwex let us know how to proceed?

[2015-09-17 07:12] LauraReynal commented on #372
Im not unsure I understand "pub" = publication ? you mean breaking out the graphics or putting them into other reports?

I would leave them as such for this one. When we bring the reports online and build the research website, I was thinking about a section for personas/segmentation'/journeys etc.

[2015-09-17 07:19] LauraReynal commented on #372
wow the design is really beautiful @cassiemc :blush:

One thing im wondering is this page; the warm yellow from the title and the acid yellow from snapchat are hard to look at together.
<img width="1295" alt="screen shot 2015-09-17 at 08 14 53" src="https://cloud.githubusercontent.com/assets/8261945/9927239/cbcee2d4-5d14-11e5-9b28-4670ad24e19e.png">

I wonder if we can either change the color of t

[2015-09-17 12:04] KevZawacki commented on #563
Per our 9/14 meeting — MozFest's messaging goals and key messages: https://etherpad.mozilla.org/mozfest

[2015-09-17 12:27] KevZawacki opened #568 "Create MozFest social graphics"
Per the [design asset plan](https://goo.gl/2alpQg) for MozFest, create one Twitter and one Facebook graphic for MozFest promotion.

+ Should include date (Nov. 6-8) and location (London)
+ Can draw on/be inspired by our [trove of MozFest photos](https://www.flickr.com/photos/mozillaeu/albums)
+ Possible copy: "Shape the future of the Web at MozFest 2015."

Aim for Oct. 5 completion? @cassiemc @HPa

[2015-09-17 13:22] cassiemc commented on #372
By pub I do mean publication. Like a special topic insert – "Deep dive on teenagers" with or as a separate document "Deep dive on informal educators." In my opinion the document is way too long as is, I worry about it being slightly repetitive, and some of the deeper points being lost in the mass. Those seem like sections ripe for pulling out as separate documents we can release later.... will get

[2015-09-17 14:32] cassiemc commented on #566
cc @cassiemc

[2015-09-17 15:23] cassiemc commented on #372
@LauraReynal @KevZawacki Is there a reason why 'dana boyd' isn't capitalized in the doc, or just an oversight?

[2015-09-17 15:39] KevZawacki commented on #372
@cassiemc It's intentional — she styles her name that way.

[2015-09-17 15:54] cassiemc commented on #372
huh, glad I asked. Thanks @KevZawacki!

[2015-09-17 16:19] LauraReynal commented on #372
http://www.danah.org/name.html interesting :smile: @cassiemc

[2015-09-17 17:15] OpenMatt commented on #566
@KevZawacki great! so are we blocked on progress until she is hired and on board? Anything else we can / should do before then?

[2015-09-17 17:15] OpenMatt commented on #566
+1 @thornet

[2015-09-17 17:19] OpenMatt commented on #567
* @cassiemc design work would be much appreciated. Esp: to highlight human element. But the ticket for that is this: https://github.com/MozillaFoundation/plan/issues/566
* This ticket is about mining stories that will feed into that article / chronicle piece

[2015-09-17 17:21] OpenMatt commented on #567
@chrislarry33 @metaphorista : "Most Significant Change" = a way to turn human narratives into a methodologically rigorous form http://betterevaluation.org/plan/approach/most_significant_change
* key question it raises is: what's the right template to use for these stories? To get maximum methodological bang for buck.
* @metaphorista : proposals? Already baked into your google doc?

[2015-09-17 17:22] benrito commented on #566
We’re not blocked on progress; we still have to flesh out a project plan and an interview schedule.

I’ve gotten started on a tracker document to support this work: https://docs.google.com/spreadsheets/d/1Kai28T3rdKqT6fNxqY7InBQy1WJA701lKjxYs50wpRM/edit#gid=0

What’s this group’s preference for getting more granular on the work. Sub-tickets? Conversation in this thread?

[2015-09-17 17:34] KevZawacki commented on #566
This thread works for me. If it starts to get unwieldy, we can splinter into smaller tickets.

[2015-09-17 22:14] hannahkane commented on #557
Second creative brief is here: https://docs.google.com/document/d/1qnt9Pr7SDrW5lbg7Io10iQ-iJ1PmmB9kfSQc_2g5qkQ/edit?usp=sharing

[2015-09-17 22:15] hannahkane commented on #556
For those who are curious, additional variation designs are here: https://redpen.io/p/cm2c1c9eb67aa9430e

[2015-09-17 22:16] hannahkane commented on #555
Design/UX work in progress is here: https://redpen.io/jn4056df4f0d941bd9

[2015-09-17 22:27] cassiemc commented on #372
A few bits here and there left to do (section titles, TOC and a couple photo edits), but here are all the spreads (woohoo!). @LauraReynal could you review for any blockers wrt to content? @lovegushwa could you do a design review for me? Doesn't need to be **tooooo** thorough.

@davidascher @KevZawacki you might be interested too.

https://drive.google.com/a/mozilla.com/file/d/0BzfN9sXlOXt1YlZpa3U5

[2015-09-17 22:40] lovegushwa commented on #372
@cassiemc yay, sure thing! :)

[2015-09-17 23:56] lovegushwa commented on #372
@cassiemc  @LauraReynal R+

Looks great Cassie, I love the new quote styles and how you have clarified much of the content.
Most of the comments are about orphans (which is totally the last thing to fix in any doc). You can ignore what seems trivial, also there could be different schools of though about orphans on headlines so do as you think best! :)

https://drive.google.com/a/mozilla.com/file/d

[2015-09-18 08:47] LauraReynal commented on #372
@cassiemc  thanks this looks great :blush:

R+ for content.

The only thing I noted is that page 98 is the only quote of the report who is full page but different than the other full page quotes. Can it be the same as page 73 for example?

[2015-09-18 13:13] cassiemc commented on #372
Good catch, @LauraReynal! @lovegushwa thanks for the R, should've mentioned I hadn't done typesetting yet! Thanks for the comments, immensely helpful :)

[2015-09-18 18:10] cassiemc commented on #372
Ok, all done! Final pdfs.

* For online (lower res): https://drive.google.com/a/mozilla.com/file/d/0BzfN9sXlOXt1ZEN4eDlVTzcwa1E/view?usp=sharing
* For printing:
https://drive.google.com/a/mozilla.com/file/d/0BzfN9sXlOXt1U3NyNWJYcVdpTXc/view?usp=sharing

Let me know if there is anything outstanding, otherwise should be good to publish @LauraReynal.

The complete folder with the indesign doc is here

[2015-09-18 18:11] simonwex commented on #562
Hey folks, I just finished TRIBE and am heading home this aft. I'll find some time to write in a meaningful update this eve.

[2015-09-18 19:11] cadecairos opened #569 "Deprecate Webmaker Sites And services"
Checklist based on https://github.com/MozillaFoundation/mofo-devops/issues/182 and https://github.com/MozillaFoundation/mofo-devops/issues/189

1. Deprecation Preparation
  - [x] [Create & deploy deprecation page](https://github.com/MozillaFoundation/mofo-devops/issues/187)
2. Webmaker Profile
  - [x] Disable access to Profile via webmaker.org configuration option
  - [ ] [Shut down Webmaker Profi

[2015-09-18 20:59] cassiemc commented on #566
@OpenMatt The design brief might be helpful to glance at at this point. If you're thinking forward to design work, we'll need that to get started. http://bit.ly/mozdesignbrief

[2015-09-18 22:23] xmatthewx commented on #524
Details of this work is now tracked in https://github.com/MozillaFoundation/plan/issues/569

[2015-09-18 22:23] #524 closed

[2015-09-18 22:24] xmatthewx commented on #569
Excellent. So great to see this work in motion with so much clarity.

Notify @HPaulJohnson if we need to communicate anything different to users. Right now, that doesn't seem like the case.

cc @hannahkane

[2015-09-21 14:34] cadecairos commented on #561
Can we get some design time put in on mozilla/teach.mozilla.org#1265 ? I'm hoping to get started on the implementation ASAP

[2015-09-21 14:38] hannahkane commented on #561
Hey @cadecairos - will bring this up at Teach stand-up today and see if we can prioritize. If you want to attend, it's at 3:30pm ET in my vidyo room.

[2015-09-21 14:40] cadecairos commented on #561
Thanks @hannahkane, I'll try to join!

[2015-09-21 14:40] cassiemc commented on #534
To clarify, I meant the design of the badges themselves would be good for a contractor if we are doing custom work. I'm not sure where @kristinashu has gotten in that process, though. @hannahkane we also have an intern starting Monday Sept. 28 and this could be a good piece for her, but I need to understand the timelines so I can coordinate with other work.

[2015-09-21 14:48] cassiemc commented on #483
@Melechuga Is it possible to make this new work a new design ticket with a tighter scope? Finding this one quite sprawling and difficult to get the gist of what needs to be done.

Also a heads-up, we need a completed design brief to start new design work. You can make a copy of the template here if you want to get started, or once a designer is assigned they can also go through it with you (I shou

[2015-09-21 17:02] thornet commented on #566
@benrito using this tix for tracking also works for me

[2015-09-21 17:44] LauraReynal commented on #372
After 106 comments, I can't believe we are closing this ticket !!!

****HUGE HUGE THANKS**** to everyone here who helped ! this was a big project and I am very grateful ! Thanks for the hard work :santa: :space_invader: :tulip: :flags: :dancer: :bouquet: :sun_with_face: :sunflower: :dancers: :candy: :baby: :bomb: :diamond_shape_with_a_dot_inside: :cat: :joy_cat: @cassiemc @lovegushwa @KevZawacki @

[2015-09-21 17:44] #372 closed

[2015-09-21 19:04] simonwex opened #570 "Create high-level services document"
TODO:
 * Fully flesh out services names and descriptions
 * Create ERD [https://en.wikipedia.org/wiki/Entity%E2%80%93relationship_model] for
  * id.wm.o
  * Directory Service
  * publish.wm.o
  * api.wm.o
  * ...
 * Create theoretical sequence diagram for a few use-cases
  *
 * Circle back with Hannah

### Directory Service

Our primary hypothesis is that community members will find value in seein

[2015-09-21 19:05] simonwex commented on #570
Notes that need expanding from teach roadmap meeting:

[code]

[2015-09-21 19:15] brettgaylor opened #571 "Open Web fellows - close host org and update mobile"
On October 9th we'll close applications for host orgs so will need to take down the open call.

We've also discovered some issues with the site on mobile that we'd like to fix at the same time.

Driver: @brettgaylor

[2015-09-21 19:15] brettgaylor commented on #483
Closing in favour of this:

https://github.com/MozillaFoundation/plan/issues/571

[2015-09-21 21:17] hannahkane commented on #534
Seems like @kristinashu has gotten pretty far! There might be some good Thimble stuff that would be a good learning experience for an intern.

[2015-09-21 21:31] hannahkane commented on #569
+1 excellent to have this comprehensive list!

[2015-09-21 23:23] kristinashu commented on #553
@LauraReynal here's where I'm at with the wireframes https://redpen.io/p/oj84c5335720112e06
Talk to you tomorrow!

[2015-09-22 00:53] simonwex commented on #553
RE: research.mozilla.org – we can try, when you're ready work with @jbuck to get the cname set up.

[2015-09-22 12:27] xmatthewx commented on #553
Has this project utilized the project brief? It might reveal a few things.

[2015-09-22 13:43] OpenMatt commented on #566
from @chrislarry33 :This is very rich. Pomax on thimble (pride. patience, org knowledge galore)
http://pomax.github.io/1442700129236/mozilla-released-a-tool-i-am-excited-about

[2015-09-22 13:47] jgmac1106 opened #572 "Page break on Landscape Pages of Chicago Report"
More of a personal preference than an issue but for the Chicago Report can you break up the pages for the Online PDF rather than using the "print preview." It makes reading and annotating easier.

![page break](https://cloud.githubusercontent.com/assets/10534566/10020070/f302a25c-610e-11e5-833b-5eb7ae254e0e.png)

[2015-09-22 14:11] LauraReynal commented on #572
Ahhhh I see.

This is intentional. I think it helps the structure and perception of the information.
Also, I use it a lot in the past for having text on the left and picture on the right to illustrate the point.

But I know @cassiemc also wanted to break the spreads.

[2015-09-22 14:25] xmatthewx commented on #525
I'm going to press pause on this, pending planning that will completed during our work in NYC. Moving issue to the backlog.

[2015-09-22 16:02] cassiemc commented on #572
Page by page is a good idea for online viewing. Readability trumps context in this case, and the redesign broke out the pages so they were still sensible page-by-page. I've uploaded new files so this should be resolved when @LauraReynal updates the links, via https://github.com/MozillaFoundation/Design/issues/96

[2015-09-22 16:02] #572 closed

[2015-09-22 17:08] cassiemc commented on #572
@jgmac1106 I lied – @LauraReynal and I decided to tackle a page-by-page design in the next report, as this one has some layout concepts that tend to break without the spread view. It'll be top priority for next report though!

[2015-09-22 17:11] cassiemc commented on #571
@brettgaylor @Melechuga Does this need design?

[2015-09-22 17:57] LauraReynal commented on #553
Currently chatting with Kristina, we are thinking Mozfest would be a good and important milestone.

- Goal: Have the page live by mozfest
  We propose thursday 29th for launch.

Tentative schedule
- [ ]  Wireframes done by Friday 25th September
- [ ] Copy done by Tuesday 29th of September
- [ ] Kristina will show first round of comps on the October 2nd
- [ ] Refine and revision
- [ ] Approved by t

[2015-09-22 23:46] kristinashu commented on #553
@LauraReynal I've updated the wireframes https://redpen.io/p/oj84c5335720112e06
Web Journey section now looks more like the pdf version and I've added a 'learn more' link to the Web Journey intro (will link to Chicago report).

[2015-09-23 14:43] hannahkane commented on #534
Moving this to the next heartbeat. We've done what we can, but now we're stalled on hiring Souktel and needing to understand if we can move forward with new badge designs, or if we have to stick to the existing design concepts. /cc @davidascher @cassiemc @simonwex

[2015-09-23 14:53] hannahkane opened #573 "Design Web Lit Map v2.0"
- [ ] https://github.com/mozilla/teach.mozilla.org/issues/1268

Needs requirements, direction from @anmechung. Perhaps we should complete a [Design Brief](https://docs.google.com/document/d/1H4rDTT7zdvOFhGlgMDIuRLlTRlAxMsU_-mUehv_iEZU/edit)?

[2015-09-23 16:35] bhuvanshri opened #574 "Benchmarks"
#### Roles
* Project manager: @openmatt
* Decision-maker: @msurman
* Accountable: @bhuvanshri
* Consulted: @geroter

File to track the process: http://mzl.la/benchmarks

### Orgs to benchmark
for October board meeting:

P1
- [x] Engineers Without Borders: http://mzl.la/EWB
- [x] World Economic Forum: https://docs.google.com/a/mozilla.com/document/d/17ml-BxvUiybetkE5SuC5sUWS3kv5gvqh-uPO0h-YQmA/edit

[2015-09-23 16:37] bhuvanshri commented on #574
Cc: @OpenMatt, @benrito, @msurman @chrislarry33 @davidascher @thornet

[2015-09-23 17:24] ldecoursy commented on #562
Checking in @simonwex

[2015-09-23 17:45] OpenMatt commented on #566
@benrito what's the next step here? status? anything I can do to help?

[2015-09-23 19:09] benrito commented on #566
We’ve been populating all the tabs in

https://docs.google.com/spreadsheets/d/1Kai28T3rdKqT6fNxqY7InBQy1WJA701lKjxYs50wpRM/edit#gid=1919120141

Feel free to pitch in?

Looking to schedule a Ben/Kevin meeting sometime Friday to finalize the roadmap in tab #2. Let us know if you want to join.

Bad news: our preferred writer may not work out, but we’re looking for alternates.

[2015-09-23 20:09] OpenMatt commented on #566
paging Dr. @brettgaylor -- I think he has ideas?

[2015-09-24 15:51] LauraReynal commented on #564
Notes from discussion with @davidascher
 - Let's look at options that will enable us to update the site very easily such as Wordpress. Something that would let me add posts and updates without requiring design / engineering
- We could work on creating our own template on platforms such as wordpess or other.
- Idea to use gitbook for bringing the reports online - needs discussion
- We might not hav

[2015-09-24 16:03] LauraRey commented on #564
Hi all,

I think you have the wrong Laura Rey.  While I do teach web programming
at a university and maintain several content management systems,
including a large one for one of the ministries in the province of
Ontario, I think perhaps you have the wrong email address.

On a different note, Wordpress is nice option, but may I suggest Joomla
as well?  The installation is a breeze and it is easily

[2015-09-24 16:28] cassiemc commented on #564
Sorry @LauraRey! Have updated the first comment to reflect the right Laura :)
Design brief is here, @LauraReynal http://bit.ly/mozdesignbrief

[2015-09-24 17:01] bhuvanshri commented on #564
Inserting myself here just for a bit to provide some more examples of research repository sites you could look at:
Deloitte: http://dupress.com/?icid=duplg (I like this. Responsive, looks modern)
McKinsey: http://www.mckinsey.com/insights/mgi/research (Better than Deloitte depending on how much of the content you want to show)
Personally dislike the next two, but here they are anyway:
BCG: https:/

[2015-09-24 17:02] LauraReynal commented on #564
thanks @bhuvanshri  this is great to benchmark :)

[2015-09-24 17:43] brettgaylor commented on #566
One person I might recommend is Julia Lipscomb. She interviewed me for The Awl and is a freelancer, based in NYC.
http://www.theawl.com/2015/04/track-and-yield

[2015-09-24 17:46] cassiemc opened #575 "Update Demos info"
We need to update the info at the top of this page: http://book.webmaker.org/demos.html

- New etherpad: https://etherpad.mozilla.org/
- New Vidyo room: #MoFo
- New Public Vidyo link: http://bit.ly/mofodemos
- Remove the calendar link
- waiting on a Service Now ticket for a new airmo link

The text below re. demos structure can stay the same.

@simonwex @OpenMatt What's the easiest way to do this?

[2015-09-24 18:02] bhuvanshri commented on #574
Cc @brettgaylor - Based on our last conversation about looking at some other orgs and how they think about leaders, I assume you would like to track this ticket as well.

[2015-09-24 21:25] cassiemc commented on #303
We've got some other improvements in the pipeline including updates to URLs and Vidyo rooms. I'll plan to send an all@mofo email about the changes soon.

[2015-09-24 23:38] simonwex commented on #575
@cassiemc super easy to change, let me know when you have the updated info. If you feel comfy, you can change it here:

https://github.com/MozillaFoundation/book.webmaker.org/edit/master/demos.md

[2015-09-24 23:55] cassiemc commented on #575
For sure, I can definitely do that. :+1: Thanks for the link!

[2015-09-25 00:00] HPaulJohnson commented on #378
@KevZawacki any update on this?

[2015-09-25 03:20] ldecoursy commented on #521
Next cohort is identified, planning for initial on-boarding call within the next few weeks.

@amirad ok to close?

[2015-09-25 03:24] ldecoursy commented on #520
RC's have been helping us vet/interview existing backlog of Club Captains. Interview responses are being logged.

@amirad Can you add more detail so we can close this ticket?

[2015-09-25 11:45] KevZawacki commented on #378
@HPaulJohnson Finishing up revisions based on Mark's feedback -- will have a next draft ready to share later today.

[2015-09-25 13:38] OpenMatt commented on #567
* Moving this to Oct 9
* @bhuvanshri : what is the status of this work?

[2015-09-25 13:39] hannahkane commented on #561
Design is done, but will likely need to wrap this up in the next heartbeat.

[2015-09-25 13:39] OpenMatt commented on #566
@benrito helpful?
* Moving to Oct 9

[2015-09-25 13:39] OpenMatt commented on #558
@simonwex question for you here.
@hannahkane move to next heartbeat?

[2015-09-25 13:39] hannahkane commented on #558
We didn't do this. Could still use help determining where the links to the old badge flow currently exist.

[2015-09-25 13:40] OpenMatt commented on #555
@hannahkane status?

[2015-09-25 13:40] OpenMatt commented on #548
status of this one?

[2015-09-25 13:40] OpenMatt commented on #529
@hannahkane status? [[flagged!]](http://plzkthx.herokuapp.com)

[2015-09-25 13:41] hannahkane commented on #556
Done, though we will continue to test new variations in the next heartbeat.

[2015-09-25 13:41] #556 closed

[2015-09-25 13:41] OpenMatt commented on #527
@hannahkane status?

[2015-09-25 13:41] hannahkane commented on #557
Done!

[2015-09-25 13:41] #557 closed

[2015-09-25 13:41] OpenMatt commented on #483
@brettgaylor I'm closing this one as per your comment

[2015-09-25 13:41] #483 closed

[2015-09-25 13:42] hannahkane commented on #555
UX/UI changes are done, but "Our Submission Process" page has been moved to Oct 1, per MozFest team's request.

[2015-09-25 13:43] OpenMatt commented on #482
Moving to Oct 23 Heartbeat. @secretrobotron and I are hoping to get something done on this for MozFest. 3-year plan is eating up all my time right now.

[2015-09-25 13:43] hannahkane commented on #554
Lots of progress this heartbeat, but this work will span the next heartbeat as well.

[2015-09-25 13:43] OpenMatt commented on #448
@simonwex status?

[2015-09-25 13:44] OpenMatt commented on #378
thanks guys

[2015-09-25 13:44] hannahkane commented on #531
I'm closing this ticket, because lots of good work has been done and this ticket is no longer usefully descriptive.

[2015-09-25 13:44] #531 closed

[2015-09-25 13:45] OpenMatt commented on #562
@simonwex status?

[2015-09-25 13:45] hannahkane commented on #529
This ticket is a dupe of #554

[2015-09-25 13:45] #529 closed