[2015-09-25 13:46] hannahkane commented on #527
Didn't get to this. Moving to next heartbeat.

[2015-09-25 13:46] OpenMatt commented on #559
@xmatthewx status?

[2015-09-25 13:47] OpenMatt commented on #546
@adamlofting status?

[2015-09-25 13:47] OpenMatt commented on #545
@xmatthewx status?

[2015-09-25 13:47] OpenMatt commented on #544
@secretrobotron status? [[flagged!]](http://plzkthx.herokuapp.com)

[2015-09-25 13:48] OpenMatt commented on #543
@xmatthewx status?

[2015-09-25 13:55] OpenMatt opened #576 "5-year history of MoFo" poster"
#### Goal: give a visual summary of MoFo's history and key accomplishments over the past 5 years.
draft from @benrito : [timeline -- infographic.pdf](https://github.com/MozillaFoundation/plan/files/8808/timeline.--.infographic.pdf)

#### Roles
* Project manager: @openmatt
* Decision-maker: @msurman
* Pulling together fodder / grist for Mark: @benrito @bhuvanshri
* Consulted / informed: (please add

[2015-09-25 13:58] OpenMatt commented on #576
For the Oct 14 board presentation, we'll start with 1 - 3 slides of history.
- [ ] 1) What's happened over the last 5 years? (1 - 3 slides) (+ supporting one pager?)
- [ ]  2) This planning process

More detail: https://etherpad.mozilla.org/roadmap
Overview of planning process: https://wiki.mozilla.org/Learning/About

#### Overall narrative arc:
* History
* Achievements
* Impact
* Actions
* Leader

[2015-09-25 14:03] OpenMatt commented on #576
Next step: @benrito @bhuvanshri : we should:
1) reference other tickets here (like: Chronicle)
2) make sure we're clear on what Mark actually needs / doesn't need on this for the board deck

[2015-09-25 14:09] OpenMatt opened #577 "Leader Stories"
#### Goal: Collect a highlight reel of leadership development impact stories for the board deck.
* Showing how the Mozilla Foundation's past 5 years of work have impacted individuals, organizations, and the world.
* Goal is to produce about 10-12 great stories. So that Mark can pull about 5. Using the criteria and guidelines below.
* Grist is gathered in this spreadsheet: http://mzl.la/stories

##

[2015-09-25 14:13] jgmac1106 commented on #558
https://webmaker.org/badges/webmaker-super-mentor
https://webmaker.org/badges/webmaker-mentor

This seems to be the pathway I found. I kept trying different words in the
URL and you eventually hit badges with a workflow.

On Fri, Sep 25, 2015 at 9:40 AM hannahkane <notifications@github.com> wrote:

[2015-09-25 14:19] jbuck commented on #544
:tada: https://petitions.mozilla.org :tada:

[2015-09-25 14:21] OpenMatt commented on #577
### Three levels of impact
1) individuals (p1)
2)  organizations (p2)
3)  the world (p3)

### Diverse mix
Ideally, we want a diverse mix of:
* teaching / web lit
* advocacy
* tech / innovation

#### Bonus points:
* stories that include numbers / evidence (not essential -- just bonus). stuff that *statistically* shows participation. (e.g., Mozfest had x participants, y facillitators, etc.)
* a stor

[2015-09-25 14:21] OpenMatt commented on #577
Pulled from Chronicle / successful leaders / Octogenarian thread http://mzl.la/chronicle
Partners / orgs / Hive / MozFest org partners, etc
5 - 8 orgs we could choose from
Our network has grown stronger. A bunch of our practises have changed.
how does leadership dev work affect Mozilla as org and other orgs? describe that change.
 e.g, open work practises (open calls, etherpads, transparent planni

[2015-09-25 14:30] OpenMatt commented on #577
## Next steps
* We're gathering this stuff in too many places. We need to establish a single canonical home for this.
* @benrito suggests using this spreadsheet: http://mzl.la/stories
* @benrito @bhuvanshri can one you take the lead on making sure everything in the "Octogenarian" email thread is captured in that spreadsheet?
* @chrislarry33 @thornet @ldecoursy Learning Networks has solid gold on t

[2015-09-25 14:32] benrito commented on #577
Bhuvan, if you have time, I’ve compiled it all here: https://etherpad.mozilla.org/octogenarian <https://etherpad.mozilla.org/octogenarian>

Lynn @metaphorista has consulted with a few of the Learning networks folks to help here

[2015-09-25 14:38] amirad commented on #520
Yes! Emails with interview questions have been sent to all club applicants. For those that have responded, we have identified and talked through club process with them and they are pledging to run a club in their community. As a result, 100+ club captains are now logged in our system.

[2015-09-25 14:38] #520 closed

[2015-09-25 14:44] xmatthewx commented on #543
Shipped to play store for beta testing.

[2015-09-25 14:44] #543 closed

[2015-09-25 14:48] xmatthewx commented on #545
Launch debrief completed with @HPaulJohnson and team. Draft planning deck prepared. To be reviewed today with @davidascher today and shared out soon after. Elements of both will be included in program review next week. Gathering in NYC planned for week of Oct 12th.

[2015-09-25 14:49] xmatthewx commented on #559
Rolling over to next heartbeat to continue this work as we focus on planning process.

[2015-09-25 15:00] OpenMatt opened #578 "SWOT"
#### Goal: a crisp SWOT analysis our proposed offerings going forward
Overall board narrative: https://etherpad.mozilla.org/roadmap

#### Roles
* Project manager: @openmatt
* Decision-maker: @msurman
* Accountable: Sam Dyson (has taken lead on LD side) + others (need to add)
* Consulted: (please add)

[2015-09-25 15:02] valianttry opened #579 "Gear Store content and creative for autumn push"
Driver: @HPaulJohnson (is this right @valianttry?)
Dev: <-- is this needed?
Design: @natalieworth (with QA from @cassiemc)
L10N: n/a
Decision-maker: @valianttry
Consulted: @cassiemc @KevZawacki Todd Lido

--------

List of issues can be found here: https://github.com/MozillaFoundation/2015-fundraising/labels/Gear%20store

--------

Gear.mozilla.org has great new merchandise, but we haven't done mu

[2015-09-25 15:03] brettgaylor commented on #571
No

[2015-09-25 15:06] amirad commented on #521
Next round of RCs have been identified here: https://teach.etherpad.mozilla.org/clubsscratchpad (line 26-41). Email will be sent for on-boarding which will begin in next 1-2 weeks.

[2015-09-25 15:06] #521 closed

[2015-09-25 15:08] OpenMatt commented on #578
### Next steps

* Sam's etherpad link: https://kt.etherpad.mozilla.org/LD-wg-SWOT
* @davidascher has thoughts on adding SWOTs on "advocacy machine" and on "learning products" (@benrito says @valianttry  also thinking about this)
* @chrislarry33 has updates on next steps for SWOT on LD side http://mzl.la/folder (p2)
** by Wed 9/30 will have completed SWOTS for (1 google doc per)
*** Learning Resour

[2015-09-25 15:13] OpenMatt opened #580 "Tiers"
#### Goal: take the "tiers" work the LD group and others have been doing and ship it in shiny "2.0" version. So that Mark can pull from it for board deck.
2.0 version (new) http://mzl.la/tiers_updated
1.0 version http://mzl.la/tiers

### Roles
* Project manager: @openmatt
* Decision-maker: @msurman
* Copy-writer: @KevZawacki @HPaulJohnson
* Design: @cassiemc @lovegushwa
* Accountable: @brettgaylor

[2015-09-25 15:16] OpenMatt commented on #580
#### Next steps
* Cleaner copy: maybe Kevin / Paul can help with this?
* Better visuals: @cassiemc maybe we can assign a designer?
* Still some substantive content questions to work out
** The role of Network(s) and community(s)
** Refinement of Leadership types + actions
** Benchmarking with other orgs

[2015-09-25 15:20] OpenMatt opened #581 "Mozilla / MoFo Strategy Map graphic"
#### Goal: create a graphic that shows how MoFo fits into larger Mozilla strategy map

[2015-09-25 15:21] OpenMatt commented on #571
@simonwex please assign a dev? (@brettgaylor which dev worked on this in past?)

[2015-09-25 15:41] simonwex commented on #560
We worked on the deprecation of old services this heartbeat. Moving to next.

[2015-09-25 15:41] simonwex commented on #551
@cassiemc this is a public-facing site where we will share our engineering practices and staff bios.

[2015-09-25 15:42] simonwex commented on #551
Moving to next HB. Other priorities bumped this.

[2015-09-25 15:43] ldecoursy opened #582 "Curriculum updates"
- [x] Add [Back to School kit](https://github.com/mozilla/teach.mozilla.org/issues/1290) to teach.mozilla.org.
- [x] Add [Webmaper app modules](https://github.com/mozilla/teach.mozilla.org/issues/1264) to teach.mozilla.org.
- [x] Add expanded [Privacy kit](https://github.com/mozilla/teach.mozilla.org/issues/1353) to teach.mozilla.org
- [x] [Improve curriculum queue page](https://github.com/mozilla

[2015-09-25 15:45] OpenMatt commented on #574
From Mark via email:

George has offered to help w/ design and feedback on some of the benchmarking work. He might also be able to do one on one interviews w/ leaders from orgs in question where is knows people.

On practical first step idea in this: do a case on Engineers Without Borders, doing quick desk research into a template and then 'interviewing' George as an outside CEO.

Can you guys rea

[2015-09-25 15:45] simonwex commented on #448
SOW Signed by legal yesterday. Sending to Souktel for counter-signing.

[2015-09-25 15:47] simonwex commented on #562
I made minimal progress here because of some unforeseen events. I've got the styling and posts data exported and will see if the community team has time to take this over next week.

[2015-09-25 15:48] ldecoursy opened #583 "Develop plan for Web Lit Basics l10n campaign"
Document program design for l10n campaign/sprint to localize Web Lit Basics module into 5+ languages. Campaign would run from end of October through end of November, with opportunities to tie in and do some in-person sprinting at MozFest

* Decision-maker: @chrislarry33
* Accountable: @ldecoursy
* Responsible: @soapdog @chadsansing
* Consulted: @KevZawacki @amirad @hannahkane
* Informed: MoCo Part

[2015-09-25 15:49] OpenMatt commented on #480
status?

[2015-09-25 15:50] simonwex commented on #571
Who will be the driver on this? What sort of mobile issues? I think Alan can help here.

[2015-09-25 15:50] OpenMatt commented on #560
@simonwex but the milestone still says Aug 14?

[2015-09-25 15:50] OpenMatt commented on #526
yes.

[2015-09-25 15:50] #526 closed

[2015-09-25 15:51] geroter commented on #574
Adding myself!

[2015-09-25 16:00] ldecoursy opened #584 "Develop plan for unified MLN community engagement"
Develop plan to consolidate monthly MLN community calls, newsletters, etc.

Will likely include the following, each once per month:
* MLN community call (vs. individual Hive city monthly calls)
* Work-with-me hangout
* Tweet chat
* Newsletter

[2015-09-25 16:04] simonwex commented on #560
Thanks @OpenMatt I went back in time.

[2015-09-25 16:08] cassiemc commented on #480
@xmatthewx This will require help from @vazquez to sort out. @lovegushwa should be consulted. Reassigning.

[2015-09-25 16:10] simonwex commented on #448
The end-date on the contract is Sept 30, asked for adjustment.

[2015-09-25 16:13] cassiemc commented on #579
Great! This needs a RACI (below) Also @valianttry what is the proposed timing?

Driver:
Dev:
Design:
L10N: ?
Decision-maker:
Consulted:

[2015-09-25 16:13] OpenMatt commented on #562
@simonwex move to Oct 9 milestone?

[2015-09-25 16:15] #544 closed

[2015-09-25 16:16] KevZawacki opened #585 "Create blog.webmaker.org/facesofmozilla"
Plan: Create a space for our MozFest profiles (https://github.com/MozillaFoundation/plan/issues/566) on blog.webmaker.org.

Profiles will be written and published during the month of October. But due to their volume, we don't want them to clutter up the main feed. Ideally, they'd be hidden from the landing page and accessible via a URL like blog.webmaker.org/facesofmozilla

@adamlofting Ideas on h

[2015-09-25 16:18] cassiemc opened #586 "Design Mozfest print and wayfinding assets"
driver: @cassiemc
design: Adil (contractor), @natalieworth, @lovegushwa, Beth (contractor)
QA: @cassiemc & @lovegushwa
consulted: @HPaulJohnson @thornet
decision-maker: @Saallen

Print assets needed for mozfest listed here: https://docs.google.com/spreadsheets/d/1J4LS4ILtG5x-jxwHEwGuDzXHRHC9IQM4t9fg2OUeRBs/edit#gid=0

Wayfinding tickets are being tracked here: https://github.com/mozilla/2015.mozil

[2015-09-25 16:19] cassiemc commented on #586
Festival Guide ticket is here: https://github.com/mozilla/2015.mozillafestival.org/issues/212

[2015-09-25 16:21] OpenMatt commented on #561
* @simonwex will take dev lead on this
* probably can be completed in one Heartbeat (pending review)

[2015-09-25 16:22] OpenMatt commented on #534
* should be unblocked now

[2015-09-25 16:23] xmatthewx commented on #545
reopening to track next phase of planning

[2015-09-25 16:23] OpenMatt commented on #571
@brettgaylor blocked on some more detail from you on scope of work

[2015-09-25 16:26] OpenMatt commented on #558
@simonwex will assign

[2015-09-25 16:28] OpenMatt commented on #527
@cassiemc and @simonwex will follow up with @hannahkane

[2015-09-25 16:29] simonwex commented on #527
@cadecairos I think this is going to fall in as some of the deprecation work. Do we have this on our radar anywhere there?

[2015-09-25 16:30] valianttry commented on #579
The holiday shopping push is for Canada and US only (so, EN) because shipping to other locales is much less predictable. Also, the store is only in EN at the moment.

Last ship date to receive before Christmas would be December 14, but let's aim for launch mid-November, then do some repetition of promotions (or cycle in new more urgent "order in time for holidays" designs) in early December.

[2015-09-25 16:37] OpenMatt commented on #580
Next step: @chrislarry33 @brettgaylor + mark to huddle on final content updates before design / copy work begins.

[2015-09-25 16:42] OpenMatt commented on #578
* @valianttry already has a lot of SWOT content / introspection on Advocacy (Andrea: can you paste those links here?)
* @chrislarry33 confirms their next phase will be done by Wed

[2015-09-25 16:43] cassiemc commented on #527
@hannahkane It seemed you used team resources (was it @sabrinang?) for the me page updates, can you do the same here?

[2015-09-25 16:47] OpenMatt commented on #577
Next step:
* Matt will schedule a kick-off for Monday

[2015-09-25 16:49] ldecoursy commented on #577
@amirad An-Me too.

[2015-09-25 16:49] OpenMatt opened #587 "Ship board slides + book"

[2015-09-25 17:02] cadecairos commented on #527
@simonwex I don't think so, doesn't appear in MozillaFoundation/plan#569

[2015-09-25 17:10] KevZawacki commented on #378
I've revised our copy for mozilla.org/foundation per my conversation with Mark. Feel free to take a look and share feedback before we reshare with ops. (Please used comments or 'suggest' mode.)

https://docs.google.com/document/d/1qPNmBuR3RqAjKBcypmL_uVq8Q1xIBpMbj5Oov05Vpz8/edit

We don't have much liberty in terms of structure -- Mark was specific about the flow -- but if anything seems off or mi

[2015-09-25 17:27] simonwex commented on #527
Thanks, @cadecairos!

[2015-09-25 18:31] bhuvanshri commented on #567
The work plan has a detailed scope now. Quoting @benrito here from his email for status update:
"Here’s our intention for the Chronicle project getting started next week. The meat of this is ~25 profiles ala “faces of Mozilla” or CC’s “Team Open.” Each profile will be 400-600 words + headshot/action shot. Some will be pairs or groups (i.e., Jess & Atul) to highlight collaboration.

The list of nam

[2015-09-25 19:18] OpenMatt commented on #574
## 1. Benchmark data-gathering template

* Model (one line)
* Impact
* Influence
* Offering
* Secret sauce
* Staff (# and who are they?)
* Volunteers (# and who are they?)
* Budget (all)
* Leadership dev budget (only)
* Alumni network
* Events
* Publication

## 2. Suggested main set of benchmarks w/ person who can help w/ each:

* McKinsey (George)
* WEF (Mark)
* Aspen (Mark)

* One.org (George)
*

[2015-09-25 19:19] OpenMatt commented on #574
Key question: what is the deadline for this work? Before Oct 14 board meeting? Or for phase 3 business plan?

[2015-09-25 19:22] OpenMatt commented on #574
@bhuvanshri next step: set up a meeting w. George and fill in the template.

[2015-09-25 19:26] OpenMatt commented on #567
* Let's close this ticket and push ahead with the work in: https://github.com/MozillaFoundation/plan/issues/577

[2015-09-25 19:26] #567 closed

[2015-09-25 19:27] OpenMatt commented on #566
We're blocked on hiring a journalist. @benrito are you going to do that?

[2015-09-25 19:49] OpenMatt commented on #577
* Next step: @benrito will schedule a meeting w. key stakeholders here. As per his email. @bhuvanshri can help.

[2015-09-25 19:57] KevZawacki commented on #566
@OpenMatt @benrito We're meeting with our first writer on Thursday on next week, and have an email out to a tentative second writer.

[2015-09-25 20:09] #568 closed

[2015-09-25 20:10] KevZawacki commented on #568
Progress happening here: https://github.com/mozilla/2015.mozillafestival.org/issues/226

[2015-09-25 21:40] simonwex commented on #558
I did a bit more digging and it seems we have a few more that are being actively used.

|url | number of visits in the past month |
|-------------------------------------|-----|
| /badges/webmaker-mentor             | 632 |
| /badges/webmaker-super-mentor       | 414 |
| /badges/navigation-maker            | 274 |
| /badges/coding-maker                | 193 |
| /badges/hive-community-member

[2015-09-28 00:23] hannahkane commented on #534
this is unblocked? Can we start working with Souktel, @simonwex ?

[2015-09-28 10:40] adamlofting commented on #585
It depends on how we've built our templates and manage our menus etc, which would need checking with whoever built them. I'm guessing we did this in hoouse.

But one option is to publish the profiles as 'Pages' and not include them in the navigation.

Looking at the live site, we don't appear to have any navigation menu, so it might be possible to just add pages without setting up anything new.

[2015-09-28 11:48] adamlofting commented on #546
Shipping was de-railed by the advocacy campaign, so continues into the next heartbeat.

[2015-09-28 12:35] OpenMatt commented on #566
@KevZawacki thanks Kevin. So just so we're clear: are we saying that the completed article is *not* going to be done in time for the Oct 14 board meeting?

[2015-09-28 12:56] jgmac1106 commented on #584
Hoping the #teachtheweb podcast, even if its monthly, gets revived. The first two episodes were good.

[2015-09-28 13:59] OpenMatt commented on #587
@msurman if you want design help at some point, let us know.

[2015-09-28 13:59] OpenMatt commented on #581
Impact Group will meed today to discuss

[2015-09-28 14:00] OpenMatt commented on #580
@brettgaylor : you're responsible for making that meeting happen. Phia can help w. Mark's calendar.

[2015-09-28 14:05] OpenMatt commented on #574
@bhuvanshri has this meeting been scheduled?

[2015-09-28 14:19] OpenMatt commented on #574
Time is running out for this. Given the need to book interviews w. busy executives, @bhuvanshri this should be your top priority.

### Next steps
* finalize the list. of comparable orgs we want to benchmark against. in this ticket.
* book the executive interviews (Bhuvan + Phia)
* take notes during those calls (Bhuvan)
* write them up (Bhuvan)
* pull relevant data / insight into board deck (Mark)

[2015-09-28 14:24] KevZawacki commented on #566
@OpenMatt Correct. We will likely have a handful of individual profile completed by Oct. 14, but the full project (>20 interviews + photos + design) won't wrap until early 2016.

[2015-09-28 14:32] KevZawacki commented on #585
@adamlofting Pages will do the trick just fine -- many thanks!

@benrito Here's our hub for profiles: http://blog.webmaker.org/faces-of-mozilla. Once we start filling it up, we can create a handy shortlink, too. mzl.la/faces, maybe.

[2015-09-28 14:32] #585 closed

[2015-09-28 14:45] OpenMatt commented on #574
### List of orgs
need to finalize this:

#### Leadership
P1
* Engineers Without Borders
* World Economic Forum
* Ashoka
P2
* Shuttleworth
* Earth University

#### Movement
P1
* 350.org (w. a big focus on their leadership dev work and how it ties)
P2
* Greenpeace (including: their Mobilization Lab / Participation Lab)
* WWF
* Sierra Club

[2015-09-28 15:59] #555 closed

[2015-09-28 16:15] OpenMatt commented on #581
Impact Group met today. Will produce a draft ToC for 2016+ and email to Mark w. key questions by EOD Tues (Sep 29)

[2015-09-28 16:16] OpenMatt commented on #580
@brettgaylor deadline for your next version is Friday Oct 2. Cool?

[2015-09-28 16:17] benrito commented on #566
We will have a separate bit of analysis for the October board meeting. It
will be based on pattern read out of the "grant funded projects" tab.
On Sep 28, 2015 4:24 PM, "Kevin Zawacki" <notifications@github.com> wrote:

[2015-09-28 16:18] OpenMatt commented on #578
* @davidascher can you follow up to make sure whatever added work you'd like to see included from Advocacy shows up here?
* Deadline for this is Friday, Oct 2

[2015-09-28 16:23] OpenMatt commented on #577
* What we need by Friday: 8 - 10 quality stories, meeting the criteria listed above.
* Next step: turn the 120+ names in the spreadsheet into a short list of 10 -15 that we think we can have ready for Mark to choose from by EOD Friday.
* Matt will schedule a meeting to tackle this together as a sprint.

[2015-09-28 16:28] bhuvanshri commented on #574
Interviewing @geroter tomorrow afternoon. Will link the results here EoD tomorrow.

[2015-09-28 16:28] OpenMatt commented on #577
@benrito I sent a calendar invite out for this on Wed

[2015-09-28 16:29] OpenMatt commented on #576
@msurman : your draft board deck seems to already cover off the "Mozilla Learning planning process" part of history. So: should we focus on producing a draft 1-2 slide version of the 5-year MoFo history piece? (Using a similar timeline-style format?)

[2015-09-28 16:39] #539 closed

[2015-09-28 17:19] hannahkane commented on #583
Wondering if this could also include localizing the Thimble homepage content into the same 5+ languages.

/cc @humphd

[2015-09-28 17:21] hannahkane commented on #582
Are these being framed as part of the "tiered" Clubs model? Wondering if we need to offer a design solution that clarifies to Club Captains which modules we recommend they use for their Clubs.

[2015-09-28 17:25] hannahkane commented on #558
@simonwex - thanks. Are all of those sources with webmaker.org as the root? /activities/web-lit-basics/ and /teach-like-mozilla/web-literacy/ seem like they're coming from the Teach site, but I don't see the links to badges from those pages.

Regardless, this is why I don't think removing all the links is the right solution. I think we need to turn off the ability to apply for badges on the badge

[2015-09-28 17:28] hannahkane commented on #527
@cassiemc - ok, will use Teach design resources. Removing label.

[2015-09-28 17:29] hannahkane commented on #527
Actually, if others are okay with the idea described in [this ticket](https://github.com/mozilla/teach.mozilla.org/issues/1252) I don't think we even need design resources.

[2015-09-28 17:33] cassiemc commented on #527
WFM!

[2015-09-28 17:34] ldecoursy commented on #584
cc @kgorr

[2015-09-28 17:56] ldecoursy commented on #582
I like that idea @hannahkane, as currently it's hard to distinguish between the modules vs. individual activities. Was thinking first step would just be to add them to /activities - think @chadsansing has already filed tix for that?

[2015-09-28 17:59] valianttry commented on #579
cc @HPaulJohnson @KevZawacki

[2015-09-28 18:01] chadsansing commented on #582
See also https://github.com/mozilla/learning-networks/issues/250.

I'm hoping we can inform our solution/labels with the rubric & guidelines work going on, but I need more testers. Will ask for more help on team call this week.

[2015-09-28 18:02] chadsansing commented on #582
The Webmaker ticket lives at https://github.com/mozilla/teach.mozilla.org/issues/1264.

[2015-09-28 18:09] valianttry commented on #579
This folder shows the new gear that we have not marketed to the community, also included is a zipped folder of images of new hoodies that are set to land in the store within weeks.

https://drive.google.com/open?id=0B_VT8vv8uni5YllpWFpMNlZiQVVwVV9Ha0hVREhxY1VKeDNJ

[2015-09-28 18:23] HPaulJohnson commented on #580
@brettgaylor let me know when you all have the content finalized and are ready to talk about polishing the copy.

[2015-09-28 20:03] OpenMatt commented on #576
Projects to highlight in our 5-year history are in this tab:
* http://mzl.la/projects
* http://mzl.la/grant_funded

[2015-09-28 20:26] KevZawacki commented on #579
@valianttry Once the new gear hits the store, OK to use the photos across social?

[2015-09-28 23:58] hannahkane commented on #448
Any movement on this today, @simonwex ?

[2015-09-29 14:24] chrislarry33 commented on #448
@simonwex @davidascher I am very confused on why this has taken so long.

[2015-09-29 14:37] OpenMatt commented on #577
Try to get done by tomorrow (Wed): do *one* model story. To show what we're thinking.

[2015-09-29 14:45] OpenMatt commented on #574
Next steps:
* ensure we agree on the fundamental designs that we want to share with the board as different options
* and do we have the right P1 benchmark tied to each

[2015-09-29 14:58] OpenMatt commented on #581
What we need most is clear thinking *behind* each of the three options we present
* therefore, probably needs 3 theories of change
* focused on real set of *outcomes* we're optimizing for in each model
* we don't necessarily need to tie to those three specific long-term impacts (access, privacy, web literacy), but the ability to have an opinionated agenda we can set year by year

[2015-09-29 15:01] OpenMatt commented on #580
@brettgaylor has a new spreadsheet he's working on. Brett can you add here?

[2015-09-29 15:43] OpenMatt opened #588 "Network model"
* Scratch pad: https://etherpad.mozilla.org/network
* Leadership Development SWOT: http://mzl.la/LD_SWOT
* Need to ensure we clearly describe the Network Model
* This is new / just added. Matt will flesh out further here.

[2015-09-29 15:50] OpenMatt commented on #578
Andrea's work is here:
* http://valianttry.us/movement-building-and-web-literacy-a-proposal/
* http://valianttry.us/movement-building-at-mozilla-what-weve-learned/

[2015-09-29 16:16] thornet commented on #574
In Dec 2014 @amirad Simona @ldecoursy An-Me and I interviewed a number of orgs that might benefit this benchmarking:

https://docs.google.com/spreadsheets/d/1JvIm1nAVBqtbOTwEpwzc_WyGL11Sx3QG5zSGUy1SQk8/edit#gid=0

* Free the Children
* Code Club
* Coder Dojo
* Hour of Code/Code.org
* Organizing for America:
* Code for America Brigades

[2015-09-29 16:59] OpenMatt commented on #566
@Benrito: what about putting some of this Chronicle stuff through the filter of the 'strong non-profits' framework.

E.g. Where were we when I started or in 2010 re:

1. Serve and advocate
2. Make markets work
3. Inspire evangelists
4. Nurture (nonprofit) networks
5. Master the art of adaptation
6. Share leadership

... and where are we now?

[2015-09-29 20:50] cadecairos commented on #569
Just though of another thing we need to make a decision on while we deprecate things.

Each make type generates a default thumbnail specific to the tool.

For appmaker it is `https://apps.webmaker.org/images/app-icon.png`
For thimble it is `https://webmaker.org/img/thumbs/thimble-grey.png`
For popcorn maker it is `https://popcorn.webmaker.org/resources/icons/fb-logo.png`
Goggles doesn't seem to ev

[2015-09-29 21:54] xmatthewx commented on #569
Good catch. We should figure out how valuable those old thumbnails are before we make a plan to rescue them.

[2015-09-30 13:31] OpenMatt commented on #577
This report in progress from Katilin has more: [20150904_mozilla_fellowship_programs_report.pdf](https://github.com/MozillaFoundation/plan/files/5152/20150904_mozilla_fellowship_programs_report.pdf)

[2015-09-30 13:37] benrito commented on #577
My understanding is that it’s Jeff’s report—would be great to mine and also get Kaitlin’s feedback (as she’s not been consulted to my knowledge)

[2015-09-30 15:09] bhuvanshri commented on #574
Interview with @geroter on EWB: https://docs.google.com/a/mozilla.com/document/d/1AkKGkXEI0lKhs98KZwDScH9YqILblBJTSBvYf5-_jg4/edit?usp=sharing

[2015-09-30 15:24] OpenMatt commented on #580
* Updated tiers stuff is here: http://mzl.la/tiers_updated

[2015-09-30 15:29] bhuvanshri commented on #577
@OpenMatt Stories in https://etherpad.mozilla.org/octogenarian etherpad have been added to the spreadsheet

[2015-09-30 15:34] OpenMatt commented on #574
@msurman can you review this sample to see if it's in line w. what you want? http://mzl.la/EWB

[2015-09-30 15:35] OpenMatt commented on #574
@bhuvanshri see updated P1 org list above

[2015-09-30 15:38] OpenMatt commented on #574
@bhuvanshri also note: some 350.org bechmark data is already here: http://mzl.la/more_benchmarks

[2015-09-30 17:40] brettgaylor commented on #580
https://docs.google.com/spreadsheets/d/1Z3GKLUiQZCYD8CAj-gTnKhpMw1v2C6T_42sdnpc-qgw/edit#gid=0

[2015-09-30 20:03] OpenMatt commented on #588
@benrito you and I need to hack on this -- will re-send invite for (Thurs)

[2015-09-30 20:08] hannahkane commented on #569
I'm not sure I understand. Why wouldn't we keep these?

[2015-09-30 20:08] OpenMatt commented on #581
* Impact group is going hands-off this spreadsheet now.
* Handing over to @msurman to pull from this and feed into board deck.

[2015-09-30 20:45] OpenMatt commented on #580
@HPaulJohnson have a look and see what you think. May not need a lot of copy love -- but would be good to get your take.

[2015-09-30 20:47] OpenMatt commented on #580
@msurman: do you want design to turn this into something that looks like a thing? http://mzl.la/tiers_updated

[2015-09-30 23:26] msurman commented on #580
@openmatt, no need to turn into a thing yet. I think we want to do design work next week once we have the thinking more locked.

[2015-10-01 14:03] OpenMatt commented on #581
* Logic model / Major Grants work: http://mzl.la/major_gifts

[2015-10-01 16:32] soapdog commented on #583
I am working on porting the content of each activity to the current markdown based template we have on github. Will add an update here as this work progress.

[2015-10-01 18:22] KevZawacki commented on #566
Update on the writer front: I spoke with Christine and Julia today, and both are on board and excited to get started. I'll be speaking with two additional writers — Maia and Anya — tomorrow.

@benrito & @xmatthewx: Next step is getting a contract to Christine and Julia so they can start interviewing and writing. Any progress on that front? The contract can draw from this [doc](https://docs.google.

[2015-10-01 18:34] OpenMatt commented on #574
@bhuvanshri status update?

[2015-10-01 21:08] OpenMatt commented on #574
Some 350.org stats:
• Global Power Shift Groups: 600 youth activists from 135 countries
• 132 clubs worldwide: http://350.org/map/
• 188 cities involved in 350.org club organization
• Annual Report: 350.org/about/2013-annual-report/
• 77 staff members globally, main headquarters located in Brooklyn, NY
• Before any group starts a club they must read and agree to the 350 Manifesto: http://350.org/3

[2015-10-01 21:15] OpenMatt commented on #574
* if WEF is hard, consider swapping in Aspen@bhuvanshri another route

[2015-10-01 22:09] chrislarry33 commented on #566
awsm news!! We are in finishing the process of collecting data on all our leadership development programs. When we are done we will make sure this team has as research for the writers. Good stuff in there. @thornet @leahatplay @ldecoursy will signal when ready.

[2015-10-01 22:24] xmatthewx commented on #569
If it requires many hours of work, then it might not be worth it for projects on retired tools. Will there still be an explore experience for popcorn maker? Or will these projects just be listed in a user's own list of projects?

Just my 2¢.

[2015-10-01 22:38] bhuvanshri commented on #574
@OpenMatt Budget numbers are not an issue. Both have annual financial reports I can refer to.

[2015-10-01 23:21] valianttry commented on #579
@KevZawacki the photos are ours and approved to use however we want.

@cassiemc and @natalieworth I found an old redpen with a bunch of designs @sabrinang worked on here:
https://redpen.io/p/ofa2032bab34154728

[2015-10-02 15:05] cassiemc commented on #579
Let's start tracking individual bugs in the Fundraising repo: https://github.com/MozillaFoundation/2015-fundraising/labels/Gear%20store

Assigning @HPaulJohnson as driver, I believe that's what we agreed in our Sept 29 kickoff.

Also assigning the November 20 milestone. We talked about mid-November and that was the corresponding heartbeat and seems most realistic given Mozfest. @valianttry can you

[2015-10-02 15:53] KevZawacki commented on #566
@cassiemc Quick design brief question! Should Ben and I go ahead and fill out a first draft, or is that something we do on a call with the designer(s)?

[2015-10-02 16:41] cassiemc commented on #566
@KevZawacki We can do it either way, whatever makes sense for you. If there's a lot of context you'd like to pull together in the brief beforehand that is always helpful.

[2015-10-02 18:46] hannahkane commented on #448
@simonwex - can you please update this ticket with the current status?

[2015-10-02 21:05] bhuvanshri commented on #574
P1s are all done. Have emailed Mark the links as well.

[2015-10-02 22:50] HPaulJohnson commented on #580
@OpenMatt I think it probably makes the most sense to work on the copy at the same time as the design work. So I'm holding off on adding a lot of comments until that work starts.

One quick comment in the mean time: I think the "Executive" naming feels a bit off putting and for some might not be particularly inspirational. Something like "Business Leaders" or "Organizational Leaders" could fit bet

[2015-10-03 02:01] cassiemc commented on #580
FYI @lovegushwa has some availability next week, he and I will tag team this to make sure it all gets done in time. Have edited the RACI.

[2015-10-04 11:59] OpenMatt commented on #577
Lots of new stories added by various staff. Next step: @OpenMatt will review and edit Monday morning.

[2015-10-04 12:00] OpenMatt commented on #576
@benrito can you turn those tabs into a slide-style narrative on Monday?

[2015-10-04 12:00] OpenMatt commented on #588
We didn't make any progress on this. Spoke to Mark -- the next pass probably needs to come from him.

[2015-10-05 11:43] benrito commented on #566
Think that Mark already did this in his latest slides. Let’s confirm.

[2015-10-05 15:25] cadecairos commented on #569
As far as I know, the only way to access old makes will be through the soon to be completed `teach.mozilla.org/me` page. I thought `popcorn.webmaker.org` was going to be shut down?

[2015-10-05 15:41] OpenMatt commented on #581
### Next steps
* focus on how MoFo fits into larger Mozilla strategy map
* @msurman can you send me the SYP strategy map for Mozilla you mentioned?

[2015-10-05 15:43] OpenMatt opened #589 "Update Mozilla Learning wiki"

[2015-10-05 15:47] OpenMatt opened #590 "Add missing data to board book"
### Fill in all blanks in the board deck for missing numbers.
Here: http://mzl.la/facts
- [ ] Financial data
- [x] Benchmark data
- [x] Leadership data. Total number of leaders in our network.

[2015-10-05 15:52] OpenMatt commented on #577
### Next steps
* whittle down the list further (Matt + Ben)
* write two-bullets for each
* these are people who: caught the mozilla bug. have been an important ally. impacted their career.
* represent our three tiers. from student to champion.
* also: need one strong leadership example from the Policy side. (Matt: email Andrea + Jochai) (ideally: an executive director. Kevin Banks? Gene Killman?)

[2015-10-05 15:55] OpenMatt commented on #577
###Tiers
* Champions
* Executives
* Professionals
* Emerging Leaders
* Young Leaders

[2015-10-05 18:11] edrushka commented on #378
Thanks for continuing to work on this, @KevZawacki! I made a few comments in the doc. I think we should surface the "non-profit" element a little sooner.

[2015-10-05 21:38] cassiemc commented on #587
@OpenMatt Any word on if @lovegushwa and I can begin this design work? Is this the right ticket?

[2015-10-05 21:42] cassiemc opened #591 "Branding Audits"
I'm starting this ticket because a bunch of design audit work has been happening to streamline brands/styles and it's time to start triaging.
* [Mofo-wide design audit](https://github.com/MozillaFoundation/Design/issues/94)
* [MLN design audit](https://github.com/mozilla/teach.mozilla.org/issues/1260)

We need to figure out a way to push this work forward; if properly carried through the consequen

[2015-10-05 21:54] cassiemc commented on #586
Festival Guide was pushed back as there were other more imminent print needs. But we are on track with this heartbeat's tasks, half-way through the tickets here, as expected: https://github.com/mozilla/2015.mozillafestival.org/milestones/9%20October

[2015-10-05 22:35] hannahkane commented on #582
@chadsansing - would it be alright if we saved this ticket for the next heartbeat? We're trying to identify tickets that might be good for participants of Grace Hopper Day on the 13th. Emma Irwin has asked if she can draw from Teach, and we thought this might  be a good ticket for them to take on.

[2015-10-05 22:37] hannahkane commented on #573
Kick-off meeting happened, and design brief lives here: https://docs.google.com/document/d/1yFjUU_vEppNBA8JlG5weYa-P3Rpp1v78sthXhHq7DNw/edit?ts=5609890b

More notes in the linked ticket. This ticket will likely stretch out over several heartbeats, since more work needs to be done to finalize the content. A short-term deliverable is to prepare to collect feedback at MozFest. A ticket for that is he

[2015-10-05 22:38] hannahkane commented on #558
@simonwex - could use some more guidance on this. See my questions above.

[2015-10-05 22:39] hannahkane commented on #554
For those interested in the Goggles homepage design, see https://github.com/mozilla/teach.mozilla.org/issues/1298

[2015-10-05 22:40] hannahkane commented on #534
Continues to be stalled by #448

[2015-10-05 22:41] hannahkane commented on #448
Moving this to current milestone so it doesn't get lost.

Could REALLY use an update, @simonwex

[2015-10-05 23:19] hannahkane commented on #569
@cadecairos - you are correct. Do we not need those thumbnails on the teach.mozilla.org/me page? If not then I agree we can scrap them.

[2015-10-06 09:33] chadsansing commented on #582
Sounds right -

[2015-10-06 14:43] OpenMatt commented on #590
@bhuvanshri status?

[2015-10-06 15:25] OpenMatt commented on #577
### Next steps
@msurman : can you take a look at this "short short list" of five / six proposed leader stories? http://mzl.la/very_short_list
* proposal is to show the range all the way from "young leader" to "executive"
* with the right mix of diversity and key boxes ticked
* could do 2/3 on "professionals" category, to show breadth and add more diversity
* still need to wordsmith / fact-check bu

[2015-10-06 15:39] KevZawacki commented on #378
Thanks, @edrushka and @HPaulJohnson. I've just revised the copy based on your suggestions.

Last piece of the puzzle is the "grants" section. I'm waiting on copy from Lynn, who says the current page needs a complete overhaul.

[2015-10-06 15:43] edrushka commented on #378
In the interest of getting the copy updated, could we simply put "coming soon" in the grants section? A 'complete overhaul' sounds rather time-consuming, and it has already been months since Mitchell requested this page be updated.

[2015-10-06 15:52] OpenMatt commented on #587
* @cassiemc probably not the right ticket -- I'll carve it into smaller pieces and create new specific tickets. More coming later today. Sorry for delay.

[2015-10-06 15:53] OpenMatt commented on #587
### Key question on this is:
* what are we sending in advance to the board?
* and when?

[2015-10-06 16:02] OpenMatt commented on #576
@benrito status?

[2015-10-06 16:33] bhuvanshri commented on #590
In progress today

[2015-10-06 16:37] benrito commented on #378
I have content that we can use for the grants section. We could include in the following heartbeat.

[2015-10-06 17:04] KevZawacki commented on #378
@benrito Great. Do we want to ship the [existing copy](https://docs.google.com/document/d/1qPNmBuR3RqAjKBcypmL_uVq8Q1xIBpMbj5Oov05Vpz8/edit) to Mark for approval today?

[2015-10-06 18:23] bhuvanshri commented on #590
@OpenMatt, please review and communicate. Assigning to you.

[2015-10-06 18:34] OpenMatt commented on #590
Over to Angela to fill in her pieces.

[2015-10-06 18:41] benrito commented on #576
Underway; it's in my email outbox but no wifi for another 2 hours

[2015-10-06 19:19] bhuvanshri commented on #589
Sections to Edit / Add:
- "Things We Read" - Frameworks and Readings that we considered
 - http://ssir.org/articles/entry/the_secret_of_scale
 - https://medium.com/life-learning/the-number-one-predictor-of-career-success-according-to-network-science
 - http://ssir.org/articles/entry/creating_high_impact_nonprofits
- "Our Analysis" - Framed in a coherent way
 - LD SWOT Summary + Etherpad link
 - Le

[2015-10-06 20:11] OpenMatt opened #592 "MozFest poster"
### Goal
show the impact MozFest has had as a leadership development network. In a large-format graphic poster style that can be in the room at the full-day board meeting.

### Roles
Project manager: @openmatt
Designer: @lovegushwa
cc @cassiemc @chrislarry33

### Deadline: eod Friday Oct 9
We should only start on this if we think it's doable by then. If not, let us know here and we can kill it.

#

[2015-10-06 20:20] OpenMatt commented on #592
@thornet : what do you think about something like this?
https://dl.dropboxusercontent.com/spa/6c38yp3crbxni5b/srp_bvru.png
![mozfest graphic 001](https://cloud.githubusercontent.com/assets/1007376/10321197/6b0ead86-6c45-11e5-9683-b3f7b45dfcfc.jpg)

### Basic idea
* **Numbers.** The cumulative number of participants, countries, and *leaders.* In the form of volunteer session facillitators.
* **High

[2015-10-06 20:24] OpenMatt commented on #592
Assets I pulled from:
* https://www.dropbox.com/s/uagsmtoebaxx8b0/MozillaFestival2014_WrapUpGraphic_Web_1240x4733.jpg?dl=0
* @edrushka also has previous a MozFest infographic we created, for potential re-use or inspiration

[2015-10-06 20:31] OpenMatt commented on #576
[timeline -- infographic.pdf](https://github.com/MozillaFoundation/plan/files/8808/timeline.--.infographic.pdf)
From Ben:

* The goal of this graphic is to show how grant revenue and work to date has built the assets we have today, and how all of this work rolls up into our leadership network.
* The final graphic would be fairly big and high resolution, big enough to print out poster sized and sti

[2015-10-06 20:33] OpenMatt commented on #576
@lovegushwa knowing that the content for this will change, does this give you something to get started on?

[2015-10-06 21:11] edrushka commented on #592
There's also this to pull from: http://intangible.ca/2015/03/02/infographic-2014/

[2015-10-06 22:02] lovegushwa commented on #576
@OpenMatt I think so. Basically I can restyle Ben's draft version above.
Does this poster also need to be done by Friday? (so you can print it next week).

[2015-10-06 22:04] lovegushwa commented on #592
@sabrinang @edrushka do you know where I can find a .ai of the MozFest info graphic?

[2015-10-06 22:12] edrushka commented on #592
I'm sorry, I don't know.

[2015-10-06 22:15] edrushka commented on #592
waaait! @lovegushwa I found it! https://www.dropbox.com/sh/0vgp2zogo8e2544/AAB_R1fwTlP78V7ANctJYe5Ua?dl=0#/

[2015-10-06 22:42] chrislarry33 commented on #448
@simonwex We are getting to crisis moment with partners, external stakeholders and team deliverables without being able to move on the Souktel contract and thus hooking up Credly to the Teach site. We are very happy to take over the admin of the contract detail if that relieves some work off your desk, but we really need this unblocked.

[2015-10-07 04:22] Pomax commented on #570
# curriculum

A curriculum record describes a piece of learning material consisting of a wad of meta data and one or more modules that cover all the things the curriculum piece is for. A service for these things would be relatively flat, modelling two, perhaps three tables, with most of the data being local to that database (the only external references that I can see are related to user ids, and

[2015-10-07 14:15] OpenMatt commented on #577
### Feedback from Mark
* This is in the right direction.
* Do two stories at each level

#### Thing we want to show is:
- Initial state
- What they learned
- What they are doing now that contributes to our agenda, either directly or indirectly.
* We need that kind of arc for everyone. Good personal outcome.
* What's there is uneven on this front right now.

#### Stories:

Executives
* For Executiv

[2015-10-07 14:25] OpenMatt opened #593 "Advocacy poster"
Showcasing our accomplishments / how we got good at mass advocacy

[2015-10-07 14:31] OpenMatt commented on #592
@thornet main thing in terms of content is: stress 'networks' and 'leadership' as core themes.

[2015-10-07 14:40] thornet commented on #592
Working on the content now. Sending in 1hr or so.

[2015-10-07 14:58] OpenMatt commented on #592
@thornet @lovegushwa : check out this updated mock-up based on feedback from Mark:
![mozfest poster graphic 001](https://cloud.githubusercontent.com/assets/1007376/10341301/2a825e96-6ce2-11e5-98a5-2b9356c5c796.jpg)
* Emphasis on developing leaders and networks in key spaces
* Could use same colored background crowd image currently on web site
* Needs updated numbers and copy from Michelle
* Could

[2015-10-07 15:02] cassiemc commented on #592
@OpenMatt Do you have an idea of what size you'd like this to be? Should it be a standard 18x24" poster? The background graphic might not be resuable at hi-res print but I'll see if we can find the source.

[2015-10-07 15:20] thornet commented on #592
Asset, fresh off the press: https://blog.webmaker.org/the-journey-to-mozfest-2015

@OpenMatt I suggest the following data:

"7,000 participants catalyzed by 1500 facilitators building networks and community leaders with 182 wranglers"

Data from: http://2014.mozillafestival.org/wp-content/uploads/2014/02/Mozilla_infographic_D6.jpg and BSD lists.

[2015-10-07 15:43] OpenMatt commented on #588
Moving out of scope for Oct 15 board meeting. Can take this up again in Phase 3.

[2015-10-07 15:46] OpenMatt commented on #580
For the board meeting, this work will merge with the "Leader Stories" piece ticketed here: https://github.com/MozillaFoundation/plan/issues/577
* those leader stories will illustrate the 5 "tiers", with an example for each
* we should come back to this next heartbeat or two, to turn this spreadsheet into something that looks more like a real thing / a canonical slide we can use to explain.  http:/

[2015-10-07 15:51] OpenMatt commented on #587
* Mark will want to book some time w. the designer on Friday
* Completed deck will need to be sent Monday.
* So: may require some work over the weekend. With accompanying gratitude / compensatory time off etc. @cassiemc will discuss and update this ticket.

[2015-10-07 15:52] OpenMatt commented on #581
* blocked. won't receive MoCo strategy map for a couple more days.

[2015-10-07 15:53] OpenMatt commented on #578
* @bhuvanshri main thing is: we need to make sure this work is well represented on the wiki.
* otherwise, moving this to come back to in next heartbeat. I think we have what we need on this for board deck.

[2015-10-07 15:55] OpenMatt commented on #576
* @lovegushwa yes.
* Also: proposal from me is: let's do all the posters in landscape format. For easier cross- / multi-purposing. That work?

[2015-10-07 15:56] cassiemc commented on #587
Just emailed this to @OpenMatt – but glad to work it out in the bug! Is there any way we can get a draft of the slides ahead of Friday? This will let us work out a style, start gathering assets and get comfy in Keynote, so even if content changes and there is design we ultimately have to throw away, this will give us a healthy head-start. @lovegushwa is (and I am) ready to go on this now.

[2015-10-07 16:18] thornet commented on #592
Facilitator #s:

* 2010: 40
* 2011: 60
* 2012: 150
* 2013: 350
* 2014: 550
* 2015: 550+

[2015-10-07 16:41] hannahkane opened #594 "Thimble l10n work and support"
Localizing the new Thimble is a product priority, and @humphd has been working on the infrastructure. We'll need support on the Moz side if we want to maintain a localized product.

Some discussion here: https://github.com/mozilla/thimble.webmaker.org/issues/475

### DARCI ###
Driver: @hannahkane
Accountable: @simonwex
Responsible: @humphd, TBD (likely Ali)
Consulted: @humphd
Informed:

[2015-10-07 16:49] OpenMatt commented on #592
@lovegushwa : here's an update mock-up. Let's go with this approach. ![mozfest graphic 3 001](https://cloud.githubusercontent.com/assets/1007376/10344536/c60f80c8-6cf1-11e5-8411-178d22e0b4d4.jpg)

[2015-10-07 16:50] OpenMatt commented on #592
The main idea we want to drive home here is that MozFest is an engine that produces a) leaders and b) networks in c) spaces we care about.

[2015-10-07 17:33] cadecairos commented on #570
I put together two ERD's for login and id, and created a new one that attempts to unify and slim the models down.

https://gist.github.com/cadecairos/7fc5d34de8d7047ec650

The ERD's are written in text and transformed into pdfs using https://github.com/BurntSushi/erd

[2015-10-07 17:33] simonwex commented on #570
[mln.er.txt](https://github.com/MozillaFoundation/plan/files/9543/mln.er.txt)

[MLN ERD](https://github.com/MozillaFoundation/plan/files/9540/mln.pdf)

[2015-10-07 17:34] ashleygwilliams commented on #570
publish https://github.com/mozilla/publish.webmaker.org/issues/178
api https://github.com/mozilla/api.webmaker.org/issues/181

[2015-10-07 17:45] OpenMatt opened #595 "Leader posters"
### Goal
* These are like baseball cards. Showing a hero leader. With a 3-bullet story. And a scale on the side that shows where they fit in a larger framework.

[2015-10-07 17:46] OpenMatt opened #596 "Grants poster"
## Goal
* Create a poster that shows all the grant money we raised and how it fed into which networks

### Next step
* Get data from Angela

[2015-10-07 17:48] jbuck commented on #570
l10n/l18n:
It's a bunch of strings, usually key-value pairs as we've implemented it. I started writing a blog post about The Trouble with Translation, where I talk about all of the process problems we've run into in the past 3.5 years.

[2015-10-07 18:08] OpenMatt commented on #592
@cassiemc I was thinking 24" x 36". Does that work? If not, smaller is fine.

[2015-10-07 18:12] OpenMatt commented on #592
Super high-res photo version should be somewhere on the MozillaEU flickr account. But if it's hard to find, abandon and go with a plain background instead.
https://www.flickr.com/photos/mozillaeu
https://www.flickr.com/photos/mozillaeu/albums

[2015-10-07 18:20] OpenMatt commented on #592
Cleaned up the ticket above.

[2015-10-07 18:41] OpenMatt commented on #596
An old grants graphic we created:

![grants graphic 001](https://cloud.githubusercontent.com/assets/1007376/10347359/70cbac08-6d01-11e5-8da2-f790616a9034.jpg)

Note: this is no longer how we count grants money, so will need re-thinking.

[2015-10-07 18:41] cassiemc commented on #592
@OpenMatt that size works, same for all posters? And we'll still with landscape. cc @lovegushwa

[2015-10-07 18:42] OpenMatt commented on #596
Networks would likely include:

MozFest

Hive
Gigabit Hive
Clubs
Maker Party

News
Science
Open Web

[2015-10-07 18:44] OpenMatt commented on #592
Yup.

On Wed, Oct 7, 2015 at 2:41 PM, Cassie McDaniel <notifications@github.com>
wrote:

[2015-10-07 19:02] Melechuga opened #597 "OWF To Do, Oct. 5 - 16"
[testing] # To-Do:
## Together
Year 2 host org evaluation process:
* Ford & Moz select their 8 orgs
* Ford & Moz talk it over and decide final 8 (Schedule 90min meeting for Oct. 16th)
* Moz interviews host orgs
* Design rejection/acceptance email templates

Year 2 candidate process
* Design candidate application (year 1 qs: )
* Decide w/Ford date for actual fellows selection

Fellows:

Tech Exchan

[2015-10-07 19:03] Melechuga commented on #597
cc @brettgaylor

[2015-10-07 19:04] #597 closed

[2015-10-07 19:18] chrislarry33 commented on #596
@OpenMatt hive/gigabit hive are the same dont need to be separated out

[2015-10-07 19:27] OpenMatt commented on #595
### Mock-up

![leader template 001](https://cloud.githubusercontent.com/assets/1007376/10348580/cd720352-6d07-11e5-924a-48732bda9617.jpg)

[2015-10-07 19:28] OpenMatt commented on #595
@lovegushwa @cassiemc how does that work for you guys? I will work on getting high-res images and copy for all. Once this template is built, I'm hoping it will be easy to crank out 2 - 6 of these.

[2015-10-07 19:29] OpenMatt commented on #595
@ldecoursy is working on getting a high-res image of Lesser. Let's go full speed ahead on this first one.

[2015-10-07 19:33] OpenMatt commented on #592
p.s. the printer prefers PDF files at actual size.

[2015-10-07 19:45] OpenMatt commented on #589
Bhuvan will start working on an update /staging version of the wiki

[2015-10-07 19:59] chrislarry33 commented on #595
Love it. Make it "New York City" under name, not "Brooklyn"

[2015-10-07 20:03] OpenMatt commented on #574
Marking this as done.

[2015-10-07 20:03] #574 closed

[2015-10-07 20:06] OpenMatt commented on #592
@lovegushwa the other thing @cassiemc set me straight on for this and all the other posters is: "infographic" is the wrong word. These are really just blown-up slides or posters.

[2015-10-07 20:12] OpenMatt commented on #576
### Notes for next iteration
*  ditch “megazord” “hedgehog” etc.
* badges should talk about the launch of Collective Shift/LRNG. They launched today.
* add Mozilla Clubs starting in 2015. Also consider the Teach the Web MOOC in 2013 as important moment in the learning networks effort (first foray in online training and onboarding).
* show some milestones with open news. When did SRCCON start, etc.

[2015-10-07 20:27] OpenMatt commented on #596
Angela says
* it’s doable to get you this info as long as the definition of networks is clear.
* We now have a list of grants from 2010 onwards (data from 2008  and 2009 is hard to break out from grand totals - we don’t have that specific info).
* We could just use the same bubbles per year and instead show the amounts raised for networks (instead of total grants secured).

[2015-10-07 21:09] lovegushwa commented on #592
@OpenMatt @cassiemc cool, print production should be a snap. Thank you.

[2015-10-07 21:20] ldecoursy commented on #595
Here are two options. He asked if we could share the final version with him when it's done.

![fav_4069](https://cloud.githubusercontent.com/assets/4885898/10351391/4d5722d2-6d17-11e5-97cc-c0e15688216c.jpg)
![fav_4059](https://cloud.githubusercontent.com/assets/4885898/10351395/5280038c-6d17-11e5-8432-5fb95f0190ab.jpg)

[2015-10-07 22:27] lovegushwa commented on #595
@OpenMatt @cassiemc thanks for the mock-up Matt. The content will totally work. The image composition is good. The focus is soft. These may look fine across the room. The important question is will we be able to get 5 more decent images for the other profiles by tomorrow?

<img width="842" alt="screen shot 2015-10-07 at 3 20 51 pm" src="https://cloud.githubusercontent.com/assets/12228435/10352912/

[2015-10-07 23:20] lovegushwa opened #598 "Mysterious Fxos privacy feature that mentions Mozilla foundation and Deutsche Telekom"
@davidascher @benrito @valianttry
A Fxos designer that works with me in the Portland office just asked if I know who designed this mysterious feature that just showed up. It mentions a Mozilla foundation and Deutsche Telekom partnership. Any ideas who made this? If you know please let Tif Shakespeare know tshakespeare@mozilla.com

Here are some screen shots:

<img width="450" alt="screen shot 2015

[2015-10-08 07:28] benrito commented on #598
It was MoCo. A project led by Alex Fowler and Alina Hua. I just met the woman who led as a contractor from the DT side.

It was meant to be a proof of concept for a full privacy phone by DT. Thought it was actually pretty well designed but there was no engineering / product buy in to actually move forward. I can introduce you to Marta, who's actually looking for her next gig and will be spending N

[2015-10-08 12:56] OpenMatt commented on #587
## Deliverables / Timelines

### What are we sending to the board?
1) Presentation deck
* PDF version w. out builds

### 2) Supporting reading materials:
Mark has already started trickling them things. Won't go out in board book.

### 3) Ops update
* Contents: a) updated high level 2015 KPIs b) Q3 highlights c) Q4 look ahead d) one fundraising slide e) financial update

### 4) Board business
• min

[2015-10-08 13:03] OpenMatt commented on #577
@benrito status update on this one? This ticket is the one I'm most worried about getting right in time.

[2015-10-08 13:04] OpenMatt commented on #576
@benrito will produce an updated content mock-up for @lovegushwa on this asap

[2015-10-08 13:05] OpenMatt commented on #596
@ Angela: let me know if you still want to do this? Or if we should set aside, given that you're ill?

[2015-10-08 13:10] OpenMatt commented on #595
* @ldecoursy you're a rockstar! Thank you!
* @lovegushwa this should give you everything you need to produce the first template?

[2015-10-08 13:18] OpenMatt commented on #595
### Images
- [ ] Massimo Banzi, Arduino
http://makezine.com/wp-content/uploads/2013/04/massimo-banzi.jpg
- [ ] Gene Kimmelman, Open Knowledge
- [ ] Dave Humphrey, Seneca College
- [ ] Connie Yowell, LRNG
- [ ] Jess Weichler, Maker Box
- [ ] Joe Dytrch, Erase All Kittens
- [ ] Jon Sussman, Adagio, Hive Chattanooga

[2015-10-08 13:40] OpenMatt commented on #595
@lovegushwa can you review the photos above to see if they'll work?

[2015-10-08 13:43] OpenMatt commented on #590
* Next step: @chrislarry33 has thoughts on how to slot the leader numbers into tier estimates.
In this spreadsheet: http://mzl.la/facts
* @chrislarry33 any chance you and @ldecoursy could take a pass at doing that in the spreadsheet?

[2015-10-08 13:43] OpenMatt commented on #590
* Need to discuss w. Angela next steps on final missing financial data

[2015-10-08 13:46] OpenMatt commented on #581
Want to make sure I understand from @msurman what the MoFo pieces of this are likely to be, so we can prep them in advance.

[2015-10-08 16:11] benrito commented on #576
V2. Structure is basically / approaching final. Revisions and content additions still to do

https://www.dropbox.com/s/ohy4y9q4mp402uv/mofohistory_infographic_v2.pdf?dl=0

[2015-10-08 17:37] lovegushwa commented on #576
@benrito Great comprehensive map of foundation programs. I need many of these older logos if you have them on hand. Also can you send me a link to the file you made this with if possible? Thanks!

Learning freedom and the web
Drumbeat
Open badges
badge alliance
Hackasaurus
Appmaker
Mozilla Igniet
stop watching us
Netgain
The coral project
Join Mozilla
LRNG

<img width="1680" alt="screen shot 2015-

[2015-10-08 19:04] lovegushwa commented on #592
@OpenMatt @cassiemc This still needs some work but here is a screenshot so you can see where it's headed.
![screen-shot-2015-10-08-at-11 58 28-am](https://cloud.githubusercontent.com/assets/12228435/10376781/a0e1cacc-6db4-11e5-9143-c17cda19b331.jpg)

[2015-10-08 19:06] lovegushwa commented on #595
@OpenMatt @cassiemc
I'm still working on the composition and colors. But this amount of content should work perfectly if we want to make more of these.
![screen-shot-2015-10-08-at-11 58 47-am](https://cloud.githubusercontent.com/assets/12228435/10376831/e68843f8-6db4-11e5-97e6-ec7f8e560064.jpg)

[2015-10-08 20:00] OpenMatt commented on #576
* @cassiemc do we have a dropbox folder with those assets in it?
* @lovegushwa might be easier to try and just pull those off the web where possible

[2015-10-08 20:03] OpenMatt commented on #595
@lovegushwa This looks great.
* My main question is about connecting the 5 leadership tiers more strongly to "Mozilla Leadership Network." In the mock-up, the connection between these was a bit clearer. The visual logic was like: "Mozilla Leadership Network = what kinds of leaders? *These* kinds of leaders.
* If that's hard to do or doesn't make sense, let's drop it and just keep pressing ahead.

[2015-10-08 20:04] OpenMatt commented on #595
* Other note is: these posters and the slides should look roughly like they come from the same place / have a unified look and feel. I'm not sure I've seen us use that color before -- good to pick something that "looks like us."

[2015-10-08 20:12] lovegushwa commented on #595
@OpenMatt
- Let me dig into your first point about the leadership tiers.

- Totally agree about the blue, it's a placeholder color (just a value that contrasts with the orange red) and I'll replace it with something officially Mozilla soon.

- There will be more color in the posters than the deck (it's charcoal gray). I'll figure out how to tie them together. Don't worry, there may be some contras

[2015-10-08 20:16] OpenMatt commented on #592
@lovegushwa love this.
1) can we make it clearer this is "Mozilla Festival 2010 - 2015?" Maybe those date ranges belong w. the logo? instead of floating top left?
2) remove comma after "from"
3) remove space after "in" and ellipsis (like this: "in...")
4) possible to make the themes at right a bit larger?
5) swap placement of "web of things" and "education"

[2015-10-08 20:17] OpenMatt commented on #595
@lovegushwa : Love all that. Thanks Jordan. You're killing this. Thank you!

[2015-10-08 20:21] lovegushwa commented on #595
thanks @OpenMatt !

[2015-10-08 20:24] cassiemc commented on #576
I'll keep looking at cappleton's old files, but @sabrinang can you help with some of those older logos?

[2015-10-08 20:30] bhuvanshri commented on #589
First pass on the narrative complete: https://wiki.mozilla.org/Learning/Staging

Next Steps:
- Need to add some images.
- Move some content from the wiki to archive.
- Link up Staging narrative to the archived details.

[2015-10-08 20:32] OpenMatt commented on #589
@bhuvanshri don't worry about images for now -- we'll pull those from the design work being done for the posters, etc.

[2015-10-08 20:42] cassiemc commented on #576
Looks like I do not have any vector files of cappleton's whatsoever.

[2015-10-08 20:53] benrito commented on #576
Have several of these.

I'll try to help when my plane lands (10 hours from now)

[2015-10-08 20:59] lovegushwa commented on #592
great feedback @OpenMatt will make these changes.

[2015-10-08 21:20] simonwex commented on #448
Souktel contract has been signed and counter-signed.

[2015-10-08 21:20] #448 closed

[2015-10-08 21:21] sabrinang commented on #576
For Drumbeat, visit https://wiki.mozilla.org/Drumbeat/styleguide
(original [logo] (https://wiki.mozilla.org/Drumbeat/logo
) are by Sean Martell I don't have originals)

For hackasaurus, http://toolness.github.io/hackasaurus-parable/navigator-badge/supergirl.png
(original by Jess Klein I don't have originals)

For Summer Code Party,  https://wiki.mozilla.org/Foundation_Summer_2012_Campaign_Roadmap

[2015-10-08 22:10] hannahkane commented on #573
Moving to next heartbeat, because this is an ongoing project.

[2015-10-08 22:13] hannahkane commented on #554
Design is wrapping up, but add'l tickets have been added, and work will continue into the next heartbeat.

[2015-10-08 22:59] OpenMatt commented on #587
Back of board book: http://mzl.la/back_of_book

[2015-10-08 23:15] brettgaylor commented on #571
So what we need to do here is:
-Fix the layout issues on mobile as seen in this screenshot (Firefox for Android)
-Remove the link on the front page, and each child page, to the 2016 host org application
![screenshot_2015-10-08-16-13-08](https://cloud.githubusercontent.com/assets/345974/10382337/ce5ac60c-6dd7-11e5-961a-6370dd3863d2.png)

[2015-10-08 23:16] brettgaylor commented on #571
@OpenMatt @simonwex do you think we could fix this stuff by next Monday the 12th (or 13th if Thanksgiving is an issue)

[2015-10-08 23:30] OpenMatt commented on #593
* Mock-up
![advocacy graphic 001](https://cloud.githubusercontent.com/assets/1007376/10382513/c473cb78-6df2-11e5-8a10-7cfcfdf1c6d9.jpg)
* @valianttry can you provide
a) list size numbers year by year
b) key milestones to add
c) partners I should add to the bottom for "network"?

[2015-10-08 23:46] edrushka commented on #378
Update: undergoing a legal review from Abigail.

[2015-10-08 23:47] aplohman commented on #596
If getting the data tomorrow is too late for design, ok to set this one aside. I can make sure to have the numbers on hand next week in case we want to talk about them or show them in a table or on a slide in a non-graphic way.

[2015-10-09 01:38] OpenMatt commented on #596
@aplohman if you want to post the data here Fri we will do the best we can. Especially since the design won't be complicated.

[2015-10-09 05:35] lovegushwa commented on #598
Perfect @benrito thank you!

[2015-10-09 05:35] #598 closed

[2015-10-09 06:20] simonwex commented on #560
Work continuing in #570. This is good to close.

[2015-10-09 06:20] #560 closed

[2015-10-09 06:22] simonwex opened #599 "Find a new home for community etherpads"

[2015-10-09 06:24] simonwex commented on #599
Meeting scheduled for Oct 10; https://public.etherpad-mozilla.org/p/aetherpad

[2015-10-09 09:03] benrito commented on #576
current pages version: https://www.dropbox.com/s/x76q9ruhv0yrvfm/infographics.pages?dl=0

[2015-10-09 10:40] jgmac1106 commented on #554
Is there a rough timeline? Should I avoid signing people up to use Goggle's
until the milestone is complete?

On Thu, Oct 8, 2015, 6:13 PM hannahkane <notifications@github.com> wrote:

[2015-10-09 12:31] OpenMatt commented on #593
* @valianttry can you provide
* a) list size numbers year by year (for 2011, 2012)
* b) key milestones to add (correlating to list growth. or: major milestones)
* c) key partners I should add to the bottom for "network"? just the biggies.

[2015-10-09 12:33] OpenMatt commented on #577
* Needs final copywriting work.

[2015-10-09 13:12] cassiemc commented on #592
@lovegushwa I dig this layout a lot. Gives a strong feeling of upward and outward growth. I think the design could be a bit stronger with a couple small tweaks in addition to matt's.
* Would get rid of the white background behind the logo and just use the white knockout logo, as per https://2015.mozillafestival.org/. That should make it cleaner / simpler.
* I agree the dates could be bigger and mo

[2015-10-09 13:12] OpenMatt commented on #584
@ldecoursy status?

[2015-10-09 13:13] OpenMatt commented on #583
@ldecoursy status?

[2015-10-09 13:13] OpenMatt commented on #561
Status?

[2015-10-09 13:13] OpenMatt commented on #559
@xmatthewx status?

[2015-10-09 13:13] cassiemc commented on #587
@OpenMatt Didn't let me open it, just requested access.

[2015-10-09 13:13] OpenMatt commented on #546
@adamlofting status? [[flagged!]](http://plzkthx.herokuapp.com)

[2015-10-09 13:14] ldecoursy commented on #584
Moving to next heartbeat. Pieces are coming together - will synthesize into one plan over the next week.

[2015-10-09 13:14] ldecoursy commented on #583
Had a call about this yesterday. Still a few bits to iron out, but 1-pager will come next week. Moving to next heartbeat.

[2015-10-09 13:16] ldecoursy commented on #583
Going to focus on Web Lit Basics 1 for now. @soapdog is working on some documentation, @chadsansing is going to help migrate content into markdown.

[2015-10-09 13:17] OpenMatt commented on #545
@xmatthewx shall we close this one, and file a new ticket for any further follow-up?

[2015-10-09 13:18] OpenMatt commented on #571
this one's all @simonwex

[2015-10-09 13:19] OpenMatt commented on #566
Moving this to next heartbeat

[2015-10-09 13:19] OpenMatt commented on #527
@hannahkane status?

[2015-10-09 13:33] adamlofting commented on #546
Good progress on the development side of this, but blocked on the Stripe Vendor review. I'll close this tracking ticket for this heartbeat though.

[2015-10-09 13:33] #546 closed

[2015-10-09 13:33] cassiemc commented on #587
The only page so far that seems to need @lovegushwa's hand is p5 – 2015 board workflow. If that? @OpenMatt I assume there's more coming?

[2015-10-09 13:40] OpenMatt commented on #587
* @cassiemc @lovegushwa there's nothing there for you guys. That's just for me and Angela's planning purposes.
* Jordan + Mark will be meeting later today.

[2015-10-09 13:42] cassiemc commented on #576
@sabrinang Thank you SO much for pulling those together. So helpful.

Question for @benrito & @OpenMatt: This diagram is very busy. It makes me wonder what the objective is here – is one of the intentions to show a slimming down and streamlining of programs? If that's true, we're not there yet – and that will take a lot of legwork! I also have to wonder if all these logos are necessary. It might m

[2015-10-09 13:52] chadsansing opened #600 "Curriculum template design review"
* **Current status:** Our current teaching activity template is a combination of Thimble templates from the previous two years migrated into GitHub as a prototype earlier this year.
* Now that we have a Curriculum Developer for Web Literacy creating materials at a steady pace, we want to think through design and a process for moving forward.
* **New curriculum template?** We believe we need a stro

[2015-10-09 14:19] OpenMatt commented on #576
It is quite busy -- Ben's done an amazing job of packing a *lot* of data in
I'm opening up the original to see if I can simplify a bit.

[2015-10-09 14:43] xmatthewx commented on #545
Yes. Debrief is done. Product review is done. Team trip is a planned and starting next week.

[2015-10-09 14:43] #545 closed

[2015-10-09 14:47] xmatthewx commented on #559
Some progress. We'll have a new release to the play store early next week. We'll plan Q4 roadmap while together in NY. Bumping this to next milestone.

[2015-10-09 16:07] cassiemc commented on #586
These are on track! Rolling over to the next heartbeat, since the work is ongoing.
https://github.com/mozilla/2015.mozillafestival.org/milestones/23%20October

[2015-10-09 16:13] OpenMatt commented on #571
@simonwex will follow up w. @brettgaylor on this

[2015-10-09 16:13] OpenMatt commented on #527
will probably close today / early next week

[2015-10-09 16:16] simonwex commented on #571
@alicoding is going to give this a go. Thanks, @alicoding!

[2015-10-09 16:16] OpenMatt commented on #600
#### Next steps
* Set up kick-off meeting w. Design (@cassiemc + ) to work out next steps

[2015-10-09 16:21] valianttry commented on #593
List Size (active, subscribed emails):
Today: 1,658,326
2014: 1,241,718
2013: 708,784
2012: 412,233
2011: 18,429

[2015-10-09 16:21] OpenMatt commented on #594
* @simonwex this will likely need @alicoding + a new hire or someone from @xmatthewx 's team
* next step: @hannahkane + @simonwex should schedule a follow-up

[2015-10-09 16:25] OpenMatt commented on #480
@xmatthewx can you close or push to a different milestone

[2015-10-09 16:26] OpenMatt commented on #558
@simonwex we still don't have a plan here.
* question: why not just remove the "apply" button from all pages?

[2015-10-09 16:28] brettgaylor commented on #571
@alicoding this page also has different formatting issues on mobile:
https://advocacy.mozilla.org/get-involved/

Could you have a look?

[2015-10-09 16:32] hannahkane commented on #600
We can probably start this this heartbeat. Might be good to add to the brief some of the questions in the [Design Brief](https://docs.google.com/document/d/1H4rDTT7zdvOFhGlgMDIuRLlTRlAxMsU_-mUehv_iEZU/edit)

[2015-10-09 16:35] chadsansing commented on #600
@hannahkane, can do, but will ask for help w/ a few prompts to make sure I'm including what's helpful. Today or Monday I'll also send a calendar invite for a kick-off. I'll include @cassiemc, @hannahkane, @zee-moz, and whom else?

[2015-10-09 16:46] valianttry commented on #593
After talking to Chris R about partners:

Digitale Gesellschaft, EFF, Access, FFTF, Free Press

[2015-10-09 16:56] simonwex commented on #558
I think removing the "apply" button from all badge pages would stop people from technically being able to apply to badges, but would only leave them abandoned and confused. I think we should do this in two phases.

1. Remove the apply button as Hannah's suggesting
2. track down busy sources and try to turn them off, too

[2015-10-09 17:00] cassiemc commented on #600
This will be great, looking forward! Thanks for all the awesome thinking in the design needs doc, @chadsansing. Maybe we can go through the design brief together during our kickoff... good to talk through that in person and ask questions / get clarifications.

We have the teach triage meeting later this afternoon then I should have a better idea of whether @sabrinang or @kristinashu can attend as

[2015-10-09 17:07] lovegushwa commented on #595
@OpenMatt @cassiemc

Here is a revamped version, I borrowed the Mozfest blue and gray (the gray should tie into the presentation deck nicely).

@OpenMatt if this is going to go I can knock out the other 4 if the copy and images are ready.

![screen-shot-2015-10-09-at-10 02 57-am](https://cloud.githubusercontent.com/assets/12228435/10400413/5789e2c4-6e6d-11e5-950f-1134aad3a8fe.jpg)

[2015-10-09 17:12] lovegushwa commented on #592
@OpenMatt @cassiemc please see the updated version. We can still change if needed but I'm going to shift my attention to the 5year history poster.

![screen-shot-2015-10-09-at-9 46 22-am](https://cloud.githubusercontent.com/assets/12228435/10400467/c95b6d50-6e6d-11e5-90db-e87e06508cb4.jpg)

[2015-10-09 17:17] valianttry commented on #593
Here is a list of key grassroots online organizing milestones that have driven our community growth:

* November 2011: SOPA
* June 2013: joined Stopwatching.us coalition (Snowden)
* June 2014: Launched Net Neutrality campaign
- Tile, snippet, FF+Y email, Facebook, Twitter, MoFo Email = 300K+ signatures (of 4 million presented to FCC) + 7000+ phone calls
* February 4 2015: Tom Wheeler (FCC Chair) a

[2015-10-09 17:27] hannahkane commented on #600
Also, I might not be able to attend b/c I'll be at the Webmaker work week, but don't want to slow down progress on this, so please feel free to meet without me.

[2015-10-09 17:27] hannahkane commented on #558
What if we remove the button AND add explanatory text?

[2015-10-09 17:49] OpenMatt commented on #593
![advocacy mock-up 001](https://cloud.githubusercontent.com/assets/1007376/10401379/957c1a74-6e8c-11e5-9ff1-4b7bed8d40bf.jpg)

[2015-10-09 17:50] OpenMatt commented on #593
@lovegushwa does that work? I'll put the assets here if so.

[2015-10-09 17:52] valianttry commented on #593
Maybe i'm behind a version -- but please remove Public Knowledge and add Access Now to the partners list.

[2015-10-09 17:56] OpenMatt commented on #593
@valianttry k

[2015-10-09 17:56] lovegushwa commented on #593
@OpenMatt yes I think I can do. Assets and the digital file you used to make this would be great.

[2015-10-09 18:05] chadsansing commented on #600
@cassiemc, @hannahkane: took a run here https://docs.google.com/document/d/1HJ2vrsFffg4yd0-RugSuKxlf9oZEffLqrnEitGRNz04/edit & commented @hannahkane for a few assists; please edit whatever seems unhelpful or lacking in specificity and we can talk through it soon.

Once we know if @sabrinang or @kristinashu can participate, I'll set up an invite.

[2015-10-09 18:07] cassiemc commented on #595
@OpenMatt I'm leaning toward this being closer to the Teach palette than to the Mozfest palette, what do you think? Maybe the overlapping area is in the pink and blue (a slightly deeper blue than what's here).

@lovegushwa the grey seems at odds with the gradient below. Wonder if making Marc's name way more dominant would help this feel like it is about a real person.

[2015-10-09 18:22] simonwex commented on #558
WFM

[2015-10-09 18:25] OpenMatt commented on #595
* Freakin love this.
* Mark will like MozFest color palette / tie-in. It's a big part of his board story. But whatever you guys decide is fine.
* +1 to making the name larger / more pride / real human
* Maybe it's just me but there's something about omitting the blue circle from the ladder on "professional" that makes it feel less integrated / part of a seamless whole. But now I'm hair-splitting.

[2015-10-09 18:25] OpenMatt commented on #595
@lovegushwa I'd hold off on cranking on any others until I get the copy and list of names 100% finalized, which I'm working on now

[2015-10-09 18:31] benrito commented on #576
Hey guys, main objectives are:

1. To show where $40m went over the last few years

2. To show how we have created a lot of networks and strengths in 5 years

3. To show that all of this rolls up into a Mozilla leaders network and an amazing advocacy program.

Feel free to take liberties with the design—think that's something best left to the designers :) I'll be around all weekend and free to tex

[2015-10-09 18:33] benrito commented on #566
Which part? The graphic satisfies the Board deadline; we would need subtickets if we want to track progress toward the January release.

[2015-10-09 18:59] ldecoursy commented on #595
Re copy for Marc's - it should say New York City, instead of Brooklyn. Also, for the first bullet, I'd say "nonprofit org focused on youth development and technology."

[2015-10-09 19:15] OpenMatt commented on #593
@lovegushwa ok sent you the Keynote file

[2015-10-09 20:30] cassiemc commented on #595
@ldecoursy Is the last point "Added kids teaching web dev to other kids to Mouse,
Contributed to our curriculum." – should that be two different bullets?

[2015-10-09 20:33] cassiemc commented on #595
@OpenMatt @ldecoursy Also, should we streamline the tenses or order them so they tell a story – so:

* Runs programs at a nonprofit org focused on youth development and technology.
* Learned agile, open practices in the New York City Hive.
* Added kids teaching web dev to other kids to Mouse. [not sure what this means]
* Contributed to Mozilla Learning Network curriculum.

Feel free to tweak that,

[2015-10-09 20:39] ldecoursy commented on #595
Thanks Cassie - few suggestions:

* Runs programs at Mouse, a nonprofit focused on youth development and technology.
* Was founding member and learned agile, open practices in Hive NYC.
* Added web literacy as a core component to Mouse Squad Certification program.
* Contributed to Mozilla Learning Network curriculum.

Anything missing @chrislarry33?

[2015-10-09 20:46] cassiemc commented on #592
Two layout options – one with Mozfest logo at the top, other at the bottom. First is probably informationally stronger; second might be stronger conceptually.
![admin_board-posters_12-cassie-is-the-bomb-sm](https://cloud.githubusercontent.com/assets/1186326/10405104/cc2c0bd4-6ea4-11e5-8121-dc841f498773.jpg)
![admin_board-posters_12-cassie-is-the-bomb2-sm](https://cloud.githubusercontent.com/assets

[2015-10-09 20:48] cassiemc commented on #595
A few more options. Best viewed alongside the poster design in https://github.com/MozillaFoundation/plan/issues/592, trying to use colors to get to your comment @OpenMatt about them feeling like this person was picked out of the crowd.

![admin_board-posters_12-cassie-is-the-bomb4](https://cloud.githubusercontent.com/assets/1186326/10404995/2506702e-6ea4-11e5-86bb-e1726ffe7c05.jpg)
![admin_board-p

[2015-10-09 20:49] cassiemc commented on #595
@lovegushwa Also the text will need updating as per @ldecoursy's comment in https://github.com/MozillaFoundation/plan/issues/595#issuecomment-146980962

[2015-10-09 20:53] omnignorant commented on #595
@chrislarry33 photos of Jackie Moore
![dsc_0899](https://cloud.githubusercontent.com/assets/6335874/10405336/cfc6a67a-6e9d-11e5-932e-be2138325f02.jpg)
![dsc_0898](https://cloud.githubusercontent.com/assets/6335874/10405337/cfc8cfa4-6e9d-11e5-971f-eccec1f4156a.jpg)

[2015-10-09 20:54] OpenMatt commented on #595
@cassiemc @lovegushwa those designs are great. These are awesome
* Let's go w. dark blue, instead of light blue
* I can't tell the difference btwn open 1 and 2. You guys decide and let's push ahead.
* Working to get you a final final set of names and copy now

[2015-10-09 20:57] OpenMatt commented on #592
@ love this:
* correction: years should be 2010 to 2015
* once that's done and @lovegushwa is happy let's consider this one done

[2015-10-09 20:58] cassiemc commented on #595
@OpenMatt mistake, there was no diff between the 1st & 2nd. I deleted the extra one.

[2015-10-09 21:10] cassiemc commented on #592
Update: We're going with the one that has the logo at the top. Repasting here for clarity:

![admin_board-posters_12-cassie-is-the-bomb-v2](https://cloud.githubusercontent.com/assets/1186326/10405677/86d6e33e-6ea8-11e5-9c54-6160ffd94683.jpg)

@lovegushwa if you need to make any more adjustments, the source file is here: https://drive.google.com/a/mozilla.com/file/d/0BzfN9sXlOXt1ZjYyZWFoY0dYVlE/vie

[2015-10-09 21:11] cassiemc commented on #595
Update with just the dark blue option and @ldecoursy's revised text:
![admin_board-posters_12-cassie-is-the-bomb-v22](https://cloud.githubusercontent.com/assets/1186326/10405632/25f57bac-6ea8-11e5-814b-3ae59b14506b.jpg)

Latest source file is here: https://drive.google.com/a/mozilla.com/file/d/0BzfN9sXlOXt1ZjYyZWFoY0dYVlE/view?usp=sharing
The psd for editing the profile images is here: https://dri

[2015-10-09 22:45] benrito commented on #576
@losowsky do you have a coral logo SVG?

@iamjessklein any hackasaurus OG graphics?

@sabrinang should i reach out to chris appleton?
stop watching us, netgain, Join Mozilla, LRNG could all probably be traced or use a scaled down thing snatched off google images.

[2015-10-09 22:46] benrito commented on #576
My last comment got truncated a bit, make sure to click the little dots to expand.

New data for badges line:

3 grants with below milestones:

year 1 grant:
- White House Open Badges Summit (January 2011)
- HASTAC and MacArthur announce winners of DML Competition Badges for Lifelong Learning (March 2011)
- First full Open Badges Track at Mozilla Festival - first platform, Open Badges 1.0 (Novembe

[2015-10-10 00:29] OpenMatt commented on #593
3 updated mock-ups@lovegushwa

[2015-10-10 00:33] OpenMatt commented on #593
* Mockup #2 is just a straight up logo fest. I don't have special access to high res logos -- although @edrushka or @sabrinang or @Melechuga might have the logos that come from Ford Open Web. Or if you can get away with just grabbing off the web, coolio.

[2015-10-10 00:35] OpenMatt commented on #593
### Mock 3
* Here's copy for mockup (3):
January 2012  "Internet blackout"  (SOPA / PIPA)
June 2013  Joined Stopwatching.us coalition (NSA / PRISM)
June 2014  Launched Net Neutrality campaign
(300,000 signatures +  7000 phone calls)
Feb 2014  Win. FCC votes to protect NN.
April 2015 Launched USA Freedom petition (surveillance)
June 2015 Win. USA Freedom  Act passes
Sep 2015 Launched first non-EN c

[2015-10-10 00:47] OpenMatt commented on #595
### Notes from Mark

* 1) Palette: Try to use "one Mozilla-ish" palette where possible. (e.g., Martell's pallette) To signal: compatibility / future focus w. core Mozilla brand for this work.
* 2) Switch leadership categories at bottom from horizontal to vertical.  To communicate a hierarchy.

[2015-10-10 01:33] hannahkane commented on #554
@jgmac1106 - don't want to promise anything specific in terms of a timeline, but people can still use [Goggles](https://webmaker.org/en-US/goggles) in the meantime.

[2015-10-10 01:54] hannahkane commented on #600
@chadsansing - awesome job with the doc. I added my two cents. both @kristinashu and @sabrinang will participate, so feel free to schedule a time that works for all of you, and I'll try to attend as well!

[2015-10-10 01:55] hannahkane commented on #600
actually - given what's going on this heartbeat, maybe we should schedule the kickoff for Monday, the 19th, and then we could devote the second half of the heartbeat to it?

[2015-10-10 01:58] chrislarry33 commented on #600
This is a piece of work that when completed will really be of benefit and will help us grow web lit curriculum rapidly internally and with our networks.

[2015-10-10 03:03] lovegushwa commented on #593
@OpenMatt these poster ideas are great.

Here is the poster plan I discussed with Mark after you jumped off. Depending on the available space we should be doing something like 3 to 5 Leadership and Advocacy posters (equal number of each). The Mozfest poster should sit between. Leadership posters on the left. Advocacy on the right. Each set should have it's own color theme (see you can tell Advocac

[2015-10-10 03:15] lovegushwa commented on #587
@OpenMatt Mark mentioned having me look at all the decks since last October. It will help me understand the strategy narrative and to double check were not saying something we already said in a clearer way. Can you send me a link to these decks?

[2015-10-10 03:49] OpenMatt commented on #593
@lovegushwa cool
* I added a 4th mock-up for Advocacy, above. For Maker Party.
* It riffs off this infographic Mark mentioned: https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcRENMqn14M40lpJRUG_STTgHweLyEPDHnw19hc7FbJkfm9YealF6SQLIm0
*
![makerparty_postparty_infographic_static_vertical_v2](https://cloud.githubusercontent.com/assets/1007376/10409124/64ec5e06-6ee0-11e5-9549-57c6e5d25d2d.png)

[2015-10-10 03:53] lovegushwa commented on #593
@OpenMatt this is great thank you! ... I'm jumping on the deck for a bit tonight and I'll pick up on the posters tomorrow. This helps me pin down the visual language a bit.

[2015-10-10 10:53] jgmac1106 commented on #554
Thanks, didn't need the promise.  Just wanted to make sure there wasn't
going to be a gap.

Goggles is essential to my credibility unit I teach.

Thanks for letting me know.

On Fri, Oct 9, 2015 at 9:33 PM hannahkane <notifications@github.com> wrote:

[2015-10-10 13:29] OpenMatt commented on #595
### Final list of names
#### Champio
Massimo Banzi, Arduino
* invented Arduino, gateway for a generation of open hardware hackers
* attended first-ever Mozilla Festival in Barcelona

#### Executive
* Gene Kimmelman, Public Knowledge
* Connie Yowell, Collective Shift

#### Professionals
* Jackie Moore, Level Up Youth Maker Space
* Marc Lesser, Mouse
* Dave Humphrey, Seneca College

#### Professiona

[2015-10-10 13:36] OpenMatt commented on #595
### Images
- [ ] Massimo Banzi, Arduino
http://makezine.com/wp-content/uploads/2013/04/massimo-banzi.jpg
- [ ] Gene Kimmelman, Open Knowledge http://api.ning.com/files/rRUWEC*XQHwewLvMV3Aj8ox6eU5Q3OFfPZcncqRGVEif632LLLygHdj1HddIfdP897JmMNKQxI6d7ZEuwkAljt2*NX287ebH/gene_kimmelman.jpg or buy here http://www.alamy.com/stock-photo-consumer-protection-advocate-gene-kimmelman-discusses-net-neutrality-72

[2015-10-10 13:38] OpenMatt commented on #595
* @lovegushwa This should give you what you need to crank these out.
* I would do all 11. Then Mark can pick which ones he wants printed. And have the rest on hand as slides -- these will be great assets even if we don't print as posters
* We can update and provide final text bullets later. I'm having trouble getting people to write good copy. Will probably be Mon or Tues before we get it.

[2015-10-10 15:39] losowsky commented on #576
[image: Inline image 1]

Thanks Ben.

*----------------------------*
Andrew Losowsky
The Coral Project <http://coralproject.net>
My website <http://www.losowsky.com>
Twitter <https://twitter.com/losowsky>
LinkedIn <http://www.linkedin.com/in/andrewlosowsky>

On Fri, Oct 9, 2015 at 6:45 PM, Ben Moskowitz <notifications@github.com>
wrote:

[2015-10-10 17:28] msurman commented on #593
@lovegushwa - like the colour scheme and layout idea. probably need a final list of what we're including in each of those poster sets. also, probably need a couple of the orange ones in the centre, maybe vertically stacked?

Core poster set (orange)

1. Mozilla Foundation - 2010 - 2015 (some copy about what you're looking at)
2. Simple timeline (will develop from Ben's)
3. Newspaper quote

Leaders

[2015-10-10 17:39] msurman commented on #593
@valianttry do you think we could combine funds raised and # of supporters on mock #1?

I want to make the argument to the board that small dollar fundraising and advocacy work are related, and that there is some rough correlation both in terms of supporter growth and growth in our capacity.

Part of the reason is because I think this is true :). But, also, it's a good way to make the argument tha

[2015-10-10 17:44] msurman commented on #593
@OpenMatt @lovegushwa

Re: Mock 4, going in the right direction but I would say:

- Copy should put stronger focus on advocacy and 'teach-in' side of things
-> Want to show that teaching is on action people can take in grassroots campaigns
-> And, make the point that Maker Party is our most successful ftf / grassroots campaign so far

- Still focus on leaders, but shine a bigger light on number of

[2015-10-10 17:46] msurman commented on #593
@OpenMatt @lovegushwa should have said yesterday, but please do not use the 'Mozilla Advocacy' logo. I argued w/ DaveS about this a ton -- Mozilla's advocacy efforts should not have their own brand. We are just Mozilla.

That said, we do need a way to show the advocacy and leadership stuff as separate, label them clearly, etc. I think Jordan is already headed in that direction.

[2015-10-10 17:48] chrislarry33 commented on #593
Hi all, I am here and following this ticket, please ping for info/review etc

[2015-10-10 17:52] msurman commented on #593
@OpenMatt @lovegushwa @chrislarry33 @valianttry

Mock 2

Can we make this more of a 'partners' network map? And mix partner orgs from both maker party and political advocacy? Maye show different colour for each of those two?

Simple approach would be:

Network map that roughly spans regions, like a spider web
Small icons for partners in each category tied to their region

E.g.

Political partners

[2015-10-10 17:54] chrislarry33 commented on #593
"Bonus points, could list ~ number of partners globally if we have that for Maker Party" working on this plus short list of ones to highlight

[2015-10-10 18:24] chrislarry33 commented on #593
Tagging @amirad as well

Some data:
- 2014 Global MP Partners: 300 organizations
- I'd be comfortable saying 500+ Global partners from Summer Code Party-2015 MP

Good partners to highlight over last 3 years:
- Coder Dojo
- Netsquared
- National Writing Project
- Digital Harbor
- NYC Department of Education
- Institute of Museum and Library Services (this turned into almost a million dollars in gra

[2015-10-10 18:26] chrislarry33 commented on #593
Maker Party design assets found here: http://web.archive.org/web/20140903234547/https://party.webmaker.org/resources

[2015-10-10 18:44] valianttry commented on #593
@msurman absolutely combining growth in people + donors is fine. Some points of clarification (just in case the board asks):
* Growth in donations and "taking action" are both metrics for building long term relationships with people around the world. (Many who may only know about our products.)
* We see a spike in donations when we 1) win advocacy campaigns; 2) talk about our mission in Firefox ma

[2015-10-10 18:52] lovegushwa commented on #593
@msurman @OpenMatt I think we do need a clear way to wrangle these posters into tickets.
We could convert #592 into the Core poster set. Make #593 (this thread) the everything advocacy posters thread and #595 the everything leadership poster thread. Any thoughts @OpenMatt ?

[2015-10-10 18:54] msurman commented on #576
@benrito and all, thanks for huge work on this. We're going to want to harvest all this work and use in a couple of different ways.

For the board meeting posters, I want to slice this in to two piles and simplify a ton.

Poster #1: how we've built leadership networks and used $30M etc.
Poster #2: how we've build credibility and capacity as an advocacy org.

@lovegushwa should do these posters.

W

[2015-10-10 18:58] msurman commented on #576
Poster #1

@lovegushwa @benrito

Here is a rough mock / cut down of this diagram for poster #1:

<img width="970" alt="screen shot 2015-10-10 at 11 53 19 am" src="https://cloud.githubusercontent.com/assets/8216635/10412791/e145e49e-6f45-11e5-9c2d-71198dd9dc25.png">

The pages file is here:

﻿https://www.dropbox.com/s/kxl7c3usj49unlq/Leadership%20diagram.pages?dl=0

@lovegushwa can you start on des

[2015-10-10 19:00] msurman commented on #576
Poster #1

Grant money to put along the bottom of poster #1 is as follows:

2010: $1.1M
2011: $2.8M
2012: $5M
2013: $5.4M
2014: $5.1M
2015: $7.8M (estimated)

[2015-10-10 19:02] msurman commented on #593
@lovegushwa @OpenMatt I agree, do you have time to split / reorg? Or can that wait until tomorrow? Matt is offline for the rest of the day.

Also, #576 probably becomes a part of #595.

[2015-10-10 19:05] msurman commented on #593
@valianttry that's helpful info for the board slides! Thanks.

Re: the diagram, can you help @lovegushwa and @OpenMatt add the dollars numbers to the supporters graphic? I think all we need is total small dollar number from 2010 to 2014, with 2015 projected. Easy to find?

[2015-10-10 19:26] msurman commented on #576
Poster #2

@lovegushwa @benrito

Here is a rough mock / cut down of this diagram for poster #2:

<img width="853" alt="screen shot 2015-10-10 at 12 22 09 pm" src="https://cloud.githubusercontent.com/assets/8216635/10412892/c71d367c-6f49-11e5-8b9e-6dea3d26f9bf.png">

The pages version is here:

https://www.dropbox.com/s/ib7o3gxx87fbocv/advocacy%20diagram.pages?dl=0

@benrito, this one needs a bit m

[2015-10-10 19:38] benrito commented on #576
Roger; can jump in on this tomorrow unless @lovegushwa intends to wrap up today. +1 on the split and design changes. I can provide the data requested by Mark no problem.

@lovegushwa perhaps we can meet tomorrow to review design mock, tie everything off then? Mark's diagrams are pretty much there but the devil will be in the details, and it might be easier to do that together/synchronously. Let me

[2015-10-10 20:03] benrito commented on #576
Double checking; the numbers seem a little low, is this revenue secured or revenue booked? @msurman

[2015-10-10 20:15] OpenMatt commented on #576
Booked.
On Oct 10, 2015 4:03 PM, "Ben Moskowitz" <notifications@github.com> wrote:

[2015-10-10 21:55] msurman commented on #593
@valianttry one other thing that would help for Mock 1: do you have benchmark numbers on the list size and individual donations numbers for comparable orgs? E.g. EFF, Free Press, etc? Also, maybe same for 350.org or some of the others in Sara's deck?

[2015-10-11 00:29] msurman commented on #595
@lovegushwa @OpenMatt in the end, Jordan and I decided to use just one leader for each category.

Also, I've decided to lower the bar / change the champion category to be more people like category. We can still reserve the Mozilla Award idea for people like Massimo.

[2015-10-11 00:30] msurman commented on #595
@lovegushwa @OpenMatt

Final choices and copy for the leaders that Jordan will put on the posters is this:

Champion

Connie Yowell, CEO, Collective Shift

* key supporter of Mozilla leadership and education work
* provided $xM in funding while at MacArthur
* just launched LRNG platform using Mozilla’s badges tech and web literacy curriculum
* co-chairs the Badge Alliance with Mozilla

* champions

[2015-10-11 00:32] msurman commented on #595
@lovegushwa as you'll see above, I'm suggesting a slight change to the format. Now there are three types of data:

* the bullets about the person
* a description of the archetype / category
* a quote

Can you play with the design so that works across the board?

[2015-10-11 00:42] amirad commented on #593
Chiming in here. We should probably say 400 global Maker Party partners since inception - more conservative since the numbers are hard to count.

Here's a more global breakdown of partners which might make it easier to pin to a map. Take your picking.
Dnet = Bangladesh
NWP = USA
CoderDojo = Global (but we can pin them to Ireland/London)
School of Open = East Africa (can pin to Kenya)
Code for Cape

[2015-10-11 06:26] lovegushwa commented on #595
thanks @msurman, cranked this out. Will post tomorrow once I have more posters to give some context.

[2015-10-11 06:31] lovegushwa commented on #576
Thanks @benrito , cranking away. I'll ping you tomorrow (probably around 11 or 12 PST.)

[2015-10-11 16:03] benrito commented on #576
@openmatt @msurman is that intentional? Booked is closer to a proxy for our burn rate, not outside investments into building networks of leaders around Mozilla. The secured numbers will be bigger but maybe not linear. Thoughts?

[2015-10-11 16:12] benrito commented on #576
@lovegushwa here are MozFest numbers but I think you already have them

![pastedgraphic-1](https://cloud.githubusercontent.com/assets/541325/10417650/628c9fcc-7011-11e5-8795-d8b0d18547e3.png)

[2015-10-11 21:51] valianttry commented on #593
Infographic for revenue growth: http://intangible.ca/2015/03/02/infographic-2014/
Projection for 2015: $3 million total from small dollar giving

[2015-10-11 22:07] valianttry commented on #593
@msurman re: putting our list size or fundraising in context with other NGOs:
-- (non-open) organizations are not very forthcoming about the size of their own email lists since it's a strong indicator of health / fundraising capability. I told @OpenMatt I'm not 100% comfortable saying that we are "the largest list focused on web issues" because it is not really possible to confirm that, even thoug

[2015-10-11 22:37] benrito commented on #593
Hey @lovegushwa, here are @msurman's requested data and tweaks below.

Not sure how we want to incorporate https://github.com/MozillaFoundation/plan/issues/593 but we can discuss that later this evening.

A few timeline / visual related tweaks but we can quickly do those in realtime too.

Do we know what our deadline is on Monday?

==Poster #1==

=Summary:=

Since 2010, we’ve been building network

[2015-10-11 22:41] benrito commented on #593
totally the wrong bug. deleted last comment.

[2015-10-11 22:50] benrito commented on #576
Hey @lovegushwa, here are @msurman's requested data and tweaks below.

Not sure how we want to incorporate #593 but we can discuss that later this evening.

A few timeline / visual related tweaks but we can quickly do those in realtime too.

Do we know what our deadline is on Monday?

==Poster #1==

=Summary:=

Since 2010, we’ve been building networks with public interest and philanthropic organiz

[2015-10-12 01:50] chrislarry33 commented on #595
@lovegushwa @msurman @OpenMatt I think we need to find a way to get our current total of leaders in the network in here somehow. Or somewhere else that might be better in the assets. But 4903 leaders is real, and I'd be comfortable saying an even 5000.

Here are the numbers: https://docs.google.com/spreadsheets/d/1pmHonTWB9IWHdKRkec2d9t1u5E3KqX-gSC0dxg3s2KQ/edit#gid=827538420

[2015-10-12 09:34] lovegushwa commented on #576
@msurman @benrito
Check out the the 2 five year history charts. The color needs work, leadership is close I think. These are taking longer than expected. I think drop dead is Tuesday afternoon but let's consider streamlining tomorrow or assigning some p2's (I'm still shooting to get them all done but trying to keep the quality up.)

Check out and comment on these high resolution redpens:
https://r

[2015-10-12 20:16] lovegushwa commented on #595
<img width="1156" alt="screen shot 2015-10-12 at 1 15 12 pm" src="https://cloud.githubusercontent.com/assets/12228435/10437647/5b7cfe3e-70e3-11e5-8086-48eae2156279.png">

[2015-10-12 20:18] benrito commented on #595
@openmatt according to @thornet Dian might not fit the young leader category entirely; not a big problem except for when we may decide to release this publicly. At minimum we should fix this post board-meeting. Any thoughts?

[2015-10-12 20:40] OpenMatt commented on #595
@lovegushwa there's a typo in Connies quote
On Oct 12, 2015 4:19 PM, "Ben Moskowitz" <notifications@github.com> wrote:

[2015-10-12 21:24] benrito opened #601 "Finalize poster spread for board meeting"
New meta-ticket to track all production & printing items. Here's an updated spread:

<img width="853" alt="screenshot 2015-10-12 17 19 26" src="https://cloud.githubusercontent.com/assets/541325/10439067/8b51cafa-7105-11e5-9f6a-ed330cf84af0.png">

@openmatt and @msurman, we need to know from Phia the size of the room so @lovegushwa can finalize the dimensions.

< @lovegushwa will add dimensions for

[2015-10-12 21:25] benrito opened #602 "Finalize A. Intro slide for advocacy"
This is an opening slide for advocacy. Needs text from @benrito

[2015-10-12 21:25] benrito opened #603 "Finalize B. List and revenue growth, 2010 - 2015"
This is mock 1 from #593, done Mark's way to combine list growth and revenue growth on the same graphic.

"I want to make the argument to the board that small dollar fundraising and advocacy work are related, and that there is some rough correlation both in terms of supporter growth and growth in our capacity.

Part of the reason is because I think this is true :). But, also, it's a good way to ma

[2015-10-12 21:25] benrito opened #604 "Finalize C. Grassroots organizing and partners"
This is mock 4 from #593 done Mark's way, which is to put most of the emphasis on the map:

    Copy should put stronger focus on advocacy and 'teach-in' side of things
    -> Want to show that teaching is on action people can take in grassroots campaigns
    -> And, make the point that Maker Party is our most successful ftf / grassroots campaign so far

    Still focus on leaders, but shine a big

[2015-10-12 21:25] benrito opened #605 "Finalize D. Evolution of advocacy program + partners, 2010 - 2015"
Current mockup:

![red-pen-860205e2-a9d9-4275-c12c-9d3828d1ab71](https://cloud.githubusercontent.com/assets/541325/10439532/843de750-7108-11e5-8469-9e4bfe5c9b09.jpg)

Redpen: https://redpen.io/fgb6061fa355d07fb9

Will be incorporating mock 3 from #593

![9a8594d6-6ec4-11e5-94c0-91619357abe7](https://cloud.githubusercontent.com/assets/541325/10439543/92772a20-7108-11e5-92ad-27f4fa7754dd.jpg)

[2015-10-12 21:25] benrito opened #606 "Finalize E. Intro slide for leadership"
This will introduce the leadership slides. Needs text from @benrito

[2015-10-12 21:25] benrito opened #607 "Finalize F. Mozilla Festival 2010 - 2015"
source file is here: https://drive.google.com/a/mozilla.com/file/d/0BzfN9sXlOXt1ZjYyZWFoY0dYVlE/view?usp=sharing

![86d6e33e-6ea8-11e5-9c54-6160ffd94683](https://cloud.githubusercontent.com/assets/541325/10439711/ca01b752-7109-11e5-976a-a7e57ec1ec27.jpg)

[2015-10-12 21:25] benrito opened #608 "Finalize G. Who is part of the leadership network?"
Was: https://github.com/MozillaFoundation/plan/issues/577

[2015-10-12 21:25] benrito opened #609 "Finalize H. Evolution of leadership networks, 2010 - 2015"
This is where we finalize the leader stuff from #576

Current mock:

<img width="1292" alt="red-pen-ae359e51-60ca-4e35-aa41-7822ad2f3ff5" src="https://cloud.githubusercontent.com/assets/541325/10439582/db64213e-7108-11e5-8a83-9d96d308d191.png">

Redpen:
https://redpen.io/oy93f96f8fefe63aa2

[2015-10-12 21:26] benrito opened #610 "Finalize Center slide"
This is a center spread for #601.

A restyling of these two slides:

<img width="842" alt="screenshot 2015-10-12 17 46 52" src="https://cloud.githubusercontent.com/assets/541325/10439639/4394d65e-7109-11e5-8c01-eaab458f612a.png">
<img width="826" alt="screenshot 2015-10-12 17 46 48" src="https://cloud.githubusercontent.com/assets/541325/10439640/439b85bc-7109-11e5-85c5-ab9842723f9c.png">

[2015-10-12 21:28] benrito commented on #577
Closing. Final work will take place in https://github.com/MozillaFoundation/plan/issues/608

[2015-10-12 21:28] #577 closed

[2015-10-12 21:29] benrito commented on #592
Moving this to https://github.com/MozillaFoundation/plan/issues/607 to finalize.

[2015-10-12 21:29] #592 closed

[2015-10-12 21:34] benrito commented on #603
![9a4bb964-6ec4-11e5-9d0a-b683e788604b](https://cloud.githubusercontent.com/assets/541325/10439374/6f8a09f2-7107-11e5-811d-b85a917c60a4.jpg)

[2015-10-12 21:37] benrito commented on #603
Should find a way to include this data point as well:

![2ac90496-7029-11e5-84aa-8a400268a606](https://cloud.githubusercontent.com/assets/541325/10439439/ebf346b6-7107-11e5-9b2f-c2017ebf16ac.png)

[2015-10-12 21:38] benrito commented on #604
For design inspiration:

![64ec5e06-6ee0-11e5-9549-57c6e5d25d2d](https://cloud.githubusercontent.com/assets/541325/10439470/137b84d2-7108-11e5-8ece-30e479c6ffb1.png)
![01083928-6ee0-11e5-93bb-5db20ae7a60d-2](https://cloud.githubusercontent.com/assets/541325/10439469/137852c6-7108-11e5-862a-02629613fa6e.jpg)

[2015-10-12 21:42] OpenMatt commented on #595
@benrito yeah let's revisit post board meeting. I think it's fine for now.

[2015-10-12 21:45] benrito commented on #576
Closing this to move to #609 for finalization

[2015-10-12 21:45] #576 closed

[2015-10-12 21:45] benrito commented on #593
Closing this to go more granular in #603 (mock 1) and #604 (mock 4)

mock 2 is being consolidated in #604
mock 3 is being consolidated in #605

Meta-ticket to track everything: https://github.com/MozillaFoundation/plan/issues/601

[2015-10-12 21:46] benrito commented on #593
Closing this. Please see https://github.com/MozillaFoundation/plan/issues/601 to track overall progress.

[2015-10-12 21:46] #593 closed

[2015-10-12 21:48] lovegushwa commented on #603
<img width="861" alt="screen shot 2015-10-12 at 1 45 49 pm" src="https://cloud.githubusercontent.com/assets/12228435/10439669/49d84122-70f0-11e5-8457-617d5245a025.png">

[2015-10-12 21:49] benrito commented on #604
![9a56822c-6ec4-11e5-9461-639c751cd676](https://cloud.githubusercontent.com/assets/541325/10439691/a6430280-7109-11e5-88d0-f2ca3677fe8b.jpg)

[2015-10-12 21:52] lovegushwa commented on #608
<img width="1292" alt="screen shot 2015-10-12 at 12 01 07 pm" src="https://cloud.githubusercontent.com/assets/12228435/10439732/db72da5c-70f0-11e5-879e-7686c36e4fe5.png">

[2015-10-12 21:59] benrito commented on #608
Opening up a quick conversation based on touchpoints with Mark, Michelle and others.

@thornet and @laurareynal object to portrayal of Dian as a young leader.

"This isn't quite right, as she's a professional museum curator and brings her networking, fundraising and event organizing skills to Mozilla and is definitely benefiting from learning open practices, how to teach, and how to collaborate as

[2015-10-12 22:03] LauraReynal commented on #608
For young leader portraits, I think we could also portrait Raj or Suchita. @KevZawacki has a story ready for Suchita

[2015-10-12 23:34] lovegushwa commented on #601
<img width="1255" alt="screen shot 2015-10-12 at 4 32 14 pm" src="https://cloud.githubusercontent.com/assets/12228435/10441536/ddeccd70-70fe-11e5-8451-3f5c876046a9.png">

@openmatt We need to confirm the available space in the room

[2015-10-13 00:05] OpenMatt commented on #601
Phia emailed them to find out.
On Oct 12, 2015 7:34 PM, "lovegushwa" <notifications@github.com> wrote:

[2015-10-13 00:29] OpenMatt commented on #601
[Mozilla Floorplan with Measurements.pdf](https://github.com/MozillaFoundation/plan/files/12101/Mozilla.Floorplan.with.Measurements.pdf)

[2015-10-13 01:01] chrislarry33 commented on #608
Hi all,

At this stage I think we roll with what we have for the board meeting. We can and should fix post board meeting when we use in more public ways.

[2015-10-13 01:51] omnignorant commented on #608
I'm with @chrislarry33 on this, but will keep my eyes open for a final call.

However, if it's decided we need to make an immediate change, when do you need this by? For reference, we have an 18 year old girl (recent blog on Webmaker) and a 20-ish guy who's got a blog post in the queue.

[2015-10-13 02:02] benrito commented on #608
Seems consensus is to fix after board meeting. Let's stick with what we have unless @msurman wants to pursue a software related story.

[2015-10-13 03:34] lovegushwa commented on #601
@OpenMatt  good they will fit. Not sure who is installing these but it would seriously do the masking tape to the wall (a long piece of tape so it has some sticking power) then double sided foam tape on the posters.

Any news on the printing drop dead time? (you more time you can buy us for proofing and corrections the better.)

[2015-10-13 03:37] lovegushwa commented on #602
@benrito @OpenMatt  ... 50 words or so for intro slides is perfect.
<img width="579" alt="screen shot 2015-10-12 at 3 01 18 pm" src="https://cloud.githubusercontent.com/assets/12228435/10444949/dfc3ed14-7120-11e5-8149-e43115264a4b.png">

[2015-10-13 03:45] lovegushwa commented on #604
@msurman @OpenMatt @benrito

<img width="1281" alt="screen shot 2015-10-12 at 8 29 28 pm" src="https://cloud.githubusercontent.com/assets/12228435/10444999/b1d90280-7121-11e5-9577-6cf14ea6a9d0.png">

I'm just finishing up the grassroots partners, I'll be adding the coalition logos, some stats and a key next. I'll continue to post updates and any questions as I progress tonight.

[2015-10-13 04:22] msurman commented on #604
@lovegushwa loving where this is headed.

[2015-10-13 04:26] msurman commented on #608
Yes, let's fix post board meeting.

[2015-10-13 04:26] msurman commented on #608
Thanks all -- these are great!

[2015-10-13 04:27] msurman commented on #603
@lovegushwa can we make this one chart rather than two? The idea is to show the number of people on list and amount of money in direct relationship to each other.

[2015-10-13 07:08] lovegushwa commented on #604
@msurman if your still awake here is an update. Going to ad some photos and copy next.
<img width="1289" alt="screen shot 2015-10-13 at 12 05 08 am" src="https://cloud.githubusercontent.com/assets/12228435/10447988/486acda2-713e-11e5-8f64-5e31518b7818.png">

[2015-10-13 10:07] lovegushwa commented on #609
@msurman @benrito ... Check out the updated final version on Redpen. Still need to drop into indesign and add text.  https://redpen.io/p/apae82f9b0296147e6

<img width="1290" alt="screen shot 2015-10-13 at 3 01 54 am" src="https://cloud.githubusercontent.com/assets/12228435/10451838/7415af94-7157-11e5-9417-07f165ff91e2.png">

[2015-10-13 10:10] lovegushwa commented on #603
@msurman @benrito @OpenMatt check out the draft here, we need to pin down any other copy we want to include. https://redpen.io/p/cz74da0f9085226545

Will probably change yellow to purple.

<img width="1294" alt="screen shot 2015-10-13 at 3 02 19 am" src="https://cloud.githubusercontent.com/assets/12228435/10451901/df09c8e4-7157-11e5-98b2-5945ae089e41.png">

[2015-10-13 10:14] lovegushwa commented on #604
@benrito @OpenMatt @msurman Please review on the redpen here:
https://redpen.io/p/qg435229249b6eebd9

[2015-10-13 10:14] lovegushwa commented on #605
Still editing this, will post a new version after I finish in the morning.

[2015-10-13 13:25] benrito commented on #603
Hey @lovegushwa, could we get a stripped down, monochrome version of this that would look good on a board deck slide?

I.e., just the trend lines and labels?

[2015-10-13 15:06] OpenMatt commented on #590
closing

[2015-10-13 15:06] #590 closed

[2015-10-13 15:06] OpenMatt commented on #581
don't think we're doing this. moving to Phase 3

[2015-10-13 15:09] cassiemc commented on #609
This looks *fantastic* guys, great work @lovegushwa, much simpler and easier to understand. My only question is why some lines are broken / dashed, but I'm also okay with that ambiguity. I figure it means something about peripheral projects or influences outside the Foundation.

[2015-10-13 15:11] OpenMatt commented on #596
closing

[2015-10-13 15:11] #596 closed

[2015-10-13 15:12] OpenMatt commented on #595
closing this one, as I believe this work is now happening in another ticket

[2015-10-13 15:12] #595 closed

[2015-10-13 15:57] OpenMatt commented on #601
### Printing drop-dead times
for files to be delivered
* for foamcore: 3pm PT Tues
* for paper satin finish 9:30am PT Wed

@lovegushwa understood?

[2015-10-13 16:06] OpenMatt commented on #601
### Dimensions
* We just confirmed that the "window wall" -- the wall at the bottom -- is 23.38ft wide.
* @lovegushwa how does that impact your plans?

[Mozilla Floorplan with Measurements.pdf](https://github.com/MozillaFoundation/plan/files/12580/Mozilla.Floorplan.with.Measurements.pdf)

[2015-10-13 16:14] lovegushwa commented on #609
@cassiemc yes your right about the broken line, outside the foundation, Or in the case of the yellow line our involvement is phasing out.

[2015-10-13 16:25] Pomax commented on #558
tracking dev work on this in https://github.com/mozilla/teach.mozilla.org/issues/1253

[2015-10-13 16:36] OpenMatt commented on #609
@lovegushwa are we ready to mark this one closed + output PDF? (Looking to start closing tickets given final deadline for file delivery is 6pm ET today.)

[2015-10-13 16:37] OpenMatt commented on #608
@lovegushwa can we output a final version for proofing?

[2015-10-13 16:38] OpenMatt commented on #607
@lovegushwa if the version above is still most current, I'm signed off on proofing. This one can be output to PDF and closed.

[2015-10-13 16:39] OpenMatt commented on #606
@benrito status? Drop dead time for file delivery is 6pm ET, so will need asap!

[2015-10-13 16:39] OpenMatt commented on #605
@lovegushwa let me know when there's a version I can proof

[2015-10-13 16:40] lovegushwa commented on #609
@OpenMatt I think this is ready to close, we need to proofread everything together later today.

[2015-10-13 16:41] lovegushwa commented on #605
@OpenMatt pulling this together next.

[2015-10-13 16:45] OpenMatt commented on #604
* @lovegushwa I left comments in RedPen. To fix up some typos. Otherwise: let's ship.

[2015-10-13 16:51] OpenMatt commented on #602
@benrito @lovegushwa given that we may be pressed for space in the room (and time) we could kill both these two "intro" slides

[2015-10-13 16:51] #587 closed

[2015-10-13 16:53] lovegushwa commented on #603
Final, check the redpen: https://redpen.io/p/cz74da0f9085226545

<img width="1285" alt="screen shot 2015-10-13 at 9 51 05 am" src="https://cloud.githubusercontent.com/assets/12228435/10461804/03c2d76a-7190-11e5-8f39-d2bf9c900b7d.png">

[2015-10-13 16:56] lovegushwa commented on #603
@benrito

![deck-chart](https://cloud.githubusercontent.com/assets/12228435/10461939/a9455d66-7190-11e5-8db4-678ce4a400cf.jpg)

[2015-10-13 16:57] OpenMatt commented on #603
@lovegushwa
copy should read:
* "Mozilla has more than doubled our list size since 2013 (10X NGO benchmark)"
* I would delete the other note about having the largest email list. The ways its worded now is clunky.

[2015-10-13 16:58] lovegushwa commented on #602
@OpenMatt @benrito I'm ok with that.

[2015-10-13 17:00] benrito commented on #603
@OpenMatt @lovegushwa let's keep the bit about largest email list (it's a hot story) but remove "likely"

"Mozilla now has the world's largest email list focused exclusively on open web issues"

@OpenMatt do you need the background removed from monochrome version above?

[2015-10-13 17:01] OpenMatt commented on #603
Yes let's remove background

[2015-10-13 17:02] OpenMatt commented on #610
@benrito still needed?

[2015-10-13 17:03] OpenMatt commented on #609
@lovegushwa is the version above still current? Can I go ahead and proof it?

[2015-10-13 17:03] benrito commented on #609
Just need numbers. These will suffice for board meeting but could be refined after.

Badges: $~4.5m
Software: nothing (remove label)
Hive: $~9.5m
OpenNews: $6.6m
Open Web Fellows: ~$4.5m
ScienceLab: $3.2m

[2015-10-13 17:04] OpenMatt commented on #609
@benrito do you have the missing financial data to plug in?

[2015-10-13 17:05] lovegushwa commented on #603
@benrito  the "likely" came from @valianttry
I can remove but wanted to make sure you saw this:

#593 4th from last post.
"I told @OpenMatt I'm not 100% comfortable saying that we are "the largest list focused on web issues" because it is not really possible to confirm that, even though I think it's probably true. I would say "We are likely the largest and growing".

[2015-10-13 17:06] jgmac1106 commented on #603
There is a 0.94 Pearson correlation between your email list and the funds
raised (using the two closest data points as product-moment... So it
probably means nothing (since the data points do not align petfectly in
timeline) but was a fun thought exercise.

That is almost a perfect 1:1 match.

On Tue, Oct 13, 2015, 1:00 PM Ben Moskowitz <notifications@github.com>
wrote:

[2015-10-13 17:08] benrito commented on #602
your call, however time not a problem. i think they might be helpful for summarizing the strategy. i will put text now and we can decide.

[2015-10-13 17:09] benrito commented on #610
I say let’s do it

[2015-10-13 17:10] lovegushwa commented on #603
@benrito @OpenMatt

![deck-chart](https://cloud.githubusercontent.com/assets/12228435/10462246/85be9202-7192-11e5-9b53-3c75b0cd788d.jpg)

[2015-10-13 17:11] OpenMatt commented on #609
* one copy thing: "Open News" is two words
* rest of the copy in the design version above looks good

[2015-10-13 17:13] lovegushwa commented on #602
@OpenMatt @benrito we would also print this small, like letter size.

[2015-10-13 17:14] lovegushwa commented on #604
@OpenMatt @benrito Final ?
https://redpen.io/p/qg435229249b6eebd9

<img width="1291" alt="screen shot 2015-10-13 at 10 11 53 am" src="https://cloud.githubusercontent.com/assets/12228435/10462350/1dc4904c-7193-11e5-9e0a-4bff9af76ebe.png">

[2015-10-13 17:23] benrito commented on #603
@valianttry any final amendments before we close the ticket?

can we find the least awkwardly worded way to unambiguously claim credit for our email list accomplishment? :)

[2015-10-13 17:25] benrito commented on #604
@lovegushwa can you add a partner in rio de janiero: "ABCID"

[2015-10-13 17:25] benrito commented on #604
@valianttry and last comments before we close this?

[2015-10-13 17:26] OpenMatt commented on #608
@lovegushwa mistakes to correct in poster above:
For all:  delete the last bullet in each story. It's a duplicate from what's above.

1) Connie Yowell
* fix typo in her quote. "Mozilla has been a real ally..."
* update the "x" to ~$10.8M

2) Jackie Moore
* add title. Jackie Moore, Founder, Level Up Youth Maker Space

3) Harlo
* Italicize "the New York Times"

[2015-10-13 17:26] benrito commented on #603
@lovegushwa should we add header on this (and others?)

[2015-10-13 17:27] lovegushwa commented on #603
@benrito that's what I'm thinking. Can do when I drop into indesign. What should be say?

[2015-10-13 17:28] benrito commented on #603
Let's use the titles in the tickets—for this one it's "List and revenue growth, 2010 - 2015"

[2015-10-13 17:29] valianttry commented on #603
@benrito love the enthusiasm, but i'm (again) uncomfortable saying we have the largest list. there's no way to verify and getting caught in a lie sux. "One of the largest email lists for the Web" or "Probably the biggest email community fighting for the Web". The accomplishments stand on their own in most circles, we don't need to embellish :smiley_cat:

[2015-10-13 17:31] OpenMatt commented on #604
* One typo. Should be: "Sprout Fund"

[2015-10-13 17:33] benrito commented on #603
ok, noted! @openmatt can make the call on what goes on the slide.

[2015-10-13 17:34] OpenMatt commented on #603
* @lovegushwa kill the "largest list" comment.
* just go with: "Mozilla has more than doubled our list size since 2013 (10X NGO benchmark)"

[2015-10-13 17:34] valianttry commented on #604
Squinted and tried to read it all, but i think it's OK? There are a load more grassroots orgs we could list, but i think the original graphic by @OpenMatt only had room for 5-6 so that's all I provided. Probably not a big deal but if you want a bigger list that provides more weight to matche the maker party weight on this map i can.

[2015-10-13 17:36] OpenMatt commented on #602
@lovegushwa given that:
1) we don't have approved copy from @msurman (which he's likely to have strong feelings about) and
2) that we are short on space in the room, I vote for killing the intro posters.

[2015-10-13 17:37] OpenMatt commented on #610
@lovegushwa : need any further help / direction on this one?

[2015-10-13 17:42] benrito commented on #610
New text to accompany the graph:

Building on MoFo’s last five years, we will:

1. Strengthen thought leadership, using platforms like MozFest and ‘State of the Web’.

2. Establish Mozilla Leadership Network, building on our existing fellowships and networks.

3. Build a world class advocacy engine, getting more people involved in taking our ‘hills’.

(this is pulled from Mark's deck).

Along with

[2015-10-13 17:42] benrito commented on #602
This is straight from Mark's deck:

ADVOCACY

We've developed a real ability to mobilize people, tapping into growing concern about internet issues.

We have strong relationship with Mozilla policy team in MoCo. Our shared policy + advocacy model seems to be working.

Also, we’ve gotten on the public radar as an advocacy brand. We have ~1.7M people on our advocacy and fundraising list.

Building o

[2015-10-13 17:43] benrito commented on #606
This is straight from Mark's deck:

LEADERSHIP

Starting with Drumbeat in Barcelona, we've become skilled at convening people and building networks.

This is our special sauce. We have a hands-on, “hacker spirit” convening style keeps people coming back.

We now have a rich and diverse global network of over ~5,000 community leaders closely tied to Mozilla.

Evolving the networks we’ve already bui

[2015-10-13 17:44] benrito commented on #602
if you drop the last paragraph (i.e., next steps which will already be on center slide), we're at 50 words

[2015-10-13 17:44] benrito commented on #606
if you drop the last paragraph (i.e., next steps which will already be on center slide), we're at 50 words

[2015-10-13 17:45] OpenMatt commented on #610
@lovegushwa work for you?

[2015-10-13 17:47] OpenMatt commented on #604
thanks Andrea. @lovegushwa we're out of time: let's ship.

[2015-10-13 17:54] OpenMatt commented on #602
ok. given that we have copy, let's do it. Mark can make a real time call whether to include or not.

[2015-10-13 17:54] OpenMatt commented on #602
@lovegushwa let's do it.

[2015-10-13 17:55] lovegushwa commented on #608
Final version:
https://redpen.io/p/xube5a3be657f760de

<img width="1161" alt="screen shot 2015-10-13 at 10 53 02 am" src="https://cloud.githubusercontent.com/assets/12228435/10463328/e0a9fba6-7198-11e5-9d46-569d117bed80.png">

[2015-10-13 18:04] OpenMatt commented on #608
Connie:
Typo. Should read:
* "Mozilla has been a really ally..."

Jackie
* Should say: "Professional" (not Profession)

Harlo
* should say "Emerging Leader"

[2015-10-13 18:31] benrito commented on #604
per @msurman request i'm going to peck out a few explanatory sentences here

[2015-10-13 18:52] benrito commented on #604
Text for the poster:

Mozilla brings brand weight and influence to a global coalition.

Mozilla is also a global grassroots movement that mobilizes to teach, shape and defend the internet.

Maker Party, for instance, is Mozilla’s “teach the web” campaign with 5,327 events taking place in 450 cities since 2012.

[2015-10-13 19:01] lovegushwa commented on #605
@almost done with this, last big design push, stay tuned.

[2015-10-13 19:08] omnignorant commented on #608
Not a major thing, but just want to note for due diligence: I checked Jackie's official Hive designation and it's "Jackie Moore, Executive Director, Agape Werks, Inc | LevelUP IRL"

LevelUP IRL is their maker space in the mall. Agape Werks is her org name. It's up to you how much you need to tweak polish that.

[2015-10-13 19:18] OpenMatt commented on #608
thanks @omnignorant. What's there now is fine for the poster, but good to know.

[2015-10-13 19:36] lovegushwa commented on #605
@benrito @OpenMatt please proof:
https://redpen.io/p/apae82f9b0296147e6

<img width="1290" alt="screen shot 2015-10-13 at 12 32 50 pm" src="https://cloud.githubusercontent.com/assets/12228435/10465997/9b2421ac-71a6-11e5-8748-511a4fdc977c.png">

[2015-10-13 19:38] lovegushwa commented on #602
@OpenMatt @benrito
<img width="1157" alt="screen shot 2015-10-13 at 12 37 24 pm" src="https://cloud.githubusercontent.com/assets/12228435/10466096/36ca1332-71a7-11e5-819f-6203794a9785.png">

[2015-10-13 19:42] lovegushwa commented on #603
@benrito @OpenMatt final:

<img width="1252" alt="screen shot 2015-10-13 at 12 41 26 pm" src="https://cloud.githubusercontent.com/assets/12228435/10466192/c7a803dc-71a7-11e5-9136-a33605ef8bcd.png">

[2015-10-13 19:46] benrito commented on #603
hey @lovegushwa! please add the header?

[2015-10-13 19:48] OpenMatt commented on #605
@benrito can you help?
* "Collusion / Lightbeam" arrow is in wrong spot
* "expert consensus for cyber policy" (not: "experts")
* @benrito is Lightbeam logo int the right spot? Not sure why its there
* check order of advocacy row. This has "winning" first -- and *then* launching a campaign. Looks wrong.

[2015-10-13 19:53] OpenMatt commented on #603
@lovegushwa should be: "$6.5M cumulative total"

[2015-10-13 19:56] OpenMatt commented on #602
Wrong title. Should read: "Advocacy"

[2015-10-13 20:11] benrito commented on #605
good finds matt—fixes and additional comments in the redpen.

[2015-10-13 20:12] benrito commented on #609
Explanatory text is here:

Since 2010, we’ve been building networks with public interest and philanthropic organizations that share our interest in open web issues.

These networks draw new people into Mozilla’s mission—and enable us to cultivate leaders, catalyze new innovations, and wield influence.

What is common across these networks is an open, collaborative, networked way of working. People

[2015-10-13 20:16] benrito commented on #605
Explanatory text for the top:

Mozilla has not historically been an “advocacy” organization that mobilizes and enables supporters to run campaigns for the open internet. Nor has Mozilla been a cause that accepts donor support, in the way that other non-profits, campaigns, and social enterprises do.

Since 2010, we’ve slowly and organically implemented the foundations for a powerful global advocacy

[2015-10-13 21:00] lovegushwa commented on #605
<img width="1284" alt="screen shot 2015-10-13 at 1 59 44 pm" src="https://cloud.githubusercontent.com/assets/12228435/10468222/b86069d6-71b2-11e5-9b87-8d6244269aa6.png">

[2015-10-13 21:03] lovegushwa commented on #608
<img width="1159" alt="screen shot 2015-10-13 at 2 02 33 pm" src="https://cloud.githubusercontent.com/assets/12228435/10468284/19dd4d50-71b3-11e5-928f-293c2be8590d.png">

[2015-10-13 21:23] OpenMatt commented on #610
We're killing this one. Out of time and space.

[2015-10-13 21:58] OpenMatt commented on #601
#### Final tweaks

##### Leadership
1) Leadership Network
Connie Yowell -- spelling = "ally"

[2015-10-13 22:00] OpenMatt commented on #601
2) Leaddership Network
Dian
* upper case "Regional Coordinator"

[2015-10-13 22:04] OpenMatt commented on #601
3) Evolution of Leadership Network
a) change title of this poster to: "Evolution of Leadership Network". Try to fit on one line.
b) Typo w. line break: "Since 2010, we’ve been building networks with..."
c) boldface the first paragraph

[2015-10-13 22:05] OpenMatt commented on #601
4) Advocacy
a) We have **** a **** strong relationship with Mozilla policy team in MoCo.

[2015-10-13 22:07] OpenMatt commented on #601
5) Email List and Revenue Growth
* Copy should read:
"Mozilla has more than doubled the size of our list since 2013 (10x the NGO benchmark)"

[2015-10-13 22:08] OpenMatt commented on #601
6) Grassroots Organizing
and Partnerships
a) (fix the line break so that "and Partnerships" are together on the second line
b) boldface the first paragraph

[2015-10-13 22:12] OpenMatt commented on #601
7) Evolution of Advocacy Program and Partnerships
a)  cut the first paragraph
b) boldface the (new) first paragraph
c) update last paragrph to:
"Over the next few years, we can continue evolving Mozilla as a global advocacy organization—one that's responsive to global open internet issues that can quickly emerge, is representative of its global community, and proactively advances its vision and ag

[2015-10-13 22:14] OpenMatt commented on #601
7) Evolution of Advocacy Program and Partnerships
d) add a period after "Win".  "Win. FCC votes to protect Net Neutrality."

[2015-10-16 21:13] edrushka commented on #579
This project is un-paused and is moving ahead! :dancers: Meeting on Tuesday Oct 20 to finalize the timing of the campaign (Black Friday? Holidays Season?), define the scope of work, and create a list of design deliverables.

[2015-10-19 18:36] #602 closed

[2015-10-19 18:36] #603 closed

[2015-10-19 18:36] #604 closed

[2015-10-19 18:36] #605 closed

[2015-10-19 18:37] #606 closed

[2015-10-19 18:37] #608 closed

[2015-10-19 18:37] #609 closed

[2015-10-19 18:37] #610 closed

[2015-10-19 19:11] xmatthewx opened #611 "Moz spaces - kiosks for Webmaker & Thimble"
The Webmaker work week revealed what seems like an easy opportunity for learning products. Kiosks in Moz spaces could help gather MoCo support for our work and offer visitors the chance to experience a more full range of Mozilla's offerings.

Is this a good idea? Does the reward outweigh the cost for setup and maintenance?

 - What's required to set this up?
 - Which office would be the best for a

[2015-10-19 20:50] xmatthewx opened #612 "Capture Minigroup before it closes"
`Unsolicited advice alert` - I recommend gathering screenshots of minigroup and sending a quick survey to Hive users to capture their perspective on what made that platform useful for their work. The doors will close soon and the secret sauce might be harder to capture later.

@chrislarry33 @ldecoursy @hannahkane @LauraReynal

[2015-10-19 20:53] ldecoursy commented on #612
We can/will download a full archive of our minigroups so the info won't be lost! But I also do like the idea of screenshots.

@jvallera @omnignorant @simonaramkisson @leahatplay Do you feel like you have a good sense of this already (captured in our planning docs) or would you want to survey small groups of members?

[2015-10-19 20:58] LauraReynal commented on #612
As it happens we *just* finished an interview where we talked about mini
group a little bit.

A hive member said that it was great because it provided a place that was
needed. But that the tool was really bad. He said something like "mini
group was the only online platform that succeeded. No one understands why.
It's not the tool but the community."

This is just one person,  but it's indeed inter

[2015-10-19 20:59] ldecoursy opened #613 "Download and host Minigroup archives"
@simonwex

Following up from our convo last week. Can we finalize a plan for where the minigroup archives should be hosted? I can download the files early next week.

cc @jvallera @omnignorant @simonaramkisson

[2015-10-19 22:11] omnignorant commented on #612
Yeah, there is a general sentiment/understanding that basically all of these tools have some essential flaw but the main thing (keep the main thing, the main thing) is the community. People go where the community is at.

[2015-10-19 23:39] hannahkane commented on #600
The kick-off meeting happened on Friday. Can someone who attended (@chadsansing or @kristinashu?) please clarify what the deliverable for the end of the heartbeat should be? Maybe this heartbeat is about design, and the next heartbeat is about implementation?

[2015-10-19 23:47] hannahkane commented on #573
Lots of cool stuff happening:
 * [Design Research](https://github.com/mozilla/teach.mozilla.org/issues/1327)
 * [MozFest participatory design activity](https://github.com/mozilla/teach.mozilla.org/issues/1305)
 * [Reflection Tool](https://github.com/mozilla/teach.mozilla.org/issues/1344)

[2015-10-19 23:50] kristinashu commented on #600
@hannahkane not sure I'll be able to finish design this heartbeat. Can we say 'wireframes' are due for this heartbeat? This will help determine the content structure before getting into the actual design, and then implementation.

[2015-10-19 23:57] hannahkane commented on #600
Sounds reasonable to me. I'll update [relevant Teach ticket](https://github.com/mozilla/teach.mozilla.org/issues/1319).

[2015-10-20 05:24] hannahkane commented on #558
Believe this is done. @Pomax - can we close?

[2015-10-20 05:27] Pomax commented on #558
forgot this crosslink - yep.

[2015-10-20 05:27] #558 closed

[2015-10-20 12:58] KevZawacki commented on #378
@edrushka @HPaulJohnson update from Angela & Abigail on 10/19:

*Hi Kevin,*

*Sorry for the delay in connecting you with Abigail!*

*Abigail: Kevin has organized an update of the Foundation page on mozilla.org. We’d like to get the text checked by legal, in particular in relation to the advocacy piece. It may be helpful to get Michael Durham to look at that as well regarding tax consequences of th

[2015-10-20 19:38] hannahkane commented on #527
Done

[2015-10-20 19:38] #527 closed

[2015-10-20 19:51] hannahkane commented on #561
donezo!

[2015-10-20 21:13] xmatthewx commented on #561
Yay congrats. And... we need to forward traffic from webmaker.org/me to teach/me. Is that filed somewhere? I think that's the last blocker to launching the new webmaker site.

[2015-10-20 21:45] xmatthewx opened #614 "Prepare a brief on AMP and Instant Articles"
Google's [AMP](https://googleblog.blogspot.com/2015/10/introducing-accelerated-mobile-pages.html) and Facebook's Instant Articles have big implications on how publishers build and deliver content to people on mobile.

As new tech, it'd be useful to prepare an internal memo on the risks to the open web. Might also be a chance to flex some thought leadership muscle.

cc @simonwex @davidascher

[2015-10-20 22:01] davidascher commented on #614
Talking to Myk Melez last week there are some concerns around AMP really
making google-hosted content first-class.  I don't have details, this is a
watercooler comment.

On Tue, Oct 20, 2015 at 2:45 PM matthew w <notifications@github.com> wrote:

[2015-10-21 00:58] soapdog commented on #583
Linking https://github.com/mozilla/learning-networks/issues/271#issuecomment-149372591 here. The technical side is basically done. We're working to move our content and create better docs so that by the end of this week we're ready.

[2015-10-21 14:49] xmatthewx opened #615 "Mobile & touch devices for staff - create a plan"
We need an Ops approved device plan. Unlike laptops, it seems like staff and managers currently carry the burden of ad hoc decisions.

A few opinions:
 1. We should stop issuing **Nexus 4** devices today. That hardware is old and will become obsolete soon. It was discontinued 2 years ago and it will not run the latest version of Android released this month. It’s good to have a couple on hand for t

[2015-10-21 15:08] xmatthewx opened #616 "Proposal assessment tool"
During the Webmaker work week, @hannahkane began a tool for evaluating proposals and their alignment with strategy, resources, and our network of people.

@hannahkane - do you think it's worth turning this into a spreadsheet or document we can use again? If so, I'm glad to lend a hand (notes are [in here](https://docs.google.com/a/mozilla.com/document/d/1AOj3nF-wn8uAWGXpzLr8kGHrQxpjvBlRJwW85R63YIo

[2015-10-21 17:19] #601 closed

[2015-10-21 22:00] simonwex commented on #594
We don't have the resources to do this until post-mozfest. This will be a high-priority once we have new hires on the Engineering team. Coming soon!

[2015-10-21 23:09] hannahkane commented on #534
This is moving forward. Kick-off meeting held + follow up docs sent by @simonwex. Next step is to to hear back from Souktel with implementation plan.

[2015-10-21 23:12] hannahkane commented on #561
@xmatthewx - bleev the ticket you're talking about is here: https://github.com/mozilla/webmaker-core/issues/672

[2015-10-22 17:00] ldecoursy commented on #613
Ticket to capture #612

[2015-10-22 17:01] ldecoursy commented on #583
Overview of campaign plan is here: https://docs.google.com/document/d/15D57m-8dqpCvVX8e0M5oNH95ptwXgAMYXezsVkFuu7Y/edit

[2015-10-22 17:02] ldecoursy commented on #584
Moving final time - to ship by MozFest

[2015-10-22 17:06] jvallera commented on #613
@ldecoursy will our new dropbox work for now?

[2015-10-22 17:37] simonwex commented on #613
@jvallera, @ldecoursy if you can give @jbuck or myself access to the download, we can put it somewhere it'll always be available.

[2015-10-22 18:45] omnignorant commented on #613
are we all individually downloading our archives?

[2015-10-22 20:18] ldecoursy commented on #612
Just captured a screencast so we have a record of it in action: https://www.dropbox.com/s/6vf1rbcuxvf6gyx/Minigroup%20Screencast.swf?dl=0

[2015-10-22 20:19] omnignorant commented on #612
I can't view that file... what's an SWF?

[2015-10-22 20:23] ldecoursy commented on #612
I'll see if I can convert it.

[2015-10-22 20:37] ldecoursy commented on #612
Try this: https://www.dropbox.com/s/ev1xbhaiybs99z2/Minigroup_Screencast.mp4?dl=0
There's no audio - I just wanted to try to capture the look/feel/functionality.

[2015-10-22 20:50] ldecoursy commented on #613
I can try to do them now.

[2015-10-22 21:00] ldecoursy commented on #613
Here's a dropbox folder with the three main Minigroup downloads (Hive NYC, Hive Toronto and Hive Chicago): https://www.dropbox.com/sh/5kxum3uy45zp9tc/AABtE-ZOj2gohsfpk4Husjm7a?dl=0

Note I'm still exporting Chicago, should be in there soon.

@jvallera @omnignorant @simonaramkisson just note the export is happening today, so if there's any particular content that comes through over the next week, y

[2015-10-23 00:39] hannahkane commented on #616
Happy to work on this, but moving to next heartbeat.

[2015-10-23 00:41] hannahkane commented on #600
Nice work from @flukeout here: https://github.com/mozilla/teach.mozilla.org/issues/1360

Will finalize in next heartbeat.

[2015-10-23 00:43] hannahkane commented on #582
Hoping the Privacy Kit lands tomorrow. Others will likely be next heartbeat.

[2015-10-23 00:48] hannahkane commented on #573
This is a rolling ticket with ongoing work, so advancing to next heartbeat.

[2015-10-23 00:49] hannahkane commented on #554
Ongoing work...moving to next heartbeat.

[2015-10-23 00:57] hannahkane opened #617 "Clubs updates"
- [x] [Update auto-email](https://github.com/mozilla/teach.mozilla.org/issues/1359)
 - [x] Advance work on [Clubs Report functionality](https://github.com/mozilla/teach.mozilla.org/issues/1357)

[2015-10-23 00:59] hannahkane opened #618 "Implement some of the changes from the Teach site design audit"
Specific changes for this heartbeat TBD, but the full list is [here](https://github.com/mozilla/teach.mozilla.org/labels/design%20audit)

[2015-10-23 00:59] hannahkane opened #619 "Complete MozFest schedule app"

[2015-10-23 14:48] ldecoursy commented on #613
@omnignorant I tried exporting Hive Chi twice and it failed - can you give it a shot?

[2015-10-23 15:00] OpenMatt opened #620 "Kick off Phase 3 of planning process"
#### Early overview and roadmap: http://mzl.la/phase3_kickoff
Next steps: coming early next week

[2015-10-23 15:06] OpenMatt commented on #589
more coming on this -- including slides, blog post from Mark w. @KevZawacki , etc.

[2015-10-23 15:07] OpenMatt commented on #583
@ldecoursy status?

[2015-10-23 15:07] OpenMatt commented on #559
@xmatthewx status?

[2015-10-23 15:10] ldecoursy commented on #583
Plan is approved, closing and will file new ticket for kick-off.

[2015-10-23 15:10] #583 closed

[2015-10-23 15:13] ldecoursy commented on #562
Moving to next milestone to determine status/next steps.

[2015-10-23 15:46] cassiemc commented on #586
On track, and on-going. Amending this ticket to include wayfinding materials.

[2015-10-23 15:47] cassiemc commented on #591
The MLN Audit is complete, new tickets are filed. Still needs discussion wrt to overall mofo branding audit.

[2015-10-23 15:56] simonwex commented on #599
Most of these have been archived and/or hosted on the new public etherpad-lite instance. Bumping as work continues as we track down team site owners.

[2015-10-23 16:00] ldecoursy opened #621 "Kick off mini l10n campaign for Web Literacy Basics curriculum"
Plan is here: https://docs.google.com/document/d/15D57m-8dqpCvVX8e0M5oNH95ptwXgAMYXezsVkFuu7Y/edit

Next steps coming soon!

[2015-10-23 16:02] gvn commented on #615
It would be valuable for people to have a Nexus 4 *and* 5x so that it's possible to test on multiple versions of Android. :+1:

[2015-10-23 16:09] ldecoursy commented on #581
@OpenMatt Can we close this?

[2015-10-23 16:09] ldecoursy commented on #566
@OpenMatt Can we close this?

[2015-10-23 16:17] cassiemc commented on #615
I <3 this ticket and it seems reasonable to me wrt to an overall focus on quality of work and user experience, so long as we don't have a dedicated QA team.

[2015-10-23 16:25] cassiemc opened #622 "Ongoing Gear Store marketing campaign work"
Tickets are being tracked here: https://github.com/MozillaFoundation/2015-fundraising/labels/Gear%20store

@HPaulJohnson, @KevZawacki, @natalieworth, @valianttry and @edrushka (peripherally) are involved in this work. I seem to be driving (but am on PTO Nov 1-18 except for Mozfest). :)

Dropdead for this campaign is Nov 20.

[2015-10-23 16:45] xmatthewx opened #623 "Webmaker v1.5"
Webmaker Q4:
 - Team is working on a series of small releases to tie up loose threads and bring as much polish as possible to the existing feature set. Tracking here: https://github.com/mozilla/webmaker-core/wiki/Feature-Priorities
 - Team will meet with the services team this heartbeat to set the scope on a small API feature that will enable us to unlock the discovery of projects on Webmaker. Tra

[2015-10-23 16:46] xmatthewx commented on #559
Planning is done. Many optimizations are unlikely unless we decide to reinvest. Work for Q4 continues here https://github.com/MozillaFoundation/plan/issues/623

[2015-10-23 16:46] #559 closed

[2015-10-23 17:31] davidascher commented on #615
I'd like to encourage folks to get a bit specific, both in terms of:

 - who actually needs what devices
 - what budget this requires.

We have a lot of phones and tablets lying around Mozilla that end up unused
99% of the time, so also maybe a process for routing devices to where
they're needed.

On Fri, Oct 23, 2015 at 9:17 AM Cassie McDaniel <notifications@github.com>
wrote:

[2015-10-23 18:47] omnignorant commented on #613
Hoping @simonwex can pull this off systematically with a more stable, higher-bandwith line and by monitoring the download progress using some kind of tech wizardry? Otherwise, we're just clicking download and blindly praying for success.

[2015-10-23 19:46] cassiemc commented on #300
This is done. Accessible at build.webmaker.org/design

[2015-10-23 19:46] #300 closed

[2015-10-23 19:47] cassiemc commented on #303
this is pretty much done and what isn't is captured here https://github.com/MozillaFoundation/Design/issues/85

[2015-10-23 19:47] #303 closed

[2015-10-23 19:48] cassiemc commented on #134
Design reviews are working fine atm. If there are further issues, let's file a new issue.

[2015-10-23 19:48] #134 closed

[2015-10-23 19:50] cassiemc commented on #135
This has gotten much crisper with the RACI and TPS process and the design team has also gotten much better at driving how well we ask for the feedback we need. Closing. Let's file new issues if needed.

[2015-10-23 19:50] #135 closed

[2015-10-26 17:47] hannahkane commented on #611
Is the idea to let visitors play with Webmaker and Thimble, or is it to show live usage data? (Sorry, I forget which idea we talked about.)

[2015-10-26 18:08] davidascher commented on #611
I'd like to understand what the success criteria would be.  Are we looking
for devs to become code contributors? To promote Thimble in their own
comms?  The more specific we can be, the sharper the program design can be.

On Mon, Oct 26, 2015 at 10:47 AM hannahkane <notifications@github.com>
wrote:

[2015-10-26 20:51] hannahkane commented on #534
@simonwex - did we get the implementation plan yet?

[2015-10-26 23:58] edrushka opened #624 "Continue prepping for EOY launch"
@ScottDowne has most of the newly-design UI up on staging. He's doing final tweaks, and starting to build out tests, which are outlined [here] (https://docs.google.com/spreadsheets/d/1DCRW-zC3Uae5V0ubbHvFD2GCoIiS6nWItQOXKzCChe4/edit#gid=0).

@lovegushwa  is designing assets in [priority order] (https://docs.google.com/document/d/1dl6WSaLTJqN9C8noee1Gxih-OAL9StY9hDEJwvJH6kQ/edit).

@alicoding  has

[2015-10-27 16:09] KevZawacki commented on #378
@edrushka @HPaulJohnson

We have a response from Abigail re: our [refreshed Foundation copy](https://docs.google.com/document/d/1qPNmBuR3RqAjKBcypmL_uVq8Q1xIBpMbj5Oov05Vpz8/edit). She writes:

Her comments are below, along with my responses; I've updated the copy accordingly.

We should be all set -- most of the Ops team has given the greenlight. However, I will change "tens of thousands" to "thou

[2015-10-28 21:23] hannahkane commented on #525
Is there a plan to revive this ticket soon?

[2015-10-29 12:39] KevZawacki commented on #378
@edrushka @HPaulJohnson

Abigail and Michael have both signed off! Do we know who's able to swap in the [new copy](https://docs.google.com/document/d/1qPNmBuR3RqAjKBcypmL_uVq8Q1xIBpMbj5Oov05Vpz8/edit)?

I'd like to send an email to Ops sayings, "This copy has been approved by legal and will be going live Tuesday, Nov. 3. If you have any last-minute thoughts, please let us know."

[2015-10-29 16:16] edrushka commented on #378
I believe Jen Bertsch @jbertsch can swap the copy. Her team isn't on GH though so we'll have to file a bug. I can do that if you like.

[2015-10-29 16:17] HPaulJohnson commented on #378
yes, we need to file this in bugzilla to get it updated. exact timing will be dependent on what else is in their queue.

we are so close!!

[2015-10-29 17:39] KevZawacki commented on #378
@edrushka Thanks! Let's do it, and ask that they wait until Monday, Nov. 2. That gives Ops a couple days for a final review.

[2015-11-02 14:56] xmatthewx commented on #525
I bumped it the backlog. I don't plan to revive it until we have clarity on 2016 plans.

[2015-11-02 19:39] flukeout commented on #600
@hannahkane I've updated the template with a few icons and a 'narrow mode'...
http://flukeout.github.io/webmaker-curriculum/WebLiteracyBasics-I/session01-kraken.html#overview

![image](https://cloud.githubusercontent.com/assets/25212/10892058/4a2bb318-8156-11e5-8439-da11fafaa54d.png)

Next up, converting to a Remixable Thimble project.

[2015-11-02 19:41] hannahkane commented on #525
Making sure I understand - the age gate is needed for anything that uses is, right? Including Thimble, Goggles, and Teach?

[2015-11-02 20:04] xmatthewx commented on #525
Yes. I believe it was particularly urgent for Webmaker given it's marketing in the play store that might attract youth. We do have UX/UI done, that could fairly easily be translated to login for those desktop tools.

[2015-11-02 22:54] hannahkane commented on #600
@flukeout - looks nice in the image you included! When I tried it from your github link, the menu got weird at the smaller size:

![screen shot 2015-11-02 at 2 52 28 pm](https://cloud.githubusercontent.com/assets/8389648/10896851/7bf53ce6-8171-11e5-9f6d-81b2c01d412c.png)

[2015-11-03 00:21] hannahkane commented on #618
Probably will not get to this during this MozFestian heartbeat.

[2015-11-03 00:22] hannahkane commented on #617
Waiting on final email copy, and will solicit some feedback on Clubs Report wireframes during MozFest.

[2015-11-03 00:24] hannahkane commented on #554
Tons of progress (updated checklist in first comment). Will test out at MozFest.

[2015-11-03 00:25] hannahkane commented on #561
Who is able to do the forwarding? @jbuck?

[2015-11-03 00:26] hannahkane commented on #582
Back to School Kit and Privacy are done. Keeping this ticket open to track the other work.

[2015-11-03 01:03] chadsansing commented on #582
+1000 & thanks all around.

[2015-11-03 14:33] jbuck commented on #561
Yeah, @cadecairos already landed this feature in https://github.com/mozilla/webmaker-browser/commit/0c577114e0acd8828aae554b129071e68f55a74d, we're just focusing on the thimble migration work right now. I think the only other potential blocker was the [X-Ray Goggles landing page](https://webmaker.org/goggles), which @Pomax is working on and maybe has landed already?

[2015-11-04 01:32] Pomax commented on #561
@jbuck goggles prod lives on x-ray-goggles.herokuapp.com now, so we can put the relevant redirects in place to make sure things point to the location.

I assume we'll want to do that as a goggles.mozilla.org domain, pointing to heroku, and then have both webmaker.org/goggles and goggles.webmaker.org point to that domain instead.

[2015-11-04 20:28] jbuck commented on #561
Yes, lets get that rolling. I filed https://github.com/MozillaFoundation/mofo-devops/issues/228

[2015-11-08 09:29] chadsansing commented on #600
Let's also consider a good print CSS a requirement for educators and clubs in lo-fi/no-fi settings. Those educators will want to print materials to use and to share as noted in Laura's latest research share.

[2015-11-08 09:33] hannahkane commented on #600
+1

[2015-11-09 10:48] #619 closed

[2015-11-09 10:49] hannahkane commented on #617
Didn't happen this heartbeat. Rolling to next.

[2015-11-09 10:51] hannahkane commented on #600
Good progress on this, but since we've just added a new requirement (print version), rolling into next heartbeat.

[2015-11-09 10:52] hannahkane commented on #582
Still working on the open items.

[2015-11-09 10:53] hannahkane commented on #573
I'm going to close this ticket. There was a great round table at MozFest, and I'm sure @anmechung will be filing follow-up tickets based on those learnings.

[2015-11-09 10:53] #573 closed

[2015-11-09 10:55] hannahkane commented on #561
I don't think this has happened yet, so moving to next milestone.

[2015-11-09 10:56] hannahkane commented on #554
Got a lot of feedback at MozFest. Need to discuss and decide if we have new steps to complete before releasing. Moving to next heartbeat.

[2015-11-09 10:57] hannahkane commented on #534
@simonwex - can you provide an update on where we are with this when you have a chance? Thanks!

In the meantime, this ticket will span several heartbeats. Rolling to the next.

[2015-11-10 11:41] LauraReynal commented on #564
@cassiemc @kristinashu
We have written the design brief for this project : https://docs.google.com/document/d/1_DfvKMSTkcwlzH-Gott3rfVRp2jp55_1KWrcG4mCfy8/edit#heading=h.jbz17smj50rl
We would love your feedback !

We had a discussion with @simonwex who suggested we use Ghost.io and create a customized template.

Let's meet to discuss next steps and see how we can bring this project to life.

[2015-11-13 14:18] ldecoursy commented on #621
Campaign is live and so far we're at 30% towards our goal of Web Literacy Basics 1 translated into 5 languages! We have most of the 6 activities now in Spanish, Portuguese and Bengali.

Blog post is here: https://blog.webmaker.org/help-us-get-local-with-web-literacy

We'll continue outreach through Dec. 15.

[2015-11-13 14:18] #621 closed

[2015-11-13 14:19] ldecoursy commented on #613
I know @simonwex was able to download Hive Chicago before Minigroup shut off. Currently NYC and Toronto are in Dropbox, so still need to decide if they stay there or are hosted someplace else.

[2015-11-13 14:23] ldecoursy commented on #584
Aim is to kick this off in January. Still some details to iron out re: branding and how this works in support of the strategic plan.

[2015-11-13 14:23] ldecoursy commented on #562
@simonwex status? [[flagged!]](http://plzkthx.herokuapp.com)

[2015-11-16 16:34] LauraReynal commented on #553
@secretrobotron is going to lead this task

[2015-11-16 16:47] smithisgeneric commented on #553
There may be some additional reports that live else where in Mozilla that may be useful to include.  I.e., the Hive Toronto privacy badges report from last year: http://hivetoronto.org/wp-content/uploads/2014/09/CoDesigningBadgesFinalReport-30March2015.pdf

[2015-11-16 23:38] simonwex commented on #613
I'm happy to find a public home for them if that's appropriate. The Chicago archive is sitting in our Mozilla Google Drive. It's shared with all y'all.

[2015-11-17 11:39] omnignorant commented on #613
I'm afraid stuff is gonna get lost if we leave it sitting in GDrive and Dropbox folders. Would be nice to see this stuff up in a public spot w/ a URL. They're already HTML files, so that shouldn't be too hard, right?

[2015-11-17 12:06] LauraReynal commented on #564
@secretrobotron this bug has a bunch of great benchmarks from Kristina and Bhuvan.
This is the Phase 2 ticket.

[2015-11-17 12:45] smithisgeneric commented on #613
Hi,

I don't think it is well advised to make the HTML archives public without checking with the individual participants of each minigroup.  I have a post on the Hive Toronto minigroup that I would like to edit if it is going to be made public.

cc: @omnignorant @chrislarry33 @chrislarry33 @simonwex @ldecoursy

[2015-11-17 12:52] simonaramkisson commented on #613
Diddo to Karen, I have looked through the Hive Toronto archives and most of the posts were mainly events, call outs, meeting invites etc but some of the blog postings might need to be changed. Currently no members have requsted anything specific from the archives, I let them know if they needed something specific to contact me. My thoughts right now would be to share the dropbox link on the Hive T

[2015-11-17 12:53] omnignorant commented on #613
OK, I guess that's city-dependent then. Our Chicago Member Minigroup was a public forum... we only guarded it because of the space-constraints. It would be nice to see those hosted in a place where we could easily go back and search them. I guess if it's behind a Mozilla password SSO screen, that would be fine too. Could we get them up on one of our password protected wikis or something without ha

[2015-11-17 12:53] jvallera commented on #613
@smithisgeneric has a good point. These were invite only/closed platforms so not sure how folks would feel about public archives. Also not sure how many people would want/need to have access to this archive.

[2015-11-17 13:13] omnignorant commented on #613
OK, never mind then. I thought there might be interest in showcasing some version of an "open" Hive history. It seems like a shame to park 6 years of Hive activity in a Dropbox folder, especially when it's already in HTML format. You could slap a style sheet on it and it might be pretty decent to look at.

@chrislarry33 @ldecoursy please chime in (since you were CC'd), but otherwise, I'll just gra

[2015-11-17 13:46] ldecoursy commented on #613
I respect the concern given that these were closed forums. Robert, perhaps
you should communicate to the Chi membership (at a meet-up?) that you'd
like to post the archives publicly to gauge the crowd, before doing so. For
NYC and Toronto, if the preference is not to make the archives public, then
staff can have access to the files and share with members if/when requested.
On Nov 17, 2015 8:13 AM,

[2015-11-19 00:38] hannahkane commented on #586
I think we can close this.

[2015-11-19 00:38] #586 closed

[2015-11-19 00:44] hannahkane commented on #594
Moving to next heartbeat.

[2015-11-19 00:45] hannahkane commented on #582
A casualty of the post-MozFest PTO phenomenon. Moving to next heartbeat.

[2015-11-19 00:52] hannahkane commented on #616
https://docs.google.com/spreadsheets/d/1jEkoyT6VaoxGEOlj-3D7jcXp7rRY4gq1OtE5pjilzHg/edit?usp=sharing

Wondering if this might be useful as part of the phase 3 planning process for Leadership Development. @chrislarry33? For context, this is something we worked on at the Webmaker work week to help decide between different Webmaker strategy options. Could it be adapted to help make decisions about Le

[2015-11-19 00:52] #616 closed

[2015-11-19 01:42] HPaulJohnson commented on #579
Update:
* New items live in Store
* Promotional banners on Gear.mozilla.org updated/live
* MozFest promo distributed
* Social Media assets are complete and will move into rotation starting this week
* Directory Tile will be live this week and run through end of year.
* Mozilla.org Tile live
* Email being finalized, on track for 11/30 send.
* Internal comms communicating discount to happen week of

[2015-11-19 13:11] LauraReynal commented on #553
@secretrobotron I added some comments on the copy. Thanks for the first pass !

[2015-11-19 22:38] xmatthewx commented on #623
Webmaker 1.5 Beta is in the play store. Squashing some bugs and hope to release on Monday. https://github.com/mozilla/webmaker-core/issues/765

We had an excellent experience running quality tests with volunteers. Testing it as a means for on-boarding new contributors. https://github.com/mozilla/webmaker-core/issues/796

[2015-11-19 22:38] #623 closed

[2015-11-19 22:54] xmatthewx opened #625 "Webmaker v1.6"
Next release will add a few great features and more polish to the app. We'll add hashtags to project descriptions for more dynamic project discovery. Users will also be able to add links from their projects to any URL on the web.

[1.6 Milestone](https://github.com/mozilla/webmaker-core/issues?q=is%3Aopen+is%3Aissue+milestone%3A1.6.0), [1.7 Milestone](https://github.com/mozilla/webmaker-core/issue

[2015-11-20 02:52] simonwex commented on #613
This sounds right to me. I would say that either way we should move these from dropbox to our Google Drive. It has longevity guarantees given our arrangement with Google apps that Dropbox doesn't.

[2015-11-20 14:50] secretrobotron commented on #553
Having a domain conversation here: https://github.com/MozillaFoundation/research/issues/98

[2015-11-20 16:44] ldecoursy commented on #612
Captured above, so closing this ticket.

[2015-11-20 16:44] #612 closed

[2015-11-20 16:45] OpenMatt opened #626 "Ship a draft H1 roadmap for Leadership and Advocacy"
* Decision-Maker: Matt
* Accountable: Sara (Advocacy) + @ldecoursy (Leadership)
* Responsible: DARCIs for Leadership + Advocacy

[2015-11-20 16:45] OpenMatt commented on #626
Next step: Matt will start a spreadsheet template and some next steps w. Sara + Lainie

[2015-11-20 17:05] simonwex commented on #570
This will have to be revisited post-orlando.

[2015-11-20 17:05] #570 closed

[2015-11-20 17:06] OpenMatt commented on #579
* Moving to Dec 4

[2015-11-20 17:07] edrushka commented on #624
Update: it's happening!

Graphic direction is set.
Stripe is working on new form.
First A/B test just launched.
Goes live on 25% of snippet traffic today.

WOOOOO!

[2015-11-20 17:08] OpenMatt opened #627 "Figure out our Exact Target training plan / next steps"
Driver: @adamlofting

[2015-11-20 17:09] OpenMatt commented on #553
@simonwex will follw up here

[2015-11-20 17:10] OpenMatt commented on #480
@xmatthewx will check in with @cassiemc on next steps / whether still needed

[2015-11-20 17:12] OpenMatt commented on #561
@xmatthewx will organize quick IRC chat with @jbuck + @simonwex on this

[2015-11-20 17:12] adamlofting commented on #627
:+1:

This has been happening piecemeal among a bunch of moving projects in the last few weeks.

Sorry to those waiting for next steps on this.

[2015-11-20 17:12] #624 closed

[2015-11-20 17:13] xmatthewx commented on #611
@secretrobotron to explore this

[2015-11-20 17:14] edrushka opened #628 "Launch EOY"
EOY launches Nov 20.

The first 2 weeks we'll be A/B testing, finishing design assets and working out gremlins.

[2015-11-20 17:14] secretrobotron commented on #611
Yep. Pretty interested in the flavour of this. Less focus on tools. Have a few ideas about where this can go. Will write about it soon :).

[2015-11-20 17:15] xmatthewx commented on #615
@simonwex to investigate

[2015-11-20 17:15] OpenMatt commented on #614
@xmatthewx will update

[2015-11-20 17:17] xmatthewx commented on #614
@benrito - maybe something here worth exploring for the state of the web?

I don't think this requires a planning ticket unless someone wants to take this on.

[2015-11-20 17:17] #614 closed

[2015-11-20 17:17] ldecoursy commented on #622
Redundant with another ticket.

[2015-11-20 17:17] #622 closed

[2015-11-20 17:18] #620 closed

[2015-11-20 17:18] HPaulJohnson commented on #622
being tracked here: https://github.com/MozillaFoundation/plan/issues/579#issuecomment-157920147

[2015-11-20 17:19] ldecoursy commented on #613
Add Julia and Simona to Drive

[2015-11-20 17:20] ldecoursy commented on #599
Teams have been provided with links to their previous team etherpads. Planning to provide alternate space  - more to come. Closing.

[2015-11-20 17:20] #599 closed

[2015-11-20 17:20] xmatthewx commented on #480
@cassiemc @lovegushwa - do you know who in MoCo has access to make updates on assets.mozilla.org? This should be a quick task, but I don't know who holds the keys.

[2015-11-20 17:20] ldecoursy commented on #599
A few science communities still outstanding.

[2015-11-20 17:22] #588 closed

[2015-11-20 17:24] ldecoursy commented on #584
Set up meeting with @HPaulJohnson @edrushka @secretrobotron and others.

[2015-11-20 17:24] #580 closed

[2015-11-20 17:24] #578 closed

[2015-11-20 17:25] ldecoursy commented on #562
@simonwex ensures that data is not lost, but still some work to do.

[2015-11-20 17:26] ldecoursy commented on #495
@OpenMatt

[2015-11-20 17:26] ldecoursy commented on #482
@OpenMatt

[2015-11-20 17:38] vazquez commented on #480
Ty Flanagan has access to assets.mozilla.org. What are we looking to change again? We just updated the logos: https://assets.mozilla.org/portal/assets/#category/29

[2015-11-20 17:40] OpenMatt commented on #594
@simonwex will provide hiring update

[2015-11-20 17:43] OpenMatt commented on #534
sounds like @Pomax will pitch in on this this Heartbeat

[2015-11-20 17:59] xmatthewx commented on #480
Excellent. Thanks @vazquez! I just saw that files were updated. If we update the logo on the landing page too, we should be good to go. https://assets.mozilla.org/portal/assets/#category/16

[2015-11-20 17:59] hannahkane commented on #581
Can we close this now?

[2015-11-20 17:59] hannahkane commented on #566
What about now? Can we close?

[2015-11-20 18:00] hannahkane commented on #514
Thinking we should close this, and re-open when we're ready. @simonwex ?

[2015-11-20 18:01] hannahkane commented on #423
@edrushka - is this ticket still needed?

[2015-11-20 18:06] simonwex commented on #514
Agreed.

[2015-11-20 18:06] #514 closed

[2015-11-20 19:14] benrito commented on #566
If you want—we will file more granular tickets for next HB

[2015-11-20 19:19] hannahkane commented on #566
could also move this ticket to current heartbeat. I'm just trying to close out old heartbeats. it's up to you.

[2015-11-20 19:28] edrushka commented on #423
I'll leave that for @valianttry and @davidascher to answer.

[2015-11-22 20:45] OpenMatt commented on #566
sounds like @benrito is on the hook for this one. Will close and leave with him.

[2015-11-22 20:45] #566 closed

[2015-11-23 17:29] #581 closed

[2015-12-02 17:52] brettgaylor opened #629 "Open call for 2016 fellows on advocacy.mozilla.org"
We will need to adjust the advocacy.mozilla.org page for the 2016 cohort.  This will mean:

* Adjust the front page by adding an "apply" button, while keeping the "meet the 2015 cohort" as is
* Changing the 2015 "apply to be a fellow" page with new copy

[2015-12-03 23:49] HPaulJohnson commented on #378
in progress and page updates expected to be made by next week

[2015-12-04 15:52] ldecoursy commented on #626
@OpenMatt Can we consider draft shipped and close this ticket?

[2015-12-04 15:53] ldecoursy commented on #617
Auto-email now live! :dancers:

[2015-12-04 15:56] ldecoursy commented on #584
Closing this.  @HPaulJohnson set up a Comms Council to address things like this and how we can streamline across teams. We had our first meeting and will reconvene after Orlando.

[2015-12-04 15:56] #584 closed

[2015-12-04 15:57] ldecoursy commented on #562
Moving to next heartbeat so we can consider if/how to resource given current priorities.

[2015-12-04 16:12] hannahkane commented on #618
We made several changes this heartbeat. This is an ongoing project, but closing this ticket, since it's not very descriptive.

[2015-12-04 16:12] #618 closed

[2015-12-04 16:12] hannahkane commented on #617
We made progress this heartbeat. Closing ticket to make room for more specific next steps in 2016.

[2015-12-04 16:12] #617 closed

[2015-12-04 16:14] hannahkane commented on #600
Going to close this one and will add more specific follow-up steps including: creating a plan for implementing the new styles across existing curriculum including localizations; resolving "Remix" button conflict in the Thimble versions

[2015-12-04 16:14] #600 closed

[2015-12-04 16:15] hannahkane commented on #594
@simonwex - I'm thinking we should close this for now, and open a new ticket when we have a specific plan in place. Feel free to re-open if you disagree.

[2015-12-04 16:15] #594 closed

[2015-12-04 16:24] xmatthewx commented on #625
Work on 1.6 is almost done as we wrap up project descriptions and discovery via hashtags. Aim to release a Beta version for testing next week.

We released 1.5.3 with a bounty of improvements slated for 1.6:
 - Users can now link to any URL, unlocking new potential for more webby projects (w00t).
 - Landed a ton of interaction and UI polish.
 - Discover now includes a few projects that demonstrate

[2015-12-04 16:54] xmatthewx commented on #480
Closing. Tracking the very last bit here: https://github.com/mozilla/webmaker-core/issues/912

[2015-12-04 16:54] #480 closed

[2015-12-04 16:57] #551 closed

[2015-12-04 16:59] edrushka opened #630 "Continue running EOY campaign"
Update:
The EOY (end-of-year) campaign has been running for 2+ weeks now.

#### Some highlights:
- we've currently raised $1,187,623+
- snippet allocation is moving up to 50% this week
- we've got a [stunning homepage takeover] (https://www.mozilla.org/en-US/) on Mozilla.org
- we've got an [awesome selection of directory tiles] (https://redpen.io/p/xs220787d8385b41c5)
- we've run [several conclusi

[2015-12-04 17:04] #628 closed

[2015-12-04 17:06] OpenMatt commented on #627
@HPaulJohnson got training last week.
### recommended next steps:
* short term: if you need train, contact Jessalyn David
* medium term: get Stephanie to help set up and train MoFo's in early Jan, once she's up to speed

### MoFos who want training (add here):
*

[2015-12-04 17:07] OpenMatt commented on #627
@simonwex and @HPaulJohnson will edit and update here

[2015-12-04 17:08] OpenMatt commented on #626
digging into this together in Mozlando

[2015-12-04 17:08] simonwex commented on #615
I think we should delay this until we figure out priorities and staffing of webmaker app in the new year.

[2015-12-04 17:09] OpenMatt commented on #611
@secretrobotron status update?

[2015-12-04 17:10] OpenMatt commented on #591
@cassiemc status update? stale?

[2015-12-04 17:10] #589 closed

[2015-12-04 17:10] #579 closed

[2015-12-04 17:11] xmatthewx commented on #561
Is there anything blocking a redirect from webmaker.org/me to its new home on the teach site?

[2015-12-04 17:13] OpenMatt commented on #561
@simonwex says @cadecairos will do the re-direct

[2015-12-04 17:14] OpenMatt commented on #554
* final piece left to do: browser detection
* @Pomax says he will finish by end of week -- @Pomax can you update?

[2015-12-04 17:15] OpenMatt commented on #553
* design is complete
* blocked on engineering bandwidth

[2015-12-04 17:16] OpenMatt commented on #534
* @Pomax says major workflows now implemented; next step = integrate w. our codebase and put on staging.
* @Pomax: can you update?

[2015-12-04 17:16] OpenMatt commented on #534
* would be nice to give Sooktel something to do while we're in Orlando -- but they're blocked on this

[2015-12-04 17:18] xmatthewx opened #631 "Remove Beta from Webmaker site URL"
To wrap Webmaker in 2015 as we shift focus in 2016, it'd be great to fully retire the old website and pull beta out of the URL on the new site.

 - Blocked by Goggles launch https://github.com/MozillaFoundation/plan/issues/554
 - Blocked by /me redirect https://github.com/MozillaFoundation/plan/issues/561

[2015-12-04 17:24] OpenMatt commented on #629
@simonwex can you assign a dev to do this before Dec 18? no design required.

[2015-12-04 17:24] OpenMatt commented on #629
* @simonwex and @hannahkane say @mmmavis may be able to do this

[2015-12-04 17:27] gvn commented on #615
IMO we should consider this request beyond the immediate needs of the Webmaker team. Mobile needs to be a priority amongst our entire org, and access to devices is crucial. :iphone:

[2015-12-04 17:28] OpenMatt commented on #582
@hannahkane moved to this heartbeat + updated deliverables list in first comment

[2015-12-04 17:29] ldecoursy commented on #562
Requires one dev for a full week

[2015-12-04 17:33] OpenMatt commented on #562
Next step: make a final decision about how best to proceed in this heartbeat, after Orlando

[2015-12-04 17:34] simonwex commented on #562
@ldecoursy let's chat about this in Orlando. I think it'd be worth looping Amira in to also talk about the loss of Minigroups and how valuable old data is.

[2015-12-04 17:34] OpenMatt opened #632 "Copy updates to Gigabit site"
@hannahkane will update

[2015-12-04 18:15] mmmavis commented on #629
@brettgaylor yup yup I can update the site after Mozlando.  Do you mind adding the new copy in [this ticket on advocacy.mozilla.org repo](https://github.com/mozilla/advocacy.mozilla.org/issues/32) instead? :bowtie:

[2015-12-04 19:59] hannahkane commented on #534
Just spoke with @Pomax and @simonwex. This is looking good—Souktel will be working on the cred.ly API part of this work next week, and we'll make ourselves available to remove any urgent blockers if needed. Rolling to next heartbeat.

[2015-12-04 20:40] Pomax commented on #554
browser detection has been added in (at least on the staging server) including mobile detection to warn users that goggles is a desktop experience. The only checkbox we don't have ticked off at this point is the gallery aspect

[2015-12-10 14:03] ldecoursy commented on #562
Spoke with @chrislarry33, and current decision is not to move forward with trying to migrate the old data. This is based on the fact that it would require too many resources (time + money) and we just don't have a clear enough picture of how relevant/valuable the recoverable data is. @simonwex assures me our current instance of Discourse is  stable so this shouldn't happen again.

[2015-12-10 14:03] #562 closed

[2015-12-14 15:58] cassiemc commented on #591
yep, stale. Brand audits continue on the Moco side, outcomes from the MLN audit are already being implemented, next step will be to figure out branding for Mofo stuff but that won't happen until after EOY.

[2015-12-14 15:58] #591 closed

[2015-12-16 17:03] cassiemc opened #633 "How can we be greener & more socially responsible?"
Fewer plane tickets? Fewer printed assets (or soy ink, recycled paper)? Ideas, please!
@edrushka @davidascher @thornet @LauraReynal @secretrobotron and others, very welcome

[2015-12-16 17:04] cassiemc commented on #633
Other ideas:
* create a green team
* look at WWF recommendations
* can we collect data on what our effect actually is
* does Moco have anything like this?

[2015-12-16 17:05] secretrobotron commented on #633
cc @secretrobotron

I'm a "member" of Living Planet at Work (from WWF) in Toronto. Would love to make that much huger.

[2015-12-16 17:06] secretrobotron commented on #633
Find people in WPR, event planning, etc. who can be allies.

[2015-12-16 17:06] edrushka commented on #633
Creating a working group.
Collecting data on our impact (likely candidates will be travel, offices, data-centers)
Deciding where we can have impact. Won't necessarily be there ^

[2015-12-16 17:07] cassiemc commented on #633
^^ + events to @edrushka's comment

[2015-12-16 17:07] secretrobotron commented on #633
:heart:  the "giving back" aspect (not the same as being green)

[2015-12-16 17:09] secretrobotron commented on #633
want to have impact (vs. reception).

[2015-12-16 17:09] cassiemc commented on #633
cc @adamlofting @xmatthewx @HPaulJohnson

[2015-12-16 17:10] edrushka commented on #633
Giving Back opportunities could include dedicated time to volunteer in the All Hands communities (e.g. field trip to walk dogs at an animal shelter. This could be linked to Ministry of Fun. Obviously would require serious coordination ahead of time).

[2015-12-16 17:16] edrushka commented on #633
I volunteer to convene a team to work on this for London. Please edit this comment (use the little pencil in the upper right corner) to add your name to the "interested" list. Stage One will be discussion and brainstorming - you are not committing your time in London by participating in this.

### I am interested:
- ErikaD
- Cassie

[2015-12-16 18:06] xmatthewx commented on #633
I can craft a message to Ops regarding socially responsible piggy banks for our funds and retirement benefits. :pig:

[2015-12-16 18:58] jgmac1106 commented on #633
@thornet did a post on making efforts to #teachtheweb greener. For example could we encourage smaller page and image sizes (less bandwidth=less download=less charging).

Maybe a curriculum kit on greening the web.

[2015-12-16 19:37] brettgaylor commented on #633
Perhaps bring in outside consultant who can help with measurement and planning?  Working group is awesome but taking it seriously will require day to day.
Very good friend here: http://www.naturalstep.ca/sarah-brooks

@xmatthewx in our Canadian retirement funds, there are options for ethical investments.  Might want to look at 401k equivalents?

[2015-12-16 19:37] bhuvanshri commented on #633
* Measuring our carbon footprint as an organization (office space, travel / commute, events)
* Coming up with recommendations on how to reduce it across various "sinks" mentioned above
* Informing ourselves of industry standards (their must be more out there - like LEED certification for office spaces)

London could be good way of establishing baseline w.r.t events specifically.

[2015-12-16 20:19] cassiemc commented on #564
pinging myself here to take a closer look again. @cassiemc

[2015-12-16 20:22] adamlofting commented on #633
Some good context setting here:
* http://wwf.panda.org/what_we_do/how_we_work/businesses/

And I'd love to show up on the right side of this issue:
* http://www.greenpeace.org/international/en/publications/reports/How-dirty-is-your-data/

[2015-12-16 20:33] xmatthewx commented on #554
Is the gallery experience required to launch the tool? Or could that be added later?

[2015-12-16 20:33] omnignorant commented on #633
Just want to chime in with support! But also some rambling thoughts ;)

I agree we need a more professional approach to this. With an organization this utterly complex, even just the MoFo side of the house, the contributing factors are very difficult to identify and assess.

For example, how does our work-from-home culture counteract our flights? Or the energy savings on light and heat? Do I count

[2015-12-16 20:34] xmatthewx commented on #561
@cadecairos - is this something you can tackle before the holiday break?

[2015-12-16 20:43] secretrobotron commented on #564
Notes from a quick chat w/ @cassiemc:
* This phase will be an extension from the [first phase](https://github.com/MozillaFoundation/plan/issues/553), which is almost done, and will be hosted as a ghost/WP blog
* We scoped an IA in the design brief (above), but that thinking is from November
* Now, there is a bigger research council, with a wider set of goals. not sure how that impacts the scope/de

[2015-12-16 20:44] xmatthewx opened #634 "[Jan 22] Chicago Buzz schedule app"
Hive Chicago would like to use the Schedule app at their annual conference on Jan 22nd.

It'd be great for us to deploy another iteration with incremental improvements. Both SourceCon and Mozfest would benefit. I'd be glad to help facilitate that effort if @ryanpitts, @mmmavis, or another engineer can contribute. cc @simonwex

**Question**: How much engineering time did the Mozfest fork require?

[2015-12-16 20:57] cadecairos commented on #561
Nope, we're blocked on shipping the new goggles by an RRA (Rapid Risk Assessment) by moco infosec. It's scheduled for the week of January 4th.

Once that's done we can move beta.webmaker.org to webmaker.org, completing the redirect.

[2015-12-16 20:58] hannahkane commented on #554
Can happen later, IMO.

[2015-12-16 23:38] hannahkane opened #635 "Migrate Web Literacy curriculum to new templates"
The new [Web Literacy curriculum templates](https://github.com/mozilla/teach.mozilla.org/issues/1360) for desktop, mobile, and print should be finalized soon. We'll need to migrate our existing curriculum to the new templates.

Consideration: be sure to include localized content in the migration
/cc @soapdog @chadsansing @flukeout

### DARCI ###
Driver: @hannahkane
A: @chrislarry33
R: @chadsansing

[2015-12-16 23:42] hannahkane opened #636 "Design templates for "Guides"-style learning content"
We've refined our [templates for Teaching Kit-style content](https://github.com/mozilla/teach.mozilla.org/issues/1360), but we have other content types that still need to be addressed including the Clubs Guides and the 101 Guides from MSL.

Wondering if we can provide a shared template that can be slightly modified for different audiences/sub-brands.

### DARCI
D: @hannahkane
A: @cassiemc
R: TBD
C

[2015-12-16 23:52] hannahkane opened #637 "Prepare research phase for Curriculum Database"
See [Project Brief](https://docs.google.com/document/d/1f5AYLbenXmzTCg2mkvABjeUHAFXyhC2l1evC0wEpybg/edit#)

Research might include:
 - [ ] Interviews
 - [ ] Focus Group

### DARCI ###
Driver: @hannahkane
A: @davidascher ?
R: @hannahkane, @flukeout ? @sabrinang ?
C: @LauraReynal @secretrobotron @cassiemc
I: @chrislarry33 @chadsansing

[2015-12-16 23:58] hannahkane opened #638 "Gigabit site redesign"
In addition to [urgent copy changes](#632), the Gigabit site could also use a visual refresh.

@sabrinang started this work [here](https://github.com/mozilla/teach.mozilla.org/issues/1473).

### DARCI
Driver: @hannahkane
A: @cassiemc
R: @sabrinang
C: @LindseyFrost
I: @chrislarry33 @HPaulJohnson

[2015-12-17 00:17] hannahkane opened #639 "Write spec for Clubs Reporting tool"
Regardless of what technology we use, we need to define requirements for a first iteration of a Clubs reporting tool. This should be done in conjunction with community. (Conversations have already happened, so this is largely a matter of synthesizing and doing a round or two of feedback.)

### DARCI
Driver: @hannahkane
A: @chrislarry33
R: @hannahkane @amirad Caro
C: @simonwex
I:

[2015-12-17 00:21] hannahkane opened #640 "Technical spike on technology for Clubs Portal"
(See [definition of spike](http://agiledictionary.com/209/spike/))

Goal is to evaluate Reps Portal to determine if it can be adapted to meet the needs of Clubs Reporting.

[2015-12-17 00:40] kaythaney commented on #636
thanks, @hannahkane ! don't think steph and zannah are part of this group, but their handles are @zee-moz and @stephwright

[2015-12-17 00:44] ryanpitts commented on #634
Getting the app ready for MozFest was a decent chunk of my time for a few days to a week, plus the bugfixes and updates during MozFest itself. Not sure how much time @mmmavis invested, but I'd guess it was more than that. But we're in a good starting place to keep working now that there are multiple people more familiar with the code.

My January is looking pretty stacked with Python work, so I wo

[2015-12-17 00:47] hannahkane commented on #637
Perhaps some of this research could happen at Chicago Hive Buzz

[2015-12-17 00:48] davidascher commented on #634
It'd be good to get someone who has never worked on the schedule app to try
a deployment on heroku to document the hurdles to deployment, and file bugs
on those.  That will help make it easier to work on by anyone, not just the
'founders' ;-).

That 'trial deploy' is a thing that I could imagine volunteers might be
particularly well suited for as they are less likely to know 'secret'
things.

On W

[2015-12-17 14:04] omnignorant commented on #634
Hmmm, I might be able to solicit some local volunteers to help us deploy this if it's a) well documented and b) simple enough python code. There are a ton of folks from my Chi Hack Night crew who don't have anything to do for the next two weeks.

I wanted to provide a couple more specs on the event so that we get a clearer sense of scale/complexity. Perhaps there is a way to simplify things?

* 10

[2015-12-17 14:47] secretrobotron commented on #553
(Next phase in https://github.com/MozillaFoundation/plan/issues/564)

[2015-12-17 16:14] gvn commented on #633
I'd love to see us do a campaign around e-waste reduction. :+1:

PS: AFAIK the Magic Band is a good (bad?) example of an electronic product meant for single usage and subsequent disposal. The battery is designed to be non replaceable. I might have missed it, but I don't think there was a way to opt out of getting one in your welcome package. This is the kind of thing we can do to be "greener"!

[2015-12-17 16:58] stephwright commented on #633
You can actually use the Magic Band on return trips to Disney World.  When I bought extra tix for my family, they did not get Magic Bands, they came as plastic cards.  I did end up buying the bands though because for the kids it was easier to not get lost, though I do intend to keep them and use them again in the future... Not that this negates what you are saying about e-waste reduction.  I would

[2015-12-17 18:08] amirad commented on #636
Oh my goodness. Yes yes. Can that be adapted for a quick Clubs Guide? cc: @soapdog

Here are some examples of what we do know but we have soooo many google docs that we want to quickly through into github pages for community to use.
https://docs.google.com/document/d/1lKjPm-k3GGtz66Lor_kRpX68HNaPj-T47tmZ540WY_w/edit
Branding guide - http://mozilla.github.io/mozilla-club-guides/branding-guidelines/

[2015-12-17 21:34] hannahkane commented on #632
@mmmavis filed a PR for this today: https://github.com/mozilla/bedrock/pull/3667

[2015-12-17 23:24] Melechuga opened #641 "[Jan 29] Design/Build Open Web Fellows landing site"
### Roles
 * Driver: @cassiemc
 * Decision Maker: @brettgaylor @Melechuga
 * Design Lead: @kristinashu
 * Development Lead: @ScottDowne

**Granular issues listed here:**
https://github.com/MozillaFoundation/movement-building/labels/webfellows

---------------

The Open Web Fellows section needs to move off of advocacy.m.o, set up a new site (a lá https://www.mozilla.org/en-US/gigabit/), and link t

[2015-12-17 23:27] hannahkane commented on #641
Hey @Melechuga - wanted to draw your attention to plans to redesign the Gigabit page. Check out https://github.com/mozilla/teach.mozilla.org/issues/1473, and be sure to click the redpen link. Does that redesign align with your vision for the Fellows site?

[2015-12-17 23:31] Melechuga commented on #641
Yes! The general design will work nicely for what we need. I'm assuming there's room for more/other pages, color changes, etc? Thanks!

[2015-12-17 23:33] Melechuga commented on #641
Perhaps the bigger issue is changing the URL to something like mozilla.o/openwebfellows, and changing up the advocacy.m.o site. Who would I speak to about that?

[2015-12-17 23:37] hannahkane commented on #641
cc @simonwex for URL issue and heads up @cassiemc regarding similar design needs—perhaps we can streamline (though, yes, the designs don't have to be identical in terms of content, color, etc.)

[2015-12-17 23:42] edrushka commented on #633
An interesting article on this topic was posted in the Atlantic yesterday: [The Environmental Impact of a Netflix Binge] (http://www.theatlantic.com/technology/archive/2015/12/there-are-no-clean-clouds/420744/).

This quote is particularly compelling to me:

[2015-12-18 00:20] hannahkane opened #642 "Set up infrastructure to Localize Teach site"
The content has stabilized, so we're likely in a position where we can begin asking volunteers to localize the static content.

Note: this is distinct from the curriculum localization effort.

### DARCI
D: ?
A: @simonwex
R: ?
C: @alicoding @soapdog
I:

[2015-12-18 10:32] LauraReynal commented on #564
Thanks for moving this forward.

Regarding the 3rd point, I dont think this impacts the design. What we want is a place online to publish reports and findings and blog posts and numerous media. If the research council has a report to publish on net neutrality or economics of the web, it can still go there.
I suggest we move forward as planned, and I doubt the research council will be a problem :ca

[2015-12-18 14:50] soapdog commented on #636
Hey folks,

Loving the threads and new templates! Want to adapt them to our work as soon as possible. We may need to rework a lot of our content to fit it but I believe it is worth it.

As for the guides, we do have some of them in non-gdoc format as well, all using the same template as http://soapdog.github.io/your-first-month-as-a-club-captain-guide/ which I am reworking after reading a great bo

[2015-12-18 14:54] soapdog commented on #635
We are in the middle of the L10N campaign. Currently, our template is markdown based. I don't know if this porting should happen now or after the end of the campaign since the structure of the markdown will change and this will affect the current L10N work.

My "dream plan" would be to rework this template to have pontoon hints and then port the localized content to the new template using pontoon

[2015-12-18 15:18] metaphorista commented on #633
COUNT ME IN!
Could we create a carbon dashboard?
Love the idea of doing/making something as our all hands celebrations, rather than just consuming food/booze/toxin spewing fireworks

[2015-12-18 15:46] cassiemc opened #643 "Design a common 'theme' that can be used for MLN initiatives"
There are a few different asks coming up for site refreshes in the new year. See https://github.com/MozillaFoundation/plan/issues/638 and https://github.com/mozilla/teach.mozilla.org/issues/1473 for the Gigabit site refresh, and #641 for the Open Web Fellows Landing site. There will probably be a similar need for Science and Open News fellows too, at some point.

I wonder if we can design a simple

[2015-12-18 15:46] cassiemc commented on #641
I suspect this is a good design exercise for creating a generic 'initiatives' page that accounts for many projects that will be nested under the MLN site. I'm curious first if that actually makes sense, and second how that might fit into the new IA plans, @hannahkane, ie. if we look across all the initiatives, what are the common design needs. And do we really need an interim step in setting up be

[2015-12-18 15:48] cassiemc commented on #638
@hannahkane Would love to talk to you about timelines and the potential for doing #643 first?

[2015-12-18 15:57] stephwright commented on #633
:heart: :heartbeat: the idea of carbon dashboard!  We could all put in carbon offsetting points to offset the carbon of the whole event!

[2015-12-18 16:29] hannahkane commented on #643
+1000 on this idea

[2015-12-18 16:30] hannahkane commented on #641
@cassiemc - I'm going to answer your question on #643, so that this ticket stays specifically about OWF.

[2015-12-18 16:36] hannahkane commented on #643
A note regarding the question on #641. I've heard there's no mandate for a shared Foundation-wide web property. For example, I don't think the Teach site will become a Leadership Network-wide site; rather it's the home of the education "hub" within the network (though we are adding a /initiatives page that will point to some of the other hubs across the network). I *do* think there's a mandate for

[2015-12-18 16:37] hannahkane commented on #638
Definitely seems smart to do #643 first. +1

[2015-12-18 16:54] cassiemc opened #644 "Draft a branding / templatization plan"
It's clear that there are lots of shared design and engineering needs across initiatives. We need a plan for doing this systematically, which should help us move faster and more efficiently, and better use contractors or other contributors to fill in resource gaps.

I'll volunteer to take point on starting a draft of the plan before the holidays, but will need help!

cc @davidascher @simonwex @han

[2015-12-18 16:55] HPaulJohnson opened #645 "Encryption Campaign"
Develop campaign for an educational advocacy campaign around encryption. Campaign will kickoff in early February and continue throughout February with a weekly series of content beats.

## Full project brief + details
Is here: http://mzl.la/encryption
Repo: http://mzl.la/encryption_issues

## Roles
Project Manager: @openmatt
Responsible: @shaghdoosti
Accountable: @valianttry
Supporting: @brettgayl

[2015-12-18 16:55] cassiemc opened #646 "Clean up labels in plan repo"
I liked what @hannahkane did to create new labels that mapped to our new strategy. Anyone want to take a half hour with me to help clean these up?

@hannahkane @edrushka @simonwex others?

[2015-12-18 16:57] cassiemc commented on #644
cc @HPaulJohnson This is something the Comms Council could help enormously with.

[2015-12-18 17:00] hannahkane commented on #646
I can help!

[2015-12-18 17:00] HPaulJohnson commented on #645
Flagging need for Project Manager on this campaign

[2015-12-18 17:06] xmatthewx commented on #625
Blocked by a PR that needs review. https://github.com/mozilla/api.webmaker.org/pull/184

[2015-12-18 17:07] cassiemc commented on #629
Replacing with #641

[2015-12-18 17:07] #629 closed

[2015-12-18 17:07] edrushka commented on #630
Update: we're about to hit $2 million!! :)
Closing and filing a last EOY ticket for Dec 23.

[2015-12-18 17:07] #630 closed

[2015-12-18 17:07] cassiemc commented on #627
Update @adamlofting?

[2015-12-18 17:09] cassiemc commented on #626
DONE!

[2015-12-18 17:09] #626 closed

[2015-12-18 17:10] hannahkane commented on #626
Roadmappy spreadsheet: https://docs.google.com/document/d/1xhEH2cyz7jkSNnemZwgPCstWQ9yqpeHOtDY43E6yQoI/edit#heading=h.l3h1d3f1oh7i

[2015-12-18 17:11] cassiemc commented on #625
@simonwex to do this afternoon

[2015-12-18 17:11] edrushka opened #647 "Complete pre-holiday EOY tasks"
The EOY team carefully triaged **ALL THE THINGS** on Friday Dec 18.

Here's what we'll do before the holidays: https://github.com/mozilla/donate.mozilla.org/issues?q=is%3Aopen+is%3Aissue+milestone%3A%22December+23%22

Here's what we're pushing to the new year: https://github.com/mozilla/donate.mozilla.org/issues?q=is%3Aopen+is%3Aissue+milestone%3A%22Bluesky+%28nice+but+out+of+scope%29%22

:sunglas

[2015-12-18 17:11] secretrobotron commented on #553
WIP here: secretrobotron.github.io/research-website
Desperately needs review, proper responsive code, and a blog to live in.

[2015-12-18 17:12] brettgaylor commented on #626
Business plan
https://docs.google.com/document/d/1OipsGu8eWuTaT8J3T2-0CR3zB79SysATBLiTTBDGS5I/edit

[2015-12-18 17:13] adamlofting commented on #627
@stephaniemcv is now trained and working closely with Jess at MoCo to get our EOY emails out of the door.

MoCo are still doing some work on how to setup the account to best serve the needs of multiple teams using this platform, as it's not been used this way until now, and they are doing a full audit/review of their account setup which wraps up Dec 30.

Matt's next steps above still make sense. I

[2015-12-18 17:13] hannahkane commented on #554
Pushing to new year, because we'll get the Moco security review on the 4th of January.

[2015-12-18 17:19] cassiemc commented on #534
@simonwex Can you give an update here please?

[2015-12-18 17:19] cassiemc commented on #613
@simonwex Can you update this and move to a new milestone if needed?

[2015-12-18 17:20] cassiemc commented on #495
@OpenMatt status update?

[2015-12-18 17:21] cassiemc commented on #482
@OpenMatt status update?

[2015-12-18 17:26] cassiemc commented on #565
closing, no longer up-to-date with new strategy

[2015-12-18 17:26] #565 closed

[2015-12-18 17:26] secretrobotron commented on #611
I think I'll re-scope this ticket. Talked *very* briefly about this topic with @thornet, @LauraReynal, and @davidascher in Orlando, but in the context of IoT and software as art. Worth noting: the participation team's plan includes growing moz spaces around the globe.

Interesting opportunity to have prototypes and other mechanisms for feedback present in spaces that highlight audiences for partic

[2015-12-18 17:26] zee-moz opened #648 "[Jan 11] - Creation of Promotional Materials for BU Study Groups"
Flyers - 8.5 x 11
 Large Posters - 13 x 19
 Giant Poster - Working on - but huge.
 BU BUS - 17.5 x 11.125
Possible nice visual email template, if it’s workable?

Due 1/11/2016, will need review with BU community lead.

Design brief is here:
https://docs.google.com/a/mozilla.com/document/d/1dIkUnp-0neJ12JTDAXh0bdsMWTpZ39CrofRvAaLQVlI/edit?usp=sharing

[2015-12-18 17:27] simonwex commented on #440
Stale ticket, ping me if we need to re-open.

[2015-12-18 17:27] #440 closed

[2015-12-18 17:29] LauraReynal opened #649 "Conduct first field trip in Kenya [ DSO ]"
For the Digital Skills Observatory Project, we will run a first research trip in Kenya in January. We are running a bootcamp and community event with volunteers on the weekend of the 15th, which will kick off the research effort in partnership with an organization called DDD.

Dates of the trip: 10th-21st of January
Team: @secretrobotron + @lauraReynal

There is a [repo](https://github.com/Mozilla

[2015-12-18 17:29] LauraReynal commented on #649
@davidascher can you reach out to Praekelt and make an intro?

[2015-12-18 17:33] LauraReynal opened #650 "Create and participate in the IoT Caravan in India"
**Goal** : design, plan and execute the IoT Caravan in India, from the 29th to the 14th of February

Core team:
* @thornet
* @secretrobotron
* @LauraReynal

Participants:
* @davidascher
* @simonwex
* + 1 designer
* + 2 Mocos
* + 1 volunteers

Useful documents:
* [Introductory slide deck](https://docs.google.com/presentation/d/1z6ZOCwJ4wQRDf8fKvxARsZiuXEY1aah16ubkylroFu0)

#### TO DO
We are trackin

[2015-12-18 17:34] edrushka commented on #633
We're meeting Monday December 21 to kick off this conversation and brainstorm some ideas both for the London All Hands and for longer-term implementation. Everyone is welcome, or feel free to jot some notes in this pad: https://public.etherpad-mozilla.org/p/social_enivro_reponsibility

Erika D's Vidyo
9:00am PT  12:00pm ET  5:00pm GMT

[2015-12-18 17:35] cassiemc commented on #648
Actual due date is Jan 11.

[2015-12-18 17:36] LauraReynal commented on #650
@cassiemc when do you think we can have a design decision made ?

[2015-12-18 17:40] cassiemc commented on #641
The open call will be posted on [...]
(@brettgaylor)

[2015-12-18 17:41] edrushka opened #651 "Wrap up leftover EOY dev tasks"
There are a number of engineering issues for EOY to wrap up. These include documentation, non-urgent security issues, and stewardship pieces that shouldn't take long to implement (we just didn't have capacity in Dec). Many of these will relate to the advocacy work in Q1.

They are currently documented here but will need to be reviewed and triaged in early Jan: https://github.com/mozilla/donate.moz

[2015-12-18 17:46] hannahkane commented on #378
@HPaulJohnson - can we close or move to a different milestone?

[2015-12-18 17:47] hannahkane commented on #548
@secretrobotron - can we close or update/change milestone?

[2015-12-18 17:48] hannahkane commented on #569
Moving to Jan milestone, since this is still in progress

[2015-12-18 17:48] HPaulJohnson commented on #378
Went live this morning! Check it out at mozilla.org/foundation

[2015-12-18 17:48] #378 closed

[2015-12-18 17:48] cassiemc commented on #648
I will update this afternoon.

[2015-12-18 17:49] hannahkane commented on #423
@valianttry @davidascher - can we close or move to a more accurate milestone?

[2015-12-18 17:51] hannahkane commented on #102
@davidascher - can we close this?

[2015-12-18 17:52] cassiemc commented on #642
@simonwex to update with dev resource

[2015-12-18 17:52] xmatthewx commented on #634
@omnignorant - let us know if you're able to wrangle a developer to drive this. I'm glad to provide support, but we won't be able to lead this internally.

[2015-12-18 17:54] hannahkane commented on #140
Closing this ticket because so many people were added, but I believe @cassiemc is going to file a similar ticket for people who've joined more recently.

[2015-12-18 17:54] #140 closed

[2015-12-18 17:55] hannahkane commented on #157
@LauraReynal @secretrobotron - is this ticket still useful, or should we close?

[2015-12-18 17:56] cadecairos commented on #569
Here's a quick update:

We're waiting on a RRA (Rapid Risk Assessment) for Goggles, so that Moco will be okay with updating DNS for goggles.mozilla.org (https://bugzilla.mozilla.org/show_bug.cgi?id=1230666) It should be happening the week of Jan 4.

Once that's done, we'll be able to move beta.webmaker.org to webmaker.org.

We also still need to work on shutting down appmaker.

[2015-12-18 17:56] hannahkane commented on #525
This really needs to happen. Can we take it out of the backlog and move it to an upcoming milestone? @xmatthewx @simonwex

[2015-12-18 17:56] #203 closed

[2015-12-18 17:57] hannahkane commented on #201
I think we did this. Can someone verify - @LauraReynal ?

[2015-12-18 17:57] xmatthewx commented on #525
Sure thing. We have design and thinking and copy done.

[2015-12-18 18:00] hannahkane commented on #27
@davidascher - What does this mean? Is this still a useful ticket?

[2015-12-18 18:00] xmatthewx opened #652 "Follow up on Orlando work group proposals"
Let's start the year off acting on lessons learned from last year. And following up on the great "work group" proposals made in Orlando:
* Orlando proposals: https://docs.google.com/a/mozilla.com/document/d/15NVMqr4unr1HNDO_esGpMfHXm-Q7p7J56CplBtqtsis/edit?usp=sharing
* Ideas for potential heartbeat improvements: https://docs.google.com/document/d/15j9E0qdfQsKZkknLZ7UvNZ6aAmxABfSYVIxbqrRdxFE/edit

[2015-12-18 18:05] secretrobotron commented on #548
Just spoke a bit with @shaghdoosti. This isn't useful (right now) as a tool for community/others to submit petition requests, but it is useful for us to set up petitions internally very quickly (remove some dev time).

@adamlofting @simonwex did you think about this any more after Sept? What do you think this would look like from a forking standpoint? Can we use some cloning mechanism right inside