[2015-12-18 18:18] HPaulJohnson commented on #645
Working list of assets and deliverables: https://docs.google.com/spreadsheets/d/1OE_j1x3bm0vZmCJ_YoGsP8fTL5syvoHObjEJBZJXMCg/edit#gid=1677471962

[2015-12-18 18:31] xmatthewx commented on #525
I'd suggest we implement on desktop/teach site first, rather than within the android app.

[2015-12-18 19:12] adamlofting commented on #548
I think we should close this ticket. The Advocacy work kicking off in the new year will determine the scope for what we need to build and when. There will definitely be a petition thing at somepoint, and hopefully it will also be 'silly easy', but let's let that roadmap define the work.

[2015-12-18 19:12] #548 closed

[2015-12-18 19:21] cassiemc opened #653 "Schedule another GitHub training"
Lots of new folks are A) unfamiliar with the triage process and B) simply how to navigate Github in the way that we do.

We should maybe hinge A) on #652, but B) is doable now. Let's plan it. @simonwex you up for helping me with another training session?

[2015-12-18 19:22] cassiemc commented on #653
(to be clear this doesn't need to happen before the new year, just get scheduled)

[2015-12-18 19:25] cassiemc commented on #553
@simonwex ^^^

[2015-12-18 19:28] cassiemc commented on #650
@LauraReynal - Workin' on it today. I think this does hinge a bit on the possibility to bring a moco designer. cc @davidascher

[2015-12-18 19:40] edrushka opened #654 "Localize Spectacular Snippet Copy"
Please expose the string as soon as possible through the fundraising project and send an email to dev-l10-web.

This is copy that will be tested to run in the fundraising snippet on our biggest days of the year: Dec 29, 30 and 31.

We only need it localized in DE, FR, ES, PT-BR and IT. Other languages will not be used.

[2015-12-18 19:41] alicoding commented on #654
Where is the copy?

[2015-12-18 19:41] edrushka commented on #654
ha sorry https://docs.google.com/document/d/1wQU-7LNZwncc4qDVPN-DHZZFDc2s5ASAbsub6DIT60M/edit

[2015-12-18 19:45] edrushka commented on #654
@valianttry -- Flod thinks IT will be no problem. DE and FR should be ok. But ES and pt-BR might be a little harder. You might want to flag Kontextor for these last 2.

[2015-12-18 19:46] hannahkane commented on #643
@cassiemc - what milestone do you think we should put this in?

[2015-12-18 20:07] edrushka commented on #654
oops. wrong repo!

[2015-12-18 20:07] #654 closed

[2015-12-18 20:17] secretrobotron commented on #157
We discussed a little bit with Rina. We can more meaningfully share documents and other material after regular discussion. Will close for now :).

[2015-12-18 20:17] #157 closed

[2015-12-18 21:23] cassiemc commented on #643
@hannahkane I'll add this to the first heartbeat, we can discuss the plan that comes out of next week then.

[2015-12-18 21:46] cassiemc commented on #653
Pulling together thoughts and an agenda here: https://public.etherpad-mozilla.org/p/githubtraining

[2015-12-18 21:58] cassiemc commented on #650
@LauraReynal @secretrobotron I'm hoping you guys can find a moco designer to come with, as unfortunately none of the Mofo designers are available this time. Folks are very up for participating on future trips, though. I'll try to help out as much as possible with any design guidance / prep work leading up to the trip.

[2015-12-18 22:10] cassiemc commented on #644
Moving this to the first heartbeat of the year, as it's difficult to convene a group of brains before then. I'll start a doc though, here: https://docs.google.com/document/d/1lBQuH__Q_2Dkb0Lbn2WQ4SB7w1HUEzuJ-V1nVDaDpL4/edit

[2015-12-18 22:15] cassiemc commented on #534
@hannahkane @simonwex Who owns this one? Feels uncomfortable to leave a P1 without an assignee.

[2015-12-18 22:25] omnignorant commented on #634
@xmatthewx just to be clear: if I can't ID a volunteer to do this, then it's not happening? In which case, where is the shed app repo? Is there any documentation? I can see what I can do.

Also FYI @Saallen

[2015-12-18 22:55] mmmavis commented on #634
It took me a while to migrate session data between Google Spreadsheet and Github.  Tweaking the Schedule app itself was pretty straightforward and did not occupy much of my time compared to the data migration part.

Agree that it'd be nice to get someone who has never worked on the Schedule app to fork it and file tickets along the way.  One thing to mention is that the [loader script](https://git

[2015-12-18 22:59] omnignorant commented on #634
Thanks for the clarifiacation @mmmavis and also want to note that we're definitely not curating anything in GitHub. We'd going straight to Google Sheets through a Form, so that might simplify things.

[2015-12-18 23:28] hannahkane commented on #534
Realistically, this is @simonwex. I'd be happy to take on more project management work, but so far this has been largely a technical lift.

[2015-12-18 23:39] #27 closed

[2015-12-18 23:40] #26 closed

[2015-12-18 23:40] #25 closed

[2015-12-18 23:40] #24 closed

[2015-12-18 23:40] #23 closed

[2015-12-18 23:40] #22 closed

[2015-12-18 23:40] #61 closed

[2015-12-18 23:40] #4 closed

[2015-12-18 23:41] hannahkane commented on #432
@xmatthewx - is this ticket still useful?

[2015-12-18 23:42] hannahkane commented on #244
Thinking we can close this ticket.

[2015-12-18 23:42] #244 closed

[2015-12-18 23:43] #207 closed

[2015-12-18 23:43] hannahkane commented on #199
I think we can close this now. Doesn't seem to be an outstanding question anymore.

[2015-12-18 23:43] #199 closed

[2015-12-19 00:57] edrushka commented on #510
Closing as this didn't happen in 2015. However, we did manage to widely share some great impact stories like Suchita's on the snippet, and in the November impact email. We also published the annual State of Mozilla 2014 report which highlighted some major org-wide achievements.

[2015-12-19 00:57] #510 closed

[2015-12-21 04:53] simonwex commented on #525
I agree with @xmatthewx. @hannahkane let's chat when we're back about the who and timing.

[2015-12-21 06:13] simonwex commented on #613
Closing this issue. I believe we have all of the updates, but are not making them public. Please re-open if you disagree.

[2015-12-21 06:13] #613 closed

[2015-12-21 06:16] simonwex commented on #625
PR Merged! @xmatthewx close?

[2015-12-21 06:21] simonwex commented on #534
We have two PRs that represent the Souktel work to date:

https://github.com/mozilla/teach.mozilla.org/pull/1427
https://github.com/mozilla/teach-api/pull/25

These complete most of the MVP badges work, but are still in-progress. Souktel is continuing work over the next couple weeks and should have this complete by the new year.

[2015-12-21 11:42] Saallen commented on #634
Hey- if we are happy for community to hack on this I might have someone in mind if @omnignorant cannot mind anyone local to him

[2015-12-21 14:33] omnignorant commented on #634
Cool... we can work on finding a local contributor. So um, where's the code live?

[2015-12-21 14:48] xmatthewx commented on #634
Thanks everyone.

Mozfest: https://github.com/mozilla/mozfest-schedule-app
SRCCON: https://github.com/OpenNews/srccon-schedule

[2015-12-21 14:54] xmatthewx commented on #432
Gone stale. Closing.

[2015-12-21 14:54] #432 closed

[2015-12-21 15:55] #278 closed

[2015-12-21 15:56] #277 closed

[2015-12-21 15:57] hannahkane commented on #228
Closing because it's so old

[2015-12-21 15:57] #228 closed

[2015-12-21 15:57] hannahkane commented on #245
Closing this out-of-date ticket.

[2015-12-21 15:57] #245 closed

[2015-12-21 16:30] simonwex commented on #553
Gavin is going to help get this squared away. I updated the team section above.

[2015-12-21 16:38] secretrobotron commented on #553
:boom:!! @gvn, let me know how I can help. Available on IRC/Skype/tin can and string throughout the week.

[2015-12-21 19:04] hannahkane commented on #423
I'm moving this to a future milestone, so we can close this one.

[2015-12-21 19:06] hannahkane commented on #517
Closing until more clarity emerges.

[2015-12-21 19:06] #517 closed

[2015-12-21 19:06] #489 closed

[2015-12-21 19:06] #563 closed

[2015-12-21 19:08] hannahkane commented on #422
Closing in lieu of #642

[2015-12-21 19:08] #422 closed

[2015-12-21 19:10] hannahkane commented on #353
I'm going to close this ticket, because I think these ideas are very related to the work we'll be doing in the Membership track of our 2016 strategic plan. New tickets will be filed!

[2015-12-21 19:10] #353 closed

[2015-12-21 20:53] mmmavis commented on #634
and https://github.com/mozilla/mozfest-schedule-loader to pull data from Google Spreadsheet and feed it to the Schedule app.

[2015-12-21 21:37] mmmavis commented on #629
Hey @brettgaylor ! :smile:

Just wanted to see if updates mentioned in the this ticket are still needed. Or we want to hold off until we figure out what the plan is for https://github.com/MozillaFoundation/plan/issues/641.

[2015-12-21 23:02] edrushka opened #655 "Create an enviromental impact survey for MoFos"
This is an action item from our kickoff discussion #633.

Questions/topics are being collected here:  https://docs.google.com/a/mozilla.com/document/d/1H41T5FvOOdcnD89k0AgX6LlWUt3aJR0PtBY4uWzsksE/edit?usp=sharing

cc @secretrobotron @stephwright

[2015-12-21 23:04] edrushka commented on #633
Update: We met this morning and started brainstorming some ideas for London and beyond. [Notes here] (https://public.etherpad-mozilla.org/p/social_enivro_reponsibility)
Next, we'll reach out to MoFos with a survey #655 and connect with Brianna about how we can help in London.

[2015-12-21 23:04] #633 closed

[2015-12-22 00:06] stephwright commented on #655
@zee-moz asked if she could be a part of this, as well

[2015-12-22 00:21] edrushka commented on #655
Of course! Everyone is welcome! :dancers:

[2015-12-22 17:35] cassiemc commented on #653
This is done. Email and calendar invites sent to all@mofo for the new year.

[2015-12-22 17:35] #653 closed

[2015-12-22 17:40] cassiemc commented on #646
Meeting scheduled for Jan 4 with @hannahkane, but I could do this sooner, today or tomorrow. Ping me on IRC if you find a moment Hannah! Otherwise am updating the milestone.

[2015-12-22 17:43] edrushka commented on #646
Can I join the Jan 4 meeting?

[2015-12-22 17:46] cassiemc commented on #646
Yes, definitely! Invite coming.

[2015-12-22 17:52] cassiemc commented on #644
Meeting scheduled for Jan 6

[2015-12-22 18:10] cassiemc commented on #643
@hannahkane The larger plan will be drafted in the Jan 15 milestone rather than by EOY. That issue is here: https://github.com/MozillaFoundation/plan/issues/644 But I don't actually think that issue blocks this one.

For instance I really like how @kristinashu organized the [Leadership Opportunities page](https://github.com/mozilla/teach.mozilla.org/issues/1481). It might be interesting to imagine

[2015-12-22 18:12] cassiemc commented on #655
Let's review a first draft of questions in that doc mentioned above at our next meeting, Jan 7.

[2015-12-22 18:41] #607 closed

[2015-12-22 18:43] edrushka commented on #421
Closing as this hasn't been touched since April.

[2015-12-22 18:43] #421 closed

[2015-12-22 18:43] #481 closed

[2015-12-22 18:46] edrushka commented on #553
When TPS regroups in January, let's try to give this ticket one of the orange labels so we can understand where it fits in the grand scheme of things.

[2015-12-22 18:46] edrushka commented on #564
When TPS regroups in January, let's try to give this ticket one of the orange labels so we can understand where it fits in the grand scheme of things.

[2015-12-22 18:47] cassiemc commented on #152
A lot has changed here, so I'm going to close this. But we can keep it for a reference for #644 and maybe #209 (closed)

[2015-12-22 18:47] #152 closed

[2015-12-22 18:47] #455 closed

[2015-12-22 18:47] #467 closed

[2015-12-22 18:48] #194 closed

[2015-12-22 18:49] edrushka commented on #423
I'm going to close this.

[2015-12-22 18:49] #423 closed

[2015-12-22 18:50] edrushka commented on #183
Closing. Re-open if work is still ongoing.

[2015-12-22 18:50] #183 closed

[2015-12-22 18:56] #293 closed

[2015-12-22 18:56] cassiemc commented on #402
Super old, so closing.

[2015-12-22 18:56] #402 closed

[2015-12-22 18:57] #256 closed

[2015-12-22 18:57] #213 closed

[2015-12-22 18:58] #154 closed

[2015-12-22 18:58] #147 closed

[2015-12-22 18:58] #200 closed

[2015-12-22 18:58] #239 closed

[2015-12-22 18:59] #260 closed

[2015-12-22 18:59] #255 closed

[2015-12-22 18:59] #264 closed

[2015-12-22 18:59] #188 closed

[2015-12-22 18:59] #108 closed

[2015-12-22 19:07] cassiemc commented on #571
@brettgaylor can you close or update this please?

[2015-12-22 19:08] cassiemc commented on #103
I think we can close this, it is now out of date.

[2015-12-22 19:08] #103 closed

[2015-12-22 19:09] cassiemc commented on #227
This no longer seems a priority.

[2015-12-22 19:09] #227 closed

[2015-12-22 19:09] #201 closed

[2015-12-22 19:09] #174 closed

[2015-12-22 19:10] cassiemc commented on #160
This one is pretty out of date. We are using desk.top with @ldecoursy and @KevZawacki. Let's file a new issue if any work is still needed here.

[2015-12-22 19:10] #160 closed

[2015-12-22 19:11] edrushka commented on #142
Closing this but feel free to re-file in the engineering repo if it's still relevant.

[2015-12-22 19:11] #142 closed

[2015-12-22 19:11] cassiemc commented on #105
This can be closed

[2015-12-22 19:11] #105 closed

[2015-12-22 19:12] #40 closed

[2015-12-22 19:12] edrushka commented on #121
@secretrobotron can we close this?

[2015-12-22 19:12] #121 closed

[2015-12-22 19:12] #101 closed

[2015-12-22 19:12] #107 closed

[2015-12-22 19:12] cassiemc commented on #106
We now have a design repo, no worries!

[2015-12-22 19:12] #106 closed

[2015-12-22 19:13] #102 closed

[2015-12-22 19:15] #376 closed

[2015-12-22 19:15] cassiemc commented on #505
@xmatthewx Possible to squeeze this in this heartbeat?

[2015-12-22 19:18] cassiemc commented on #484
This issue goes hand in hand with the new process planning in #652. It's great discussion, but nothing actionable as far as I can tell, so going to close this in favor of refiling smaller issues. Please reopen if anyone disagrees!

[2015-12-22 19:18] #484 closed

[2015-12-22 19:20] hannahkane commented on #420
Closing for now. Will likely likely open a new ticket at some point in H1, when there's more clarity on the reqs.

[2015-12-22 19:20] #420 closed

[2015-12-22 19:21] hannahkane commented on #415
@benrito - is this ticket still useful? Can we assign to a milestone, or close it?

[2015-12-22 19:21] cassiemc commented on #436
This is a great idea @AJaySi but it isn't aligned with Mozilla's plans in 2016. We are going to close this for now. Here's a blog post from our Executive Director Mark Surman if you'd like to digest the plans and offer any other thoughts: http://marksurman.commons.ca/2015/12/21/mofo2020/

[2015-12-22 19:21] #436 closed

[2015-12-22 19:21] edrushka commented on #389
Closing for now as we don't have H1 plans to run promos on Webmaker.org.

[2015-12-22 19:21] #389 closed

[2015-12-22 19:22] hannahkane commented on #366
@jdotpz @simonwex - is this ticket still useful? should we assign to a 2016 milestone?

[2015-12-22 19:22] benrito commented on #415
can close

[2015-12-22 19:22] cassiemc commented on #360
Pretty sure this was done. @xmatthewx please reopen if I'm mistaken.

[2015-12-22 19:22] #360 closed

[2015-12-22 19:22] edrushka commented on #361
The fundraising team did a lot of work on this in Q4 with more to come (and proper documentation) in H1 2016.

[2015-12-22 19:22] #361 closed

[2015-12-22 19:23] #83 closed

[2015-12-22 19:23] hannahkane commented on #358
@secretrobotron - what should we do with this ticket? Assign to a 2016 milestone? Close?

[2015-12-22 19:23] #357 closed

[2015-12-22 19:24] cassiemc commented on #248
Tagging this as food-for-thought in #652, otherwise closing.

[2015-12-22 19:24] #248 closed

[2015-12-22 19:24] cassiemc commented on #250
@mmmavis @simonwex can we close this?

[2015-12-22 19:24] cassiemc commented on #251
@alicoding can we close this?

[2015-12-22 19:24] hannahkane commented on #276
@Melechuga - can this ticket be closed, or is there still work to do?

[2015-12-22 19:25] cassiemc commented on #268
Tagging this as food for thought in #652, otherwise closing.

[2015-12-22 19:25] #268 closed

[2015-12-22 19:26] alicoding commented on #251
I think we have come to a conclusion that we are going to use Pontoon for our next projects.

[2015-12-22 19:26] #251 closed

[2015-12-22 19:26] hannahkane commented on #269
@adamlofting - what do you recommend we do with this ticket? Assign to a 2016 milestone? Close it?

[2015-12-22 19:26] cassiemc commented on #259
@HPaulJohnson Should we update the milestone here, or close?

[2015-12-22 19:26] edrushka commented on #354
Fundraising tried some experiments with this with some success! https://github.com/mozilla/donate.mozilla.org/issues/812 Closing this - future work will be ticketed through advocacy team.

[2015-12-22 19:26] #354 closed

[2015-12-22 19:26] hannahkane commented on #253
@jdotpz - more to do on this ticket? Should we close, or assign to a 2016 milestone?

[2015-12-22 19:27] cassiemc commented on #252
@jbuck Can we close this?

[2015-12-22 19:28] alicoding commented on #354
@edrushka actually this is not the same, with the ticket you've pointed, but we have done it for the "This really helps us" image/font, so yes this is now resolved and can be closed.

[2015-12-22 19:28] secretrobotron commented on #358
Ok to close. I'll revise with new ideas when I can.

[2015-12-22 19:28] #358 closed

[2015-12-22 19:28] jdotpz commented on #402
![chrsgiphy](https://cloud.githubusercontent.com/assets/1373628/11963960/ee6ef31a-a8af-11e5-8783-b8b3606bff98.gif)
It was the best of times....

[2015-12-22 19:30] cassiemc commented on #646
Labels have been cleaned up, with the very excellent unexpected addition of lots of unlabeled and backlogged issue triage. Final step here is to:
- [ ] document the work in this repos readme, and (me)
- [ ] send an email to all@mofo saying what we did. (@hannahkane)

[2015-12-22 19:33] cassiemc commented on #289
This doesn't seem like it's going to happen. Please reopen if I am mistaken.

[2015-12-22 19:33] #289 closed

[2015-12-22 19:33] HPaulJohnson commented on #259
Close. I think this was for Webmaker specifically and we never moved to Apostle nor do we have great transactional email solution at this point.

[2015-12-22 19:33] #259 closed

[2015-12-22 19:39] KevZawacki commented on #505
@cassiemc @xmatthewx

Pardon -- most of this work has [already been done](https://support.mozilla.org/en-US/).
We can build out Webmaker's SUMO presence further if we like, but I think we're OK to close this ticket.

[2015-12-22 19:46] cassiemc commented on #643
Assigning to @sabrinang for UX work on this.

[2015-12-22 19:47] cassiemc commented on #645
Assigning @lovegushwa and @natalieworth to this work in the new year. Let me know if you need additional resources.

[2015-12-22 19:56] #252 closed

[2015-12-22 19:56] cassiemc commented on #641
This is still a big question mark about who to assign and the scope of work. I'd suggest @brettgaylor, @Melechuga and I have a catch-up very early in the new year and draft a rough wireframe. I'll schedule!

[2015-12-22 19:57] #253 closed

[2015-12-22 19:57] #366 closed

[2015-12-22 20:03] cassiemc commented on #641
Meeting scheduled for Jan 4. Also included @simonwex for dev resourcing, and @kristinashu for design input.

[2015-12-22 20:06] cassiemc commented on #638
Good to keep this with @sabrinang since she has started the work.

[2015-12-22 20:09] LindseyFrost commented on #638
@cassiemc @sabrinang We'd really love to be guinea pigs in consolidating and finding shared needs! We really don't have capacity to maintain individual city sites (hive KC, hive CHA, new cities coming online next year) and would love to build out a new, better site that meets project and city-level needs in one place.

[2015-12-22 20:18] #415 closed

[2015-12-22 20:27] adamlofting commented on #269
I'm going to close the ticket but cc @xmatthewx to put this in a relevant road map if it's needed in 2016.

The architecture has changed a bit since this ticket was first written.

[2015-12-22 20:27] #269 closed

[2015-12-22 23:04] cassiemc commented on #505
Great thanks @KevZawacki!

[2015-12-22 23:04] #505 closed

[2015-12-22 23:04] Melechuga commented on #629
Hi @mmmavis!  I think we've replaced this ticket with #641. We're meeting early in the new year to figure out wireframes and such, then will bring everyone in as needed.

Thanks for staying on top of it!

[2015-12-22 23:06] cassiemc commented on #638
@LindseyFrost Excellent, thanks for that bit of background! We'll try to kick this off in the new year.

[2015-12-22 23:07] Melechuga commented on #276
Hi @hannahkane
This ticket can be closed. We might do some work on the site in the future, but those can be smaller, individual tickets.

Thanks for keeping on top of it!

[2015-12-22 23:07] #276 closed

[2015-12-23 02:10] hannahkane commented on #632
Moving to next heartbeat to close out.

[2015-12-23 02:10] hannahkane commented on #534
Rolling into next heartbeat.

[2015-12-23 15:43] cassiemc commented on #575
This is done, can be seen here: https://github.com/MozillaFoundation/book.webmaker.org/blob/master/demos.md

[2015-12-23 15:43] #575 closed

[2015-12-23 17:08] cassiemc commented on #646
@hannahkane @edrushka The readme has been updated, could you guys review when you get a chance? https://github.com/MozillaFoundation/plan/blob/master/README.md

[2015-12-23 17:10] edrushka commented on #646
Dang, we picked a nice palette ;)

Looks great @cassiemc :+1:

[2015-12-23 17:12] hannahkane commented on #646
Sweet. Nice job, @cassiemc. I'll work on the email now.

[2015-12-23 17:59] hannahkane commented on #646
Email sent.

[2015-12-23 17:59] #646 closed

[2015-12-23 18:20] cassiemc commented on #553
Looks like first comment didn't get updated with team. So I'll assign @gvn and remove the ```needs-dev``` label. Please update if that is no longer accurate.

[2015-12-23 18:21] cassiemc commented on #482
I'll move this to Jan 15 as I believe @OpenMatt is off until the next heartbeat.

[2015-12-23 18:21] cassiemc commented on #495
Moving to the next heartbeat.

[2015-12-23 18:41] hannahkane commented on #424
Should we consolidate this ticket and #642?

[2015-12-23 18:42] mmmavis commented on #629
:tada:

[2015-12-23 18:51] mmmavis commented on #250
Yup yup this is kinda obsolete now. Let me hit the Close button.

[2015-12-23 18:51] #250 closed

[2015-12-23 18:52] alicoding commented on #424
Actually this can now be closed. We know how to localize any site that uses React.

[2015-12-23 18:52] #424 closed

[2015-12-23 18:52] hannahkane opened #656 "Update build.webmaker.org and book.webmaker.org"
Some things looks a little out of date, including:
 - [ ] urls are no longer reflective of our terminology and scope - https://github.com/mozilla/build.webmaker.org/issues/95
 - [ ] "Our Audience" page on build uses "Webmaker" as the overarching connecting term
 - [ ] "File a Bug" page on build could be expanded to include other repos
 - [ ] "Introduction" on book - mission statement needs to be r

[2015-12-23 18:52] hannahkane commented on #656
@OpenMatt - should this be assigned to you? I'm happy to help.

[2015-12-23 19:16] secretrobotron commented on #553
@gvn here's the latest redpen form @kristinashu: https://redpen.io/p/opdb303c31041d13b6

[2015-12-23 19:27] gvn commented on #553
@kristinashu Can you hook me up with the PSDs for this page?

[2015-12-23 21:01] cassiemc commented on #553
@gvn I'm afraid @kristinashu is off for the holidays already. Check out the drive folder I just shared with you, also at https://drive.google.com/a/mozilla.com/folderview?id=0B2irLVDJivhLYWw2SjRreFhTYWc&usp=sharing. I believe they are .ai files.

[2015-12-24 14:50] cassiemc opened #657 "Transfer ownership of Drive folder"
Hey @xmatthewx I noticed you are the owner (creator) of the Design Assets folder on Drive. Can you transfer ownership of that folder? Ideally the design team are all co-owners, but if that's not possible maybe just transfer it to me. Thanks!

[2015-12-24 15:20] cassiemc commented on #657
I meant to file this in the design repo, I'm gointg to refile there.

[2015-12-24 15:20] #657 closed

[2015-12-24 15:23] cassiemc commented on #656
I am also happy to help. I think there are lots of granular things in this, so I'll start a new milestone for these issues in the build repo here: https://github.com/mozilla/build.webmaker.org/labels/2016-cleanup

[2015-12-24 15:40] cassiemc opened #658 "Design the Chronicle – showcase last 5 years of Mozfest"
There was a lot of great work that happened in https://github.com/MozillaFoundation/plan/issues/566

I am wondering if there are next steps for the design, and if we're hoping to do this internally or hire a contractor? When this work is slated to be completed? Don't want it sneaking up on us in the new year if possible!

cc @benrito @OpenMatt and probably @edrushka

[2016-01-04 12:34] benrito commented on #658
We have a meeting tomorrow and this will probably be on the agenda—can post an outlook then.

Thank you!
Ben

[2016-01-04 16:20] ldecoursy commented on #582
@hannahkane I think we can check off all items listed in the first comment and close this - agree?

[2016-01-04 16:25] hannahkane commented on #582
Yup.

[2016-01-04 16:25] #582 closed

[2016-01-04 18:59] sabrinang commented on #643
### Goals
- make it easy for owner to access, edit and update content or design
     - teams do not have access or low resources often can not maintain or make timely changes themselves
- create a organized presence with some uniformity *(make design resources documents and make them available)*
- save time *(on implementation and updating content, reusable styles)*

With the upcoming updates, I h

[2016-01-04 19:45] cassiemc commented on #643
This is an awesome list of questions, @sabrinang, thank you. I think @davidascher would find this interesting, especially the diagram also on redpen at https://redpen.io/axf489c95bd3241c71. Would love your thoughts David.

[2016-01-04 20:19] simonwex commented on #641
@ScottDowne will be taking this one.

[2016-01-04 21:17] kristinashu commented on #553
@gvn do you everything you need?

@secretrobotron and I were working more out of this ticket https://github.com/MozillaFoundation/research/issues/105#issuecomment-160065908

Redpen comps: https://redpen.io/p/opdb303c31041d13b6
Illustrator file: https://drive.google.com/a/mozilla.com/file/d/0B2irLVDJivhLeXV0WGtrZmJxQmc/view?usp=sharing

I think all the styling is done for desktop but the narrower s

[2016-01-04 21:42] davidascher commented on #643
The architecture that you drew up @sabrinang is indeed how we're thinking
about mofo activities, but I think it's important not to assume that that's
how the public will or shoudl think about it.  In particular, the scoping
of what's MoFo vs. MoCo is generally not a useful boundary for people not
working for either org.

It is however useful to have some segmentation, but I would probably
segment

[2016-01-04 21:52] acabunoc commented on #643
I should flag that Science is planning a refresh in the next few months. We will be talking to some agencies and contract out this work -- let me know if we can help or approach this to be more aligned with a shared template.

[2016-01-04 22:26] gvn commented on #553
Yeah I got the comps and am working on building it out as a responsive layout. :+1:

[2016-01-05 00:11] #647 closed

[2016-01-05 15:09] cassiemc commented on #641
I'm driving this update. We had a kickoff yesterday, notes here: https://public.etherpad-mozilla.org/p/webfellowsupdate I'll be filing followup issues under the ```webfellows``` label here: https://github.com/MozillaFoundation/movement-building/labels/webfellows

[2016-01-05 15:31] OpenMatt commented on #625
status?

[2016-01-05 15:31] OpenMatt commented on #611
status?

[2016-01-05 15:38] OpenMatt opened #659 "Impact evaluation KPIs for Leadership + Advocacy"
### Goal
Provide more detail on *impact evaluation* for Leadership + Advocacy.
* How are we going to think about and measure external impact on our key hills going forward? (literacy, inclusion, privacy)
* Show progress / next steps / thinking behind how we're setting *targets* for Advocacy and Leadership

### Roles
* PM: @OpenMatt
* Responsible: @adamlofting
* Accountable: @davidascher
* Consulte

[2016-01-05 15:42] OpenMatt commented on #659
cc @davidascher

[2016-01-05 16:16] cassiemc commented on #643
Here's a thing that might help visualize what I think @davidascher was implying. We're trying to figure out a new url and IA structure for the Open Web Fellows, as per https://github.com/MozillaFoundation/movement-building/issues/66 (and on a macro level, https://github.com/MozillaFoundation/plan/issues/641)

The first half of the diagram is specifically about how users might navigate to the vario

[2016-01-05 16:34] davidascher commented on #659
Adam is on PTO for a while, FYI.

[2016-01-05 16:55] OpenMatt commented on #659
yep. back on Jan 11 is my understanding.

[2016-01-05 20:01] hannahkane commented on #637
Have made progress on this. See https://github.com/mozilla/teach.mozilla.org/issues/1522 and https://github.com/mozilla/teach.mozilla.org/issues/1523. Stretch goal is to complete the interviews/observations within this heartbeat.

[2016-01-05 21:45] cassiemc commented on #643
@hannahkane I think we should perhaps remove this ticket from the Jan 15 milestone, given the broader templatization plan going on in https://github.com/MozillaFoundation/plan/issues/644, unless you feel like it's blocking other pressing needs?

[2016-01-05 21:59] hannahkane commented on #643
Agree. First things first. :)

[2016-01-05 23:14] edrushka commented on #634
Picking this up again. I'm happy to drive this if I can get a technical lead to help me. @simonwex any devs available in the next 2 weeks?

[2016-01-05 23:17] omnignorant commented on #634
FYI, this is the session data we've got in the can: https://docs.google.com/a/mozilla.com/spreadsheets/d/14q_MfxaUVDZ19YfNWf6fGMkHj8P7q7u0zM9tBX3XHFU/edit?usp=sharing

More to come from the still-live form.

[2016-01-06 18:06] ldecoursy opened #660 "[Feb 19] Design new swag for upcoming events"
We have some events coming up and are nearly out of swag here in the Brooklyn office.

@cassiemc Can we get any help designing some generic swag (thinking Dapper Fox buttons, patches, stickers)

Might even be good to do X-Ray Goggles and Thimble stickers - we can do simple logo + URL or something fun ;)

**Scope:**
- [x] Dapper Fox patches
- [x] Dapper Fox stickers
- [x] X-Ray Goggles stickers – s

[2016-01-06 18:53] hannahkane opened #661 "Determine overarching Information Architecture for Leadership / Advocacy web properties"
The conversation in #643, which is ostensibly about designing a common theme, has veered into a larger conversation about IA.

@sabrinang's [visualization](https://cloud.githubusercontent.com/assets/2492510/12096773/91bd9ed8-b2cc-11e5-956f-2330e9be2ce0.png) is a great starting point, and @cassiemc's [viz](https://redpen.io/jx5db8131a9b2deea3) offers add'l clarity.

Questions to resolve:
* What is

[2016-01-07 04:43] simonwex opened #662 "Explore Prototype of MoFo-wide CMS Stack"
The requirements are coalescing for:
 * Custom one-off high-polish web pages with ~quarterly update frequencies
 * MoFo-managed content-focused websites requiring frequent content updates
 * MoFo-managed blogs
 * Tools and services to enable clubs to manage their content similarly

Let's build a prototype to understand what and how we should deliver on these requirements.

https://github.com/mozil

[2016-01-07 04:56] simonwex commented on #662
One approach could include:
 * A new-generation of makerstrap
 * Wordpress.com as the data-store (to be self-hosted later)
 * A custom-themed [Calypso](https://github.com/Automattic/wp-calypso) as the editing environment
 * A boilerplate app in React written to link Makerstrap V2 with WP-API.

[2016-01-07 16:58] acabunoc commented on #662
cc: @acabunoc -- I'd like to know what happens here! Also happy for science to act a guinea pig on this if you need one :)

[2016-01-07 17:47] OpenMatt commented on #659
@adamlofting also: have you booked hotel / travel for attending the board meeting?

[2016-01-07 18:09] simonwex commented on #662
@acabunoc I'd love for you to be involved in this project! The output will be a prototype, so `s/guinea pig/collaborator/` :smile:

[2016-01-07 18:14] hannahkane commented on #662
Love this idea. Also flagging local Hive sites as a possible test case.

[2016-01-07 18:34] acabunoc commented on #662
@simonwex sounds great -- would love to be involved!

[2016-01-07 18:40] simonwex commented on #662
Another idea would be to use [Django CMS](http://www.django-cms.org/)

[2016-01-07 20:09] omnignorant commented on #662
+me as :hamster: / :pig2:

[2016-01-07 20:11] simonwex commented on #662
@omnignorant, you want to be a hamster-pig?

[2016-01-07 20:17] omnignorant commented on #662
@simonwex, we can't all be so clever using file hierarchy humor and emoji is a woefully limiting form of linguistic expression (tho, richly poetic). Use your powers of deductive reasoning to get my gist.

[2016-01-07 20:18] hannahkane commented on #662
:fire:

[2016-01-07 20:20] omnignorant commented on #662
:heart:

[2016-01-07 20:26] simonwex commented on #662
oh, you mean hamster/pig. 10-4

[2016-01-08 00:15] edrushka opened #663 "Send environmental impact survey"
Based on the discussion in #633 and in [our meetings] (https://public.etherpad-mozilla.org/p/social_enivro_reponsibility) we've decided to start by surveying MoFo's to find a meaningful and effective way to approach some of these issues.

Draft questions are [here] (https://docs.google.com/document/d/1H41T5FvOOdcnD89k0AgX6LlWUt3aJR0PtBY4uWzsksE/edit#). Feel free to comment in this ticket if you ha

[2016-01-08 02:28] edrushka commented on #663
Whoa, I went a little crazy on the edits!  Can you please review to make sure I didn't take us too far off track? It's more general now, and less Mozlando-specific, which may not be what we want. https://docs.google.com/document/d/1H41T5FvOOdcnD89k0AgX6LlWUt3aJR0PtBY4uWzsksE/edit#

[2016-01-08 04:23] stephwright commented on #663
I love your edits!  They clarified questions and kept them to obtaining information with which we can actually do something!  Nicely done!!! :clap:

[2016-01-08 15:23] OpenMatt commented on #652
I'm totally up for this. Angela is up for being the executive team champion for this work as well.

[2016-01-08 15:35] OpenMatt opened #664 "Prepare Encryption campaign for Jan 28 launch"
Project Manager: @openmatt
Project Team: Brett, Paul, Andrea, Sara, Jordan
Project Brief: http://mzl.la/encryption
Repo: http://mzl.la/encryption_issues

[2016-01-08 15:37] OpenMatt commented on #664
GOAL: Reset conversation around “encryption”.  Starting with an initial explainer video and educational CTA launching Jan 28. This includes plans to:

    Deliver a staged roll-out of 5 key deliverables, or ‘beats’ 
    Engage email list of 2m+ users 
    De-mystify encryption and make it a “thing worth caring about” 
    Turn email list subscribers into advocates ready to mobilize 
    AB Test co

[2016-01-08 15:41] OpenMatt commented on #625
@xmatthewx close?

[2016-01-08 15:42] OpenMatt commented on #611
@secretrobotron this ticket is cool. want to move it? re-file?

[2016-01-08 15:42] OpenMatt commented on #553
@gvn should we move this to the next Jan 15 milestone?

[2016-01-08 15:44] OpenMatt commented on #661
@hannahkane P1 or P2? I'll make it a P2 for now, just so it shows up in our lists and doesn't fall through the cracks Please update if that's wrong.

[2016-01-08 15:45] OpenMatt commented on #656
I'll volunteer to PM this if it needs a driver.

[2016-01-08 15:46] secretrobotron opened #665 "Set up a blog for IoT"
GOAL: Stand up a blog so that we can publish casual updates from the IoT project. Serves as a single source of information concerning the project.

* Audience: Small. Any major updates/publications will be raised in the courts of the CommsCouncil™.
* Design: Doesn't need *any* for now beyond picking a cool template.

Needs:
- [ ] URL
- [ ] A ghost blog instance

DARCI:
- Consulted: @secretrobotron

[2016-01-08 15:48] OpenMatt commented on #656
@cadecairos I'd like to start by moving "build.webmaker.org" to "mofo.build" (which I have registered). @simonwex mentioned you'd be able to help with this. Is that something you can start on?

[2016-01-08 15:50] secretrobotron commented on #611
It is, @OpenMatt! I've moved it; easiest way for me to keep it in mind for now.

[2016-01-08 15:50] jgmac1106 commented on #664
Beyond the interactive website that will be built and the cryptography game in the last beat much of this seems consumption based.

People have been asking all over the Web how to install Let's Encrypt. Why not have a "live demo" followed by a 2-day distributed hack-a-thon where we try to get people to use LE.

Not sure of the technical lift. I assume the process will be different based on server/

[2016-01-08 15:52] OpenMatt commented on #664
@jgmac1106 we're still trying to figure out the call to action. But we know we want it to include some aspect of explaining to others / teaching it forward -- so this is a good idea.

[2016-01-08 15:55] secretrobotron commented on #553
Still need a blog for it to sit on. Desperately need that to happen before we leave for Kenya (very, very soon). Think that can still get done in the short term?

[2016-01-08 15:57] OpenMatt commented on #656
I'd also love to get some UX and design help to refresh the page a bit. @xmatthewx I know you have some ideas about UX / product thinking for this. Would you be able to help a bit next week?

[2016-01-08 16:01] OpenMatt commented on #651
adding a priority label so this doesn't fall through the cracks -- not sure if p2 is the right one.

[2016-01-08 16:02] OpenMatt commented on #648
@vazquez any status update on this one?

[2016-01-08 16:03] OpenMatt commented on #664
whoops -- just noticed that this ticket is a dupe! Will close this and work here:
https://github.com/MozillaFoundation/plan/issues/645

[2016-01-08 16:03] #664 closed

[2016-01-08 16:05] OpenMatt commented on #645
This is proceeding full speed ahead, tracked here: http://mzl.la/encryption

[2016-01-08 16:07] OpenMatt commented on #645
removing "needs dev" label, as I don't think there's any developer work needed next week

[2016-01-08 16:17] vazquez commented on #648
We are 90% done. I'm making small tweaks to the colour output at this point. I will be able to deliver the posters to Zannah and Tom from Boston University by today EOD.

[2016-01-08 16:18] gvn commented on #553
I'm still working on squaring away the main page, but I hope to move on to the blog portion this afternoon.

[2016-01-08 16:20] OpenMatt commented on #569
@cadecairos update?

[2016-01-08 16:21] cadecairos commented on #569
@OpenMatt http://www.mofo.build points to the app, but we're going to need SSL for that domain.

@simonwex How should we get that?

[2016-01-08 16:27] edrushka opened #666 "Clarify mandate of convenings team"
MLN has a brand new team: convenings!

Step one is to clarify our mandate and communicate it to MoFos.

[2016-01-08 16:39] gvn commented on #553
@OpenMatt I should have this page done today if there's no further design feedback.

[2016-01-08 16:42] hannahkane commented on #661
Agree. Only put it in this milestone so we would discuss at today's planning meeting, but need input from others about where this fits in.

[2016-01-08 16:42] xmatthewx commented on #625
1.6 beta was released for testing over the holidays. Two tiny fixes remain before we release to the public. Hope to wrap this week/next.

[2016-01-08 16:51] cadecairos commented on #656
@OpenMatt http://mofo.build points to the app, but we're going to need SSL for that domain.

@simonwex How should we get that?

[2016-01-08 17:10] OpenMatt commented on #553
Thanks @gvn. Let us know if you could use an extra set of hands / any help?

(@simonwex , this one is time-sensitive.)

[2016-01-08 17:14] OpenMatt commented on #634
@mmmavis says this may need a design treatment first
* event is Jan 23 -- so may be too rushed
@edrushka will update here w. an alternate proposal

[2016-01-08 17:25] OpenMatt commented on #637
I'd love to track this work...

[2016-01-08 17:26] OpenMatt commented on #632
event happening at Whitehouse Jan 26

[2016-01-08 17:26] OpenMatt commented on #632
@KevZawacki ^ just an fyi

[2016-01-08 17:27] secretrobotron commented on #662
cc myself

[2016-01-08 17:28] OpenMatt commented on #663
Would be nice to have a link or something to share on this in Jan 25 staff meeting

[2016-01-08 17:30] OpenMatt commented on #651
@simonwex over to you for next steps

[2016-01-08 17:31] OpenMatt commented on #627
@stephaniemcv can you give a quick update here?

[2016-01-08 17:32] OpenMatt commented on #627
Just noting there's some time-sensitivity here for @hannahkane and others

[2016-01-08 17:34] edrushka commented on #655
Oopsies. I accidentally duplicated this in #663. Closing this one.

[2016-01-08 17:34] #655 closed

[2016-01-08 17:44] gvn commented on #553
I'm good w. the page build. If anyone wants to pitch in with propping up a Ghost blog that's very welcome.

[2016-01-08 17:46] edrushka commented on #634
@omnignorant - without a design treatment it would be MozFest branded. Have you considered Sched? @Saallen and I looked into this for MozFest (and it's used for our coincidental workweeks).

[2016-01-08 17:49] OpenMatt commented on #652
+ Jessie Keating

[2016-01-08 18:00] stephaniemcv commented on #627
I'm working on an audit of the Foundation's emails past performance, as well as locating/reaching out to stakeholders to get a schedule of type and time of emails, and audience sizes for emails we're sending out in 2016. This will help us put together a production schedule for content and QA.

MoCo and I are still working on some ET account issues, as well as finding the audiences and getting them

[2016-01-08 18:01] secretrobotron commented on #553
Thanks @gvn. @cadecairos is stepping in to get a Ghost blog up inside our infra.

[2016-01-08 18:26] cadecairos commented on #553
I've deployed https://mozilla-foundation-research.herokuapp.com/ using https://github.com/cobyism/ghost-on-heroku

To update the theme we can clone it locally `heroku git:clone --app mozilla-foundation-research` and modify the content directory, then push it back to the app.

[2016-01-08 18:29] cadecairos commented on #553
Also, if we ever want to bump the Ghost version, there's instructions here: https://github.com/cobyism/ghost-on-heroku#updating - but it might be better to do it manually, depending on conflicts http://support.ghost.org/how-to-upgrade/

[2016-01-08 18:47] xmatthewx commented on #634
Design shouldn't be a blocker. It is minimal. I can swap the logo and adjust the styles. But, without a committed engineer to lead this, the timeline is very tight.

[2016-01-08 19:15] edrushka commented on #634
@simonwex - any dev availability?

[2016-01-08 19:36] secretrobotron commented on #553
Considering the move away from build.webmaker.org, and the fact that doing some sort of redirect from build.webmaker.org/research will be hard, it might be best to host the blog on research.webmaker.org until we have a better grasp on https://github.com/MozillaFoundation/plan/issues/661.

@davidascher @hannahkane: what do you think? Any wiser ideas? @LauraReynal and I can dream up a simple .org do

[2016-01-08 19:38] cadecairos commented on #553
We might as well wait until we have a final choice for a domain name, and use the heroku domain.

[2016-01-08 19:52] gvn commented on #553
Code is ready to deploy once we determine our target for production. It can be pulled verbatim from my gh-pages branch. No special backend setup is needed because it's all static web assets:

https://github.com/gvn/research-website/tree/gh-pages

[2016-01-08 20:29] hannahkane commented on #553
+1 on @cadecairos's point—I'm not sure what the immediate need is, but could it be solved by just using the mzl.la link shortener to make a pretty link that points to heroku?

[2016-01-08 20:37] cassiemc commented on #634
I talked to @vazquez yesterday and he is also available to advise on UI.

[2016-01-08 20:54] cassiemc commented on #663
@OpenMatt shouldn't be a problem, our aim was to send this out by end of next week, and we can use the 25th meeting as a reminder. Thanks!

[2016-01-08 21:02] flukeout commented on #637
@OpenMatt Let me know what you need to know/have access to to track it.

[2016-01-08 21:20] cassiemc commented on #656
@OpenMatt If @xmatthewx is unable to help, I can. So going to remove ```needs design```

[2016-01-08 21:23] cassiemc commented on #660
@ldecoursy This should definitely be doable. Let me catch up with the designers on Monday at our regular triage call and I'll see who can help.

[2016-01-08 21:29] cassiemc commented on #660
@ledecoursy It might be helpful in the meantime to know your ideal scope. Wonder if you wouldn't mind finding out a design brief – http://bit.ly/mozdesignbrief – and I'll schedule a follow call with you+me on Monday as well.

[2016-01-08 22:19] hannahkane commented on #661
Drafted a proposal. Needs input. https://docs.google.com/a/mozilla.com/document/d/1A7o2wnQBBOKnVqIUvXDS9UHspBFSSbLSSkp0Na2ics4/edit?usp=sharing

[2016-01-09 00:12] edrushka commented on #663
I had a convo with @davidascher about this survey and he shared some really great insights and suggestions. Would love to discuss those with the group before we send this out.

[2016-01-09 16:02] secretrobotron commented on #553
@hannahkane @cadecairos ok, we'll go with that for now. Happy to be part of the wider conversation.

[2016-01-09 16:31] secretrobotron commented on #553
@gvn can we move your code over to the MozillaFoundation org?

[2016-01-09 18:15] secretrobotron commented on #553
Looks awesome: https://mozilla-foundation-research.herokuapp.com/globalweb/

[2016-01-09 18:42] jessiekeating commented on #553
This is gorgeous and so great to have all this info in one place! Photos by Laura are stunning.

Jessie Keating
Fundraising Associate, Institutional Grant Writer
Mozilla Foundation
Jessie@Mozillafoundation.org
Skype: Jessie.KeatingNY

[2016-01-09 19:43] davidascher commented on #553
I think something's not quite right w/ the bold fonts on Chrome Canary:
<img width="1003" alt="screenshot 2016-01-09 11 41 33" src="https://cloud.githubusercontent.com/assets/51278/12217988/398e4b9c-b6c6-11e5-9869-289595e62718.png">

[2016-01-09 19:44] davidascher commented on #553
This is due to a cross-origin restriction in Chrome Canary I think:

<img width="490" alt="screenshot 2016-01-09 11 44 18" src="https://cloud.githubusercontent.com/assets/51278/12217997/5c8e64c4-b6c6-11e5-9c78-bdee0400cbc7.png">

[2016-01-10 18:22] secretrobotron commented on #553
@davidascher That's pretty weird. I don't see what you're seeing yet though. What's in your URL bar?

[2016-01-10 18:49] davidascher commented on #553
Note this is only with the Canary version of Chrome (i.e. their nightly
build).

On Sun, Jan 10, 2016 at 10:22 AM Bobby Richter <notifications@github.com>
wrote:

[2016-01-10 19:07] secretrobotron commented on #553
Indeed, that's where I tried it. Lemme try another machine entirely.

[2016-01-10 19:39] secretrobotron commented on #553
Ah, found it. Looks like it might be a bit of a Canary problem, but I fixed the font weight at 600 for those, and it... looks fine.

[2016-01-10 20:55] davidascher commented on #553
That's weird (font weight tweak getting around a origin restriction).  But
whatever =)

On Sun, Jan 10, 2016 at 11:39 AM Bobby Richter <notifications@github.com>
wrote:

[2016-01-11 11:32] adamlofting commented on #659
I'm back! Looking forward to digging in on this.

[2016-01-11 14:12] vazquez commented on #648
Files have been handed over :cow: :star:

[2016-01-11 14:13] #648 closed

[2016-01-11 14:37] cassiemc commented on #648
@vazquez Would be good to post final files – end result and source folder – here (or somewhere!)

[2016-01-11 15:17] vazquez commented on #648
Source folder available in Google Drive on the Design Repo: https://drive.google.com/open?id=0ByIoeeW0a3R_MmFIMU9MczMwUVE

#### 8.5" x 11" Flyer

![bu-flyer copy](https://cloud.githubusercontent.com/assets/1119821/12237062/ddf99c24-b84a-11e5-8dc6-96cb15e244d7.png)

---

#### 11" x 17" Bus Ad

![bu-bus copy](https://cloud.githubusercontent.com/assets/1119821/12237354/4084a400-b84c-11e5-881e-a7bf631

[2016-01-11 16:00] OpenMatt commented on #659
### Specific deliverables needed by Feb board meeting
- [ ] x
- [ ] y
- [ ] z

#### Deliverable for this week:
@adamlofting will update this ticket and have a one-page brief by Jan 15

[2016-01-11 16:02] OpenMatt commented on #659
@adamlofting feels to me like the best next step is to make sure that we turn our various conversations about this thread into a crystal clear deliverables list that the Executive Team can sign off. Can you commit to producing a one-page brief that includes that by Friday? Sound reasonable? I assume it can bake in some of the specific work you're doing w. Advocacy around Encryption as a test-bed c

[2016-01-11 16:02] OpenMatt commented on #659
### Notes and context
* @bhuvanshri is researching existing "web health" indices. (But this work may not be far enough along by board meeting.)
* Kaitlin / MLN is contracting some of the people that informed the thinking behind Network Strength
* Knight is also doing something here (@adamlofting will follow up)

[2016-01-11 16:48] edrushka commented on #634
@davidascher - is there any dev availability for this?

[2016-01-11 17:44] xmatthewx commented on #661
kudos to you @hannahkane for tackling this spaghetti monster. Added a few comments.

[2016-01-11 17:51] adamlofting commented on #659
Thanks for the notes @OpenMatt

:+1: Agreed re deliverables document by Friday.

Kaitlin is talking to Network Impact about network health evaluation for MSL, and OpenNews are also talking to Network Impact via Knight in their current evaluation project. Seperately to that, Knight have previously worked with Network Impact (not Mozilla).

[2016-01-11 20:01] davidascher commented on #634
@simonwex can answer this, not me.

On Mon, Jan 11, 2016 at 8:48 AM Erika Drushka <notifications@github.com>
wrote:

[2016-01-11 20:05] simonwex commented on #634
In transit right now, will figure this one out this eve
On Jan 11, 2016 12:01 PM, "David Ascher" <notifications@github.com> wrote:

[2016-01-12 15:44] simonwex commented on #634
Between PTO and other projects, there is no one available to do this. @edrushka, @omnignorant, it's flagged as a P2, is that appropriate?

The bug also hints at new features, but isn't clear about the requirements. What's the basic task here to provide a schedule app for next week? If it's just about deploying it, I can make it happen.

[2016-01-12 15:54] ScottDowne commented on #634
Talked to Wex, and I think the timing for the advocacy changes might mean I can fit this in from now until Friday.

[2016-01-12 16:05] xmatthewx commented on #634
Great. Thanks @ScottDowne.

### Proposal

Schedule a meeting with @ScottDowne @omnignorant and @edrushka or me.

Determine if we can:
 1. Provide an app that serves the event well ...AND...
 1. Use this as an opportunity to make incremental improvements to the app and how we deploy it.

If we can't answer YES to both, then we should probably skip this and apply our energy elsewhere.

[2016-01-12 16:30] ScottDowne commented on #634
@xmatthewx works for me.

I'll start by setting everything up to get a feel for it, while we figure out the specifics for what I'll be doing :D

[2016-01-12 17:59] hannahkane commented on #661
Thanks, @xmatthewx.

I think this still needs feedback from several other people.  @davidascher - who is the Decider for this? Is it you?

[2016-01-12 17:59] hannahkane commented on #642
@simonwex - do we have anyone who can start working on this in this heartbeat or an upcoming one?

[2016-01-12 18:07] hannahkane commented on #635
The new template is finalized, and we have a Thimble version. The next step is to test it out with some of our curriculum. Relevant ticket is here: https://github.com/mozilla/teach.mozilla.org/issues/1538

[2016-01-12 18:08] hannahkane commented on #632
This is done.

[2016-01-12 18:08] #632 closed

[2016-01-12 18:08] hannahkane commented on #561
RRA is now scheduled for the 15th, I believe, so this is still blocked. Moving to next heartbeat.

[2016-01-12 18:09] hannahkane commented on #554
RRA is now happening on the 15th, so moving this to the next heartbeat.

[2016-01-12 18:09] hannahkane commented on #534
@simonwex - do you have an update on this?

[2016-01-12 18:11] cassiemc commented on #661
@hannahkane I'm planning to look & comment this afternoon

[2016-01-12 18:28] davidascher commented on #661
In terms of 'deciding', I suggest:

a) iterating w/ the comms council.  IA & websites are critically communication tools
b) when there's agreement and really need to decide whether to implement, I suggest a presentation to the executive team, as all are involved.

-da

[2016-01-12 18:49] hannahkane commented on #661
Sounds like a good plan.  Who can I assign this ticket to?

[2016-01-12 18:49] edrushka commented on #634
@ScottDowne Thanks for volunteering!!  I booked a call for us tomorrow to discuss.

[2016-01-12 18:55] cassiemc commented on #661
@hannahkane You can assign this to me but I don't see the whole conversation / approval process wrapping up by end of week. Still working on #644

[2016-01-12 19:12] simonwex opened #667 "Set up Mattermost instance and modify for basic MoFo needs"
Our plethora of IRC channels are mislabeled for our 2016 efforts. Instead of continuing with a technology that is often cited as being unwelcoming and antiquated, let’s replace it with an open-source alternative to Slack.

An example of why we want to move away from IRC and to a different real time communication environment https://make.wordpress.org/chat/

Driver: @simonwex
Dev: @alanmoo
DevOps:

[2016-01-12 20:16] vazquez commented on #634
@edrushka Can you add me to the call tomorrow? There might be the need for design tweaks.

[2016-01-12 20:28] cassiemc commented on #644
I'd like a better name for this plan. 'Templatization and branding' seem to encapsulate sub-parts of this plan, but not the macro vision. And I'd like to remove the 'branding' from the name, since it's a bit loaded.

Ideas that come to mind are...
* cleaning house
* telling our story
* synthesis, structure & tooling

These all kind of suck. :)

@OpenMatt @davidascher @hannahkane @HPaulJohnson @chr

[2016-01-12 20:40] edrushka commented on #634
@vazquez absolutely!

[2016-01-12 21:10] cassiemc commented on #644
Settling on the ```betterfaster``` label for now until I hear any better ideas.

[2016-01-12 21:12] cassiemc commented on #662
On design side, would be great to include @flukeout @vazquez @natalieworth @ScottDowne @gvn or some subset of this group. Want to make sure we don't get roped into prohibitive design solutions, where making design changes is overly difficult, and would also suggest that one criteria for assessment is the solution's portability to other platforms should we choose to change CMSs later down the road.

[2016-01-12 21:13] cassiemc commented on #662
+ @cadecairos

[2016-01-12 22:17] hannahkane commented on #644
I'm not 100% clear on the business reason for linking all of these pieces together, so I don't have a good naming suggestion. (I do think they are all things that make us "betterfaster," though, so that works for me.)

Once all of the different pieces are ticketed, I'm not sure I understand the value of keeping this parent ticket open. It doesn't feel like a single project that needs to be driven

[2016-01-12 22:33] gvn commented on #662
I don't want to be a buzzkill, but it's really not possible to have a CMS without any limitations on design. That's the nature of the beast. If we do go down the CMS road we have to create fairly rigid templates. You're never going to get the level of control over design with a CMS that you would with hand coding.

It's also sadly never going to be trivial to change out a CMS down the road. Every

[2016-01-12 23:07] ScottDowne commented on #662
I think I agree with @gvn about design limitations.

My limited understanding of a traditional CMS is that it's not publishing webpages, but filling a webpage, or template, with content.

The act of adding style to that content is totally not what a CMS is really optimised to do, and from from my experience a CMS actually makes that harder. Doing design work in a CMS is making a new template, whic

[2016-01-12 23:13] ScottDowne commented on #662
So talking with other people right now, and something Abby has experience, that we can use a CMS as a content back end/admin interface, but we have a front end that is separate from that.

In would probably work well.

[2016-01-12 23:34] cassiemc commented on #644
My rationale for looking at these things holistically is a design one – we can design better solutions if we understand all the different needs upfront and design deliberately where there are connections and overlaps. Business/team-wise, the objectives are, I believe, 3-fold:

1. Streamline our presence online through variables like URLs, branding and frontend styling so that our programs and offe

[2016-01-12 23:41] hannahkane commented on #644
All makes sense to me. Thanks for explaining.

[2016-01-12 23:56] gvn commented on #662
To more specifically address the 4 areas in question:

A CMS is not great for this purpose. I'd suggest a lightweight templating language that's easy to perform copy edits (such as [Jade](https://github.com/mozilla/research-website/blob/develop/source/index.jade)) or using markdown to be transformed into HTML. We should do more research into static site generators for this purpose (eg: Jekyll, Win

[2016-01-13 01:05] mmmavis commented on #662
+1 on what @gvn said! :grin:  I'm also wondering if we have specs for the Clubs site  that can be shared here. Even if it's still in the draft state it can still help us determine whether CMS can be a good approach.

I haven't started doing any research yet so I can only speak from my experience with WordPress. Even if we are going with a hybrid solution (using CMS for admin interface only) I'm wo

[2016-01-13 03:12] gvn commented on #662
If anything, we should look at CMS's that are decoupled from the presentation layer, which is I believe what @simonwex is advocating. If the managed content is unaware of its destination container (eg content is served via a REST API) then that's much cleaner than editing content "in place". When styling and content management are conflated it's a world of pain.

I'm not convinced we can find a on

[2016-01-13 19:44] edrushka commented on #634
Update: I've assembled a crack team including @omnignorant @vazquez @ScottDowne and @xmatthewx to work on this :zap: :zap: :zap:

#### Goals:
- stand up a version for Hive Chicago Buzz
- optimize the app for future events (e.g. explore who could set up a theme directory. Chicago Hive content, styles, configurations (incl spaces or tracks?) would be added there.)
- continue collecting prototyping a

[2016-01-13 19:54] omnignorant commented on #634
@edrushka thanks for loading the bases, now let's hit a grand slam! (oh, man, I'm really not comfortable with sports analogies).

[2016-01-13 21:16] alanmoo commented on #667
@simonwex I've added some high level stuff, how specific should this be?

[2016-01-13 21:53] HPaulJohnson commented on #470
@simonwex - hate to do this but can we reopen this issue and attempt to regain access to this account? The upcoming encryption campaign is heavy on video content and this has become a more urgent need.

cc: @OpenMatt @brettgaylor

[2016-01-13 23:34] hannahkane commented on #640
After conversation with @amirad, @carotejada, @mmmavis and @sabrinang, we've defined many of the requirements for the Clubs Portal.

### Requirements ###
 * localizable
 * some content needs to be updated by staff members regularly—i.e. links to new resources
 * granular permissions
 * allows for the following features:
  * interactive map of existing Clubs
  * Club profiles (individual pages main

[2016-01-13 23:36] hannahkane commented on #640
@simonwex - is the above content enough information for a developer to begin evaluating the Reps Portal as a possible solution to the Clubs Portal?

[2016-01-14 00:24] hannahkane commented on #639
I think we have more clarity on this, via the [project brief](https://docs.google.com/document/d/1LiAVKY_79Nl-9IuaeR4XRSweSuq9izQY3nHiWRQdHqA/edit#). Content continues to be developed, but I think we can close this ticket.

[2016-01-14 00:24] #639 closed

[2016-01-14 10:33] adamlofting commented on #433
Well, this was certainly a painful ticket :see_no_evil:

Similar requirements still exist, but I'm not sure this ticket is helpful right now.

[2016-01-14 10:33] #433 closed

[2016-01-14 11:36] #553 closed

[2016-01-14 16:37] ScottDowne opened #668 "Solve for bugzilla security bug"
it's locked because it's sensitive. I have added @adamlofting to the cc so he can see it. I suspect he probably knows the most about fixing it.

https://bugzilla.mozilla.org/show_bug.cgi?id=1172325

Not sure what to do with it.

More info in the bug itself. Given that it's locked, and github is not, I'm not talking details in here.

[2016-01-14 16:37] hannahkane commented on #637
Actually, since this ticket is about preparing the research, I'm going to say we've done it. Research is in progress. Tickets for next steps to come.

[2016-01-14 16:37] #637 closed

[2016-01-14 16:39] hannahkane commented on #635
I think we'll have to roll this to the next heartbeat to finish testing out the new template.

[2016-01-14 17:20] hannahkane commented on #642
This is not happening this heartbeat, so moving to the next. Conversation scheduled to talk about resourcing upcoming MLN engineering needs, including this one.

[2016-01-14 17:39] xmatthewx opened #669 "User Account Risk Management"
Review recommendations as described in security assessment https://bugzilla.mozilla.org/show_bug.cgi?id=1239499 (locked).

Impacts: uses of teach, goggles, webmaker, thimble.

### RACI
Driver: @simonwex
Dev: @jbuck @cadecairos

[2016-01-14 18:37] xmatthewx commented on #625
Fixes done. New beta released and is testing well. We will gradually release to the public next week.

[2016-01-14 18:37] #625 closed

[2016-01-14 18:39] xmatthewx commented on #634
Extending to the next milestone. Reassigning to @edrushka's capable hands.

[2016-01-14 20:05] cassiemc commented on #641
We've made good progress on this front this heartbeat, and are planning to add the advocacy.mozilla.org homepage to this scope. The plan is to finalize the designs for open web fellows next week. Any structure to the site will be finalized by early next week so @ScottDowne can begin building. Redpens by @kristinashu so far are here: https://redpen.io/p/wt1d64bfb93fa6a6b8

[2016-01-14 20:27] cassiemc commented on #663
@edrushka and I chatted and decided to try and rewrite the survey a bit. I'll share it at @davidascher's staff call next week for some feedback, and we can decide later as a team if/when to send it out. Postponing to next heartbeat.

[2016-01-14 20:29] simonwex opened #670 "Develop plan and take initial steps to localize Thimble"
Create plan and begin l10n of thimble.

### DARCI ###
Driver: @simonwex
Accountable: @simonwex
Responsible: @gideonthomas
Consulted: @humphd, @alicoding
Dev: @alanmoo, @gideonthomas
Design: @flukeout

Meta bug in Thimble project: https://github.com/mozilla/thimble.webmaker.org/issues/1318

Related: https://github.com/mozilla/thimble.webmaker.org/issues/475

[2016-01-14 20:42] simonwex opened #671 "Thimble: Erase P1 technical debt and prepare for l10n"
https://github.com/mozilla/thimble.webmaker.org/milestones/Jan%2029%20Heartbeat%20-%20Erase%20Technical%20Debt

### DARCI ###
Driver: @simonwex
Accountable: @simonwex
Responsible: @gideonthomas
Consulted: @humphd

Dev: @cadecairos, @gideonthomas
Design: No significant design resources required

[2016-01-14 20:55] simonwex commented on #667
This is a great start. What do you think we should do for existing channels? Leave a bot behind? Change the topic?

[2016-01-14 21:05] alanmoo commented on #667
Yeah, both. I played around with the bridge today and it's...ok. Since everything is repeated by one bot, following a conversation between IRC and Mattermost users can be a little odd, but if we get a critical mass of people switching over I think it'll be an infrequent enough use case that it won't be confusing.

[2016-01-14 21:09] Pomax commented on #534
We got an email update from souktel on this, it sounds like they're close to having a heroku deploy almost ready to go for online testing by us.

[2016-01-14 23:11] hannahkane commented on #534
hooray! cc @anmechung @chrislarry33

[2016-01-14 23:57] hannahkane commented on #642
Removing this from any milestone; pending conversation about engineering resources

[2016-01-15 00:02] hannahkane opened #672 "Summarize results of curriculum research"
We'll finish up the interviews we're doing with educators around finding and evaluating teaching materials, and distill the findings in a useful way. We'll also iterate on the decks we have in order to present one or two proposals for what we might build.

Relevant tickets:
 - [x] [summarize findings](https://github.com/mozilla/teach.mozilla.org/issues/1546)
 - [ ] <s>[create deck](https://github.

[2016-01-15 15:44] cassiemc opened #673 "Cassie needs cookies"
Cassie is very hungry

### Audience
Cassie

### Success
A full tummy

### Vision
Something with chocolate chips

### Measurement
Enough to share with everyone.

### Roles
 * Phase:
 * Driver: @cassiemc
 * Decision Maker: @cassiemc
 * Design Lead:
 * Development Lead:
 * Quality Verifier:

[2016-01-15 15:47] ldecoursy opened #674 "Determine next steps for Discourse (TOS, URL, etc.)"
It was brought to our attention that the MLN Discourse forum needs a customized TOS. See https://discourse.webmaker.org/t/editing-of-terms-of-service/445

I reached out to legal and it turns out a legal review has been underway on behalf of Advocacy, but is stalled. I'm hoping to pick it back up and look at this more holistically vs on a case-by-case basis.

Also would like to address updating the

[2016-01-15 15:48] ryanw-se commented on #673
:cookie: :cookie: :cookie:

[2016-01-15 15:51] cassiemc opened #675 "Cassie needs more cookies"
I'm going to need a recipe from @vazquez
I'm going to need some oven mitts from @simonwex

[2016-01-15 15:51] simonwex opened #676 "Simon needs milk for cookie dipping"
Related to #675 -- we need to enjoy our cookies!

[2016-01-15 15:52] vazquez commented on #675
I have a great family recipe!

[2016-01-15 15:52] simonwex commented on #675
srsly y'all :+1:

[2016-01-15 15:52] simonwex commented on #676
:camel: :cactus: It's dry up in here, need milk!

[2016-01-15 15:53] metaphorista commented on #675
These are the bomb  -- and guilt free --
http://www.theburlapbag.com/2012/07/2-ingredient-cookies-plus-the-mix-ins-of-your-choice/

[2016-01-15 15:54] gideonthomas commented on #675
![giphy](https://cloud.githubusercontent.com/assets/5816130/12357539/615bf980-bb76-11e5-9184-8eb46c2561e9.gif)

[2016-01-15 15:56] #426 closed

[2016-01-15 15:56] cassiemc commented on #675
@metaphorista Yum yum!

[2016-01-15 15:56] #290 closed

[2016-01-15 15:58] ldecoursy opened #677 "Clarify teams, DARCI and next steps towards MLN Q1 deliverables"
Working with @chrislarry33 on the next phase of MLN roadmapping, to include identifying teams/DARCI and Q1 priorities towards our H1 deliverables.

Draft plan coming soon for feedback.

[2016-01-15 16:00] cassiemc commented on #673
Got 'em. Nom nom.

[2016-01-15 16:00] #673 closed

[2016-01-15 16:12] simonwex commented on #676
This was for github demo session, closing!

[2016-01-15 16:12] #676 closed

[2016-01-15 16:20] simonwex commented on #651
@ScottDowne has made progress on a bunch of leftover tasks. The rest will be worked on during the next campaign if they're still valid.

[2016-01-15 16:20] #651 closed

[2016-01-15 16:21] simonwex commented on #534
Moving to next HB, I believe we'll close and open a user-acceptance issue shortly.

[2016-01-15 16:28] simonwex commented on #631
This continued to be blocked by #554 which was a P2 in the following HB. I've bumped #554 to P1 and am moving this to next milestone.

[2016-01-15 16:29] cassiemc commented on #644
I've met with quite a few stakeholders to round out the Better Faster plan, noting issues that are happening or that need to happen across lots of different projects. Some excellent work has emerged from these conversations already, such as filling out the Comms inventory, exploring tech solutions, and moving quite rapidly on this front on MLN initiatives. We've even got @acabunoc looking ahead wi

[2016-01-15 16:29] #644 closed

[2016-01-15 16:30] simonwex commented on #665
Hey @secretrobotron! I'm going to be doing this one. Do you have a URL you'd like it to live at?

[2016-01-15 16:32] cassiemc commented on #660
@ldecoursy and I met earlier this week and scoped out some requirements: https://docs.google.com/spreadsheets/d/1X6AhlnutTL6M3xMZ-8DSIU0AI8166pz4YlXY4DODUm4/edit#gid=0

This doesn't need to be done quite yet, so I am going to push this out a heartbeat.

[2016-01-15 16:33] simonwex commented on #645
@OpenMatt does ^ this statement still stand? I think you may have forgotten to actually remove the label. LMK if we're good on dev resources here.

[2016-01-15 16:42] edrushka commented on #666
Work is happening on this but it's not done. Moving to next milestone.

[2016-01-15 16:44] #346 closed

[2016-01-15 16:50] simonwex commented on #525
@xmatthewx could we re-write this ticket for the HB deliverable?

[2016-01-15 16:52] cassiemc opened #678 "Finish Communications inventory"
Finish Communications inventory, begun here: https://docs.google.com/spreadsheets/d/1fRMLFGTBmri_ftBjbwJQDG4MUitIUuEkO20S-XPEdI8/edit#gid=0

[2016-01-15 16:53] simonwex commented on #669
Meeting scheduled for when @jbuck is back. In this HB, we'll synthesize the recommendations into work to be completed in a follow-on HB.

[2016-01-15 16:54] zee-moz opened #679 "Visual/Design Resources for MSL's Working Open Workshop"
At MSL we're planning for a series of upcoming workshops about Working Open for scientists, researchers, and study group leads.

Here is our Working Open Workshop (WOW!) [planning repo](https://github.com/mozillascience/working-open-workshop) and [roadmap](https://github.com/mozillascience/working-open-workshop/blob/master/roadmap.md).

We'd like help on the following (understanding we likely won'

[2016-01-15 16:56] cassiemc opened #680 "Look at stats & gain better holistic understanding our audiences"
This is an important part of the research phase of the ```betterfaster``` plan. The overall objective is to have a better holistic understanding of our audiences (users) and our stakeholders. Potential results of this issue might be a

* Survey / staff questionnaire
*Note:* Let’s figure out if/how we want to do this. Seems like there are a lot of surveys in the works right now, and don’t want to c

[2016-01-15 16:56] cassiemc opened #681 "Complete Mofo Design audit"
This task includes:
- [x] Finishing Mofo Branding Audit: https://github.com/MozillaFoundation/Design/issues/94

This includes:
- [x] a visual slide deck of the audit
- [ ] identifying audiences
- [ ] working with IA exercise to mesh proposals #661

Part 2 will include: Looking at stats & better understanding our audiences. https://github.com/MozillaFoundation/plan/issues/680

[2016-01-15 16:57] edrushka opened #682 "[Jan 22-23] Run Hive Chicago Buzz"
[Hive Chicago Buzz] (http://www.hivechicagobuzz.org/) is Mofo's 3rd largest annual, public event. Now in its second year, the event is MozFest-inspired hack day with local participants.

#### Goal
The goal of HCB is to create an environment where participants can activate and co-create solutions to transform the learning landscape with Chicago educators and youth.

#### DARCI
    Decider - Sam

[2016-01-15 16:58] OpenMatt commented on #652
Going to schedule a kick-off meeting this week w. Angela

[2016-01-15 16:58] OpenMatt commented on #656
work is ongoing

[2016-01-15 16:58] simonwex commented on #670
@cassiemc we need some help with design here for the language-picker UI/UX. – I don't think it's a lot of work.

[2016-01-15 16:59] cassiemc opened #683 "Look at needs for upcoming events & figure out template plan"
Let's look at upcoming events and figure out if/how we can templatize some of the design or programmatic needs. ie.
* Mozfest
* SourceCon
* Hive Buzz
* Club meetups
cc @edrushka

[2016-01-15 17:07] omnignorant commented on #682
:heart_eyes: Thanks for posting here @edrushka :+1:

[2016-01-15 17:10] xmatthewx commented on #525
Yes. That's a great idea. I'll probably close this monster and open a new one in collab with @hannahkane

[2016-01-15 17:13] cassiemc opened #684 "Identify shared email needs. Collect or design some base templates."
We have designed a bunch of email templates over the past year. It would be great to be more strategic about who / what the different layouts are for, and design some templates for those use cases. So that we don't have to design a new template for every campaign, product launch, event, etc.

@adamlofting mentioned @stephaniemcv will be taking over the CRM and could probably be a big help here.

F

[2016-01-15 17:16] edrushka commented on #677
I'm tracking my work here: #666 (ohh nice ticket number!)

[2016-01-15 17:22] cassiemc opened #685 "Collect & share learnings from all design audits"
There are currently three design audits I'm aware of (Moco, Mofo, Teach), and this issue is about either completing those tasks or in the case of Moco, getting an update. In this process we will figure out how to share learnings from these audits and begin applying them across projects.

- [x] MVP Teach site style guide – https://github.com/mozilla/teach.mozilla.org/issues/1483 @sabrinang owns
- [

[2016-01-15 17:23] cassiemc opened #686 "Streamline footer designs"
Some design audit of footers across our web properties has already been happening in https://github.com/MozillaFoundation/Design/issues/42

In this issue we can take that a step further and implement some strategic changes. As part of this task we will need to identify which sites are in scope.

[2016-01-15 17:25] cassiemc opened #687 "Identify shared needs for blogs"
We can audit the existing blogs, find out what new ones need to be created, and generally get a better understanding of what is desired of Mofo's blogging platforms.

Related to https://github.com/MozillaFoundation/plan/issues/662

[2016-01-15 17:25] cassiemc commented on #687
Note: There is a plan in the works from Jascha for having a Medium-like platform for Mozilla & contributors. @HPaulJohnson and @adamlofting might know more about that.

[2016-01-15 17:26] OpenMatt commented on #525
@hannahkane is interested in this.

[2016-01-15 17:28] cassiemc commented on #683
Some shared needs might be:
* website
* schedule app
* swag (we should get more specific here)
   * name badges
   * printed guides
   * etc

And can determine which need/should be bespoke, and how to make spinning them up faster.

[2016-01-15 17:31] hannahkane commented on #141
Removing from Jan 15 milestone, since that's nearly over.

[2016-01-15 17:31] OpenMatt commented on #674
cc @simonwex @davidascher

[2016-01-15 17:31] cassiemc commented on #679
First event happening end of the first week of Feb in Berlin (the 5th?), but content for spot illustrations likely won't be ready by then. Is that right @zee-moz?

[2016-01-15 17:31] edrushka commented on #683
YES! Can we wait until I get back from Chicago? I'll have a much better handle on things by then. cc @Saallen

[2016-01-15 17:32] OpenMatt commented on #674
* @cadecairos might be able to move / re-direct the URL in the short term (@simonwex?)
* the larger issues will need more work and discussion

[2016-01-15 17:35] cassiemc commented on #661
Needs a dev for some consulting, could be you @simonwex? Will also need a designer to drive some of this visualization.

[2016-01-15 17:40] cassiemc opened #688 "Streamline materials for funders, partners, community"
This may be way too meta a bug, or too far down the line, but this did come up in the ```betterfaster``` planning.

Is there a way we can streamline materials we use for partners, funders, and/or materials? Would need to identify shared needs, where we need to be bespoke and where we can templatize our messaging, any design (slides, one-pagers, reports, pdfs), processes, etc. The CRM could potenti

[2016-01-15 17:42] cassiemc opened #689 "Streamline how we sunset"
Every sunset is gloriously different, but maybe it shouldn't be in Mofo-land.

Are there common tasks / pages / language / processes that need doing when we end-of-life something we've made, that probably still has users?

[2016-01-15 17:44] cassiemc commented on #644
Issues from the planning doc have been filed here: https://github.com/MozillaFoundation/plan/labels/betterfaster

If anything is missing, please file it! I'll continue to triage that list.

[2016-01-15 17:46] OpenMatt commented on #645
yep, we're good!

On Fri, Jan 15, 2016 at 11:33 AM, Simon Wex <notifications@github.com>
wrote:

[2016-01-15 17:46] cassiemc opened #690 "Streamline shared needs for MLN initiatives"
This is a meta bug tracking:

- [ ] Theme for MLN initiatives: https://github.com/MozillaFoundation/plan/issues/643
- [ ] Gigabit redesign: https://github.com/MozillaFoundation/plan/issues/638
- [ ] Possible hive event sites or pages (related: https://github.com/MozillaFoundation/plan/issues/683)

Objective here will be to identify needs and design a series of templates and tech solutions that wor

[2016-01-15 17:47] cassiemc commented on #661
Assigning @sabrinang for design.

[2016-01-15 17:53] zee-moz commented on #679
Workshop is Feb 6 & 7th.

We know [generally the content](https://github.com/mozillascience/working-open-workshop/blob/master/wow-schedule.md)-- building community, introducing your project to collaborators, roadmapping, codes of conduct, holding events etc. And we'll have more specific content by Jan 22. So if know the topic is roadmapping, could some sort evocative of illustration be created for

[2016-01-15 17:56] cassiemc commented on #670
If it's okay with @hannahkane, it makes much sense for @flukeout to help.

[2016-01-15 17:59] cassiemc commented on #141
@natalieworth can we repurpose what you did for EOY stripe interface? Just needs to be a simple mozilla logo we can add to our Foundation profile page.

[2016-01-15 17:59] cassiemc commented on #683
Yes absolutely. No rush!

[2016-01-15 18:02] edrushka commented on #683
I'm going to assign myself for now so I remember to book the MozFest chat at the beginning of Feb. I think @lovegushwa and @natalieworth will have some good input on this. @KevZawacki too.

[2016-01-15 18:35] hannahkane commented on #670
yup

[2016-01-15 18:46] simonwex commented on #670
Perfect. Thanks, Cassie!
On Jan 15, 2016 12:56 PM, "Cassie McDaniel" <notifications@github.com>
wrote:

[2016-01-15 18:51] simonwex commented on #661
Happy to be the consulted dev on this one.
On Jan 15, 2016 12:47 PM, "Cassie McDaniel" <notifications@github.com>
wrote:

[2016-01-15 18:51] flukeout commented on #670
Good stuff, I'll get on it.

[2016-01-15 18:54] simonwex commented on #674
Once we have the updated tos from Abigail, I can coordinate with Yousef to get this updated. No need to assign @cadecairos

[2016-01-15 19:08] mmmavis commented on #662
Before we start building the prototype, I think it will help a lot if we could go through the site specs with non-dev site admins. It's important for the devs to understand how admins' expectations of our CMS solution are and for them, to understand the techical/editing constrains. If we don't do well in the communication process there will be pain on both ends afterwards. :sob:

[2016-01-15 20:50] cassiemc opened #691 "Provide list of Mofo-owned URLs"
@simonwex and I spoke about pulling a list of existing urls that we own that we can compare against the Comms Inventory #678. Simon can you do this early next week?

cc @ldecoursy

[2016-01-15 20:52] cassiemc commented on #679
Thanks for more info here @zee-moz. I'll bring this up at design triage on Monday afternoon and see who might have cycles for it, if not this heartbeat then the next.

[2016-01-15 20:54] cassiemc commented on #679
@zee-moz I'm going to assign this one to you for now. Will keep you posted on available resources!

[2016-01-15 20:55] cassiemc commented on #661
Thanks Simon!

[2016-01-15 21:31] xmatthewx opened #692 "Build age gate for user accounts"
Build an age verification feature for new sign-ups on MoFo sites and tools to comply with COPPA.

Goal of this heartbeat:
 - complete design for id.webmaker.org
 - identify devs who will implement next heartbeat

## DACI

Driver: @xmatthewx
Decision: @simonwex
Design:
Dev:
Consulted: @hannahkane
Services:

Impacts: All MoFo sites and tools that utilize webmaker login

Tasks
 - [x] design for app

[2016-01-15 21:31] xmatthewx commented on #525
tracking in new ticket: https://github.com/MozillaFoundation/plan/issues/525

[2016-01-15 21:31] #525 closed

[2016-01-18 10:02] adamlofting commented on #687
^ That is the extent of my knowledge on this topic :smile:

[2016-01-18 10:03] adamlofting commented on #684
These were the templates when I was reviewing this mid 2015, but we've designed a built a few more templates since then: https://docs.google.com/spreadsheets/d/1Omfk2sQu25lbl9MOY_BCFYi71P4tXO4c0n7gvmCyAX0/edit#gid=731058936

[2016-01-18 17:13] natalieworth commented on #141
![avatar_final-01](https://cloud.githubusercontent.com/assets/14876567/12397635/4deb4064-bdc3-11e5-97ee-3cc2e1a85e69.png)

@cassiemc I altered the logo from the stripe design to accommodate the github profile. I'll add to redpen here in case anyone wants to add comments/ suggestions: https://redpen.io/cy41ffe31524dce811

[2016-01-18 17:44] cassiemc opened #693 "Set Q1 goals for BetterFaster"
Let's tackle this in our kickoff, scheduled for this Friday.

cc @davidascher

[2016-01-18 17:49] cassiemc opened #694 "Align comms messaging with platforms and audiences"
This is maybe not the right issue title, but ... @HPaulJohnson and @KevZawacki I know have been working on some messaging templates for our various properties. We could probably do a similar audit of messaging as we are planning for design, but perhaps we three can meet and talk about this and how this can be applied across properties. Some questions –

* Can we tighten the focus on our particular

[2016-01-18 17:52] cassiemc opened #695 "Audit technologies we're currently using"
Understand which content is:
* static vs. changes often
* localized / localizable
* needs review or sign-off
* etc

@simonwex Can you or your team help with this? We can probably build off the Comms inventory once that's done #678 (and #691)

[2016-01-18 18:09] OpenMatt commented on #659
* @adamlofting I consolidated your two docs. Let's use this as the single document of record going forward: http://mzl.la/feb_kpi
* great work, as usual

[2016-01-18 19:03] CaptainCalliope commented on #695
This is relevant to a project I've started for the Participation Software Lab. It's probably very different in purpose, scope and time horizon, but it may be useful to think about how these efforts can play off of each other.

My project documentation is here: [DRAFT: Mapping Mozilla's Participation Software Landscape](https://docs.google.com/document/d/1nf-n2R4DfU3h1JzpbrQ-Z6a9u6G8cQrD0ZVl7-Z10qE

[2016-01-18 19:33] flukeout commented on #679
I'm interested in doing the spot illustrations and would like to understand the requirements a bit better.

* How many illustrations?
* What are they about?
* Where and how will they be presented?

[2016-01-18 20:01] simonwex commented on #695
Hey @cassiemc, here's a reference to most of our domains. It's not a public document and shouldn't be available to those outside of Mozilla for security reasons.

https://docs.google.com/spreadsheets/d/1FbJ48mJ644yctfmIj7s4GfL4at1ySTrqV78EDlVujAM/edit#gid=0

[2016-01-18 21:30] davidascher opened #696 "Setup a Thunderbird donation process"
We want to be able to accept donations specifically for Thunderbird.  This bug will articulate the high-level goal and plan, especially as this will touch on a variety of topics from accounting to website and content.

Overall, the goal is to setup an infrastructure flow whereby the Thunderbird project can elicit donations that get managed specifically for Thunderbird needs.

The first milestone w

[2016-01-18 21:51] cassiemc commented on #679
@zee-moz @flukeout I'm going to schedule a kickoff for this work so we can go through these questions and others in person. We're man-down this week with @vazquez off to Hive Buzz on Wed, so might need to bring in another designer mid-way through the heartbeat, but at least we can get started with a plan.

[2016-01-18 21:54] simonwex commented on #677
/subscribe

[2016-01-18 23:16] flukeout commented on #679
:+1:

[2016-01-19 00:27] simonwex commented on #696
Hey @ScottDowne, can you leave your thoughts here on what would need to be done? Specifically, the segmentation of funds as they will need to be used only for Thunderbird projects.

[2016-01-19 01:10] ScottDowne commented on #696
This'll make a few people I know in Toronto happy :)

Anyway, my gut reaction is to put those funds in separate paypal/stripe accounts.

Swapping out the accounts is easy: https://github.com/mozilla/donate.mozilla.org/blob/master/sample.env#L5-L12

[2016-01-19 07:52] secretrobotron commented on #665
Güd question.

@hannahkane and I decided that the research blog could live safely at https://mozilla-foundation-research.herokuapp.com/ for now, and I assume we could do the same for this blog (e.g. mozilla-foundation-iot or something).

We're using mzl.la/research for the research blog, and could also do the same here. Maybe mzl.la/iot for now until we understand the MoFo IA a bit better. @thorne

[2016-01-19 07:52] secretrobotron commented on #665
@simonwex TL;DR as long as the machine is up and we can use it to write, I don't think it matters.

[2016-01-19 14:31] KevZawacki commented on #694
@cassiemc Happy to help. Is [this the doc](https://docs.google.com/document/d/1N4w5i3iPzzfzLgQitoBLDhjqfqdpLRhYlIXGAGh9jTk/edit) you're referring to?

[2016-01-19 14:43] cassiemc commented on #694
Yes, thanks @KevZawacki!

[2016-01-19 15:19] davidascher commented on #696
Can we make sure we have the same terms on these new accounts?

On Mon, Jan 18, 2016, 5:10 PM ScottDowne <notifications@github.com> wrote:

[2016-01-19 15:49] cassiemc commented on #661
I suggest a few deliverables to close out this bug:
- [ ] A revised version of Sabrina's internal program map
- [ ] Another version of Sabrina's program map that is more user-facing. The differences in these two maps should be clearly delineated.
- [ ] A UX flow, similar to my map, that shows what these changes might look like in a single program.
- [ ] List of proposed URL and architecture change

[2016-01-19 16:54] ScottDowne commented on #696
I'm poking around the internet looking for docs.

Some people report something in paypal about donation categories, but not able to find anything official on it. There docs are not the best so there might be something hidden. It's reported it doesn't work with recurring payments though.

https://www.paypal-community.com/t5/How-to-use-PayPal-Archive/Non-Profit-Multiple-Donation-Categories/td-p/3501

[2016-01-19 18:03] simonwex commented on #696
@ScottDowne could you send that email?

[2016-01-19 18:13] ScottDowne commented on #696
Done, both stripe and paypal said they would get back to us in 24 hours.

[2016-01-19 18:36] simonwex commented on #665
It's live here:
https://mozilla-foundation-iot.herokuapp.com

I copied over all the accounts from the research site. Let me know if you need anything by re-opening this boog.

[2016-01-19 18:36] #665 closed

[2016-01-19 19:29] edrushka commented on #696
@cassiemc I'll connect with you on the Jan 29 TPS call. We can look at assigning design resources for the following heartbeat.

[2016-01-19 19:42] cassiemc opened #697 "Provide Cassie with some cookies"
Cassie is hungry

### Audience
Cassie

### Success
Cassie is no longer hungry

### Vision
Something with chocolate chips

### Measurement
Enough to share with everyone

### Roles
 * Phase:
 * Driver: @cassiemc
 * Decision Maker: @cassiemc
 * Design Lead:
 * Development Lead:
 * Quality Verifier:

- [ ] research cookie recipes
- [ ] secure ingredients
- [ ] bake bake bake
- [ ] eat

[2016-01-19 19:45] cassiemc opened #698 "Cassie needs more cookies"
- [ ] research cookie recipes
- [ ] secure ingredients
- [ ] bake bake bake
- [ ] eat

:cookie:

[2016-01-19 19:49] acabunoc commented on #698
:mailbox: :cookie:

[2016-01-19 19:49] kaythaney commented on #698
:yum:

[2016-01-19 19:50] kaythaney commented on #698
@acabunoc and @kaythaney also like cookies.

[2016-01-19 19:50] lovegushwa commented on #698
:cookie:  :cookie:  :cookie:  :cookie:

[2016-01-19 19:50] samueledyson commented on #698
Nom nom

[2016-01-19 19:50] acabunoc commented on #698
:cookie:

[2016-01-19 19:51] kaythaney commented on #698
@samueledyson what sort of cookies do you like? do you bake?

[2016-01-19 19:51] cassiemc commented on #698
@vazquez I heard you have an awesome recipe.

[2016-01-19 19:51] samueledyson commented on #698
Oatmeal raisin with white chocolate.  Never made that, but might have to now.

[2016-01-19 19:52] #697 closed

[2016-01-19 19:52] kaythaney commented on #698
now, am hungry. :(

On Tue, Jan 19, 2016 at 2:51 PM, Sam Dyson <notifications@github.com> wrote:

--  [[unflagged]](http://plzkthx.herokuapp.com)
@kaythaney <http://twitter.com/kaythaney/>
@MozillaScience <http://twitter.com/mozillascience>

[2016-01-19 19:59] cassiemc commented on #696
@edrushka – sounds good. Sorry for the confusing notifications, I was playing with this issue for the Github training. :)

[2016-01-19 20:23] ldecoursy commented on #660
Sounds like @flukeout is already working on a Thimble sticker ;)

[2016-01-19 21:45] simonwex commented on #696
@alicoding I'm going to need you to do the work on this. @ScottDowne thanks for doing the research on this one, could you fill in the details on the forking approach we discussed?

[2016-01-19 22:03] zee-moz commented on #679
https://public.etherpad-mozilla.org/p/WOW-personas-pathways-handout

[2016-01-19 22:59] cassiemc commented on #679
We had our kickoff and @flukeout is assigned design on this. Woot!

[2016-01-19 23:00] cassiemc commented on #636
@hannahkane Do you have an idea of when this work should be completed?

[2016-01-19 23:11] simonwex commented on #662
Hey @gvn & @mmmavis things to look at before tomorrow's meeting:

 * https://github.com/Automattic/Picard
 * http://v2.wp-api.org/
 * https://github.com/Automattic/wp-calypso

[2016-01-19 23:14] simonwex commented on #662
We'll be doing our work here: https://github.com/mozilla/mofo-cms-experiment

[2016-01-19 23:20] hannahkane commented on #636
I don't think this is urgent, given the many other design priorities. Can we consider it a P2 in an upcoming heartbeat?

[2016-01-20 10:21] thornet commented on #665
＼（＾▽＾）／

On Tue, Jan 19, 2016 at 7:36 PM, Simon Wex <notifications@github.com> wrote:

--
*Michelle Thorne*
Director, Mozilla Learning Programs
Mozilla Foundation

@thornet
michelle@mozillafoundation.org

[2016-01-20 10:55] secretrobotron commented on #665
:heart::heart::heart::heart::heart:

[2016-01-20 15:20] cassiemc commented on #636
Sounds like a plan.

[2016-01-20 17:53] CaptainCalliope commented on #698
I really really really like the Fudge Ecstasies from page 7 of [Diana Keuilian's '21 Healthy Treat Substitutes'](http://www.realhealthyrecipes.com/fffbmdownloads/21%20Healthy%20Treat%20Substitutions.pdf).

[2016-01-21 15:24] OpenMatt commented on #645
* @simonwex actually, in our stand-up meeting yesterday it came up that @ScottDowne and @mmmavis might be unclear about the fact that they may need to do some work on this beginning next week. So I wanted to check in w. you.

* Apologies if my comment above was unclear. We don't need dev resrouces for the first week of this heartbeat. But we will need them for the second week. (Jan 26 onward)

* w

[2016-01-21 15:37] gideonthomas commented on #671
@simonwex https://github.com/mozilla/thimble.webmaker.org/issues/1329 and migrating projects from old-thimble (deferred till after l10n) are the only issues left.

[2016-01-21 19:44] cassiemc commented on #698
Thanks @CaptainCalliope I think you solved this bug :)

[2016-01-21 19:44] #698 closed

[2016-01-21 19:45] cassiemc commented on #661
As @sabrinang and I build this out here: https://docs.google.com/presentation/d/1OkKopl37qGCyvlylpgDSC0yjusuAlxA78Ka0_kDEIAs/edit#slide=id.g821d6ef90_6_184
We are referencing the slides from 2020 strategy docs.
<img width="799" alt="screen shot 2016-01-21 at 2 43 26 pm" src="https://cloud.githubusercontent.com/assets/1186326/12492303/9539c576-c04d-11e5-941b-8a93c0842ba1.png">
<img width="797" alt=

[2016-01-21 21:32] simonwex commented on #645
@OpenMatt ah, I thought we were good for this HB for peeps on my team. I'll need to check in with my folk to see who's got the bandwidth. Mind inviting me to the stand?

[2016-01-22 16:06] cassiemc commented on #661
@sabrinang A new goals doc I saw from @chrislarry33 labels the "I" under MLN as "Innovation", not "Incentives".

[2016-01-22 16:17] ldecoursy commented on #661
Those slides you posted above are early drafts from Oct. The [business plan from Phase 3](https://docs.google.com/document/d/1OipsGu8eWuTaT8J3T2-0CR3zB79SysATBLiTTBDGS5I/edit#) (pages 14 and 23) has the updated buckets for MLN and Advocacy

[2016-01-22 16:21] cassiemc commented on #661
Thanks so much @ldecoursy. I thought I was posting slides that Surman emailed everyone at Mozlando. Here are updated screengrabs:
<img width="639" alt="screen shot 2016-01-22 at 11 20 18 am" src="https://cloud.githubusercontent.com/assets/1186326/12516192/329f0482-c0fa-11e5-9266-7c1703aa19ec.png">
<img width="627" alt="screen shot 2016-01-22 at 11 20 35 am" src="https://cloud.githubusercontent.com

[2016-01-22 18:15] OpenMatt commented on #645
Just talked to @simonwex -- we're all good.

[2016-01-22 19:22] cassiemc commented on #695
@CaptainCalliope This is awesome, thank you! Definitely relevant to the better-faster initiative we have going, if not specifically for this technical audit but. I'll follow along on the issue.

Thanks @simonwex for this resource too. I think we need to do a bit more thinking about what we want from a technical audit / to what purposes such a thing will be used. This is very helpful for #678 right

[2016-01-22 19:24] cassiemc commented on #694
Sam Burton is also working on a Comms plan. I am meeting with her next week to hear more.

[2016-01-22 19:50] OpenMatt commented on #662
@simonwex is there a potential test case for what the first web site / property to use this might be?

[2016-01-22 19:53] OpenMatt commented on #662
e.g., we know we're aiming to ship a shared curriculum platform in H1. Is that a potential customer for this? something sooner?

[2016-01-22 20:22] cassiemc opened #699 "Internal comms strategy for sharing finished work"
How do we socialize work that has been relegated as important, is in progress, or gets finished – how do people then use it? For devs & designers, how do we talk about and learn from this process?

One good idea:
* make it easy for people to find the resulting pool of resources

cc @lovegushwa if you want to add any thoughts.

[2016-01-22 20:53] cassiemc opened #700 "Audit internal comms tools"
We have a bunch of wikis, google docs, slides, pdfs, readme's, and other documentation living in various places across teams. Can we / do we want to have a better strategy for where things live and what lives where? Might have a good effect on onboarding too.

cc @xmatthewx @OpenMatt

[2016-01-22 21:51] xmatthewx commented on #700
@OpenMatt is working on a revision to our Build site, to serve as a first stop for finding all those things. Having a single doorway will make everything more accessible.

The diversity of content will always require multiple platforms. The technology and our preferences will always change. I'd invest in accessibility over continually wrangling uniformity. Hopefully things will migrate toward a fe

[2016-01-22 21:52] cassiemc commented on #700
Agree on accessibility over uniformity absolutely. Even just a hub that adequately links to all the most current resources would be helpful... some kind of navigation built in.

[2016-01-22 22:36] gvn commented on #662
FWIW: I think we'll have multiple prototypes.

It sounds like @mmmavis is working on a React + WP prototype along the lines of what @simonwex proposed. I'm working on making the Research site editable via a purely JS/JSON based approach.

We might even have a 3rd prototype, but I'm not sure. Regardless, this should allow us to weigh pros and cons of the various approaches.

I don't think we should

[2016-01-24 11:51] alicoding commented on #696
@ScottDowne can you fill in the details on what they've respond to you on the email (PayPal & Stripe) ?

[2016-01-25 03:07] ScottDowne commented on #696
Nothing super useful yet, they both basically responded as if it's not a common usecase, by either directly saying it's never been requested, or responding as if I asked something else.

I've been going back and forth with them for a few days. It's ongoing.

Stripe mention that you could link two accounts to one, and easily manage them from one dashboard, but wasn't specific. I can only assume the

[2016-01-25 15:27] alicoding commented on #696
My thinking on this is also to setup this thunderbird donation page under the same repo for [donate.mozilla.org](https://github.com/mozilla/donate.mozilla.org) as long as it doesn't interfere with the current donation flow. The benefit of doing this would be:

1. Don't have to setup another SSL
2. Same domain
3. Solving most of the server scalability and load balancing issue

I'm sure there are mo

[2016-01-25 15:29] ScottDowne commented on #696
I don't have a grasp as to how hard 1 and 3 would be, so I'll let others weigh in.

My only goal for having a fork was less moving parts. Nothing too critical.

[2016-01-25 16:07] OpenMatt commented on #659
@adamlofting

want to circle up on next steps w. you on this. Main things are:

* We need to start putting in baseline numbers where we have them (sub KPIs mostly)
* And say when we are going to have baselines for ones we don't have
* And start to have some opinion on targets

* by way of example: the MoCo Marketing program review (shared w. @adamlofting ) does a great job of this in a single slid

[2016-01-25 16:16] OpenMatt commented on #659
@adamlofting does that make sense?

[2016-01-25 16:55] cassiemc commented on #141
@natalieworth Left a comment in the redpen.

[2016-01-25 17:24] adamlofting commented on #659
Thanks Matt. That does make sense, but I expect I'll have follow up questions on this tomorrow. Will keep you posted.

[2016-01-25 18:40] sabrinang commented on #661
@cassiemc David mentioned to reach out to Sam Burton - she is working on articulating the strategy plans so it could be informative to help understand the system better to visualize the IA

[2016-01-25 23:10] jbuck commented on #696
I would also like to hear from accounting to see what needs to be done before we move forward on a solution, but I'd generally agree with standing up a new page on our existing codebase, rather than forking it specifically for thunderbird donations.

[2016-01-25 23:17] davidascher commented on #696
I think all we need is to be able to do reports that tell us what $ came
from Thunderbird-specific pages. We can do that by filtering based on
source URL if that's easier.

On Mon, Jan 25, 2016 at 6:10 PM Jon Buckley <notifications@github.com>
wrote:

[2016-01-26 00:15] edrushka commented on #634
The schedule worked beautifully! Thanks so much :sparkling_heart::sparkling_heart:@ScottDowne and @mmmavis :sparkling_heart::sparkling_heart: I'll write specific feedback and suggestions for next iteration during the next heartbeat.

[2016-01-26 00:15] #634 closed

[2016-01-26 00:37] msurman commented on #659
Hey, @adamlofting. Good work on this so far. We've got solid bones for a board document and a deck.

A suggestion on process based on conversations w/ David a few minutes ago:

1. You own the doc
2. I own the slides
3. We try to get both board ready by end of the week

Processwise,

A. Try to get as far as you can w/ Matt's questions above by tomorrow at 7am pacific
A1. I know there is a ton that

[2016-01-26 00:41] msurman commented on #659
On content, I like all the general framing up front. Want the board to get into thinking about why and how we're going to do all this work.

In addition to the stuff above, we also need to do a next round of edits that simplify and align with the story the board's already seen. The two important slides from last time are these:

![screen shot 2016-01-25 at 4 30 16 pm](https://cloud.githubuserconte

[2016-01-26 00:43] edrushka commented on #683
@vazquez will also have some insights on this following Hive Chicago Buzz.

[2016-01-26 01:20] ScottDowne commented on #696
For what it's worth stripe allows you to link another account to one, and switch between them in the dashboard. The money can go into separate bank accounts, and they'll have separate api keys. So Stripe is kinda covered, actually.

@davidascher where would we do the filtering? In our analytics maybe?

[2016-01-26 10:30] adamlofting commented on #659
This all makes sense, and process works for me. I'm getting on with this now. :+1:

[2016-01-26 13:43] omnignorant commented on #634
Thanks to everyone who worked on this. It was one of those rare pieces of work that does exactly what it needs to do. no more, no less, no fuss.

[2016-01-26 16:56] cassiemc commented on #661
Working session set up with @sabrinang, @samanthaburton and I for tomorrow.

[2016-01-26 17:22] ryanpitts commented on #634
:raised_hands: :fireworks:

[2016-01-26 21:15] cadecairos commented on #656
@OpenMatt Since we're unable to transfer domain ownership of mofo.build to Mozilla (And thus, cannot obtain MoFo signed SSL certs), @simonwex and I agree that we can use `build.mozillafoundation.org` and `book.mozillafoundation.org` until we're allowed to transfer.

Does that seem like a good alternative?

[2016-01-26 21:48] ldecoursy commented on #660
Tracking here: https://github.com/MozillaFoundation/Design/issues/125

[2016-01-26 21:49] OpenMatt commented on #659
Notes from @msurman :+1:

### 1. What KPI do we want to use for agenda-setting?

One option is a survey of key influencers knowing the issues we're working on (w/ MoCo). The other is number of citations that reference Mozilla and our key hills.

### 2. What do we want the impact goal for MLN to be?

The board pushed back on 'we start to see new ideas and breakthroughs on our big issues', which isn

[2016-01-26 21:56] ldecoursy commented on #674
@simonwex  Last week I shared you on a Google Doc to collect some info for legal to help with the TOS. In the meantime, can we add links to Mozilla Website and Comms Terms of Service https://www.mozilla.org/en-US/about/legal/terms/mozilla/ and Privacy Policy https://www.mozilla.org/en-US/privacy/websites/ to a footer on our Discourse page?

[2016-01-26 22:08] cadecairos commented on #669
File VA bugs in bugzilla (restricted to Mozilla accounts):

api: https://bugzilla.mozilla.org/show_bug.cgi?id=1243167
id: https://bugzilla.mozilla.org/show_bug.cgi?id=1243170
publish: https://bugzilla.mozilla.org/show_bug.cgi?id=1243172

[2016-01-26 22:09] jbuck commented on #669
* https://github.com/mozilla/api.webmaker.org/issues/195
* https://github.com/mozilla/id.webmaker.org/issues/410
* https://github.com/mozilla/publish.webmaker.org/issues/219

[2016-01-26 22:17] simonwex opened #701 "Implement recommendations in RRA"
Follow-on for #669

Based on the recommendations  here (locked) https://bugzilla.mozilla.org/show_bug.cgi?id=1239499

Do the following work:
* https://github.com/mozilla/api.webmaker.org/issues/195
* https://github.com/mozilla/id.webmaker.org/issues/410
* https://github.com/mozilla/publish.webmaker.org/issues/219
* api: https://bugzilla.mozilla.org/show_bug.cgi?id=1243167
* id: https://bugzilla.mo

[2016-01-26 22:17] simonwex commented on #669
Ticketing complete, follow-on ticket here: #701

[2016-01-26 22:17] #669 closed

[2016-01-27 14:21] OpenMatt commented on #656
sounds good. let's do it.

[2016-01-27 14:21] OpenMatt commented on #656
sounds good. let's do it.

[2016-01-27 14:23] OpenMatt commented on #659
@adamlofting great. please update this ticket when you complete your next pass? I'm going to start working today on turning your document into slides.

[2016-01-27 14:41] adamlofting commented on #659
Quick update:

All of the comments / edits from the word document were transferred to the Google Doc and have either been resolved or are still visible as open questions.

I've also made an update to the Network Strength KPI today (partly from the questions above and also from some initial playing around with how the numbers will connect.)

No, lets have alignment include Mozilla and the hills in

[2016-01-27 16:44] xmatthewx commented on #656
It's a great alternative. We should avoid the use of "MoFo". It dilutes our brand and confuses new staff and people in the network.

[2016-01-27 17:26] cadecairos commented on #656
Alright, working on getting the DNS set up and the certs signed and installed on Heroku.

[2016-01-27 18:39] xmatthewx commented on #659
I'm curious about @OpenMatt's comment above:

Shouldn't an effective network also yield leaders who the shape the internet through innovative, people-first use of tech? For example, a former Open Science fellow in the healthcare domain might create a patient-centered, privacy-minded tool. This could change the landscape for millions without a measurable shift in the agenda or rally of the masses.

[2016-01-27 19:56] hannahkane commented on #692
@xmatthewx -- we can check off design for desktop, right? your design in https://github.com/mozilla/id.webmaker.org/issues/362 looks great.

@simonwex - who would be a good person to assign this to in the next heartbeat?

[2016-01-27 20:00] hannahkane commented on #640
I don't think it was realistic to put this AND the CMS work in the same heartbeat. Will move this to the next one, but, @simonwex, hoping we can prioritize this.

[2016-01-27 20:25] vazquez commented on #683
I added some thoughts to this Google Doc. Feel free to add/edit

https://docs.google.com/a/mozilla.com/document/d/1pefmuP6bp2lElMNCna8QB4JwmDlgwaIfAkmn21E0bDw/edit?usp=sharing

[2016-01-27 21:34] xmatthewx commented on #692
yes @hannahkane - design is good to go.

[2016-01-27 21:53] hannahkane commented on #672
@flukeout - do you think this is likely to finish this heartbeat, or perhaps early next, since the last interview isn't until Friday?

[2016-01-27 21:54] hannahkane commented on #534
@simonwex @Pomax - any update on this?

[2016-01-27 21:54] hannahkane commented on #554
@Pomax - are we good to close this?

[2016-01-27 21:55] hannahkane commented on #561
I believe this is unblocked now. Correct, @cadecairos?

[2016-01-27 22:02] hannahkane commented on #662
cc @flukeout and @acabunoc who I believe are working on a project with similar goals—making it easy to create Science learning materials with just markdown. Not a CMS, but achieving the same goal of making it easy to create/edit content.

[2016-01-27 22:12] cadecairos commented on #561
indeed it is!

[2016-01-27 22:17] omnignorant commented on #683
Ha @vazquez I'm reading some very specific learnings from Chicago in that document :wink: :point_right:  :nose:

[2016-01-27 23:41] flukeout commented on #662
Indeed - the plan (so far) is to host the content as markdown files on github, but also to render them into prettier HTML via some front-end code, I'll let @acabunoc chime in - we'll be experimenting with the first piece of content soon.

[2016-01-27 23:45] flukeout commented on #672
Early next seems like a better bet!

[2016-01-28 14:52] cassiemc opened #702 "Ship google docs template + board slides"
From @msurman:

Is there someone on the design team who could help develop a simple MoFO google docs template this week or early next (by Tuesday?).

The goal would be to have something like the template we're now using for board slides, but for strategic planning docs, reports, grant proposals. It would be subtle but have a similar feel, be easy to use (style sheets!) and keep us consistent. See

[2016-01-28 14:58] cassiemc opened #703 "[Feb 12] Create new NetGain Partnership site"
There's a potential we could outsource this work, but we need to decide by Monday Feb 1. cc @davidascher @simonwex

**Deadline:** Feb 12 (launch Feb 16)

From @samanthaburton:

* simple front page refresh explaining NetGain (includes para on 2015 tech talent pipeline theme / freedman report; para on emerging 2016 theme; prominent link to our initial manifesto in plain HTML (not PDF)
* a page with

[2016-01-28 15:19] cassiemc commented on #702
@vazquez says he can help on this today and tomorrow. Woohoo, thanks Ricardo!

[2016-01-28 15:38] msurman commented on #702
Ricardo: let me know if you want to chat through quickly. I'm in the office all day today and tomorrow.

[2016-01-28 15:43] vazquez commented on #702
Thanks @msurman! I will take you up on that offer. In the meantime, I have requested access to the Google Doc

[2016-01-28 15:53] cassiemc commented on #702
Let's take stock of what templates we already have available. If there is a smart way to build on these (rather than redesign similar elements, except where necessary b/c of a different audience, etc) let's do it. I added [a folder of these](https://drive.google.com/a/mozilla.com/folderview?id=0BzfN9sXlOXt1THlmZVBIRDhZRFE&usp=sharing) on the Design Assets drive.
* Board templates (not actually sur

[2016-01-28 16:01] vazquez commented on #702
Thanks! This is what I've been digging for as well. The 2020 Strategy slides are available here:

https://docs.google.com/presentation/d/1yPhg7ilRgAjHn41w3jGjvTzcEOCknBh8YaUq0gOc7rg/edit?usp=sharing

[2016-01-28 17:13] gvn commented on #662
@flukeout @acabunoc @simonwex @mmmavis – We should probably all sync up some time soon. It sounds like between all of us we're trying 3 approaches, which is totally cool, but it'd be nice to share insights sooner than later! :+1:

[2016-01-28 17:35] msurman commented on #702
Shared both the slides and doc. Jordan did the work behind the slides, I think, if you want to know about thinking behind them.

[2016-01-28 18:08] cassiemc commented on #696
Is this for the next heartbeat [Feb 12]? What design is needed here?

[2016-01-28 18:16] hannahkane commented on #703
If this is truly urgent, we can reassign a designer from MLN. Would prefer not to reassign devs, though.

[2016-01-28 18:27] cassiemc commented on #641
Designs are complete, dev should be underway. On track!

[2016-01-28 18:28] cassiemc commented on #663
@edrushka Can you help us set up another green team meeting? I think we need that before we can close this. Going to modify the milestone for next heartbeat.

[2016-01-28 18:41] edrushka commented on #696
@cassiemc I think we'll need a bit of design help here, but it will be minimal. We'll more or less clone the existing donation flow, so the design work will be adding a logo and maybe changing the colour palette to make it look more 'Thunderbird'. I anticipate the designer will be needed towards the end of the Feb 12 heartbea. I'll file specific tickets for that work.

[2016-01-28 18:43] edrushka commented on #663
Yes! Let's circle up and chat about this survey. I have some updates from Hive Chicago Buzz to report as well.

[2016-01-28 19:07] davidascher commented on #703
We need to understand who controls that domain today.

My understanding is that the priorities are as follows:

1) the content is out of date and needs to be updated
2) there’s a hard, and near deadline
3) anything else.

In particular, this is a small audience site, but the audience is high influence.

We should not add fancy untested technology given the timeline, especially as we don’t expect d

[2016-01-28 19:47] acabunoc opened #704 "Finalize reqs / get team up to speed on mozillascience.org refresh"
This issue is taking a stab at the first phase of a design refresh of mozillascience.org (WIP)

**problem**
mozillascience.org was created when Mozilla Science was a very different program. Since then, we've added several offerings (fellows, study groups, more), some of which are represented on the website, but difficult to get to.

**main goals**
creating an *easy to navigate* site with *clear wa

[2016-01-28 20:17] samanthaburton commented on #703
The Ford Foundation has control of the domain, and we're working with them on the revamp so can easily get access. I'm not sure about hosting.

RE: priorities
- Only piece I'd add to David's list is that the current website has a terrible UX and you can't change all the elements - hence the suggestion to create a new site, quick & dirty, on an easily customizable solution like Wordpress (as David

[2016-01-28 20:21] cassiemc commented on #704
Thanks for filing @acabunoc! Added it to this milestone but we can discuss whether it would fit better this heartbeat or next. Ideally I'd love to start with a small brand exploration exercise. Your [pinterest board](https://www.pinterest.com/aure_moser/website/) is great so whenever we have a kickoff we can use that to talk about next steps.

[2016-01-28 20:23] hannahkane commented on #703
If we're going to build a Wordpress site, I'd suggest we hire a contractor with Wordpress expertise.

Which strategic labels can we apply to this ticket (orange and blue labels)? Wondering where this fits in the strategic plan.

[2016-01-28 20:26] edrushka commented on #696
Moving this work to the donate repo.

Copy ticket: https://github.com/mozilla/donate.mozilla.org/issues/1280
Build tickets: https://github.com/mozilla/donate.mozilla.org/issues/1281 and https://github.com/mozilla/donate.mozilla.org/issues/1282
Design tickets: https://github.com/mozilla/donate.mozilla.org/issues/1283 and https://github.com/mozilla/donate.mozilla.org/issues/1285

[2016-01-28 20:30] acabunoc commented on #704
Brand exploration sounds great -- Looping in @auremoser who make the moodboard :)

[2016-01-28 20:36] samanthaburton commented on #703
Added the strategic labels I think apply!

If your team ends up recommending that we hire a contractor for a Wordpress (or another plug-and-play) site design, we'll just go with the 'external' option (we have 2 quotes from contractors already, who'd work directly with Spitfire - so it would take the project off your plate).

Let me know what you think the best route it. Thank you!

[2016-01-28 20:59] vazquez commented on #702
I would love to spend a few minutes with @msurman or @OpenMatt to talk about the Doc and how we can begin making the transition into a slide format.

[2016-01-28 20:59] cassiemc commented on #703
@samanthaburton Does it actually need to be wordpress? Will let @simonwex chime in but suspect that adds a bit of dev time, and if this will only be updated every so often that might make matters more complex than they need to be. How often / who will need to make updates?

Also, id your quotes include both design and dev? Ok to separate them out? I think that design might be possible here, but it

[2016-01-28 21:00] xmatthewx opened #705 "Inventory things created by our network"
An effective Mozilla network should yield leaders who shape the internet through innovative or impactful "artifacts" that align with Mozilla’s principles and priorities. Artifacts, products, or creations – these include campaigns, software, legislation, reports, think pieces, tools, and curricula released to the world.

#### **Problem**
We don't have a comprehensive view of things created by netwo

[2016-01-28 21:09] cassiemc commented on #672
Hm. There are three designers on this (albeit I know only partially) – can we get some idea of the interview results – even if rough bullets – ready to go by end of tomorrow to inform the work in the next heartbeat? I thought I heard @sabrinang @flukeout @vazquez already had some discussion, so might just be a matter of recapping those insights here. We can add to it after tomorrow's interview if

[2016-01-28 21:15] cassiemc commented on #703
One other flag – designing UX and UI *and* shipping this in one two week heartbeat with external stakeholders we haven't worked with before might be a challenge.

[2016-01-28 21:55] hannahkane commented on #672
indeed. happy to help create a deck to let designers focus on the prototypes/wireframes. don't want to lose momentum on this project.

[2016-01-28 22:00] #554 closed

[2016-01-28 22:01] hannahkane commented on #635
This work is advancing. I don't think we need a planning ticket for it anymore.

[2016-01-28 22:01] #635 closed

[2016-01-28 22:04] hannahkane commented on #636
Is this essentially what @flukeout and @acabunoc have been working on this heartbeat? See http://flukeout.github.io/science-template/

Possible to adapt same templates to Club guides?

cc @amirad

[2016-01-28 22:14] cassiemc commented on #636
Quite likely. Between those templates and the other teaching kits, feeling like something will work for this. Are there requirements about whether or not these need to live on github or otherwise? ie. how often will they be remixed, and what is the git skill level of those doing the remixing (likely different from the MSL audience as onboarding to Git is an intentional part of their onboarding.) A

[2016-01-28 22:15] simonwex commented on #703
From an engineering-team perspective, I think it'd be best if we use external resources for this. One of our current efforts, #fasterbetter is to lay the groundwork to be able to produce these kinds of sites without any (or very little) bespoke work. – We're not there yet. I don't think we'd learn anything from building this site, and it would distract from more strategic goals of being able to in

[2016-01-28 22:16] hannahkane opened #706 "Finish upgrading build system for Teach"
@Pomax has filed a [bunch of tickets](https://github.com/mozilla/teach.mozilla.org/labels/build-system)

[2016-01-28 22:21] hannahkane opened #707 "Finalize Web Lit Map 2.0 design"
Relevant tickets are:
 - [ ] [Update whitepaper](https://github.com/mozilla/teach.mozilla.org/issues/1600) – @anmechung and @Pomax
 - [ ] [Finalize map design](https://github.com/mozilla/teach.mozilla.org/issues/1601)
 - [x] [Finalize copy](https://github.com/mozilla/teach.mozilla.org/issues/1602) – @anmechung
 - [ ] [Update wireframes](https://github.com/mozilla/teach.mozilla.org/issues/1603)

I

[2016-01-28 22:25] hannahkane commented on #636
I think github pages would be good. It will be mostly staff editing.

@amirad linked to several docs above. Maybe the social media guide would be a good, representative one to start with: https://docs.google.com/document/d/1UIukayevaotjBNtn_sRO3ozPPvlrghFs6mGbHjhTCs0/edit

[2016-01-28 22:56] samanthaburton commented on #703
Hey everyone - taking all your thoughts into account, I think going external makes the most sense. If you're cool with that, I'm going to move to put that in motion. Thank you so much for the depth of thought and feedback, especially on such a tight timeline.

re: your question @simonwex - the problem is that the current site is locked in - we can't even make the minimum changes without changing t

[2016-01-28 23:04] simonwex commented on #640
I think the requirements listed above are enough to do the investigation. This feels like one day of work to me. This is how I'd imagine it going:

1. Understand the requirements, investigate additional details where needed
2. Organize a call with Pierros and/or Tasos on the participation team (organize through Pierros) to discuss details and get pointers on the reps codebase
3. Do extra homework

[2016-01-28 23:21] anmechung commented on #707
@hannahkane yes!  I can finalize copy by next week.

[2016-01-29 01:28] edrushka commented on #682
Done! :balloon: :confetti_ball: :balloon:
Read all about it here: http://hivechicago.org/hive-chicago-buzz-2016-recap/

[2016-01-29 01:28] #682 closed

[2016-01-29 01:29] edrushka commented on #666
Aaaaaaalmost done! Meeting with Chris on Monday for his signoff and then we can share publicly.

[2016-01-29 01:31] Pomax commented on #554
a bit late, but yes. There is a followup around making users aware that goggles have moved, by making the old goggles file throw up a dismissible dialog, but that should not hold up this issue.

[2016-01-29 01:32] edrushka commented on #683
hehe. Me too ;)

@vazquez can you give me edit or comment permissions for your doc?
@cassiemc do you think we should meet about this, or should we finalize the requirements in Ricardo's doc, and discuss when we start to plan the next convening?

[2016-01-29 01:34] edrushka opened #708 "Create and share a Convenings Calendar"

[2016-01-29 01:39] edrushka opened #709 "Finalize MozRetreat details"
Finalize date, location and guest list for the MozRetreat (MozFest planning session).

[2016-01-29 01:43] edrushka opened #710 "Scope improvements to Schedule App"
During this milestone, I'll host a meeting with @davidascher @simonwex @ryanpitts and @xmatthewx to discuss future improvements to the Schedule App. Hopefully we can talk about timelines wrt dev capacity and upcoming events (SRCCON is likely the next event to need the app).

Let me know if you're interested in attending this meeting and are not listed above.

[2016-01-29 02:44] vazquez commented on #683
Done! Anyone with the link can edit: https://docs.google.com/a/mozilla.com/document/d/1pefmuP6bp2lElMNCna8QB4JwmDlgwaIfAkmn21E0bDw/edit?usp=sharing

[2016-01-29 03:30] lovegushwa commented on #702
(I sent these to you @vazquez earlier today)

Here is Luke's template: looks like some one messed up the first few slides:
https://docs.google.com/a/mozilla.com/presentation/d/1iNKTFP-h6TJAWbHuAb5T1zkiIcZnxrdeYqcI9GwxuOc/edit?usp=sharin

Presentation poster files are here: https://drive.google.com/a/mozilla.com/file/d/0B2qu3ExKWIlvODBPVko4WG1aOGM/view?usp=sharing

[2016-01-29 04:02] simonwex opened #711 "Thimble: Transition fully from thimble.webmaker.org to thimble.mozilla.org"
After localization we're ready to transition fully off of https://thimble.webmaker.org

Tracking milestone here: https://github.com/mozilla/thimble.webmaker.org/milestones/Erase%20Technical%20Debt,%20Deprecate%20oldthimble.

[2016-01-29 04:03] simonwex commented on #671
Done barring something that has to happen post-l10n. Tracking that work here: 711

[2016-01-29 04:03] #671 closed

[2016-01-29 04:06] simonwex commented on #615
I didn't have time to focus on this in this HB. Bumping to next.

[2016-01-29 05:16] davidascher commented on #710
I'm in India during this heartbeat, so that meeting may be tough depending on the time of day.  I'm on PTO second week, so next week may be possible.

Missing some context to this ticket, but:

* I think @adamlofting would be useful, as IMO the schedule app has the potential of being useful both as a probe of the effect of our convenings, as well as a tool to measure sub-indicators towards network

[2016-01-29 05:32] simonwex commented on #710
@mmmavis is interested in continuing to work on this project, could you please include her, too?

[2016-01-29 05:43] simonwex commented on #703
@samanthaburton I'd like to help steer a few requirements we give to the external group. At minimum the source code should be available to us to ensure we're not painting ourselves into a corner again.

[2016-01-29 06:10] simonwex commented on #667
We're all set up and it's a thing of beauty. We're going to roll this out to engineers and designers as a beta release in the following HB.

http://chat.mozillafoundation.org/mofo/

[2016-01-29 06:10] #667 closed

[2016-01-29 06:14] simonwex opened #712 "Release beta of Mattermoz instance to engineers and designers"
Follow-on from #662

We have staging and production Mattermost instances running. We've contributed upstream some basic fixes and features we deemed important to the adoption of Mattermost for MoFo. We're going to trial its use as an IRC replacement and central communication channel with our engineers and designers.

During this Heartbeat we'll also build the tooling to redirect users from existin

[2016-01-29 06:24] simonwex commented on #691
This is likely the most exhaustive list we have: https://docs.google.com/spreadsheets/d/1FbJ48mJ644yctfmIj7s4GfL4at1ySTrqV78EDlVujAM/edit#gid=0

[2016-01-29 06:26] simonwex commented on #691
Cassie, I've got some time I can spend on this Friday (Tomorrow). Shall I just merge my list into the comms inventory?

[2016-01-29 06:30] simonwex commented on #662
We have explored two prototypes as a part of this research. Both are promising and address a different set of problems identified by our use-cases. We'll be demoing them tomorrow and continuing work on the calypso-based prototype with a focus on the Science site in the following heartbeat.

[2016-01-29 06:30] #662 closed

[2016-01-29 06:31] simonwex commented on #670
Great work has been done here. We have a plan and have started to implement the approach in the thimble project. We'll be reviewing the plan with l10n team members next week.

[2016-01-29 06:31] #670 closed

[2016-01-29 06:33] simonwex opened #713 "Implement Localization plan in Thimble"
Implement l10n plan from #670 in Thimble.

### DARCI

Driver: @simonwex
Accountable: @simonwex
Responsible: @gideonthomas
Consulted: @humphd, @alicoding
Dev: @simonwex, @gideonthomas
Design: @flukeout

[2016-01-29 07:25] Melechuga commented on #641
@cassiemc @kristinashu @ScottDowne There was a question in the redpen design about linking a blog somewhere, but I can't find the comment any more. All the links are in the googledoc (https://docs.google.com/document/d/1WRLUoMaoWvG1z_ASsQ0_WJ7NYj8E2W0Aqc6dHpZlM1U/edit) I see some wording differences between the doc and redpen design (for example, it says "stipend" instead of "grant" under Financia

[2016-01-29 08:52] gerv commented on #696
In the initial discussions of this feature, @davidascher also mentioned the ability for people donating to sign up for a low-traffic notification mailing list. Is that still in scope?

[2016-01-29 14:19] davidascher commented on #696
Yeah I'd forgotten that bit. @edrushka I'm thinking for now we just setup a
list in exact Target and we can manage that tool to send messages that will
be conveyed by the Thunderbird point of contact. Seems reasonable given
that it'll be low frequency?

On Fri, Jan 29, 2016, 12:52 AM Gervase Markham <notifications@github.com>
wrote:

[2016-01-29 15:10] auremoser commented on #704
Oh thanks @acabunoc ! let me know if you need any clarifications @cassiemc, I love making moodboards, and would be happy to participate in the exercises.

[2016-01-29 15:32] ldecoursy opened #714 "Solidify plan for MLN involvement in NWP's Letters to the Next President Campaign"
Mozilla has signed on as a partner in this campaign, which is geared towards both educators (professional development) and youth (building writing skills while connecting interests with civic engagement).

Good opportunity for us to engage educators around web literacy and to help spread the use of our open educational resources and bring more young/emerging leaders into our network.

Planning doc

[2016-01-29 15:52] ldecoursy opened #715 "Create new YouTube account for MLN-Ed Hub"
We need to create YouTube channel for hosting Google Hangouts on Air for new, regular community calls and curriculum development workshops kicking off in March.

@simonwex offered to help due to issues with YouTube and our enterprise google apps setup.

[2016-01-29 15:55] gerv commented on #696
WFM.

[2016-01-29 16:21] samanthaburton commented on #703
@simonwex sounds good - I'll loop you into the thread, and you can share your thoughts directly with Spitfire.

Thanks very much again, everyone!

[2016-01-29 16:22] #703 closed

[2016-01-29 16:36] #495 closed

[2016-01-29 16:36] #482 closed

[2016-01-29 16:37] cassiemc commented on #691
@simonwex This list is great, all we need. I can have a look at merging the appropriate ones. Thanks!

[2016-01-29 16:37] #691 closed

[2016-01-29 16:38] OpenMatt commented on #693
@cassiemc status? The kick-off was great. Did we get to a clear-ish set of next steps?

[2016-01-29 16:39] OpenMatt commented on #679
status?

[2016-01-29 16:40] OpenMatt commented on #668
@scottdowne status?

[2016-01-29 16:40] cassiemc commented on #693
Kickoff notes are here: https://public.etherpad-mozilla.org/p/betterfaster

Q1 goals we discussed are:
* Present and approve an IA plan for Mofo properties
* Understand goals/strategies around tech improvements
  * Settle on technology for CMS / blogs
* Continue ongoing work
  * Make templates for curriculum guides `
  * Emails
* Let's implement a part of this plan, see if it works.
* Shared under

[2016-01-29 16:40] cassiemc commented on #678
I'll wrap this up today.

[2016-01-29 16:41] OpenMatt commented on #656
This one is going to carry over into the next heartbeat. Good progress. Will aim to ship before the early Feb staff meeting.

[2016-01-29 16:41] cassiemc commented on #661
This is ongoing, so moving to the next heartbeat. Hoping to result in a set of actionable items within the next heartbeat.

[2016-01-29 16:42] OpenMatt commented on #652
@aplohman has next steps on this one, and will discuss in next staff meeting. Going to mark closed for now.

[2016-01-29 16:42] #652 closed

[2016-01-29 16:43] OpenMatt commented on #645
Work is pushing ahead fast and furious. Tracked here: http://mzl.la/encryption
Let's ensure we're clear on dev resources needed for next two weeks.

[2016-01-29 16:44] cassiemc commented on #703
Works for me too, thanks @samanthaburton. If there are any questions about brand, we can definitely do a design review in-house no problem.

[2016-01-29 16:45] OpenMatt commented on #627
ok. Let's ensure we're clear on next steps and whether we can close this ticket.

[2016-01-29 16:45] cassiemc commented on #641
@Melechuga Let's do a thorough content review once @ScottDowne has the staging site up and file any new issues in the [movement-building](https://github.com/MozillaFoundation/movement-building/labels/webfellows) repo. I think the blog issue you're thinking of is this: https://github.com/MozillaFoundation/movement-building/issues/75

[2016-01-29 16:46] OpenMatt commented on #141
status?

[2016-01-29 16:47] edrushka commented on #696
Exact Target ticket filed here: https://github.com/mozilla/donate.mozilla.org/issues/1289

[2016-01-29 16:48] simonwex commented on #534
Souktel are struggling to do the final integration for us to do acceptance testing. Pomax and jbuck have been helping them finish it off. The ball is currently in their court. If they don't have this resolved next week, I suggest we take it over for what is probably a HB to finish it off.

[2016-01-29 16:48] cassiemc commented on #693
@OpenMatt @davidascher @simonwex @HPaulJohnson @hannahkane @xmatthewx @lovegushwa @ldecoursy  R? of the Q1 goals above? Anything to add / change before closing this issue?

[2016-01-29 16:49] cassiemc commented on #679
@zee-moz I believe the P1s are finished, with @flukeout having handed over assets to @acabunoc. Last thing to do is the P2 presentations template, which we're aiming to finish today, right?

[2016-01-29 16:50] cassiemc commented on #141
Hopefully @natalieworth can wrap this up today, if not let's just go with what's here.

[2016-01-29 16:53] cassiemc commented on #685
@sabrinang is working on putting together a first go at the Teach site brand guidelines. This will have a knock on affect for the other audits, but I will need resource to help drive those to completion. Thinking @kristinashu will be able to help.

[2016-01-29 16:53] natalieworth commented on #141
@OpenMatt @cassiemc Just adjusted the file (to fix centering) and exported an .svg and png. Files for this are here: https://drive.google.com/a/mozillafoundation.org/folderview?id=0B20-0lpP23c0N1NoRmk3Z0hWU1k&usp=drive_web&ddrp=1#

[2016-01-29 16:54] cassiemc commented on #660
@ldecoursy Let's keep this open. I'll assign it to me, but @vazquez is driving this with @my-le. I'll schedule a kickoff early next week unless anyone has already done that?

[2016-01-29 16:55] cassiemc commented on #636
@hannahkane It'd make sense to keep @flukeout looking at all these materials. Does that work for you guys?

[2016-01-29 17:03] simonwex opened #716 "Push Calypso CMS prototype forward combine efforts with design style guide"
Continuing the work on the CMS prototype and start work on incorporating the style guidelines into a bootstrap theme.

Starter goals are:
* Understand good candidates for implementation of calypso
* Release first pass at Foxlight

Responsible: @simonwex
Dev: @gvn
Dev: @mmmavis
Design: @vazquez

[2016-01-29 17:03] zee-moz commented on #679
yes! that's my understanding as well.

On Fri, Jan 29, 2016 at 11:49 AM, Cassie McDaniel <notifications@github.com>
wrote:

[2016-01-29 17:05] cassiemc commented on #712
@vazquez Can you and @my-le help with this as needed?

[2016-01-29 17:07] vazquez commented on #712
Sure thing :)

[2016-01-29 17:09] ldecoursy commented on #677
Making progress but still need a bit more time before we have something to share more broadly.

[2016-01-29 17:15] xmatthewx commented on #561
Unblocked now. Moving to next heartbeat for implementation.

[2016-01-29 17:16] simonwex commented on #631
#554 is now closed, I think most of #561 is complete.

@xmatthewx, let's dig in to the remaining work here. We're shy on dev resources in Feb 12 milestone, but I think this might just be some devops work which we have bandwidth for.

[2016-01-29 17:19] OpenMatt commented on #674
@ldecoursy and @simonwex will discuss next week

[2016-01-29 17:19] flukeout commented on #679
Indeed!

[2016-01-29 17:20] xmatthewx commented on #631
I believe this is just updating the DNS. I don't think it's actually blocked by /me redirect (#561), though that should be trivial to implement now that it's unblocked as well.

What might break? Project URLs. Rendering for thumbnail service. I think that's it.

[2016-01-29 17:23] xmatthewx commented on #631
@simonwex - add a RACI to this? dev-ops ticket here: https://github.com/MozillaFoundation/mofo-devops/issues/239

[2016-01-29 17:23] OpenMatt commented on #627
* @stephaniemcv says it isn't necessarily worth training right now, given that it's still in flux

[2016-01-29 17:23] #627 closed

[2016-01-29 17:25] xmatthewx commented on #569
Work continues as p2

[2016-01-29 17:26] ScottDowne commented on #668
@OpenMatt Same status as when I opened this. I added you to the secure bug, so you should be able to see updates in there.

[2016-01-29 17:27] OpenMatt commented on #716
@simonwex Encryption Campaign needs a blog, ideally to go live next week. Too early? We're a willing guinea pig if you're looking for one.

[2016-01-29 17:28] OpenMatt commented on #716
@simonwex says: too early this heartbeat.

[2016-01-29 17:29] OpenMatt commented on #716
@simonwex says: design requirements for this heartbeat are for UX / UI prototyping

[2016-01-29 17:33] OpenMatt commented on #706
@simonwex will follow up with @Pomax to tighten up

[2016-01-29 17:35] simonwex commented on #716
@adamlofting can you spare a few moments to help us think about this? Could we use our usual Wednesday slot?

[2016-01-29 17:36] OpenMatt commented on #705
Other threads we want to potentially connect:
1) Simon's "Planet MLN" prototype
2) Shared curriculum database

[2016-01-29 17:36] hannahkane commented on #636
WFM!

[2016-01-29 17:37] Saallen opened #717 "Scope edits to MozFest website"
Currently the 2015 website is still in 2015 festival mode and is confusing for those looking for 2016 information.
* 2015 pages is still accessible with the dates for the festival on the home page
* Buy tickets page is still visible

Would be great to alter the home page to make some small changes
* Remove the 2015 dates
* remove ticket page on top navigation bar
* add text to say 2016 dates comin

[2016-01-29 17:37] edrushka commented on #705
Curious what you envision for the final "report". Is this something static and printed like Laura DR does? Or something web-based with links to the "things"?

[2016-01-29 17:41] OpenMatt commented on #692
flagging @simonwex to follow up on Needs Dev.

[2016-01-29 17:41] edrushka commented on #717
I'll add this as a P2 for this heartbeat and will schedule a meeting for discussion. Let's plan to scope the changes this heartbeat, and do the actual work the first part of the next heartbeat (since devs are totally in short supply this heartbeat).

[2016-01-29 17:43] edrushka commented on #717
@Saallen I removed the "needs discussion" label because we use that label in the TPS calls to denote tickets that need the entire team's input. I think this ticket is small enough that we just need to secure some dev time. Feel free to re-add the label if you'd like a larger discussion.

[2016-01-29 17:48] xmatthewx commented on #716
Curious about potential partnership with Automattic. Glad to contribute. @simonwex, let's also talk about UX needs on Monday.

[2016-01-29 17:49] Saallen commented on #717
:+1:

[2016-01-29 17:50] OpenMatt commented on #645
note: @ScottDowne goes on PTO Feb 9
@alicoding + @alanmoo will also be pitching in

[2016-01-29 17:52] cassiemc opened #718 "Share results of heartbeat planning meetings & better/faster"
We should figure out a plan for better disseminating the results of better-faster activities (e.g. links to new templates), and in general, the heartbeat planning meetings.

cc @OpenMatt

[2016-01-29 17:52] edrushka commented on #717
@simonwex can you please let me know which dev might be able to help with this during the week of Feb 15? That way I can invite them to the scoping call. It's a pretty minor lift.

[2016-01-29 17:56] cassiemc commented on #718
Oh – this is a dupe of #699, I believe. You agree @OpenMatt can we close this?

[2016-01-29 17:56] #718 closed

[2016-01-29 17:58] cassiemc commented on #699
@OpenMatt my thought is we should work together on this. I can own it if you'd like.

[2016-01-29 18:01] edrushka commented on #696
@alicoding @ScottDowne please note that this got upgraded to a P1. We did this with @simonwex on the TPS call.

[2016-01-29 18:17] xmatthewx commented on #716
Thinking about our TPS conversation on `betterfaster` and the need to do fewer things to achieve that ... A dashboard feels like a phase two of this project. Q2 or even H2.

[2016-01-29 18:20] cassiemc commented on #683
@edrushka I have some thoughts about potential additions based on last year's mozfest. Will add, and we should have @lovegushwa and @natalieworth review as well.

[2016-01-29 18:20] cassiemc commented on #683
Also, @HPaulJohnson probably has thoughts around typical comms/ promotion needs.

[2016-01-29 18:25] cassiemc commented on #710
I'm interested in this as well @edrushka

[2016-01-29 18:29] cassiemc commented on #662
Science site probably won't be ready for implementation for a couple heartbeats (unless you're thinking of doing something prior to re-IA, UX, UI of the site #704

Demos were awesome though! Were they recorded? Is it possible to do a written recap of the two options in the meantime? Would love to include it in the better-faster update #699

[2016-01-29 18:42] alicoding commented on #696
Encryption first then this one, correct?

On Fri, Jan 29, 2016 at 1:01 PM Erika Drushka <notifications@github.com>
wrote:

[2016-01-29 18:54] hannahkane commented on #662
Hive sites could be ready for implementation I think. Could we push on that, @simonwex ?

[2016-01-29 18:57] edrushka commented on #696
Yes. Encryption has priority over this.

[2016-01-29 19:05] hannahkane commented on #693
Goals look good. Would love a written summary of what @simonwex shared after both @gvn and @mmmavis's demos today - about the use cases he sees each of those prototypes applying to.

Might add as part of this project that we need better processes for designating P1s (ideally something that takes into account available resources).

[2016-01-29 19:12] hannahkane commented on #640
@Pomax - assigning this to you, if that's alright. Let's talk on Monday so I can brief you on this work. @simonwex - want to be there?

[2016-01-29 19:15] ldecoursy commented on #693
+1 thanks @cassiemc!

[2016-01-29 19:15] simonwex commented on #645
@OpenMatt could you involve @alanmoo in the kickoffs next week?

[2016-01-29 19:32] cassiemc commented on #141
Woohoo, thanks @natalieworth! Update is made: https://github.com/MozillaFoundation

[2016-01-29 19:32] #141 closed

[2016-01-29 19:35] simonwex commented on #668
I'm bumping this to next HB. @adamlofting could you schedule something to discuss this? We should get it sorted asap.

[2016-01-29 19:40] gvn commented on #141
Yayyyyyy! :cake:

[2016-01-29 20:11] mmmavis commented on #691
Didn't see these two in the Overview tab in that Google Spreadsheet

- https://hivelearningnetworks.org/
- http://blog.webmaker.org/

Both are WP instances.

[2016-01-29 20:30] edrushka commented on #717
Popping in a couple more assets we may want to include. These might not work on the site, but I don't want to forget about them!
- Signs: https://www.dropbox.com/s/7tm7uckec45zu40/MLN_Signage_Spot.mp4?dl=0
- Names & connections: https://www.dropbox.com/s/0bjazipdjo3lylc/MLN_Connected_Spot.mp4?dl=0
- Marina's Journey: https://www.dropbox.com/s/2mofyusaqnnekch/MARINA_ROUGHCUT.mp4?dl=0

[2016-01-29 20:35] alanmoo commented on #667
Updated your comment with the proper link, @simonwex

[2016-01-29 20:36] cassiemc commented on #660
Here are the main things that need doing, from a list I created with @ldecoursy here: https://docs.google.com/spreadsheets/d/1X6AhlnutTL6M3xMZ-8DSIU0AI8166pz4YlXY4DODUm4/edit#gid=0

- [ ] Dapper Fox patches
- [ ] Dapper Fox stickers
- [ ] X-Ray Goggles stickers – simple logo + URL or something fun
- [ ] Thimble stickers – simple logo + URL or something fun
- [ ] Generic #teachtheweb button

We'd l

[2016-01-29 20:46] xmatthewx commented on #693
+1. +2 on the "shared understanding of common vs unique needs regarding content..." We have a lot to gain from a limited scope on the most common use cases.

[2016-01-29 20:50] xmatthewx commented on #710
I'm curious -- were any advances made with the Chicago iteration? (I know it was a very tight timeline.) Any progress on separating the "theme" from the core app?

[2016-01-29 20:51] cassiemc commented on #660
Kickoff scheduled for Monday.

[2016-01-29 21:04] cassiemc commented on #699
Let's include this in our first share-out: https://github.com/MozillaFoundation/plan/issues/693

[2016-01-29 21:07] edrushka commented on #710
@ScottDowne and @mmmavis can you weigh in? Mavis, please explain your last-minute gdoc --> json hack, even though I'm not actually sure that we used it in the end.

[2016-01-29 21:08] cassiemc commented on #691
Thanks @mmmavis! I think those are covered in the [communications inventory doc](https://docs.google.com/spreadsheets/d/1fRMLFGTBmri_ftBjbwJQDG4MUitIUuEkO20S-XPEdI8/edit#gid=0), which I'll use as the master. Feel free to review that and add anything that may be missing there...

[2016-01-29 21:57] ldecoursy commented on #674
@simonwex and I just chatted. Going to file separate tix in the devops repo to move the URL, add TOS to the footer, and gain access to the welcome/start guide copy.

Closing this now.

[2016-01-29 21:57] #674 closed

[2016-01-29 22:24] Pomax commented on #706
no tightening up as such: this is a million tickets because each ticket is a tiny thing that can be fixed with its own PR. Less tickets here is worse =) (they auto-close as PRs lang)

[2016-01-29 22:38] hannahkane commented on #706
@pomax - do you have an estimate for when this work will complete?

[2016-01-29 23:51] edrushka commented on #683
I have added my hopes and dreams to the spreadsheet. Once everyone's had a chance to weigh in, perhaps some of us can meet (at minimum, @cassiemc and I but of course anyone is welcome).

[2016-01-30 02:00] Pomax commented on #706
There will be some work that can be punted due to having been tagged as "build system" because it was identified during the build system analysis, but can technically be done as follow up, and a fair number of the issues in the list will drop away after the currently open PRs get merged in, so I expect this to still take next week as well.

[2016-01-30 08:42] ScottDowne commented on #710
@xmatthewx @edrushka I moved it into a single repo. Nothing flashy.

It wasn't as simple as I hoped, so I ended up having to cut a bunch of corners to ship the app in time for Chicago. Needs another pass.

[2016-02-01 11:38] adamlofting commented on #627
:+1:

[2016-02-01 15:12] Carotejada commented on #640
![tumblr_m3ppvemgu71r4lux2](https://cloud.githubusercontent.com/assets/14875631/12721144/3f564062-c8cc-11e5-9eaa-de1578ba8a62.gif)

[2016-02-01 15:22] cassiemc commented on #679
Last bug... https://github.com/mozillascience/working-open-workshop/issues/12

[2016-02-01 15:24] OpenMatt commented on #702
* @vazquez I just scheduled a meeting w. you to discuss the slides
* instead of using the template links @lovegushwa shared, we can just have you work directly on the board slides themselves: https://docs.google.com/presentation/d/1GSAw7cYggWRQ22NaOGja9sJYLgHdjhWrfvkGRAZCs1s/edit#slide=id.g108c3afb22_1_91
* we can review the individual slides that need design work together in our meeting, but go a

[2016-02-01 15:32] adamlofting commented on #668
@simonwex I've just sent a meeting invite.

[2016-02-01 15:36] adamlofting commented on #716
@simonwex let's talk impact stats on Wednesday (I've sent an invite for a new time this week). Agree with @xmatthewx that it shouldn't slow down V1, but this could link closely to goals for thought leadership by MoFo and MLN so it's great to start plant those seeds.

[2016-02-01 16:06] OpenMatt commented on #702
#### Deliverables
* 1) Slides
* 2) KPI document
* 3) Business Plan (Updated version 0.9)
* 4) Board Book title pages

@vazquez I will add links for all of the above

[2016-02-01 16:29] OpenMatt commented on #702
@vazquez links added for all of the above

[2016-02-01 17:13] #679 closed

[2016-02-01 17:14] cassiemc commented on #693
Cool, I'll figure out how to document and share these in #699. Thanks all!

[2016-02-01 17:16] #693 closed

[2016-02-01 17:36] omnignorant commented on #691
wondering if domains we've purchased in Chicago should be added to this list, for example: http://hivechicagobuzz.org or http://ridewit.me

[2016-02-01 17:39] adamlofting commented on #710
I'd love to learn more (and attend the call).

[2016-02-01 17:45] adamlofting commented on #705
If this `inventory` becomes an `artifact` in itself, let's put aside some future time to think about promotion and integration into network working practices. I.e. How does the inventory feed then network and vice versa.

[2016-02-01 17:45] simonwex commented on #631
Making this a P1 as I believe it's a small amount of work and it'd be good to get it off our desks.

[2016-02-01 18:31] edrushka commented on #708
https://docs.google.com/spreadsheets/d/1ee10Q_WoTBZWvjBcGxtiUb__eYTA5opFpiDhSpIMiNY/edit#gid=0 -- still in progress. This hasn't been signed off by the program leads and some dates may still shift.

[2016-02-01 19:37] cassiemc commented on #685
Kickoff scheduled for tomorrow. Will be collecting notes here: http://etherpad.io/brandauditskickoff

[2016-02-01 19:39] simonwex commented on #716
Kickoff Scheduled for 11:00am PDT, Tuesday the 2nd. Feel free to join us in my Vidyo room if you'd like to.

[2016-02-01 19:42] omnignorant commented on #705
super interested in this! let me know how I might support. I'm particularly curious about the participation `pathways` or enabling conditions (`resources`) that lead to each `artifact`

[2016-02-01 19:44] simonwex commented on #713
Kickoff scheduled for 10:00am PDT tomorrow in my Vidyo room

[2016-02-01 19:51] simonwex commented on #712
Kickoff scheduled for Wed, February 3, 12:30pm – 1:30pm PDT - Sorry about the timing, @alanmoo

[2016-02-01 20:11] cassiemc commented on #704
@kristinashu should be able to help with design/moodboard/exploration this heartbeat. Also had a brief chat with @hannahkane today and she might be willing to PM this. I'll schedule a kickoff and we can all agree on a scope and roles for this heartbeat.

@acabunoc who from your team needs to attend, other than yourself?

[2016-02-01 20:21] cassiemc commented on #662
I'd want to know if it makes sense to push forward on getting Hives into a templating system prior to any potential redesign work. Definitely don't want to be a blocker, so we can let the tech implementation drive design constraints as well, but worth asking now.

[2016-02-01 20:30] cassiemc commented on #691
@omnignorant that would be awesome, can you add them?

[2016-02-01 20:33] cassiemc commented on #716
cc @hannahkane

[2016-02-01 20:35] cassiemc commented on #716
I can't make this kickoff time but look forward to hearing about the first test case implementation on one of our existing sites (be that Science, Hives, or otherwise)

[2016-02-01 20:35] omnignorant commented on #691
@cassiemc I put that in the comms inventory right?

[2016-02-01 20:37] cassiemc commented on #691
yes please, @omnignorant – right here: [communications inventory doc](https://docs.google.com/spreadsheets/d/1fRMLFGTBmri_ftBjbwJQDG4MUitIUuEkO20S-XPEdI8/edit#gid=0) Wherever you think it makes sense, and the more columns you can fill out the better. Thanks so much!

[2016-02-01 20:44] cassiemc commented on #716
Assigned @vazquez for design support but realistically might end up a P2 for him.

[2016-02-01 20:45] cassiemc commented on #696
I'd like @vazquez to add this to his list (noting it's a P1, and should be prioritized over CMS or Mattermoz work).

@edrushka – he'll be on PTO this Friday the 5th and Monday the 8th, does that timing still work?

[2016-02-01 20:45] cassiemc commented on #712
Just noting this may end up a P2 for @vazquez b/c of Thunderbird work kicking off next week. If we can push forward on stuff this week we might be able to get further on it this heartbeat.

[2016-02-01 20:53] edrushka commented on #696
Yes, that timing should work. @gerv - do you have an eta for the final copy? That will dictate any font size/spacing changes we need to make on the forms.

[2016-02-01 21:22] hannahkane commented on #662
Should we close this ticket in lieu of #716?

[2016-02-01 21:24] hannahkane commented on #704
I'd be excited to PM this, if that role is needed. Will attend the kickoff.

[2016-02-01 22:18] xmatthewx commented on #672
Is this on your list of benchmarks? [TeachersPayTeachers](https://medium.com/bright/millions-of-teachers-minting-millionaire-teachers-decc4fe41604#.i3w8442op). Some interesting insight in the article.

[2016-02-01 22:40] mmmavis commented on #710
I didn't have the confidence to do to much rewrite within the tight timeframe.  To minimize changes to the existing app all I did was formatting the exported the data from Google Spreadsheet to its MozFest Schedule equivalent (e.g, Moonshot -> Pathway etc).

We didn't have the time to modify the Python script nor set up any cron job for fetching and pushing Spreadsheet changes. As an quick alterna

[2016-02-01 22:45] hannahkane commented on #672
Wow, yeah, lots of good stuff in that article. Thanks for sharing. I added it to https://github.com/mozilla/teach.mozilla.org/issues/1443 where we're tracking benchmarks.

[2016-02-02 09:10] acabunoc commented on #704
Hey all, the team is work week-ing and running workshops in Berlin this week -- might be tough to schedule a kickoff soon (sorry!)

[2016-02-02 17:03] gerv commented on #696
Wow, you guys work fast. No, no ETA on final copy. Not even sure who in the TB community is working with me on it yet! They don't move as quick as you do. I'll poke them.

[2016-02-02 17:23] amirad commented on #636
I do like those science templates and am totally open for something in that realm. Git-level with vary within our team but github is the best option IMO. Some guides we will rarely edit, unless to add links or other info, and some guides I edit on monthly basis.

@hannahkane I didn't know if it was easier so I pulled out guides and resources into this doc: https://docs.google.com/document/d/1qLwEJ

[2016-02-02 19:24] OpenMatt commented on #702
Thanks for all your great work on this @vazquez ! I think we're done.

[2016-02-02 19:24] #702 closed

[2016-02-02 21:56] hannahkane commented on #636
Met with @flukeout and @amirad today. Filed tickets: https://github.com/mozilla/learning-networks/issues/332 and https://github.com/mozilla/learning-networks/issues/333

[2016-02-02 23:31] HPaulJohnson opened #719 "Create a new blog for Advocacy Work"
Bring up a new blog for advocacy that will give us a platform for campaign-specific content as well as content about movement building in the open work we are doing. Longer term, some of this content would be syndicated in a larger, foundation-wide blog.

More detailed requirements to follow shortly.

cc/ @simonwex @valianttry

[2016-02-03 00:18] HPaulJohnson commented on #719
Here's a crack at some requirements (plus some background and framing as to why it's valuable work). @valianttry - please add any additional requirements to this doc.

https://docs.google.com/a/mozilla.com/document/d/1zOwiK6CLrrBYY5KxA3YOqjltG7PnBGMLizfGCeeAqfc/edit?usp=sharing

[2016-02-03 02:04] Pomax commented on #569
techical nit: goggles isn't getting decommissioned, only the webmaker.org/goggles location is, so for point 11 we need a bit to inform currrent users to go use the new bookmark on goggles.mozilla.org instead

[2016-02-03 15:17] OpenMatt commented on #719
@simonwex : can you assign this to the correct heartbeat milestone? And list any next steps re: dev, etc?

[2016-02-03 15:25] cassiemc commented on #704
I've rescheduled for next week.

[2016-02-03 17:39] cassiemc commented on #641
This has launched, great job team! advocacy.mozilla.org

[2016-02-03 17:39] #641 closed

[2016-02-03 17:43] cassiemc commented on #681
Renaming this to better reflect a scoped task, which is to finish the mofo design audit. https://github.com/MozillaFoundation/Design/issues/94

[2016-02-03 17:51] cassiemc commented on #681
I'll drive this, with @kristinashu assigned. We'll be discussing the scope of work at today's kickoff.

[2016-02-03 18:20] edrushka commented on #705
As an easily digestible, public "report", this is an interesting format: https://ca.warbyparker.com/year-in-review-2014 via @benrito

[2016-02-03 21:34] benrito commented on #705
@xmatthewx we're a similar inventory of research + issues, see for instance: https://docs.google.com/spreadsheets/d/1AmAufOHeo7akmfZlzD0e7_tmQBzk6DNVO5pI3fNcNZU/edit#gid=227852233

Can we get together to share notes? Would love to co-develop a single inventory.

[2016-02-04 00:22] edrushka commented on #717
Update: we don't have dev capacity this heartbeat so we'll likely have to push this to the end of Feb. @Saallen - can we combine all those changes into a single round of updates that will tide us over until we open "submit a session" proposals?

- Remove the 2015 dates
- Remove ticket page on top navigation bar
- Add text to say 2016 dates coming soon
- Add email sign up for updates
- Add 2016 vid

[2016-02-04 21:40] hannahkane commented on #561
@cadecairos - are you able to do this this heartbeat?

[2016-02-04 22:00] cassiemc commented on #704
Sorry to reschedule again, but seeing that Monday Feb 8 is a BC holiday, we'd only have a bit of @kristinashu's time next week anyway, so I think it would be better to start fresh with the next heartbeat. Any objections to this plan @acabunoc @hannahkane ?

[2016-02-04 22:05] acabunoc commented on #704
That works better for me, too! No objections here :)

[2016-02-05 16:48] cassiemc commented on #678
I think this is as finished as it's going to get and it's already being put to good use in the design audit. I'm sure it will come in handy later for other tasks as well.

[2016-02-05 16:48] #678 closed

[2016-02-05 16:50] cassiemc commented on #663
We decided not to do this in the end. We intend to move on the plenty of ways we can have an immediate impact, particularly with @edrushka's new events role. Some other green team ideas/initiatives will be filed here: https://github.com/MozillaFoundation/green/issues

[2016-02-05 16:50] #663 closed

[2016-02-05 17:00] cassiemc commented on #685
At the kickoff, @kristinashu @lovegushwa and @sabrinang and I agreed on an appropriate scope which I'll add to the first comment on this issue. Mostly we agreed that the outcomes are so based on the audit work that this task will be less overwhelming if it is phased, and that this current phase 1 should be about understanding all our various properties, drawing relationships between them, and surf

[2016-02-06 00:16] hannahkane commented on #672
Updated title and first comment to reflect that this ticket is now just about the summary of findings; a deck is no longer needed

[2016-02-06 00:31] hannahkane commented on #661
Just chatted with @sabrinang. Between the Web Lit Map and the Style Guide, it's likely she won't have time to work on this next week. @cassiemc - ok to roll to next heartbeat? Web Lit Map and Style Guide feel more urgent.

[2016-02-06 12:15] Melechuga opened #720 "OWF Comms Plan, 2016"
*Detailed goals in Open Web Fellows 2016 Comms Plan [Google Docs] (https://docs.google.com/document/d/1x8lUU_rUF-WfgQNjyaI-u6fQ8IG1hLrjeJai3TrZ7U0/edit)*

**RASCI:**
R: Kevin Zawacki @KevZawacki
A: Paul Johnson @HPaulJohnson
S: Brett Gaylor @brettgaylor  Melissa Romaine
C: Fellows, Sam Burton, host org. communications teams
I: MoFo comms

**Overview:**
The first quarter of 2016 marks a major momen

[2016-02-08 13:33] Saallen commented on #717
Is there anyway we can get the date removed from the main page?
As at present it doesnt even say 2015 on there is its very confusing especially with the ticket link above

[2016-02-08 14:57] cassiemc opened #721 "Clean up Github people Teams"
There are a lot of different teams under the Mozilla Foundation repo: https://github.com/orgs/MozillaFoundation/teams which are not necessarily intuitively named or labeled or up-to-date. This makes is difficult to manage who has access to what repos, and hard for new-hires and new Github converts to know if they are doing something wrong when trying to update a repo proves difficult, when it's us

[2016-02-08 15:43] cassiemc commented on #661
Yes, wfm @hannahkane.

[2016-02-08 15:51] cassiemc commented on #660
Note: @ldecoursy @vazquez @my-le I elevated this issue to a P1 since it's My's only task this heartbeat, and I added the assets checklist to the first issue so we can track progress.

[2016-02-08 16:19] cassiemc commented on #720
@Melechuga you should have access now if you to move it. Looked like a great bug.

[2016-02-08 17:02] hannahkane commented on #721
I'm in!

[2016-02-08 17:07] hannahkane commented on #659
This ticket is a milestone that has passed. Should we roll into current or future milestone?

[2016-02-08 17:07] hannahkane commented on #650
This ticket is a milestone that has passed. Should we roll into current or future milestone?

[2016-02-08 17:07] hannahkane commented on #649
This ticket is a milestone that has passed. Should we roll into current or future milestone?

[2016-02-08 17:08] hannahkane commented on #611
This ticket is a milestone that has passed. Should we roll into current or future milestone?

[2016-02-08 17:13] hannahkane commented on #640
Changing to P2 in order to:
 * respect a reasonable P1 limit
 * reflect reality (this is unlikely to get done at this point in the heartbeat)
 * acknowledge that this project is in flux in terms of scope (i.e. need to understand if we're forking or expanding the portal, and whether we should just add Clubs or also other local groups)

cc @chrislarry33 @davidascher @ldecoursy

[2016-02-08 17:38] hannahkane commented on #707
Copy is done. w00t! Good progress on map design as well.

[2016-02-08 17:38] hannahkane commented on #692
If we're going to prioritize this for this heartbeat, we need a dev.

[2016-02-08 17:39] hannahkane commented on #672
This will close tomorrow.

[2016-02-08 17:43] hannahkane commented on #707
The only part I'm worried about here is updating the whitepaper. Need more info from @anmechung about whether design and dev resources are needed.

[2016-02-08 17:45] hannahkane commented on #706
bleev this is on track to finish this week

[2016-02-08 18:29] cassiemc commented on #699
Am thinking to start with a wrap up email at the end of every heartbeat. I'll with one intro to the better/faster initiative, links to resources, and high-level status updates on the CMS / Calypso activity, IA plans and design audit, + any other in-progress better/faster bugs (will need to look).

@OpenMatt is it helpful if I put this together? I can send this on Friday or Monday.

[2016-02-08 19:33] Melechuga commented on #720
Thanks @cassiemc!
@KevZawacki @HPaulJohnson @brettgaylor: Please follow this ticket; thanks!

[2016-02-08 21:34] hannahkane opened #722 "Plan and execute an "estimated effort" process (MLN)"
As part of our H1 planning process, we have isolated the production work (read: work that requires design and development resources) implied by our strategic plan.

One of the next steps is to have designers and engineers become familiar with the work and provide effort estimates. Note: we are *not* asking for **time** estimates, which are notoriously inaccurate and which many people would be (rig

[2016-02-08 21:35] hannahkane commented on #722
cc @ldecoursy @chrislarry33 @davidascher

[2016-02-09 09:45] adamlofting commented on #659
I think we can close this now.

An update was shipped for the board meeting, and any follow up work can be captured in new tickets.

[2016-02-09 09:45] #659 closed

[2016-02-09 13:02] LauraReynal commented on #649
This is done ! Closing.

[2016-02-09 13:02] #649 closed

[2016-02-09 13:02] LauraReynal commented on #650
Currently happening. Can close.

[2016-02-09 13:02] #650 closed

[2016-02-09 16:24] edrushka commented on #717
@simonwex can we get dev to either remove the date on the homepage, or clarify by adding "2015"?

[2016-02-09 16:26] edrushka commented on #721
I'd check with @simonwex as I believe there is some logic to the way things are currently set up.

[2016-02-09 16:34] cassiemc commented on #717
@edrushka I would also remove the 'buy tix' section on the homepage, and take it out of the nav, no? IMO adding the year would be clearer. So, text amended to "NOVEMBER 6-8, **2015** IN LONDON"

[2016-02-09 16:37] edrushka commented on #717
@cassiemc yes, but that's part of a larger set of changes outlined above. The very immediate need is to indicate that the dates on the site are from last year.

[2016-02-09 18:08] cassiemc commented on #681
This is on track. Kickoff notes were here (I'll add a checklist to the top comment): http://etherpad.io/brandauditskickoff

Progress so far can be seen here: https://docs.google.com/a/mozilla.com/presentation/d/13v_Rr2ypxscqSZWksLAzc5TZ8NRy0MuGSP9yK-FEKFo/edit?usp=sharing

Next steps for @kristinashu:
- [ ] document social media accts
- [ ] add tags for photography, voice & tone, personas
- [ ] ma

[2016-02-09 19:15] hannahkane commented on #716
Another possible candidate for CMS prototyping: Clubs Resources portal. @amirad and others are creating dozens of resource for Club Captains, using github pages. Would be great to have an easily updateable home for all of these resources.

[2016-02-09 19:36] simonwex commented on #717
@alanmoo could you help @edrushka to provide some technical perspective?

[2016-02-09 19:40] edrushka commented on #717
@alanmoo - if you could change the homepage to read '2016 dates coming soon' instead of November 6-8 in London', that should tide us over for a couple weeks. Thank you!

[2016-02-09 20:03] gvn commented on #716
@hannahkane can you point me to their current implementation?

[2016-02-09 20:07] hannahkane commented on #716
@gvn - currently the resources are a list living in a [google doc](https://docs.google.com/document/d/1qLwEJZXF6Dz1wZ71AIC8t8n1LHPC6n99kZdFTuvB-LQ/edit). @amirad would love to have an attractive page somewhere that she can easily add to/edit.

[2016-02-09 20:11] simonwex commented on #721
This is a great idea.

Most of the team-management work is done! We have three teams in each org. The idea is that we can audit them on a regular basis against our current staff list. All members of these groups have sufficient access to all mofo projects so that they can:

 * Create/modify labels
 * Create issues
 * Make changes (commits)
 * Edit wikis
 * Create new projects (repos)

The three gr

[2016-02-09 20:12] gvn commented on #716
I bet that would be a good fit for Mage. What do you think @simonwex ?

[2016-02-09 20:22] simonwex commented on #716
I'd like to first see how much of it we could do with Calypso.

[2016-02-09 21:35] hannahkane commented on #672
This is done. See the research findings here: https://github.com/mozilla/teach.mozilla.org/wiki/Curriculum-Database-Research-Findings

[2016-02-09 21:35] #672 closed

[2016-02-09 22:08] hannahkane commented on #640
Officially moving this out of the milestone.

[2016-02-09 22:09] hannahkane commented on #534
Flagging based on lack of updates

[2016-02-09 22:22] gvn opened #723 "Build React boilerplate"
Create a simple React boilerplate that can be cloned as a starting point for new projects.

cc: @simonwex

**Basic Requirements:**

- Integrates `mofo-style`
- Has a clear folder structure / scaffold
- Doesn't try to *do-all-the-things* (AKA: Not a framework. Edits should be additive, not subtractive.)
- Uses npm as a task runner and has standard tasks set up (eg: linting, transpiling)
- Includes

[2016-02-09 22:33] edrushka commented on #717
Done! Thanks @alanmoo and Wex. I'm going to close this ticket now and re-file another one for the next heartbeat.

[2016-02-09 22:33] #717 closed

[2016-02-09 23:56] edrushka commented on #683
@cassiemc shall I set up a meeting to discuss? Perhaps we could create a prioritized list of templates and talk about timelines and design capacity.

[2016-02-10 00:39] simonwex commented on #534
Communication with Souktel has stalled. I've communicated that we'll be moving on and completing the work ourselves. I'll file the issues for next week's HB.

[2016-02-10 01:00] KevZawacki commented on #720
@brettgaylor and @Melechuga, our blog post is coming along nicely. All that's left is dropping in sound bites from 2015 host organizations.

When you have a moment, can you [take a look](https://docs.google.com/document/d/1ArP7FlUMLPepoLExDCq7EzfdK_wjH6NsqmXRgNPhCLA/edit) and share feedback? Is the tone / content / structure on target?

I'd also like to share the OWF bios with each of the fellows,

[2016-02-10 06:47] valianttry opened #724 "Closeout Sale assets for gear.mozilla.org"
We will be closing the gear.mozilla.org online store. **We have not yet announced the closing of this store to the broader community. That needs to happen thoughtfully.** There is a lot of merchandise currently warehoused that we'd like to move asap. That means a BIG SALE. We need to design a few assets for the site that advertise a deep discount sale (e.g. 50% off). I'm getting details from our v

[2016-02-10 16:53] cassiemc commented on #683
Sounds good @edrushka

[2016-02-10 16:55] cassiemc commented on #724
Ideally @natalieworth can help with this, but I'll need to understand upcoming campaign plans & scope. We can discuss at heartbeat planning this Friday.

[2016-02-10 17:03] cassiemc commented on #704
If @hannahkane can drive this, does it make sense for you to dev @acabunoc? If so, we can remove the 'needs dev' label. cc @simonwex

[2016-02-10 18:36] simonwex commented on #712
Our trial is underway and issues are being filed.

Here's the email that was sent out to design and eng:

If those in the TPS group would like to join the conversation, feel free! You can use the instructions above.

[2016-02-10 18:44] ldecoursy commented on #715
Pinging @simonwex to see if you've heard back about setting this up. Or is there another option we should look into for the short-term?

[2016-02-10 18:48] ldecoursy commented on #714
Lots of progress on web literacy activities using Thimble and X-Ray Goggles, plus working with Gigabit team to explore if/how to connect to current RFP or other local PD opps.

The new campaign website launched this week: http://letters2president.org/ and Mozilla is listed, plus I now have access to add new activities/opportunities via wordpress as they firm up.

I'm closing this ticket and will f

[2016-02-10 18:48] #714 closed

[2016-02-10 19:53] acabunoc commented on #704
Can we clarify the scope on this first? Maybe when we meet next week?

I was hoping to interface with the design team like I would an external agency. I'm happy to take on dev work in the short term, but I think we'll definitely need help past phase 1. I do want to be involved on the development side, but we just launched a mentorship program that will take a significant amount of my time.

Let me

[2016-02-10 20:17] xmatthewx commented on #712
works great @simonwex

[2016-02-10 22:26] hannahkane commented on #561
@simonwex - suggest moving to next heartbeat as a P2, given the many other priorities. What do you think?

[2016-02-10 23:19] edrushka commented on #708
This is done: https://docs.google.com/spreadsheets/d/1ee10Q_WoTBZWvjBcGxtiUb__eYTA5opFpiDhSpIMiNY/edit#gid=0

Will either share with an @all-mofo email or on the next staff call.

[2016-02-10 23:19] #708 closed

[2016-02-10 23:25] edrushka commented on #709
Update:
- date will most likely be somewhere in the first 2 weeks of April (MozRetreat is 3 days long)
- location still TBD. Will most likely be Europe or the UK.
- guest list in progress. Need to confirm with Mark and program leads

Moving this to next milestone.

[2016-02-11 11:30] adamlofting opened #725 "Preparation work for Thimble Learning Analytics project"
`Needs Dev` - I might need a small amount of engineering support to get some sample data / schema notes about Thimble during this heartbeat. No new development work required though.

Tasks:
- [x] Explore and document existing Thimle data schema (inc a sample row of data per table)
- [x] Explore API - what data is public / private
- [ ] Share Meen Chul Kim's draft research proposal with the team: h

[2016-02-11 20:11] cassiemc commented on #699
Here's the outline I'm thinking for an email I'd like to sent to all@mofo Tues 16th (Monday is Family Day in ON). Suspect I will need to update this after a meeting with @hannahkane @simonwex in a bit.

* **[What is Better/Faster](https://github.com/MozillaFoundation/plan/issues?utf8=%E2%9C%93&q=label%3Abetterfaster+)**
 - Overview
 - [Q1 goals](https://github.com/MozillaFoundation/plan/issues/693

[2016-02-11 20:20] elioqoshi commented on #724
Can we link this with an issue in Community Design too?
https://github.com/mozilla/Community-Design

[2016-02-11 20:50] simonwex opened #726 "[Mar 8] CMS use cases: community call landing page template, learning resources templates"
This is where we make our work with Calypso real. We still have a few things to figure out, but generally we'll be:

 * Continuing work on [Foxlight](https://github.com/mozilla/foxlight)
 * Building a react template to consume the WP API for community call pages
 * Building react components to display airmo or youtube videos
 * Taking @flukeout's work on learning resources and re-implementing with

[2016-02-11 20:54] simonwex opened #727 "Push Badges to a staging server for testing with real users"
We need to review [this](https://github.com/mozilla/teach.mozilla.org/pull/1427/files) PR and complete the final layers of integration.

Driver: @simonwex
Dev: @Pomax

[2016-02-11 20:56] cassiemc commented on #685
Updating the milestone. The Mofo audit and teach audit are just finishing this heartbeat and would like some time to thoughtfully approach how to share the findings.

[2016-02-11 21:12] hannahkane commented on #677
@ldecoursy - is this likely to close tomorrow?

[2016-02-11 21:13] cassiemc commented on #683
@edrushka based on our convo today do you think we should apply the ```likely to close``` label?

[2016-02-11 21:31] edrushka commented on #683
I think we can close since technically we've looked at our needs and made a plan. Next step is implementation, which will be filed through individual tickets.

For those following this ticket, Cassie and I made a shortlist of items to templatize as a first step:
- lanyard/name tag
- handout/guidebook
- poster
I will connect with @ldecoursy  to discuss which upcoming Hive event makes the most sense

[2016-02-11 21:31] #683 closed

[2016-02-11 21:32] simonwex commented on #668
Hey @adamlofting, we never rescheduled our meeting. I'm going to bump this to next HB, can you still PM it then? Do you have an idea for what you'll need from a resource perspective?

[2016-02-11 21:36] ldecoursy commented on #677
Nope. We've made progress identifying current work happening towards H1 goals, and have a better sense of what's happening in Q1 vs. Q2, but there are still a few bits of work that don't yet have owners - that's the next phase. I'm going to move this back a bit and remove P1 label for now.

[2016-02-11 21:40] simonwex commented on #561
Will update for tomorrow.

[2016-02-11 21:41] simonwex commented on #534
:-1:

[2016-02-11 21:41] #534 closed

[2016-02-11 21:55] simonwex commented on #719
Hey @OpenMatt, we're not going to be ready next week to start on this in ernest, but are working on the infrastructure to support this. I'm moving to the following milestone. Please let me know if this is a problem for you.

[2016-02-11 21:55] edrushka commented on #683
@OpenMatt  Is there some weird Github thing happening where a robo-Matt removes the p2 label on closed tickets? I've noticed this a few times.

[2016-02-11 22:12] edrushka commented on #699
Looks good to me, Cassie!

[2016-02-11 23:11] simonwex commented on #715
hey @ldecoursy, if IT hasn't figured out how to enable our accounts by tomorrow, let's create them under separate gmail accounts and have the master details in our vault.

[2016-02-12 00:43] hannahkane commented on #706
@Pomax - are we able to close out this ticket now?

[2016-02-12 00:43] hannahkane commented on #636
Going to close this out, and sync this project up with the CMS project here: https://github.com/mozilla/mofo-cms-experiment/issues/21

[2016-02-12 00:43] #636 closed

[2016-02-12 06:04] simonwex commented on #716
https://github.com/mozilla/foxlight

[2016-02-12 06:04] #716 closed

[2016-02-12 06:05] simonwex commented on #713
This is complete, moving on to Brackets.

[2016-02-12 06:05] #713 closed

[2016-02-12 06:06] simonwex commented on #696
Moving this to our next Heartbeat. @gerv do you have an update from your end?

[2016-02-12 06:13] simonwex commented on #712
![image](https://cloud.githubusercontent.com/assets/25260/13000216/8ffc2a0c-d10c-11e5-9fd6-a3e9988c13d6.png)

![image](https://cloud.githubusercontent.com/assets/25260/13000222/985be3f4-d10c-11e5-9a96-ae453dc66330.png)

[2016-02-12 06:36] simonwex commented on #712
Thanks @xmatthewx! We're happy with it so far. I think the next HB should be about collecting feedback and planning any changes required before we invite the rest of the org.

[2016-02-12 06:36] #712 closed

[2016-02-12 06:37] simonwex commented on #710
@edrushka did this call happen?

[2016-02-12 06:39] simonwex commented on #561
[Done!](https://github.com/mozilla/webmaker-browser/pull/228/files)

[2016-02-12 06:39] #561 closed

[2016-02-12 06:42] simonwex commented on #615
Our specific need for Android devices no longer exists. I'm going to work with @jlin to make sure we have a few tablets available in our offices for testing purposes of touch interactions. Other requirements for devices is covered by emulators and personal devices.

[2016-02-12 06:42] #615 closed

[2016-02-12 06:46] simonwex commented on #631
One last piece to do here. Hopefully we can get this done tomorrow/today/Friday: https://github.com/MozillaFoundation/mofo-devops/issues/239

[2016-02-12 06:50] simonwex commented on #569
This is ongoing work. I'm going to track this in this repo slightly differently in the future as a standing devops ticket.

[2016-02-12 06:51] simonwex opened #728 "Devops Activities for Feb 26"
- [x] Prepare advocacy.mozilla.org for snippet traffic
https://github.com/mozillafoundation/mofo-devops/issues/272

 - [x] Replace the old goggles content with a "please get the new one" notice
https://github.com/mozillafoundation/mofo-devops/issues/270

 - [x] Create hosted zone for netgainchallenge.org
https://github.com/mozillafoundation/mofo-devops/issues/269 opened

 - [x] Turn off or redirec

[2016-02-12 07:02] simonwex commented on #701
Related to #728

[2016-02-12 09:16] adamlofting commented on #668
This would benefit from an engineer who can push a bunch of small changes across many systems (that's vague because sec bug) but I think you know what I mean by that.

I can scope out the list of tasks.

[2016-02-12 10:24] gerv commented on #696
@simonwex: the work is going on in the copy ticket, mozilla/donate.mozilla.org#1280.

[2016-02-12 15:00] OpenMatt commented on #705
@xmatthewx status?

[2016-02-12 15:01] OpenMatt commented on #699
@cassiemc I think this is great, and timing is great. Staff meeting happening Feb 17, so that will be a chance for us to link to some of this from the agenda as well.

[2016-02-12 15:02] OpenMatt commented on #699
@cassiemc note also that we are hiring a new internal comms person soon that should be able to provide additional help on issues like these.

[2016-02-12 15:03] OpenMatt commented on #666
@edrushka status?

[2016-02-12 15:04] OpenMatt commented on #660
status?

[2016-02-12 15:04] OpenMatt commented on #656
rolling over again

[2016-02-12 15:11] OpenMatt commented on #645
Work is ongoing.

#### Design
Design tasks: https://github.com/MozillaFoundation/encryption_campaign/issues?q=is%3Aissue+is%3Aopen+label%3Adesign
@lovegushwa: can you provide an update on what design resources are needed this Heartbeat? e.g., @natalieworth 's time allocation, etc.?

#### Dev
Dev tasks are here: https://github.com/MozillaFoundation/encryption_campaign/labels/dev
@alanmoo is still f

[2016-02-12 15:14] vazquez commented on #660
We are done! Just closed our last issue.

[2016-02-12 15:14] cassiemc commented on #660
All done! Great work @vazquez @my-le.

@ldecoursy All the files you need should be here: https://drive.google.com/a/mozilla.com/folderview?id=0BzfN9sXlOXt1SG9wVDY5TzdLUWs&usp=sharing

[2016-02-12 15:14] #660 closed

[2016-02-12 15:15] OpenMatt commented on #704
@cassiemc @simonwex are we planning to take a more templated / reusable approach to this site, as opposed to custom one-off, in the spirit of betterfaster?

[2016-02-12 15:28] hannahkane commented on #704
@OpenMatt, yes, @simonwex @cassiemc and I discussed yesterday, and this is a candidate for the CMS project, but we're going to take a heartbeat to prep this project and then revisit at the end of the heartbeat to see where we are. In the meantime, we'll be prototyping other projects with Calypso.

[2016-02-12 15:28] anmechung commented on #707
@hannahkane and I discussed, minimal/no design and dev resources needed as using existing designs per @sabrinang suggestion

[2016-02-12 15:33] xmatthewx commented on #710
Meeting will be rescheduled due to conflict for several key people.

[2016-02-12 15:56] xmatthewx commented on #705
What do Agate, Flexbox Froggy, and Command Line bootcamp have in common? Wouldn't we all like to know?

Good progress on this. I've completed a range of conversations with staff and built a light-weight prototype. I will pull together a summary of observations and recommendations as conversations continue next week.

I'll bump this ticket to next heartbeat with plans to close it and file followup

[2016-02-12 16:27] edrushka commented on #666
Sarah, Claw and I have finished the Convenings 2016 plan and will be distributing it for review on Monday Feb 15. Closing this.

[2016-02-12 16:27] #666 closed

[2016-02-12 16:39] #707 closed

[2016-02-12 16:40] #706 closed

[2016-02-12 16:42] cassiemc commented on #681
Close, but a couple comments to address from review.

[2016-02-12 16:48] cassiemc commented on #699
Sounds good, thanks @OpenMatt. Will update this bug after TPS today.

[2016-02-12 16:49] samanthaburton opened #729 "Create & execute internal communications strategy for 2020 business plan"
**Full plan here:** https://docs.google.com/document/d/1fyNVt6gW-qt2VU6eovOBR0fkCisS2PmG-8g3VDIPROo/

D - Mark
A - Sam
R - Sam, Angela, Kevin, Paul
C - Chris, Lainie, Sara, Andrea, Cassie, Simon, Ben, Mark... likely others!
I - all MoFo, MoCo close collaborators

**Objective (what is success by May 2016?)**
If we have successfully communicated a compelling 2020 Mozilla Foundation strategy, the bro

[2016-02-12 16:53] cassiemc opened #730 "Plans for International Women's Day?"
Are we still intending to do a campaign for this in March? @valianttry @HPaulJohnson @shaghdoosti @brettgaylor

[2016-02-12 16:53] samanthaburton commented on #699
Looks good @cassiemc! Thanks for including the comms piece.
RE: internal comms for 2020 business plan - filed as ticket #729 & will likely be sharing more detail at the Feb 17 staff meeting

[2016-02-12 17:09] edrushka opened #731 "Design convenings assets (templates)"
I'll be working with a designer to get this started. Individual tickets will be filed for each asset.

[2016-02-12 17:11] OpenMatt commented on #725
@adamlofting can you some added context around *timelines* for this work? key deadlines, etc? (will be helpful in terms of prioritizing what needs to be done this hb vs. next)

[2016-02-12 17:19] adamlofting commented on #725
The plan is still being worked out, but current aim is to start the project mid March.

But, there's prep work needed for the research proposal, which this ticket relates too. The dev need is to document the existing data structure to inform the research proposal.

[2016-02-12 17:21] OpenMatt commented on #730
@shaghdoosti says: we're not running a major campaign. Different departments are planning decentralised events etc and were coordinating but there isn't going to be a big scale engagement

[2016-02-12 17:21] OpenMatt commented on #730
@ldecoursy has a list of other events / activities we're running around it tho

[2016-02-12 17:21] #730 closed

[2016-02-12 17:26] hannahkane commented on #726
@simonwex - just checking. Are you using "community call landing page" as a generic content type here? Wanting to make sure we'll cover the Curriculum Workshop landing page, since that's needed before the Ed Hub Community Call landing page.

[2016-02-12 17:28] gvn commented on #726
Are we going with React as a proof of concept? It doesn't seem like the right choice for a mostly static site.

[2016-02-12 17:32] OpenMatt commented on #696
@edrushka can you list final dev tasks required to close?

[2016-02-12 17:34] edrushka commented on #696
All thunderbird tickets are tracked here: https://github.com/mozilla/donate.mozilla.org/issues?q=is%3Aopen+is%3Aissue+label%3AThunderbird

[2016-02-12 17:34] OpenMatt commented on #680
main next piece of work is getting access to Google Analytics data for these sites.

[2016-02-12 17:36] OpenMatt commented on #564
moving to next milestone as per @simonwex suggestion

[2016-02-12 17:37] OpenMatt commented on #696
moving to p2 as per @simonwex

[2016-02-12 17:40] cassiemc commented on #680
I'll drive but might lean on some designers and @adamlofting for a bit of help.

[2016-02-12 17:41] simonwex commented on #564
@secretrobotron I'm actually going to remove the milestone here.  When you're back from India, feel free to inject it back into the process.

[2016-02-12 17:45] OpenMatt commented on #724
@valianttry for a bit of context: why are we closing the gear store?

[2016-02-12 17:47] cassiemc commented on #724
@elioqoshi We're going to try to keep this in-house as it's a tight deadline with external dependencies and we have designers who have worked on it before.

[2016-02-12 17:48] OpenMatt commented on #692
pushing to next heartbeat. needs discussion w. @davidascher

[2016-02-12 18:05] hannahkane commented on #611
I'm pulling this out of the milestone, so we can close the milestone.

[2016-02-12 18:05] #611 closed

[2016-02-12 18:12] hannahkane commented on #705
@xmatthewx - wasn't sure whether to label this with production or program label. (or both!)

[2016-02-12 20:31] cassiemc commented on #724
I've added the at-risk label because of the 'needs-driver' issue. It'd also be good to clarify the list of deliverables asap so it doesn't eat too much into production time, especially given Monday's a holiday. I'm sure this is easily gotten back on track but I'd like to see those two pieces resolved quickly if possible.

[2016-02-12 20:32] cassiemc commented on #692
@hannahkane does this still need the at-risk label?

[2016-02-12 20:41] cassiemc commented on #731
Assigning to @edrushka, assuming that's correct :)

[2016-02-12 21:11] edrushka commented on #731
I was waiting to hear what designer would be helping me so I could assign to them, but sure - I can be the proxy.

[2016-02-12 21:20] hannahkane commented on #692
no, removing

[2016-02-12 21:35] cassiemc commented on #731
@edrushka I thought it was standard in the plan repo to assign the driver. Sub-tickets in whatever granular issues would be assigned to the designer. This one should include a DARCI that lists those responsible.

[2016-02-12 21:47] edrushka commented on #731
Sure, that works! Just let me know when you assign a designer and I'll add the DARCI.

[2016-02-12 21:48] cassiemc commented on #731
@sabrinang is assigned :)

[2016-02-12 22:11] cassiemc opened #732 "Review cross-Mofo audit of Fellowship programs"
@kristinashu did an awesome content analysis of all the fellows programs in https://github.com/MozillaFoundation/movement-building/issues/65

Doc here: https://docs.google.com/a/mozilla.com/spreadsheets/d/1c-JsTdHUSX7Z_cOxlDZ8z3rFgZOLPt9aeYKTpwK1b4c/edit?usp=sharing

Email sent to program reps for OWF, Science & News:

Got an out-of-office reply from @kaythaney so hoping to schedule once she's bac

[2016-02-12 22:11] cassiemc commented on #732
@hannahkane Unsure which strategy label to apply here. Do the fellows programs fall under 'membership'?

[2016-02-12 22:12] cassiemc commented on #732
@davidascher or @chrislarry33  would you like to attend this meeting, whenever it gets scheduled?

[2016-02-12 22:18] cassiemc commented on #681
We made significant progress on this front this heartbeat, thanks @kristinashu! The visual audit is here: https://docs.google.com/presentation/d/13v_Rr2ypxscqSZWksLAzc5TZ8NRy0MuGSP9yK-FEKFo/edit#slide=id.g10987373c5_0_222

We'll be moving on to phase two in #685

[2016-02-12 22:18] #681 closed

[2016-02-12 22:26] cassiemc commented on #685
**Next step:**
- [ ] fill out the gaps in [this document](https://docs.google.com/spreadsheets/d/1fRMLFGTBmri_ftBjbwJQDG4MUitIUuEkO20S-XPEdI8/edit#gid=2008361845 ), an evolution of the Comms inventory doc (second tab).

This is basically a repetition of the [visual design audit here](https://docs.google.com/presentation/d/13v_Rr2ypxscqSZWksLAzc5TZ8NRy0MuGSP9yK-FEKFo/edit#slide=id.g10987373c5_0_222

[2016-02-12 22:27] cassiemc commented on #680
Let's try to complete the purple "Impact of Change on Audience" section in this doc: https://docs.google.com/spreadsheets/d/1fRMLFGTBmri_ftBjbwJQDG4MUitIUuEkO20S-XPEdI8/edit#gid=2008361845

[2016-02-12 22:34] cassiemc opened #733 "Internal Comms for better/faster work - Feb 26"
* **[What is Better/Faster](https://github.com/MozillaFoundation/plan/issues?utf8=%E2%9C%93&q=label%3Abetterfaster+)**
 - "better/faster" is an initiative to help get our Mofo house organized, efficient, and more effective, with implications for resourcing, tooling, branding and org-wide storytelling relating to our 2020 strategy. It’s also a label in Github in the Plan repo that tracks related wo

[2016-02-12 22:41] cassiemc commented on #699
Rolling this over to make sure I send it on Feb 16.

[2016-02-13 00:10] hannahkane commented on #732
Interestingly, Fellowships don't appear in the H1 plan at all. @ldecoursy @chrislarry33 - is this an oversight? I'd guess they should fall under "membership."

[2016-02-15 10:17] adamlofting commented on #680
I've filled in all the data we/I have from Google Analytics . Some of the other sites might have their own GA which I don't have access too, but the big stuff is covered.

[2016-02-15 10:22] adamlofting commented on #668
flagging in #728

[2016-02-15 12:07] jgmac1106 commented on #680
There is also this issue:
https://github.com/mozilla/participation-org/issues/247 happening.

Thought I would share in case there is overlap.

On Mon, Feb 15, 2016, 5:18 AM Adam Lofting <notifications@github.com> wrote:

[2016-02-15 14:48] adamlofting opened #734 "Design Network Mapping Pilot for MLN"
As part of our work to establish a Mozilla Leadership Network KPI, we will be exploring network mapping and analysis of existing hubs in MLN as it is known today.

During this heartbeat, we will scope this project and begin designing the necessary survey and communication work.

R: @chrislarry33
A: @adamlofting
C: @davidascher, Hive, Science Lab
I: MLN, Ops/Executive Team

I've started drafting th

[2016-02-15 16:20] xmatthewx commented on #732
I'd like to attend (though it's not critical if calendars don't line up). This connects with my network inventory work.

[2016-02-15 18:42] natalieworth commented on #724
@cassiemc I should have time to do this between the encryption campaign

[2016-02-15 20:29] Pomax commented on #706
forgot to close out this issue - yes. There are followups but they do not constitute a single lift, they're just progressive improvements.

[2016-02-16 02:44] valianttry commented on #724
hi @natalieworth the gear store pricing has been reduced on every item by 30% (that is currently live at gear.mozilla.org).

Our vendor provided the following files so that we can design some assets, including a Sale banner for the main page:
https://geeknet.box.com/s/r3wmfp4s3s2ti9e3u4pqzc98d0e1sqxn

We should talk about channel availability soon.

I think we should feature items in our designs t

[2016-02-16 14:52] cassiemc commented on #680
Awesome, thanks a bunch @adamlofting. Thanks for pointing that out @jgmac1106

[2016-02-16 14:53] cassiemc commented on #732
:+1: @xmatthewx. Waiting for replies, yet.

[2016-02-16 15:10] chadsansing commented on #732
Muy interested -

[2016-02-16 15:13] adamlofting commented on #725
Still had this tab open and realised my last comment didn't answer the important question:

This current heartbeat **Feb 26** is the ideal deadline for the sample data / documenting the data schema (the `needs dev` piece of the work) . But, we have to be realistic about capacity etc.

[2016-02-16 15:22] cassiemc commented on #705
@xmatthewx Why remove the better-faster label?

[2016-02-16 15:23] cassiemc commented on #683
@edrushka, yes, we noticed this last week too. Think @simonwex was going to fix?

[2016-02-16 16:04] cassiemc opened #735 "Create a Mofo-wide Style guide"
This should ultimately manifest in Foxlight, and I think there is a somewhat unrecognized potential for a nimble process that accounts for a solid design review. We also may want a style guide to appear in places other than just Github/bootstrap. (an open question)

Initially, my main interest is in clarifying how this design process should work:

Where do these steps overlap with Foxlight?

I'd l

[2016-02-16 16:59] cassiemc commented on #699
Sent!

[2016-02-16 16:59] #699 closed

[2016-02-16 17:10] samanthaburton commented on #735
Hi @cassiemc! I don't know if this fits into the scope of this project, but in conversation with Mark awhile ago an idea came up re: creating a template for internal Mozilla docs so that our internal materials (e.g. the business plan drafts, etc) have a shared look/feel. I'm not sure if/where that fits in terms of what you're thinking here, but figured I'd throw it out to see if it sticks.

[2016-02-16 18:31] natalieworth commented on #724
The previous gear store push from 2015 included deliverables for social share graphics (facebook & twitter), updated banner, an email, and a directory tile on mozilla.org. Are we going to be requiring similar deliverables for the sale push? Would also be good to anticipate if we'll be doing another push after the 30% for any clear out if necessary?

I can get started on this once deliverables/ con

[2016-02-16 19:27] edrushka commented on #731
This work is being tracked in the convenings repo: https://github.com/MozillaFoundation/convenings/issues

D: ErikaD
A: ErikaD & Sarah
R: Sabrina
C: Cassie, Lainie, Robert, Kaitlin, Michelle
I: Claw, Design team

[2016-02-16 19:30] edrushka commented on #709
We're meeting with Mark and Claw on Monday Feb 22 to plan the retreat.

[2016-02-16 22:44] xmatthewx commented on #705
Wasn't  intentional @cassiemc. In transit now and can't add it back. Nice work on the email update!

[2016-02-17 00:27] hannahkane commented on #704
Had a kick-off meeting today:
 * [Notes](https://public.etherpad-mozilla.org/p/mozsciencekickoff)

Filed tickets capturing deliverables for this heartbeat:
 * [Collect community input on IA](https://github.com/mozillascience/site/issues/81)
 * [Iterate on moodboard](https://github.com/mozillascience/site/issues/80)
 * [Finalize content for About page](https://github.com/mozillascience/site/issues/

[2016-02-17 00:51] hannahkane commented on #722
Meeting scheduled for Wednesday with @cassiemc @simonwex and @davidascher - hoping to do some high level estimating (read: S, M, L) there.

[2016-02-17 00:53] hannahkane commented on #721
@cassiemc - want me to schedule a time to walk through this?

[2016-02-17 16:45] cassiemc commented on #724
I'm concerned that this still has no assigned driver, so I'm happy to own scheduling a kickoff unless it makes more sense for @OpenMatt to do it. I suspect this will not require a lot of meeting time and that @natalieworth can run with this once we have a kickoff and a finalized list of assets.

This issue has great context – https://github.com/MozillaFoundation/2015-fundraising/issues/65 – and ye

[2016-02-17 16:46] cassiemc commented on #724
@valianttry If I schedule a kickoff who else needs to be invited besides you, me, @natalieworth? I'm assuming you can liaise with our vendor to deliver final assets?

[2016-02-17 16:54] cassiemc commented on #724
+ @HPaulJohnson and @KevZawacki, likely!

[2016-02-17 17:00] cassiemc commented on #721
Yes please @hannahkane!

[2016-02-17 17:10] hannahkane commented on #715
Moving this ticket to the current milestone

[2016-02-17 17:11] hannahkane commented on #631
Looks like the devops ticket is still open. Should this be moved to the current milestone?

[2016-02-17 17:12] ldecoursy commented on #715
I think @simonwex got close to this on Friday, however not sure it was fully resolved.

[2016-02-17 20:21] cassiemc commented on #724
Adding a RACI to the top comment.

[2016-02-17 20:28] cassiemc commented on #724
Difficult to find an open time slot for a kickoff before this week, but there is an eensy opening tomorrow morning. Sorry @davidascher if there is a conflict; not sure if you want to be there.

[2016-02-18 16:54] hannahkane commented on #722
Got about halfway through with @cassiemc and @simonwex. Follow-up meeting scheduled for Friday.

[2016-02-18 17:56] hannahkane commented on #731
Possible to put a size label on this ticket? Small, medium, or large? (Will help with planning future heartbeats.)

[2016-02-18 17:56] hannahkane commented on #728
Possible to put a size label on this ticket? Small, medium, or large? (Will help with planning future heartbeats.)

[2016-02-18 17:57] hannahkane commented on #727
Possible to put a size label on this ticket? Small, medium, or large? (Will help with planning future heartbeats.)

[2016-02-18 17:57] hannahkane commented on #724
Possible to put a size label on this ticket? Small, medium, or large? (Will help with planning future heartbeats.)

[2016-02-18 17:58] hannahkane commented on #701
Possible to put a size label on this ticket? Small, medium, or large? (Will help with planning future heartbeats.)

[2016-02-18 17:59] hannahkane commented on #631
Is this a "small" ticket? Is it still on track?

[2016-02-18 19:11] natalieworth commented on #724
I've added size medium, but feel free to change if anyone thinks another would fit better.

[2016-02-18 19:15] cassiemc commented on #724
I'm going to update to large b/c it includes multiple people for the full heartbeat :)

[2016-02-18 19:51] kristinashu commented on #661
Working with @sabrinang we came up with this table https://docs.google.com/a/mozilla.com/spreadsheets/d/1BeB8bZG2LX2aYPFZyyo57a1J0nn5-9SG-GsCdUJD-r8/edit?usp=sharing

We're trying to point out similarities in both the vertical columns (ex news, science, education...) and the horizontal columns (ex fellowships, convenings, blogs...).

This should help us determine URLs in a structured way and find

[2016-02-19 14:54] cassiemc commented on #685
I think this work is coming along swimmingly and is already being applied in excellent ways in the IA work and CMS applications, but might still be too soon to share solid results w/ everyone. May start circulating with a small group next week. Pushing this out a milestone since I am also over-committed this heartbeat.

[2016-02-19 15:00] cassiemc commented on #732
This was scheduled earlier this week for Wed the 24th.

@chadsansing I'm sorry I totally missed your comment! Right now we're directing this to fellowship program owners as it's predominantly a planning meeting... curious if your interest is broad support or is based on something I don't know about? Lemme know, happy to invite you or meet with you ahead of time if you think it's relevant to someth