[2015-04-01 23:28] simonwex commented on #422
+1

[2015-04-01 23:48] valianttry commented on #423
@davidascher I am a complete n00b to modules. I'm on the policy module list, but don't know how to create one, what that entails; etc. I see this in the wiki: https://wiki.mozilla.org/Modules.

What Geoffrey and I have discussed (not in stone, just broad brushing):
* Mozilla Foundation receives about 40% net profit from everything sold through gear.mozilla.org. We've led thus far for 1.5 yrs on co

[2015-04-01 23:50] edrushka commented on #379
@ScottDowne can you please prioritize this over Teach stuff this week? I cleared this with Wex. We just need to get this one done. Thanks!

[2015-04-01 23:53] thisandagain commented on #409
@KevZawacki can you make that pad public?

[2015-04-02 00:55] thisandagain commented on #242
I got access to the sandbox and went through the documentation today. My recommendation is that we use ExactTarget (specifically, the Journey Builder feature) rather than Apostle to improve and monitor our transactional emails:

#### Pros
- Same system will eventually be used to track all of our outbound email which will greatly improve the visibility / consistency of our communications with users

[2015-04-02 01:00] thisandagain commented on #242
Huge "thank you" to @valianttry for catching this ticket and helping us get familiar with Salesforce! :smile: :cat: :cake: :boom:

[2015-04-02 02:18] valianttry commented on #242
@thisandagain  I'm SO glad I could be helpful and (hopefully) make life easier for all of you. Note that it is very possible/probably that I'll be hiring someone on the digital team who can help setup emails and provide support for ExactTarget (possibly the fundraising associate that's currently posted).

:clap: :grinning:

[2015-04-02 03:55] ScottDowne commented on #379
Cool, can do.

I have read through the ticket history.

I'll bug @alicoding and look through https://github.com/MozillaFoundation/movement-building/issues/22 for my wordpress woes.

I'll implement this design based on earlier comments: https://redpen.io/pj38df7e097269e249
if that's not the right one, now would be a good time to correct me :)

@edrushka @valianttry @Saallen I am a bit fuzzy on what

[2015-04-02 04:22] davidascher commented on #425
If you come up with a design for a view that we display on build.w.o it
should be quite simple to implement.

[2015-04-02 08:47] LauraHilliger commented on #414
done! And @toolness closed this yesterday https://github.com/mozilla/teach.webmaker.org/issues/461

[2015-04-02 08:47] #414 closed

[2015-04-02 10:52] adamlofting commented on #409
I've setup:

* Market Testing 2: Learn vs Make
* Market Testing 3: Fun vs Utilitarian

Most of the headlines were a bit too long so I've trimmed them down. Sometimes this made them less catchy, but I kept the focus on the elements of each test.

You can see those made it into the test in the Google Doc: https://docs.google.com/a/mozillafoundation.org/document/d/16WT50NzQziOjunUPZhS-oIaVNVJgVNhifzQ

[2015-04-02 10:54] Saallen commented on #379
Hi- hopefully I can outline the process for emails.
If people click on the updates Button this would link them to a [BSD sign up] (https://sendto.mozilla.org/page/s/mozfest-2015-save-the-date) form where they would enter their email address in order to receive updates about the festival over the coming months. The email addresses are keep in the savethedate2015 constituent group on BSD. Happy to j

[2015-04-02 11:48] adamlofting commented on #395
Just an update that I haven't started on this yet.
I hope to on Tues, and will book in a check-in call for later next week.

[2015-04-02 13:32] adamlofting commented on #395
After saying that, I had some time to take a pass at this this afternoon.

This is how I propose we count 'being active in a city':
* https://etherpad.mozilla.org/how-to-count-cities

@thornet @ldecoursy @hannahkane @chrislarry33 - please comment / edit / push-back or +1 on the etherpad, or in this issue.

I think the two biggest points to debate are:

1. Do we want a current active total (I've su

[2015-04-02 13:50] ScottDowne commented on #379
Ok, that's super simple.

[2015-04-02 14:05] KevZawacki commented on #409
@thisandagain Sure -- pad is now public

[2015-04-02 14:55] iamjessklein commented on #413
I just commented [this issue](https://github.com/mozilla/teach.webmaker.org/issues/458) on where we should consider the blog sitting within the context of the sitemap.

[2015-04-02 15:28] edrushka commented on #379
Just to clarify, @Saallen  if they try to sign up directly on the homepage as per this design https://redpen.io/pj38df7e097269e249 do you want them to get redirected to another form or can the action just be completed there on the homepage?

[2015-04-02 15:35] ScottDowne commented on #379
Linking to [BSD sign up] (https://sendto.mozilla.org/page/s/mozfest-2015-save-the-date) is super easy.

Doing it right in the page, I'm not familiar with, so I'll need to spend time researching that. It's probably a BSD thing I need to dig up. If anyone has done it before, help would be nice. I'm sure it's possible and I'm sure I can figure it out, but just so we all know, it's an unknown.

[2015-04-02 15:47] ScottDowne commented on #379
Actually, thinking about doing it right in the page.

It's worth investigating and giving it a try. It might be easy, and would be a much better UX.

[2015-04-02 16:10] Melechuga commented on #276
Hey @flamingspaz Just wondering if we can make the discourse site SSL-enabled by default? We're starting to point people that way now. Sent you an email, but wasn't sure if it was you...(o.O) Thank you!!

[2015-04-02 17:17] Saallen commented on #379
If the action could be done on the page- then awesome, I think that would be a way nicer experience than sending people to BSD- but like Scott said above, it is not something we have done before.

[2015-04-02 17:31] edrushka commented on #425
Scott is going to investigate this and let us know if/when we need design.

[2015-04-02 17:32] edrushka commented on #379
We just talked this through and agreed in the interest of getting this done quickly, we'll do a version without that UX (so we'll just have a button that links to the form Sarah already created), and later, if we have time, we'll try to make it happen right on the page.

[2015-04-02 17:36] Saallen commented on #379
:+1:

[2015-04-02 17:43] flukeout commented on #399
Published new graphic and content and aligned the buttons - https://advocacy.mozilla.org/

@edrushka Please look over and close if all is good.

[2015-04-02 17:52] edrushka commented on #399
Awesome. Thanks @flukeout

One question: is the font lighter in that banner than in the 'Take Action Now' banner below? It looks that way on my screen on both FF and Chrome. https://www.dropbox.com/s/nhcdvhtghzt122j/Screenshot%202015-04-02%2010.49.20.png?dl=0 --> hard to tell in this screenshot.

[2015-04-02 18:50] OpenMatt opened #426 "Launch Section 215 petition before April 15"
## Goal
*   **Launch a petition campaign on or before April 15**. Calling on Congress to stop mass collecting data on Americans.
*   **Success metrics / KPI**: 100,000 signatures
*   **More context (optional)**: [http://mzl.la/launch_plan](http://mzl.la/launch_plan) and the overall campaign: [http://mzl.la/surveillance_brief](http://mzl.la/surveillance_brief)

## Roles
* Owner: @OpenMatt
* Decisio

[2015-04-02 18:57] OpenMatt commented on #426
@simonwex: this is a late-breaking P1. We just learned of the April 15 deadline yesterday. Filing now so we can hopefully get a dev assigned quickly.

[2015-04-02 19:25] ScottDowne commented on #379
So, because we have just a button to link to the form for now, a few things need to change.

1. I'm proposing we move the button into the header.
2. remove the red date circle (it conflicts with the button and pulls attention away)
3. add more context to the header without adding more copy.

This is what I have now, looking for review/feedback.

![save-the-date](https://cloud.githubusercontent.com

[2015-04-02 20:22] edrushka commented on #379
@ScottDowne and @iamjessklein - thanks for collaborating on a solution.

@Saallen should make the final call on this. However, she's gone for the day since she's on UK time, and tomorrow is a holiday for her, so let's just go ahead and land this. Sarah, please feel free to comment in this ticket if you're not happy with what we've done, and we'll try to rectify. Thanks.

[2015-04-02 20:29] ScottDowne commented on #379
@edrushka yeah, it sounds reasonable to land it and if @Saallen has suggestions we can iterate :)

I'll bug the people I need to bug to land this, then update/close this ticket when that's done.

[2015-04-02 21:18] iamjessklein commented on #379
:neckbeard: + :scissors: = :smile:

[2015-04-02 21:30] ScottDowne commented on #379
It's done! http://2014.mozillafestival.org/

You might need to do a hard refresh if you get dark blue colour for the nov date bit.

:heart: :tangerine: :full_moon: :four_leaf_clover: :dolphin: :cherry_blossom:

[2015-04-02 21:33] iamjessklein commented on #379
I don't mean to be a pain because it's up and it works - but I think that "Nov" should be changed to "November" :mag:

[2015-04-02 21:48] floatingatoll commented on #375
For paper trail purposes, I cc'd @simonwex and @edrushka on the MoCo IT bug 1138691 regarding this.

[2015-04-02 22:12] flukeout commented on #399
@edrushka - it's actually the same color, the bottom may look darker because of the slight white highlighting on the bottom of the text. I can adjust the copy on the white banner to be a little darker.

Previously, the header text in the white area was bold - so changing it maybe have added to that effect.

[2015-04-02 22:17] hannahkane commented on #395
This seems very sane. I added some comments to the etherpad, including some about how to measure Group activity.

Re: the rolling vs total, I would think the total count throughout the year would be what we'd measure for the KPI. But they're not mutually exclusive, right? I'd like to also have the "currently active" count displayed on the dashboard.

[2015-04-02 22:34] edrushka commented on #379
Hurray! Thanks guys!! I will let @Saallen make the decision on Nov vs. November and close this ticket when she's ready. :cherry_blossom: + :tulip: + :rose: + :sunflower: + :hibiscus: + :leaves: = :bouquet:

[2015-04-02 22:36] edrushka commented on #399
Ah interesting - thanks for explaining. I'm fine with leaving as is. @valianttry can you take a look and close this ticket if you're happy with the site?

[2015-04-02 23:00] edrushka commented on #425
Further details:

### I can search by:
Author (and/or)
Assignee (and/or)
Label (and/or)
Milestone (and/or)
Repo (and/or)

### It generates a list that shows:
Repo name
Ticket
Author
Assignee
Milestone
Labels

[2015-04-03 11:05] Saallen commented on #379
Looks awesome, so thanks all. Happy with the decisions to lose the separate red circle.
I am looking at the link on my mobile and you can see last years date on the page, above this year's dates, which is confusing. I cannot seem to attach a screen grab so will email you all the link. I think it should be November as we have never shortened the month before.  : :) :

[2015-04-03 13:15] alicoding commented on #379
I agree it's confusing and we should remove that. I've tried to attach the
screenshot here using my phone, so let see how it goes...
On Apr 3, 2015 7:05 AM, "Saallen" <notifications@github.com> wrote:

[2015-04-03 13:20] alicoding commented on #379
I agree it's confusing and we should remove that. I've tried to attach the
screenshot here using my phone, so let see how it goes...

![](https://cloud.githubusercontent.com/assets/4368149/6982640/80aa97c2-d9e2-11e4-9849-ce17da56a7a4.png)

[2015-04-04 01:02] davidascher commented on #339
As George said: I am the decider. :)

[2015-04-06 16:24] OpenMatt commented on #426
Still need a development lead for this. @simonwex @davidascher can you advise?

[2015-04-06 16:41] simonwex commented on #426
@OpenMatt I was PTO Thursday, Friday. I'll get this assigned and moving asap today.

[2015-04-06 16:44] OpenMatt commented on #426
sweet. thanks wex

[2015-04-06 17:22] simonwex commented on #426
@ScottDowne is going to tackle this one. If it looks like he needs backup, we'll rope @alicoding in. @OpenMatt could you schedule a kickoff?

[2015-04-06 17:33] ScottDowne commented on #379
I can easily change the header.

Do we want to update the date to 2015 or just remove it?

[2015-04-06 17:34] iamjessklein commented on #379
@ScottDowne we should remove the outmoded copy (Oct 2014 etc.) and update the date to 2015.
Do we know if it will be at Ravensborne again?

[2015-04-06 17:38] OpenMatt commented on #426
Awesome! I'll schedule a kick-off w. me and Scott.

[2015-04-06 17:41] Saallen commented on #379
I agree with @iamjessklein: Yes to removing old date.
The venue is Ravensbourne once again but we might use additional venues this year.  Very much still in the early stages of planning though .

[2015-04-06 18:05] ScottDowne commented on #379
@Saallen Date was updated but not removed. This was because it looked empty and misaligned, and changing the date was really quick and easy but removing it would require more work (which can still be done later)

[2015-04-06 20:15] OpenMatt commented on #426
Scott and I did a quick kick-off in IRC -- we're good. He's making good progress. As is Jess on the other deliverable.

[2015-04-06 22:20] valianttry commented on #426
Just checked with @iamjessklein about possibly re-purposing her eyeball design for this campaign. I am double checking with jean Collings over on moco side about whether they can help with design for additional deliverables:

1. Tile
2. Snippet icon

Here's stand-in snippet copy in case @iamjessklein wants to mock up a snippet with the eyeball:
* U.S. Congress votes soon on whether to end mass sur

[2015-04-07 00:29] valianttry commented on #426
One more thing, the confirmation page should not include the call Congress promotion. I marked it up here:
![sendto_mozilla_org___2015_fccvote_net_neutrality_thanks](https://cloud.githubusercontent.com/assets/9830371/7015059/84c7500a-dc82-11e4-89cb-feccf1f6acd9.png)

[2015-04-07 11:50] OpenMatt commented on #426
thanks @valianttry : -- let us know if a MoCo designer is available for those two extra deliverables. We're short on design resources so pushing hard for MoCo to take those on would help.

[2015-04-07 12:32] adamlofting commented on #395
Thanks @hannahkane and whoever responded in the blue text in the Etherpad. I've added some replies and this looks like it's coming together now.

---

The other question open now is *how much activity is required to be active?*. I'm happy to model this on the 'once a quarter' = active level that has been mentioned. But we need to factor in `sustained` as well as `active`. Which would look more lik

[2015-04-07 12:32] adamlofting commented on #395
Yes, that's a good point, and sounds like a sensible option.

[2015-04-07 13:32] ldecoursy commented on #395
That was me in blue, sorry ;) I know @chrislarry33 was also planning to weigh in on this...

[2015-04-07 14:29] iamjessklein commented on #426
Here's a quick take at an eyeball snippet gif (in here so you can see the animation).

![output_nuipbe](https://cloud.githubusercontent.com/assets/535012/7025299/b72ce328-dd10-11e4-92aa-c665847a232f.gif)

[Here is an updated design](https://redpen.io/myb3ad380c9196493d) for the Advocacy page incorporating the famous "eyeball".

[2015-04-07 14:58] OpenMatt commented on #426
wow -- fast work Jess. @valianttry : does this give you what you need?

[2015-04-07 15:02] OpenMatt commented on #426
@valianttry : if you do end up requiring design work for Tiles as well, can you include the specs for that?

[2015-04-07 15:06] secretrobotron opened #427 "Document Services design for Webmaker"
**Goal**: Produce documentation for the tech stack for Webmaker services (e.g. data storage, moving away from Firebase, etc.)

Documents to produce:
 - Logical diagram of project storage
 - Document integration with id.wm.o
 - Articulate tech stack for storage API

**Milestone**: TBD

### RACI
Phase: Design
Driver: @xmatthewx
Decision: @thisandagain
Dev: @jbuck
Dev: @cadecairos
Dev: @k88hudson
Lea

[2015-04-07 15:15] OpenMatt commented on #370
I'll take over as Driver on this one while Erika Druhska is away

[2015-04-07 15:29] secretrobotron opened #428 "Develop Content Strategy for Webmaker launch"
**Goal**: Develop a content strategy for the launch of Webmaker. Should include audiences, scheduling, logistics and feedback mechanisms.

**Doc**: (WIP)
* ~~https://docs.google.com/a/mozillafoundation.org/document/d/14K93EYq1ayzkhvrXoXZPNTdulEfVhtIxBQgrHxIpBsQ/edit~~
* https://docs.google.com/document/d/125EsGZkf_bRKsZQT5L3VDFYs0NMXpV9J_ce8t1S-4fo/edit

**Bugs**:
* Webmaker App: https://github.co

[2015-04-07 15:59] xmatthewx opened #429 "Begin build of Webmaker Alpha"
Continue the prototypes in #405 to build the foundation for Webmaker's Alpha release.

### Goals

Primary goals:
 - Finalize UI on Alpha features
 - Begin UI on Beta features
 - Implement primary views for Map, Page, Element
 - Implement Android wrappers
 - Scaffold services

Secondary goals:
 - Support research trips
 - Develop user testing plan
 - Complete UX for Beta features
 - Begin UX on RC

[2015-04-07 16:36] valianttry commented on #426
@iamjessklein This is delightful! I've shared it with the moco team and will get back to you. On Tiles, I'm getting the specs.

[2015-04-07 17:00] hannahkane commented on #413
Decision has been made. See https://github.com/mozilla/teach.webmaker.org/issues/458

[2015-04-07 17:00] #413 closed

[2015-04-07 17:00] OpenMatt commented on #370
### NOTE: Late-breaking news: we're pushing back the ship date
Note: the Advocacy Team has hit a snag with the Fellowship selection process. So we'll need to postpone the ship date by a week or so. @Melechuga will update here as soon as she knows more.

What this means:
1) **Complete the design work.** Using dummy photos and text. Let's complete the design work anyway. Then just flow in finalized

[2015-04-07 17:08] hannahkane commented on #407
I sketched out a phased approach, but am removing this from the current heartbeat because I don't want to distract the team from the launch of v1.

[2015-04-07 17:09] hannahkane commented on #401
I have two usability tests scheduled, and @iamjessklein is following up on another possible user tester.

[2015-04-07 17:38] iamjessklein commented on #370
thanks for the Bloomberg-style update, @OpenMatt

[2015-04-07 17:48] valianttry commented on #426
Tiles specs are here: https://wiki.mozilla.org/images/7/73/Partner_Specs_Directory_Tiles.pdf
I'm in a meeting, but perhaps @KevZawacki can help develop copy for it? There's a static state and then on-rollover state.

[2015-04-07 17:49] OpenMatt commented on #426
@iamjessklein can you create a design using those specs?
@KevZawacki can you provide copy?

[2015-04-07 18:05] OpenMatt commented on #426
Security review ticket for petition page filed here: https://github.com/MozillaFoundation/movement-building/issues/27

[2015-04-07 18:32] KevZawacki commented on #426
@OpenMatt @valianttry

Yes, definitely! Initial ideas:

(static / rollover)

+ Stand up to mass surveillance / Petition Congress to end Section 215
+ Tell Congress it's time to stop mass surveillance / Sign the petition to end Section 215
+ You can help stop mass surveillance / Tell Congress not to reauthorize Section 215
+ Protect your right to privacy / Take action now to stop Section 215
+ Cong

[2015-04-07 19:14] OpenMatt commented on #426
Sounds great. @valianttry can you pick one, and then Jess can design it up.

[2015-04-07 22:17] ldecoursy commented on #339
Thanks for a productive meeting yesterday! Here are the notes: https://etherpad.mozilla.org/legacyplan
Perhaps we should meet again next week to dig into next steps for each of the tools - will see if I can find a time that works and from there can file separate tickets.

In the meantime I'll file a separate ticket to discuss messaging/comms around this in the next heartbeat.

[2015-04-07 22:29] ldecoursy opened #430 "Communications plan for legacy tools"
### Roles:
* Phase: Plan
* Owner: @HPaulJohnson
* Decision-Maker: @HPaulJohnson
* Design Lead: n/a
* Dev Lead: n/a
* Consulted: @KevZawacki @ldecoursy
* Quality: @chrislarry33 @davidascher

Create a plan to document/broadcast the future of legacy tools, including which will continue to be supported (where and how), which won't (with options for saving existing content), etc.

Also outline channels

[2015-04-07 23:30] simonwex commented on #339
Great that you filed that ticket. I'm going to find some time tomorrow to file some plan tickets around the engineering bits of moving what we discussed forward and starting the discussion around events.

[2015-04-07 23:40] hannahkane commented on #339
@amirad, @HPaulJohnson, and I met around events yesterday, with an eye towards this year's Maker Party.

I'd been assuming that we'd maintain events.webmaker.org throughout this year's Maker Party (and point to it from Teach), but @amirad made good arguments for migrating that functionality over to Teach before this year's MP.

If we're going to do that, my preference would be to build the events

[2015-04-07 23:51] thisandagain commented on #339
Great. That's super helpful. @adamlofting we don't have a GA event for RSVP-ing for an event but do you have general monthly RSVP usage that you call pull from the roll-up tables from last year's MakerParty season?

[2015-04-08 00:20] jgmac1106 commented on #339
Line 26-Expected. Users gave up on Popcorn awhile back, but its still cool.
Hoping sometime in the future the "tiles" app allows me to stack and
naviagte tiles or something. It will be remembred fondly. Didn't someone
label once "the future of web video editing"?

Line 28 awesome. @amirad is right. Folks go coo-coo for Cocoa Puffs over
X-Ray goggles.

Line 35 even most awesomer. Thimble rocks. I k

[2015-04-08 00:26] mmmavis commented on #421
I'm back from PTO!  Let me know what I should supply. :smile:

[2015-04-08 00:35] jgmac1106 commented on #412
@hannahkane Thanks for the link to the roadmap. Pretty cool stuff and much of the thinking already done for a plan, and what journey is worth it if you can't change your map.

[2015-04-08 05:06] davidascher commented on #421
@mmmavis can you show me what y'all are talking about (both the visual and the code you built for studiomofo?)

[2015-04-08 09:35] Saallen commented on #379
@ScottDowne Thanks for doing that, it looks great. On the desktop version now the date looks very faded above the Save the Date button- is this for any particular reason?
![screen shot 2015-04-08 at 10 33 51](https://cloud.githubusercontent.com/assets/10194015/7042597/d9ed457c-ddda-11e4-993b-7e55f7c2bbc0.png)

[2015-04-08 12:39] adamlofting commented on #395
I've combined the feedback so far and come up with this: https://etherpad.mozilla.org/how-to-count-cities

Which I think is getting close...

#### How the Learning Networks Team Defines, Counts and Reports on:
## 'Number of Active Cities'

**'Active'**
In 2015, we want Mozilla Learning Networks to be 'Active' in 500 cities, on a sustained basis. A city is counted as 'Active' if three or more 'Acti

[2015-04-08 13:42] ScottDowne commented on #379
@Saallen The grey is some cache nonsense, because you recently loaded the old one and now the new.

Clearing cache or a hard refresh should drop the cache.

[2015-04-08 17:44] hannahkane commented on #395
@adamlofting - this is fantastic and very clear. I also appreciate that it provides some very useful directives for the site roadmap (e.g. adding the concept of a group meetup; allowing Clubs to award badges to their members).

[2015-04-08 17:55] mmmavis commented on #421
@davidascher
original studiomofo repo: https://github.com/mozilla/studiomofo
i extracted the viz bits and put the code here: https://github.com/mmmavis/mofo-calendar-viz, it should look like http://mmmavis.github.io/mofo-calendar-viz/

[2015-04-08 18:28] Saallen commented on #379
This has worked- Awesome work everyone- thanks for the help. Closing ticket now

[2015-04-08 18:28] #379 closed

[2015-04-08 19:11] iamjessklein commented on #379
:balloon:

[2015-04-08 19:13] iamjessklein commented on #401
Yes I am.

[2015-04-08 19:23] iamjessklein commented on #426
I like the first 3 options because they relate nicely to the content on the Advocacy site, but yes, @valianttry please let me know which direction you'd like for me to mock up.

[2015-04-08 19:35] simonwex commented on #339
Hey @jgmac1106 thanks for involving yourself in this process. Your feedback is really appreciated and useful.

For more info on the "tiles" functionality, see some Webmaker 2 design assets here: https://docs.google.com/presentation/d/1ihVXe53q6U7YLKiYURKXedE5TzOW7x7iwCNeJBY4dpE/edit?usp=sharing

[2015-04-08 22:07] davidascher commented on #421
@mmmavis, if you're game, adding this to build.webmaker.org would be a
great thing for you to do to get familiar with some of the tools we're
using in mofo-style (although that specific site has drifted a bit from the
standard).  I'd suggest you look at
https://github.com/mozilla/build.webmaker.org/ and in particular Adam's
latest additions as a recipe for how to add new pages.  We could start w/

[2015-04-09 02:39] simonwex commented on #421
@mmmavis, FYI - this'll probably fall to Ali or Scott since they're helping @edrushka for the rest of the quarter.

[2015-04-09 06:54] valianttry commented on #426
I don't think we should say "section 215" in any of our shorter calls to action, it's not recognizable / jargon. We should just say "help end mass surveillance". I also don't like "Tell congress how you feel" -- it sounds wishy-washy and not impactful. I like these:

Stand up for your privacy / Sign the petition to end mass surveillance
Tell Congress it's time to stop mass surveillance / Sign the

[2015-04-09 07:08] valianttry commented on #426
@iamjessklein our moco friends have launched a bug in some program called "Bugzilla" :smirk: here:
https://bugzilla.mozilla.org/show_bug.cgi?id=1152133

I think we should finalize our designs and copy here, and put the final assets into that bug. Do you think you could make 1-2 variations of the eyeball? Maybe a blue version? We can also re-purpose the advocacy bull horn.

@KevZawacki snippet copy

[2015-04-09 11:16] adamlofting commented on #339
Number of **Events**: Total vs Those with one or more RSVP:
![eventswithrsvps](https://cloud.githubusercontent.com/assets/1901816/7065639/ae482928-deb1-11e4-9017-fefd0027c778.jpg)

Number of **Attendees**: Estimated vs Number of Attendees who RSVP:
![attendeesrsvpd](https://cloud.githubusercontent.com/assets/1901816/7065648/d092a90e-deb1-11e4-98f2-44f3492e02a7.jpg)

[2015-04-09 12:56] iamjessklein commented on #426
@valianttry - just to confirm, I need to deliver on 3 things:

- [ ] the promo content on Advocacy
- [ ] the snippet
- [ ] the tile

Is that correct?
cc/ @OpenMatt

[2015-04-09 13:04] KevZawacki commented on #426
Certainly. Some snippet possibilities:

+ Privacy is a right, not a privilege. Tell Congress it's time to end mass surveillance. Take action and sign the petition.
+ Mass surveillance threatens our privacy and security. Tell Congress it's time to end bulk collection of  personal data. Sign the petition now.
+ Stand up to the Patriot Act and help put an end to mass surveillance. Sign the petition t

[2015-04-09 13:05] OpenMatt commented on #426
Let's clean up this plan ticket -- it's getting unwieldy. Let's be clear about final steps to close -- and get this done fast.
* I've updated the first comment above -- everything we need to close this is there.
* @iamjessklein : I'm moving all snippet-related work out of this ticket into the bugzilla ticket. Let's get that ticket closed asap. https://bugzilla.mozilla.org/show_bug.cgi?id=1152133
*

[2015-04-09 13:06] jgmac1106 commented on #339
@simonwex thanks for the deck. I look forward to digging into it and the
post today from @promax. I think the tiles app (like name better than pages
fits the lego metaphor) is going to be special.

In terms of the Events page and rsvp it is clear the feature was not used.
I think maybe the onus should be on the mentor and not the attendee. Might
get a better completion rate if they have to just no

[2015-04-09 16:18] adamlofting commented on #409
I dropped some AdWords screenshots into the working doc:
https://docs.google.com/a/mozillafoundation.org/document/d/16WT50NzQziOjunUPZhS-oIaVNVJgVNhifzQsCZihJxs/edit#heading=h.xiatjpx1ptib

Things we see so far:

* Including the word “Maker” significantly reduces the impressions, and therefore total clicks versus equivalent ads that don’t use the word “Maker”.
* The ads that used the word ‘App’ ou

[2015-04-09 17:32] k88hudson commented on #427
@simonwex and @jbuck to document Oauth2/authentication work
@k88hudson and @gvn to document questions impacting service design here: https://etherpad.mozilla.org/servicetechquestionswebmaker

[2015-04-09 19:58] xmatthewx commented on #427
I answered questions in the pad, though this will definitely need review by @flukeout and @thisandagain. Some of it is TBD since design of social won't even begin until Q3.

I added [a slide in the build deck](https://docs.google.com/a/mozillafoundation.org/presentation/d/1ihVXe53q6U7YLKiYURKXedE5TzOW7x7iwCNeJBY4dpE/edit#slide=id.g97d20baa5_7_41) to summarize and start a diagram on this. Edit free

[2015-04-09 19:58] xmatthewx commented on #427
cc @Pomax

[2015-04-09 21:20] ldecoursy commented on #384
Made progress this heartbeat, identified target list and pitch. Recruiting kicks into gear next heartbeat.

[2015-04-09 21:22] ldecoursy commented on #339
Made progress in this heartbeat, but moving this to next heartbeat so we can identify our concrete next steps during our follow-up meeting call week.

[2015-04-10 12:40] OpenMatt commented on #426
We can get at least 3 out of these 4 deliverables closed today. Let's push so that this doesn't bleed into the next Heartbeat unnecesarily.

[2015-04-10 15:28] thisandagain commented on #409
Excellent! Thanks for the update!

/cc @LauraReynal @xmatthewx @secretrobotron

[2015-04-10 15:53] HPaulJohnson commented on #409
thanks, @adamlofting

Other updates on this ticket:
- Small FB ad to test setup successfully running
- Adam and Paul setting up larger ad sets today to go live by 4/13; we will be targeting the market segments we've outlined in our go-to-market planning and we'll be running a copy of the Adwords Learn vs. Make campaign.
- Adam and Paul to revisit results from all campaigns on 4/15 to determine wha

[2015-04-10 20:04] hannahkane commented on #412
Moving this to April 24, since it didn't get completed this heartbeat.

[2015-04-10 20:04] hannahkane commented on #411
Design is wrapping up. Moving this to April 24th for implementation, after the release.

[2015-04-10 20:05] hannahkane commented on #408
Moving this to April 24th, since we didn't do this. @simonwex, I believe there are a couple things for you to fill in on the proposal before we share it with Ops.

[2015-04-10 20:07] hannahkane commented on #338
Moving this to the next heartbeat again. Pending:
 - [ ] new login to be polished by id team
 - [ ] outstanding small tasks to be completed by teach team
 - [ ] @simonwex to make sure all boxes are checked on https://github.com/mozilla/teach.webmaker.org/issues/152

[2015-04-10 20:13] iamjessklein commented on #412
:+1:

[2015-04-10 21:30] jgmac1106 opened #431 "What I learned from you folks putting up with me...Four maybe three lessson I have learned"
<h2>We need to build the Web not use the Web</h2>

I can't build the crazy stuff yet, but I am getting good at messing up stuff in new ways. The Web is at a crossroad, and open tools are becoming more diverse. It is time to not just understand the open Web but build the open Web

<h2>Philanthropic Entrepreneurial Activism</h2>

That pretty much sums up the Mozillian spirit in my mind.

<h2>Everyth

[2015-04-10 21:31] #431 closed

[2015-04-10 23:13] HPaulJohnson commented on #419
Friday update:
- Target market definitions taking shape: https://etherpad.mozilla.org/webmakertargetmarket
- Outline of go-to-market plan created: https://etherpad.mozilla.org/webmakergtm
- Draft plan to be completed next week and reviewed with Ops on 4/17
- Ongoing testing in #409 will be used to work towards a more final draft in the next sprint.

[2015-04-12 19:50] thisandagain commented on #242
Update: Working with the team at MOCO to setup a training program which is really the first step before we can get these transactional emails moved. @adamlofting is taking the lead on developing our plan for Salesforce across the org.

[2015-04-13 01:26] hannahkane commented on #401
Closing this because we've done some (see http://hannahgrams.com/2015/04/10/user-testing-the-teach-site/). We'll continue to do more next heartbeat and beyond, but I don't think we need to track with tickets.

[2015-04-13 01:26] #401 closed

[2015-04-13 15:04] OpenMatt commented on #426
* petition page: is ready. but blocked on MoCo privacy review. (where's that ticket?)
* snippet. is done. blocked on finding the right person at MoCo to review and approved. We don't know who that is.

[2015-04-13 15:08] OpenMatt commented on #417
Program Managers compiled documentation. This Heartbeat will be about more cross-team co-ordination and synthesis. Producing a shared document we can use together across the org.

[2015-04-13 15:11] OpenMatt commented on #416
Last deliverable here is Learning Networks post -- working with @ldecoursy on getting that out today.

[2015-04-13 15:12] OpenMatt commented on #409
looks good guys. want to close this one? file a new one?

[2015-04-13 15:12] OpenMatt commented on #405
@secretrobotron @xmatthewx : status update?

[2015-04-13 15:14] OpenMatt commented on #404
@secretrobotron : status?

[2015-04-13 15:15] OpenMatt commented on #400
status?

[2015-04-13 15:17] OpenMatt commented on #395
@adamlofting +1 this is great -- could you publish as a blog post for easier reference? I'd like to share this with Ops, other program managers, etc.

[2015-04-13 15:17] adamlofting commented on #409
I think there's some useful content / context in here for the ongoing work. I suggest we just update the Milestone. @HPaulJohnson that OK with you?

[2015-04-13 15:18] OpenMatt commented on #392
@adamlofting so this is done? Please close if so.

[2015-04-13 15:18] OpenMatt commented on #391
@LauraReynal @adamlofting status?

[2015-04-13 15:19] OpenMatt commented on #371
@LauraReynal status?

[2015-04-13 15:20] OpenMatt commented on #370
* Moving to next heartbeat, because of delay mentioned above.
* @iamjessklein : what's the status on the page design? This could be staged in WordPress with dummy photos and copy, then @Melechuga can update it with real content as she gets it.

[2015-04-13 15:20] LauraReynal commented on #371
In chicago currently - closing

[2015-04-13 15:20] #371 closed

[2015-04-13 15:21] OpenMatt commented on #369
got a status update @simonwex  ?

[2015-04-13 15:22] OpenMatt commented on #345
Unless anyone objects, I'm going to close this ticket. I believe next steps are on @benrito. But this has been kicking around long enough.

[2015-04-13 15:22] #345 closed

[2015-04-13 15:23] OpenMatt commented on #293
@thornet : any next steps here? can we close?

[2015-04-13 15:24] OpenMatt commented on #289
Going to punt again. The fact we keep punting this is telling, however... I really want to dig into this with @humphd later this quarter

[2015-04-13 15:25] OpenMatt commented on #258
@LauraReynal status? [[flagged!]](http://plzkthx.herokuapp.com)

[2015-04-13 15:25] OpenMatt commented on #251
@alicoding : status?

[2015-04-13 15:27] LauraReynal commented on #258
Waiting for @secretrobotron to finish a copy review before we can publish
Bobby can provide an update

[2015-04-13 15:31] adamlofting commented on #395
This needs @chrislarry33 sign-off once back from PTO, but then absolutely yes.

[2015-04-13 15:31] OpenMatt commented on #408
@simonwex I believe the outstanding items are things like: "what will cred.ly cost?"

[2015-04-13 15:34] OpenMatt commented on #384
* Are we increasing this target from 5 to 10?
* @thornet got any documentation on what Regional Co-ordinators are, or our theory of change / impact behind them? (helpful to explain to colleagues why we're making this a key goal this quarter)

[2015-04-13 15:42] OpenMatt commented on #290
re-titled this ticket -- blocked on teach.moz.org soft launch. once it's up, we should re-visit the issues we listed above.

[2015-04-13 15:48] secretrobotron commented on #258
My bad. Been preoccupied with Login.

[2015-04-13 15:51] OpenMatt commented on #426
Petition page is blocked on MoCo Privacy review: https://bugzilla.mozilla.org/show_bug.cgi?id=1151659

[2015-04-13 15:52] secretrobotron commented on #404
Made substantial progress last heartbeat, but still have quite a few more things to cover: https://github.com/mozilla/id.webmaker.org/issues?q=is%3Aissue+milestone%3A%22Teach+QA+and+Launch%22+is%3Aopen

Nothing is at 0%, but many bugs, QA and finishing touches.

[2015-04-13 15:59] davidascher commented on #426
https://bugzilla.mozilla.org/show_bug.cgi?id=1151659 is the privacy review.
I think it's almost closed.

[2015-04-13 16:02] adamlofting commented on #391
We still need to back-fill the spreadsheets for Kenya and Bangladesh, but with Chicago research happening this week, I think this task will be pushed back a bit.

@LauraReynal is Apr 24 realistic, or is Chicago going to be 100% of the time for the whole of this heartbeat?

[2015-04-13 16:16] OpenMatt commented on #426
Bug for updating moz.org front page: https://bugzilla.mozilla.org/show_bug.cgi?id=1152159

[2015-04-13 16:33] xmatthewx commented on #405
Heartbeat was largely a success.

 - Engineers made good progress on setting up hybrid Android app, scaffolding many of the core features.
 - Designers built two prototypes on UI (http://marvl.in/ee2f0e) and UX (http://flukeout.com/examples/tiles-nav-3/)

Work toward Alpha release will continue in #429.

[2015-04-13 16:33] #405 closed

[2015-04-13 16:33] simonwex commented on #369
@OpenMatt bumping this, we made some progress but haven't been able to dedicate multiple days to this and the impact it'll have on devops.

[2015-04-13 16:36] simonwex commented on #408
Updated costs in doc.

[2015-04-13 16:38] HPaulJohnson commented on #409
Agree with @adamlofting - let's keep this one open and update milestone.

[2015-04-13 16:44] davidascher commented on #426
privacy review bug closed

[2015-04-13 16:45] davidascher commented on #404
What's the new target ship date?  We're 2 weeks late already.

[2015-04-13 16:47] #399 closed

[2015-04-13 16:55] iamjessklein commented on #370
Hey, with the new advocacy work for surveillance, I didn't get far on this (just the first page promo spot) and the initial sketching.

[2015-04-13 16:57] alicoding commented on #251
Ah, sorry I didn't see this was flag to April 10th's milestone and I didn't have a chance to look at this because I've been busy with the new login and other projects. I think this needs a better scope and some more research, so I will leave this to @thisandagain and @simonwex to decide when we want to start on this.

[2015-04-13 17:03] davidascher commented on #400
Done, I believe.

[2015-04-13 17:03] #400 closed

[2015-04-13 17:07] OpenMatt commented on #404
@simonwex and @davidascher will make a plan and update this ticket.

[2015-04-13 17:14] cassiemc commented on #428
I can help here too, if you need me.

[2015-04-13 17:15] iamjessklein commented on #338
we can get there! :horse_racing:

[2015-04-13 17:21] OpenMatt commented on #408
* Next steps on this: discuss the document with @chrislarry33.
https://docs.google.com/a/mozillafoundation.org/document/d/1dw1Do5tVdgLd4NahIHj6xqS0CX093eIDcjQP6TrrdQs/edit#

* Hannah: will start thinking about implementation & resourcing. (e.g., contractor?)

[2015-04-13 17:23] cassiemc commented on #98
More details about what design work is needed here, since @vazquez is on PTO this week?

[2015-04-13 17:24] edrushka commented on #293
Let's keep this open. Currently @cassiemc and I are investigating a contractor to finish the website design.

[2015-04-13 17:24] cassiemc commented on #21
More details about what design work is needed here, since @vazquez is on PTO this week?

[2015-04-13 17:28] OpenMatt commented on #384
* Regional co-ordinators have a recruitment goal: 10 clubs each
* Tracking will be done manually to start (e.g., spreadsheets vs. databases to start)
* Need to feed these new requirements into updated roadmap

[2015-04-13 17:29] thornet commented on #293
Preparing a retreat for wranglers and core program partners in June to further develop themes.

[2015-04-13 17:34] OpenMatt commented on #338
@hannahkane will file a security review ticket for wex.

[2015-04-13 17:39] OpenMatt commented on #98
@thisandagain @xmatthewx thinking maybe this ticket is stale -- please advise.

[2015-04-13 17:39] OpenMatt commented on #98
@thisandagain @xmatthewx thinking maybe this ticket is stale -- please advise.

[2015-04-13 17:40] cassiemc commented on #98
As discussed w/ @xmatthewx, @flukeout and I can support design work that is needed this week until @vazquez's return from PTO.

[2015-04-13 17:40] cassiemc commented on #21
As discussed w/ @xmatthewx, @flukeout and I can support design work that is needed this week until @vazquez's return from PTO.

[2015-04-13 17:42] OpenMatt commented on #424
* @alicoding was going to do this -- but needs to work on log-in instead
* moving to next heartbeat as per @hannahkane suggestion

[2015-04-13 17:46] OpenMatt commented on #411
teach team will assign their resources to do the work. @hannahkane will co-ordinate w. Webmaker product team.

[2015-04-13 17:49] edrushka commented on #290
@HPaulJohnson @KevZawacki @edrushka + George Roter and Rebecca Davies - flagging all of us since we're working with MoCo on Moz.org refresh (which may include Contribute page)

and @valianttry who works closely with Tiles team

[2015-04-13 17:52] xmatthewx commented on #98
@OpenMatt - this ticket is stale. I'm going to close and continue tracking in #429

[2015-04-13 17:52] #98 closed

[2015-04-13 18:04] xmatthewx commented on #411
@hannahkane - One way to frame this: think about how to promote teach via content made on Webmaker rather via a link in the footer. It would help us fill the shelves with exemplar projects and help pull people to teach via specific opportunities.

[2015-04-13 18:04] hannahkane commented on #338
Security review for @simonwex : https://github.com/mozilla/teach.webmaker.org/issues/680

[2015-04-13 20:38] edrushka commented on #370
@Melechuga any ETA for the revised launch date?

[2015-04-13 21:39] simonwex commented on #427
We should also do an inventory of the fields currently in the MakeAPI to see if there are easy wins for supporting future social features. -- What comes to mind is `remixedFrom`

[2015-04-13 21:49] xmatthewx commented on #427
@k88hudson is going to start a spanking new repo where we can track questions, answers, and decisions.

[2015-04-13 22:40] Melechuga commented on #370
Hey @edrushka - Not yet; still working on getting all of the Fellows in a row. Will update as soon as I know. Thanks for being on top of it!

[2015-04-13 22:42] xmatthewx opened #432 "Collaborate with Drexel on Code editor"
We're collaborating with a team at Drexel University. They've compiled some interesting [research](http://openhtml.org/#research) on the experience of new coders. There's an opportunity to prototype and test features of a code editor that support learning, features that could be integrated into Webmaker.

Conversation is tracked here: https://github.com/mozilla/webmaker-desktop/issues/17

[2015-04-14 04:33] simonwex commented on #427
May I suggest api.webmaker.org?

[2015-04-14 04:34] simonwex commented on #427
May I suggest api.webmaker.org?

[2015-04-14 09:11] adamlofting opened #433 "Setup Exact Target for MoFo transactional emails"
Following the discussion and vendor review in issue #242, we need to setup Exact Target so that we can use it for transactional emails with any of our software products. The immediate task is one of 'platform engineering' before we can work on content and user journeys. I've tried to keep this ticket focused on that.

### Audience
The result of this implementation project will be used by:

* MoFo

[2015-04-14 09:19] adamlofting commented on #242
This ticket has a lot of history and discussion that we can archive now.  :package:

I've filed a new ticket to track the task of implementing this: https://github.com/MozillaFoundation/plan/issues/433

If your name isn't currently against that new ticket, but you want to follow along, please comment on that new ticket so you get the notifications (or "transaction emails" as it were :wink: ).

[2015-04-14 09:19] #242 closed

[2015-04-14 09:53] adamlofting commented on #433
Via MoCo, we are currently scheduling ExactTarget training to support this task. Expected availability is for early May, though @simonwex and I are to meet with DEG (the training company) sooner to scope our training needs. They have been pointed at this ticket as a starting point.

In the meantime we should explore our ExactTarget sandbox account, and the product documentation to see how far we c

[2015-04-14 09:56] adamlofting commented on #433
@simonwex at some point in the next few weeks, this will be ready for more serious dev input. We'll need to think about resourcing for it then.

[2015-04-14 15:05] iamjessklein commented on #411
@xmatthewx - are you thinking via linking or promoting directly from existing projects? I was under the impression that this content will be replacing like-minded content that is currently on Webmaker.

I suspect that I am confused by the roll-out or to be more accurate roll-up timing on the content migration/ switching/ etc. @hannahkane

[2015-04-14 15:22] hannahkane commented on #411
In https://github.com/mozilla/teach.webmaker.org/issues/469 we designed an ad to temporarily live in the promo space on webmaker.org. It will live there until the Webmaker homepage design changes and can no longer accommodate it, or something else takes precedence for that spot, whichever comes first.

For long-term promotion, we definitely need to think about how to promote Teach concepts and ide

[2015-04-14 15:35] xmatthewx commented on #411
Agreed. I just wanted to plant a seed. The new Webmaker will have minimal content besides the stuff that gets made by the tool. The best real estate for promotion will likely be featured projects with content shaped for a mass market audience. This could link back to content on Teach focused on people with an intent to teach and learn.

[2015-04-14 15:41] jgmac1106 commented on #411
Could you not make an app or something with the new webmaker tool that
points folks to (and possibly explains the new paradigm). There are
hundreds of posts and a few dead tree articles pointing folks to
webmaker.org as the place to go first.

Maybe there is a way to redirect while also showing off the new webmaker
tool.

On Tue, Apr 14, 2015 at 11:35 AM matthew w <notifications@github.com> wrote:

[2015-04-14 16:21] edrushka commented on #410
Adding @adamlofting

[2015-04-14 19:28] edrushka commented on #374
Handoff from Roberto to @iamjessklein detailed here: https://etherpad.mozilla.org/mozfesthandoff

[2015-04-14 19:28] cadecairos commented on #427
:+1:

[2015-04-14 19:44] cadecairos commented on #427
I just created https://github.com/mozilla/api.webmaker.org

[2015-04-14 22:00] hannahkane opened #434 "Determine strategy for counting and displaying events on Teach site"
Stakeholders:
@adamlofting
@amirad
@chrislarry33
@thornet
@ldecoursy
@HPaulJohnson
@toolness
@iamjessklein
@mmmavis
@sabrinang
@hannahkane

Meeting scheduled for Monday, April 20
http://etherpad.io/events

[2015-04-14 22:32] xmatthewx commented on #429
We met to kickoff the heartbeat.

On Dev, @Pomax, @gvn, @k88hudson will:
 - unify their segments of the platform
 - tackle alpha [roadmap](https://docs.google.com/a/mozillafoundation.org/spreadsheets/d/1ZvdNJLHuW0fIBt_-WcR7Ns6OhZgaMy6MI9kfjlXF-9o/edit#gid=0) items flagged as heartbeat 1
 - @Pomax will wrangle instructions/demo so more team members can contribute and review progress prior to releas

[2015-04-15 17:14] xmatthewx commented on #411
@jgmac1106 - We will have a short video and splash page later in May. For now, the best intro is http://bit.ly/webmaker-intro

[2015-04-15 17:26] jgmac1106 commented on #411
+1

On Wed, Apr 15, 2015, 1:14 PM matthew w <notifications@github.com> wrote:

[2015-04-15 18:01] ScottDowne commented on #425
First i'm looking at github's current search capabilities, because not many people know how to use it. It's complete, but uses a search box that you need to remember commands for, or a complex url. Not really an option to rely on that alone.

If you navigate to `https://github.com/issues` you get some pretty simple search options, created, assigned, mentioned. This so far is only from the logged i

[2015-04-15 19:05] edrushka commented on #425
Thanks! I see that there are various solutions, but not all in one place.

@davidascher what are your thoughts? Scott and I discussed a front end solution that generates URLs that we can plug into existing Github search boxes. This is kind of a 2-step hack, but it could be easy to build.

I'm also going to see if I can bring this to the attention of the Github team (Scott's suggestion). Maybe they

[2015-04-15 19:36] davidascher commented on #425
A widget on build.w.o that when you hit "search" opens the search results
page in github issues seems like a fine next step to me.  In my opinion the
hard part isn't the display of the results as much as building that
front-end UI in such a way that it makes sense, especially given that the
repos we care about are spread over multiple organizations but aren't all
the repos in those organizations.

[2015-04-15 21:28] edrushka commented on #370
Looking like this will launch at the beginning of June. (This is unconfirmed, so we should be prepared to ship sooner if things change.) Adjusting the dates & milestones to reflect this timeline.

[2015-04-16 08:32] adamlofting commented on #433
Initial call is happening today/tonight (depending on your timezone). Updates to follow after that.

[2015-04-16 17:49] edrushka commented on #425
@ScottDowne Here are the repos we use:

**Mozillafoundation**
/plan
/engagement
/movement-building
/2015-fundraising

**Mozilla**
/mozillafestival
/teach.webmaker.org
/id.webmaker.org

**MozillaHive**
/HiveGlobal/issues

[2015-04-16 18:10] ScottDowne commented on #425
Wow, that's a *much* smaller list than what I expected. Thanks!

[2015-04-16 19:08] xmatthewx commented on #425
There's also...

**Mozilla**
/webmaker-app
/webmaker-desktop
/api.webmaker.org

[2015-04-16 19:27] davidascher commented on #425
loads of other repos

popcorn
thimble
sawmill
webmaker-curriculum
…

[2015-04-16 20:09] ldecoursy commented on #339
Thanks again for the call yesterday - I consolidated the plan and action items here: https://etherpad.mozilla.org/legacyplan

@simonwex @hannahkane @HPaulJohnson @davidascher

[2015-04-16 21:26] ScottDowne commented on #425
Initially I thought I wanted to make this static.

Then I got a bit sucked into doing something I have never done. I now get all repos under the orgs mozilla and MozillaFoundation. I store those server side every 10 minutes right now (probably want to increase this).

The ui drop down auto completes the list, and it's quite nice to use. I'm demoing it tomorrow.

[2015-04-16 21:58] edrushka commented on #425
Whoa! All the repos?! Quite nice to use?! Here's a poodle for your good work: :poodle: Can't wait to see the demo!!!

[2015-04-17 15:51] edrushka commented on #425
I got a reply from Github:

[2015-04-17 21:32] edrushka opened #435 "Create interstitial experience for Surveillance snippet campaign"
The Surveillance Campaign (Section 215) is going to get some time on the US-EN snippet. We need to create an intermediate (also known as interstitial) page between the snippet and the petition to ensure only the FF users who are interested are directed to the petition.

#### RACI:
Driver: @edrushka
Design: @cassiemc and @flukeout
Dev: @ScottDowne
Metrics: @adamlofting
Decision Maker: @valianttry (

[2015-04-17 22:25] davidascher commented on #435
Not sure where to ask this question, so asking here:
 - What domain hosts the interstitial ticket?
 - make sure to add google analytics to that interstitial. /cc @adamlofting.

[2015-04-17 22:27] ScottDowne commented on #435
@davidascher "What domain hosts the interstitial ticket?" A simple page in BSD?

[2015-04-17 22:31] davidascher commented on #435
@ScottDowne BSD pages are under 'donate.mozilla.org' or 'sendto.mozilla.org' IIRC.  Is that appropriate?  If the page isn't hosting PII, why would we use BSD?  (Not saying we shouldn't, just want the decision made thoughtfully).

[2015-04-17 22:38] ScottDowne commented on #435
@davidascher Yeah, it doesn't need to be on BSD.

 It would be on sendto.

My only logical reason is it keeps all the surveillance pages under one service and I have everything I need to create the page.

[2015-04-18 00:37] ScottDowne commented on #425
I'm pushing up some changes later tonight when I'm back on my computer.

Something I don't like about the github API approach of it, it's a lot of requests. While I am caching it and making few requests, it makes dev a headache. One refresh of the server and you just used up 1/5th of your hourly github requests. Not amazing.

The majority of requests come from getting milestones and labels. We nee

[2015-04-18 00:41] davidascher commented on #425
Get a token. You get unlimited queries.

[2015-04-18 00:43] ScottDowne commented on #425
@davidascher

From: https://developer.github.com/v3/#rate-limiting

"For requests using Basic Authentication or OAuth, you can make up to 5,000 requests per hour. For unauthenticated requests, the rate limit allows you to make up to 60 requests per hour. "

I looked at other areas, but seems they no longer offer unlimited? Or I am missing something about their auth and tokens.

[2015-04-18 00:45] davidascher commented on #425
Wow I guess you're just making a LOT of calls! :)
On 17 Apr 2015 5:43 pm, "ScottDowne" <notifications@github.com> wrote:

[2015-04-18 01:14] ScottDowne commented on #425
Haha, yeah. Initially when I added labels and milestones I hit 5000 just starting the server, I have it down to 360 now.

The current list of repos I grabbed is 143 repos, can probably cut that by 3/4.

Example, to get milestones, I need to make another request. A repo's data looks like this

https://api.github.com/repos/mozilla/popcorn.webmaker.org

Look for milestones and labels in there, and yo

[2015-04-18 01:18] ScottDowne commented on #425
Here is the list of repos: https://gist.github.com/ScottDowne/a171add1c1a4efdd28e7

That is based on who has touched it. It's sorted by most recent change to last, at the time I retrieved it. So likely repos at the end need to be dropped first.

[2015-04-18 02:02] davidascher commented on #425
I have code using webhooks and keeping state in firebase. Will send out of
band.
On 17 Apr 2015 6:18 pm, "ScottDowne" <notifications@github.com> wrote:

[2015-04-19 02:24] LauraReynal commented on #428
I have lots of feedback and ideas from the testing here in Chicago about what would attrack users and their reactions towards our existing ideas.

[2015-04-20 11:14] AJaySi opened #436 "FreePolicy"
Insurance Policy Sector in india.
Insurance web aggregators in india are setting a wrong trend where they are hassling users for insurance data. There is misselling in which the agent sells the insurance policy for higher commission than user's requirement. They are then biased.
We aim to provide a platform for all insurance data without any user details.
There is no signup Or logging user data in

[2015-04-20 15:28] cadecairos opened #437 "Design User API"
What data do we need to store for each user ?

Routes
* Create user
  * POST /user
* Get user data
  * GET /user
* Update user data
  * PATCH /user
* Delete a user
  * DELETE /user

[2015-04-20 15:29] cadecairos commented on #437
bahahahaha wrong account AND repo XD

[2015-04-20 15:29] #437 closed

[2015-04-20 19:14] edrushka commented on #435
FYI: I've booked a daily standup
**1:00pm ET/10:00 am PT**
**Erika's vidyo room**
All are welcome.

[2015-04-20 20:21] edrushka commented on #378
#### Timeline:
UX/IA/design prototyping: May 4 - June 30
Copy: May 11 - June 30
Web dev: July 1 - Sept 4
User testing: July 17 - July 30
L10N: Aug 12 - Sept 21
QA/Code review: Sept 7 - Sept 18
Launch: Sept 21
Post-launch a/b test: Sept 22 - Oct

[2015-04-20 21:58] ldecoursy commented on #430
@KevZawacki drafted blog post, FAQ and email, and reviewed with @HPaulJohnson @ldecoursy and @amirad.

To come: Updated draft with few remaining q's for @davidascher and @chrislarry33, as well as a timeline and list of relevant communications channels.

[2015-04-20 22:58] hannahkane commented on #434
I'm closing this, as I think we've reached consensus. See etherpad for notes, and tickets are here: https://github.com/mozilla/teach.webmaker.org/issues?q=is%3Aopen+label%3Aplatform+label%3A%22maker+party%22

[2015-04-20 22:58] #434 closed

[2015-04-20 22:59] hannahkane commented on #338
EOD update:
outstanding tickets that are blockers are here: https://github.com/mozilla/teach.webmaker.org/issues?q=is%3Aopen+milestone%3A%22Inspector+Gadget%22+label%3Av1

Launch will likely happen tomorrow.

[2015-04-21 13:16] adamlofting commented on #409
I've written up the results from the remaining two Adwords Tests, and also the Facebook Test.

I was able to slice the Learn vs Make Ad themes from the Facebook results by Age / Gender / Location to see if any of those demographic attributes were driving the results. These were remarkably consistent but the process highlighted that our ads were almost exclusively being seen by the developing-marke

[2015-04-21 13:18] adamlofting commented on #409
Just a note in case you're reading this in your email, I pasted the wrong URL into that last comment. I've updated it now on the site.

[2015-04-21 13:42] adamlofting opened #438 "Value Proposition Testing, Phase III"
This work continues from [Phase II #409](https://github.com/MozillaFoundation/plan/issues/409)...

We want to develop a compelling value proposition for the new Webmaker App, with language that draws people into the site, and ultimate convinces them to install and/or sign-up.

### Audience
We are targeting potential users of the Webmaker App.

This work will inform, and be informed by, our Go To M

[2015-04-21 13:43] adamlofting commented on #438
cc'ing from previous tickets: @thisandagain @KevZawacki

[2015-04-21 13:47] adamlofting commented on #438
Reference Material
* [Our previous testing results and list of content ideas](https://docs.google.com/a/mozillafoundation.org/document/d/16WT50NzQziOjunUPZhS-oIaVNVJgVNhifzQsCZihJxs/edit#)

Next step is for @HPaulJohnson and @KevZawacki
- [ ] Prepare initial consumer ready ad copy for use in Facebook and Adwords

[2015-04-21 13:48] adamlofting commented on #409
Closing this. Next phase is #438

[2015-04-21 13:48] #409 closed

[2015-04-21 16:17] HPaulJohnson commented on #438
Adding @edrushka for her assistance in developing ad copy. We'll aim to have some ideas ready by 4/23.

@thisandagain ideally we can get design/dev resources for the landing page into the next sprint?

[2015-04-21 16:48] edrushka commented on #423
adding @RebsD. Welcome to Github, Rebecca!

[2015-04-21 16:58] thisandagain commented on #438
@HPaulJohnson Getting design resources shouldn't be a problem, but I'm a little short on devs right now. We've got a scheduling / roadmap meeting tomorrow and will try to find a way to get this done with @xmatthewx and @secretrobotron.

[2015-04-21 17:37] bensternthal commented on #375
@edrushka can you provide an update on timing, rough timing is fine.

[2015-04-21 21:39] hannahkane commented on #408
Assigning this to @simonwex who is handling the negotiations.

[2015-04-21 22:49] hannahkane commented on #338
Waiting one more day. There's one outstanding id.webmaker issue.

[2015-04-21 23:28] davidascher commented on #423
This probably needs a synchronous conversation, but I want to flag the difference between a management structure and a governance model.  Modules are about the latter, not the former.

From a management point of view, we need someone to drive action; the module structure can be useful to encourage participation, make sure that the work is aligned with more stakeholders than just said management st

[2015-04-22 09:21] adamlofting commented on #438
To support the resourcing conversations, this ticket `Build landing page to support value proposition testing in Adwords and on Facebook` #418 should give an idea of scope.

[2015-04-22 14:34] hannahkane commented on #338
DOOOOOOONE!!!!

[2015-04-22 14:34] #338 closed

[2015-04-22 14:38] jgmac1106 commented on #338
Just went to teach.mozilla.org on the phone. Congrats to all! Been quite
the pleasure to watch you work.

On Wed, Apr 22, 2015, 10:34 AM hannahkane <notifications@github.com> wrote:

[2015-04-22 14:45] amirad commented on #338
:boom:

:clap::clap::clap::clap:

[2015-04-22 14:50] cassiemc commented on #338
Amazing! Nice work everyone! :+1:

[2015-04-22 15:08] toolness commented on #338
Hooray!!!!

Just so everyone knows, there are still a few [minor things to work out](https://github.com/mozilla/teach.webmaker.org/issues?q=is%3Aopen+is%3Aissue+label%3Av1) but they should be resolved by the end of the day.

[2015-04-22 15:31] xmatthewx commented on #338
Congrats everyone!!

[2015-04-22 16:02] #404 closed

[2015-04-22 16:02] secretrobotron commented on #404
staging: id.mofostaging.net
prod: id.webmaker.org
use from teach.mofostaging.net and teach.mozilla.org

[2015-04-22 16:16] jgmac1106 commented on #338
I was able to log in immediately and brought me right to the register your
club page. Amazed you got log in ready for the hardening but still soft
launch.

On Wed, Apr 22, 2015, 11:31 AM matthew w <notifications@github.com> wrote:

[2015-04-22 16:39] HPaulJohnson commented on #430
A few additional deliverables @adamlofting and I discussed this morning to support this:

- A list of "active" Webmaker users (logged in last X days) for direct outreach
- A list of top ~20 referring sites (ex. Made with Code) so that we can reach out to specific partners who may be linking to these tools and driving traffic.

[2015-04-22 16:53] thisandagain commented on #438
Added to @vazquez and I's SOW for the next sprint. @xmatthewx is going to take a crack at an IA early next week.

[2015-04-22 17:38] ScottDowne commented on #403
@adamlofting if you need this, I started a list of repos: https://gist.github.com/ScottDowne/88b8728b0757b8d574d3

It's sorted by most recent activity at the time I grabbed them.

[2015-04-22 18:46] edrushka opened #439 "Migrate CRM Services from BSD to Salesforce/Exact Target"
This is a meta ticket for the large task of moving our data off BSD and onto Salesforce/Exact Target

Project lead: @adamlofting
Project manager: @edrushka
Consulted: @valianttry @davidascher

Wiki: http://wiki.webmaker.org/CRM

Sub-tickets to come...

[2015-04-23 10:00] adamlofting commented on #430
We should generate the list of "active" users when we get close to sending the email.

Excluding our sites, news sites, social shares and content hosted on makes.org that points to our tools (teaching kits etc), these are the top sites referring traffic to us in the last year:

-  madewithcode.com
-  developer.mozilla.org
-  code.org
-  classroom.google.com (this is teachers linking to the tools -

[2015-04-23 10:46] thornet commented on #384
Update: 13 confirmed RCs. Anticipated total: 15

Kickoff call scheduled for May 5.

[2015-04-23 10:46] #384 closed

[2015-04-23 10:47] thornet commented on #293
Invitations to program retreat sent. Save the Date out. Website in active development.

[2015-04-23 11:15] jgmac1106 commented on #430
Google Classroom did not debut until August 2014 and is only available in
#GAFE schools. These may be teachers in formal education who regularly use
the tools.

It may not have been Maker Party but teachers setting up their LMS in same
time frame.

They could be an important contact point for recruiting club captains.

Also means we may want to communicate legacy tool plan on popular #GAFE
network

[2015-04-23 11:16] jgmac1106 commented on #430
Same with Edmodo. Probably a few key groups to cross post blogs that can
get message out.

On Thu, Apr 23, 2015, 7:15 AM Greg Mcverry <jgregmcverry@gmail.com> wrote:

[2015-04-23 15:29] OpenMatt commented on #417
This has come pretty far here:
http://mzl.la/roadmap

Will be adding some polish and demoing tmrw.

[2015-04-23 18:59] hannahkane commented on #383
Closing this here since it's covered in the teach repo.

[2015-04-23 18:59] #383 closed

[2015-04-23 19:00] hannahkane commented on #350
This ticket is weird and I'm closing it.

[2015-04-23 19:00] #350 closed

[2015-04-23 19:01] hannahkane commented on #349
Closing this. Will be replaced by more detailed implementation plan.

[2015-04-23 19:01] #349 closed

[2015-04-24 14:14] LauraHilliger opened #440 "Prepare Discourse install for localization"
https://github.com/mozilla/teach.webmaker.org/issues/802 established the need for Discourse to support multiple languages. The project is localized [using Transifex](https://www.transifex.com/projects/p/discourse-org/) and includes [dev documentation](http://blog.discourse.org/2013/03/localizing-discourse/) on how we build this in. Starting with Portuguese will support Club activities in Brasil.

[2015-04-24 15:51] adamlofting opened #441 "Make CRM work for MoFo (ongoing)"
MoFo has a number of existing requirements and opportunities relating to CRM (Constituent Relationship Mangement). This is master ticket to capture the main projects within this task, and to keep the work visible within the heartbeat planning process.

### Audience
This work should serve the needs of MoFo staff, in order to support their relationships with the wider community.

### Success
* Org w

[2015-04-24 16:01] adamlofting commented on #441
Currently filed sub-projects are:

- [ ]  Migrate CRM Services from BSD to Salesforce/Exact Target #439
- [ ]  Setup Exact Target for use with all MoFo transactional emails #433

[2015-04-24 16:39] adamlofting commented on #410
Moving this ticket into the new granular repo for the BSD migration project:
https://github.com/MozillaFoundation/mofo-crm/issues/3

[2015-04-24 16:39] #410 closed

[2015-04-24 16:41] adamlofting commented on #439
Sub-tickets are being filed in the mofo-crm repo, using the tag `BSD Migration`:
* [See existing tickets here](https://github.com/MozillaFoundation/mofo-crm/labels/BSD%20Migration)

[2015-04-24 17:06] adamlofting commented on #439
And for reference this is the migration plan as it currently stands:
* https://docs.google.com/document/d/1d386Yqsc4UO214Wy3BZcstPze8640r8xvmpGrfq-3V0/edit#

[2015-04-24 18:51] edrushka opened #442 "Make decicion on MozFest scheduling tool"
We're nearing completion on the MozFest site design. It's time to make the final decision on which tool we'll use for the schedule.

driver: @edrushka
decision-maker: @Saallen
consulted: @simonwex @davidascher @alicoding @ScottDowne
informed: @iamjessklein @cassiemc @thornet

[2015-04-24 18:54] xmatthewx opened #443 "Complete build of Webmaker Alpha"
Continues work from #429 to build Webmaker's Alpha release.

Goals:
 - Build core end to end experience on Android with refined UI
 - Implement and connect to services API
 - Iterate on design based on remote testing and field research.

Links:
 - [http://bit.ly/webmaker-intro](http://bit.ly/webmaker-intro)
 - [http://bit.ly/webmaker-build](http://bit.ly/webmaker-build)
 - [Roadmap](https://docs.g

[2015-04-24 19:00] xmatthewx opened #444 "Begin Webmaker Beta"
Continues work from #443 to build Webmaker's Beta release.

[Roadmap](https://docs.google.com/a/mozillafoundation.org/spreadsheets/d/1ZvdNJLHuW0fIBt_-WcR7Ns6OhZgaMy6MI9kfjlXF-9o/edit#gid=0)

### RACI

Phase: Build
Driver: @secretrobotron, @xmatthewx
Decision: @thisandagain
Design: @flukeout @vazquez
Dev: @gvn, @Pomax, @k88hudson
Services: @cadecairos
Quality:
Metrics:

[2015-04-24 19:02] xmatthewx opened #445 "Complete build of Webmaker Beta"
Continues work from #444 to complete build of Webmaker's Beta release.

Roadmap: https://docs.google.com/a/mozillafoundation.org/spreadsheets/d/1ZvdNJLHuW0fIBt_-WcR7Ns6OhZgaMy6MI9kfjlXF-9o/edit#gid=0

Release – http://mzl.la/webmaker-release
Nightly – http://mzl.la/webmaker-nightly

### RACI

Phase: Build
Driver: @secretrobotron, @xmatthewx
Decision: @thisandagain
Design: @flukeout @vazquez
Dev: @

[2015-04-24 19:26] simonwex commented on #442
I'm happy to help make that decision. Could we link to all the relevant designs and requirements docs here?

[2015-04-24 20:29] edrushka commented on #442
Yes!
* @iamjessklein is finalizing UX today and should have something posted by Monday.
* a contractor will finalize UI during the May 8 heartbeat
* Much of our thinking has been documented here: https://studiomofo.etherpad.mozilla.org/MozFest-2015-site-plans and
* Roberto put a fair amount of thought into the schedule tool's functionality here: https://projects.invisionapp.com/share/AY2GUNPXU#/sc

[2015-04-24 20:45] edrushka commented on #435
Update:
Luke and Cassie combined forces to create a super design: https://redpen.io/oz58598d25c83f62ca
MoCo is currently reviewing.
If we're moving ahead with this, Scott will build next week.

[2015-04-24 21:12] edrushka commented on #406
Moving this to the CRM repo: https://github.com/MozillaFoundation/mofo-crm/issues/11

[2015-04-24 21:12] #406 closed

[2015-04-24 22:18] HPaulJohnson commented on #430
A few open questions remain on this ticket, including some technical details and timing specifics. Beyond those, gating issue is when teach site is ready to be more publicly promoted.

Planning is complete and we should be able to start communicating by the end of the next sprint.

[2015-04-24 22:21] HPaulJohnson commented on #438
In addition to landing page work, going to convene a group of creative thinkers to help develop next phase of ads. Kickoff meeting for that to come early next week.

[2015-04-24 22:23] chrislarry33 commented on #430
@ldecoursy and @hannahkane can correct me if i am wrong, but my sense next week we are ready for some kind of traffic and have it going a few layers more public. I'd hate to be a blocker to the comms. Can we add a piece that says teach site still evolving?

[2015-04-24 22:26] HPaulJohnson commented on #419
Draft plan presented and feedback incorporated into v3 doc: https://docs.google.com/a/mozilla.com/document/d/1P5HMbDpq3dWOYSnB_smdIhyML8XlPfzdfrZeRmh6mSk/edit?usp=sharing

Will be sharing this with product team and others in coming week. Next phase is building launch calendar and deliverables from this plan.

[2015-04-24 22:26] #419 closed

[2015-04-24 22:28] hannahkane commented on #430
+1 both to being ready and to including language about the evolving nature of the site.

[2015-04-24 22:30] HPaulJohnson commented on #430
Sounds good. We'll tweak the language and try to get it up next week (targeting 4/30), assuming we resolve a few of the other technical details needed for the FAQ.

[2015-04-24 22:45] HPaulJohnson opened #446 "Pre-Maker Party Comms"
We need to prime internal/external audiences about Maker Party in 2015.

### Audience
Mozillians, Webmaker/Teach community and past Maker Party participants.

### Success
Success is people being aware that Maker Party 2015 is happening from July 15-31, getting them excited enough to participate and introduce the idea of how MP relates to the newly created Mozilla Clubs.

The objective here is to d

[2015-04-24 23:27] edrushka commented on #417
@OpenMatt I've added Advocacy, Fundraising and CRM to this doc. Most of it is vague, but it should give an indication of where we'll be asking for dev and/or design resources. Will update as I gather more details.

[2015-04-25 19:51] LauraReynal commented on #391
Updated to May 8th, Sorry Folks, really impossible to finish while in Chicago.

[2015-04-25 19:52] LauraReynal commented on #372
Target is May 8th for first version of the report.
Adding @sabrinang in the issue to follow.

[2015-04-27 09:28] adamlofting commented on #433
DEG are providing training next week for dev team: @alicoding @mmmavis  @simonwex @ScottDowne (appointments are due soon if they haven't already been sent).

Please add specific questions/requirements to this Etherpad before the training:
https://etherpad.mozilla.org/exacttarget-training-questions

Training will be recorded. :video_camera:

[2015-04-27 09:40] adamlofting commented on #433
This work is ongoing. Training is happening in this Heartbeat, but let's consider making it a P1 in the following heartbeat (May 22) for implementation.

[2015-04-27 09:42] adamlofting commented on #392
I think this is fine under the MoFo KPIs heading where it is right now.
http://build.webmaker.org/dashboards

[2015-04-27 09:42] #392 closed

[2015-04-27 09:45] adamlofting commented on #418
Just adding milestone and P2 so this shows up in the planning meeting. Better labels can be assigned then.

[2015-04-27 09:46] adamlofting commented on #403
Adding a milestone so this can surface in the planning meeting at somepoint. I suspect resourcing wise it will be lower priority for now.

[2015-04-27 09:55] Saallen commented on #442
Which ever tools are shortlisted I would really like the Space Wranglers to test pre confirmation.
@davidascher suggested https://sched.org/ which I really liked for its mass functionality but very happy to hear about and test other options.

[2015-04-27 10:31] thornet commented on #442
+1 to having the wranglers test our shortlist favs. They'll help us determine what's going to work well during the call for proposals, scheduling and on-site editing.

[2015-04-27 15:09] OpenMatt commented on #435
Nice work guys! so @edrushka : sounds like next steps to close this one are:
- 1) get design approved by MoCo
- 2) then close this ticket and create a new build ticket this heartbeat (assigned to Scott)

[2015-04-27 15:10] OpenMatt commented on #429
@secretrobotron @xmatthewx: status update?

[2015-04-27 15:11] OpenMatt commented on #428
@secretrobotron status update?

[2015-04-27 15:11] OpenMatt commented on #427
@xmatthewx status update?

[2015-04-27 15:13] OpenMatt commented on #417
* Draft 1.0 is completed here: http://wiki.webmaker.org/Main_Page
* I'll be working on Draft 2.0 this Heartbeat. Includes:
** resolving key discussion questions that emerged from 1.0
** breaking down into Heartbeats for more granularity
** adding more detail on Fundraising

[2015-04-27 15:20] xmatthewx commented on #427
Success
 - plans documented on https://github.com/mozilla/api.webmaker.org in the [alpha miletone](https://github.com/mozilla/api.webmaker.org/issues?q=is%3Aopen+is%3Aissue+milestone%3AAlpha)
 - @cadecairos set up test server with docs running at https://skittles-api.herokuapp.com/docs

@thisandagain & @secretrobotron - moving forward, do we want a separate planning ticket for services? Or, should

[2015-04-27 15:22] secretrobotron commented on #428
Some work done, but need to  continue to refine. Moving to next milestone.

[2015-04-27 15:28] OpenMatt commented on #408
* I believe next step on this is @simonwex meeting w. MoFo Finance team.

[2015-04-27 15:28] OpenMatt commented on #339
* @davidascher: status /  next steps?

[2015-04-27 15:29] OpenMatt commented on #258
* @laurareynal @secretrobotron : status?

[2015-04-27 15:30] OpenMatt commented on #21
@thisandagain should we just close this bug?

[2015-04-27 15:31] xmatthewx commented on #429
Big heartbeat with lots of progress:
 - Engineers completed a build to unify the app's front, back, and middle on Android.
 - @flukeout refined UX and executed a round of user tests https://github.com/mozilla/webmaker-app/issues/1548
 - @vazquez finalized UI minutiae posted to [invision](minutiae)
 - full team got up and running with Android studio

Work plan continues in #443

[2015-04-27 15:38] xmatthewx commented on #21
Closing. Tracking progress toward 1.0 in #443

[2015-04-27 15:38] #21 closed

[2015-04-27 15:38] #429 closed

[2015-04-27 15:39] xmatthewx commented on #432
Bumping to next milestone to continue work. cc @secretrobotron @thisandagain

[2015-04-27 15:41] xmatthewx commented on #427
Merging with the Alpha milestone #443. We can open a separate planning ticket if needed.

[2015-04-27 15:41] #427 closed

[2015-04-27 15:58] secretrobotron commented on #258
Login has now shipped. I will proof-read this :). Talked to @benrito a bit about a deadline too: there isn't one, but it's always nice to have earlier than later. I'll make it a priority this week.

[2015-04-27 16:03] ScottDowne commented on #425
Live example here: http://thecount-build.herokuapp.com/issues

Pull request here: https://github.com/mozilla/build.webmaker.org/pull/71

It's been reviewed, but I'm not sure how to push it to prod yet, not seeing it in heroku under something I have access to.

[2015-04-27 16:06] hannahkane opened #447 "Meeting to discuss supporting Thimble moving forward"
Since we're preparing to debut the shiny, new Thimble and house it on the Teach site, let's figure out how we're going to support the Thimble team moving forward.

Deliverables:
 * clear roles for Mofos involved in Thimble work
 * timeline for re-debut and integration into Teach

[2015-04-27 16:14] cassiemc commented on #435
Here's the feedback from Moco via email. Mostly copy changes:
* Love the education and the conditional “answers” given to users.
* Love the eyeball!
* The site doesn’t explicitly call out that Mozilla is for “stopping mass surveillance.” Maybe this can be woven into the petition CTA.
* Right now the petition CTA is to “help make civil liberties an important part of the conversation,” but the petit

[2015-04-27 16:20] hannahkane opened #448 "Hire a contractor for Cred.ly implementation"
Can we start this process this heartbeat?

[2015-04-27 16:24] edrushka commented on #435
This is the meta ticket so I'm leaving it open until the project is done.

Update:
Design is done: MozillaFoundation/movement-building#40
Build starts today: MozillaFoundation/movement-building#41

[2015-04-27 16:30] OpenMatt commented on #369
@simonwex it's that time again... :) status update?

[2015-04-27 16:41] edrushka opened #449 "Tweak current instance of Salesforce"
The partnerships teams is currently using Salesforce. This instance was set up in late 2014, and can be considered a kind of MoFo Salesforce 1.0.

This is meta-ticket for tweaks and adjustments.

driver @edrushka
dev @alicoding
informed @benrito

[2015-04-27 16:44] edrushka commented on #449
* First we need to get dev access: https://github.com/MozillaFoundation/mofo-crm/issues/1
* Next, the first set of adjustments is outlined here: https://github.com/MozillaFoundation/Engagement/issues/5 (note that future tickets will be filed in https://github.com/MozillaFoundation/mofo-crm)

[2015-04-27 16:47] secretrobotron commented on #432
:+1:

[2015-04-27 16:52] ldecoursy opened #450 "Finalize goals, event intake and incentives for Maker Party"
We need decisions around Maker Party event goals, including what information we want to collect, how we'll collect it, and what incentives we can offer. I'll set up a kick-off call ASAP.

cc @amirad @HPaulJohnson @adamlofting @chrislarry33 @OpenMatt @hannahkane

[2015-04-27 16:56] simonwex commented on #408
Correct. Also, Credly is working on the questionnaire for the vendor review process.

[2015-04-27 17:04] OpenMatt commented on #339
* A few outstanding action items here: mainly filing individual tickets, etc.

[2015-04-27 17:04] thornet opened #451 "On-board 15 Regional Cordinators for Clubs"
Being tracked in more detail in Learning repo: https://github.com/mozilla/teach.webmaker.org/issues/286

On May 5, kicking off RC on-boarding.

[2015-04-27 17:04] OpenMatt commented on #339
@simonwex will own this one going forward

[2015-04-27 17:05] thornet opened #452 "Privacy module prepared for testing"
In progress in the Learning repo: https://github.com/mozilla/teach.webmaker.org/issues?utf8=%E2%9C%93&q=is%3Aopen+privacy

[2015-04-27 17:07] HPaulJohnson commented on #430
Most recent plan: https://docs.google.com/document/d/1PLfNVWv67OFNt-bSzl7Lv08eImK_LfIHMv8T2WhWg3c/edit

[2015-04-27 17:07] thornet opened #453 "Compare iRights 10 Steps with Web Literacy Map"
Together with @DaveSteer. In progress in Learning repo: https://github.com/mozilla/teach.webmaker.org/issues/801

[2015-04-27 17:07] OpenMatt commented on #430
* note that April 31st is a key deadline (flexible) -- we're tying the plan for legacy tools to announcing the launch of teach.moz.org

[2015-04-27 17:08] OpenMatt commented on #452
* includes 6 45-minute activities. will be packaged into Clubs format and tested w. key partners (EFF + others)

[2015-04-27 17:12] #99 closed

[2015-04-27 17:13] OpenMatt commented on #446
* question for @ldecoursy : re Maker Party landing page

[2015-04-27 17:14] ldecoursy commented on #446
Here's the ticket for MP landing page on teach.mozilla.org: https://github.com/mozilla/teach.webmaker.org/issues/736

We'll just want to sync up timing.

[2015-04-27 17:15] thisandagain commented on #428
Tracking plan here: https://docs.google.com/document/d/125EsGZkf_bRKsZQT5L3VDFYs0NMXpV9J_ce8t1S-4fo/edit

[2015-04-27 17:16] OpenMatt commented on #441
Documentation and scope: http://wiki.webmaker.org/CRM

[2015-04-27 17:16] secretrobotron commented on #428
Thanks @thisandagain . Very much a WIP. Will break up into more readable pieces.

[2015-04-27 17:19] OpenMatt commented on #435
note: MoCo approved the design :)

[2015-04-27 17:23] OpenMatt commented on #372
needs design resource for week of May 4

[2015-04-27 17:23] OpenMatt commented on #372
@cassiemc will review

[2015-04-27 17:25] OpenMatt commented on #258
will work with @HPaulJohnson on blog post

[2015-04-27 17:34] secretrobotron opened #454 "Address id.webmaker.org bugs"
Milestone:
https://github.com/mozilla/id.webmaker.org/milestones/QA

RACI
Driver: @thisandagain
Dev: TBD @simonwex
Quality: @simonwex

[2015-04-27 17:37] cassiemc commented on #374
@edrushka is there a milestone for subtickets? I'd like to file separate design tix.

[2015-04-27 17:41] OpenMatt commented on #448
* @davidascher and @simonwex can help
* need: statement of work for cred.ly implementation (@simonwex will produce this)
* note: we're currently hiring a contractor to update BadgeKit
* we could loop the cred.ly implementation into that contract

[2015-04-27 17:42] OpenMatt commented on #448
see also: https://github.com/mozilla/teach.webmaker.org/issues/710

[2015-04-27 17:42] hannahkane commented on #448
related ticket to help scope the work: https://github.com/mozilla/teach.webmaker.org/issues/710

[2015-04-27 17:45] OpenMatt commented on #447
* question: who's liasing with Humph's team?
* @davidascher met with humph last week. he wants a backlog of tasks.
* proposal: @hannahkane will manage and prioritize the backlog. and review it with humph's team / set process for going forward.

[2015-04-27 17:45] OpenMatt commented on #447
next step: Hannah will rescope this ticket and meet w. Humph

[2015-04-27 17:46] hannahkane commented on #448
Assigning myself to properly harass @simonwex

[2015-04-27 17:48] OpenMatt commented on #433
Andrew: would like to be able to sandbox and test by end of May

[2015-04-27 17:51] OpenMatt commented on #424
* @thisandagain suggesting connecting with @hannahkane on this one -- similar approaches

[2015-04-27 17:51] OpenMatt commented on #432
(note: Humph is looped in here)

[2015-04-27 17:53] OpenMatt commented on #411
@hannahkane is looking for approval from @thisandagain to push ahead w. this

[2015-04-27 18:02] edrushka commented on #374
@cassiemc ideally design will be complete by May 8, and the build will be complete by May 22

[2015-04-27 18:03] cassiemc commented on #374
Sorry, I meant a label @edrushka

[2015-04-27 18:03] thisandagain commented on #411
R+ :+1:

[2015-04-27 18:11] Saallen commented on #442
I asked some Space Wranglers to help test some tools when we have a shortlist
Including @misty A @kaitlinT @secretrobotron @erikao

[2015-04-27 21:14] edrushka commented on #374
@cassiemc I use the mozfest label when I work in the /plan repo
I've been labeling subtickets filed in the /mozillafestival.org repo like this: https://github.com/mozilla/mozillafestival.org/issues

[2015-04-27 22:00] edrushka commented on #375
I haven't forgotten about this :) Will report back when I have a better idea of the timing.

[2015-04-27 23:09] LauraReynal commented on #391
Hey @adamlofting Although the previous research is incomplete to date. I have the Chicago data ready for you to analyze. I Added the document in our folder. It will be interesting to compare both Emerging and developed so feel free to start by Chicago

[2015-04-27 23:42] soapdog commented on #440
Will ping our L10N community to help with localization.

[2015-04-27 23:43] simonwex commented on #408
Met with Pamela today. I'm going to file a legal bug and we'll be off to the races.

[2015-04-28 00:14] simonwex commented on #408
https://bugzilla.mozilla.org/show_bug.cgi?id=1159064

[2015-04-28 00:23] simonwex commented on #433
/cc @jbuck

[2015-04-28 01:17] jgmac1106 commented on #391
Can't lie, little giddy to see what happens when you two get together to
play with numbers and ideas.

On Mon, Apr 27, 2015 at 7:09 PM Laura de Reynal <notifications@github.com>
wrote:

[2015-04-28 14:08] Saallen commented on #442
I created an [etherpad] (https://festival.etherpad.mozilla.org/2015scheltool) \o/  which outlines feedback from last year and this years review process.

[2015-04-28 17:37] jbuck commented on #433
@adamlofting Mind if I join that?

[2015-04-28 21:03] edrushka commented on #378
Update:
ZURB, the design firm contracted by MoCo to do this work, will provide us with a page template and we can tweak our existing updated copy [here] (https://docs.google.com/document/d/1yXbtmU7Cr3P9lR7MUm_p8389uVYDpkaFBY0B7pXVZdA/edit) to fit it. Paul will follow up with Jen Bertch to see what legal documents we need to continuing providing.

[2015-04-28 22:57] simonwex commented on #448
/me can't wait

[2015-04-29 10:18] adamlofting commented on #433
@jbuck, absolutely I'll forward some emails to you now

[2015-04-29 12:38] LauraHilliger commented on #452
content is packaged, testing running parallel. See https://github.com/mozilla/teach.webmaker.org/issues/838

[2015-04-29 17:19] cassiemc commented on #435
Here's the milestone for launching this: https://github.com/MozillaFoundation/movement-building/milestones/Surveillance%20Campaign

[2015-04-29 18:51] edrushka commented on #442
Update:
We met this morning and created a shortlist to test (line 55 of this pad https://festival.etherpad.mozilla.org/2015scheltool?)

Sarah will wrangle the wranglers to help us test. We'll bring this list down to 2 or 3 and have Ali and Scott review for ease of integrating into the MozFest site and then we'll make a final decision.

[2015-04-29 18:59] edrushka commented on #424
@hannahkane and/or @simonwex , Ali has some time this heartbeat to start working on this. Can you please add some specifics to this ticket?

Do you want a solution (e.g. a library) that you can use to localize?
Or do you want this tested on the teach site?
Or....???

[2015-04-29 19:27] edrushka commented on #435
Update:

#### Snippet
- [Snippet on staging] (http://scottdowne.github.io/eoy-snippets/eyeball-snippet/)
- [Snippet/eyeball ticket. (https://github.com/MozillaFoundation/movement-building/issues/44)
- build is 99% complete. Just need to swap in final copy
- we get this snippet beginning May 1
- Scott and Andrea reaching out to snippet team for review/testing

#### Interstitial
- design is complete

[2015-04-29 21:34] hannahkane commented on #424
Will let @simonwex answer about what is reasonable technically, but I'll say that I'd be happy to have the Teach site be the guinea pig for React l10n.

[2015-04-29 21:36] hannahkane commented on #447
Scheduled for tomorrow.

[2015-04-29 21:37] hannahkane commented on #448
Beginnings of SOW here: https://etherpad.mozilla.org/badgetix

[2015-04-29 22:43] HPaulJohnson commented on #430
Update: Received few, last technical details that were outstanding this afternoon. I've incorporated them into a final draft below.

https://docs.google.com/document/d/1PLfNVWv67OFNt-bSzl7Lv08eImK_LfIHMv8T2WhWg3c/edit

I'd like everyone to give it a final review and signoff, including technical review by @simonwex and @davidascher, Webmaker app language by @thisandagain and teach.mozilla.org langu

[2015-04-29 22:58] thisandagain commented on #430
@HPaulJohnson I left a few suggestions and comments in-line.

[2015-04-29 23:25] thisandagain commented on #430
I'd prefer to not put this on the splash page of webmaker.org. Generally, I'd consider it best practice to have a new product in-place before you start announcing feature / product-line deprecations. While I 100% appreciate that we have a special circumstance here with power users and specifically mentors who are teaching with the tools, putting this transitional messaging on the splash page doesn

[2015-04-30 14:47] alicoding commented on #424
By looking thoroughly on the Teach site I see that these are the minimum requirement for an internationalization library we need in order to fully localize the application.

1. Formatting text
2. Markup with the string
3. Simple String without markup

Examples:

#### Formatting text
Developed by: Karen Smith, and Hive Toronto

or

Developed by: MOUSE (Hive NYC member)

#### Markup with the string

[2015-04-30 16:22] HPaulJohnson commented on #430
Thanks for the review @thisandagain. This makes sense to me too, so we'll refrain from putting any messaging on webmaker.org.

[2015-04-30 16:27] toolness commented on #424
Thanks for looking into this, Ali.

If there isn't one obvious solution that's mature, stable, and supported well, I think I'm generally okay with each project doing its own thing.

[2015-04-30 18:55] cassiemc commented on #372
Hey @LauraReynal @thisandagain – Earlier this week I thought @sabrinang might have time to help but she is on PTO 4/5 days next week. So please lean on me to help with this, especially after Monday (busy day onboarding Jordan and our new contractor). When do you think the content for this will be ready to go?

[2015-04-30 19:16] LauraReynal commented on #372
Hey @cassiemc thanks for the message. I am unsure when the content will be ready for a design review, but it will be probably not be before the end of this heartbeat May8th.
Will let you know a couple days in advance when ready for design.

However, there is a bunch of design help needed on some graphics. They would need to happen before the report itself in order to incorporate them. What do you

[2015-04-30 19:24] simonwex commented on #424
We certainly need consistency in what our transifex users see. I'd also like to see consistency between sites that are like the teach site. -- Primarily static content, works without JS. For these sites, something we should also consider is that we'd like one day to have the content non-dev editable.

In that light, @alicoding could you do some low-effort sample implementation to see what the resu

[2015-04-30 19:47] davidascher commented on #424
How tied to transifex is the data format we're using for sites now?

It seems to me that we know we'll need different string-slurping tooling
(e.g. for the Java code in the app, for the React-based webapps, for
whatever else we end up doing), we may need to explore different
localization management tooling (transifex, pootle, etc.), but it'd be nice
if we could have a common file format across the

[2015-04-30 19:50] alicoding commented on #424
Many of these sites do support most if not all of file formats we do care
about. I think we should not use JSON as our option here because it doesn't
really work well with pluralization in general though we can process the
file if we want to use it in the app itself.
On Apr 30, 2015 3:47 PM, "David Ascher" <notifications@github.com> wrote:

[2015-04-30 21:49] hannahkane commented on #447
This happened. Follow up with @humphd will happen next week to start prioritizing a backlog. This is officially in motion, so I'm closing.

[2015-04-30 21:49] #447 closed

[2015-04-30 22:38] hannahkane commented on #430
I think the modal on Popcorn and Appmaker, in lieu of a splash page announcement, is a sensible idea. R+ on the language in the blog post and emails.

[2015-05-01 00:47] humphd commented on #447
A note on one of our decisions: going forward we'll file bugs related to the Thimble work in https://github.com/mozilla/thimble.webmaker.org and devs will file upstream bugs in related repos.  For purposes of our community, this can be the canonical repo for all "Thimble" related work.

[2015-05-01 12:14] adamlofting opened #455 "MoFo Hosted Donation Pages (+ new payment processor)"
Re-scoping this ticket:

* Move the front-end hosting of our donations forms to a MoFo owned environment
* Get code into a repo to manage this in a MoFo best practices way
* Make consistent with the rest of our engineering best practices
* Setup testing and deployment workflow
* Switch out current Credit Card processing for new provider (TBC, maybe Stripe)

### Audience
Donors who use our pages, E

[2015-05-01 12:47] adamlofting commented on #439
I've filed one upcoming piece of work for this project in `plan` as it `needs-dev`: https://github.com/MozillaFoundation/plan/issues/455

[2015-05-01 12:53] toolness commented on #424
@alicoding, not sure if this is out-of-scope for this issue or not, but have you looked at webpack's [`I18nPlugin`](https://github.com/webpack/webpack/tree/master/examples/i18n)? Am currently considering using it as a component of our l10n pipeline for the teach site. I like how it creates separate locale-specific JS bundles.

[2015-05-01 13:38] alicoding commented on #424
I've looked at the plugin, but thought this plugin can solve very little of the problems we have here.

It doesn't really deal with any of the minimum requirement of a library/plugin we need in order to make the site fully localized and easy for translation.

We need to make sure it can deal with formatting, pluralization, markdown+string at least.

[2015-05-01 13:48] adamlofting commented on #430
@HPaulJohnson : There is a constituent group setup in BSD now: `2015May_WebmakerUsersActive_Last6months`

This is everyone who has published a make in the last 6 months who has also opted in to email comms from us.

[2015-05-01 13:50] toolness commented on #448
Just wanted to mention that I have concerns about hiring a contractor for this work vs. doing it ourselves.

Because the work involves **integration** of our existing site with a well-documented website and API (rather than e.g. building a well-documented website+API that stands on its own), it means that the contractor will need to be onboarded into our processes, understanding the codebase, and

[2015-05-01 13:57] toolness commented on #448
Oh, I should also note that a lot of the prerequisites needed on the teach site for the integration work to proceed, such as user profiles, are not even implemented yet, which makes it even harder for the work to simply be spun off to a contractor--my gut feeling is that the contractor would be spending a lot of intermittent idle cycles waiting for us to implement such prerequisites.

[2015-05-01 14:39] toolness commented on #424
Oh, for sure, I was just thinking it'd be useful as one component of a bigger pipeline. As the Unix philosophy goes, it seems to solve one problem well, namely that of storing language-specific string literals in separate bundles, so that clients don't need to download every single locale for a particular language. We could then have a separate library client-side that parses the string literal an

[2015-05-01 14:45] davidascher commented on #430
BSD question: is this a rolling 6 months, or is this group now frozen?

[2015-05-01 14:53] adamlofting commented on #430
This is frozen, as it requires a manual process for me to query the several tools databases to see who is using the tools, generate a CSV and import to BSD.

I can repeat for high value activities, but I'm looking forward to solving this with integrated CRM in the future :smile:

[2015-05-01 15:31] davidascher commented on #430
Wfm.

[2015-05-01 17:51] edrushka commented on #435
Update: We'll be ready to hand over to MoCo in a couple hours:

**Eyeball/snippet**
- Done. No changes.

**Interstitial**
- https://sendto.mozilla.org/page/content/surveillance-interstitial/
- Fix orphans (not a blocker to ship)
- Fix the last tiny design issues (not a blocker to ship)

**Metrics**
- Andrea will double check with Adam about tracking codes
- documentation here: https://github.com/M

[2015-05-01 19:38] toolness commented on #424
Ali, have you taken a look at the [ICU Message syntax](http://formatjs.io/guides/message-syntax/)? It looks like this [formatjs.io](http://formatjs.io/) project by Yahoo uses it, and there are JS libs and React components that parse it. One potential solution is to use it in combination with webpack's aforementioned `I18nPlugin` to ensure efficient data transfer.

[2015-05-01 19:43] alicoding commented on #424
That was the library that I'm looking or leaning toward after looking for so many hours... I'm only trying to understand the way how to not confused our translators when seeing such syntax since they also combining plural forms in the same place there but I guess this can be solve by explaining/training people about it.

[2015-05-01 20:53] edrushka commented on #370
Any updates on timing @Melechuga?

[2015-05-01 21:05] edrushka commented on #375
@bensternthal Would it work if we planned to do the handover later this summer. Say August?

[2015-05-01 21:08] hannahkane commented on #347
Can we close this ticket?

[2015-05-01 21:09] hannahkane commented on #366
Taking this ticket out of the March 13 milestone, since it's passed.

[2015-05-01 21:10] #347 closed

[2015-05-01 21:10] amirad commented on #347
Boom!

[2015-05-01 21:11] hannahkane commented on #251
Is this covered by #424?

[2015-05-01 21:11] bensternthal commented on #375
This is fine from my perspective however there may be some pressure to do this sooner due to all the IT migrations and shutdowns that are looming.

Richard mentioned in the original bug that he was watching this issue. Richard can you comment on the proposed date?

[2015-05-01 21:13] hannahkane commented on #426
Does this belong in the current milestone?

[2015-05-01 21:13] hannahkane commented on #416
Is this ticket done?

[2015-05-01 21:14] hannahkane commented on #346
Is this ticket still being worked on? Should we move this to the current milestone?

[2015-05-01 21:30] hannahkane commented on #448
If this isn't a good contractor project, that's fine, but I hope we can identify another piece of the Teach roadmap that *is* a good fit, because I'm concerned we can't meet our Q2 goals with our current resources.

@toolness, let's continue to refine our estimating process so that I can back that assertion up with some data. :)

[2015-05-01 21:34] ScottDowne commented on #426
I think maybe we can even close this?

[2015-05-01 21:36] alicoding commented on #251
We are doing it at the same time actually. Atul and I going to test few other platforms (OneSkyApp and Pootle).

[2015-05-01 21:37] ldecoursy commented on #416
Yes, thanks, posted on Webmaker blog.

[2015-05-01 21:37] #416 closed

[2015-05-01 21:47] hannahkane commented on #395
Should we move this to the current milestone?

[2015-05-01 22:53] jbuck commented on #346
It's being worked on in the sense that @jdotpz's original request of "lets reduce our bounce rate" is being schemed in https://github.com/mozilla/id.webmaker.org/issues/283#issuecomment-97994035 and several of us are doing Exact Target training next week.

[2015-05-04 18:25] Melechuga commented on #370
We're going to stick with the early June timeline. I'm in the process of collecting bios + photos now. Thanks!

[2015-05-04 19:08] edrushka commented on #370
Super. Please add an exact date to this ticket when you have one.

[2015-05-04 20:23] cassiemc commented on #372
hey @LauraReynal, @thisandagain filled me in on what needed to be done last week and I think this is a good first task for Jordan. Not sure his Github nick yet but @thisandagain is working with him 1:1 in Portland.

[2015-05-04 20:37] edrushka commented on #370
Assigning @alicoding to this cc @simonwex

[2015-05-04 20:37] thisandagain commented on #372
Great. Thanks @cassiemc

Added @lovegushwa as the assignee for the design tickets that were assigned to Sabrina. @LauraReynal perhaps you and @lovegushwa could connect tomorrow morning to talk through the illustrations and diagrams? It would also be nice to have him join us for the draft walkthrough on Thursday.

[2015-05-04 22:07] aidden101 opened #456 "."
.

### Audience
.

### Success
.

### Vision
.

### Measurement
.

### Roles
 * Phase:
 * Driver: @davidascher
 * Decision Maker: @benrito
 * Design Lead:
 * Development Lead:
 * Quality Verifier:

[2015-05-05 15:01] toolness commented on #424
Here's a potential option that I just hacked up a prototype for yesterday ... In retrospect, it's probably a bit too "pie in the sky" for our needs, and would likely need significant work (vs. other available options) to fully productionalize, but I guess it's a potentially interesting approach:

http://toolness.github.io/blockly-l10n-editor/

[2015-05-05 15:14] davidascher commented on #424
wow, that's out of left field @toolness.  Let's user test before deploying
;-)

As a side note: I'm interested long term in exploring localization models
that could work on phones.  But we don't want to block the urgent need to
localize both teach.* and new webmaker properties & apps.

[2015-05-05 19:11] HPaulJohnson commented on #430
Post is live at https://blog.webmaker.org/whats-next-for-webmaker-tools

Email sent to most active users of tools and mentor list (total 20K) and @ldecoursy is messaging Hive directly. She and I are also going to be reaching out to partners with inbound links to webmaker tools in the coming weeks.

Closing this one as it's a wrap.

[2015-05-05 19:11] #430 closed

[2015-05-05 20:52] secretrobotron commented on #258
##### Page 5
* "allow people to play video games, or to browse the Internet" sounds a little limiting. Where'd this definition come from? Can we add more, like "allow people to do things like play video games, browse the Internet, or even file taxes." ?

##### Page 10
* What is a "Lan House non-user"?

##### Page 11
* for Santa Cruz, "It gained a lot of structure": what is "structure"? Do you mean

[2015-05-05 20:53] secretrobotron commented on #258
##### Page 28
* What is "mgh" wrt Internet speed?

[2015-05-05 21:07] LauraReynal commented on #258
Thanks for starting the copy review ! :koala: :shipit:

Page 5
- Yes to your suggestion, I made the change in the inDesign file.

Page 10
Good catch thanks
- Someone we interviewed to get their perspective on the lan houses, but who doest not go inside the lan house or use their internet. Proposed : Local residents, made the change in the doc

Page 11
Yes I think you made the correction already, b

[2015-05-05 23:32] edrushka commented on #435
Update:
This launched on Saturday. Great results so far :)
Scott is working on the mobile version [here] (https://github.com/MozillaFoundation/movement-building/issues/47#issuecomment-99260304) (almost done)
And Jess is working on the tile [here] (https://github.com/MozillaFoundation/movement-building/issues/33#issuecomment-99212245).

[2015-05-05 23:38] edrushka commented on #374
Update: UI work is well underway and on schedule. View the details [here] (https://github.com/mozilla/mozillafestival.org/issues/17).

[2015-05-06 08:36] LauraHilliger commented on #158
Would it be ok if we share this prototype with our community? I just downloaded a zip of my 17 PAGES worth of makes, and am glad I didn't have to jot down the 204 URLs of things I made with Webmaker ;)

[2015-05-06 10:16] toolness commented on #158
I'm fine with it--at the very least we could say it's a "community-provided" tool or something, e.g. we can't provide support if users have problems with it, though they're welcome to file bugs in the GitHub repository.

[2015-05-06 21:26] alicoding opened #457 "review platform for advocacy site"
Currently the site is hosting on Wordpress Platform which is not ideal in our use case or specifically for this site since we are not really doing any dynamic content or anything that Wordpress meant to be.

### Audience
Developers who need to work on this site in general always having a hard time working on this project or any project on Wordpress because local development really takes much time

[2015-05-06 22:27] edrushka commented on #457
Some context for this ticket: we are about to make some [significant changes] (https://docs.google.com/document/d/11NKbq1qWijHBZh2JDFq-KtbGINj0QAhJwdsfkUSK-xs/edit) to the [advocacy site] (https://advocacy.mozilla.org/). @davidascher @simonwex curious as to your thoughts on switching to static HTML, as we decided to do with the MozFest site.

[2015-05-06 22:37] davidascher commented on #457
We should in general use the same stack for all our sites. That's the point
of mofo-style.  Exceptions may be needed, as in sites that need a lot of
author-delegated authoring systems (aka blogs).  Haven't had a chance to
look at the attachments, sorry.

[2015-05-06 22:52] edrushka commented on #457
@simonwex any chance you could look at the current advocacy site and help estimate how much time it would take to recreate that in static HTML. Are we talking 2 days, or 2 weeks?

[2015-05-06 23:25] alicoding commented on #457
So, I just look through the site myself and I don't see any thing that looks complicated nor we have anything that would takes up time to do at all. I suspect this shouldn't take any longer than 2 days to do the exact same thing using plain static HTML template since all the CSS and layout it's been done on Wordpress site and all we have to do here is copy paste and make sure we host everything ou

[2015-05-06 23:30] edrushka commented on #457
Well that seems doable! Let's discuss this with the advocacy team when we meet on Friday. We'll leave this ticket open for now in case Wex or David have any further advice or suggestions.

[2015-05-07 14:08] #456 closed

[2015-05-07 14:09] LauraHilliger opened #458 "Add engineering and design handbooks to book.webmaker.org"
The engineering and design handbooks links on http://book.webmaker.org result in 404s.

[2015-05-07 14:10] LauraHilliger commented on #458
sorry, wrong repo.

[2015-05-07 14:10] #458 closed

[2015-05-07 16:55] ScottDowne commented on #425
@davidascher or @thisandagain If I push this to master does it auto build the live site or do I need to do something to initiate that?

[2015-05-07 17:05] davidascher commented on #425
Push to master should auto deploy via Travis

[2015-05-07 17:15] ScottDowne commented on #425
@davidascher Awesome.

It has been R+'ed so I can merge it, but I wouldn't mind if you take a drive by if you have a chance :)

[2015-05-07 17:33] ldecoursy commented on #450
Re: Goals - We’re not setting specific goals for # of events this year due to the fact that the new Maker Party strategy is in service of reaching our goals for # of clubs and # of cities. Given that it is a two-week campaign, it would be difficult to draw YOY comparisons.

What’s important to us this year, regarding MP and in general, is having a way to know who is interested, where they are, wha

[2015-05-07 18:50] hannahkane commented on #411
Live on webmaker.org. Yay!

[2015-05-07 18:50] #411 closed

[2015-05-07 19:45] secretrobotron commented on #258
@soapdog do you know

[2015-05-07 23:06] hannahkane opened #459 "Meeting: determine solution for gallery on Teach"
See https://github.com/mozilla/teach.webmaker.org/issues/895

[2015-05-08 19:56] edrushka commented on #442
We've narrowed the shortlist down to two contenders:
#### 1) [Sched] (https://sched.org/)
This will be used at Whistler coincidental workweek, so we'll get to see it in action with time to make adjustments. Examples: https://juneworkweekwhistler2015.sched.org/  and  https://juneworkweekwhistler2015.sched.org/mobile/#schedule-type:Meals

#### 2) [Attendify] (https://attendify.com/how_it_works/)
(Sa

[2015-05-08 21:14] hannahkane commented on #448
This has not happened. Moving to next milestone—though it's really more about having a discussion of the issues raised above.

[2015-05-08 22:14] edrushka commented on #439
Moving ahead to next milestone as this work is ongoing.

[2015-05-08 22:15] edrushka commented on #374
Moving to next milestone as this work is ongoing. Progress is in the UI ticket in prev. comment.

[2015-05-08 22:16] HPaulJohnson commented on #446
Updated in https://github.com/MozillaFoundation/plan/issues/446, copying here (not sure we need both issues):

* Blog post, internal email and update on project call on 5/18. @KevinZawacki and I will put together messaging for this next week.
* Save the date email and social promotion on 5/21.
*  All other dates stay the same.

[2015-05-08 22:16] edrushka commented on #374
This heartbeat we'll finish design and start (and hopefully finish!) the build.

[2015-05-08 22:17] edrushka commented on #435
Update:
snippet is live
desktop is done
mobile is done
tile is done

To Do:
Call congress tool

[2015-05-08 22:18] edrushka commented on #423
Moving to next heartbeat. This has stalled a bit.

[2015-05-08 22:20] HPaulJohnson commented on #438
Lots of thinking and progress made during the sprint. Notes and ideas from the process here: https://etherpad.mozilla.org/launchads

This is still a WIP and there is more to do this sprint and therefore bumping it out to May 22 (will likely go all the way up until launch). Next steps:

* Relaunch FB campaign in conjunction with app landing page launch, using top 3-4 concepts we've come up with to-

[2015-05-08 22:22] edrushka commented on #370
Alright, this project is BACK ON!
Jordan will finishes Jess' design and @alicoding is on point for the build. Hurray!

[2015-05-10 20:00] AssholeDotzler commented on #442
Usted ama el dolor? Y para que te haga un favor... voy a hacer eso!

Yo saque sus huevos de oro de fracaso tan duro hasta que están sonando y que están cantando todas las melodías de dolor hacia adelante y hacia atrás en un instante! Yo soy el cascanueces chico que las grietas de su nueces que nutheads!

Y ahora vete a la mierda ESTÚPIDA de MIERDA COÑO!

----

Usted puede lamer mi Pene y mis Huevo

[2015-05-10 20:00] AssholeDotzler commented on #459
Usted ama el dolor? Y para que te haga un favor... voy a hacer eso!

Yo saque sus huevos de oro de fracaso tan duro hasta que están sonando y que están cantando todas las melodías de dolor hacia adelante y hacia atrás en un instante! Yo soy el cascanueces chico que las grietas de su nueces que nutheads!

Y ahora vete a la mierda ESTÚPIDA de MIERDA COÑO!

----

Usted puede lamer mi Pene y mis Huevo

[2015-05-10 20:00] AssholeDotzler commented on #457
Usted ama el dolor? Y para que te haga un favor... voy a hacer eso!

Yo saque sus huevos de oro de fracaso tan duro hasta que están sonando y que están cantando todas las melodías de dolor hacia adelante y hacia atrás en un instante! Yo soy el cascanueces chico que las grietas de su nueces que nutheads!

Y ahora vete a la mierda ESTÚPIDA de MIERDA COÑO!

----

Usted puede lamer mi Pene y mis Huevo

[2015-05-11 09:58] adamlofting commented on #433
Training happened last week. This now needs developer time assigned to complete the next steps.

- [ ] Proof of concept implementation with documentation so other engineers without training can replicate this
- [ ] Implementation on teach.mozilla.org

Flag @simonwex for the next heartbeat scheduling.

[2015-05-11 13:31] adamlofting commented on #395
@chrislarry33 any last minute thoughts? If not I'll write this up in a blog post somewhere easier for @OpenMatt to reference.

[2015-05-11 13:52] #451 closed

[2015-05-11 13:52] thornet commented on #451
Successful kickoff call. 17 RCs in the on-boarding.

[2015-05-11 13:52] thornet commented on #453
Reviewed and proposal in place with @DaveSteer to collaborate with iRights.

[2015-05-11 13:52] #453 closed

[2015-05-11 13:53] #452 closed

[2015-05-11 13:53] #450 closed

[2015-05-11 13:53] thornet commented on #293
Changing assignee to Sarah who can continue providing the top-level updates on Mozfest planning.

[2015-05-11 14:09] amirad commented on #450
Great! Thanks for the update Lainie. We can look further into digital certificates as incentives.

[2015-05-11 14:23] OpenMatt commented on #454
@secretrobotron status?

[2015-05-11 14:23] OpenMatt commented on #443
@xmatthewx status?

[2015-05-11 14:24] OpenMatt commented on #442
um... weird spam

@edrushka status?

[2015-05-11 14:24] OpenMatt commented on #441
@adamlofting : rolling over to next heartbeat

[2015-05-11 14:26] OpenMatt commented on #433
@simonwex should we file a new ticket for the dev work? or just roll this one to May 22 heartbeat?

[2015-05-11 14:26] OpenMatt commented on #428
@secretrobotron status? [[flagged!]](http://plzkthx.herokuapp.com)

[2015-05-11 14:27] OpenMatt commented on #418
@HPaulJohnson @adamlofting status? [[flagged!]](http://plzkthx.herokuapp.com)

[2015-05-11 14:27] OpenMatt commented on #417
this is done http://mzl.la/plan

[2015-05-11 14:27] #417 closed

[2015-05-11 14:28] OpenMatt commented on #408
@hannahkane @simonwex I understand there's a new blocker here. what's the best way to update this ticket?

[2015-05-11 14:28] OpenMatt commented on #391
@LauraReynal status? [[flagged!]](http://plzkthx.herokuapp.com)

[2015-05-11 14:29] OpenMatt commented on #372
@LauraReynal status? [[flagged!]](http://plzkthx.herokuapp.com)

[2015-05-11 14:32] OpenMatt commented on #339
@simonwex : status?

[2015-05-11 14:32] OpenMatt commented on #258
@laurareynal status? [[flagged!]](http://plzkthx.herokuapp.com)

[2015-05-11 14:37] Saallen commented on #293
Festival 2015 update
* Festival retreat and stategic goals added to our [wiki] (https://wiki.mozilla.org/Mozfest/2015).
* 90% of partners have responded and will join us in Scotland for our narrative retreat.
* Website still in development with Sceduling app and registration platform in final stages of analysis
* Bi-monthly Ravensbourne meetings have started around contract negotiation
* Ops meeti

[2015-05-11 14:51] secretrobotron commented on #258
Still me. Significant progress. Almost done.

[2015-05-11 14:55] LauraReynal commented on #391
Work in progress - its a P2
Will sync with @adamlofting and post status update here.

[2015-05-11 14:56] adamlofting commented on #418
Implementation is being tracked here: https://github.com/mozilla/webmaker-desktop/issues/30

Work is still in progress so I've updated the milestone.

[2015-05-11 14:57] LauraReynal commented on #372
Work in progress, moving to next heartbeat.

[2015-05-11 14:59] adamlofting commented on #433
I'd like to keep this as the running `plan` ticket, and file any smaller tickets in [mofo-crm](https://github.com/MozillaFoundation/mofo-crm/issues) please. After this next dev work there will be reporting and pm tasks to wrap this up.

[2015-05-11 15:00] secretrobotron opened #460 "Develop Webmaker Launch Playbook cont'd"
**Goal**: Continue work last heartbeat's work on developing a playbook for launching Webmaker, including content, marketing, community, QA, and partnerships.

ToDos:
- [ ] get feedback on first draft and finish it
- [ ] finalize launch schedule
- [ ] start contacting community by making playbook [plan] part of upcoming events

### RACI
Phase: Design
Driver: @secretrobotron
Decision: @HPaulJohnson

[2015-05-11 15:01] secretrobotron commented on #428
Lots of good work last heartbeat with @HPaulJohnson. Will be part of larger Webmaker launch plan. Continuing work in #460.

[2015-05-11 15:05] secretrobotron commented on #454
Made a bunch of progress last heartbeat on tracking down elusive bugs, monitoring, and producing a design for lost usernames. Need to implement in this heartbeat.

Will leave needs-* labels on here to discuss in tps.

[2015-05-11 15:15] xmatthewx commented on #443
Webmaker Alpha launched after some heroic work by the team over the past couple weeks (and by @k88hudson @thisandagain @cadecairos over the weekend).

 - Install on Android 5 (Lollipop) - https://webmaker-dist.s3.amazonaws.com/v1/app-release.apk
 - Brief video demo: https://vimeo.com/127446372

Work on Beta begins in #444.

[2015-05-11 15:15] #443 closed

[2015-05-11 15:16] edrushka commented on #442
Just waiting to see if Ali or Scott has anything to add re: our shortlist. Decision coming soon.

[2015-05-11 15:18] chrislarry33 commented on #460
Can we have learning network team/clubs person in consulted to stay connected as aspects of this work start to interject, how about me and Amira?

[2015-05-11 15:20] secretrobotron commented on #460
:+1:

[2015-05-11 15:25] OpenMatt commented on #449
@edrushka status?

[2015-05-11 15:25] OpenMatt commented on #432
@xmatthewx status?

[2015-05-11 15:26] OpenMatt commented on #424
@hannahkane @simonwex status?

[2015-05-11 15:26] OpenMatt commented on #375
@edrushka status?

[2015-05-11 15:30] xmatthewx commented on #444
Beta 1 of 2 milestone in [webmaker-android](https://github.com/mozilla/webmaker-android/milestones/Beta%201/2) repo.

This heartbeat will focus on:
 - adding features (links, image upload, sharing, ...)
 - adding user accounts

[2015-05-11 15:31] xmatthewx commented on #432
No big updates. Bumping to next heartbeat.

[2015-05-11 15:54] #369 closed

[2015-05-11 15:55] simonwex commented on #339
I made progress, but ran out of time to finish this pre-PTO. Bumping to this milestone and it'll be near-top of my list.

[2015-05-11 15:58] simonwex opened #461 "Conduct vendor review of Credly"
Legal ticket here: https://bugzilla.mozilla.org/show_bug.cgi?id=1159064

[2015-05-11 15:58] simonwex commented on #408
Credly has finished their vendor questionnaire, we're now ready to kick off the vendor security review. Closing this ticket, work will continue here: #461

[2015-05-11 15:58] #408 closed

[2015-05-11 16:03] secretrobotron commented on #444
With the features that should be completed by the end of this milestone, I'd love to schedule a day or two near the end for the team (and some select others) to create content with it.

Also, I'm going to try to work with @cadecairos on starting details and implementation for community management tools.

[2015-05-11 16:14] edrushka commented on #449
I'm pressing pause on this because Lynn and Ben are debating if it's even needed.

[2015-05-11 16:14] #449 closed

[2015-05-11 16:15] edrushka commented on #375
@floatingatoll - are you Richard? :) Any thoughts on the proposed date?

[2015-05-11 16:31] hannahkane commented on #424
I'm thinking we need to move this to the next heartbeat.

[2015-05-11 16:40] thisandagain commented on #418
This should be done today. Keeping in the May 8th milestone.

[2015-05-11 17:03] #428 closed

[2015-05-11 17:04] OpenMatt commented on #433
note: significant lift for dev on this going forward

[2015-05-11 17:05] adamlofting commented on #433
Training didn't cover the requirements we asked for and dev lift could be heavy based on Andrew's experimentation.

[2015-05-11 17:06] hannahkane opened #462 "Iterate on Teach IA, UX, and copy (ongoing)"

[2015-05-11 17:06] OpenMatt commented on #391
moving to next Heartbeat

[2015-05-11 17:08] OpenMatt commented on #461
Note: there's some questions from @toolness  re: authentication experience.

[2015-05-11 17:08] thornet opened #463 "Publish fact sheet for "What is a Mozilla Club""
To be used in updates to teach.mo.org site and in recruiting more clubs.

In progress: https://docs.google.com/document/d/19yk3ZW1Mtjf3oUwspCiXPeNJ_zD63UYGpfEn3BdNxS0/edit#

[2015-05-11 17:11] OpenMatt commented on #455
* Adam and Erika to connect re: Scott's allocation

[2015-05-11 17:13] OpenMatt commented on #444
should maybe add Cade to this list...

[2015-05-11 17:15] OpenMatt commented on #435
Let's do a post-mortem re: process efficiencies for next time around

[2015-05-11 17:16] OpenMatt commented on #433
* may also need @ScottDowne : Erika and Simon to co-ordinate

[2015-05-11 17:17] OpenMatt commented on #373
proposal to close this for now

[2015-05-11 17:17] secretrobotron commented on #373
Proposal accepted.

[2015-05-11 17:17] #373 closed

[2015-05-11 17:25] OpenMatt commented on #448
@simonwex to help w. next steps here + @toolness concerns

[2015-05-11 17:27] OpenMatt commented on #424
@simonwex will synch up with @alicoding on this

[2015-05-11 17:29] ScottDowne commented on #442
So far Sched is the clear winner.

I'm having a hard time figuring out how Attendify imports sessions from a spreadsheet (or something else) or how to embed it.

On the other side, Sched can import multiple ways and even has an import API so I can do it myself from anything (github issues?). It also clearly supports embed with the pro account.

Sched pro cost is still cheaper than attendify basic.

[2015-05-11 17:29] OpenMatt commented on #391
will become a higher priority in late June.
@thisandagain may close until then.

[2015-05-11 17:30] #391 closed

[2015-05-11 17:31] OpenMatt commented on #290
@hannahkane let's fold into some of the experiments we want to run on teach.moz.org as per our convo in program manager meeting

[2015-05-11 17:33] OpenMatt commented on #158
@simonwex will update and re-file as needed

[2015-05-11 17:35] simonwex commented on #158
Closing this issue, work will continue in #339

[2015-05-11 17:35] #158 closed

[2015-05-11 17:51] jgmac1106 commented on #442
We use sched for the Literacy Research Association conference and it is a
smooth tool for both the end user and admin.

Our target audience has 0% webby skills and most can figure it out with
ease.

On Mon, May 11, 2015, 1:29 PM ScottDowne <notifications@github.com> wrote:

[2015-05-11 17:56] Saallen commented on #442
@ScottDowne
I agree with you Scott- Sced is extremely easy to use, the backend very user friends and the cost is great.
Attendify is an spreadsheet upload when I worry about the functionailty of the backend and app build.
Scedul can be synced with calendar of choice and is very low tech for new users

[2015-05-11 18:43] edrushka commented on #442
@Saallen do you want to negotiate pricing with Sched, and if that works we can lock down this decision?

[2015-05-12 08:50] adamlofting commented on #403
No developer resource assigned to this for now, so moving it out of this heartbeat.

[2015-05-12 13:44] Saallen commented on #442
Yes. I take it we want White Label Integration?

[2015-05-12 14:38] ScottDowne commented on #442
@Saallen I am unfamiliar with White Label?

[2015-05-12 14:55] Saallen commented on #442
I had to look it up! So that we can intergrate the schedule into our website.....i think?
Someone please correct me if I am wrong

[2015-05-12 15:25] ScottDowne commented on #442
Ahh, white label is embedding thingy.

Weird, they gave it a name? Is that a thing? Anyway, yes, White Label :D

[2015-05-12 15:27] ScottDowne commented on #442
Ah, white label allows us to style the embed.

I thought it was dewar's white label.

[2015-05-12 15:37] edrushka commented on #433
flagging so I can follow

[2015-05-12 16:04] Saallen commented on #442
I have had a look through the pricing and I will be able to talk to Brianna from MoCo about their pricing plan, but from what I have seen is that we can just purchase the basic application and add on white Label. @ScottDowne do you think you will need anymore add-ons?

[2015-05-12 16:07] adamlofting commented on #455
We're moving this task to the next heartbeat until we can clone @ScottDowne

[2015-05-12 16:27] ScottDowne commented on #455
@adamlofting You mind filing a ticket to clone me?

Pretty sure the solution looks something like this:
![calvin-and-hobbes-duplicator](https://cloud.githubusercontent.com/assets/197334/7592588/2bbda8c4-f8a2-11e4-90dc-c384941b0fc9.jpg)

[2015-05-12 16:57] fox2mike commented on #375
Hello @edrushka and @bensternthal - Chiming in for @floatingatoll here. From our viewpoint, earlier is better. We're still working on finalizing the migration plans (for the datacenter that webwewant is hosted in) and I don't have concrete dates as of now. If that changes, I'll keep you posted on here and in the meantime we can continue supporting the OS side with security updates etc.

[2015-05-12 17:45] floatingatoll commented on #375
The existing webwewant deployment is running in *two* datacenters. Do we need to keep both datacenters live between now and the eventual migration later this year? If we can decommission PHX1, that removes our timeline concerns.

[2015-05-12 18:10] edrushka commented on #375
@simonwex @davidascher need your guidance here ^

[2015-05-13 01:19] simonwex commented on #375
@floatingatoll it's fine if we're only in one datacenter for a bit. I presume you guys have monitoring on that site enabled?

[2015-05-13 16:01] adamlofting commented on #433
@alicoding is going to spend some time on this this heartbeat. We just met to kick this off, and the current plan is:

1. Proof of concept command line script that can trigger and email via ExactTarget's API
2. Turn into a consumable module we can use in other projects

Documentation for reference is here:
http://help.exacttarget.com/en/documentation/exacttarget/interactions/triggered_emails/

I'v

[2015-05-13 16:05] thisandagain commented on #433
/cc @simonwex ^^

[2015-05-13 16:23] soapdog commented on #258
@secretrobotron I think that "mgh" is a typo for "megabytes" as in "20 mb connection".

[2015-05-13 18:30] secretrobotron commented on #258
:+1: thanks @soapdog. Makes more sense.

[2015-05-13 18:50] alicoding commented on #433
:+1:

[2015-05-13 20:13] simonwex commented on #433
As @thisandagain discovered, the API is horrible. I'm chatting with @pmclanahan tomorrow to see if he can make our lives easier by adding some of this to https://github.com/mozilla/basket

[2015-05-13 22:33] thisandagain commented on #418
Site is live and integrated into optimizely / GA here:
https://beta.webmaker.org

[2015-05-13 22:33] #418 closed

[2015-05-13 22:34] HPaulJohnson commented on #418
Nice - looks great!

[2015-05-14 08:29] adamlofting commented on #418
:metal:

[2015-05-14 09:13] adamlofting commented on #433
@simonwex excellent!

--

For this thread in general, just in case it's a useful reference, there is a [jsforce](https://github.com/jsforce/jsforce) library. It unfortunately doesn't talk to the ET API (at least not yet), but it does have some example code for talking to other Salesforce SOAP APIs ([e.g](https://github.com/jsforce/jsforce/blob/master/lib/soap.js).).

[2015-05-14 20:55] simonwex commented on #433
@jbuck and I had a lovely chat with @pmclanahan. He agrees there's benefit to adding to the Basket API to support transactional emails. Basket currently makes _use_ of some of the transactional ET API calls but needs to be exposed through the external Basket API. -- so some of this pain has already been suffered. We thank Paul for his bravery.

Next steps are for @jbuck to spec a plan for implemen

[2015-05-14 20:59] davidascher commented on #433
awesome.

[2015-05-14 21:16] jbuck commented on #433
https://gist.github.com/thisandagain/36be0cba730729feba26

[2015-05-15 08:52] adamlofting commented on #433
:sunny:

[2015-05-15 10:16] adamlofting commented on #433
While we're thinking through how to add triggered emails to Basket, would it be a good use of @alicoding's time to start writing a node wrapper/module that let's us talk to basket?

For example, when our email lists are moved to ET, we're going to want to use the subscribe/unsubscribe end points so working out how to talk to these now will also get us ready for talking to the triggered email endpo

[2015-05-15 12:10] adamlofting commented on #403
A couple of contributors have reached out to me, and are interested in working on metrics work so we're going to start with this engineering dashboard project.

I've setup a new repo to use as a workspace here: https://github.com/adamlofting/dashboard-zero

And we'll start by focusing on the Github data as that feels like the lowest hanging fruit.

[2015-05-15 14:35] pmclanahan commented on #433
They got a start on that in gaia: https://github.com/mozilla-b2g/gaia/blob/v1.4/apps/communications/ftu/js/basket-client.js

[2015-05-16 09:33] lovegushwa commented on #370
@edrushka @cassiemc @Melechuga @alicoding

Please review the current drafts on red-pen by Monday morning if possible. (Ali needs to start with development on Tuesday. Sorry to those on holiday!)

I have a few graphic pattern ideas I will drop in a bit later but they will not effect the layout, color or typography.

https://redpen.io/p/eabfb20a45f2be9771

[2015-05-18 17:06] Melechuga commented on #370
@lovegushwa These are great! Have put comments in the redpen. Thank you.

[2015-05-19 22:31] edrushka opened #464 "Redesign advocacy.mozilla.org"
This is the meta-ticket for the redesign of the Advocacy site: https://advocacy.mozilla.org/

Individual tickets will be tracked in [/movement building] (https://github.com/MozillaFoundation/movement-building)

Driver: @edrushka
Design lead: @lovegushwa
Design QA: @cassiemc
Dev lead: @alicoding
Decision-maker: @DaveSteer
Consulted: @Melechuga @valianttry

- [ ] Kickoff
- [ ] ~~Brand~~ Asset audit

[2015-05-19 23:49] lovegushwa commented on #370
R? @edrushka @cassiemc @Melechuga @alicoding @vazquez

The final files are up on redpen to review. If it's good to go without any changes @alicoding will get moving right away with development.
https://redpen.io/p/vj2e71fb96b588fcf9

![open-web-home-home-final](https://cloud.githubusercontent.com/assets/12228435/7716396/87d76d1c-fe46-11e4-97fd-1ff089149755.jpg)
![open-web-home-fellows-768-nophoto-

[2015-05-19 23:59] Melechuga commented on #370
@lovegushwa This looks amazing; thanks for incorporating the changes.

[2015-05-20 13:22] vazquez commented on #370
@lovegushwa Left my comment in Redpen :+1:

[2015-05-20 14:07] adamlofting commented on #433
@jbuck / @alicoding - could I get a status update on this please? Have we been able to make any progress?

[2015-05-20 14:11] alicoding commented on #433
So, last week I've spent most of my time reading their documentations and
haven't got the account to explore deeper on ET part, yet. I'm also got
pulled off to work on advocacy stuff since I'll be away next week for
JSConf, so I don't have any progress on my part yet.
On May 20, 2015 10:07 AM, "Adam Lofting" <notifications@github.com> wrote:

[2015-05-20 19:14] ldecoursy commented on #459
Adjusting the milestone to reflect the ticket above.

[2015-05-21 10:25] adamlofting commented on #438
I've setup 10 variations of these ideas in AdWords to start collecting data. We can still continue coming up with new ideas, but we might as well start collecting data now (and hopefully finding people interested in hearing when the app launches).  :hatching_chick:

[2015-05-21 21:00] cassiemc commented on #374
@edrushka @ScottDowne Where is the build ticket for this? Want to add the svg assets from Adil's files. In the meantime, find them here: https://www.dropbox.com/sh/woqt8g4oaq72ad0/AAAEYtaZbh2ocSTunjEtpTZua?dl=0

[2015-05-21 21:08] edrushka commented on #374
Build ticket is here: https://github.com/mozilla/mozillafestival.org/issues/38
I added the assets.

[2015-05-21 21:11] cassiemc commented on #374
thanks @edrushka!

[2015-05-22 00:39] HPaulJohnson commented on #438
Facebook campaign is running with the same 10 variations across 5 ad sets (BD, IN, KE, BR, US) = 50 ads.

Next steps for next sprint:
* Analyze results across Google and FB for this campaign
* Develop 5-10 new ad variations to begin testing
* Setup localization plan for winning ads for final phase of testing before launch.

[2015-05-22 09:33] adamlofting commented on #438
Subject to capacity, we should think about promoting the beta sign-up page across the existing webmaker properties now that we're in the countdown to launch phase. Maybe even switching out the homepage sign-up form?

What do you think @thisandagain?

[2015-05-22 13:19] adamlofting commented on #455
I've re-scoped this ticket as we have a specific project to start on in the next heartbeat.

The goal is to move the fundraising forms, and developer workflow off of BSD and into an environment we own: See [EOY Tech planning](https://docs.google.com/presentation/d/1XbjA8X9GgBTGgdiCcrOnN7T-6pVFQUsYcwoGJu4Qa44/edit#slide=id.p)

We should also dig out the etherpad we wrote at the end of EOY reviewing

[2015-05-22 13:21] adamlofting commented on #441
I've made this ticket a P2 as it's just for ongoing high-level tracking. And I've filed another Plan ticket for the first sub-project in the BSD migration:

- [ ]  MoFo Hosted Donation Pages (+ new payment processor) #455

[2015-05-22 13:23] adamlofting commented on #439
I've updated the scope of #455 to reflect what we can start work on right away.

[2015-05-22 13:27] #395 closed

[2015-05-22 15:32] ldecoursy commented on #463
Posted here: http://mozilla.github.io/learning-networks/clubs/

[2015-05-22 15:33] ldecoursy commented on #446
All posted - thanks @HPaulJohnson and @KevZawacki!

[2015-05-22 15:33] #446 closed

[2015-05-22 15:35] thisandagain commented on #444
Work landed in nightly build. Will be releasing a new preview build on Monday.

[2015-05-22 15:35] #444 closed

[2015-05-22 15:38] thisandagain commented on #460
Toronto team meetup scheduled for next week where this work should be wrapped-up.

[2015-05-22 15:39] thisandagain commented on #258
@secretrobotron Status?

[2015-05-22 15:40] thisandagain commented on #454
@secretrobotron @simonwex Status?

[2015-05-22 15:52] jgmac1106 commented on #444
Question: If I sideloaded the apk do I have to reinstall to get updates or
do they come OTA?

On Fri, May 22, 2015, 11:35 AM Andrew Sliwinski <notifications@github.com>
wrote:

[2015-05-22 15:54] thisandagain commented on #444
Good question @jgmac1106 ! For now you'll need to re-install to get the updates. Once we release to Google Play (just a few weeks away!) you'll be able to get updates over-the-air.

[2015-05-22 16:14] edrushka commented on #433
Do we need to create accounts for this?

[2015-05-22 16:31] adamlofting commented on #455
After chatting with @edrushka and @valianttry today, there will be a number of other engagement tasks needed in the June 5 heartbeat, so we're going to push this ticket to June 19.

Before that starts though, I will meet with @ScottDowne to talk through the project, and I'll work on the Stripe Vendor review so that we're ready to implement.

Let's think about shipping this as a Whistler project.

[2015-05-22 16:34] cassiemc commented on #464
@edrushka Great ticket, excited about kicking off this work! I'm wondering which pieces of this you're hoping to have complete by June 5? Also, what are you thinking is the deliverable for the brand audit, and what is the question around user research? The scope of things has me wondering if we want another UX resource here but that depends a lot on timelines. Maybe we can discuss on Monday or lat

[2015-05-22 16:47] edrushka commented on #464
I'd say Kickoff and Brand Audit by June 5.

For Brand Audit, I'm simply thinking of reviewing the assets we already have in place (logos and icons, forms etc.). Perhaps a better term would be "asset audit" ;) @lovegushwa and I already have plans to walk through this together.

I hope to pose the question about user research when we have the kickoff meeting. It remains to be seen how the larger adv

[2015-05-22 17:26] jbuck commented on #433
Yes, you'll probably need to get an account from jessilyn

[2015-05-22 17:49] KevZawacki opened #465 "Add deprecation message to Popcorn tool page"
Let's update https://popcorn.webmaker.org with a banner message/link noting upcoming deprecation.

Copy: "Mozilla's tools for teaching the Web are evolving. Beginning June 19, you will not be able to create or edit Popcorn Maker projects. To learn more, read our blog post [http://mzl.la/1ACom34]."

Driver: @kevzawacki
Dev lead: TBD @simonwex
Consulted: @HPaulJohnson

[2015-05-22 18:05] thisandagain commented on #438
That seems reasonable to me. I'm happy to take a crack at it as a P2. @k88hudson, @Pomax  and @vazquez are out next week so I'm really light in terms of design / dev capacity.

[2015-05-22 21:25] simonwex commented on #455
Thanks for championing this, @adamlofting. I feel so much better about the life, the universe and everything now.

[2015-05-22 21:56] cassiemc commented on #300
After conversation with @flukeout yesterday I wanted to bring this bug back from the dead. I've revised some questions and added some context – Luke could you R? and gimme some feedback / ideas? https://docs.google.com/document/d/1E6lhyYjty_eNUo2xVAKcde6h7Di2zI_iShcIcmlz9aw/edit#

[2015-05-25 15:19] secretrobotron commented on #258
Copy edits done. Fixed lots of minor language errors and some arrangement problems. @LauraReynal wanna take a glance now? Should be good to go.

[2015-05-25 16:20] LauraReynal commented on #258
@secretrobotron is the latest file 20150304 ?

[2015-05-25 16:29] LauraReynal commented on #258
Huge thanks for the copy review @secretrobotron :panda_face:
I made a few last edits in the file called 20150304.
If this is the right file then we are good to publish. :heavy_check_mark:

Would you mind publishing at www.mzl.la/lanhouses
?

[2015-05-25 16:29] secretrobotron commented on #258
Looks that way: ![screenshot 2015-05-25 12 29 33](https://cloud.githubusercontent.com/assets/403231/7799842/b9bf236e-02d9-11e5-8a81-5e1bd5cfae37.png)

[2015-05-25 16:30] secretrobotron commented on #258
@LauraReynal np. Can you make the PDF?

[2015-05-25 16:30] thisandagain commented on #258
Excellent. Thanks folks. Can we cross-publish to http://mzl.la/brazil as well?

[2015-05-25 16:33] secretrobotron commented on #258
Not /rio?

@thisandagain I don't have working credentials for mzl.la anymore. Do you?

[2015-05-25 16:33] LauraReynal commented on #258
PDF created called : Lan Houses 2015-25-05 :santa:
Old Files are in Archive

@secretrobotron @thisandagain   to you now :cactus:

[2015-05-25 16:46] secretrobotron commented on #258
Up on S3: https://webmaker-dist.s3.amazonaws.com/reports/rio.pdf

[2015-05-25 23:18] flukeout commented on #300
Great stuff in the doc! I think the second set of questions does a good job of getting at the core of the design problem. Here are some themes I'm interested in...

**Benchmarking for Function & Aesthetics**
When designing aspects of the Webmaker app, it was really useful to look at how various UX problems have been solved by other, successful platforms. I think we should incorporate this type of

[2015-05-26 07:07] simonwex commented on #461
Legal review still in-progress, security ticket here: https://bugzilla.mozilla.org/show_bug.cgi?id=1165123

[2015-05-26 07:07] simonwex commented on #461
Bumping to next milestone so this remains on my desk.

[2015-05-26 07:11] simonwex commented on #448
@hannahkane we have an assortment of badges work for Kerri as well as this. Could we organize a time today to discuss the pieces we'd like to do in-house v.s. contract?

[2015-05-26 07:46] simonwex commented on #339
I've created tasks in the various tools under a common `Sunset` milestone.

[2015-05-26 07:46] #339 closed

[2015-05-26 11:18] chrislarry33 commented on #448
@simonwex she will be back from PTO wed

[2015-05-26 15:59] thisandagain commented on #258
Published at http://mzl.la/lanhouses

[2015-05-26 15:59] #258 closed

[2015-05-26 15:59] LauraReynal opened #466 "Prepare Bangladesh Participation Meet - up material"
Goal: Having some material ready for the Bangladesh meet-up to tell the Webmaker + Club story
Timeline: by June 4th
Meetup dates: June 5-6

--

Driver : @hpauljohnson
Team involved: @secretrobotron @amirad

--

1 .   Presentation

- Tell our story : Mozilla Foundation // Learning = Webmaker + Clubs + Community
- What is Webmaker ?
 - Vision
 - Demo
- What is clubs
 - Vision
 - Demo ?
- Call to act

[2015-05-26 16:01] OpenMatt commented on #463
Done?

[2015-05-26 16:01] OpenMatt commented on #462
status?

[2015-05-26 16:01] OpenMatt commented on #454
status update?

[2015-05-26 16:01] OpenMatt commented on #438
status update?

[2015-05-26 16:01] OpenMatt commented on #435
status update?

[2015-05-26 16:01] OpenMatt commented on #433
status?

[2015-05-26 16:01] OpenMatt commented on #374
status?

[2015-05-26 16:01] OpenMatt commented on #370
status?

[2015-05-26 16:02] OpenMatt commented on #293
status? do we just keep rolling this one to next heartbeat?

[2015-05-26 16:03] OpenMatt commented on #424
status?

[2015-05-26 16:03] OpenMatt commented on #423
status?

[2015-05-26 16:03] OpenMatt commented on #375
status?

[2015-05-26 16:04] edrushka commented on #435
Closing. We can re-open if needed.

[2015-05-26 16:04] #435 closed

[2015-05-26 16:05] adamlofting commented on #433
This didn't get the dev time it needed. I'd like to talk about this one on the planning call to see what priority it should have in the upcoming heartbeat(s).

[2015-05-26 16:06] edrushka commented on #374
Scott's got most of this on staging. Blockers have been identified here: https://github.com/mozilla/mozillafestival.org/issues/38#issuecomment-105477933

We plan to ship next week.

[2015-05-26 16:07] edrushka commented on #370
Jordan has completed design and team has signed off. Ali is 90% done the build. Will be ready to ship next week, timed with the announcement of the fellows.

[2015-05-26 16:09] edrushka commented on #423
No progress. Fundraising team is getting their 2015 priorities in place, with @RebsD's leadership.

[2015-05-26 16:12] RebsD commented on #423
A cost-benefit analysis with suggested scenarios for Gear Store management will be presented to Ops this Friday, May 29.

[2015-05-26 16:32] Saallen commented on #293
Yes please-
* We are just starting the development of the MozFest Retreat program
* Bugs ongoing for Sched.com and TI.TO secruity and legal reviews
* Website in final stages of build

[2015-05-26 17:17] RebsD opened #467 "build donor processing systems between Finance and Fundraising"
Currently, there's limited integration between donation processing, receipting, and gift acknowledgment, from any of the MoFo offices worldwide and our Fundraising department in Toronto (except, of course, for instit grants and small dollar). We need to build systems to be able to serve our donors better, and make reporting easy for both Finance and Fundraising at MoFo, and also how it integrates

[2015-05-26 18:01] ldecoursy commented on #463
Yes, closing now!

[2015-05-26 18:01] #463 closed

[2015-05-26 18:04] OpenMatt commented on #462
Moving to June 5. @hannahkane : correct if that's wrong?

[2015-05-26 18:04] OpenMatt commented on #454
@thisandagain will follow up with @simonwex on a few loose threads here

[2015-05-26 18:05] OpenMatt commented on #438
rolling over

[2015-05-26 18:11] OpenMatt commented on #433
(via @thisandagain in today's Heartbeat call:)
Product dependencies / implications: we can continue to use Sawmill, so this ticket is not a ship blocker. BUT:
* This means no localized transactional email.
* And: no push notifications, which will impact marketing and retention.

[2015-05-26 18:19] OpenMatt commented on #375
@simonwex will updated -- @edrushka is blocked here and needs help.

[2015-05-26 18:24] adamlofting commented on #441
Closing this as we're sticking to more granular tasks (2 week commitments) in Heartbeat Planning.

[2015-05-26 18:24] #441 closed

[2015-05-26 18:26] adamlofting commented on #439
Closing this as we're sticking to more granular tasks (2 week commitments) in Heartbeat Planning.

[2015-05-26 18:26] #439 closed

[2015-05-26 18:30] OpenMatt commented on #464
* Let's ensure we understand the motivation / resource allocation here and have consensus around priority before we start work.
* Next step: get buy-in from Ops before proceeding.

[2015-05-26 18:36] OpenMatt opened #468 "MoFo plans and prep for Whistler Work Week"
Driver: @openmatt
Next step: email from Angela to all-mofo (this week). With more detailed instructions re: themes, scheduling, etc.

[2015-05-26 19:00] DaveSteer commented on #464
@OpenMatt Makes sense to get Ops buy-in. Is it best for @valianttry and I to present this at an upcoming ops meeting? If so, what's the best way to get on the agenda? ( @davidascher - perhaps you can guide us on the best format).

I think we'll still need a call/planning in advance so that we can get a sense of the # of resources needed for this project as part of the recommendation to Ops. But we

[2015-05-26 19:01] OpenMatt opened #469 "Get clear about our overall localization strategy"
This arose in our Heartbeat planning call today -- need to ensure we step back and get clear on our overall l10n strategy, which is becoming more urgent.

## Roles
PM: @secretrobotron
Decision-maker: @davidascher
Stakeholders: @thisandagain , @simonwex  (+ @toolness , @hannahkane ), @xmatthewx

## Short-term urgency:
* High quality l10n for product launches (inc: sample project content & marketing

[2015-05-26 19:02] OpenMatt commented on #469
@secretrobotron : assigning to you as PM -- can you take next steps from here? Including I assume: scheduling a kick-off?

[2015-05-26 19:42] adamlofting commented on #438
Quick note. We're getting some traffic through on these ads now (~5k visits), but conversion rate for the page is really low (~0.5% for email signup). This might just be the audience, and we don't have similar campaigns to compare with, but we should try and get this page in front of any warm audiences that we can.

So we might want to up the priority of testing with existing audiences. Even if it

[2015-05-26 19:53] thisandagain commented on #438
Thanks for the update. Agreed ... @HPaulJohnson is this something you can handle this week?

[2015-05-26 20:02] secretrobotron commented on #469
:+1:

- Good set of recommendations and followup from @k88hudson here: https://github.com/mozilla/webmaker-android/issues/1599#issuecomment-103712914
- We need a string freeze on Friday (for Webmaker cc @xmatthewx)
- Need to make development of this stuff a priority this week (and next cc @simonwex)
- Bugs filed for Webmaker:
  - Desktop: https://github.com/mozilla/webmaker-desktop/issues/66
  - M

[2015-05-26 20:09] OpenMatt commented on #469
Thanks Bobby! Just to note: I believe the main urgency here, from @davidascher and @thisandagain's perspective, was more on the Product launch side than on the Learning Networks / teach.moz.org side. (So, digging into that piece is probably more of a priority than you connecting with @hannahkane). Will leave it with David and Andrew for any follow-up here, beyond what Bobby has listed above.

[2015-05-26 20:23] edrushka commented on #468
@OpenMatt is this where we should list what we hope to accomplish at Whistler? Or is there already a place for that?

[2015-05-26 20:30] thisandagain commented on #469
Recap from 1:1 w/ Bobby:
- Bobby to file outstanding implementation tickets within the [webmaker-android](https://github.com/mozilla/webmaker-android) repo. This will be to break down the strategy defined in https://github.com/mozilla/webmaker-android/issues/1599
- @davidascher @simonwex @secretrobotron and I to meet tomorrow to iron out expectations and review gaps.

[2015-05-26 20:37] edrushka opened #470 "Regain access to our Youtube account"
We lost access to the @webmakers youtube channel during the LDAP switchover. Working with MoCo to escalate through Google support.

responsible: @simonwex
driver: @edrushka
cc:@HPaulJohnson @amirad

[2015-05-26 20:42] HPaulJohnson commented on #438
Yep. @KevZawacki can you come up with a few sample tweets and FB posts?

[2015-05-26 21:00] simonwex commented on #454
It looks like we just need to get this work assigned and prioritized.

[2015-05-26 21:11] davidascher commented on #464
@davesteer -- my recommendation is to come to ops with a
distributed-previous-to-the-meeting 2-3 page document articulating the
goal, the targets, the resources needed, and the timelines, and a specific
set of questions you need answered.  We will read the document before the
meeting, and then can use the meeting to discuss the details of the goals
(e.g. are the targets you set the right ones, amb

[2015-05-26 21:43] DaveSteer commented on #464
Very helpful @davidascher. The doc will start from the baseline we set with the Mozilla Advocacy program review. We plan to have a few meetings with the team to get a better understanding of the scope/resources required/timeline to inform the document which we share with ops. More on this soon.

--Dave

[2015-05-27 14:12] jbuck commented on #375
https://webwewant.mozilla.org is currently not loading any data - I filed this in https://bugzilla.mozilla.org/show_bug.cgi?id=1168576 . This is because data collection has been turned off.

[2015-05-27 14:19] KevZawacki commented on #438
Definitely:

++Twitter++

Coming soon: Webmaker, Mozilla's mobile content creation tool that empowers you to create anytime, anywhere: [link]

Next month, Mozilla is unveiling Webmaker: the free, open-source tool for creating and sharing online. Learn more: [link]

++Facebook+

Making and sharing cool things online is about to get easier. This June, Mozilla is unveiling Webmaker -- the free mobile

[2015-05-27 14:41] cassiemc opened #471 "UX/UI for new Thimble"
Driver: @hannahkane
Design lead: @flukeout
Design QA: @cassiemc
Dev lead: @pomax is this right @simonwex? (@humphd feel free to add other Seneca folks here)
Decision-maker: @humphd
Consulted: ...

### Useful links:
* Individual tickets here: (@hannah where should we file these? Maybe we can make a new milestone here: https://github.com/mozilla/thimble.webmaker.org/milestones/Heartbeat%202%20-%20Th

[2015-05-27 15:22] thisandagain commented on #471
Worth flagging that I can't afford to loose @Pomax in the middle of our last two sprints prior to release.

[2015-05-27 15:40] cassiemc commented on #471
Thanks @thisandagain. That was just as guess as he showed up to our meeting yesterday, not sure who (if anyone) is assigned for support. From yesterday's conversation it sounded like it would be okay to just rely on Seneca folks. Work for everyone? @humphd @simonwex @hannahkane

[2015-05-27 15:43] jgmac1106 commented on #471
@hannahkane FWIW I never found the sidebar tutorial that useful, but that may have less to do with UX/UI as it does with different webmaker's ability to write concise tutorials.

My students preferred the html and css comments rather than trying to use the tutorial step sidebar. Some have told me that too many comments might be considered bad practice in terms of industry standards but it works we

[2015-05-27 16:02] xmatthewx commented on #471
Glad to be a fly on the wall for this work to see how it might overlap with the code experience on desktop Webmaker.

[2015-05-27 19:28] adamlofting commented on #433
@simonwex and I just met to talk about next steps.

Goal is for @jbuck to move this forward in the current heartbeat, with all the things we can work on right away. I'll book time to talk with @jbuck tomorrow but I think this will be:

1. Planning how we talk to Basket https://github.com/MozillaFoundation/mofo-devops/issues/73 and talking to @pmclanahan about what changes we need to make, and sche

[2015-05-27 19:52] OpenMatt commented on #464
* Sounds like we agree that the next step is to write up a project brief. To be presented to Ops. @DaveSteer and @valianttry: can you produce that this Heartbeat?
* I know @valianttry has talked w. @DaveSteer about scope here -- want to ensure her thinking gets captured in the project brief.
* Main thing the brief should stress: return on investment. This site currently doesn't get much traffic. A

[2015-05-27 21:40] xmatthewx commented on #300
Here's my proposal:
 1. New projects added to /plan/ that are flagged as `needs-design` get the checklist below added to it.
 2. Project driver can
  - cross out items that are not relevant ~~like so~~
  - add a written comment and check off items
 3. Remaining items can be discussed and checked off during kickoff meetings
 4. We can improve the list each time we use it (But!! keep it nimble and l

[2015-05-29 16:53] cassiemc commented on #471
@xmatthewx Design work is mostly happening here atm: https://github.com/mozilla/thimble.webmaker.org/issues/526 and there is a daily stand at noon EST in @hannahkane's vidyo room if you feel like joining.

[2015-06-01 18:44] Melechuga commented on #370
Hey @edrushka Thanks for keeping us updated. Just wanted to touch-base and make sure this was still on track; shipping on Wednesday, June 3rd right?

[2015-06-01 19:38] edrushka commented on #370
@Melechuga Yup! Here it is on staging: http://alicoding.github.io/advocacy.mozilla.org/open-web-fellows/
@lovegushwa will do (I think, has done this already) a final design review. @alicoding is getting code review now. All we need is your signoff!

[2015-06-01 21:11] xmatthewx opened #472 "Webmaker - 1.0.1"
Final stretch toward Webmaker launch.

Release – http://mzl.la/webmaker-release
Nightly – http://mzl.la/webmaker-nightly

Focus of this heartbeat:
 - squash bugs
 - stabilize features
 - localize
 - prep Webmaker.org for launch

### RACI

Driver: @secretrobotron, @xmatthewx
Decision: @thisandagain
Design: @flukeout @vazquez
Dev: @gvn, @Pomax, @k88hudson
Services: @cadecairos
Metrics:  @adamlofting

[2015-06-01 23:40] Melechuga commented on #370
Thanks @edrushka. The design looks a bit different... @lovegushwa: I thought we went with a slightly smaller triangle? Also, could we make the picture/circles a uniform size, and perhaps make the quotations line up with the rest of the text? I like that the different size + color make them stand out, but perhaps that's all we need? Thanks.

[2015-06-02 00:34] lovegushwa commented on #370
Hi @Melechuga , the triangles are smaller in the implemented design (on the left). Could you elaborate on "Also, could we make the picture/circles a uniform size?" the circles are not all the same size?
![screen shot 2015-06-01 at 5 28 25 pm](https://cloud.githubusercontent.com/assets/12228435/7926192/b7c4cbe0-0883-11e5-8d46-c770e111f98e.png)

[2015-06-02 14:26] ScottDowne commented on #455
This was my stripe test: https://github.com/ScottDowne/donation-form-stripe

[2015-06-02 14:31] hannahkane commented on #448
@simonwex, do we have a start date for Kerri yet?

[2015-06-02 14:44] adamlofting commented on #455
Met with @alicoding, @jbuck and @ScottDowne to talk this through.

For this heartbeat we will:
- Setup a fresh repo to manage the code
- Setup a staging environment
- Setup a dev workflow to build the HTML and minify JS and CSS files
- Copy existing sequential form, and thank-you page(s) into the new repo
- Improve the code for those forms as required
- Switch to React.js where appropriate
- Setup

[2015-06-02 16:38] Melechuga commented on #370
Hi @lovegushwa on http://alicoding.github.io/advocacy.mozilla.org/open-web-fellows/ the design looks different. Perhaps that's something that @alicoding is taking care of?

[2015-06-02 16:42] jbuck commented on #455
Filed a [RRA](https://bugzilla.mozilla.org/show_bug.cgi?id=1170623)

[2015-06-02 17:25] Melechuga commented on #370
@alicoding Links for logo farm:
ACLU: http://aclum.org/
Amnesty International: https://www.amnesty.org/en/
APC: https://www.apc.org/
Free Press: http://www.freepress.net/
OTI: https://www.newamerica.org/oti/
Public Knowledge: https://www.publicknowledge.org/

Thanks!

[2015-06-03 18:31] Zohanie opened #473 "Dream agency"
Automation of recruitment agency

### Audience
People who looking for a job and searching workers

### Success
All work`s perfect

### Vision
Showing how u can made a good web app at constructor, with all needed functions

### Measurement
I need a small database of resumes for my diploma work demonstaration

### Roles
 * Phase:
 * Driver:
 * Decision Maker:
 * Design Lead:
 * Development Lead:
 *

[2015-06-03 18:41] xmatthewx opened #474 "Webmaker marketing assets"
Webmaker requires a suite of assets designed for marketing. These include digital, print, email, video, schwag.

Big list linked below identifies priorities and items that should be done in-house to set the tone and style. Producing the remaining items will likely require an external consultant.

All this work is happening in the Launch milestone in the Webmaker-launch repo. Link: https://github.c

[2015-06-04 20:34] cassiemc commented on #300
Argh, I thought I responded to this already. Anywho, love the idea of the checklist @xmatthewx. What about a ```needs design brief``` label instead? ```Needs-design``` is generally used for resourcing purposes. I like this process and just want to add a couple points into the Brief document re. user stories and success metrics, as per @flukeout's comment above.

Also pinging @sabrinang @vazquez an

[2015-06-04 22:17] edrushka commented on #464
Update:
Dave is working on a Creative Brief to present to ops.
Dave, Andrea and I have met with Jen Bertch to discuss how re-design of Moz.org may (or may not) include the update of Advocacy.

I am going to close this ticket for now until we clarify the plan with MoCo and will file granular tickets as needed.

[2015-06-04 22:17] #464 closed

[2015-06-04 22:18] edrushka commented on #470
@simonwex Any updates?

[2015-06-04 22:18] edrushka commented on #442
Closing this as we've decided on Sched.

[2015-06-04 22:18] #442 closed

[2015-06-04 22:19] edrushka commented on #425
@davidascher any updates? How can we get this lovely feature on build.wm.org?

[2015-06-04 22:20] edrushka commented on #378
@HPaulJohnson will ping Jen to see if we can get a copy-only update to the current page, since the redesign is going to take a while. Paul, please update when you hear back.

[2015-06-04 22:26] edrushka commented on #374
Update:
- Site is ready on staging: https://mozillafestival-org-2015.herokuapp.com/
- QA has started should be done by EOD June 5: https://github.com/mozilla/2015.mozillafestival.org/issues/81
- Launch early next week.

[2015-06-04 22:30] edrushka commented on #370
Update:
- Ali has finished building and it's ready on staging: https://advocacy.herokuapp.com/open-web-fellows/
- Announcement date got pushed to Monday June 8
- We noticed some jankiness when site temporarily went to prod. @alicoding is investigating.

[2015-06-04 22:53] Melechuga commented on #370
Thanks!
Just noticed a few small spelling errors in the copy; please make sure to copy/paste from the google doc (https://docs.google.com/document/d/1Ev0DkdQVM3iP1_R8G5rjwHaiSmfSe1kqBiRwnEjwWPc/edit).

* "emrging" in the intro paragraph; should be "emerging"
* Last sentence of first paragraph should be "As threats to digital freedom proliferate, it’s critical to have capable leaders." There seems

[2015-06-04 23:47] davidascher commented on #425
I shouldn't be in the critical path. Jbuck can find another reviewer.
On Jun 4, 2015 3:19 PM, "Erika Drushka" <notifications@github.com> wrote:

[2015-06-04 23:50] edrushka commented on #425
@jbuck - can you help us make this happen? https://github.com/mozilla/build.webmaker.org/pull/71

[2015-06-05 00:20] hannahkane commented on #471
Much progress has been made this heartbeat. See both pages here: https://redpen.io/wo889e2e3abea83b34.

I think we can close this ticket now, and open a more specific ticket to capture the work of the next heartbeat, which will likely be design work for the new Thimble homepage/gallery solution.

Does that work for you, @cassiemc?

[2015-06-05 00:21] hannahkane commented on #462
Responding to feedback about being more specific in these planning tickets, so will close this for now, and write tickets more specific to the next heartbeat.

[2015-06-05 00:21] #462 closed

[2015-06-05 00:22] hannahkane commented on #459
I believe we've decided that the galleries will live in the Thimble project, so this ticket is no longer needed.

[2015-06-05 00:22] #459 closed

[2015-06-05 00:23] #407 closed

[2015-06-05 00:23] #412 closed

[2015-06-05 00:26] hannahkane opened #475 "Teach site design work for June 19th heartbeat"
- [x] Interim brand identity for Mozilla Clubs: https://github.com/mozilla/teach.webmaker.org/issues/933
- [ ] Iterate on Clubs page: https://github.com/mozilla/teach.webmaker.org/issues/858
- [ ] Design user profile editor and viewer: https://github.com/mozilla/teach.webmaker.org/issues/711
- [ ] Design badge illustrations for Club Captain and Regional Coordinator badges: https://github.com/mozil

[2015-06-05 00:32] hannahkane opened #476 "Teach site engineering work for June 19th heartbeat"
Note: this is the prioritized backlog that I'll be taking to the Teach team on Monday. I'm not sure if they'll commit to everything in the list.

- [ ] Implement Pledge workflow: https://github.com/mozilla/teach.webmaker.org/issues/978
- [x] Implement Maker Party promo on Teach
- [ ] Implement MP promo on  Webmaker: https://github.com/mozilla/teach.webmaker.org/issues/989
- [ ] Add existing transl

[2015-06-05 00:36] cassiemc commented on #471
Personally I'd wait to close this one until we close https://github.com/mozilla/thimble.webmaker.org/issues/526 as planned for the heartbeat, which includes @flukeout uploading the final design with documentation + any assets that @humphd and folks need to build (we may want to put a 'stop comments' label on the redpen as well). But I agree we are on track to hit this tomorrow!

[2015-06-05 00:39] hannahkane opened #477 "UI/UX for Thimble landing page/gallery"
Next phase of Thimble UI/UX project.

Focus of this heartbeat:
 * Design a Thimble landing page that provides context for new users
 * Landing page will prominently feature galleries - both public and personal
 * Design solution for navigating between landing page and project editor

We'll also be building prototypes of the work that was done in the previous heartbeat (project navigation and publi

[2015-06-05 01:17] chrislarry33 commented on #476
Hold on this, some quick changes soon:

Add existing translated versions of teaching kits and event guides (Question: is it safe to translate the web lit map, or is that changing soon?)

[2015-06-05 01:56] ScottDowne commented on #425
Previously Travis wasn't updating the live site but I asked jbuck today and he  said it's fixed. Kinda fell off my radar when mass surveillance and mozfest came up.

I'll give it a try tomorrow.

[2015-06-05 02:04] cassiemc commented on #300
Here's an updated graphic:
![design brief process-v3](https://cloud.githubusercontent.com/assets/1186326/7998086/7504dea6-0b05-11e5-907e-c84655650f14.png)

Wondering if @OpenMatt @edrushka @hannahkane @ldecoursy @secretrobotron @HPaulJohnson have any feedback on this proposed process, ahead of our meeting to discuss next week? All is game for critique, whether nitpicky language edits or big pictur

[2015-06-05 14:11] simonwex commented on #461
Review completed, +1 from opsec.

[2015-06-05 14:11] #461 closed

[2015-06-05 14:12] simonwex commented on #461
also +1 from legal

[2015-06-05 14:14] simonwex commented on #470
Nope. Making this a P1 for next hb.

[2015-06-05 15:58] OpenMatt commented on #469
* any status update on this one?
* cc @hannahkane @ldecoursy , as we talked about a related goal for Whistler: clarity on our l10n plan for all MoFo (including teach.moz.org) etc. going forward

[2015-06-05 15:58] OpenMatt commented on #465
status?

[2015-06-05 16:01] OpenMatt commented on #460
status?

[2015-06-05 16:01] cassiemc commented on #300
To do to close this ticket:
- [ ] Final edits to the design brief
- [ ] Link to the design brief from build.webmaker.org
- [ ] Get feedback from PMs on the process
- [ ] Introduce process to the engineers
- [ ] Socialize with all@mofo (email)

[2015-06-05 16:02] OpenMatt commented on #468
* initial version shipped here: http://mzl.la/whistler
* follow-up around scheduling coming in a new ticket

[2015-06-05 16:02] #468 closed

[2015-06-05 16:02] thisandagain commented on #465
Ran out of time to get this done. Moving to the next heartbeat.

[2015-06-05 16:03] secretrobotron commented on #460
This is *well* underway. @LauraReynal is in BD right now, executing :).

[2015-06-05 16:03] #460 closed

[2015-06-05 16:03] xmatthewx commented on #445
Beta release is pushed back to next week. Many new features added, but we need a bit more time to stabilize.

[2015-06-05 16:05] OpenMatt commented on #469
* initial urgnency around Webmaker app launch has been curbed
* still need longer-term plan -- will dig in at Whistler
* (@secretrobotron : does that mean we can close this one?)

[2015-06-05 16:06] OpenMatt commented on #438
* Phase IV coming soon!

[2015-06-05 16:07] OpenMatt commented on #438
@HPaulJohnson will update here with results and next steps

[2015-06-05 16:07] secretrobotron commented on #469
@OpenMatt i think so. Can you just link Whistler planning here before we do?

[2015-06-05 16:08] OpenMatt commented on #372
* This is being deprecated -- @LauraReynal will update w. more on timelines

[2015-06-05 16:09] cassiemc commented on #477
This is all @flukeout :)

[2015-06-05 16:09] OpenMatt commented on #370
* Washington Post is linking to this on Monday -- so need to ensure bugs fixed by then

[2015-06-05 16:09] simonwex commented on #433
@adamlofting with you as the driver of this, it should be assigned to you. I suggest filing a separate issue in the devlops repo to make sure it surfaces properly on @jbuck's desk.

[2015-06-05 16:10] OpenMatt commented on #293
@thornet will do a quick update here

[2015-06-05 16:12] OpenMatt commented on #454
@simonwex : this one is slipping due to resource constraints. need to understand how this is impacting users. may need to resched to post beta release.

[2015-06-05 16:13] OpenMatt commented on #467
* @RebsD is meting w. Ops now to discuss next steps.

[2015-06-05 16:14] adamlofting commented on #433
Yep, the separate issue is filed here:

* https://github.com/MozillaFoundation/mofo-devops/issues/73

[2015-06-05 16:16] hannahkane commented on #475
I think the badge design system question above is for @cassiemc.

[2015-06-05 16:16] secretrobotron commented on #465
Related: https://github.com/mozilla-appmaker/appmaker/issues/2412

[2015-06-05 16:16] OpenMatt commented on #465
@simonwex to assign a dev -- rolling up these deprecation related tickets into one larger ball of work.

[2015-06-05 16:19] OpenMatt commented on #472
* This will also require some co-ordination with teach.moz.org team for re-directs and deprecation @hannahkane @ldecoursy

[2015-06-05 16:21] cassiemc commented on #475
@hannahkane what / where are the existing guidelines?

[2015-06-05 16:23] adamlofting commented on #455
@ScottDowne and @alicoding - FYI this is confirmed for the next heartbeat (starting on Monday).

[2015-06-05 16:27] OpenMatt commented on #474
* Notes from today: Jordan may be free to tackle much of this. Or: contractor. (And there's budget for this)
* Kick-off needed: @edrushka @cassiemc @secretrobotron @xmatthewx @HPaulJohnson

[2015-06-05 16:29] OpenMatt commented on #432
Drexel will be sharing prototype in today's Webmaker demos call

[2015-06-05 16:44] hannahkane commented on #475
Good question! I don't actually know. I remember seeing this my first week here: http://emilygoligoski.com/2014/05/07/introducing-mozilla-visual-templates-for-badge-issuers/

But I don't know if that was officially approved.

[2015-06-05 17:25] cassiemc commented on #475
@hannahkane Hmmm. This is probably worth a conversation.

[2015-06-05 18:00] xmatthewx commented on #300
@cassiemc When I posted the checklist above (https://github.com/MozillaFoundation/plan/issues/300#issuecomment-106087019) from the stuff I drafted in the google doc, I integrated feedback from Luke. Probably not represented back in the google doc.

[2015-06-05 18:03] xmatthewx commented on #300
The "new" form at https://build.webmaker.org/add generates a new issue and RACI. We can have it add this checklist as well, maybe as a comment. Might be more PM-friendly than a brief filed away in google drive that requires copy-paste or save as...

[2015-06-05 18:16] KevZawacki commented on #370
Just to clarify, the Washington Post piece is still in the early stages — it won't be published Monday.

[2015-06-05 19:02] cassiemc commented on #300
Except no one uses that add link, apparently.

[2015-06-05 19:09] edrushka commented on #370
Thanks Kevin.
@Melechuga can you please confirm that the OWF site changes should go live on Monday June 8?

[2015-06-05 19:44] Melechuga commented on #370
Hi @edrushka Yes, I can confirm that changes should go live Monday June 8th. However, can we make sure the copy is corrected and reflects the content on the googledoc linked above (https://docs.google.com/document/d/1Ev0DkdQVM3iP1_R8G5rjwHaiSmfSe1kqBiRwnEjwWPc/edit)? Thanks.

[2015-06-05 19:46] edrushka commented on #370
@alicoding you've already fixed the copy on staging, correct?

[2015-06-05 20:09] alicoding commented on #370
@edrushka yep and that should be up on my staging site to test :)

[2015-06-05 20:10] Melechuga commented on #370
@alicoding Just had another look; thanks for the edits. We have one last edit from our Ford partners: the very first line should read: "The Open Web Fellows program — a collaboration between the Ford Foundation and Mozilla" ... Thank you!

@edrushka All set! Thanks for rescheduling the launch. I'm announcing this at the Monday meeting -- and we'll have blogs/tweets published -- so if it's up by th

[2015-06-06 02:56] LauraReynal commented on #372
This will be tackled after Bangladesh and Whistler.

[2015-06-08 09:33] LauraHilliger opened #478 "Did we stop supporting Popcorn makes?"
I have several users asking why their Popcorn makes are no longer loading. One user said his no longer loaded YouTube videos. In trying to confirm, I have mixed results - for my makes it seems like the more recent the make, the more likely it loads.

Have we changed something in the last week? I know we are continuing support for Thimble makes, but I'm not sure what to tell folks regarding Popcorn

[2015-06-08 13:45] OpenMatt commented on #370
@alicoding Dave Steer is reporting some formatting issues with the Fellows page. I just took a quick look -- looks fine to me in FF and Chrome, but some weird left-adjust formatting issues in Safari. Like this:
https://dl.dropboxusercontent.com/spa/6c38yp3crbxni5b/43696lg8.png

* Washington Post may be linking to this page today -- crucial that its ship shape. Can you take a quick look?

[2015-06-08 14:05] alicoding commented on #370
I've updated the copy on the first line as @Melechuga requested and fixed Safari issue that @OpenMatt reported.

@jbuck and I did update the site and made sure its all looks good as expected and it should be ready to go \o/

Please test and report by looking at this url from now on. http://advocacy.mozilla.org/

[2015-06-08 14:38] jgmac1106 commented on #478
@LauraHilliger Yeah I just logged into webmaker, clicked on tools, and clicked on Popcorn. In all three places I did not see a deprecation message. I thought the RIP date was June 16th and a deprecation message was supposed to be added but I could be wrong.

[2015-06-08 21:10] simonwex opened #479 "Shipping Webmaker App - The little bits"
In preparation of shipping Webmaker app, we have a few boxes that need help ticking:

* [x] Figure out access to help@webmaker.org ( https://github.com/MozillaFoundation/mofo-devops/issues/101 )
* [ ] RRA & possibly sec-review for api.webmaker.org (https://github.com/mozilla/webmaker-android/issues/1837)
* [ ] Load-testing for api.webmaker.org ( https://github.com/mozilla/api.webmaker.org/issues/8

[2015-06-08 21:30] simonwex commented on #479
/cc @thisandagain

[2015-06-08 23:29] OpenMatt commented on #469
http://mzl.la/whistler

[2015-06-08 23:47] flukeout commented on #477
@hannahkane I've added a ticket to track this with more detail in the thimble repo...
https://github.com/mozilla/thimble.webmaker.org/issues/555

[2015-06-12 17:38] xmatthewx opened #480 "Update Webmaker style guide on assets.mozilla.org"
Fledgling list of properties: https://github.com/mozilla/webmaker-launch/issues/38

Driver: @xmatthewx

[2015-06-12 17:49] simonwex commented on #469
@secretrobotron let's plan a session and invite these folk:

* George Roter
* Lucy Harris ( @LucyeoH )
* Pierros Papadeas
* Francesco Lodolo - Localization Engineer
* Ahmed Nefzaoui - Contributor for RTL
* Rami Khader - Contributor for RTL
* @alicoding

Here are a few times we can meet:
https://sunrise.am/m/jKtlPB8V5i

[2015-06-13 22:18] OpenMatt commented on #469
Cool. You guys can just add your session to the schedule here when you're decided:
http://mzl.la/whistler_schedule

[2015-06-16 14:49] xmatthewx commented on #445
Done! App launched in google play: https://play.google.com/store/apps/details?id=org.mozilla.webmaker

[2015-06-16 14:49] #445 closed

[2015-06-16 18:15] hannahkane commented on #475
Removed User Profile design and badge design from this heartbeat, as other tickets + clean-up from last heartbeat are taking longer than expected + there's been some unexpected design work added. Flagging that more design resources are needed to stay on track for Q2 and into Q3.

[2015-06-18 18:00] #370 closed

[2015-06-18 18:56] #438 closed

[2015-06-19 14:35] simonwex commented on #479
These various pieces are in-progress. I have work to finish them off, and will be spending time doing them today.

[2015-06-19 14:43] simonwex commented on #470
Jenn is setting up a session with google support next week while we're in Whistler. Us being in the same place should make this happen.

[2015-06-19 14:44] simonwex commented on #465
This is something that fell through the cracks this HB. I've bumped the milestone to make sure it's reviewed again. I'll work on scheduling and assigning this work today.

[2015-06-19 15:48] thisandagain commented on #472
Shipping release to Google Play today (in prep for Whistler demo) but keeping this open to track the remainder of work needed for the marketing launch.

[2015-06-19 16:04] simonwex commented on #477
@hannahkane will move on this by end of day, likely moving to next HB.

[2015-06-19 16:16] simonwex commented on #480
Assigning to @xmatthewx. @xmatthewx, let us know if you need any additional resources here.

[2015-06-19 21:10] hannahkane commented on #477
We got a good start on this this heartbeat, but we'll need to finish up next heartbeat.

[2015-06-19 21:12] hannahkane commented on #476
Didn't complete everything in this heartbeat, but closing to account for changing priorities.

[2015-06-19 21:12] #476 closed

[2015-06-19 21:14] hannahkane commented on #475
Completed the Clubs identity and made a good start on the Clubs page revisions. Other two tickets will need to be in a later heartbeat. Closing to re-prioritize.

[2015-06-19 21:14] #475 closed

[2015-06-19 21:18] hannahkane opened #481 "Teach site iterations - July 3rd heartbeat"
Given the capacity constraints (Whistler + minimal engineering capacity due to PTO, holidays, and temporary staffing changes), we will delay all work except for:
- [ ] complete Clubs page design iteration
- [ ] add MP promo to Webmaker
- [ ] complete Pledge implementation

[2015-06-24 19:18] OpenMatt opened #482 "Make a "Volunteer Job Description" page prototype"
### Better volunteer contribution on-ramps in Q3 ###
* GOAL: do a more systematic job of recruiting and spelling out the value to contributors, especially for a small number of key roles we need help with in Q3.
*  STRATEGY: There's a blog post notes from Whistler meetings here: http://openmatt.org/2015/06/24/on-ramps/
* DELIVERABLE for this Heartbeat: a template and prototype "Volunteer Role Appl

[2015-06-24 20:08] thisandagain commented on #482
/cc @thisandagain

[2015-06-24 21:43] LauraReynal commented on #482
cc / @LauraReynal

[2015-06-25 09:50] jgmac1106 commented on #482
cc / @jgmac1106

[2015-06-26 20:57] Melechuga opened #483 "Open Web Fellows 2016 Recruitment"
Design and build 2 updates to use the advocacy.mozilla.org/open-web-fellows page as a recruiting tool, first for host organizations, and later for fellows.

### Audience
Civil society organizations and Fellows candidates.

### Success
Recruit 10s of international civil society organizations to become hosts for our 2016 Open Web Fellows, and later recruit 440 quality applicants for the Open Web Fel

[2015-06-29 21:08] cassiemc opened #484 "Develop metrics for resourcing"
Was talking to luke today and it'd be interesting to know how tools in other orgs are supported. e.g. this hypothetical: if JS fiddle has 100k users that means it gets supported by 4 people. This feels like incomplete thinking (depends on strategy too, among other things) but I need a more metrics-y head to dig into it with me, b/c the gist of using data to help drive where we allocate resources s

[2015-06-30 23:32] hannahkane commented on #482
/cc @hannahkane

[2015-07-02 15:48] hannahkane opened #485 "Concept and logistics for Thimble promotional materials"
Driver: @KevZawacki
Help to Execute: @ldecoursy @cassiemc @flukeout @hannahkane
Consulted: @humphd @chrislarry33 @HPaulJohnson

Once we complete the MVP release for the new Thimble, we'll need to tell the story to our community, and generate new interest. This might look like a short video, some shareable assets for social media, and a blog post.

For this heartbeat, the outcome could be:
 * agree

[2015-07-02 15:48] hannahkane commented on #485
@KevZawacki - is it okay for me to assign this to you?

[2015-07-02 15:49] hannahkane commented on #485
@chrislarry33 to provide details on budget and ideas re: contractors

[2015-07-02 20:01] KevZawacki commented on #485
Happy to drive!

I've put together a draft comms plan here — please jump in to provide feedback/answer questions: https://goo.gl/NvcEJX

[2015-07-03 05:55] chrislarry33 commented on #485
@KevZawacki plan looks fantastic. Lets talk/think about video some, but love the plan. Back to school theme/time for sure.

[2015-07-06 14:11] secretrobotron opened #486 "Integrate desk.com account"
GOAL: Integrate our new desk.com support account into our products, sites, and public channels. Can connect to...
*  help@webmaker.org
* @webmaker (maybe coupled with #help to escalate or something)
* facebook?
* discourse?
* other email accounts?

Driver: @secretrobotron
Dev: TBD
Consulted: @adamlofting @thisandagain

Probably good enough to close #160?

[2015-07-06 14:38] cassiemc opened #487 "Update build.webmaker.org/design"
We made a lot of progress in Whistler toward identifying good and bad processes and working out some of those details. Now we need to document that progress in an accessible place, build.webmaker.org/design.

**Design Brief** is here: https://github.com/MozillaFoundation/Mofo-Design-Handbook/issues/21

We are using the [```July-17``` milestone](https://github.com/MozillaFoundation/Mofo-Design-Hand

[2015-07-06 15:06] xmatthewx opened #488 "Webmaker v1.1.0"
Goals of this heartbeat:
 - migrate to [webmaker core](https://github.com/mozilla/webmaker-core/) - shared code for both Android app and browser-based platform
 - browser view - build and test browser-based viewer
 - squash critical bugs

Play store – https://play.google.com/store/apps/details?id=org.mozilla.webmaker&hl=en
Nightly – http://mzl.la/webmaker-nightly

### RACI

Driver: @xmatthewx
Deci

[2015-07-06 15:07] xmatthewx commented on #472
Play store release: https://play.google.com/store/apps/details?id=org.mozilla.webmaker&hl=en

Work continues in #488

[2015-07-06 15:07] #472 closed

[2015-07-06 15:22] hannahkane opened #489 "Create research plan for MLN site"
Beginning sketch of plan is here: https://etherpad.mozilla.org/teachresearch

Would love input from @LauraReynal and @thisandagain

Outcomes of heartbeat:
 * Agreed upon plan for research, including timeline and roles

[2015-07-06 15:24] OpenMatt commented on #483
@Melechuga: I want to make sure we're clear on the specific deliverables you need this month.

## Deliverable
* *Create a new "become a host organization" page.* The page will contain some copy and an application form. We'll link to the page in outreach to potential partner organizations. It can be something like: "https://advocacy.mozilla.org/organizations"
* *Deadline: Aug 3.* This page needs to

[2015-07-06 15:26] OpenMatt commented on #483
@Melechuga : do you have preferences on how you want the form to work? I'm working if a Google Form or Wordpress add-on would work, passing the data to you in a spreadsheet or via email. Given the small number of applicants, would that work?

[2015-07-06 15:26] hannahkane opened #490 "Design new Clubs content and workflows for MLN"
This is for the next iteration of Clubs content.

Worked being tracked here: mozilla/teach.webmaker.org#1086

[2015-07-06 15:29] OpenMatt commented on #490
@hannahkane I marked this one p2 -- but don't know if that's actually right. please fix as needed.

[2015-07-06 15:30] OpenMatt commented on #489
@hannahkane I maked this one p2 -- but don't know if that's actually right. please fix as needed.

[2015-07-06 15:30] OpenMatt commented on #486
@secretrobotron  I marked this one p2 -- but don't know if that's actually right. please fix as needed.

[2015-07-06 15:32] hannahkane commented on #477
Very close to finished, but moving to next heartbeat to completely finalize.

[2015-07-06 15:34] hannahkane opened #491 "Next round of Thimble UX"
Comments: https://github.com/mozilla/thimble.webmaker.org/issues/573
Details bar in makes: https://github.com/mozilla/thimble.webmaker.org/issues/570
Error messages and code hints: https://github.com/mozilla/thimble.webmaker.org/issues/572 and https://github.com/mozilla/thimble.webmaker.org/issues/573

[2015-07-06 15:36] thornet commented on #490
count me in!

[2015-07-06 15:37] xmatthewx commented on #480
Nope. No progress here. Wait, yes. Just made some last minute progress. Proof of it here: https://github.com/mozilla/webmaker-launch/issues/38#issuecomment-118897136

Moving to next heartbeat to continue.

[2015-07-06 15:44] OpenMatt commented on #465
@KevZawacki status?

[2015-07-06 15:45] OpenMatt commented on #448
@simonwex status?

[2015-07-06 15:45] OpenMatt commented on #372
@LauraReynal: status? I'm going to move this to July 17 -- correct if that's wrong.

[2015-07-06 15:55] hannahkane opened #492 "Next round of user testing (Thimble)"
Tracking in https://github.com/mozilla/thimble.webmaker.org/issues/669

[2015-07-06 16:10] secretrobotron commented on #482
cc @secretrobotron

[2015-07-06 16:10] ldecoursy commented on #482
cc @ldecoursy

[2015-07-06 16:12] OpenMatt commented on #465
* PTO is making this one a challenge this week. @secretrobotron : can you try to tap a dev to implement?

[2015-07-06 16:13] hannahkane opened #493 "Create Thimble makes and teaching kits for landing page at launch"
#### DARCI
Driver: @hannahkane
Accountable: @chrislarry33
Responsible: @hannahkane
Consulted: MLN team

Tracking in https://github.com/mozilla/thimble.webmaker.org/issues/685

[2015-07-06 16:18] cassiemc commented on #372
@LauraReynal is on PTO this week and next so let's bump to the following heartbeat.

[2015-07-06 16:22] cassiemc commented on #482
me too! cc @cassiemc

[2015-07-06 16:23] xmatthewx commented on #488
Need to clarify plan and date to archive webmaker.org and replace with beta.webmaker.org.

[2015-07-06 16:27] hannahkane commented on #489
sync up with @edrushka around collecting user stories project

[2015-07-06 16:30] OpenMatt commented on #488
@xmatthewx : note that some of the people listed here are on PTO (e.g., @toolness @thisandagain etc)

[2015-07-06 16:34] OpenMatt commented on #480
* some of this could be included into updated style guide, design debt, etc.

[2015-07-06 16:37] OpenMatt commented on #477
There's still some question about @flukeout's allocation this heartbeat -- @cassiemc will update here.

[2015-07-06 16:37] secretrobotron commented on #465
@errietta is going to try to help us out here. Working with her now.

[2015-07-06 16:37] OpenMatt commented on #477
@hannahkane : @cassiemc says @flukeout is good to go.

[2015-07-06 16:42] thornet commented on #482
count me in! cc @thornet

[2015-07-06 16:43] OpenMatt commented on #486
@amirad @hannahkane this could this be useful for Maker Party / MLN site support support?

[2015-07-06 16:54] OpenMatt commented on #478
I believe this ticket is a dupe of: https://github.com/MozillaFoundation/plan/issues/465

[2015-07-06 16:54] #478 closed

[2015-07-06 16:55] #473 closed

[2015-07-06 16:55] OpenMatt commented on #466
old ticket -- closing

[2015-07-06 16:55] #466 closed

[2015-07-06 16:56] cassiemc commented on #471
@hannahkane can we close this?

[2015-07-06 16:56] OpenMatt commented on #454
can we close this?

[2015-07-06 16:58] OpenMatt commented on #484
@davidascher : do you have thoughts here?

[2015-07-06 16:58] OpenMatt commented on #479
@simonwex can we close?

[2015-07-06 16:59] OpenMatt commented on #470
@simonwex @edrushka status?

[2015-07-06 17:04] davidascher commented on #484
Good topic.

In general, we should have "baseline" resources to resource the projects
based on current users, and invest additional energy based on the strategy
-- especially when it comes to building "new" stuff, that has to be based
not on usage we have, but on usage we intend to have (and can justify with
a strategic plan, marketing approach, etc).

It's also true that in general, we won't have

[2015-07-06 17:05] hannahkane commented on #471
yup.

[2015-07-06 17:05] #471 closed

[2015-07-06 17:06] cassiemc commented on #474
All this work is happening in the ```Launch``` milestone in the Webmaker-launch repo. Link: https://github.com/mozilla/webmaker-launch/milestones/Launch

Have updated the raci since @edrushka is on PTO this week, please correct if wrong! @HPaulJohnson

[2015-07-06 17:07] secretrobotron commented on #454
There are more bugs that were filed within the past few weeks: https://github.com/mozilla/id.webmaker.org/issues

Need to make sure those still get addressed somehow.

[2015-07-06 17:31] secretrobotron commented on #482
Might be able to tap the playbook for some value props and role descriptions: https://docs.google.com/presentation/d/1ALd2o6Lo47T_0PRfbewTWOrsqN9fj2qjuKJ7pbJJ_-M

Since they're already quite involved and have contributed lots to the effort, can interview people like @panaggio and [Ina](https://twitter.com/kemiri). Should identify more (maybe 2 per locale that we've already touched — BD and KE as w

[2015-07-06 17:41] Melechuga commented on #483
Thanks @OpenMatt! I'm adding @adamlofting onto this so he can advise about the form/data collection format.

[2015-07-06 17:46] xmatthewx commented on #480
@lovegushwa @KevZawacki - I'd welcome your help driving this. We have a good list and a handful of specific bugs filed to get it all done.

[2015-07-06 18:26] OpenMatt commented on #467
@edrushka where did this one end up?

[2015-07-06 18:29] OpenMatt opened #494 "Build a fundraising template for user impact stories"
### Goal
Create a template and system for collecting user stories across MoFo. To support a specific piece of work Fundraising Team needs to get done in Q3: building a case for support, showing the impact we're having on user's lives.

* Next step: for Rebecca's team to draft / document to a template we can ask Program Leads and staff to fill in.  That way, we can ensure the stories we collect are

[2015-07-06 18:30] OpenMatt commented on #494
@RebsD : I can project managed this while @edrushka is on PTO, if that's helpful. I believe the next step is with you or a member of your team to write a first draft in an etherpad or google doc and paste the link here.

[2015-07-06 18:31] OpenMatt commented on #494
@ldecoursy and I talked about the fact taht the presentation Sam and Leah did in the last staff meeting probably contains a lot of relevant data for this. Lainie will post that as a blog post link here when it's published.

[2015-07-06 19:28] KevZawacki commented on #480
Gladly. How can I best help? Filing bugs for P2 and beyond?

https://docs.google.com/spreadsheets/d/19v3SW-oX68t4R8uZ9NMkRS36beyKAXIzHS0d3zgU26I/edit#gid=0

[2015-07-06 19:33] lovegushwa commented on #480
I can help, let me get these print assets out and then we can maybe talk though it over Vidyo @xmatthewx

cc @KevZawacki

[2015-07-06 20:45] xmatthewx commented on #480
Great. Yes. The trick is to file each item in a meaningful place, cc'ing someone who can help make it happen. It's obvious for some items, not for others.

After you file something, add it to the checklist here: https://github.com/mozilla/webmaker-launch/issues/38#issuecomment-118897136. We can revisit the list next week. I'll be on PTO Monday and Tuesday.

[2015-07-06 21:50] cassiemc commented on #482
One of the issues I am noticing as I try to onboard a UX contributor is that there is no one place to assess all the different ```needs-help``` bugs across the repos for our various projects. Ideally we have one searchable repo (or a tool that searches across repos) so that if a person doesn't know what project they'd like to help out with they can pore through a list on their own. Maybe that alre

[2015-07-06 21:54] acabunoc commented on #482
/cc @abbycabs

[2015-07-07 16:48] amirad commented on #486
How does desk.com work? Do we have to login to salesforce to use it?

[2015-07-07 17:10] secretrobotron commented on #486
You need a desk.com account (separate from salesforce, I think). Our trial is running out, but could hook you up with an account when @thisandagain returns.

[2015-07-07 18:12] OpenMatt commented on #482
* @secretrobotron the playbook was a goldmine for drafting some "Volunteer Role Descriptions" -- exactly what we needed. See what you think: http://etherpad.io/mozilla_volunteer_positions
* @secretrobotron : can you review and update the "Open Product Developer" description, in particular?
* @cassiemc : agreed that we a way to view "needs-help" tickets across all repos would be awesome. @ScottDown

[2015-07-07 19:01] amirad commented on #486
Any quick reasons on why we should use desk.com (or even why it's great) for our email accounts ?

[2015-07-08 04:03] alamanda commented on #482
@OpenMatt I noticed that my name has been mentioned here:) Please let me know how can I help with this plan! --Ina

[2015-07-08 21:22] KevZawacki commented on #465
We've been receiving lots of queries on Twitter/help-webmaker@ about Popcorn's issues with YouTube links. This banner can help allay some of that confusion.

When we implement the banner, we'll want different copy than above. Likely:

"Our tools for teaching the Web are evolving. Moving forward, Mozilla will no longer provide support for Popcorn Maker. To learn more, read our blog post [http://mzl

[2015-07-08 21:43] secretrobotron commented on #465
@errietta ^^ (https://github.com/MozillaFoundation/plan/issues/465#issuecomment-119734381)

[2015-07-08 22:18] benrito commented on #482
Exciting. Per our discussion in that Weds meeting, the build-out for this should start from an understanding of contributor motivation and incentives. For a lot of folks this is more formal recognition.

Particularly in the Webmaker launch markets, contribution ought to be understood as a career development opportunity. Contributors want to be able to show potential employers that they’ve worked w

[2015-07-09 02:35] cecilepompei commented on #482
@OpenMatt  super interested to work on this and I agree, what is key and I keep saying as well is not to assume that we know what they want: they will tell us.
We heard letter of recommendations and linkedin references so far in India and Bangladesh

More to come!

[2015-07-09 13:24] thornet commented on #482
Thanks, @OpenMatt!

The Regional Coordinator role is detailed here: https://teach.etherpad.mozilla.org/clubs-rc

And outlined in your pad.

[2015-07-09 13:41] OpenMatt commented on #482
^ @benrito @cecilepompei +1 totally agree -- sounds good. So let's try creating a prototype page "volunteer role description page" and intake form. Then we can kick the tires on it with you guys, revise the copy, get some feedback from some of our existing volunteers, etc.
* If you guys have ideas for writing up / spelling out the value proposition / what volunteers want feel free to hack on copy

[2015-07-09 13:42] OpenMatt commented on #482
* @secretrobotron and I were talking yesterday about the volunteer job description template going something like:

### Volunteer Role Description Template (draft)
# **Volunteer role title** (e.g., "Mozilla Clubs Regional Co-ordinator," or "Mozilla Open Product Developer," etc.)
# Short description. (what it is + value prop in 2 / 3 sentences)
http://etherpad.io/mozilla_volunteer_positions
# Respon

[2015-07-09 13:47] thornet commented on #482
Regional Coordinator description now in webby form:
http://mozilla.github.io/learning-networks/clubs/regional-coordinator.html

On Thu, Jul 9, 2015 at 3:42 PM, OpenMatt <notifications@github.com> wrote:

--
*Michelle Thorne*
Director, Mozilla Learning Programs
Mozilla Foundation

@thornet
michelle@mozillafoundation.org

[2015-07-09 14:01] OpenMatt commented on #482
* @thornet : I love this! exactly where I was hoping we could go next -- generate some sample "Volunteer Role Pages" we could test out with current volunteers and colleagues.
* If others want to hack on something similar, you can fork / remix Michelle's page.
* Or: @secretrobotron set up a repo here as well: https://github.com/secretrobotron/mofo-volunteering
* All you need to do is add an html fi

[2015-07-09 14:19] thornet commented on #482
cc @Saallen if we want to add these kinds of volunteer descriptions for Mozfest roles?

[2015-07-09 14:23] Saallen commented on #482
@thornet - yes- I could do an overview and then breakout all the individual roles of the festival

[2015-07-09 14:32] OpenMatt commented on #482
### "Open application"
* One of the things that's inspired about Michelle's approach is: the "application" process is "open." As part of the application process, it invites people to a) make a quick thing that shows why they would be a good fit for the role, and b) share it publicly with other existing members of the community
* You can see some examples here -- they're great: http://discourse.web

[2015-07-09 14:53] OpenMatt commented on #482
Automation Team's "commitment curve," for reference: http://ateam-bootcamp.readthedocs.org/en/latest/guide/curve.html

[2015-07-09 17:37] errietta commented on #465
@secretrobotron will do, i guess the same message goes to appmaker?

[2015-07-09 17:39] secretrobotron commented on #465
:+1: @errietta that's right: https://github.com/mozilla-appmaker/appmaker/issues/2412

[2015-07-09 22:37] errietta commented on #465
Please 2 ARRR-QUESTIONMARK @secretrobotron  https://github.com/mozilla/popcorn.webmaker.org/pull/618

[2015-07-10 17:11] OpenMatt commented on #483
@alicoding : can you show @Melechuga how to create her own draft page on the advocacy site?

[2015-07-10 17:16] alicoding commented on #483
@Melechuga @OpenMatt we no longer use Wordpress for Advocacy site, so to create draft you can simply follow the following steps:

1. Fork the repo https://github.com/mozilla/advocacy.mozilla.org/
2. Clone the repo to your local machine if you are using Mac then you might want to use this https://mac.github.com/ otherwise you can use command line to do so.
3. Copy one of the page structure for exam

[2015-07-10 17:38] OpenMatt commented on #483
@HPaulJohnson @valianttry @KevZawacki FYI re: process for updating advocacy site, above.

[2015-07-10 18:20] OpenMatt commented on #494
Bhuvan: you mentioned you had some template examples of other orgs (like Ashoka) that have done this well. Please paste those links here?

[2015-07-10 18:31] bhuvanshri commented on #494
Sure.

Some high level (quantative focused) examples:
1. https://www.shuttleworthfoundation.org/reports/2013/
2. https://hourofcode.com/ca

Impact stories focused examples:
1. https://www.ashoka.org/sites/www.ashoka.org/files/2013-Impact-Study-FINAL-web.pdf
2. http://www.righttoplay.com/moreinfo/aboutus/Pages/Stories.aspx

[2015-07-10 19:21] cassiemc commented on #480
As per https://bugzilla.mozilla.org/show_bug.cgi?id=1159016 we do need to ensure that the old webmaker favicon is updated on all pages. Would be awesome if this could happen asap, legal requested it over a month ago. cc @xmatthewx @secretrobotron

[2015-07-10 20:04] bhuvanshri commented on #482
Got the page! Happy to help develop a scope for the working group. Based on my reading so far, here how I would re-frame the current scope - would love feedback:
- The audience for the work would be our volunteers as well as staff
- We have some idea about what our volunteers want w.r.t recognition
 - Data points available are currently restricted to India and Bangladesh
 - Need more input from a

[2015-07-10 23:58] Melechuga commented on #483
@alicoding Thanks! I got steps 1 & 2 done, no problem, but am slightly confused by the UI of github for mac. I've built a page using a different editor, but am not sure how to integrate it; do you think you have time for a quick tutorial some time next week? Would really appreciate it!

[2015-07-10 23:59] alicoding commented on #483
For sure! Send me an invite on Google calendar the time you're free and I'm
happy to go through with you step by step :D
On Jul 10, 2015 7:58 PM, "Melissa Romaine" <notifications@github.com> wrote:

[2015-07-11 11:06] benrito commented on #482
Yes, great!

I agree that some thinking on how staff participate in this system would make this more effective. What structures are / may be needed? @thisandagain has lots of thoughts on the mentorship piece.

[2015-07-13 10:13] adamlofting commented on #467
Ops and Fundraising met in Whistler and kicked off conversations.

IIRC the next step is to document the experience we want for a donor (e.g. who receives what kind of thank-you and when, and then review the existing systems to see what work we need to do).

Given the focus on 2-week tickets for this heartbeat process I think this will end up being broken down into smaller tasks and we can close t

[2015-07-13 11:45] cecilepompei commented on #482
A few more questions and comments:

 - Do we have a quick on-boarding process or set of docs for people that would do that?
 - template across the company that all teams can simply fill in sounds awesome - maybe start small and we scale once it works. Bangladesh is a good place from what we saw, participation team can help us figure out others.
 - working with @benrito with Bangladesh community on